Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

fix: address CodeRabbit review feedback
  docs/superpowers/plans/2026-04-15-query-stream-history-rpc.md
  internal/access/policy/seed_smoke_test.go
  internal/grpc/stream_access_test.go
  internal/store/postgres_integration_test.go
  internal/web/handler.go
  internal/web/handler_test.go
Due: lint-go

fix(auth): enforce password policy on reset (bd-ujen)
  internal/auth/reset_service.go
  internal/auth/reset_service_test.go
Due: lint-go

fix(grpc): sanitize auth error messages to clients (bd-nscu)
  internal/grpc/auth_errors.go
  internal/grpc/auth_errors_test.go
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
Due: lint-go

fix(web): warn on insecure cookies, fix ClearSessionCookie flags (bd-bl9k)
  internal/web/cookie.go
  internal/web/cookie_test.go
  internal/web/server.go
  internal/web/server_test.go
Due: lint-go

fix(auth): atomic reset token consumption (bd-swi7)
  internal/auth/mocks/mock_PasswordResetRepository.go
  internal/auth/postgres/reset_repo.go
  internal/auth/reset.go
  internal/auth/reset_service.go
  internal/auth/reset_service_logging_test.go
  internal/auth/reset_service_test.go
Due: lint-go

fix(auth): enforce maximum password length (bd-mjg5)
  internal/auth/registration.go
  internal/auth/registration_test.go
  internal/auth/reset_service.go
  internal/auth/reset_service_test.go
Due: lint-go

test(auth): assert dummyPasswordHash matches argon2 constants (bd-y82o)
  internal/auth/dummy_hash_test.go
Due: lint-go

fix(plugin): warn when binary plugin host lacks mTLS CA (bd-ski3)
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
Due: lint-go, schema-sync

docs(operating): CA rotation guide (bd-9ge7)
  site/docs/operating/ca-rotation.md
  site/docs/operating/index.md
  site/zensical.toml
Due: lint-markdown-site, fmt-markdown-site

fix(plugin): warn when trust-allowlisted plugin not discovered (bd-kxmj)
  internal/plugin/manager.go
  internal/plugin/manager_test.go
Due: lint-go, schema-sync

fix(telnet): strip control chars from output (bd-ao1q)
  internal/telnet/gateway_handler.go
  internal/telnet/sanitize.go
  internal/telnet/sanitize_test.go
Due: lint-go

fix(web): match cookie MaxAge to session TTL (bd-lzpb)
  api/proto/holomush/core/v1/core.proto
  internal/grpc/auth_handlers.go
  internal/web/auth_handlers.go
  internal/web/cookie.go
  internal/web/cookie_test.go
  pkg/proto/holomush/core/v1/core.pb.go
  web/src/lib/connect/holomush/core/v1/core_pb.ts
Due: lint-go

fix(core): enforce maximum event payload size (bd-b1nx)
  internal/core/event.go
  internal/core/event_payload_size_test.go
  internal/plugin/event_emitter.go
  internal/plugin/event_emitter_test.go
  internal/store/postgres.go
  internal/store/postgres_test.go
Due: lint-go, schema-sync

fix(plugin): add path containment check to Lua entry loading (bd-bf74)
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
Due: lint-go, schema-sync

fix(grpc): set explicit message size and stream limits (bd-nhxu)
  cmd/holomush/sub_grpc.go
  internal/grpc/server.go
  internal/grpc/server_test.go
Due: lint-go

fix(plugin): validate password literal before SQL interpolation (bd-82pk)
  internal/plugin/schema_provisioner.go
  internal/plugin/schema_provisioner_test.go
Due: lint-go, schema-sync

fix(deploy): require TLS for production database connections (bd-6yi5)
  compose.prod.yaml
Due: lint-yaml

docs(operating): document telnet cleartext password risk (bd-v45y)
  internal/telnet/gateway_handler.go
  site/docs/operating/index.md
  site/docs/operating/telnet-security.md
  site/zensical.toml
Due: lint-go, lint-markdown-site, fmt-markdown-site

fix(web): set Vary: Origin on CORS responses (bd-k6fg)
  internal/web/cors.go
  internal/web/cors_test.go
Due: lint-go

feat(web): add HTTP security headers middleware (bd-046r)
  internal/web/security_headers.go
  internal/web/security_headers_test.go
  internal/web/server.go
Due: lint-go

fix(store): link game sessions to PlayerSession via FK cascade (bd-jv7z)
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000008_session_player_fk.down.sql
  internal/store/migrations/000008_session_player_fk.up.sql
Due: lint-go

feat(config): add max_player_sessions_per_player setting (bd-urbq)
  internal/config/config.go
  internal/config/config_test.go
Due: lint-go

feat(auth): extend PlayerSessionRepository with count/list/delete-oldest/get-by-id (bd-urbq)
  internal/auth/mocks/mock_PlayerSessionRepository.go
  internal/auth/player_session.go
  internal/auth/reset_service_logging_test.go
  internal/store/player_session_store.go
  internal/store/player_session_store_test.go
  test/integration/auth/player_session_test.go
Due: lint-go

feat(auth): ValidateSessionOwnership enumeration-safe helper (bd-jv7z)
  .mockery.yaml
  internal/auth/session_ownership.go
  internal/auth/session_ownership_test.go
  internal/session/mocks/mock_Store.go
Due: lint-go, lint-yaml

feat(proto): add player_session_token to post-auth game RPCs (bd-jv7z, bd-j2xj)
  api/proto/holomush/core/v1/core.proto
  pkg/proto/holomush/core/v1/core.pb.go
  web/src/lib/connect/holomush/core/v1/core_pb.ts
Due: lint-go

feat(proto): add session-management RPCs (bd-urbq)
  api/proto/holomush/core/v1/core.proto
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/core/v1/core_grpc.pb.go
  pkg/proto/holomush/core/v1/corev1connect/core.connect.go
  web/src/lib/connect/holomush/core/v1/core_connect.ts
  web/src/lib/connect/holomush/core/v1/core_pb.ts
Due: lint-go

feat(web): forward player_session_token on post-auth RPCs (bd-jv7z)
  internal/web/handler.go
  internal/web/handler_test.go
Due: lint-go

feat(telnet): forward player_session_token on post-auth RPCs (bd-jv7z)
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
Due: lint-go

fix(grpc): HandleCommand validates session ownership (bd-jv7z)
  internal/grpc/client_test.go
  internal/grpc/dispatcher_test.go
  internal/grpc/pipeline_rendering_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/grpc/stream_access_test.go
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

fix(grpc): Subscribe validates session ownership (bd-jv7z)
  internal/grpc/dispatcher_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  test/integration/plugin/session_streams_integration_test.go
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

fix(grpc): Disconnect validates session ownership (bd-jv7z)
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/web/handler.go
  internal/web/handler_test.go
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

fix(grpc): GetCommandHistory validates session ownership (bd-jv7z)
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/web/handler.go
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

fix(grpc): Subscribe registers and deregisters connections (bd-j2xj)
  internal/grpc/server.go
  internal/grpc/server_test.go
Due: lint-go

fix(web): remove sessionStore dependency; gateway is now pure proxy (bd-j2xj)
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
  internal/web/handler.go
  internal/web/handler_test.go
Due: lint-go

feat(auth): enforce configurable session cap on login (bd-urbq)
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/deps_test.go
  internal/auth/auth_service.go
  internal/auth/auth_service_test.go
  internal/auth/setup/subsystem.go
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/mocks/mock_AuthServiceProvider.go
Due: lint-go

feat(session): populate player_session_id on game session creation (bd-urbq)
  internal/grpc/auth_handlers.go
  internal/session/session.go
  internal/store/session_store.go
  internal/store/session_store_test.go
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

feat(grpc): ListPlayerSessions RPC (bd-urbq)
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
Due: lint-go

feat(grpc): RevokePlayerSession RPC with ownership check (bd-urbq)
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
Due: lint-go
