Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(quick-260730-wh1): GSD artifacts for the #4892 exempt-path fix
  .planning/STATE.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-CONTEXT.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-PLAN.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-RESEARCH.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-REVIEW.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-SUMMARY.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-VERIFICATION.md
Due: none

fix(contributing): bound the scripts/ lockfile carve-out to the listed shapes
  .github/ISSUE_TEMPLATE/chore.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-CONTEXT.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-PLAN.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-RESEARCH.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-REVIEW.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-SUMMARY.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-VERIFICATION.md
  CONTRIBUTING.md
  Taskfile.yaml
Due: lint-yaml

fix(contributing): make the dependency-only exemption match what Renovate touches (#4894)
  .github/ISSUE_TEMPLATE/chore.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  .planning/STATE.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-CONTEXT.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-PLAN.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-RESEARCH.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-REVIEW.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-SUMMARY.md
  .planning/quick/260730-wh1-fix-gh-issue-4892-dependency-only-exempt/260730-wh1-VERIFICATION.md
  CONTRIBUTING.md
  Taskfile.yaml
Due: lint-yaml

docs(quick-260731-ea8): plan the issue-first gate enforcement workflow
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-CONTEXT.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-PLAN.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-RESEARCH.md
Due: none

feat(ci): add REPO_CONFIG_ONLY_PATHS and the pr-gate path matcher
  Taskfile.yaml
  scripts/pr-gate-paths.sh
  scripts/tests/pr-gate-paths.bats
Due: lint-yaml

feat(ci): enforce the issue-first gate with a required Issue Gate check
  .github/workflows/issue-gate.yaml
  .github/workflows/scripts-tests.yaml
Due: lint-yaml, lint-actions

docs(contributing): state the Issue Gate consequence alongside the human one
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/fix.md
  CONTRIBUTING.md
Due: none

fix(ci): grant issues:read so the Issue Gate can read linked-issue labels
  .github/workflows/issue-gate.yaml
Due: lint-yaml, lint-actions

fix(ci): make the truncation guard fire, and fence the comment against filenames
  .github/workflows/issue-gate.yaml
Due: lint-yaml, lint-actions

fix(ci): close the docs/CODEOWNERS hole and harden the path matcher
  scripts/pr-gate-paths.sh
  scripts/tests/pr-gate-paths.bats
Due: none

docs(quick-260731-ea8): record verification, code review, and residual findings
  .planning/STATE.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-REVIEW.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-SUMMARY.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-VERIFICATION.md
Due: none

docs(ci): name all three CODEOWNERS locations in the carve-out records
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-SUMMARY.md
  Taskfile.yaml
Due: lint-yaml

fix(ci): key the Issue Gate comment upsert on the bot, not just the marker
  .github/workflows/issue-gate.yaml
Due: lint-yaml, lint-actions

fix(ci): make the comment upsert survive pagination and a token swap
  .github/workflows/issue-gate.yaml
Due: lint-yaml, lint-actions

chore(ci): implement the issue-first gate enforcement workflow (#4896)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/fix.md
  .github/workflows/issue-gate.yaml
  .github/workflows/scripts-tests.yaml
  .planning/STATE.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-CONTEXT.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-PLAN.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-RESEARCH.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-REVIEW.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-SUMMARY.md
  .planning/quick/260731-ea8-implement-the-issue-first-gate-enforceme/260731-ea8-VERIFICATION.md
  CONTRIBUTING.md
  Taskfile.yaml
  scripts/pr-gate-paths.sh
  scripts/tests/pr-gate-paths.bats
Due: lint-yaml, lint-actions

docs(planning): reconcile 999.x backlog against the tree
  .planning/ROADMAP.md
  .planning/phases/999.3-scenes-rp-remaining-scope/README.md
Due: none

docs(planning): correct 999.11 pending count from 254 to 243
  .planning/ROADMAP.md
Due: none

docs(planning): reconcile 999.x backlog against the tree (#4898)
  .planning/ROADMAP.md
  .planning/phases/999.3-scenes-rp-remaining-scope/README.md
Due: none

docs: qualify archived-milestone phase references in backlog prose
  .planning/ROADMAP.md
Due: none

docs: link REQUIREMENTS v2 role-semantics deferral to #4899
  .planning/REQUIREMENTS.md
Due: none

docs: create milestone v0.13 roadmap (6 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs: start milestone v0.13 Web Portal: Identity & Admin Foundations
  .planning/PROJECT.md
  .planning/STATE.md
Due: none

docs: complete v0.13 portal research
  .planning/research/.cache/106ec0065155aad2e71e02507eb76c0b9b0f9cd42ca3e6beda859a639d2722e5.json
  .planning/research/.cache/8ed36e82c6a72d07a6102f22ce4b4e98be658f9712e2750b83a925596a483a26.json
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: none

docs: correct v0.13 milestone scope from research findings
  .planning/PROJECT.md
Due: none

docs: define milestone v0.13 requirements
  .planning/REQUIREMENTS.md
Due: none

chore(01): begin phase execution
  .planning/STATE.md
  .planning/config.json
Due: none

docs(01-02): author SPEC section 2, the audience matrix and message shape
  .planning/phases/01-portal-spec/01-SPEC.md
Due: none

docs(01-01): author SPEC section 7, the profile and media data model
  .planning/phases/01-portal-spec/01-SPEC.md
Due: none

docs(01): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-portal-spec/01-01-PLAN.md
  .planning/phases/01-portal-spec/01-PATTERNS.md
Due: none

docs(01-01): widen INV-PRIVACY scope boundary to reads
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(01-portal-spec): create phase plan (6 plans, waves 1-6)
  .planning/ROADMAP.md
  .planning/phases/01-portal-spec/01-01-PLAN.md
  .planning/phases/01-portal-spec/01-02-PLAN.md
  .planning/phases/01-portal-spec/01-03-PLAN.md
  .planning/phases/01-portal-spec/01-04-PLAN.md
  .planning/phases/01-portal-spec/01-05-PLAN.md
  .planning/phases/01-portal-spec/01-06-PLAN.md
Due: none

docs(01-01): complete portal SPEC tracer plan
  .planning/phases/01-portal-spec/01-01-SUMMARY.md
Due: none

docs(state): record phase 1 context session
  .planning/STATE.md
Due: none

fix(01-portal-spec): close fail-open verify gates and add scope origin_specs
  .planning/phases/01-portal-spec/01-01-PLAN.md
  .planning/phases/01-portal-spec/01-02-PLAN.md
  .planning/phases/01-portal-spec/01-03-PLAN.md
  .planning/phases/01-portal-spec/01-04-PLAN.md
  .planning/phases/01-portal-spec/01-05-PLAN.md
  .planning/phases/01-portal-spec/01-06-PLAN.md
Due: none

docs(01): capture phase context
  .planning/phases/01-portal-spec/01-CONTEXT.md
  .planning/phases/01-portal-spec/01-DISCUSSION-LOG.md
Due: none

docs(01-01): add portal SPEC skeleton and the profile visibility model
  .planning/phases/01-portal-spec/01-SPEC.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(01-04): author SPEC section 9, the new RPC surface and its concurrency contract
  .planning/phases/01-portal-spec/01-SPEC.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(01): correct the sixth amendment — the bulk export surface carries IDs today, not names
  .planning/phases/01-portal-spec/01-SPEC.md
Due: none

docs(01-04): author SPEC section 10, the admin IA and the per-player gating verdict
  .planning/phases/01-portal-spec/01-SPEC.md
Due: none

docs(01-04): complete the RPC surface, admin IA and sorting verdict plan
  .planning/phases/01-portal-spec/01-04-SUMMARY.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
