Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

chore(beads): create Phase 1.5 epic and tasks with dependencies
  .beads/issues.jsonl
Due: none

docs: add Phase 1.5 implementation plan with cross-dependency analysis
  .beads/issues.jsonl
  .markdownlint.yaml
  docs/plans/2026-01-17-phase1.5-implementation.md
Due: lint-markdown, lint-yaml

chore(beads): add game_id migration task and fix dependencies
  .beads/issues.jsonl
Due: none

fix: use spaces instead of tabs in markdown code blocks
  .markdownlint.yaml
  docs/plans/2026-01-17-phase1.5-implementation.md
Due: lint-markdown, lint-yaml

chore(beads): recreate Phase 1.5 tasks with proper dependencies and acceptance criteria
  .beads/issues.jsonl
Due: none

fix: address code review findings for Phase A implementation
  .task/checksum/proto
  internal/store/postgres.go
  internal/xdg/xdg.go
  internal/xdg/xdg_test.go
Due: lint-go

chore: ignore worktrees
  .gitignore
Due: none

feat(logging): add structured logging with OTEL trace context
  Taskfile.yaml
  api/proto/holomush/core/v1/core.proto
  buf.gen.yaml
  buf.yaml
  go.mod
  go.sum
  internal/logging/handler.go
  internal/logging/handler_test.go
  internal/proto/holomush/core/v1/core.pb.go
  internal/proto/holomush/core/v1/core_grpc.pb.go
  internal/xdg/xdg.go
  internal/xdg/xdg_test.go
Due: lint-go, lint-yaml

feat(store): add system_info table for game_id storage
  internal/store/migrations/002_system_info.sql
  internal/store/postgres.go
  internal/store/postgres_test.go
Due: lint-go

feat(grpc): add Core gRPC service implementation
  .beads/issues.jsonl
  internal/grpc/client.go
  internal/grpc/client_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/tls/certs.go
  internal/tls/certs_test.go
Due: lint-go

feat(cli): add Cobra CLI skeleton with subcommands
  cmd/holomush/main.go
  cmd/holomush/main_test.go
  cmd/holomush/migrate.go
  cmd/holomush/root.go
  go.mod
  go.sum
  internal/tls/certs.go
  internal/tls/certs_test.go
Due: lint-go

style: fix indentation in XDG package
  .beads/issues.jsonl
  internal/xdg/xdg.go
  internal/xdg/xdg_test.go
Due: lint-go

test(integration): add Phase 1.5 end-to-end integration tests
  test/integration/phase1_5_test.go
Due: lint-go

chore(beads): close Phase 1.5 epic and all tasks
  .beads/issues.jsonl
Due: none

feat(control): add HTTP control socket for process management
  internal/control/socket.go
  internal/control/socket_test.go
Due: lint-go

docs: add Phase 1.5 architecture and CLI documentation
  docs/reference/architecture-overview.md
  docs/reference/getting-started.md
  docs/reference/grpc-api.md
Due: lint-markdown

chore(beads): add review finding tasks to epic e55
  .beads/issues.jsonl
Due: none

test(cmd): add CLI unit tests
  cmd/holomush/main.go
  cmd/holomush/main_test.go
  internal/control/socket.go
  internal/control/socket_test.go
Due: lint-go

test(grpc): expand gRPC service tests
  internal/grpc/client_test.go
  internal/grpc/server_test.go
Due: lint-go

test(store): add PostgresEventStore unit tests
  go.mod
  go.sum
  internal/store/postgres.go
  internal/store/postgres_integration_test.go
  internal/store/postgres_test.go
Due: lint-go

chore(beads): close completed Phase 1.5 review tasks
  .beads/issues.jsonl
Due: none

test(grpc): add session and timeout tests
  internal/grpc/server_test.go
Due: lint-go

test(tls): add certificate validation tests
  internal/tls/certs.go
  internal/tls/certs_test.go
Due: lint-go

test(control): expand control socket tests
  internal/control/socket_test.go
Due: lint-go

chore(beads): close second batch of Phase 1.5 review tasks
  .beads/issues.jsonl
Due: none

test(control): add socket edge case tests
  internal/control/socket_test.go
Due: lint-go

test(control,grpc): add malformed request tests
  internal/grpc/server_test.go
Due: lint-go

chore(beads): close Phase 1.5 review epic
  .beads/issues.jsonl
Due: none

chore(beads): add CLI wiring tasks to Phase 1.5 epic
  .beads/issues.jsonl
Due: none

feat(cli): wire up core, gateway, and status commands
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
  cmd/holomush/main_test.go
  cmd/holomush/root.go
  cmd/holomush/status.go
  cmd/holomush/status_test.go
Due: lint-go

chore(beads): close CLI wiring tasks
  .beads/issues.jsonl
Due: none

chore(beads): close Phase 1.5 epic - all tasks complete
  .beads/issues.jsonl
Due: none

chore(beads): add observability and control port tasks
  .beads/issues.jsonl
Due: none

feat(observability): add HTTP metrics/health and gRPC control ports
  api/proto/holomush/control/v1/control.proto
  cmd/holomush/core.go
  cmd/holomush/gateway.go
  go.mod
  go.sum
  internal/control/grpc_server.go
  internal/control/grpc_server_test.go
  internal/observability/server.go
  internal/observability/server_test.go
  internal/proto/holomush/control/v1/control.pb.go
  internal/proto/holomush/control/v1/control_grpc.pb.go
Due: lint-go

chore(beads): close observability tasks, add goreleaser task
  .beads/issues.jsonl
Due: none

refactor(control): replace Unix socket with gRPC control interface
  .beads/issues.jsonl
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
  cmd/holomush/status.go
  cmd/holomush/status_test.go
  docs/reference/architecture-overview.md
  docs/reference/getting-started.md
  internal/control/grpc_server.go
  internal/control/grpc_server_test.go
  internal/control/socket.go
  internal/control/socket_test.go
  internal/observability/server.go
Due: lint-go, lint-markdown

chore(beads): add 6me dependency to Release 0.1 epic
  .beads/issues.jsonl
Due: none

chore: update beads, do not lint it
  .beads/config.yaml
  .yamllint.yaml
Due: lint-yaml

chore: hooks install/uninstall updates
  Taskfile.yaml
Due: lint-yaml

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
