Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(proto): add EventChannel enum and metadata to GameEvent
  api/proto/holomush/web/v1/web.proto
  internal/web/dist/_app/immutable/chunks/BRNt05n1.js
  internal/web/dist/_app/immutable/chunks/GQN3tzKd.js
  internal/web/dist/_app/immutable/entry/app.BSqB9fwv.js
  internal/web/dist/_app/immutable/entry/app.C-sYs4Rw.js
  internal/web/dist/_app/immutable/entry/start.C9QXou3d.js
  internal/web/dist/_app/immutable/entry/start.CgPmQNy9.js
  internal/web/dist/_app/immutable/nodes/1.BMzL0z8j.js
  internal/web/dist/_app/immutable/nodes/1.D4UA4zC9.js
  internal/web/dist/_app/immutable/nodes/2.CPlpFRh2.js
  internal/web/dist/_app/immutable/nodes/2.gLp_g-58.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  pkg/proto/holomush/web/v1/web.pb.go
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(web): add ansi_up dependency for ANSI rendering
  internal/core/event.go
  web/package.json
  web/pnpm-lock.yaml
Due: lint-go, lint-yaml

feat(web): add theme system with dark and light themes
  web/src/lib/theme/default-dark.json
  web/src/lib/theme/default-light.json
  web/src/lib/theme/types.ts
Due: none

feat(web): add Svelte stores and event router
  web/src/lib/stores/eventRouter.ts
  web/src/lib/stores/sidebarStore.ts
  web/src/lib/stores/terminalStore.ts
  web/src/lib/stores/themeStore.ts
Due: none

test(core): add tests for room_state and exit_update event types
  internal/core/event_test.go
Due: lint-go

wip: web utility stubs (ansi, url linker)
  web/src/lib/util/ansi.ts
  web/src/lib/util/urlLinker.ts
Due: none

feat(web): add sidebar components (RoomInfo, ExitList, PresenceList, Sidebar)
  web/src/lib/components/sidebar/ExitList.svelte
  web/src/lib/components/sidebar/PresenceList.svelte
  web/src/lib/components/sidebar/RoomInfo.svelte
  web/src/lib/components/sidebar/Sidebar.svelte
Due: none

feat(web): add channel and metadata to event translation
  internal/web/translate.go
  internal/web/translate_test.go
Due: lint-go

docs(web): clarify command history persistence path
  internal/web/handler.go
Due: lint-go

feat(web): terminal page route, landing page, and E2E tests (Chunk 6)
  web/e2e/landing.spec.ts
  web/e2e/terminal.spec.ts
  web/playwright.config.ts
  web/src/lib/components/terminal/AnsiRenderer.svelte
  web/src/routes/+page.svelte
  web/src/routes/terminal/+page.svelte
  web/src/routes/terminal/+page.ts
  web/tests/e2e.spec.ts
Due: none

feat(web): inject synthetic room_state on StreamEvents start
  internal/web/handler.go
  internal/web/room_state.go
  internal/web/room_state_test.go
Due: lint-go

feat(grpc): stream room-following on character move
  cmd/holomush/core.go
  internal/command/handlers/move_test.go
  internal/grpc/room_follow.go
  internal/grpc/room_follow_test.go
  internal/grpc/server.go
  internal/world/events.go
  internal/world/events_test.go
  internal/world/service_test.go
Due: lint-go

fix(web): fix Playwright E2E tests for real server behavior
  web/e2e/terminal.spec.ts
  web/src/lib/components/terminal/EventRenderer.svelte
Due: none

fix: use session store for presence, fix location_follow test
  buf.yaml
  internal/grpc/location_follow.go
  internal/grpc/location_follow_test.go
  internal/web/dist/_app/immutable/chunks/BkifoeGn.js
  internal/web/dist/_app/immutable/chunks/C0ixe6wz.js
  internal/web/dist/_app/immutable/entry/app.B6TTd-VU.js
  internal/web/dist/_app/immutable/entry/app.CRugqRXP.js
  internal/web/dist/_app/immutable/entry/start.BCwCfgnP.js
  internal/web/dist/_app/immutable/entry/start.CWwlTWjV.js
  internal/web/dist/_app/immutable/nodes/1.B5_b1eLt.js
  internal/web/dist/_app/immutable/nodes/1.CVpmdrYx.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  web/test-results/terminal-Terminal-UI-prese-ac3ed--self-and-other-connections-chromium/error-context.md
Due: lint-go, lint-yaml

fix: wire sessionStore into locationFollower and use system context for ABAC
  internal/grpc/location_follow.go
  internal/grpc/server.go
  internal/web/dist/_app/immutable/chunks/BD7DrWNW.js
  internal/web/dist/_app/immutable/chunks/C0ixe6wz.js
  internal/web/dist/_app/immutable/entry/app.B6TTd-VU.js
  internal/web/dist/_app/immutable/entry/app.CMslifTp.js
  internal/web/dist/_app/immutable/entry/start.BCwCfgnP.js
  internal/web/dist/_app/immutable/entry/start.naGlrvGb.js
  internal/web/dist/_app/immutable/nodes/1.CEP5M68_.js
  internal/web/dist/_app/immutable/nodes/1.CVpmdrYx.js
  internal/web/dist/_app/immutable/nodes/3.Brv70aVK.js
  internal/web/dist/_app/immutable/nodes/3.CqFHAkWa.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  web/e2e/terminal.spec.ts
  web/src/lib/stores/eventRouter.ts
  web/test-results/.last-run.json
  web/test-results/terminal-Terminal-UI-prese-ac3ed--self-and-other-connections-chromium/error-context.md
Due: lint-go

ci: add Buf Proto CI workflow and BSR module name
  .github/workflows/buf.yml
  .task/checksum/proto
Due: lint-yaml, lint-actions

fix(ci): fix buf format and breaking change detection
  .github/workflows/buf.yml
  api/proto/holomush/core/v1/core.proto
  api/proto/holomush/plugin/v1/hostfunc.proto
Due: lint-yaml, lint-actions

fix(ci): add pull-requests write permission for buf-action comments
  .github/workflows/buf.yml
Due: lint-yaml, lint-actions

fix: address PR review findings (XSS, error handling, logging)
  .github/workflows/buf.yml
  internal/grpc/location_follow.go
  internal/web/translate.go
  web/src/lib/util/urlLinker.ts
Due: lint-go, lint-yaml, lint-actions

fix: address remaining PR review findings (dead code, UX, conventions)
  .github/workflows/buf.yml
  internal/grpc/location_follow.go
  internal/grpc/location_follow_test.go
  internal/grpc/server.go
  web/src/lib/stores/eventRouter.ts
  web/src/routes/terminal/+page.svelte
Due: lint-go, lint-yaml, lint-actions

chore: gitignore web/test-results, fix dprint formatting
  .gitignore
  cmd/holomush/core.go
  internal/core/event.go
  internal/core/event_test.go
  internal/grpc/location_follow_test.go
  internal/grpc/server.go
  internal/session/memstore.go
  internal/session/session_test.go
  internal/store/session_store.go
  internal/store/session_store_test.go
  internal/web/handler.go
  web/test-results/.last-run.json
Due: lint-go

fix(test): use valid client_type in integration test
  internal/store/session_store_integration_test.go
Due: lint-go

fix(test): use Migrator.Down() for integration test cleanup
  test/integration/cli/cli_suite_test.go
  test/integration/cli/seed_test.go
Due: lint-go

fix(test): drain sender self-broadcast in telnet E2E, use Eventually for async audit
  test/integration/access/evaluation_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go

fix: apply CodeRabbit review fixes for PR #125
  internal/grpc/location_follow.go
  internal/grpc/server.go
  internal/web/dist/_app/immutable/chunks/C1tX5K-o.js
  internal/web/dist/_app/immutable/chunks/IbJLV-qb.js
  internal/web/dist/_app/immutable/entry/app.BkLuV136.js
  internal/web/dist/_app/immutable/entry/app.CgrCHhcY.js
  internal/web/dist/_app/immutable/entry/start.DokBLc-d.js
  internal/web/dist/_app/immutable/entry/start.qX7vQExJ.js
  internal/web/dist/_app/immutable/nodes/1.BJ9bxCyR.js
  internal/web/dist/_app/immutable/nodes/1.D27RDn4n.js
  internal/web/dist/_app/immutable/nodes/3.BeqKwn_p.js
  internal/web/dist/_app/immutable/nodes/3.CqFHAkWa.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  internal/world/events.go
  web/src/lib/components/sidebar/Sidebar.svelte
  web/src/lib/components/terminal/CommandInput.svelte
  web/src/lib/components/terminal/StatusBar.svelte
  web/src/lib/stores/eventRouter.ts
  web/src/lib/stores/terminalStore.ts
  web/src/lib/theme/default-light.json
  web/src/routes/terminal/+page.svelte
Due: lint-go

fix(test): add keepalive enforcement policy to test gRPC server
  internal/grpc/server.go
Due: lint-go

chore: bump benchmark baselines to 200μs for CI runner variability
  .benchmarks/baseline.txt
Due: none

fix(test): increase session persistence test timeout to 5 minutes
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

refactor(core): remove broadcaster from Engine
  cmd/holomush/core.go
  internal/core/engine.go
  internal/core/engine_test.go
  internal/core/store.go
  internal/core/store_memory.go
  internal/core/store_memory_test.go
  internal/grpc/server_test.go
  test/integration/phase1_5_test.go
  test/integration/session/session_persistence_integration_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go

feat(grpc): add streamNotification type and relay helpers
  internal/command/dispatcher_test.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/shutdown.go
  internal/command/handlers/shutdown_test.go
  internal/command/handlers/testutil/services.go
  internal/command/handlers/wall.go
  internal/command/handlers/wall_test.go
  internal/command/types.go
  internal/command/types_test.go
  internal/grpc/server.go
Due: lint-go

feat(grpc): rewrite Subscribe handler with notification-driven delivery
  cmd/holomush/core.go
  internal/grpc/location_follow.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  test/integration/phase1_5_test.go
  test/integration/session/session_persistence_integration_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go

chore(core): delete Broadcaster and remove all references
  internal/core/broadcaster.go
  internal/core/broadcaster_test.go
  internal/web/dist/_app/immutable/chunks/D1_NN_J3.js
  internal/web/dist/_app/immutable/chunks/IbJLV-qb.js
  internal/web/dist/_app/immutable/entry/app.CgrCHhcY.js
  internal/web/dist/_app/immutable/entry/app.pFKg8BDj.js
  internal/web/dist/_app/immutable/entry/start.DokBLc-d.js
  internal/web/dist/_app/immutable/entry/start.TpJJgAEp.js
  internal/web/dist/_app/immutable/nodes/1.BM5XpQG0.js
  internal/web/dist/_app/immutable/nodes/1.D27RDn4n.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  test/integration/command/alias_integration_test.go
  test/integration/command/ratelimit_integration_test.go
  test/integration/phase1_5_test.go
  test/integration/session/session_persistence_integration_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go

docs: update CLAUDE.md with EventStore interface and MemoryEventStore rule
  CLAUDE.md
Due: none

docs: add event delivery architecture reference
  site/docs/contributors/event-delivery.md
Due: lint-markdown-site, fmt-markdown-site

refactor(grpc): simplify Subscribe handler and fix LISTEN race
  docs/plans/2026-03-13-abac-plugin-enforcement.md
  docs/plans/2026-03-15-abac-stack-wiring.md
  docs/specs/2026-03-20-event-delivery-redesign.md
  docs/superpowers/plans/2026-03-18-web-client-adapter.md
  docs/superpowers/plans/2026-03-19-session-persistence.md
  docs/superpowers/plans/2026-03-19-terminal-ui.md
  internal/core/store_memory.go
  internal/core/store_memory_test.go
  internal/grpc/location_follow.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/web/dist/_app/immutable/chunks/BQltStrN.js
  internal/web/dist/_app/immutable/chunks/D1_NN_J3.js
  internal/web/dist/_app/immutable/entry/app.By30XVtW.js
  internal/web/dist/_app/immutable/entry/app.pFKg8BDj.js
  internal/web/dist/_app/immutable/entry/start.CJGGBHd8.js
  internal/web/dist/_app/immutable/entry/start.TpJJgAEp.js
  internal/web/dist/_app/immutable/nodes/1.BM5XpQG0.js
  internal/web/dist/_app/immutable/nodes/1.PesbsBUI.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  test/integration/phase1_5_test.go
  test/integration/session/session_persistence_integration_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go

feat(core): unify command output through event stream
  .beads/.beads-credential-key
  .task/checksum/proto
  api/proto/holomush/core/v1/core.proto
  internal/core/engine.go
  internal/core/event.go
  internal/grpc/client_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
  internal/web/dist/_app/immutable/assets/3.D8gXk53F.css
  internal/web/dist/_app/immutable/assets/3.J4-KhOaS.css
  internal/web/dist/_app/immutable/chunks/BKdsetKC.js
  internal/web/dist/_app/immutable/chunks/BQltStrN.js
  internal/web/dist/_app/immutable/entry/app.By30XVtW.js
  internal/web/dist/_app/immutable/entry/app.D7SOBaTM.js
  internal/web/dist/_app/immutable/entry/start.CJGGBHd8.js
  internal/web/dist/_app/immutable/entry/start.KOljY1um.js
  internal/web/dist/_app/immutable/nodes/1.B1SL5TWN.js
  internal/web/dist/_app/immutable/nodes/1.PesbsBUI.js
  internal/web/dist/_app/immutable/nodes/3.BQiZNnZM.js
  internal/web/dist/_app/immutable/nodes/3.BeqKwn_p.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  internal/web/handler.go
  internal/web/handler_test.go
  internal/web/translate.go
  internal/web/translate_test.go
  pkg/proto/holomush/core/v1/core.pb.go
  test/integration/session/session_persistence_integration_test.go
  test/integration/telnet/e2e_test.go
  web/src/lib/components/terminal/EventRenderer.svelte
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/theme/default-dark.json
  web/src/lib/theme/default-light.json
  web/src/lib/theme/types.ts
  web/src/routes/terminal/+page.svelte
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
