Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(07-05): add plan 05 summary
  .planning/phases/07-event-model-bootstrap-decomposition/07-05-SUMMARY.md
Due: none

docs(07-05): complete extract-presence-emitter plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(07-04): add gateway transitive-closure gate with positive control
  cmd/holomush/gateway_closure_test.go
  cmd/holomush/gateway_imports_test.go
Due: lint-go

feat(07-04): forbid internal/core, internal/session, internal/grpc wholesale
  cmd/holomush/gateway_imports_test.go
Due: lint-go

docs(07-04): bind INV-EVENTBUS-1 to both gateway boundary gates
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(07-04): complete gateway boundary closure gate plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07-event-model-bootstrap-decomposition/07-04-SUMMARY.md
Due: none

test(07-06): add failing test for sysbroadcast.Broadcaster
  internal/sysbroadcast/broadcaster.go
  internal/sysbroadcast/broadcaster_test.go
Due: lint-go

feat(07-06): implement sysbroadcast.Broadcaster (the one builder)
  internal/sysbroadcast/broadcaster.go
Due: lint-go

refactor(07-06): hostcap becomes a thin subject-pinning adapter over sysbroadcast
  cmd/holomush/sub_grpc.go
  internal/plugin/hostcap/system_broadcaster.go
  internal/plugin/hostcap/system_broadcaster_test.go
  internal/plugin/setup/subsystem.go
  internal/plugin/setup/system_broadcaster_test.go
  test/integration/pluginparity/session_admin_broadcast_test.go
Due: lint-go, schema-sync

refactor(07-06): internal/command sheds its event dependency
  cmd/holomush/sub_grpc.go
  internal/command/dispatcher_test.go
  internal/command/handlers/shutdown_test.go
  internal/command/types.go
  internal/command/types_test.go
  internal/grpc/dispatcher_test.go
  internal/grpc/test_helpers_test.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go

docs(07-06): complete collapse-system-broadcast-builders plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07-event-model-bootstrap-decomposition/07-06-SUMMARY.md
Due: none

feat(07-07): collapse core.Event into eventbus.Event and retype plugin history reads
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_adapters_test.go
  internal/core/coretest/store_memory.go
  internal/core/event.go
  internal/core/event_constructor_test.go
  internal/core/store.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/dispatcher_test.go
  internal/grpc/location_follow.go
  internal/grpc/location_follow_test.go
  internal/grpc/pipeline_rendering_test.go
  internal/grpc/server.go
  internal/grpc/server_helpers_test.go
  internal/grpc/test_helpers_test.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/host.go
  internal/plugin/hostcap/servers.go
  internal/plugin/hostcap/servers_test.go
  internal/plugin/hostcap/streamhistory_test.go
  internal/plugin/hostfunc/stdlib_focus.go
  internal/plugin/hostfunc/stdlib_focus_test.go
  internal/plugin/hostfunc/streamauth.go
  internal/plugin/hostfunc/streamauth_test.go
  internal/presence/emitter.go
  internal/presence/emitter_test.go
  internal/testsupport/integrationtest/harness.go
  test/integration/phase1_5_test.go
  test/integration/pluginparity/session_admin_broadcast_test.go
Due: lint-go, schema-sync

docs(07-07): amend repo rules that mandated the deleted core.Event symbols
  .claude/rules/event-conventions.md
  .claude/rules/event-interfaces.md
  CLAUDE.md
  internal/eventbus/types.go
  internal/idgen/id.go
  internal/testsupport/natstest/nats.go
  plugins/core-scenes/idle_scheduler.go
Due: lint-go

docs(07-07): complete event-model-collapse plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07-event-model-bootstrap-decomposition/07-07-SUMMARY.md
Due: none

test(07-08): add failing RED test for D-07 plugin ReplayTail Seq bug
  cmd/holomush/plugin_replaytail_pagination_integration_test.go
Due: lint-go

feat(07-08): thread real Seq through cursor and HistoryQuery (D-07 fix)
  cmd/holomush/plugin_replaytail_pagination_integration_test.go
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_adapters_test.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/host.go
  internal/plugin/hostcap/servers.go
  internal/plugin/hostcap/streamhistory_test.go
  internal/plugin/hostfunc/stdlib_focus.go
  internal/plugin/hostfunc/stdlib_focus_test.go
  internal/plugin/hostfunc/streamauth.go
  internal/plugin/hostfunc/streamauth_test.go
  internal/testsupport/integrationtest/harness.go
Due: lint-go, schema-sync

test(07-08): add D-08 census guard pinning hostv1.Event at 8 fields
  internal/plugin/hostcap/hostv1_no_seq_test.go
Due: lint-go, schema-sync

fix(07-08): reword legacy-fallback negation to not self-trip the retraction grep
  cmd/holomush/sub_grpc_adapters_test.go
  internal/plugin/hostfunc/stdlib_focus.go
Due: lint-go, schema-sync

docs(07-08): add plan 08 summary (D-07 plugin history pagination Seq fix)
  .planning/phases/07-event-model-bootstrap-decomposition/07-08-SUMMARY.md
Due: none

docs(07-08): complete D-07 plugin history pagination Seq fix plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(07-09): build the TLS subsystem
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/deps.go
  internal/tls/subsystem.go
  internal/tls/subsystem_test.go
Due: lint-go

docs(07-09): complete D-12 Wave A eager-start elimination plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07-event-model-bootstrap-decomposition/07-09-SUMMARY.md
Due: none

fix(07-10): StopAll honors a deadline, rollback uses fresh ctx (LOW-7)
  cmd/holomush/core.go
  internal/lifecycle/orchestrator.go
  internal/lifecycle/orchestrator_test.go
Due: lint-go

fix(07-10): MEDIUM-11 comment-deletion + gRPC AuditProjection edge
  cmd/holomush/core.go
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_test.go
  internal/eventbus/subsystem.go
Due: lint-go

test(07-10): pin the real production topological start order + acyclicity
  cmd/holomush/core_topo_order_test.go
  cmd/holomush/gateway_imports_test.go
Due: lint-go

docs(07-10): complete D-14 ride-alongs plan (LOW-7, MEDIUM-11, T-07-50)
  .planning/phases/07-event-model-bootstrap-decomposition/07-10-SUMMARY.md
  .planning/phases/07-event-model-bootstrap-decomposition/deferred-items.md
Due: none

docs(07-10): update STATE.md and ROADMAP.md for 07-10 completion
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(07-11): complete Prepare/Activate lifecycle split plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07-event-model-bootstrap-decomposition/07-11-SUMMARY.md
Due: none

fix(07): suppress G101 false positive on scoped-NATS test credential
  internal/testsupport/natstest/scoped.go
Due: lint-go

docs(07): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07-event-model-bootstrap-decomposition/07-VERIFICATION.md
Due: none

docs(07): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: none

fix(07): CR-01 stop leaked invalidation.Coordinator on boot failure
  cmd/holomush/core.go
  cmd/holomush/cryptowiring.go
  cmd/holomush/cryptowiring_test.go
Due: lint-go

fix(07): WR-01 close leaked Lua host on world-conn Prepare failure
  internal/plugin/setup/subsystem.go
Due: lint-go, schema-sync

fix(07): WR-02 use eventbus.NewEvent() in PluginEventEmitter.Emit
  internal/plugin/event_emitter.go
Due: lint-go, schema-sync

fix(07): WR-03 capture reaper bootAt when Run starts, not at construction
  internal/session/reaper.go
  internal/session/reaper_test.go
Due: lint-go

docs(07): add code review report and fix report
  .planning/phases/07-event-model-bootstrap-decomposition/07-REVIEW-FIX.md
  .planning/phases/07-event-model-bootstrap-decomposition/07-REVIEW.md
Due: none

docs(abac-reviewer): record phase 07 lifecycle-split learnings
  .claude/agent-memory/abac-reviewer/MEMORY.md
Due: none

docs(07): re-review after code-review-fix — 0 critical, 2 warnings, 1 info
  .planning/phases/07-event-model-bootstrap-decomposition/07-REVIEW.md
Due: none
