Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(05): research phase domain
  .planning/phases/05-character-identity-ui-public-profiles/05-RESEARCH.md
Due: none

docs(phase-5): add validation strategy
  .planning/phases/05-character-identity-ui-public-profiles/05-VALIDATION.md
Due: none

docs(05): create phase plan — 8 plans, tracer-first, 6 waves
  .planning/ROADMAP.md
  .planning/phases/05-character-identity-ui-public-profiles/05-01-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-02-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-03-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-04-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-05-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-06-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-07-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-08-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/COVERAGE.md
Due: none

docs(05): lift two missed UI-SPEC consideration rows into plan must_haves
  .planning/phases/05-character-identity-ui-public-profiles/05-06-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-07-PLAN.md
Due: none

docs(05): persist edge-probe report so the coverage tally is re-derivable
  .planning/phases/05-character-identity-ui-public-profiles/05-EDGE-PROBE.md
Due: none

docs(05): close plan-checker warnings — pin open questions, fix citations, assign deferrals
  .planning/phases/05-character-identity-ui-public-profiles/05-01-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-02-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-03-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-04-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-05-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-RESEARCH.md
  .planning/phases/05-character-identity-ui-public-profiles/05-VALIDATION.md
Due: none

docs(05): report a lost profile write to the player instead of dropping it silently
  .planning/phases/05-character-identity-ui-public-profiles/05-06-PLAN.md
  .planning/phases/05-character-identity-ui-public-profiles/05-07-PLAN.md
Due: none

docs(05): add pattern map for phase 5 surfaces
  .planning/phases/05-character-identity-ui-public-profiles/05-PATTERNS.md
Due: none

docs(05): record planning completion and annotate roadmap waves
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(05-01): set a player's default character through the full stack
  api/proto/holomush/characteraccess/v1/characteraccess.proto
  api/proto/holomush/web/v1/web.proto
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/auth/mocks/mock_PlayerRepository.go
  internal/auth/player.go
  internal/auth/postgres/player_repo.go
  internal/auth/postgres/player_repo_test.go
  internal/auth/reset_service_logging_test.go
  internal/bootstrap/admin_test.go
  internal/grpc/characteraccess_owner.go
  internal/grpc/characteraccess_write.go
  internal/grpcclient/client.go
  internal/web/character_handlers.go
  internal/web/handler.go
  internal/web/status_interceptor_test.go
  pkg/proto/holomush/characteraccess/v1/characteraccess.pb.go
  pkg/proto/holomush/characteraccess/v1/characteraccess_grpc.pb.go
  pkg/proto/holomush/characteraccess/v1/characteraccessv1connect/characteraccess.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  test/integration/access/character_write_test.go
  test/meta/character_rpc_census_test.go
  test/meta/characteraccess_routing_census_test.go
  web/src/lib/connect/holomush/characteraccess/v1/characteraccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

test(05-01): assert SetDefaultCharacter's refusals at the wire, each with a twin
  internal/grpc/characteraccess_write_test.go
  internal/web/character_handlers_test.go
Due: lint-go

feat(05-01): add the character flow layer and the roster's Make default control
  api/proto/holomush/core/v1/core.proto
  api/proto/holomush/web/v1/web.proto
  internal/grpc/auth_handlers.go
  internal/web/auth_handlers.go
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/web/v1/web.pb.go
  web/src/lib/characters/client.test.ts
  web/src/lib/characters/client.ts
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/routes/(authed)/+layout.ts
  web/src/routes/(authed)/characters/+page.svelte
Due: lint-go

docs(05-01): complete default-character write plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-character-identity-ui-public-profiles/05-01-SUMMARY.md
Due: none

test(05-02): add failing render tests for the profile media pair
  web/src/lib/components/characters/ProfileMedia.svelte.test.ts
Due: none

feat(05-02): the portrait primitive and the media renderer
  web/src/lib/components/characters/CharacterPortrait.svelte
  web/src/lib/components/characters/ProfileMedia.svelte
  web/src/lib/components/characters/ProfileMedia.svelte.test.ts
Due: none

test(05-02): add failing absence-contract tests for PublicProfile
  web/src/lib/components/characters/PublicProfile.svelte.test.ts
Due: none

feat(05-02): PublicProfile — the props-only body enforcing the absence contract
  web/src/lib/components/characters/PublicProfile.svelte
Due: none

feat(05-02): the /c/[id] public profile route and its one error branch
  web/src/lib/connect/errors.test.ts
  web/src/lib/connect/errors.ts
  web/src/routes/c/[id]/+page.svelte
Due: none

docs(05-02): complete the public profile page plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-character-identity-ui-public-profiles/05-02-SUMMARY.md
Due: none

feat(05-03): declare CreateCharacter and widen the facade constructor
  api/proto/holomush/characteraccess/v1/characteraccess.proto
  cmd/holomush/sub_grpc.go
  internal/grpc/characteraccess_directory_test.go
  internal/grpc/characteraccess_owner_test.go
  internal/grpc/characteraccess_profile_test.go
  internal/grpc/characteraccess_service.go
  internal/grpc/characteraccess_viewer_test.go
  internal/grpc/characteraccess_write_test.go
  internal/testsupport/integrationtest/harness.go
  pkg/proto/holomush/characteraccess/v1/characteraccess.pb.go
  pkg/proto/holomush/characteraccess/v1/characteraccess_grpc.pb.go
  pkg/proto/holomush/characteraccess/v1/characteraccessv1connect/characteraccess.connect.go
  test/integration/access/access_suite_test.go
  test/integration/access/character_directory_test.go
  test/integration/access/character_profile_read_test.go
  test/integration/access/character_write_test.go
  test/meta/character_rpc_census_test.go
  web/src/lib/connect/holomush/characteraccess/v1/characteraccess_pb.ts
Due: lint-go

feat(05-03): implement CreateCharacter and its code→status mapping
  internal/grpc/auth_errors.go
  internal/grpc/characteraccess_create.go
  internal/grpc/characteraccess_create_test.go
  test/meta/characteraccess_routing_census_test.go
Due: lint-go

feat(05-03): repoint WebCreateCharacter at the facade and retire the name-only shape
  api/proto/holomush/web/v1/web.proto
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  cmd/holomush/gateway.go
  internal/grpcclient/client.go
  internal/web/auth_handlers.go
  internal/web/auth_handlers_logging_test.go
  internal/web/auth_handlers_test.go
  internal/web/character_handlers.go
  internal/web/character_handlers_test.go
  internal/web/handler.go
  internal/web/status_interceptor_test.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  test/meta/character_rpc_census_test.go
  test/meta/characteraccess_routing_census_test.go
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/routes/(authed)/characters/+page.svelte
Due: lint-go

feat(05-03): the createCharacter client wrapper
  web/src/lib/characters/client.test.ts
  web/src/lib/characters/client.ts
Due: none

docs(05-03): complete the structured CreateCharacter plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/05-character-identity-ui-public-profiles/05-03-SUMMARY.md
  .planning/phases/05-character-identity-ui-public-profiles/deferred-items.md
Due: none

test(05-04): add failing byte-boundary tests for ByteCounter
  web/src/lib/components/characters/ByteCounter.svelte
  web/src/lib/components/characters/ByteCounter.svelte.test.ts
Due: none

feat(05-04): ByteCounter measures the cap in bytes, as the server does
  web/src/lib/components/characters/ByteCounter.svelte
Due: none

test(05-04): add failing per-section save specs for ProfileSection
  web/src/lib/components/characters/ProfileSection.svelte
  web/src/lib/components/characters/ProfileSection.svelte.test.ts
Due: none

feat(05-04): ProfileSection classifies refusals instead of relaying them
  web/src/lib/components/characters/ProfileSection.svelte
Due: none

feat(05-04): the /characters/[id] authoring surface — five sections, one version
  web/src/routes/(authed)/characters/[id]/+page.svelte
Due: none

docs(05-04): complete the per-section authoring surface plan
  .planning/phases/05-character-identity-ui-public-profiles/05-04-SUMMARY.md
Due: none

docs(05-04): complete per-section authoring surface plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
Due: none

test(05-05): the viewer-tier floor is read at read time, never stamped
  test/integration/access/character_profile_read_test.go
  test/integration/access/character_readtime_floor_test.go
Due: lint-go

test(05-05): the media naming scheme through the real viewer-filtered read path
  test/integration/access/media_schema_test.go
Due: lint-go

docs(05-05): bind INV-ACCESS-10 clause by clause
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/access/profilevis/profilevis_test.go
  test/integration/access/character_readtime_floor_test.go
Due: lint-go, lint-yaml

docs(05-05): complete the read-time floor and media schema plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-character-identity-ui-public-profiles/05-05-SUMMARY.md
Due: none

test(05-06): add failing create-flow specs for the echo and the partial-write signal
  web/src/lib/characters/createFlow.test.ts
  web/src/lib/characters/createFlow.ts
  web/src/lib/characters/createdNotice.ts
Due: none

feat(05-06): the create flow — the RPC is authoritative, the echo is the server's
  web/src/lib/characters/createFlow.ts
Due: none

test(05-06): add failing creation-form specs for verbatim copy and the rune cap
  web/src/lib/components/characters/CreateCharacterForm.svelte
  web/src/lib/components/characters/CreateCharacterForm.svelte.test.ts
Due: none

feat(05-06): CreateCharacterForm — six fields that survive a rejection
  web/src/lib/components/characters/CreateCharacterForm.svelte
Due: none

feat(05-06): the /characters/new route
  web/src/routes/(authed)/characters/new/+page.svelte
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
