Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

test(plugin): cross-runtime parity for non-scoped capability ABAC denial (holomush-9krwa)
  docs/architecture/invariants.yaml
  test/integration/pluginparity/gated_endpoints_test.go
  test/integration/pluginparity/least_privilege_gate_test.go
  test/integration/pluginparity/nonscoped_capability_deny_test.go
Due: lint-go, lint-yaml

test(plugin): cross-runtime parity for non-scoped capability ABAC denial (holomush-9krwa) (#4464)
  docs/architecture/invariants.yaml
  test/integration/pluginparity/gated_endpoints_test.go
  test/integration/pluginparity/least_privilege_gate_test.go
  test/integration/pluginparity/nonscoped_capability_deny_test.go
Due: lint-go, lint-yaml

fix(hostcap): host-capability interceptor denials carry gRPC status, not codes.Unknown (holomush-yc05l)
  internal/plugin/hostcap/interceptor.go
  internal/plugin/hostcap/interceptor_test.go
  test/integration/pluginparity/least_privilege_gate_test.go
  test/integration/pluginparity/nonscoped_capability_deny_test.go
Due: lint-go, schema-sync

fix(plugin): instance-level ABAC for plugin stream.history reads, both runtimes (holomush-xakba)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.yaml
  internal/access/policy/seed.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/seed_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/hostcap/capabilities.go
  internal/plugin/hostcap/register_test.go
  internal/plugin/hostcap/servers.go
  internal/plugin/hostcap/streamhistory_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/streamauth.go
  internal/plugin/hostfunc/streamauth_test.go
  internal/plugin/lua/hostcap_adapter.go
  internal/plugin/pluginauthz/streamread.go
  internal/plugin/pluginauthz/streamread_test.go
  internal/plugin/setup/subsystem.go
Due: lint-go, lint-yaml, schema-sync

fix(hostcap): host-capability interceptor denials carry gRPC status, not codes.Unknown (holomush-yc05l) (#4463)
  internal/plugin/hostcap/interceptor.go
  internal/plugin/hostcap/interceptor_test.go
  test/integration/pluginparity/least_privilege_gate_test.go
  test/integration/pluginparity/nonscoped_capability_deny_test.go
Due: lint-go, schema-sync

fix(plugin): instance-level ABAC for plugin stream.history reads, both runtimes (holomush-xakba) (#4465)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.yaml
  internal/access/policy/seed.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/seed_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/hostcap/capabilities.go
  internal/plugin/hostcap/register_test.go
  internal/plugin/hostcap/servers.go
  internal/plugin/hostcap/streamhistory_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/streamauth.go
  internal/plugin/hostfunc/streamauth_test.go
  internal/plugin/lua/hostcap_adapter.go
  internal/plugin/pluginauthz/streamread.go
  internal/plugin/pluginauthz/streamread_test.go
  internal/plugin/setup/subsystem.go
Due: lint-go, lint-yaml, schema-sync

fix(compose): put dev otel-collector on the frontend network so the gateway can export OTLP (holomush-bpy6p)
  compose.yaml
Due: lint-yaml

docs(roadmap): promote theme:web-portals — the web as a complete gaming surface
  docs/roadmap.md
Due: none

docs(roadmap): promote theme:web-portals — the web as a complete gaming surface (#4467)
  docs/roadmap.md
Due: none

fix(observability): detach keepalive into its own trace + migrate dev Jaeger v1->v2 (holomush-m7djf, holomush-lz92t)
  compose.yaml
  internal/telemetry/detach.go
  internal/telemetry/detach_test.go
  internal/telnet/gateway_handler.go
  internal/web/handler.go
Due: lint-go, lint-yaml

fix(observability): detach keepalive into its own trace + migrate dev Jaeger v1→v2 (holomush-m7djf, holomush-lz92t) (#4468)
  compose.yaml
  internal/telemetry/detach.go
  internal/telemetry/detach_test.go
  internal/telnet/gateway_handler.go
  internal/web/handler.go
Due: lint-go, lint-yaml

chore(deps): sweep dependencies to current GA versions (holomush-1vri9)
  Dockerfile
  go.mod
  go.sum
  gorules/go.mod
  site/bun.lock
  site/package.json
  web/package.json
  web/pnpm-lock.yaml
Due: lint-yaml

fix(plugin): thread derived ctx into Lua hostfunc guard logs for trace correlation (holomush-135sn)
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/slog_trace_propagation_test.go
  internal/plugin/hostfunc/stdlib_focus.go
Due: lint-go, schema-sync

fix(compose): put dev otel-collector on the frontend network so the gateway can export OTLP (holomush-bpy6p) (#4466)
  compose.yaml
Due: lint-yaml

fix(plugin): thread derived ctx into Lua hostfunc guard logs for trace correlation (holomush-135sn) (#4469)
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/slog_trace_propagation_test.go
  internal/plugin/hostfunc/stdlib_focus.go
Due: lint-go, schema-sync

chore(deps): sweep dependencies to current GA versions (holomush-1vri9) (#4470)
  Dockerfile
  go.mod
  go.sum
  gorules/go.mod
  site/bun.lock
  site/package.json
  web/package.json
  web/pnpm-lock.yaml
Due: lint-yaml

docs(spec): web create-scene typed-RPC design (holomush-5rh.22)
  docs/superpowers/specs/2026-06-19-web-create-scene-design.md
Due: none

docs(plan+adr): web create-scene implementation plan + ADRs (holomush-5rh.22)
  docs/adr/README.md
  docs/adr/holomush-v4qmu-typed-rpcs-structural-scene-writes-command-path-human-cli-ve.md
  docs/adr/holomush-x8swp-resolve-window-per-scene-as-single-pane-workspace-defer-mult.md
  docs/superpowers/plans/2026-06-19-web-create-scene.md
  docs/superpowers/specs/2026-06-19-web-create-scene-design.md
Due: none

docs(grpc): document busEventToCoreEvent read-back reconstruction exception (holomush-jsrd7)
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_adapters_test.go
  internal/testsupport/integrationtest/harness.go
Due: lint-go

docs(grpc): document busEventToCoreEvent read-back reconstruction exception (holomush-jsrd7) (#4472)
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_adapters_test.go
  internal/testsupport/integrationtest/harness.go
Due: lint-go

docs: SPDX headers + CodeRabbit MD032 blank-line fixes (holomush-5rh.22)
  docs/adr/holomush-v4qmu-typed-rpcs-structural-scene-writes-command-path-human-cli-ve.md
  docs/adr/holomush-x8swp-resolve-window-per-scene-as-single-pane-workspace-defer-mult.md
  docs/superpowers/plans/2026-06-19-web-create-scene.md
  docs/superpowers/specs/2026-06-19-web-create-scene-design.md
Due: none

docs(spec+plan+adr): web create-scene design, plan, ADRs (holomush-5rh.22) (#4471)
  docs/adr/README.md
  docs/adr/holomush-v4qmu-typed-rpcs-structural-scene-writes-command-path-human-cli-ve.md
  docs/adr/holomush-x8swp-resolve-window-per-scene-as-single-pane-workspace-defer-mult.md
  docs/superpowers/plans/2026-06-19-web-create-scene.md
  docs/superpowers/specs/2026-06-19-web-create-scene-design.md
Due: none

docs(plugin): document why test-abac-widget fixture is kept (holomush-6g45d)
  plugins/test-abac-widget/main.go
  site/src/content/docs/extending/how-to/abac-attribute-resolver.md
Due: lint-go, lint-markdown-site, fmt-markdown-site

fix(plugin): thread derived ctx into stdlib_streams.go hostfunc guard logs (holomush-thw6t)
  internal/plugin/hostfunc/slog_trace_propagation_test.go
  internal/plugin/hostfunc/stdlib_streams.go
Due: lint-go, schema-sync

test(cluster): widen synthetic-member eviction window to de-flake invalidation rate-limit test (holomush-kz7tb)
  internal/cluster/clustertest/harness.go
  internal/cluster/clustertest/harness_test.go
  internal/eventbus/crypto/invalidation/coordinator_send_test.go
Due: lint-go

docs(plugin): document why test-abac-widget fixture is kept (holomush-6g45d) (#4473)
  plugins/test-abac-widget/main.go
  site/src/content/docs/extending/how-to/abac-attribute-resolver.md
Due: lint-go, lint-markdown-site, fmt-markdown-site

fix(plugin): thread derived ctx into stdlib_streams.go hostfunc guard logs (holomush-thw6t) (#4474)
  internal/plugin/hostfunc/slog_trace_propagation_test.go
  internal/plugin/hostfunc/stdlib_streams.go
Due: lint-go, schema-sync

test(cluster): widen synthetic-member eviction window to de-flake invalidation rate-limit test (holomush-kz7tb) (#4475)
  internal/cluster/clustertest/harness.go
  internal/cluster/clustertest/harness_test.go
  internal/eventbus/crypto/invalidation/coordinator_send_test.go
Due: lint-go

feat(web): createScene client wrapper + submitCreateScene flow (holomush-5rh.22)
  web/src/lib/scenes/client.ts
  web/src/lib/scenes/createFlow.test.ts
  web/src/lib/scenes/createFlow.ts
Due: none

test(e2e): web create-scene with no telnet (holomush-5rh.22)
  web/e2e/scenes.spec.ts
Due: none

feat(web): WebCreateScene BFF handler + client passthrough (holomush-5rh.22)
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/web/handler.go
  internal/web/scene_handlers.go
  internal/web/scene_handlers_test.go
Due: lint-go

feat(grpc): SceneAccessServer.CreateScene facade (holomush-5rh.22)
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
Due: lint-go

feat(web): create-scene toolbar + empty-state CTA + Sheet on /scenes (holomush-5rh.22)
  web/src/lib/components/scenes/CreateSceneSheet.svelte
  web/src/routes/(authed)/scenes/+page.svelte
Due: none

feat(web): CreateSceneForm component (holomush-5rh.22)
  web/src/lib/components/scenes/CreateSceneForm.svelte
  web/src/lib/components/scenes/CreateSceneForm.svelte.test.ts
Due: none

feat(proto): WebCreateScene + SceneAccessService.CreateScene RPCs (holomush-5rh.22)
  api/proto/holomush/sceneaccess/v1/sceneaccess.proto
  api/proto/holomush/web/v1/web.proto
  pkg/proto/holomush/sceneaccess/v1/sceneaccess.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess_grpc.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccessv1connect/sceneaccess.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_connect.ts
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_connect.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

fix(web,grpc): address PR #4477 review — best-effort createFlow refresh/select; facade downstream-error + omnibus guest-deny CreateScene coverage (holomush-5rh.22)
  internal/grpc/sceneaccess_service_test.go
  web/src/lib/scenes/createFlow.ts
Due: lint-go

fix(web,grpc): address CodeRabbit on PR #4477 — form input name attrs + table-driven CreateScene facade test (holomush-5rh.22)
  internal/grpc/sceneaccess_service_test.go
  web/src/lib/components/scenes/CreateSceneForm.svelte
Due: lint-go

feat(web): create-scene affordance — typed RPC → facade → BFF → form → sheet (holomush-5rh.22) (#4477)
  api/proto/holomush/sceneaccess/v1/sceneaccess.proto
  api/proto/holomush/web/v1/web.proto
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
  internal/web/handler.go
  internal/web/scene_handlers.go
  internal/web/scene_handlers_test.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess_grpc.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccessv1connect/sceneaccess.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/e2e/scenes.spec.ts
  web/src/lib/components/scenes/CreateSceneForm.svelte
  web/src/lib/components/scenes/CreateSceneForm.svelte.test.ts
  web/src/lib/components/scenes/CreateSceneSheet.svelte
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_connect.ts
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_connect.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/lib/scenes/client.ts
  web/src/lib/scenes/createFlow.test.ts
  web/src/lib/scenes/createFlow.ts
  web/src/routes/(authed)/scenes/+page.svelte
Due: lint-go

perf(hooks): drop 'bd dolt status' from session-reminder Stop hook (holomush-62tku)
  .claude/hooks/session-reminder.sh
Due: none

perf(hooks): drop 'bd dolt status' from session-reminder Stop hook (holomush-62tku) (#4478)
  .claude/hooks/session-reminder.sh
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
