Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

refactor(core): delete dead HandleSay/HandlePose (plugin-event-type leak)
  internal/core/engine.go
  internal/core/engine_test.go
Due: lint-go

refactor(core): delete dead HandleSay/HandlePose (plugin-event-type leak) (#4030)
  internal/core/engine.go
  internal/core/engine_test.go
Due: lint-go

docs(history-scope-privacy): spec + plan + 5 ADRs for iwzt + CR fixes
  AGENTS.md
  CLAUDE.md
  docs/adr/README.md
  docs/adr/holomush-ghpx-filter-at-delivery-and-nats-source-of-truth.md
  docs/adr/holomush-jhl5-plugin-history-scope-opt-in.md
  docs/adr/holomush-kmac-session-store-sync-hook-character-move.md
  docs/adr/holomush-rc8b-per-session-attach-intervals.md
  docs/adr/holomush-wxty-hard-gate-location-stream-history.md
  docs/superpowers/plans/2026-05-17-history-scope-privacy.md
  docs/superpowers/specs/2026-05-17-history-scope-privacy-design.md
Due: none

docs(history-scope-privacy): spec + plan + 5 ADRs for iwzt (#4031)
  AGENTS.md
  CLAUDE.md
  docs/adr/README.md
  docs/adr/holomush-ghpx-filter-at-delivery-and-nats-source-of-truth.md
  docs/adr/holomush-jhl5-plugin-history-scope-opt-in.md
  docs/adr/holomush-kmac-session-store-sync-hook-character-move.md
  docs/adr/holomush-rc8b-per-session-attach-intervals.md
  docs/adr/holomush-wxty-hard-gate-location-stream-history.md
  docs/superpowers/plans/2026-05-17-history-scope-privacy.md
  docs/superpowers/specs/2026-05-17-history-scope-privacy-design.md
Due: none

chore(.claude): drop local skill/agent defs superseded by dev-flow plugin
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
  .claude/commands/review-design.md
  .claude/commands/review-plan.md
  .claude/skills/bead-chain-design/SKILL.md
  .claude/skills/bead-chain-from-plan/SKILL.md
  .claude/skills/bead-create-smart/SKILL.md
  .claude/skills/handoff-prompt/SKILL.md
Due: none

chore(.claude): drop local skill/agent defs superseded by dev-flow plugin (#4033)
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
  .claude/commands/review-design.md
  .claude/commands/review-plan.md
  .claude/skills/bead-chain-design/SKILL.md
  .claude/skills/bead-chain-from-plan/SKILL.md
  .claude/skills/bead-create-smart/SKILL.md
  .claude/skills/handoff-prompt/SKILL.md
Due: none

docs(specs): fix substrate-contract spec per design-reviewer round 1
  .claude/agent-memory/design-reviewer/MEMORY.md
  docs/superpowers/specs/2026-05-16-social-spaces-substrate-contract.md
Due: none

docs(specs): theme:social-spaces substrate contract (supersedes scenes v2 substrate concerns)
  docs/superpowers/specs/2026-05-16-social-spaces-substrate-contract.md
Due: none

docs(specs): fix substrate-contract spec per design-reviewer round 2
  docs/superpowers/specs/2026-05-16-social-spaces-substrate-contract.md
Due: none

docs(specs): apply round-2 non-blocking precision fixes to INV-S5 mechanism spec
  docs/superpowers/specs/2026-05-17-inv-s5-mechanism-design.md
Due: none

docs(specs): INV-S5 mechanism design (closes parent-plan gap)
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-16-social-spaces-substrate-contract-plan.md
  docs/superpowers/specs/2026-05-17-inv-s5-mechanism-design.md
Due: none

docs(specs): fix INV-S5 mechanism spec per design-reviewer round 1
  docs/superpowers/specs/2026-05-17-inv-s5-mechanism-design.md
Due: none

docs(adr): capture 5 ADRs from substrate-contract spec brainstorm
  docs/adr/README.md
  docs/adr/holomush-3vsb-manifest-emit-type-startup-validation.md
  docs/adr/holomush-c8a9-scene-privacy-plugin-code-enforcement.md
  docs/adr/holomush-lrt3-n2-consumer-validation-sdk-extraction.md
  docs/adr/holomush-p7w0-split-plugin-sdk-eventkit-groupkit.md
  docs/adr/holomush-z1e7-strict-plugin-boundary.md
Due: none

docs(specs): amend INV-S5 mechanism spec §2.2 per plan-reviewer round 1 finding
  docs/superpowers/plans/2026-05-17-social-spaces-substrate-contract-plan.md
  docs/superpowers/specs/2026-05-17-inv-s5-mechanism-design.md
Due: none

docs(plans): apply plan-reviewer R1 fixes — 4 blocking + 4 non-blocking
  docs/superpowers/plans/2026-05-17-social-spaces-substrate-contract-plan.md
Due: none

docs(specs): apply 2 non-blocking polish items from INV-S5 spec round 3 review
  docs/superpowers/specs/2026-05-17-inv-s5-mechanism-design.md
Due: none

docs(plans): apply plan-reviewer R4 fixes — 2 blocking + 3 non-blocking
  docs/superpowers/plans/2026-05-17-social-spaces-substrate-contract-plan.md
Due: none

docs: stamp adr-capture markers on social-spaces spec+plan trio
  docs/superpowers/plans/2026-05-17-social-spaces-substrate-contract-plan.md
  docs/superpowers/specs/2026-05-16-social-spaces-substrate-contract.md
  docs/superpowers/specs/2026-05-17-inv-s5-mechanism-design.md
Due: none

docs(plans): apply plan-reviewer R2 fixes — 3 blocking type/symbol regressions + 4 non-blocking
  docs/superpowers/plans/2026-05-17-social-spaces-substrate-contract-plan.md
Due: none

docs(plans): apply plan-reviewer R3 fixes — 3 blocking compile regressions + 1 non-blocking
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-17-social-spaces-substrate-contract-plan.md
Due: none

docs(adr): capture 2 ADRs from INV-S5 mechanism design spec
  docs/adr/README.md
  docs/adr/holomush-7h0c-lua-load-pass-optin-scope.md
  docs/adr/holomush-vie9-init-rpc-emit-type-communication.md
Due: none

docs(plans): rewrite plan with thin intent-based test specs
  docs/superpowers/plans/2026-05-17-social-spaces-substrate-contract-plan.md
Due: none

fix: apply CodeRabbit autofix findings (7 fixes)
  docs/adr/holomush-z1e7-strict-plugin-boundary.md
  docs/superpowers/plans/2026-05-16-social-spaces-substrate-contract-plan.md
  docs/superpowers/plans/2026-05-17-social-spaces-substrate-contract-plan.md
  docs/superpowers/specs/2026-05-16-social-spaces-substrate-contract.md
  docs/superpowers/specs/2026-05-17-inv-s5-mechanism-design.md
Due: none

feat(session): migration 037 — add history-floor columns to sessions
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000037_add_session_history_floor_columns.down.sql
  internal/store/migrations/000037_add_session_history_floor_columns.up.sql
Due: lint-go

feat(session): migration 037 — session history-floor columns (iwzt.1) (#4034)
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000037_add_session_history_floor_columns.down.sql
  internal/store/migrations/000037_add_session_history_floor_columns.up.sql
Due: lint-go

docs(adr): amend 7h0c + vie9 to match spec §2.2 branched-pass mechanism
  docs/adr/README.md
  docs/adr/holomush-7h0c-lua-load-pass-optin-scope.md
  docs/adr/holomush-vie9-init-rpc-emit-type-communication.md
Due: none

fix: apply CodeRabbit autofix (1 of 3 findings: bead-chain numbering)
  docs/superpowers/specs/2026-05-16-social-spaces-substrate-contract.md
  docs/superpowers/specs/2026-05-17-inv-s5-mechanism-design.md
Due: none

feat(access): seed staff_read_unrestricted_history policy (iwzt Phase 5)
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
Due: lint-go

feat(access): seed staff_read_unrestricted_history policy (iwzt.19) (#4035)
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
Due: lint-go

feat(session): SessionInfo history-floor fields + Store update methods
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/session/mocks/mock_Store.go
  internal/session/session.go
  internal/store/session_store.go
Due: lint-go

docs: theme:social-spaces substrate contract — specs, ADRs, plan (#4032)
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/adr/README.md
  docs/adr/holomush-3vsb-manifest-emit-type-startup-validation.md
  docs/adr/holomush-7h0c-lua-load-pass-optin-scope.md
  docs/adr/holomush-c8a9-scene-privacy-plugin-code-enforcement.md
  docs/adr/holomush-lrt3-n2-consumer-validation-sdk-extraction.md
  docs/adr/holomush-p7w0-split-plugin-sdk-eventkit-groupkit.md
  docs/adr/holomush-vie9-init-rpc-emit-type-communication.md
  docs/adr/holomush-z1e7-strict-plugin-boundary.md
  docs/superpowers/plans/2026-05-16-social-spaces-substrate-contract-plan.md
  docs/superpowers/plans/2026-05-17-social-spaces-substrate-contract-plan.md
  docs/superpowers/specs/2026-05-16-social-spaces-substrate-contract.md
  docs/superpowers/specs/2026-05-17-inv-s5-mechanism-design.md
Due: none

feat(session): SessionInfo history-floor fields + Store update methods (iwzt.2) (#4036)
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/session/mocks/mock_Store.go
  internal/session/session.go
  internal/store/session_store.go
Due: lint-go

feat(grpc): scope_floor helpers (streamScopeFloor, isLocationStream)
  internal/grpc/scope_floor.go
  internal/grpc/scope_floor_test.go
Due: lint-go

feat(testsupport): privacy-test harness for iwzt history-scope work
  internal/testsupport/privacytest/matchers.go
  internal/testsupport/privacytest/privacy_harness.go
  internal/testsupport/privacytest/privacy_harness_smoke_test.go
  internal/testsupport/privacytest/privacy_session.go
Due: lint-go

feat(testsupport): privacy-test harness for iwzt history-scope (iwzt.6) (#4037)
  internal/testsupport/privacytest/matchers.go
  internal/testsupport/privacytest/privacy_harness.go
  internal/testsupport/privacytest/privacy_harness_smoke_test.go
  internal/testsupport/privacytest/privacy_session.go
Due: lint-go

feat(eventbus): NATS-source-of-truth consumer-config builder (iwzt ghpx)
  internal/eventbus/subscriber_consumer_config.go
  internal/eventbus/subscriber_consumer_config_test.go
Due: lint-go

feat(eventbus): NATS-source-of-truth consumer-config builder (iwzt.12) (#4038)
  internal/eventbus/subscriber_consumer_config.go
  internal/eventbus/subscriber_consumer_config_test.go
Due: lint-go

feat(plugin): manifest history_scope field + I-PRIV-7 validation
  internal/plugin/manager_routing_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  plugins/core-communication/plugin.yaml
  plugins/core-scenes/plugin.yaml
  schemas/plugin.schema.json
  site/docs/reference/policy-dsl-railroad.html
  site/docs/reference/policy-dsl.ebnf
  test/integration/plugin/testdata/forgery_plugin/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

refactor(eventbus): OpenSession + SetFilters use NATS-source-of-truth builder
  internal/eventbus/subscriber.go
  internal/eventbus/subscriber_consumer_config.go
Due: lint-go

feat(plugin): manifest history_scope field + I-PRIV-7 validation (iwzt.22) (#4039)
  internal/plugin/manager_routing_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  plugins/core-communication/plugin.yaml
  plugins/core-scenes/plugin.yaml
  schemas/plugin.schema.json
  site/docs/reference/policy-dsl-railroad.html
  site/docs/reference/policy-dsl.ebnf
  test/integration/plugin/testdata/forgery_plugin/plugin.yaml
Due: lint-go, lint-yaml, schema-sync
