Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(scenes): Phase 3 membership design spec
  docs/superpowers/specs/2026-04-07-scenes-phase-3-membership-design.md
Due: none

docs(scenes): add boundary, invariant, and E2E binary plugin tests to plan
  docs/superpowers/plans/2026-04-07-scenes-phase-3-membership.md
Due: none

docs(scenes): Phase 3 membership implementation plan
  docs/superpowers/plans/2026-04-07-scenes-phase-3-membership.md
Due: none

feat(scenes): add KickFromScene and TransferOwnership proto RPCs
  .task/checksum/proto
  api/proto/holomush/scene/v1/scene.proto
  internal/web/dist/_app/immutable/chunks/Bk8S3q8n.js
  internal/web/dist/_app/immutable/chunks/DlpNlTbC.js
  internal/web/dist/_app/immutable/entry/app.DOnvIxLF.js
  internal/web/dist/_app/immutable/entry/app.fqgex_at.js
  internal/web/dist/_app/immutable/entry/start.2xFGQjrM.js
  internal/web/dist/_app/immutable/entry/start.DE3vRW75.js
  internal/web/dist/_app/immutable/nodes/0.BKgV4ZP4.js
  internal/web/dist/_app/immutable/nodes/0.CiHm4KHj.js
  internal/web/dist/_app/immutable/nodes/1.C4nC4p4y.js
  internal/web/dist/_app/immutable/nodes/1.rK7b5fN2.js
  internal/web/dist/_app/immutable/nodes/3.Ckj4tk6I.js
  internal/web/dist/_app/immutable/nodes/4.DJq89odb.js
  internal/web/dist/_app/immutable/nodes/5.DxuPbqeS.js
  internal/web/dist/_app/immutable/nodes/6.cYsK9EYL.js
  internal/web/dist/_app/immutable/nodes/6.hy0gJ6Ew.js
  internal/web/dist/_app/immutable/nodes/7.Bu1wUaHj.js
  internal/web/dist/_app/immutable/nodes/7.Cpft8iAD.js
  internal/web/dist/_app/immutable/nodes/9.DN-JALEh.js
  internal/web/dist/_app/immutable/nodes/9.Ddl9rdc0.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  pkg/proto/holomush/scene/v1/scene.pb.go
  pkg/proto/holomush/scene/v1/scene_grpc.pb.go
  pkg/proto/holomush/scene/v1/scenev1connect/scene.connect.go
  web/src/lib/connect/holomush/scene/v1/scene_connect.ts
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
Due: lint-go

feat(scenes): add Phase 3 metric stubs for membership operations
  plugins/core-scenes/metrics.go
Due: lint-go

feat(scenes): add Phase 3 migration and type foundations
  plugins/core-scenes/migrations/000003_scene_participants_and_ops_events.down.sql
  plugins/core-scenes/migrations/000003_scene_participants_and_ops_events.up.sql
  plugins/core-scenes/ops_events.go
  plugins/core-scenes/participants.go
Due: lint-go

feat(scenes): add GetWithMembership store method
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scenes): LeaveScene RPC with owner-cannot-leave guard
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scenes): scene join/leave/invite/kick/transfer command handlers
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_test.go
Due: lint-go

docs(scenes): amend plan with AddParticipant EXISTS predicate fix
  docs/superpowers/plans/2026-04-07-scenes-phase-3-membership.md
  internal/web/dist/_app/immutable/chunks/BuLqNPdx.js
  internal/web/dist/_app/immutable/chunks/DlpNlTbC.js
  internal/web/dist/_app/immutable/entry/app.BQMtTVRW.js
  internal/web/dist/_app/immutable/entry/app.DOnvIxLF.js
  internal/web/dist/_app/immutable/entry/start.Bbgz55CN.js
  internal/web/dist/_app/immutable/entry/start.DE3vRW75.js
  internal/web/dist/_app/immutable/nodes/0.CiHm4KHj.js
  internal/web/dist/_app/immutable/nodes/0.Dtie8Cew.js
  internal/web/dist/_app/immutable/nodes/1.BkQLUuhE.js
  internal/web/dist/_app/immutable/nodes/1.rK7b5fN2.js
  internal/web/dist/_app/immutable/nodes/3.DExmXjBR.js
  internal/web/dist/_app/immutable/nodes/4.IxLa_I08.js
  internal/web/dist/_app/immutable/nodes/5.BIaa5-5I.js
  internal/web/dist/_app/immutable/nodes/6.BMOPgreC.js
  internal/web/dist/_app/immutable/nodes/6.cYsK9EYL.js
  internal/web/dist/_app/immutable/nodes/7.BHKrxjGl.js
  internal/web/dist/_app/immutable/nodes/7.Cpft8iAD.js
  internal/web/dist/_app/immutable/nodes/9.CS5T7n9S.js
  internal/web/dist/_app/immutable/nodes/9.DN-JALEh.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: none

feat(scenes): JoinScene RPC with idempotent race-safe upsert
  plugins/core-scenes/resolver_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

test(scenes): add Phase 3 integration test helpers
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scenes): emit lifecycle and settings ops events from Phase 1+2 handlers
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scenes): add CreateWithOwner transactional store method
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

test(scenes): integration tests for recordOpsEventTx helper
  plugins/core-scenes/store_integration_test.go
Due: lint-go

chore(web): rebuild SvelteKit dist after Phase 3 E2E run
  internal/web/dist/_app/immutable/chunks/BKB4CC1Z.js
  internal/web/dist/_app/immutable/chunks/BuLqNPdx.js
  internal/web/dist/_app/immutable/entry/app.BQMtTVRW.js
  internal/web/dist/_app/immutable/entry/app.DwKgUMKD.js
  internal/web/dist/_app/immutable/entry/start.Bbgz55CN.js
  internal/web/dist/_app/immutable/entry/start.Ce8iXY-G.js
  internal/web/dist/_app/immutable/nodes/0.B5jUDdRl.js
  internal/web/dist/_app/immutable/nodes/0.Dtie8Cew.js
  internal/web/dist/_app/immutable/nodes/1.BKPmzYnE.js
  internal/web/dist/_app/immutable/nodes/1.BkQLUuhE.js
  internal/web/dist/_app/immutable/nodes/3.BqzBE8zi.js
  internal/web/dist/_app/immutable/nodes/4.DLNCLkCv.js
  internal/web/dist/_app/immutable/nodes/5.C20QiOX_.js
  internal/web/dist/_app/immutable/nodes/6.BMOPgreC.js
  internal/web/dist/_app/immutable/nodes/6.FK4vB02Z.js
  internal/web/dist/_app/immutable/nodes/7.BHKrxjGl.js
  internal/web/dist/_app/immutable/nodes/7.BtaVvchs.js
  internal/web/dist/_app/immutable/nodes/9.BU8xkEJv.js
  internal/web/dist/_app/immutable/nodes/9.CS5T7n9S.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: none

test(scenes): boundary and invariant tests for Phase 3
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

test(scenes): integration lockdown suite for Phase 3 ABAC swap
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scenes): ListParticipants and GetParticipant store methods
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

chore(lint): remove stale plugins/ exclusion from .golangci.yaml
  .golangci.yaml
Due: lint-yaml

test(scenes): apply CodeRabbit round 2 review fixes for PR #202
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scenes): InviteToScene RPC with idempotent invitation insertion
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

chore(docs): fix markdown lint in Phase 3 spec and plan
  docs/superpowers/plans/2026-04-07-scenes-phase-3-membership.md
  docs/superpowers/specs/2026-04-07-scenes-phase-3-membership-design.md
Due: none

test(scenes): E2E binary plugin tests for Phase 3 membership
  test/integration/plugin/binary_plugin_test.go
Due: lint-go

docs(scenes): amend plan with transaction_timestamp() discriminator fix
  docs/superpowers/plans/2026-04-07-scenes-phase-3-membership.md
Due: none

feat(scenes): KickFromScene RPC removes member or invited row
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scenes): TransferOwnership RPC with 3-statement transactional swap
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

refactor(scenes): rename OpsKindMembershipOwnershipXfer for naming consistency
  docs/superpowers/plans/2026-04-07-scenes-phase-3-membership.md
  plugins/core-scenes/ops_events.go
Due: lint-go

fix(scenes): apply CodeRabbit review fixes for PR #202
  plugins/core-scenes/migrations/000003_scene_participants_and_ops_events.up.sql
  plugins/core-scenes/store_integration_test.go
  test/integration/plugin/binary_plugin_test.go
Due: lint-go

feat(scenes): expose participants and invitees in resolver
  plugins/core-scenes/resolver.go
  plugins/core-scenes/resolver_test.go
Due: lint-go

feat(scenes): replace Phase 2 policies with Phase 3 member-based ABAC
  plugins/core-scenes/ops_events.go
  plugins/core-scenes/plugin.yaml
  plugins/core-scenes/store_integration_test.go
  test/integration/session/session_persistence_integration_test.go
Due: lint-go, lint-yaml

fix(plugins): mechanical lint fixes after removing plugins/ exclusion
  plugins/core-scenes/main.go
  plugins/core-scenes/ops_events.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/test-abac-widget/main.go
Due: lint-go

test(scenes): address CodeRabbit round 3 findings on membership commands
  .codecov.yml
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_test.go
  plugins/core-scenes/service_test.go
Due: lint-go, lint-yaml

fix(toolchain): bump go 1.25.0 → 1.26.2, migrate grpc.NewClient, add task gowork
  CLAUDE.md
  Taskfile.yaml
  cmd/holomush/status.go
  go.mod
Due: lint-go, lint-yaml

fix(toolchain): bump Go 1.25→1.26.2, migrate grpc.NewClient, add task gowork (#204)
  CLAUDE.md
  Taskfile.yaml
  cmd/holomush/status.go
  go.mod
Due: lint-go, lint-yaml

fix(scenes): wire req.GetVisibility() in CreateScene handler
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  test/integration/plugin/binary_plugin_test.go
Due: lint-go

fix(scenes): wire req.GetVisibility() in CreateScene handler (#206)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  test/integration/plugin/binary_plugin_test.go
Due: lint-go
