Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "task generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(command): implement command parser
  internal/command/parser.go
  internal/command/parser_test.go
Due: lint-go

feat(command): add error types with player-facing messages
  internal/command/errors.go
  internal/command/errors_test.go
Due: lint-go

feat(command): implement dispatcher with capability checks
  internal/access/accesstest/mock.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
Due: lint-go

feat(store): add aliases database migration
  internal/store/migrations/000014_aliases.down.sql
  internal/store/migrations/000014_aliases.up.sql
Due: none

feat(command): add alias cache and resolver
  internal/command/alias.go
  internal/command/alias_test.go
Due: lint-go

fix(command): add creation-time circular alias detection
  internal/command/alias.go
  internal/command/alias_test.go
  internal/command/errors.go
  internal/command/errors_test.go
Due: lint-go

feat(store): add PostgreSQL alias repository
  internal/store/alias.go
  internal/store/alias_test.go
  internal/store/migrate_test.go
Due: lint-go

feat(command): integrate alias resolution into dispatcher
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
Due: lint-go

feat(plugin): add CommandSpec to manifest for declaring plugin commands
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go, schema-sync

fix(plugin): add command name validation and duplicate detection
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go, schema-sync

feat(command): add look command handler
  internal/command/handlers/look.go
  internal/command/handlers/look_test.go
Due: lint-go

feat(command): add move command handler
  .mockery.yaml
  internal/command/handlers/move.go
  internal/command/handlers/move_test.go
  internal/world/worldtest/mock_EventEmitter.go
Due: lint-go, lint-yaml

feat(command): add quit command handler
  internal/command/handlers/quit.go
  internal/command/handlers/quit_test.go
  internal/core/session.go
  internal/core/session_test.go
Due: lint-go

feat(command): add who command handler
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
  internal/core/session.go
  internal/core/session_test.go
Due: lint-go

fix(core): remove duplicate LastActivity assignment in Connect
  internal/core/session.go
Due: lint-go

feat(plugin): add communication plugin for say, pose, emit commands
  internal/plugin/communication_integration_test.go
  plugins/communication/main.lua
  plugins/communication/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

fix(command): require valid CharacterID for command dispatch
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
  plugins/communication/main.lua
Due: lint-go

feat(command): add InvokedAs and prefix aliases for pose variants
  internal/command/alias.go
  internal/command/alias_test.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/types.go
  internal/plugin/communication_integration_test.go
  plugins/communication/main.lua
  plugins/communication/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

test(plugin): add invoked_as integration tests for pose variants
  internal/plugin/communication_integration_test.go
Due: lint-go, schema-sync

docs(plans): add plugin stdlib design
  docs/plans/2026-02-02-commands-behaviors-implementation.md
  docs/plans/2026-02-02-plugin-stdlib-design.md
Due: lint-markdown

feat(holo): add plugin stdlib - formatting and emit
  docs/adr/0007-command-security-model.md
  docs/plans/2026-02-02-commands-behaviors-implementation.md
  docs/plans/2026-02-02-plugin-stdlib-design.md
  internal/command/alias.go
  internal/command/alias_test.go
  internal/plugin/communication_integration_test.go
  pkg/holo/codes.go
  pkg/holo/codes_test.go
  pkg/holo/doc.go
  pkg/holo/emit.go
  pkg/holo/emit_test.go
  pkg/holo/fmt.go
  pkg/holo/fmt_test.go
Due: lint-go, lint-markdown, schema-sync

feat(plugin): add stdlib Lua bindings and CommandContext
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/stdlib.go
  internal/plugin/hostfunc/stdlib_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  pkg/holo/context.go
  pkg/holo/context_test.go
  plugins/communication/main.lua
Due: lint-go, schema-sync

docs(plans): add building and objects plugins design
  docs/plans/2026-02-02-building-objects-plugins-design.md
Due: lint-markdown

docs(plans): add building and objects implementation plan
  docs/plans/2026-02-02-building-objects-implementation.md
Due: lint-markdown

feat(hostfunc): add world write host functions and property registry
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/world_write.go
  internal/plugin/hostfunc/world_write_test.go
  pkg/holo/property.go
  pkg/holo/property_test.go
  plugins/building/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

feat(command): add create/set handlers and building plugin
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
  plugins/building/main.lua
Due: lint-go

test(integration): add building and objects integration tests
  test/integration/building/building_suite_test.go
  test/integration/building/building_test.go
Due: lint-go

refactor(hostfunc): use slices.Contains for property validation
  internal/plugin/hostfunc/world_write.go
Due: lint-go, schema-sync

feat(holo): add PropertyRegistry.ValidFor() method
  pkg/holo/property.go
  pkg/holo/property_test.go
Due: lint-go

feat(world): add Mutator interface to world package
  internal/world/mutator.go
  internal/world/mutator_test.go
Due: lint-go

refactor(hostfunc): use world.Mutator and PropertyRegistry.ValidFor
  internal/plugin/hostfunc/world_write.go
  internal/world/mutator_test.go
Due: lint-go, schema-sync

feat(world): add FindLocationByName to Mutator interface
  internal/plugin/hostfunc/world_write.go
  internal/world/mutator.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/location_repo_test.go
  internal/world/repository.go
  internal/world/service.go
  internal/world/service_test.go
  internal/world/worldtest/mock_LocationRepository.go
Due: lint-go, schema-sync

feat(command): add help system with host functions and Lua plugin
  api/proto/holomush/plugin/v1/hostfunc.proto
  internal/command/alias_test.go
  internal/command/errors.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/register.go
  internal/command/handlers/register_test.go
  internal/command/handlers/shutdown.go
  internal/command/handlers/shutdown_test.go
  internal/command/handlers/wall.go
  internal/command/handlers/wall_test.go
  internal/command/registry.go
  internal/command/registry_test.go
  internal/command/types.go
  internal/core/session.go
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/hostfunc/functions.go
  plugins/help/main.lua
  plugins/help/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

feat(holo): add validation to Property type with PropertyType constants
  pkg/holo/property.go
  pkg/holo/property_test.go
Due: lint-go

feat(command): add NewServices constructor with nil validation
  internal/command/types.go
  internal/command/types_test.go
Due: lint-go

fix(hostfunc): validate opts parameter in createObjectFn
  internal/plugin/hostfunc/world_write.go
  internal/plugin/hostfunc/world_write_test.go
Due: lint-go, schema-sync

fix(command): add error logging to findCharacterByName
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
Due: lint-go

fix(command): add error logging to WhoHandler for unexpected errors
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
Due: lint-go

feat(holo): add thread safety to PropertyRegistry
  pkg/holo/property.go
  pkg/holo/property_test.go
Due: lint-go

fix(command): add nil validation to NewDispatcher constructor
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
