Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        command -v addlicense >/dev/null 2>&1 || {
          echo "Installing addlicense..."
          go install github.com/google/addlicense@latest
        }
        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      run: markdownlint-cli2 {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamllint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs: add core access control design spec
  docs/specs/2026-01-21-access-control-design.md
Due: lint-markdown

bd daemon sync: 2026-01-21 20:17:55
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 20:18:21
  .beads/issues.jsonl
Due: none

docs: add core access control implementation plan
  docs/plans/2026-01-21-access-control-implementation.md
Due: lint-markdown

bd daemon sync: 2026-01-21 20:21:28
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 20:25:27
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 20:25:44
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 20:26:07
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 20:26:23
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 20:26:40
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 20:26:49
  .beads/issues.jsonl
Due: none

feat(access): add Control interface and ParseSubject
  internal/access/access.go
  internal/access/access_test.go
Due: lint-go

bd daemon sync: 2026-01-21 20:38:50
  .beads/issues.jsonl
Due: none

feat(access): add LocationResolver interface
  internal/access/resolver.go
  internal/access/resolver_test.go
Due: lint-go

bd daemon sync: 2026-01-21 20:46:03
  .beads/issues.jsonl
Due: none

feat(access): add default role and permission definitions
  internal/access/permissions.go
  internal/access/permissions_test.go
Due: lint-go

bd daemon sync: 2026-01-21 20:49:00
  .beads/issues.jsonl
Due: none

feat(access): add StaticAccessControl implementation
  internal/access/static.go
  internal/access/static_test.go
Due: lint-go

bd daemon sync: 2026-01-21 20:54:12
  .beads/issues.jsonl
Due: none

feat(access): add validation to role assignment methods
  internal/access/static.go
  internal/access/static_test.go
Due: lint-go

bd daemon sync: 2026-01-21 20:58:38
  .beads/issues.jsonl
Due: none

feat(access): implement $self token resolution
  internal/access/static.go
  internal/access/static_test.go
Due: lint-go

bd daemon sync: 2026-01-21 21:01:44
  .beads/issues.jsonl
Due: none

feat(access): implement $here token resolution
  internal/access/static.go
  internal/access/static_test.go
Due: lint-go

bd daemon sync: 2026-01-21 21:04:44
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 21:05:20
  .beads/issues.jsonl
Due: none

feat(access): add test helpers package
  internal/access/accesstest/mock.go
Due: lint-go

bd daemon sync: 2026-01-21 21:06:26
  .beads/issues.jsonl
Due: none

test(core): add pending broadcaster access control test
  internal/core/broadcaster_test.go
Due: lint-go

bd daemon sync: 2026-01-21 21:07:35
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 21:09:17
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 21:09:24
  .beads/issues.jsonl
Due: none

style: reorder imports per goimports convention
  cmd/holomush/core.go
  cmd/holomush/status.go
  internal/grpc/client_test.go
  internal/grpc/server_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/schema.go
  internal/store/postgres_integration_test.go
  test/integration/phase1_5_test.go
Due: lint-go, schema-sync

fix(access): add logging for silent failures in permission checks
  internal/access/static.go
  internal/access/static_test.go
Due: lint-go

feat(access): fail fast on invalid permission patterns
  docs/specs/2026-01-21-access-control-design.md
  internal/access/static.go
  internal/access/static_test.go
Due: lint-go, lint-markdown

docs(access): document CharactersAt as future scope, add plugin logging
  internal/access/resolver.go
  internal/access/static.go
Due: lint-go

feat(access): implement core access control system (#34)
  cmd/holomush/core.go
  cmd/holomush/status.go
  docs/plans/2026-01-21-access-control-implementation.md
  docs/specs/2026-01-21-access-control-design.md
  internal/access/access.go
  internal/access/access_test.go
  internal/access/accesstest/mock.go
  internal/access/permissions.go
  internal/access/permissions_test.go
  internal/access/resolver.go
  internal/access/resolver_test.go
  internal/access/static.go
  internal/access/static_test.go
  internal/core/broadcaster_test.go
  internal/grpc/client_test.go
  internal/grpc/server_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/schema.go
  internal/store/postgres_integration_test.go
  test/integration/phase1_5_test.go
Due: lint-go, lint-markdown, schema-sync

bd daemon sync: 2026-01-22 21:00:34
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-22 21:02:17
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-22 21:06:13
  .beads/issues.jsonl
Due: none
