Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

ci(docs): rumdl flavor fix + linkinator link check (holomush-cwnu0)
  .github/workflows/site.yml
  Taskfile.yaml
  site/.rumdl.toml
  site/src/content/docs/contributing/integration-tests.md
  site/src/content/docs/extending/actor-kinds-claimable.md
  site/src/content/docs/extending/audit-events.md
  site/src/content/docs/extending/plugin-crypto-readback.md
  site/src/content/docs/extending/plugin-guide.mdx
  site/src/content/docs/extending/substrate-contract.md
  site/src/content/docs/index.md
  site/src/content/docs/operating/authentication.md
  site/src/content/docs/operating/configuration.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

build(docs): emit event reference into Starlight collection (holomush-cwnu0)
  Taskfile.yaml
  scripts/gen-event-docs.sh
Due: lint-yaml

build(license): re-path docs ignore to site/src/content/docs (holomush-cwnu0)
  .licenserc.yaml
Due: lint-yaml

fix(docs): green the Starlight migration CI (lint exclude, node 24, parity build)
  .github/workflows/scripts-tests.yaml
  .github/workflows/site.yml
  scripts/tests/docs-parity.bats
  site/.rumdl.toml
  site/src/content/docs/contributing/integration-tests.md
  site/src/content/docs/extending/audit-chain.md
  site/src/content/docs/index.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

fix(docs): apply CodeRabbit review fixes (crypto/rand example, absolute link)
  site/src/content/docs/extending/event-sensitivity.md
  site/src/content/docs/extending/plugin-guide.mdx
Due: lint-markdown-site, fmt-markdown-site

fix(ci): pin Bun via site/.bun-version instead of latest (CodeRabbit)
  .github/workflows/scripts-tests.yaml
  .github/workflows/site.yml
  site/.bun-version
Due: lint-yaml, lint-actions

fix(cryptowiring): use errutil.LogError helper for OwnerMap construction failure (CodeRabbit #4290)
  internal/plugin/cryptowiring/cryptowiring.go
Due: lint-go, schema-sync

test(harness): plugin-crypto round-trip via WithPluginCrypto (holomush-5iaov) (#4290)
  cmd/holomush/core.go
  cmd/holomush/cryptowiring_adapter.go
  cmd/holomush/gateway_imports_test.go
  cmd/holomush/phase7_fence_wiring.go
  cmd/holomush/phase7_fence_wiring_test.go
  cmd/holomush/sub_grpc.go
  internal/plugin/cryptowiring/cryptowiring.go
  internal/plugin/cryptowiring/cryptowiring_integration_test.go
  internal/plugin/cryptowiring/cryptowiring_test.go
  internal/testsupport/integrationtest/crypto.go
  internal/testsupport/integrationtest/crypto_test.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
  test/integration/plugincrypto/plugincrypto_suite_test.go
  test/integration/plugincrypto/roundtrip_test.go
Due: lint-go, schema-sync

docs: convert home page index to Starlight components (holomush-v9g9p)
  site/src/content/docs/index.md
  site/src/content/docs/index.mdx
Due: lint-markdown-site, fmt-markdown-site

docs: convert home page index to Starlight components (holomush-v9g9p) (#4291)
  site/src/content/docs/index.md
  site/src/content/docs/index.mdx
Due: lint-markdown-site, fmt-markdown-site

docs(testing): shcyu publish-driving layer — design v2 + implementation plan (holomush-shcyu)
  docs/superpowers/plans/2026-05-28-shcyu-harness-publish-driving.md
  docs/superpowers/specs/2026-05-27-shcyu-harness-publish-driving-design.md
Due: none

docs(testing): shcyu publish-driving layer — design v2 + implementation plan (holomush-shcyu) (#4292)
  docs/superpowers/plans/2026-05-28-shcyu-harness-publish-driving.md
  docs/superpowers/specs/2026-05-27-shcyu-harness-publish-driving-design.md
Due: none

docs: SP2 Diátaxis IA — spec + plan + 2 ADRs (holomush-44nxc)
  docs/adr/README.md
  docs/adr/holomush-38kmt-use-autogenerate-sidebar-over-explicit-entries.md
  docs/adr/holomush-md3k4-organize-docs-audience-first-di-taxis-modes-within.md
  docs/superpowers/plans/2026-05-28-docs-diataxis-ia.md
  docs/superpowers/specs/2026-05-28-docs-diataxis-ia-design.md
Due: none

docs(plan): full repo-relative path in delete-list row — CodeRabbit (holomush-44nxc)
  docs/superpowers/plans/2026-05-28-docs-diataxis-ia.md
Due: none

docs: SP2 Diátaxis IA — spec, plan, 2 ADRs (#4293)
  docs/adr/README.md
  docs/adr/holomush-38kmt-use-autogenerate-sidebar-over-explicit-entries.md
  docs/adr/holomush-md3k4-organize-docs-audience-first-di-taxis-modes-within.md
  docs/superpowers/plans/2026-05-28-docs-diataxis-ia.md
  docs/superpowers/specs/2026-05-28-docs-diataxis-ia-design.md
Due: none

docs(brand): holomush.dev software brand refresh spec + plan (holomush-7daup)
  docs/superpowers/plans/2026-05-28-holomush-software-brand-refresh.md
  docs/superpowers/specs/2026-05-28-holomush-software-brand-refresh-design.md
Due: none

docs(brand): holomush.dev software brand refresh — spec + plan (#4294)
  docs/superpowers/plans/2026-05-28-holomush-software-brand-refresh.md
  docs/superpowers/specs/2026-05-28-holomush-software-brand-refresh-design.md
Due: none

test(harness): WithPluginConfigOverrides StartOption (holomush-shcyu)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
  internal/testsupport/integrationtest/plugins_test.go
Due: lint-go

test(scenes): E2E happy-path publish flow (holomush-shcyu, closes 5rh.20.39)
  internal/testsupport/integrationtest/harness.go
  test/integration/scenes/publish_e2e_test.go
Due: lint-go

test(harness): EmitSceneICContent — seed encrypted IC content into an arbitrary scene (holomush-shcyu)
  internal/testsupport/integrationtest/crypto.go
  test/integration/scenes/seed_encrypted_ic_validation_test.go
Due: lint-go

test(harness): wire Session.CreateScene to SceneService (holomush-shcyu)
  internal/testsupport/integrationtest/harness_test.go
  internal/testsupport/integrationtest/session.go
Due: lint-go

test(harness): Server.SceneServiceClient() accessor (holomush-shcyu)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/harness_test.go
Due: lint-go

docs(ia): retire superseded event-delivery + legacy-id-cutover (holomush-44nxc)
  site/src/content/docs/contributing/event-delivery.md
  site/src/content/docs/contributing/event-store.md
  site/src/content/docs/contributing/index.md
  site/src/content/docs/operating/legacy-id-cutover.md
Due: lint-markdown-site, fmt-markdown-site

docs(ia): add SP2 slug map fixture (holomush-44nxc)
  scripts/migration/sp2-slug-map.tsv
Due: none

docs(ia): autogenerate sidebar (pre-move, unbreakable nav) (holomush-44nxc)
  site/astro.config.mjs
Due: none

docs(ia): sidebar order frontmatter + ~/* tsconfig alias (holomush-44nxc)
  site/src/content/docs/contributing/index.md
  site/src/content/docs/extending/index.md
  site/src/content/docs/extending/tutorials/binary-plugins.md
  site/src/content/docs/extending/tutorials/getting-started.md
  site/src/content/docs/extending/tutorials/lua-plugins.md
  site/src/content/docs/extending/tutorials/plugin-guide.mdx
  site/src/content/docs/guide/index.md
  site/src/content/docs/operating/how-to/deploy/deployment.md
  site/src/content/docs/operating/how-to/deploy/installation.md
  site/src/content/docs/operating/how-to/deploy/verifying-releases.md
  site/src/content/docs/operating/index.md
  site/src/content/docs/reference/index.md
  site/tsconfig.json
Due: lint-markdown-site, fmt-markdown-site

test(ia): IA parity/bucket/retire/branding/nav invariants (holomush-44nxc)
  scripts/check-docs-ia.sh
  scripts/tests/docs-ia.bats
Due: none

fix(ia): retire SP1 docs-parity trio + license-eye hygiene for SP2 (holomush-44nxc)
  .licenserc.yaml
  scripts/check-docs-parity.sh
  scripts/migration/sp2-move.mjs
  scripts/migration/sp2-rewrite-links.mjs
  scripts/tests/docs-parity.bats
  scripts/tests/fixtures/zensical-nav.golden
Due: lint-yaml

docs(ia): finalize Diátaxis re-org; retain slug-map fixture, drop codemods (holomush-44nxc)
  scripts/migration/sp2-move.mjs
  scripts/migration/sp2-rewrite-links.mjs
  scripts/tests/docs-ia.bats
  scripts/tests/fixtures/sp2-slug-map.tsv
Due: none

docs(ia): rewrite internal links to new slugs (holomush-44nxc)
  scripts/migration/sp2-rewrite-links.mjs
  site/src/content/docs/contributing/explanation/architecture.md
  site/src/content/docs/contributing/explanation/authentication.md
  site/src/content/docs/contributing/how-to/pr-guide.md
  site/src/content/docs/contributing/how-to/pr-prep.md
  site/src/content/docs/contributing/index.md
  site/src/content/docs/contributing/reference/coding-standards.md
  site/src/content/docs/extending/explanation/audit-chain.md
  site/src/content/docs/extending/how-to/abac-attribute-resolver.md
  site/src/content/docs/extending/how-to/access-control.md
  site/src/content/docs/extending/how-to/audit-events.md
  site/src/content/docs/extending/how-to/event-sensitivity.md
  site/src/content/docs/extending/how-to/plugin-config.md
  site/src/content/docs/extending/how-to/plugin-crypto-readback.md
  site/src/content/docs/extending/how-to/plugin-host-evaluate.md
  site/src/content/docs/extending/index.md
  site/src/content/docs/extending/reference/actor-kinds-claimable.md
  site/src/content/docs/extending/reference/events.md
  site/src/content/docs/extending/tutorials/getting-started.md
  site/src/content/docs/extending/tutorials/lua-plugins.md
  site/src/content/docs/extending/tutorials/plugin-guide.mdx
  site/src/content/docs/guide/index.md
  site/src/content/docs/operating/explanation/authentication.md
  site/src/content/docs/operating/how-to/ca-rotation.md
  site/src/content/docs/operating/how-to/crypto/crypto-monitoring.md
  site/src/content/docs/operating/how-to/crypto/crypto-runbook.md
  site/src/content/docs/operating/how-to/database.md
  site/src/content/docs/operating/how-to/deploy/deployment.md
  site/src/content/docs/operating/how-to/deploy/installation.md
  site/src/content/docs/operating/how-to/operations.md
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
  site/src/content/docs/operating/how-to/telnet-security.md
  site/src/content/docs/operating/index.md
  site/src/content/docs/operating/reference/configuration.md
  site/src/content/docs/reference/access-control.md
Due: lint-markdown-site, fmt-markdown-site

test(harness): integrationtest publish-driving layer + happy-path E2E (holomush-shcyu) (#4295)
  internal/testsupport/integrationtest/crypto.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/harness_test.go
  internal/testsupport/integrationtest/plugins.go
  internal/testsupport/integrationtest/plugins_test.go
  internal/testsupport/integrationtest/session.go
  test/integration/scenes/publish_e2e_test.go
  test/integration/scenes/seed_encrypted_ic_validation_test.go
Due: lint-go

docs(site): update Adding Pages guidance for autogenerated sidebar
  site/CLAUDE.md
Due: none

docs(ia): split operating/plugin-security into pure Diátaxis modes (holomush-0kada)
  site/src/content/docs/operating/explanation/plugin-security.md
  site/src/content/docs/operating/how-to/tune-plugin-resource-limits.md
  site/src/content/docs/operating/reference/plugin-metrics.md
Due: lint-markdown-site, fmt-markdown-site

docs(ia): split extending/substrate-contract into pure Diátaxis modes (holomush-62711)
  site/src/content/docs/extending/explanation/substrate-invariants.md
  site/src/content/docs/extending/how-to/register-emit-types.md
  site/src/content/docs/extending/reference/substrate-contract.md
Due: lint-markdown-site, fmt-markdown-site

docs(ia): split contributing/hostfunc-context-audit into pure Diátaxis modes (holomush-bia9e)
  site/src/content/docs/contributing/explanation/hostfunc-context-audit.md
  site/src/content/docs/contributing/how-to/add-a-host-function.md
  site/src/content/docs/contributing/reference/hostfunc-audit-table.md
Due: lint-markdown-site, fmt-markdown-site

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
