Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(proto): document content.proto messages and fields
  api/proto/holomush/content/v1/content.proto
Due: none

docs(proto): document eventbus.proto fields and enum values
  api/proto/holomush/eventbus/v1/eventbus.proto
Due: none

test(proto): name-echo doc-comment gate + lint:proto wiring (INV-3, INV-5)
  Taskfile.yaml
  test/meta/proto_doc_comments_test.go
Due: lint-go, lint-yaml

docs(proto): document admin/read_stream.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/admin/v1/read_stream.proto
  buf.yaml
Due: lint-yaml

fix(proto): skip name-echo gate when buf is absent
  test/meta/proto_doc_comments_test.go
Due: lint-go

fix(scenes): bare-ULID e2e regex + harness PlayerID/binding fail-fast (holomush-y5inx)
  internal/testsupport/integrationtest/crypto.go
  internal/testsupport/integrationtest/session.go
  web/e2e/scenes.spec.ts
Due: lint-go

fix(proto): remove duplicated clause in hostfunc.proto service comment
  api/proto/holomush/plugin/v1/hostfunc.proto
  pkg/proto/holomush/plugin/v1/hostfunc_grpc.pb.go
  web/src/lib/connect/holomush/plugin/v1/hostfunc_connect.ts
  web/src/lib/connect/holomush/plugin/v1/hostfunc_pb.ts
Due: lint-go

fix(scenes): bare-ULID scene identity — eliminate scene- prefix (holomush-y5inx) (#4302)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/agent-memory/crypto-reviewer/MEMORY.md
  .claude/agent-memory/crypto-reviewer/project_harness_crypto_readback.md
  internal/plugin/setup/subsystem.go
  internal/testsupport/integrationtest/crypto.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
  internal/testsupport/integrationtest/session.go
  plugins/core-scenes/commands_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  test/integration/plugin/binary_plugin_test.go
  test/integration/scenes/publish_e2e_test.go
  test/integration/scenes/publish_history_scope_e2e_test.go
  test/integration/scenes/real_scene_history_readable_test.go
  test/integration/scenes/real_scene_join_subscription_test.go
  test/integration/scenes/scene_command_join_delivery_test.go
  test/integration/scenes/scene_history_decrypt_readback_test.go
  test/integration/scenes/scene_id_bare_guard_test.go
  web/e2e/scenes.spec.ts
Due: lint-go, schema-sync

docs(site): light CSS polish, default fonts retained (holomush-ivwij.4)
  site/src/styles/custom.css
Due: none

docs(site): topic-tab navigation via starlight-sidebar-topics (holomush-ivwij.1)
  site/astro.config.mjs
  site/bun.lock
  site/package.json
  site/src/content/docs/reference/events.md
Due: lint-markdown-site, fmt-markdown-site

docs(site): per-page LLM page-actions dropdown via starlight-llm-actions (holomush-ivwij.2)
  site/astro.config.mjs
  site/bun.lock
  site/package.json
Due: none

docs: SP5 per-page quality audit + priorities (holomush-ivwij.6)
  docs/superpowers/sp5-docs-quality-audit.md
Due: none

docs(contributing): documentation quality rubric / style guide (holomush-ivwij.5)
  site/src/content/docs/contributing/reference/docs-style-guide.md
Due: lint-markdown-site, fmt-markdown-site

docs(site): editLink + lastUpdated + community social links (holomush-ivwij.3)
  site/astro.config.mjs
Due: none

docs: de-duplicate overlapping auth/events coverage, cross-link (holomush-ivwij.8)
  site/src/content/docs/extending/reference/events.md
  site/src/content/docs/operating/explanation/authentication.md
Due: lint-markdown-site, fmt-markdown-site

test(docs): SP5 structural invariants + terminology advisory (holomush-ivwij.14)
  docs/superpowers/sp5-docs-quality-audit.md
  scripts/check-docs-quality.sh
  scripts/tests/docs-quality.bats
Due: none

docs: section overview landing pages with card grids (holomush-ivwij.7)
  site/src/content/docs/contributing/index.md
  site/src/content/docs/contributing/index.mdx
  site/src/content/docs/extending/index.md
  site/src/content/docs/extending/index.mdx
  site/src/content/docs/guide/index.md
  site/src/content/docs/guide/index.mdx
  site/src/content/docs/operating/index.md
  site/src/content/docs/operating/index.mdx
  site/src/content/docs/reference/index.md
  site/src/content/docs/reference/index.mdx
Due: lint-markdown-site, fmt-markdown-site

docs(operating): editorial pass to rubric (holomush-ivwij.10)
  site/src/content/docs/contributing/index.mdx
  site/src/content/docs/extending/index.mdx
  site/src/content/docs/guide/index.mdx
  site/src/content/docs/operating/explanation/plugin-security.md
  site/src/content/docs/operating/how-to/crypto/crypto-monitoring.md
  site/src/content/docs/operating/how-to/crypto/crypto-setup.md
  site/src/content/docs/operating/how-to/plugin-reloads.md
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
  site/src/content/docs/operating/how-to/sentry.md
  site/src/content/docs/operating/index.mdx
  site/src/content/docs/operating/reference/configuration.md
  site/src/content/docs/reference/index.mdx
Due: lint-markdown-site, fmt-markdown-site

docs(extending): editorial pass to rubric (holomush-ivwij.11)
  site/src/content/docs/extending/explanation/audit-chain.md
  site/src/content/docs/extending/how-to/verb-registration.md
  site/src/content/docs/extending/reference/api-guide.md
  site/src/content/docs/extending/tutorials/binary-plugins.md
  site/src/content/docs/extending/tutorials/lua-plugins.md
  site/src/content/docs/extending/tutorials/plugin-guide.mdx
Due: lint-markdown-site, fmt-markdown-site

docs(guide): editorial pass to rubric (holomush-ivwij.9)
  site/src/content/docs/guide/explanation/the-world.md
  site/src/content/docs/guide/how-to/building.md
Due: lint-markdown-site, fmt-markdown-site

docs(contributing): editorial pass to rubric (holomush-ivwij.12)
  site/src/content/docs/contributing/explanation/architecture.md
  site/src/content/docs/contributing/explanation/authentication.md
  site/src/content/docs/contributing/how-to/add-a-host-function.md
  site/src/content/docs/contributing/reference/coding-standards.md
Due: lint-markdown-site, fmt-markdown-site

fix(docs): use rg --files instead of fd in check-docs-quality.sh for CI portability
  scripts/check-docs-quality.sh
Due: none

docs(reference): editorial pass to hand-written reference (holomush-ivwij.13)
  site/src/content/docs/reference/audit-subjects.md
Due: lint-markdown-site, fmt-markdown-site

docs: correct SP5 audit table landing-page paths .md → .mdx (CodeRabbit #4304)
  docs/superpowers/sp5-docs-quality-audit.md
Due: none

test(docs): reconcile SP2 docs-ia INV-5 guard with SP5 branding/config evolution (holomush-ivwij.15)
  scripts/check-docs-ia.sh
Due: none

docs(roadmap): mark SP0 landed in theme:docs-platform
  docs/roadmap.md
Due: none

docs: re-sync SP5 audit to 78 pages after rebase onto #4303 (adds proto-doc-comments row, INV-2 parity)
  docs/superpowers/sp5-docs-quality-audit.md
Due: none

docs(roadmap): mark SP0 landed in theme:docs-platform (#4305)
  docs/roadmap.md
Due: none

docs(roadmap): mark SP5 landed in docs-platform program (holomush-rkwyb)
  docs/roadmap.md
Due: none

docs(roadmap): mark SP5 landed (#4306)
  docs/roadmap.md
Due: none

test(scenes): E7 E2E privacy-gate test — non-participant denial + public-archive opacity
  test/integration/scenes/publish_e2e_test.go
Due: lint-go

test(scenes): E8 E2E retry budget + admin extend (holomush-5rh.20.41)
  test/integration/scenes/publish_e2e_test.go
Due: lint-go

test(scenes): D4 publish event emission integration tests (holomush-5rh.20.30)
  plugins/core-scenes/publish_event_emission_integration_test.go
Due: lint-go

test(scenes): E10 meta-test for INV-P6-1..10 coverage enumeration (holomush-5rh.20.43)
  plugins/core-scenes/publish_service_test.go
  plugins/core-scenes/publish_snapshot_integration_test.go
  plugins/core-scenes/publish_state_test.go
  test/meta/scenes_phase6_invariants_test.go
Due: lint-go

docs(perf): load/perf testing harness — spec, plan, 2 ADRs (holomush-ql7ef; ADRs holomush-evggu, holomush-2344h)
  docs/adr/README.md
  docs/adr/holomush-2344h-isolate-xk6-extensions-separate-go-module.md
  docs/adr/holomush-evggu-use-k6-custom-xk6-binary-full-system-load-testing.md
  docs/superpowers/plans/2026-05-28-load-perf-testing-harness.md
  docs/superpowers/specs/2026-05-28-load-perf-testing-harness-design.md
Due: none

docs(perf): full-system load/perf testing harness — spec, plan, ADRs (#4307)
  docs/adr/README.md
  docs/adr/holomush-2344h-isolate-xk6-extensions-separate-go-module.md
  docs/adr/holomush-evggu-use-k6-custom-xk6-binary-full-system-load-testing.md
  docs/superpowers/plans/2026-05-28-load-perf-testing-harness.md
  docs/superpowers/specs/2026-05-28-load-perf-testing-harness-design.md
Due: none

test(scenes): assert opacity flip on same attempt id (CodeRabbit #4308)
  test/integration/scenes/publish_e2e_test.go
Due: lint-go
