Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(invariants): register INV-CRYPTO single-gate, boot-refusal, binding-guarantee (holomush-5rh.8.29.12)
  cmd/holomush/kek_provision_test.go
  cmd/holomush/sub_grpc_test.go
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/auth/guest_service_test.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/session_identity_test.go
Due: lint-go, lint-yaml

refactor(crypto): extract tested buildCharacterIdentity gate for Subscribe + history (holomush-5rh.8.29.12)
  internal/grpc/query_stream_history.go
  internal/grpc/server.go
  internal/grpc/session_identity.go
  internal/grpc/session_identity_test.go
Due: lint-go

feat(crypto): gate Subscribe/history identity on KEK presence (cryptoActive) (holomush-5rh.8.29.12)
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_test.go
  internal/grpc/auth_handlers.go
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/server.go
  internal/grpc/subscribe_server_test.go
Due: lint-go

feat(crypto): auto-generate KEK file on first boot, never regenerate (holomush-5rh.8.29.12)
  cmd/holomush/gateway_imports_test.go
  cmd/holomush/kek_provision.go
  cmd/holomush/kek_provision_test.go
Due: lint-go

docs(crypto): amend golive spec §3.1 — KEK-less degraded posture retired (holomush-5rh.8.29.12)
  docs/superpowers/specs/2026-06-08-sensitive-event-crypto-production-golive-design.md
Due: none

feat(crypto): KEK passphrase via env / file-ref / prompt (holomush-5rh.8.29.12)
  cmd/holomush/kek_provision.go
  cmd/holomush/kek_provision_test.go
Due: lint-go

fix(crypto): rename WithCryptoEnabled→WithCryptoActive in integrationtest harness (holomush-5rh.8.29.12)
  internal/testsupport/integrationtest/harness.go
Due: lint-go

fix(crypto): address CodeRabbit findings on PR #4411 — deterministic non-TTY test, placeholder cleanup on Close failure, table-driven gate test, INV annotations (holomush-5rh.8.29.12)
  cmd/holomush/kek_provision.go
  cmd/holomush/kek_provision_test.go
  cmd/holomush/sub_grpc_test.go
  docs/architecture/invariants.yaml
  test/integration/crypto/decrypt_to_participant_test.go
Due: lint-go, lint-yaml

feat(crypto): sensitive-event crypto activation — KEK-mandatory boot, single activation gate (holomush-5rh.8.29.12) (#4411)
  cmd/holomush/core.go
  cmd/holomush/gateway_imports_test.go
  cmd/holomush/kek_provision.go
  cmd/holomush/kek_provision_test.go
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_test.go
  compose.e2e.yaml
  compose.yaml
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/specs/2026-06-08-sensitive-event-crypto-production-golive-design.md
  internal/auth/guest_service_test.go
  internal/eventbus/crypto/kek/source_file_test.go
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/server.go
  internal/grpc/session_identity.go
  internal/grpc/session_identity_test.go
  internal/grpc/subscribe_server_test.go
  internal/testsupport/integrationtest/harness.go
  site/src/content/docs/operating/how-to/deploy/installation.md
  test/integration/crypto/decrypt_to_participant_test.go
  test/integration/crypto/metadata_only_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

docs(crypto): scene DEK genesis-on-first-focus — design + plan (holomush-5rh.8.29.13)
  docs/adr/README.md
  docs/adr/holomush-r90tl-scene-dek-genesis-happens-lazily-first-setscenefocus.md
  docs/superpowers/plans/2026-06-09-scene-dek-genesis-on-focus.md
  docs/superpowers/specs/2026-06-09-scene-dek-genesis-on-focus-design.md
Due: none

docs(crypto): scene DEK genesis-on-first-focus — spec, plan, ADR (holomush-5rh.8.29.13) (#4412)
  docs/adr/README.md
  docs/adr/holomush-r90tl-scene-dek-genesis-happens-lazily-first-setscenefocus.md
  docs/superpowers/plans/2026-06-09-scene-dek-genesis-on-focus.md
  docs/superpowers/specs/2026-06-09-scene-dek-genesis-on-focus-design.md
Due: none

test(crypto): integration proof of scene DEK genesis-on-first-focus (holomush-5rh.8.29.13)
  test/integration/crypto/scene_focus_genesis_test.go
Due: lint-go

docs(invariants): register INV-CRYPTO-121 scene DEK genesis-on-first-focus (holomush-5rh.8.29.13)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

feat(crypto): SetSceneFocus genesis-seeds via EnsureParticipant (holomush-5rh.8.29.13)
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
Due: lint-go

feat(crypto): dek.Manager.EnsureParticipant — genesis-safe participant seed (holomush-5rh.8.29.13)
  internal/eventbus/authguard/adapter_dek_test.go
  internal/eventbus/crypto/dek/manager.go
  internal/eventbus/crypto/dek/manager_integration_test.go
  internal/eventbus/history/source/fallback_test.go
  internal/eventbus/history/source/simple_test.go
Due: lint-go

test(crypto): address CodeRabbit — table-driven EnsureParticipant cases + version-robust Participants read (holomush-5rh.8.29.13)
  internal/eventbus/crypto/dek/manager_integration_test.go
  test/integration/crypto/scene_focus_genesis_test.go
Due: lint-go

feat(crypto): scene DEK genesis-on-first-focus (holomush-5rh.8.29.13) (#4413)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/eventbus/authguard/adapter_dek_test.go
  internal/eventbus/crypto/dek/manager.go
  internal/eventbus/crypto/dek/manager_integration_test.go
  internal/eventbus/history/source/fallback_test.go
  internal/eventbus/history/source/simple_test.go
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
  test/integration/crypto/scene_focus_genesis_test.go
Due: lint-go, lint-yaml

docs(audit): test-suite audit across all tiers — collapse/cut/cover/approach (holomush-8lqco)
  docs/repository-audit/2026-06-09/test-suite-audit.md
Due: none

docs(audit): test-suite audit across all tiers (holomush-8lqco) (#4414)
  docs/repository-audit/2026-06-09/test-suite-audit.md
Due: none

fix(web/scenes): stamp scene_id from event subject so live IC events reach the scenes log (holomush-5rh.8.29.14)
  internal/web/translate.go
  internal/web/translate_test.go
Due: lint-go

fix(web/scenes): stamp scene_id from event subject so live IC events reach the scenes log (holomush-5rh.8.29.14) (#4415)
  internal/web/translate.go
  internal/web/translate_test.go
Due: lint-go

test(e2e): assert live PoseCard for scene pose + un-quarantine S3 (holomush-5rh.8.27, holomush-5rh.8.29.10)
  test/quarantine.yaml
  web/e2e/scenes.spec.ts
Due: lint-yaml

test(e2e): assert live PoseCard for scene pose + un-quarantine S3 (holomush-5rh.8.29.10) (#4416)
  test/quarantine.yaml
  web/e2e/scenes.spec.ts
Due: lint-yaml

docs(roadmap): record crypto production activation milestone; distinguish capability-landing from activation (holomush-ihv4l)
  docs/roadmap.md
Due: none

docs(roadmap): record crypto production activation milestone (holomush-ihv4l) (#4417)
  docs/roadmap.md
Due: none

fix(crypto): resolve PlayerID at comms DEK genesis — close player-branch AuthGuard asymmetry (holomush-5rh.8.29.11)
  cmd/holomush/crypto_rekey_wiring.go
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/eventbus/crypto/dek/manager.go
  internal/eventbus/crypto/dek/manager_integration_test.go
  internal/eventbus/crypto/dek/manager_test.go
  internal/eventbus/crypto/dek/store_integration_test.go
  internal/eventbus/publisher.go
  internal/testsupport/holomushtest/server.go
  internal/testsupport/integrationtest/crypto.go
  internal/world/postgres/binding_repo.go
  internal/world/postgres/binding_repo_test.go
  plugins/core-scenes/publish_snapshot_integration_test.go
  test/integration/crypto/e2e_test.go
  test/integration/eventbus_e2e/plugin_audit_round_trip_test.go
  test/integration/privacy/scene_history_readback_test.go
Due: lint-go, lint-yaml

fix(crypto): resolve PlayerID at comms DEK genesis — close player-branch AuthGuard asymmetry (holomush-5rh.8.29.11) (#4418)
  cmd/holomush/crypto_rekey_wiring.go
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/eventbus/crypto/dek/manager.go
  internal/eventbus/crypto/dek/manager_integration_test.go
  internal/eventbus/crypto/dek/manager_test.go
  internal/eventbus/crypto/dek/store_integration_test.go
  internal/eventbus/publisher.go
  internal/testsupport/holomushtest/server.go
  internal/testsupport/integrationtest/crypto.go
  internal/world/postgres/binding_repo.go
  internal/world/postgres/binding_repo_test.go
  plugins/core-scenes/publish_snapshot_integration_test.go
  test/integration/crypto/e2e_test.go
  test/integration/eventbus_e2e/plugin_audit_round_trip_test.go
  test/integration/privacy/scene_history_readback_test.go
Due: lint-go, lint-yaml

test(store): add negative-path integration specs for postgres repos (holomush-ltv9j)
  internal/access/policy/store/negative_path_integration_test.go
  internal/auth/postgres/negative_path_test.go
  internal/world/postgres/negative_path_test.go
Due: lint-go

test(auth): collapse transport-duplicated auth handler tests (holomush-65a4l)
  internal/grpc/auth_handlers_test.go
Due: lint-go

test: ACE renames, testify outlier conversions, tag store presence test integration (holomush-sx2no)
  cmd/holomush/crypto_rekey_wiring_test.go
  cmd/holomush/main_test.go
  cmd/holomush/migrate_test.go
  cmd/holomush/readstream_wiring_test.go
  internal/access/resolver_test.go
  internal/access/setup/subsystem_test.go
  internal/auth/setup/subsystem_test.go
  internal/bootstrap/admin_bootstrap_test.go
  internal/bootstrap/policy_bootstrap_test.go
  internal/cluster/payload_test.go
  internal/eventbus/crypto/dek/audit_negative_path_test.go
  internal/grpc/auth_handlers_test.go
  internal/lifecycle/tracker_test.go
  internal/naming/naming_test.go
  internal/plugin/hostfunc/world_test.go
  internal/plugin/setup/subsystem_test.go
  internal/session/setup/subsystem_test.go
  internal/settings/chain_test.go
  internal/settings/character_test.go
  internal/settings/game_test.go
  internal/store/session_store_presence_test.go
  internal/store/subsystem_test.go
  internal/web/auth_handlers_test.go
  internal/world/event_store_adapter_test.go
  internal/world/setup/subsystem_test.go
  pkg/plugin/sdk_test.go
Due: lint-go, schema-sync

test(hostfunc): extract shared Lua harness helper + table-drive query error paths (holomush-17rcu)
  internal/plugin/hostfunc/world_test.go
Due: lint-go, schema-sync

test(e2e): add negative-journey specs for auth/scenes/terminal (holomush-av6s1)
  web/e2e/negative-journeys.spec.ts
Due: none

test(crypto,scenes): add unit-tier negative-path coverage for dek + core-scenes (holomush-psr40)
  internal/eventbus/crypto/dek/audit_negative_path_test.go
  internal/eventbus/crypto/dek/negative_path_internal_test.go
  plugins/core-scenes/negative_path_unit_test.go
Due: lint-go

test(invariants): bind cheaply-bindable pending invariants (holomush-60spm)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/eventbus/crypto/kek/local_aead_test.go
  internal/eventbus/history/tier_crypto_options_test.go
  internal/eventbus/publisher_test.go
  internal/eventbus/rendering_publisher_internal_test.go
  internal/eventbus/rendering_publisher_test.go
  internal/eventbus/types_proto_sync_test.go
  internal/plugin/config_opacity_test.go
  internal/plugin/config_test.go
  internal/store/no_delete_grep_test.go
  internal/testsupport/sessiontest/store_test.go
Due: lint-go, lint-yaml, schema-sync

test: cut zero-assertion interface tests, generated-code tests, dead MatchOopsCode (holomush-o9in7)
  cmd/holomush/crypto_rekey_wiring_test.go
  cmd/holomush/readstream_wiring_test.go
  cmd/holomush/sub_grpc_test.go
  internal/access/resolver_test.go
  internal/access/setup/subsystem_test.go
  internal/auth/setup/subsystem_test.go
  internal/bootstrap/admin_bootstrap_test.go
  internal/bootstrap/policy_bootstrap_test.go
  internal/bootstrap/setup/subsystem_test.go
  internal/eventbus/bus_test.go
  internal/lifecycle/tracker_test.go
  internal/naming/naming_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/identity_registry_test.go
  internal/plugin/setup/subsystem_test.go
  internal/session/setup/subsystem_test.go
  internal/settings/chain_test.go
  internal/settings/character_test.go
  internal/settings/game_test.go
  internal/settings/player_test.go
  internal/store/subsystem_test.go
  internal/testsupport/integrationtest/matchers.go
  internal/world/event_store_adapter_test.go
  internal/world/mutator_test.go
  internal/world/setup/subsystem_test.go
  pkg/plugin/focus_client_test.go
  pkg/plugin/sdk_test.go
  pkg/plugin/service_test.go
  pkg/proto/holomush/plugin/v1/grpc_test.go
  pkg/proto/holomush/plugin/v1/plugin_test.go
Due: lint-go, schema-sync

fix(review): address PR #4419 findings (f2rad.1/.3/.6) + CodeRabbit
  docs/architecture/invariants.yaml
  internal/eventbus/crypto/dek/audit_negative_path_test.go
  internal/eventbus/crypto/dek/negative_path_internal_test.go
  internal/grpc/auth_handlers_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/hostfunc/world_test.go
  internal/plugin/lua/host_config_parity_test.go
  site/src/content/docs/contributing/reference/integration-test-harness.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, schema-sync

fix(eventbus): empty-window short-circuit for scene IC backfill below scope floor (holomush-tn12i)
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
Due: lint-go

fix(eventbus): empty-window short-circuit for scene IC backfill below scope floor (holomush-tn12i) (#4420)
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
Due: lint-go

fix(core-scenes): stop leaking inner error text on codes.Internal (holomush-2dsxm)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
