Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

test(integration): add Lua plugin integration tests for core-building, core-objects, core-aliases (T-09)
  internal/plugin/aliases_integration_test.go
  internal/plugin/building_integration_test.go
  internal/plugin/communication_integration_test.go
  internal/plugin/help_integration_test.go
  internal/plugin/objects_integration_test.go
Due: lint-go, schema-sync

feat(build): multi-arch binary plugin builds + platform-aware plugin loader
  Dockerfile
  Taskfile.yaml
  internal/plugin/goplugin/host.go
  internal/web/dist/_app/immutable/chunks/CrN-dV7l.js
  internal/web/dist/_app/immutable/chunks/Sm3FqJBR.js
  internal/web/dist/_app/immutable/entry/app.DeTkxAbR.js
  internal/web/dist/_app/immutable/entry/app._KciyuwG.js
  internal/web/dist/_app/immutable/entry/start.CshjeTDd.js
  internal/web/dist/_app/immutable/entry/start.DVMSI0Ft.js
  internal/web/dist/_app/immutable/nodes/0.BJSOgmJS.js
  internal/web/dist/_app/immutable/nodes/0.CT2KpOTa.js
  internal/web/dist/_app/immutable/nodes/1.DuOjouqp.js
  internal/web/dist/_app/immutable/nodes/1._CEUEFVS.js
  internal/web/dist/_app/immutable/nodes/3.FzTBSYpF.js
  internal/web/dist/_app/immutable/nodes/4.owKYRVok.js
  internal/web/dist/_app/immutable/nodes/5.DR1XdXec.js
  internal/web/dist/_app/immutable/nodes/6.CBw6qN49.js
  internal/web/dist/_app/immutable/nodes/6.DbqtqI9B.js
  internal/web/dist/_app/immutable/nodes/7.1A7lxBCv.js
  internal/web/dist/_app/immutable/nodes/7.BgGnAAmZ.js
  internal/web/dist/_app/immutable/nodes/9.Cj7ytfuZ.js
  internal/web/dist/_app/immutable/nodes/9.mav6KKev.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  scripts/build-plugins.sh
  test/integration/plugin/binary_plugin_test.go
Due: lint-go, lint-yaml, schema-sync

fix: P2 batch — capError helper, close provisioner pool, GetParticipant, document service registration
  internal/plugin/hostfunc/cap_alias.go
  internal/plugin/hostfunc/cap_property.go
  internal/plugin/hostfunc/cap_session.go
  internal/plugin/hostfunc/cap_world_query.go
  internal/plugin/hostfunc/errors.go
  internal/plugin/manager.go
  internal/plugin/setup/subsystem.go
  internal/web/dist/_app/immutable/chunks/Bxxlj7jB.js
  internal/web/dist/_app/immutable/chunks/HyTRfe3V.js
  internal/web/dist/_app/immutable/entry/app.B27faPFh.js
  internal/web/dist/_app/immutable/entry/app.CvTabUvQ.js
  internal/web/dist/_app/immutable/entry/start.Bq7-9O6v.js
  internal/web/dist/_app/immutable/entry/start.CIhg60pT.js
  internal/web/dist/_app/immutable/nodes/0.8cOqHLlN.js
  internal/web/dist/_app/immutable/nodes/0.waug3AX-.js
  internal/web/dist/_app/immutable/nodes/1.CxvmnccS.js
  internal/web/dist/_app/immutable/nodes/1.DRU1t42V.js
  internal/web/dist/_app/immutable/nodes/3.CL-CbRSs.js
  internal/web/dist/_app/immutable/nodes/4.DgTamJ3s.js
  internal/web/dist/_app/immutable/nodes/5.CR7D_LZZ.js
  internal/web/dist/_app/immutable/nodes/6.86AkGmi-.js
  internal/web/dist/_app/immutable/nodes/6.DWfOrkT9.js
  internal/web/dist/_app/immutable/nodes/7.D2tbllXf.js
  internal/web/dist/_app/immutable/nodes/7.D8LXrGmK.js
  internal/web/dist/_app/immutable/nodes/9.D8-1UL5t.js
  internal/web/dist/_app/immutable/nodes/9.pcXubXvL.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  plugins/core-scenes/service.go
  plugins/core-scenes/store.go
Due: lint-go, schema-sync

test(scenes): add ownership enforcement tests for EndScene and InviteToScene (T-03)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

test(plugin): add GRPCServiceProxy forwarding and health check tests (T-01)
  internal/plugin/grpc_proxy.go
  internal/plugin/grpc_proxy_test.go
Due: lint-go, schema-sync

feat(plugin): add HealthReporter for plugin subsystem readiness probe (OPS-07)
  cmd/holomush/core.go
  internal/plugin/setup/subsystem.go
  internal/plugin/setup/subsystem_test.go
Due: lint-go, schema-sync

fix: lint fixes for grpc_proxy (errors.Is for EOF, context parameter nolint)
  internal/plugin/grpc_proxy.go
  internal/plugin/grpc_proxy_test.go
Due: lint-go, schema-sync

docs(plugin): schema role isolation spec and implementation plan
  docs/superpowers/plans/2026-04-05-plugin-schema-role-isolation.md
  docs/superpowers/specs/2026-04-05-plugin-schema-role-isolation-design.md
Due: none

infra(postgres): switch compose to non-superuser holomush role with CREATEROLE
  compose.yaml
  docker/postgres/init-role.sh
Due: lint-yaml

test(testutil): add shared PostgreSQL helper with non-superuser role
  internal/web/dist/_app/immutable/chunks/Bxxlj7jB.js
  internal/web/dist/_app/immutable/chunks/CrFSIVmg.js
  internal/web/dist/_app/immutable/entry/app.B27faPFh.js
  internal/web/dist/_app/immutable/entry/app.YqqeVbeh.js
  internal/web/dist/_app/immutable/entry/start.BIXbS0vK.js
  internal/web/dist/_app/immutable/entry/start.CIhg60pT.js
  internal/web/dist/_app/immutable/nodes/0.waug3AX-.js
  internal/web/dist/_app/immutable/nodes/0.ybpxTg0e.js
  internal/web/dist/_app/immutable/nodes/1.C1gYifuI.js
  internal/web/dist/_app/immutable/nodes/1.DRU1t42V.js
  internal/web/dist/_app/immutable/nodes/3.V6_LllHh.js
  internal/web/dist/_app/immutable/nodes/4.HTBcfzXM.js
  internal/web/dist/_app/immutable/nodes/5.DJF8KsKg.js
  internal/web/dist/_app/immutable/nodes/6.DWfOrkT9.js
  internal/web/dist/_app/immutable/nodes/6.DiJwd95_.js
  internal/web/dist/_app/immutable/nodes/7.D8LXrGmK.js
  internal/web/dist/_app/immutable/nodes/7.Dj609-UI.js
  internal/web/dist/_app/immutable/nodes/9.CFykh4-0.js
  internal/web/dist/_app/immutable/nodes/9.pcXubXvL.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  test/testutil/postgres.go
Due: lint-go

feat(plugin): add pluginRoleName, generatePassword, pluginConnString helpers
  internal/plugin/schema_provisioner.go
  internal/plugin/schema_provisioner_test.go
Due: lint-go, schema-sync

feat(plugin): per-plugin PostgreSQL role isolation in SchemaProvisioner
  internal/plugin/schema_provisioner.go
  test/integration/plugin/schema_isolation_test.go
Due: lint-go, schema-sync

test: migrate all integration tests to non-superuser holomush role
  internal/access/policy/store/postgres_integration_test.go
  internal/auth/postgres/postgres_test.go
  internal/content/postgres_store_test.go
  internal/store/postgres_integration_test.go
  internal/world/postgres/postgres_test.go
  test/integration/access/access_suite_test.go
  test/integration/auth/auth_suite_test.go
  test/integration/content/content_integration_test.go
  test/integration/phase1_5_test.go
  test/integration/plugin/binary_plugin_test.go
  test/integration/session/session_persistence_integration_test.go
  test/integration/telnet/e2e_test.go
  test/integration/world/world_suite_test.go
Due: lint-go

ci(e2e): add concurrency guard to prevent overlapping E2E runs
  Taskfile.yaml
Due: lint-yaml

fix: resolve lint issues in schema provisioner and testutil
  docs/superpowers/plans/2026-04-05-plugin-schema-role-isolation.md
  docs/superpowers/specs/2026-04-05-plugin-schema-role-isolation-design.md
  internal/command/handlers/plugin_admin_test.go
  internal/plugin/building_integration_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/grpc_proxy.go
  internal/plugin/grpc_proxy_test.go
  internal/plugin/hostfunc/adapter.go
  internal/plugin/hostfunc/cap_alias_test.go
  internal/plugin/inprocess_conn.go
  internal/plugin/inprocess_conn_test.go
  internal/plugin/manager_test.go
  internal/plugin/schema_provisioner.go
  internal/plugin/schema_provisioner_test.go
  internal/plugin/setup/subsystem.go
  internal/world/grpc_server_test.go
  plugins/core-scenes/service_test.go
  test/integration/plugin/schema_isolation_test.go
  test/testutil/postgres.go
Due: lint-go, schema-sync

docs(plugin): GRPCBroker service injection design spec (F-05)
  docs/superpowers/specs/2026-04-06-grpcbroker-service-injection-design.md
Due: none

docs(plugin): GRPCBroker service injection implementation plan
  docs/superpowers/plans/2026-04-06-grpcbroker-service-injection.md
Due: none

feat(plugin/sdk): add ParseBrokerServices helper for service injection
  internal/plugin/grpc_proxy.go
  pkg/plugin/broker.go
  pkg/plugin/broker_test.go
Due: lint-go, schema-sync

feat(plugin): add broker proxy for transparent gRPC forwarding
  internal/plugin/goplugin/broker_proxy.go
  internal/plugin/goplugin/broker_proxy_test.go
  internal/plugin/grpc_proxy_test.go
Due: lint-go, schema-sync

feat(plugin): add mTLS support using existing HoloMUSH CA
  internal/plugin/goplugin/host.go
  pkg/plugin/sdk.go
  pkg/plugin/service.go
Due: lint-go, schema-sync

feat(plugin): wire GRPCBroker service injection in Host.Load
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/goplugin/plugin.go
Due: lint-go, schema-sync

feat(plugin): wire CA and service registry into plugin subsystem
  cmd/holomush/core.go
  internal/plugin/setup/subsystem.go
Due: lint-go, schema-sync

test(plugin): integration tests for GRPCBroker service injection
  internal/web/dist/_app/immutable/chunks/B31dvOYz.js
  internal/web/dist/_app/immutable/chunks/CrFSIVmg.js
  internal/web/dist/_app/immutable/entry/app.BK2iembm.js
  internal/web/dist/_app/immutable/entry/app.YqqeVbeh.js
  internal/web/dist/_app/immutable/entry/start.BIXbS0vK.js
  internal/web/dist/_app/immutable/entry/start.D4L1qOtg.js
  internal/web/dist/_app/immutable/nodes/0.CLeCuPac.js
  internal/web/dist/_app/immutable/nodes/0.ybpxTg0e.js
  internal/web/dist/_app/immutable/nodes/1.C1gYifuI.js
  internal/web/dist/_app/immutable/nodes/1.DWtmcvEJ.js
  internal/web/dist/_app/immutable/nodes/3.myo1lSnu.js
  internal/web/dist/_app/immutable/nodes/4.BXY8whhd.js
  internal/web/dist/_app/immutable/nodes/5.B2vWYA32.js
  internal/web/dist/_app/immutable/nodes/6.BKzrx13g.js
  internal/web/dist/_app/immutable/nodes/6.DiJwd95_.js
  internal/web/dist/_app/immutable/nodes/7.D-_F1-if.js
  internal/web/dist/_app/immutable/nodes/7.Dj609-UI.js
  internal/web/dist/_app/immutable/nodes/9.CFykh4-0.js
  internal/web/dist/_app/immutable/nodes/9.DEN3rNa4.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  test/integration/plugin/binary_plugin_test.go
Due: lint-go

fix: lint fixes for GRPCBroker service injection
  internal/plugin/goplugin/broker_proxy.go
  internal/plugin/goplugin/host.go
  internal/plugin/grpc_proxy.go
  internal/plugin/setup/subsystem.go
  pkg/plugin/sdk.go
Due: lint-go, schema-sync

docs(plugin): update design spec to reflect implemented role isolation and service injection
  docs/superpowers/specs/2026-04-05-plugin-architecture-rework-design.md
  internal/web/dist/_app/immutable/chunks/B31dvOYz.js
  internal/web/dist/_app/immutable/chunks/DjRlTu4D.js
  internal/web/dist/_app/immutable/entry/app.BFSEYhZt.js
  internal/web/dist/_app/immutable/entry/app.BK2iembm.js
  internal/web/dist/_app/immutable/entry/start.CTpfV28d.js
  internal/web/dist/_app/immutable/entry/start.D4L1qOtg.js
  internal/web/dist/_app/immutable/nodes/0.CLeCuPac.js
  internal/web/dist/_app/immutable/nodes/0.Cmkxl8lS.js
  internal/web/dist/_app/immutable/nodes/1.DWtmcvEJ.js
  internal/web/dist/_app/immutable/nodes/1.oxaFbqph.js
  internal/web/dist/_app/immutable/nodes/3.DWZegub-.js
  internal/web/dist/_app/immutable/nodes/4.BySs3myq.js
  internal/web/dist/_app/immutable/nodes/5.nK92Nyzu.js
  internal/web/dist/_app/immutable/nodes/6.5LC9WqIp.js
  internal/web/dist/_app/immutable/nodes/6.BKzrx13g.js
  internal/web/dist/_app/immutable/nodes/7.CgltcHdW.js
  internal/web/dist/_app/immutable/nodes/7.D-_F1-if.js
  internal/web/dist/_app/immutable/nodes/9.DEN3rNa4.js
  internal/web/dist/_app/immutable/nodes/9.WYsqb_4d.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: none

test(scenes): add scene store integration test with real PostgreSQL
  Taskfile.yaml
  plugins/core-scenes/store_integration_test.go
Due: lint-go, lint-yaml

docs(extending): add binary plugin and Lua plugin author guides
  site/docs/extending/binary-plugins.md
  site/docs/extending/lua-plugins.md
Due: lint-markdown-site, fmt-markdown-site

fix: apply CodeRabbit auto-fixes for PR #192
  .full-review/phase3b-documentation.md
  docs/superpowers/plans/2026-04-05-plugin-architecture-phase2-core-to-lua.md
  docs/superpowers/plans/2026-04-05-plugin-schema-role-isolation.md
  docs/superpowers/specs/2026-04-05-plugin-schema-role-isolation-design.md
  internal/command/handlers/plugin_admin_test.go
  internal/plugin/dependency.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/grpc_proxy.go
  internal/plugin/hostfunc/cap_alias_test.go
  internal/plugin/hostfunc/capability_test.go
  internal/plugin/inprocess_conn.go
  internal/plugin/inprocess_conn_test.go
  internal/plugin/manager.go
  internal/plugin/schema_provisioner.go
  internal/plugin/schema_provisioner_test.go
  internal/plugin/setup/subsystem.go
  internal/web/dist/_app/immutable/chunks/C3q50E0T.js
  internal/web/dist/_app/immutable/chunks/DjRlTu4D.js
  internal/web/dist/_app/immutable/entry/app.BFSEYhZt.js
  internal/web/dist/_app/immutable/entry/app.BUSPvLWS.js
  internal/web/dist/_app/immutable/entry/start.9un5Uake.js
  internal/web/dist/_app/immutable/entry/start.CTpfV28d.js
  internal/web/dist/_app/immutable/nodes/0.BnO2g92Z.js
  internal/web/dist/_app/immutable/nodes/0.Cmkxl8lS.js
  internal/web/dist/_app/immutable/nodes/1.WJCwZnDG.js
  internal/web/dist/_app/immutable/nodes/1.oxaFbqph.js
  internal/web/dist/_app/immutable/nodes/3.Wg_5j43e.js
  internal/web/dist/_app/immutable/nodes/4.CRPAKDU0.js
  internal/web/dist/_app/immutable/nodes/5.DB_P6ub3.js
  internal/web/dist/_app/immutable/nodes/6.5LC9WqIp.js
  internal/web/dist/_app/immutable/nodes/6.B123D-j9.js
  internal/web/dist/_app/immutable/nodes/7.CgltcHdW.js
  internal/web/dist/_app/immutable/nodes/7.DJuHa2py.js
  internal/web/dist/_app/immutable/nodes/9.C2OOQMvU.js
  internal/web/dist/_app/immutable/nodes/9.WYsqb_4d.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  pkg/plugin/service_test.go
  pkg/plugin/storage/storage.go
Due: lint-go, schema-sync

feat(policy): read barrier for policy cache read-after-write consistency
  internal/access/policy/cache.go
  internal/access/policy/cache_test.go
  internal/access/policy/engine.go
  internal/web/dist/_app/immutable/chunks/DU-wzEh3.js
  internal/web/dist/_app/immutable/entry/app.DbTly1Vk.js
  internal/web/dist/_app/immutable/entry/start.DIsh6xZH.js
  internal/web/dist/_app/immutable/nodes/0.FCsdy4bw.js
  internal/web/dist/_app/immutable/nodes/1.ABVtWE1k.js
  internal/web/dist/_app/immutable/nodes/3.BImoWDcJ.js
  internal/web/dist/_app/immutable/nodes/4.7y6HICxC.js
  internal/web/dist/_app/immutable/nodes/5.Om5o6t8A.js
  internal/web/dist/_app/immutable/nodes/6.C1orPaR1.js
  internal/web/dist/_app/immutable/nodes/7.B5btp1-R.js
  internal/web/dist/_app/immutable/nodes/9.DNMWEcPc.js
Due: lint-go

feat(policy): read barrier for policy cache read-after-write consistency (#193)
  internal/access/policy/cache.go
  internal/access/policy/cache_test.go
  internal/access/policy/engine.go
  internal/web/dist/_app/immutable/chunks/DU-wzEh3.js
  internal/web/dist/_app/immutable/entry/app.DbTly1Vk.js
  internal/web/dist/_app/immutable/entry/start.DIsh6xZH.js
  internal/web/dist/_app/immutable/nodes/0.FCsdy4bw.js
  internal/web/dist/_app/immutable/nodes/1.ABVtWE1k.js
  internal/web/dist/_app/immutable/nodes/3.BImoWDcJ.js
  internal/web/dist/_app/immutable/nodes/4.7y6HICxC.js
  internal/web/dist/_app/immutable/nodes/5.Om5o6t8A.js
  internal/web/dist/_app/immutable/nodes/6.C1orPaR1.js
  internal/web/dist/_app/immutable/nodes/7.B5btp1-R.js
  internal/web/dist/_app/immutable/nodes/9.DNMWEcPc.js
Due: lint-go

feat(core): add ReplayTail method to EventStore interface
  docs/superpowers/plans/2026-04-06-channels-binary-plugin-plan.md
  internal/auth/mocks/mock_PlayerRepository.go
  internal/command/dispatcher_test.go
  internal/command/types_test.go
  internal/core/engine_test.go
  internal/core/mocks/mock_EventStore.go
  internal/core/store.go
  internal/core/store_memory.go
  internal/core/store_memory_test.go
  internal/grpc/server_test.go
  internal/store/postgres.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go

feat(core): add channel infrastructure — resource prefix, command types, event constants
  internal/access/prefix.go
  internal/access/prefix_test.go
  internal/command/types.go
  internal/command/types_test.go
  internal/core/builtins.go
  internal/core/event.go
Due: lint-go

feat(access): add 11 channel ABAC seed policies
  internal/access/policy/bootstrap_test.go
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
Due: lint-go

feat(channels): add binary plugin manifest and migrations
  docs/superpowers/plans/2026-04-06-channels-binary-plugin-plan.md
  internal/core/builtins.go
  internal/plugin/goplugin/host.go
  internal/web/dist/_app/immutable/chunks/C3q50E0T.js
  internal/web/dist/_app/immutable/chunks/Ci-TVUoG.js
  internal/web/dist/_app/immutable/entry/app.BUSPvLWS.js
  internal/web/dist/_app/immutable/entry/app.frea-Www.js
  internal/web/dist/_app/immutable/entry/start.9un5Uake.js
  internal/web/dist/_app/immutable/entry/start.CjF5AFjA.js
  internal/web/dist/_app/immutable/nodes/0.BnO2g92Z.js
  internal/web/dist/_app/immutable/nodes/0.Db8zX0JR.js
  internal/web/dist/_app/immutable/nodes/1.WJCwZnDG.js
  internal/web/dist/_app/immutable/nodes/1.qQgYX-g_.js
  internal/web/dist/_app/immutable/nodes/3.XXGTMvJw.js
  internal/web/dist/_app/immutable/nodes/4.DYbcz9us.js
  internal/web/dist/_app/immutable/nodes/5.C6kNzNt4.js
  internal/web/dist/_app/immutable/nodes/6.B123D-j9.js
  internal/web/dist/_app/immutable/nodes/6.BaESFpV3.js
  internal/web/dist/_app/immutable/nodes/7.DEf6VEyD.js
  internal/web/dist/_app/immutable/nodes/7.DJuHa2py.js
  internal/web/dist/_app/immutable/nodes/9.C2OOQMvU.js
  internal/web/dist/_app/immutable/nodes/9.DczgEBwN.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  plugins/core-channels/migrations/000001_channels.down.sql
  plugins/core-channels/migrations/000001_channels.up.sql
  plugins/core-channels/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

feat(channels): add entity types and validation
  plugins/core-channels/types.go
  plugins/core-channels/types_test.go
Due: lint-go

feat(channels): implement channel store with schema-isolated persistence
  plugins/core-channels/store.go
Due: lint-go

feat(channels): add plugin entry point and command handlers
  plugins/core-channels/handlers.go
  plugins/core-channels/main.go
Due: lint-go

fix: add ReplayTail stub to integration test noopEventStore
  internal/web/dist/_app/immutable/chunks/Ci-TVUoG.js
  internal/web/dist/_app/immutable/chunks/ma2fh_SH.js
  internal/web/dist/_app/immutable/entry/app.DtmycBfv.js
  internal/web/dist/_app/immutable/entry/app.frea-Www.js
  internal/web/dist/_app/immutable/entry/start.B3HVqQvR.js
  internal/web/dist/_app/immutable/entry/start.CjF5AFjA.js
  internal/web/dist/_app/immutable/nodes/0.Db8zX0JR.js
  internal/web/dist/_app/immutable/nodes/0.YCfGF7w0.js
  internal/web/dist/_app/immutable/nodes/1.CrCs2uzF.js
  internal/web/dist/_app/immutable/nodes/1.qQgYX-g_.js
  internal/web/dist/_app/immutable/nodes/3.bcjqnAnT.js
  internal/web/dist/_app/immutable/nodes/4.DG1V3dzn.js
  internal/web/dist/_app/immutable/nodes/5.UdkzSpLS.js
  internal/web/dist/_app/immutable/nodes/6.BaESFpV3.js
  internal/web/dist/_app/immutable/nodes/6.D9SH4_Vx.js
  internal/web/dist/_app/immutable/nodes/7.BPW69MhZ.js
  internal/web/dist/_app/immutable/nodes/7.DEf6VEyD.js
  internal/web/dist/_app/immutable/nodes/9.DE-BeePn.js
  internal/web/dist/_app/immutable/nodes/9.DczgEBwN.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  test/integration/phase1_5_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
