Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

ci/pr-prep: drop duplicate steps (yp2t.6) (#3836)
  .github/workflows/ci.yaml
  Taskfile.yaml
Due: lint-yaml, lint-actions

fix(eventbus): truncate publisher event.Timestamp to microsecond before AAD compute
  internal/eventbus/history/plugin_aad_reconstruction_test.go
  internal/eventbus/publisher.go
Due: lint-go

fix: CI compat + CodeRabbit auto-fixes (rounds 1+2+3) for PR #3833
  .claude/agents/adr-extractor.md
  docs/adr/holomush-fvn5-eager-attribute-resolution-per-request-caching.md
  docs/adr/holomush-ydti-use-opaque-session-tokens-instead-signed-jwts.md
  docs/superpowers/specs/2026-05-13-adr-capture-skill-design.md
  scripts/adr-doctor.sh
  scripts/adr-migrate.py
Due: none

perf(taskfile): cache plugin:build-all + dedup test:int build (yp2t.5)
  Taskfile.yaml
Due: lint-yaml

chore(eventbus,history): code-review polish — inline StampAuditRow + fix refusalCod typo
  internal/eventbus/audit_row_access.go
  internal/eventbus/history/plugin_downgrade_fence_test.go
Due: lint-go

test(plugin/testdata): test_downgrade_attacker binary fixture
  test/integration/plugin/testdata/test_downgrade_attacker/main.go
  test/integration/plugin/testdata/test_downgrade_attacker/plugin.yaml
Due: lint-go, lint-yaml

test(eventbus_e2e): INV-P7-10 e2e downgrade attacker
  test/integration/eventbus_e2e/plugin_downgrade_attacker_test.go
Due: lint-go

perf(taskfile): cache plugin:build-all + dedup test:int build (yp2t.5) (#3837)
  Taskfile.yaml
Due: lint-yaml

test(plugin): INV-P7-13 plugin role denied write on host tables
  test/integration/plugin/plugin_role_permissions_test.go
Due: lint-go

test(history): phase7_boundary_meta_test drift detector
  internal/eventbus/history/phase7_boundary_meta_test.go
Due: lint-go

ci: run bats shell tests in CI (yp2t.7)
  .github/workflows/scripts-tests.yaml
  Taskfile.yaml
Due: lint-yaml, lint-actions

docs(specs/crypto): master spec polish for Phase 7 (holomush-1r0v)
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
Due: none

chore(fmt): re-run task fmt across phase7 working tree
  cmd/holomush/admin_read_stream_e2e_test.go
  cmd/holomush/cmd_admin_read_stream.go
  cmd/holomush/cmd_admin_read_stream_test.go
  internal/admin/socket/read_stream_handler_test.go
  internal/eventbus/history/plugin_downgrade_fence.go
  internal/eventbus/history/plugin_downgrade_fence_test.go
  test/integration/eventbus_e2e/plugin_downgrade_attacker_test.go
Due: lint-go

docs(site): Phase 7 SDK + audit-subject docs
  site/docs/extending/binary-plugins.md
  site/docs/reference/audit-subjects.md
Due: lint-markdown-site, fmt-markdown-site

fix(web/terminal): skip /characters redirect when stream closes during logout (holomush-zhjl)
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

feat(deps): wire Phase 7 fence + selector identity into production
  cmd/holomush/core.go
  cmd/holomush/gateway_imports_test.go
  cmd/holomush/phase7_fence_wiring.go
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_test.go
  test/integration/eventbus_e2e/dispatcher_selector_identity_test.go
Due: lint-go

ci+web: bats tests on CI + logout navigation race fix (yp2t.7 + zhjl) (#3838)
  .github/workflows/scripts-tests.yaml
  Taskfile.yaml
  web/src/routes/(authed)/terminal/+page.svelte
Due: lint-yaml, lint-actions

fix(eventbus,fence): register plugin_integrity_violation verb + fix INV-E26 subject prefix
  cmd/holomush/gateway_imports_test.go
  cmd/holomush/phase7_fence_wiring.go
  cmd/holomush/phase7_fence_wiring_test.go
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
  internal/core/builtins.go
  site/docs/reference/audit-subjects.md
Due: lint-go, lint-markdown-site, fmt-markdown-site

docs(phase7): clean up stale audit.<game>.* doc references after INV-E26 fix
  cmd/holomush/phase7_fence_wiring.go
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
  internal/core/builtins.go
Due: lint-go

fix: apply CodeRabbit auto-fixes (8 issues) for PR #3839
  cmd/holomush/phase7_fence_wiring.go
  internal/eventbus/audit/auditheader/auditheader.go
  internal/eventbus/audit/header_parser_test.go
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/history/tier.go
  pkg/plugin/audit.go
  plugins/core-scenes/audit.go
Due: lint-go

fix(test): replace ripgrep dependency in phase7_boundary_meta_test with pure-Go walker
  internal/eventbus/history/phase7_boundary_meta_test.go
Due: lint-go

fix(test): validate runnable Go test signature in phase7 meta-test collector
  internal/eventbus/history/phase7_boundary_meta_test.go
Due: lint-go

fix(test): tighten isRunnableGoTest — UTF-8 rune + multi-name param checks
  internal/eventbus/history/phase7_boundary_meta_test.go
Due: lint-go

test: cover Phase 7 unit-test gaps surfaced by codecov on PR #3839
  cmd/holomush/phase7_fence_wiring_test.go
  pkg/plugin/audit_test.go
  plugins/core-scenes/audit_test.go
Due: lint-go

docs(repo-audit): 2026-05-13 architecture, layer, design, humanization reviews (#3831)
  docs/repository-audit/2026-05-13/architecture-review.md
  docs/repository-audit/2026-05-13/design-alignment-review.md
  docs/repository-audit/2026-05-13/humanization-review.md
  docs/repository-audit/2026-05-13/layer-review.md
Due: none

docs(specs): dj95 architecture-cleanup triage (materialized)
  docs/superpowers/specs/2026-05-14-architecture-cleanup-triage.md
Due: none

docs(specs): dj95 architecture-cleanup triage (#3840)
  docs/superpowers/specs/2026-05-14-architecture-cleanup-triage.md
Due: none

fix: apply CodeRabbit auto-fixes (round 4, 7 issues) for PR #3839
  internal/eventbus/history/plugin_downgrade_fence.go
  internal/eventbus/history/plugin_downgrade_fence_test.go
  pkg/plugin/audit_test.go
  plugins/core-scenes/audit.go
  plugins/core-scenes/audit_test.go
  test/integration/plugin/plugin_migration_test.go
Due: lint-go

fix(crypto/phase7): 4 P3 follow-ups post-merge polish (1r0v.6, 1r0v.8, 1r0v.9, 1r0v.10)
  internal/eventbus/audit_row_access.go
  internal/eventbus/history/plugin_downgrade_fence.go
  internal/eventbus/history/plugin_downgrade_fence_test.go
  internal/eventbus/publisher_test.go
  plugins/core-scenes/audit.go
  plugins/core-scenes/audit_test.go
Due: lint-go

fix(crypto/phase7): 4 P3 follow-ups post-merge polish (#3842)
  internal/eventbus/audit_row_access.go
  internal/eventbus/history/plugin_downgrade_fence.go
  internal/eventbus/history/plugin_downgrade_fence_test.go
  internal/eventbus/publisher_test.go
  plugins/core-scenes/audit.go
  plugins/core-scenes/audit_test.go
Due: lint-go

docs(crypto/phase7): document violationEmitter raw-publisher-rewrap contract (1r0v.11)
  cmd/holomush/phase7_fence_wiring.go
  cmd/holomush/sub_grpc.go
Due: lint-go

fix(cluster/clustertest): event-driven AwaitMemberPresent — eliminate poll-loop race (1r0v.15)
  internal/cluster/clustertest/harness.go
  internal/cluster/clustertest/harness_test.go
  internal/cluster/probe_pill_test.go
  internal/eventbus/crypto/invalidation/coordinator_send_test.go
Due: lint-go

refactor(crypto/phase7): newViolationEmitter encapsulates the RenderingPublisher wrap (1r0v.11 part 2)
  cmd/holomush/phase7_fence_wiring.go
  cmd/holomush/phase7_fence_wiring_test.go
  cmd/holomush/sub_grpc.go
Due: lint-go

docs(crypto/phase7): document violationEmitter raw-publisher-rewrap contract (#3843)
  cmd/holomush/phase7_fence_wiring.go
  cmd/holomush/phase7_fence_wiring_test.go
  cmd/holomush/sub_grpc.go
Due: lint-go

fix(cluster/clustertest): event-driven AwaitMemberPresent (1r0v.15) (#3844)
  internal/cluster/clustertest/harness.go
  internal/cluster/clustertest/harness_test.go
  internal/cluster/probe_pill_test.go
  internal/eventbus/crypto/invalidation/coordinator_send_test.go
Due: lint-go

docs(plan): testify+ginkgo migration completion plan v2 (holomush-rccc / 1hq.26)
  docs/superpowers/plans/2026-05-15-testify-ginkgo-migration-completion-plan.md
  docs/superpowers/specs/2026-05-15-testify-ginkgo-migration-completion-design.md
Due: none

docs(plan): testify+ginkgo migration completion design + plan (1hq.26 / rccc) (#3937)
  docs/superpowers/plans/2026-05-15-testify-ginkgo-migration-completion-plan.md
  docs/superpowers/specs/2026-05-15-testify-ginkgo-migration-completion-design.md
Due: none

errutil(testing): widen Assert* helpers to testing.TB
  pkg/errutil/testing.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
