Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(state): record phase 2 context session
  .planning/STATE.md
Due: none

docs(roadmap): declare UI hints on v0.13 phases 1-4; retire --skip-ui
  .planning/ROADMAP.md
Due: none

docs(roadmap): insert Phase 01.1 — goose adoption, gating Phase 2 execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-abac-schema-vocabulary/02-CONTEXT.md
Due: none

docs(01.1): add pattern map
  .planning/config.json
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-PATTERNS.md
Due: none

docs(01.1-01): complete goose migration-engine adoption plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-01-SUMMARY.md
Due: none

test(01.1-02): read one migration direction, not the merged goose file
  internal/store/events_audit_partition_migration_integration_test.go
  internal/store/migrations_export_test.go
  internal/store/migrations_section_test.go
  internal/store/migrations_sessions_location_index_integration_test.go
Due: lint-go

docs(01.1): capture phase context
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-CONTEXT.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-DISCUSSION-LOG.md
Due: none

docs(01.1): add research and validation strategy
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-RESEARCH.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-VALIDATION.md
Due: none

docs(state): record phase 01.1 context session
  .planning/STATE.md
Due: none

test(01.1-02): assert goose bookkeeping end-state and finish the sweep
  internal/store/migrate_integration_test.go
  internal/store/migrations_audit_shape_integration_test.go
  internal/store/testhelpers_test.go
Due: lint-go

docs(01.1): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-01-PLAN.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-02-PLAN.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-03-PLAN.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-04-PLAN.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-05-PLAN.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-06-PLAN.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-07-PLAN.md
Due: none

refactor(01.1-01): replace golang-migrate with goose in the migration engine
  Taskfile.yaml
  cmd/holomush/core_test.go
  cmd/holomush/main_test.go
  cmd/holomush/migrate.go
  cmd/holomush/migrate_test.go
  go.mod
  go.sum
  internal/store/migrate.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/testhelpers_test.go
Due: lint-go, lint-yaml

test(01.1-04): prove the adopt cutover against a real database
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/store/migrate_adopt.go
  internal/store/migrate_adopt_export_test.go
  internal/store/migrate_adopt_integration_test.go
Due: lint-go, lint-yaml

test(01.1-03): enforce goose $$ wrapping across the migration corpus (D-13)
  internal/store/migrations_format_test.go
Due: lint-go

docs(01.1-05): complete docker/docker suppression retirement plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-05-SUMMARY.md
Due: none

chore(01.1-05): retire the five docker/docker vuln suppressions
  osv-scanner.toml
Due: none

feat(01.1-04): add the golang-migrate to goose adopt gate
  internal/store/migrate.go
  internal/store/migrate_adopt.go
  internal/store/migrate_adopt_test.go
Due: lint-go

test(01.1-06): prove the SQL->Go->SQL interleave and the refusing irreversible down
  internal/store/migrate_gointerleave_integration_test.go
Due: lint-go

docs(01.1-04): complete adopt gate plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-04-SUMMARY.md
Due: none

docs(01.1-02): complete migration-rename breakage-closure plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-02-SUMMARY.md
Due: none

test(01.1-03): statically pin both lint:no-timestamptz globs (C5c)
  internal/store/lint_meta_test.go
Due: lint-go

feat(01.1-06): make internal/store/migrations a Go package and guard registration
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/store/migrations/doc.go
  internal/store/migrations_register.go
  internal/store/migrations_register_test.go
Due: lint-go, lint-yaml

docs(01.1-03): complete format and lint guards plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-03-SUMMARY.md
Due: none

docs(01.1-07): rewrite author-facing migration guidance for the goose single-file format
  .claude/rules/database-migrations.md
  .claude/skills/new-migration/SKILL.md
  .planning/codebase/STACK.md
  CLAUDE.md
  Taskfile.yaml
  site/src/content/docs/contributing/how-to/database-migrations.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

docs(01.1-07): correct the operator docs for a migrator with no dirty state
  site/src/content/docs/operating/how-to/database.md
  site/src/content/docs/operating/reference/configuration.md
Due: lint-markdown-site, fmt-markdown-site

docs(operating): diagnose an empty legacy ledger in the adopt runbook
  site/src/content/docs/operating/how-to/database.md
Due: lint-markdown-site, fmt-markdown-site

docs(01.1-07): complete migration-docs and operator-runbook plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-07-SUMMARY.md
Due: none

docs(01.1-07): add the cutover rehearsal and the expiring rollback, retire the bootstrap script
  scripts/bootstrap-migrations.sql
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
  site/src/content/docs/operating/how-to/sandbox/sandbox-restore.md
Due: lint-markdown-site, fmt-markdown-site

test(01.1): record phase verification and persist human verification items
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-UAT.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-VERIFICATION.md
Due: none

fix(store): mirror goose's annotation parser so the migration guards stop failing open
  internal/store/migrations_export_test.go
  internal/store/migrations_format_test.go
  internal/store/migrations_section_test.go
Due: lint-go

test(store): reject goose ENVSUB annotations in embedded migrations
  .claude/rules/database-migrations.md
  internal/store/migrations_export_test.go
  internal/store/migrations_format_test.go
Due: lint-go

docs(01.1-06): complete go-interleave and package-seam plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-06-SUMMARY.md
Due: none

fix(store): fire the adopt gate from every upward migration path
  internal/store/migrate.go
  internal/store/migrate_adopt_integration_test.go
Due: lint-go

fix(store): refuse an ambiguous legacy ledger instead of guessing a version
  internal/store/migrate_adopt.go
  internal/store/migrate_adopt_integration_test.go
  site/src/content/docs/operating/how-to/database.md
Due: lint-go, lint-markdown-site, fmt-markdown-site

docs(store): finish the goose single-file migration path-citation sweep
  internal/testsupport/integrationtest/harness.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/parent_location_resolver.go
  test/integration/privacy/privacy_test.go
  test/integration/session/lifecycle_termination_test.go
  test/meta/world_sql_fence_test.go
Due: lint-go

docs(01.1): record the deep code-review report
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-REVIEW.md
Due: none

chore(01.1): close the three discharged 01.1 broken-windows entries
  .planning/WINDOWS.md
Due: none

fix(cli): make migrate up --dry-run tell the truth about a pre-adopt database
  cmd/holomush/migrate.go
  cmd/holomush/migrate_test.go
  internal/store/migrate_adopt.go
  internal/store/migrate_adopt_integration_test.go
  internal/store/migrate_adopt_preview.go
  site/src/content/docs/operating/how-to/database.md
Due: lint-go, lint-markdown-site, fmt-markdown-site

style(invariants): drop the trailing comma this diff reintroduced
  docs/architecture/invariants.yaml
Due: lint-yaml

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
