Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        command -v addlicense >/dev/null 2>&1 || {
          echo "Installing addlicense..."
          go install github.com/google/addlicense@latest
        }
        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      run: markdownlint-cli2 {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamllint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

feat(world): add constructor functions and improve type encapsulation
  internal/plugin/hostfunc/adapter_test.go
  internal/plugin/hostfunc/world.go
  internal/plugin/hostfunc/world_test.go
  internal/world/character.go
  internal/world/character_test.go
  internal/world/events.go
  internal/world/events_test.go
  internal/world/exit.go
  internal/world/exit_test.go
  internal/world/object.go
  internal/world/object_test.go
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
  internal/world/service.go
  internal/world/service_test.go
  test/integration/world/object_repo_test.go
  test/integration/world/objects_test.go
  test/integration/world/world_suite_test.go
Due: lint-go, schema-sync

bd daemon sync: 2026-01-25 14:00:16
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:00:22
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:00:29
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:05:27
  .beads/issues.jsonl
Due: none

fix(plugin): inherit parent context in Lua query functions
  internal/plugin/hostfunc/world.go
  internal/plugin/hostfunc/world_test.go
  internal/plugin/lua/host.go
Due: lint-go, schema-sync

bd daemon sync: 2026-01-25 14:14:21
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:14:28
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:14:45
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:14:50
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:16:30
  .beads/issues.jsonl
Due: none

docs(plugin): document error handling and correlation ID pattern
  site/docs/developers/plugin-guide.md
Due: lint-markdown

bd daemon sync: 2026-01-25 14:17:12
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:17:24
  .beads/issues.jsonl
Due: none

docs(world): complete CreateExit/UpdateExit validation documentation
  internal/world/service.go
Due: lint-go

bd daemon sync: 2026-01-25 14:18:18
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:18:20
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:18:39
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:19:20
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:21:02
  .beads/issues.jsonl
Due: none

docs(plugin): add WithWorldQuerier migration guide
  site/docs/developers/plugin-guide.md
Due: lint-markdown

bd daemon sync: 2026-01-25 14:21:19
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:21:35
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:23:03
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:24:00
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:25:44
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:25:57
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:26:53
  .beads/issues.jsonl
Due: none

feat(world): add constructor functions for Location type
  internal/world/location.go
  internal/world/location_test.go
  internal/world/service.go
Due: lint-go

bd daemon sync: 2026-01-25 14:27:22
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:27:46
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:31:01
  .beads/issues.jsonl
Due: none

feat(world): add constructor functions for payload types
  internal/world/payloads.go
  internal/world/payloads_test.go
Due: lint-go

bd daemon sync: 2026-01-25 14:31:08
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:31:20
  .beads/issues.jsonl
Due: none

test(world): add test for MoveObject event emission failure
  internal/world/service_test.go
Due: lint-go

bd daemon sync: 2026-01-25 14:32:07
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 14:32:23
  .beads/issues.jsonl
Due: none

docs(hostfunc): consolidate defensive nil-check comments in adapter
  internal/plugin/hostfunc/adapter.go
Due: lint-go, schema-sync

bd daemon sync: 2026-01-25 14:33:09
  .beads/issues.jsonl
Due: none
