Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(01): cross-AI review round 3 (codex) — R2-A/B/C resolved, 1 new HIGH (R3-A)
  .planning/phases/01-channels-subsystem/01-REVIEWS.md
Due: none

docs(01): close round-3 finding R3-A — unify plugin session-stream fence across both paths
  .planning/phases/01-channels-subsystem/01-02-PLAN.md
  .planning/phases/01-channels-subsystem/01-08-PLAN.md
Due: none

docs(01): cross-AI review round 4 (codex) — R3-A resolved, 1 new HIGH (R4-A history_scope)
  .planning/phases/01-channels-subsystem/01-REVIEWS.md
Due: none

docs(01): close round-4 finding R4-A — history_scope: custom (spec-grounded)
  .planning/phases/01-channels-subsystem/01-03-PLAN.md
  .planning/phases/01-channels-subsystem/01-06-PLAN.md
  .planning/phases/01-channels-subsystem/01-09-PLAN.md
  .planning/phases/01-channels-subsystem/01-RESEARCH.md
Due: none

docs(01): cross-AI review round 5 (codex) — READY (convergence complete)
  .planning/phases/01-channels-subsystem/01-REVIEWS.md
Due: none

feat(01-01): define holomush.channel.v1.ChannelService proto
  api/proto/holomush/channel/v1/channel.proto
Due: none

chore(01-01): sync stale comm.pb.go generated header
  pkg/proto/holomush/comm/v1/comm.pb.go
Due: lint-go

feat(01-01): regenerate + commit ChannelService Go/web bindings
  pkg/proto/holomush/channel/v1/channel.pb.go
  pkg/proto/holomush/channel/v1/channel_grpc.pb.go
  pkg/proto/holomush/channel/v1/channelv1connect/channel.connect.go
  web/src/lib/connect/holomush/channel/v1/channel_pb.ts
Due: lint-go

docs(01-01): regenerate grpc-api.md for ChannelService
  site/src/content/docs/reference/grpc-api.md
Due: lint-markdown-site, fmt-markdown-site

docs(01-01): complete ChannelService proto plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-channels-subsystem/01-01-SUMMARY.md
  .planning/phases/01-channels-subsystem/deferred-items.md
Due: none

feat(01-02): binary SDK SessionStreamsHandler + relative-only session streams + shared establishment namespace fence
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  internal/plugin/pluginauthz/streamsubscribe.go
  internal/plugin/pluginauthz/streamsubscribe_test.go
  pkg/plugin/sdk.go
  pkg/plugin/session_streams_handler.go
  pkg/plugin/session_streams_handler_test.go
Due: lint-go, schema-sync

feat(01-02): serve stream.subscription safely — LIVE_ONLY end-to-end + concrete-stream authz guard + seed
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
  internal/grpc/stream_registry.go
  internal/grpc/stream_registry_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/hostcap/capabilities.go
  internal/plugin/hostcap/register.go
  internal/plugin/hostcap/register_test.go
  internal/plugin/hostcap/servers.go
  internal/plugin/hostcap/streamsubscribe_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/lua/hostcap_adapter.go
  internal/plugin/setup/subsystem.go
Due: lint-go, schema-sync

feat(01-02): binary SDK StreamSubscription client + Aware + capability declaration
  pkg/plugin/capability_declaration.go
  pkg/plugin/capability_declaration_registry_test.go
  pkg/plugin/sdk.go
  pkg/plugin/stream_subscription_client.go
  pkg/plugin/stream_subscription_client_test.go
Due: lint-go

fix(01-02): restructure stream.subscription oops-code assertion for errcheck
  internal/plugin/hostcap/servers.go
Due: lint-go, schema-sync

docs(01-02): complete live-delivery host substrate plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-channels-subsystem/01-02-SUMMARY.md
Due: none

feat(01-03): scaffold core-channels plugin skeleton + schema + types
  plugins/core-channels/core_channels_suite_test.go
  plugins/core-channels/main.go
  plugins/core-channels/migrations/000001_channels.down.sql
  plugins/core-channels/migrations/000001_channels.up.sql
  plugins/core-channels/migrations/000002_create_channel_log.down.sql
  plugins/core-channels/migrations/000002_create_channel_log.up.sql
  plugins/core-channels/plugin.yaml
  plugins/core-channels/types.go
  plugins/core-channels/types_test.go
Due: lint-go, lint-yaml

feat(01-03): channelStore CRUD + membership + case-insensitive name lookup
  plugins/core-channels/store.go
  plugins/core-channels/store_test.go
Due: lint-go

feat(01-03): idempotent default-channel seeding at Init + ListDefaultChannels
  plugins/core-channels/main.go
  plugins/core-channels/plugin.yaml
  plugins/core-channels/store.go
  plugins/core-channels/store_test.go
Due: lint-go, lint-yaml

docs(01-03): complete channels data foundation plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-channels-subsystem/01-03-SUMMARY.md
Due: none

docs(01): apply markdown fmt to phase-1 planning artifacts
  .planning/phases/01-channels-subsystem/01-01-PLAN.md
  .planning/phases/01-channels-subsystem/01-01-SUMMARY.md
  .planning/phases/01-channels-subsystem/01-02-PLAN.md
  .planning/phases/01-channels-subsystem/01-02-SUMMARY.md
  .planning/phases/01-channels-subsystem/01-03-PLAN.md
  .planning/phases/01-channels-subsystem/01-04-PLAN.md
  .planning/phases/01-channels-subsystem/01-05-PLAN.md
  .planning/phases/01-channels-subsystem/01-05b-PLAN.md
  .planning/phases/01-channels-subsystem/01-06-PLAN.md
  .planning/phases/01-channels-subsystem/01-07-PLAN.md
  .planning/phases/01-channels-subsystem/01-08-PLAN.md
  .planning/phases/01-channels-subsystem/01-09-PLAN.md
  .planning/phases/01-channels-subsystem/01-CONTEXT.md
  .planning/phases/01-channels-subsystem/01-RESEARCH.md
Due: none

test(01-04): add failing ChannelResolver tests (RED)
  plugins/core-channels/observability.go
  plugins/core-channels/resolver.go
  plugins/core-channels/resolver_test.go
Due: lint-go

feat(01-04): implement ChannelResolver + resource_types:[channel] (GREEN)
  plugins/core-channels/main.go
  plugins/core-channels/plugin.yaml
  plugins/core-channels/resolver.go
Due: lint-go, lint-yaml

feat(01-04): ABAC seed policies + actions + verbs for core-channels
  plugins/core-channels/plugin.yaml
Due: lint-yaml

docs(01-04): complete ChannelResolver + ABAC policies plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-channels-subsystem/01-04-SUMMARY.md
Due: none

test(01-05): add failing ChannelService create/join/leave/list tests
  plugins/core-channels/service.go
  plugins/core-channels/service_test.go
Due: lint-go

feat(01-05): implement ChannelService create/join/leave/list
  plugins/core-channels/service.go
Due: lint-go

feat(01-05): register ChannelService + eval capability; fix DSL sentinel
  plugins/core-channels/main.go
  plugins/core-channels/plugin.yaml
  plugins/core-channels/service.go
Due: lint-go, lint-yaml

docs(01-05): complete ChannelService structural-ops plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-channels-subsystem/01-05-SUMMARY.md
Due: none

docs(01): sweep fmt-hook reflow of 01-03/01-04 summaries
  .planning/phases/01-channels-subsystem/01-03-SUMMARY.md
  .planning/phases/01-channels-subsystem/01-04-SUMMARY.md
Due: none

test(01-06): add failing tests for channel content + notice emit
  plugins/core-channels/publish_events.go
  plugins/core-channels/publish_events_test.go
Due: lint-go

feat(01-06): emit channel content + notice events through shared EventBus
  plugins/core-channels/main.go
  plugins/core-channels/publish_events.go
  plugins/core-channels/service.go
Due: lint-go

test(01-06): add failing tests for channel_log audit + membership-gated history
  plugins/core-channels/audit.go
  plugins/core-channels/audit_test.go
Due: lint-go

feat(01-06): channel_log audit — idempotent AuditEvent + membership-gated QueryHistory
  plugins/core-channels/audit.go
  plugins/core-channels/audit_integration_test.go
  plugins/core-channels/main.go
  plugins/core-channels/plugin.yaml
  plugins/core-channels/store.go
Due: lint-go, lint-yaml

docs(01-06): complete channel emit + membership-gated history plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-channels-subsystem/01-06-SUMMARY.md
Due: none

docs(01-06): record channel emit/audit decisions in STATE
  .planning/STATE.md
Due: none

docs(01): sweep fmt-hook reflow of 01-05 summary
  .planning/phases/01-channels-subsystem/01-05-SUMMARY.md
Due: none

test(01-05b): add failing tests for the remaining ChannelService RPCs
  plugins/core-channels/audit.go
  plugins/core-channels/main.go
  plugins/core-channels/plugin.yaml
  plugins/core-channels/service.go
  plugins/core-channels/service_test.go
  plugins/core-channels/store.go
Due: lint-go, lint-yaml

feat(01-05b): implement the remaining 8 ChannelService RPCs (HIGH-4)
  plugins/core-channels/service_rpcs.go
Due: lint-go

style(01-05b): satisfy linters (errcheck, nolintlint, unparam)
  plugins/core-channels/audit.go
  plugins/core-channels/service_rpcs.go
  plugins/core-channels/service_test.go
Due: lint-go

docs(01-05b): complete ChannelService RPC surface plan (HIGH-4)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-channels-subsystem/01-05b-SUMMARY.md
Due: none
