Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(plan): Lua plugin resource limits implementation plan (holomush-u9p5)
  docs/superpowers/plans/2026-04-17-lua-resource-limits.md
Due: none

test(plugin): integration tests for Lua resource limits
  test/integration/plugin/lua_resource_limits_integration_test.go
  test/integration/plugin/testdata/lua/cpu_bomb/manifest.yaml
  test/integration/plugin/testdata/lua/cpu_bomb/plugin.lua
  test/integration/plugin/testdata/lua/memory_bomb/manifest.yaml
  test/integration/plugin/testdata/lua/memory_bomb/plugin.lua
Due: lint-go, lint-yaml

feat(plugin/lua): route all CallByParam dispatches through invoke
  internal/plugin/lua/host.go
Due: lint-go, schema-sync

test(plugin/hostfunc): meta-test locks hostfunc context-respect invariant
  internal/plugin/hostfunc/context_audit_test.go
  internal/plugin/hostfunc/functions.go
Due: lint-go, schema-sync

feat(plugin/lua): Host.invoke helper with CPU deadline and watchdog
  internal/plugin/lua/host.go
  internal/plugin/lua/invoke.go
  internal/plugin/lua/invoke_test.go
Due: lint-go, schema-sync

docs(operating,contributing): document Lua plugin resource limits
  site/docs/contributing/hostfunc-context-audit.md
  site/docs/operating/plugin-security.md
Due: lint-markdown-site, fmt-markdown-site

feat(plugin/lua): StateFactory RegistryMaxSize option
  internal/plugin/lua/state.go
  internal/plugin/lua/state_test.go
Due: lint-go, schema-sync

chore(pr-review): address CodeRabbit review findings on PR #231
  docs/superpowers/plans/2026-04-17-lua-resource-limits.md
  internal/plugin/hostfunc/context_audit_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/lua/invoke.go
  internal/plugin/lua/invoke_test.go
  internal/plugin/lua/state_test.go
  site/docs/contributing/hostfunc-context-audit.md
  test/integration/plugin/lua_resource_limits_integration_test.go
  test/integration/plugin/testdata/lua/memory_bomb/plugin.lua
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

feat(plugin/lua): resource limits — CPU timeout, registry cap, watchdog, hostfunc audit (#231)
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/deps_test.go
  docs/superpowers/plans/2026-04-17-lua-resource-limits.md
  docs/superpowers/specs/2026-04-17-lua-resource-limits-design.md
  internal/plugin/hostfunc/context_audit_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/lua/host.go
  internal/plugin/lua/invoke.go
  internal/plugin/lua/invoke_test.go
  internal/plugin/lua/metrics.go
  internal/plugin/lua/metrics_test.go
  internal/plugin/lua/state.go
  internal/plugin/lua/state_test.go
  internal/plugin/setup/subsystem.go
  site/docs/contributing/hostfunc-context-audit.md
  site/docs/operating/plugin-security.md
  test/integration/plugin/lua_resource_limits_integration_test.go
  test/integration/plugin/testdata/lua/cpu_bomb/manifest.yaml
  test/integration/plugin/testdata/lua/cpu_bomb/plugin.lua
  test/integration/plugin/testdata/lua/memory_bomb/manifest.yaml
  test/integration/plugin/testdata/lua/memory_bomb/plugin.lua
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, schema-sync

test(web): backfillStreams rejects with abort reason mid-flight
  web/src/lib/backfill/streamBackfill.test.ts
  web/src/lib/backfill/streamBackfill.ts
Due: none

feat(proto): add event_id to webv1.GameEvent for backfill dedup
  api/proto/holomush/web/v1/web.proto
  internal/web/translate.go
  internal/web/translate_test.go
  pkg/proto/holomush/web/v1/web.pb.go
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(proto): add WebService.WebListSessionStreams RPC
  api/proto/holomush/web/v1/web.proto
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/src/lib/connect/holomush/web/v1/web_connect.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(web): backfillStreams retries transient errors once
  web/src/lib/backfill/streamBackfill.test.ts
  web/src/lib/backfill/streamBackfill.ts
Due: none

feat(web): backfillStreams helper — empty-streams shortcut
  web/src/lib/backfill/streamBackfill.test.ts
  web/src/lib/backfill/streamBackfill.ts
Due: none

test(integration): ListSessionStreams returns expected streams
  test/integration/list_session_streams/list_session_streams_integration_test.go
  test/integration/list_session_streams/list_session_streams_suite_test.go
Due: lint-go

feat(web): terminal page calls WebQueryStreamHistory on mount for backfill
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

docs(spec): B13 web client reload backfill design
  docs/superpowers/specs/2026-04-17-b13-web-client-backfill-design.md
Due: none

feat(web): backfillStreams success path with (timestamp, eventId) merge
  web/src/lib/backfill/streamBackfill.test.ts
  web/src/lib/backfill/streamBackfill.ts
Due: none

chore(web): install and configure vitest
  web/package.json
  web/pnpm-lock.yaml
  web/vite.config.ts
Due: lint-yaml

feat(web): WebListSessionStreams handler
  internal/web/handler.go
  internal/web/handler_test.go
Due: lint-go

feat(grpc): ListSessionStreams handler
  internal/grpc/list_session_streams.go
  internal/grpc/list_session_streams_test.go
Due: lint-go

feat(proto): add CoreService.ListSessionStreams RPC
  api/proto/holomush/core/v1/core.proto
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/web/handler.go
  internal/web/handler_test.go
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/core/v1/core_grpc.pb.go
  pkg/proto/holomush/core/v1/corev1connect/core.connect.go
  web/src/lib/connect/holomush/core/v1/core_connect.ts
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

docs(plan): B13 implementation plan
  docs/superpowers/plans/2026-04-18-b13-web-client-backfill.md
Due: none

test(e2e): un-skip reload-replay test, add separator assertion
  web/e2e/terminal.spec.ts
Due: none

feat(web): isUnimplementedError utility for staged rollouts
  web/src/lib/connect/errors.test.ts
  web/src/lib/connect/errors.ts
Due: none

test(e2e): detach + accumulated events produces no duplicates
  web/e2e/terminal.spec.ts
Due: none

fix: apply CodeRabbit review findings for B13
  api/proto/holomush/core/v1/core.proto
  docs/superpowers/specs/2026-04-17-b13-web-client-backfill-design.md
  internal/grpc/list_session_streams.go
  internal/grpc/list_session_streams_test.go
  internal/web/handler.go
  internal/web/handler_test.go
  internal/web/translate_test.go
  pkg/proto/holomush/core/v1/core.pb.go
  test/integration/list_session_streams/list_session_streams_integration_test.go
  test/integration/list_session_streams/list_session_streams_suite_test.go
  web/src/lib/backfill/streamBackfill.test.ts
  web/src/lib/backfill/streamBackfill.ts
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: lint-go

fix(web): drop double localSpan.end() on STREAM_CLOSED paths
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

feat(web): B13 reload backfill via QueryStreamHistory (#232)
  api/proto/holomush/core/v1/core.proto
  api/proto/holomush/web/v1/web.proto
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  docs/superpowers/plans/2026-04-18-b13-web-client-backfill.md
  docs/superpowers/specs/2026-04-17-b13-web-client-backfill-design.md
  internal/grpc/client.go
  internal/grpc/list_session_streams.go
  internal/grpc/list_session_streams_test.go
  internal/web/handler.go
  internal/web/handler_test.go
  internal/web/translate.go
  internal/web/translate_test.go
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/core/v1/core_grpc.pb.go
  pkg/proto/holomush/core/v1/corev1connect/core.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  test/integration/list_session_streams/list_session_streams_integration_test.go
  test/integration/list_session_streams/list_session_streams_suite_test.go
  web/e2e/terminal.spec.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/backfill/streamBackfill.test.ts
  web/src/lib/backfill/streamBackfill.ts
  web/src/lib/connect/errors.test.ts
  web/src/lib/connect/errors.ts
  web/src/lib/connect/holomush/core/v1/core_connect.ts
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/web/v1/web_connect.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/routes/(authed)/terminal/+page.svelte
  web/vite.config.ts
Due: lint-go, lint-yaml

test(store): meta-test ensures events table stays append-only in core Go source
  internal/store/events_immutable_test.go
Due: lint-go

test(store): meta-test keeps events table append-only in core Go source (#227)
  internal/store/events_immutable_test.go
Due: lint-go

feat(focus): B14 — LeaveFocusByTarget cross-session fan-out (oy6e.14)
  api/proto/holomush/plugin/v1/plugin.proto
  internal/grpc/focus/coordinator.go
  internal/grpc/focus/leave_by_target.go
  internal/grpc/focus/leave_by_target_test.go
  internal/grpc/list_session_streams_test.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/hostfunc/stdlib_focus.go
  internal/plugin/hostfunc/stdlib_focus_test.go
  internal/plugin/lua/host_test.go
  internal/plugin/manager_test.go
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/session/mocks/mock_Store.go
  internal/session/session.go
  internal/store/session_store.go
  internal/store/session_store_integration_test.go
  pkg/plugin/focus_client.go
  pkg/plugin/focus_client_test.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_test.go
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, schema-sync

fix(telnet): deliver Goodbye! on drain-timeout/early-close — unblock flaky quit e2e
  internal/telnet/gateway_handler.go
Due: lint-go

feat(focus): B14 — LeaveFocusByTarget cross-session fan-out (oy6e.14) (#234)
  api/proto/holomush/plugin/v1/plugin.proto
  internal/grpc/focus/coordinator.go
  internal/grpc/focus/leave_by_target.go
  internal/grpc/focus/leave_by_target_test.go
  internal/grpc/list_session_streams_test.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/hostfunc/stdlib_focus.go
  internal/plugin/hostfunc/stdlib_focus_test.go
  internal/plugin/lua/host_test.go
  internal/plugin/manager_test.go
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/session/mocks/mock_Store.go
  internal/session/session.go
  internal/store/session_store.go
  internal/store/session_store_integration_test.go
  internal/telnet/gateway_handler.go
  pkg/plugin/focus_client.go
  pkg/plugin/focus_client_test.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_test.go
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, schema-sync

fix(telnet+grpc): close race + leave-event flake in telnet E2E (holomush-umxj)
  internal/grpc/drain_test.go
  internal/grpc/server.go
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/store/session_store.go
  internal/store/session_store_integration_test.go
  internal/telnet/gateway_handler.go
Due: lint-go

fix(telnet+grpc): close race + leave-event flake in telnet E2E (holomush-umxj) (#237)
  internal/grpc/drain_test.go
  internal/grpc/server.go
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/store/session_store.go
  internal/store/session_store_integration_test.go
  internal/telnet/gateway_handler.go
Due: lint-go

feat(web): add layout + density + animation tokens to app.css; hydrate uiPrefs on mount
  web/src/app.css
  web/src/routes/+layout.svelte
Due: none

feat(web): add CommandPalette on cmdk-sv with UI-action registry
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/components/terminal/CommandPalette.svelte
  web/src/routes/+layout.svelte
Due: lint-yaml

feat(web): add Rail.svelte (48px nav rail) with Room/Settings + coming-soon placeholders
  web/src/lib/components/terminal/Rail.svelte
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

feat(web): global keyboard handler with IME guard for ⌘K/B/./L + ⌘⇧E
  web/src/routes/(authed)/terminal/+page.svelte
  web/src/routes/+layout.svelte
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
