Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

feat(access): ABAC T21b — CI benchmark regression enforcement
  .benchmarks/baseline.txt
  .github/workflows/benchmark-check.yml
  scripts/check-benchmark-regression.sh
Due: lint-yaml, lint-actions

fix(access): address PR #86 review — concurrency bug, S6 validation, and compliance fixes
  Taskfile.yaml
  internal/access/policy/attribute/cache.go
  internal/access/policy/attribute/command_test.go
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/access/policy/engine.go
  internal/access/policy/engine_bench_test.go
  internal/access/policy/engine_test.go
  internal/access/policy/metrics.go
  scripts/check-benchmark-regression.sh
Due: lint-go, lint-yaml

fix(access): add Decision.Validate() and metrics to stale-cache path
  internal/access/policy/attribute/resolver_test.go
  internal/access/policy/engine.go
Due: lint-go

fix(access): pre-allocate slices to satisfy prealloc linter
  internal/access/policy/engine.go
Due: lint-go

feat(access): define 18 seed policy constants for ABAC Phase 7.4 (T22)
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
Due: lint-go

feat(access): resolve seed policy coverage gaps G1-G4 (T22b)
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
Due: lint-go

feat(access): add bootstrap sequence and seed policy installer (T23)
  internal/access/policy/bootstrap.go
  internal/access/policy/bootstrap_test.go
  internal/access/policy/store/errors.go
Due: lint-go

feat(access): add validate-seeds CLI, smoke tests, and fix qualified attribute paths (T23b)
  cmd/holomush/root.go
  cmd/holomush/validate_seeds.go
  cmd/holomush/validate_seeds_test.go
  internal/access/policy/attribute/character.go
  internal/access/policy/attribute/character_test.go
  internal/access/policy/bootstrap_test.go
  internal/access/policy/seed.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/seed_test.go
Due: lint-go

feat(access): wire bootstrap to server startup, add --skip-seed-migrations flag (PR #87 review)
  cmd/holomush/core.go
  docs/specs/decisions/epic7/phase-7.4/112-fully-qualified-attribute-paths-in-seed-dsl.md
  internal/access/policy/audit/partition_creator.go
  internal/access/policy/audit/partition_creator_test.go
Due: lint-go

fix(access): add debug logs when seed policy bootstrap is skipped
  cmd/holomush/core.go
Due: lint-go

fix(access): make seed policy bootstrap fatal via injectable CoreDeps
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
Due: lint-go

test(access): add test for non-PostgresEventStore bootstrap fatal path (PR #87 review)
  cmd/holomush/deps_test.go
Due: lint-go

feat(access): ABAC Phase 7.4 — Seed Policies & Bootstrap (#87)
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  cmd/holomush/root.go
  cmd/holomush/validate_seeds.go
  cmd/holomush/validate_seeds_test.go
  docs/specs/decisions/epic7/phase-7.4/112-fully-qualified-attribute-paths-in-seed-dsl.md
  internal/access/policy/attribute/character.go
  internal/access/policy/attribute/character_test.go
  internal/access/policy/audit/partition_creator.go
  internal/access/policy/audit/partition_creator_test.go
  internal/access/policy/bootstrap.go
  internal/access/policy/bootstrap_test.go
  internal/access/policy/seed.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/seed_test.go
  internal/access/policy/store/errors.go
Due: lint-go

refactor(command): migrate command package to AccessPolicyEngine
  .mockery.yaml
  internal/access/policy/policytest/helpers.go
  internal/access/policy/policytest/mock_AccessPolicyEngine.go
  internal/access/static.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/look.go
  internal/command/handlers/look_test.go
  internal/command/handlers/move.go
  internal/command/handlers/move_test.go
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
  internal/command/handlers/shutdown_test.go
  internal/command/handlers/testutil/services.go
  internal/command/handlers/wall_test.go
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
  internal/command/middleware_test.go
  internal/command/rate_limit_middleware.go
  internal/command/types.go
  internal/command/types_test.go
  internal/plugin/mocks/mock_Host.go
Due: lint-go, lint-yaml, schema-sync

refactor(world): migrate world service to AccessPolicyEngine
  .mockery.yaml
  internal/command/handlers/boot_test.go
  internal/command/handlers/look_test.go
  internal/command/handlers/move_test.go
  internal/command/handlers/objects_test.go
  internal/command/handlers/testutil/world_service.go
  internal/command/handlers/who_test.go
  internal/world/events_test.go
  internal/world/service.go
  internal/world/service_test.go
  internal/world/worldtest/mock_AccessControl.go
  internal/world/worldtest/mock_AccessPolicyEngine.go
  test/integration/building/building_test.go
Due: lint-go, lint-yaml

refactor(plugin): migrate plugin host functions to AccessPolicyEngine
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/hostfunc/functions.go
Due: lint-go, schema-sync

fix(access): add SPDX header and use SubjectCharacter constant in test
  internal/command/rate_limit_middleware.go
  internal/world/events_test.go
Due: lint-go

fix(access): address PR #88 review findings
  internal/access/policy/policytest/helpers.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/middleware_test.go
  internal/command/rate_limit_middleware.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go, schema-sync

chore(claude): add automation recommendations
  .claude/agents/abac-reviewer.md
  .claude/hooks/go-vet.sh
  .claude/settings.json
  .claude/skills/new-integration-test/SKILL.md
  .claude/skills/new-migration/SKILL.md
  .mcp.json
Due: none

fix(lint): resolve markdown lint errors in skills and agents
  .claude/agents/abac-reviewer.md
  .claude/skills/new-integration-test/SKILL.md
  .claude/skills/new-migration/SKILL.md
Due: none

chore(claude): add automation recommendations (#89)
  .claude/agents/abac-reviewer.md
  .claude/hooks/go-vet.sh
  .claude/settings.json
  .claude/skills/new-integration-test/SKILL.md
  .claude/skills/new-migration/SKILL.md
  .mcp.json
Due: none

fix(access): address PR #88 round-3 review findings
  .github/workflows/ci.yaml
  Taskfile.yaml
  internal/access/access.go
  internal/access/static.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
  internal/command/handlers/boot.go
  internal/command/middleware_test.go
  internal/command/rate_limit_middleware.go
  internal/core/event.go
  internal/plugin/communication_integration_test.go
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/stdlib_test.go
  internal/plugin/lua/host_test.go
  internal/world/service.go
  pkg/holo/emit.go
  pkg/holo/emit_test.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go, lint-yaml, lint-actions, schema-sync

test(access): add verification tests for Phase 7.6 migration
  internal/command/dispatcher_test.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/service_test.go
Due: lint-go, schema-sync

fix(access): address comprehensive PR review findings
  cmd/holomush/deps_test.go
  docs/plans/2026-02-06-full-abac-phase-7.6.md
  internal/access/policy/bootstrap_test.go
  internal/access/policy/seed_test.go
  internal/command/dispatcher_test.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/objects_test.go
  internal/command/middleware_test.go
  internal/command/rate_limit_middleware.go
  internal/command/types.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/events_test.go
  internal/world/service.go
  internal/world/service_test.go
  test/integration/building/building_test.go
Due: lint-go, schema-sync

gitblobstore: put n3kiaekh28ppag057fd2jqqsh6d94jqk.darc.records
  n3kiaekh28ppag057fd2jqqsh6d94jqk.darc.records
Due: none

gitblobstore: put n3kiaekh28ppag057fd2jqqsh6d94jqk.darc.tail
  n3kiaekh28ppag057fd2jqqsh6d94jqk.darc.tail
Due: none

gitblobstore: concatenate n3kiaekh28ppag057fd2jqqsh6d94jqk.darc
  n3kiaekh28ppag057fd2jqqsh6d94jqk.darc
Due: none

gitblobstore: checkandput manifest
  manifest
Due: none

gitblobstore: put r856m1ln4784ii0luctpsupbqvmgj28c.tail
  r856m1ln4784ii0luctpsupbqvmgj28c.tail
Due: none

gitblobstore: put r856m1ln4784ii0luctpsupbqvmgj28c.records
  r856m1ln4784ii0luctpsupbqvmgj28c.records
Due: none

gitblobstore: concatenate r856m1ln4784ii0luctpsupbqvmgj28c
  r856m1ln4784ii0luctpsupbqvmgj28c
Due: none

fix(access): address PR #88 round-4 comprehensive review findings
  Taskfile.yaml
  internal/access/access.go
  internal/command/dispatcher.go
  internal/command/handlers/who.go
  internal/command/rate_limit_middleware.go
  internal/command/rate_limit_middleware_test.go
  internal/world/service.go
  internal/world/service_test.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go, lint-yaml

fix(test): migrate remaining integration tests to AccessPolicyEngine
  internal/world/postgres/cascade_delete_test.go
  test/integration/building/building_test.go
  test/integration/command/alias_integration_test.go
  test/integration/world/character_events_test.go
Due: lint-go

fix(test): repair 4 pre-existing broken-on-main integration test bugs
  internal/access/policy/store/postgres_integration_test.go
  internal/world/postgres/transactor_test.go
  test/integration/building/building_test.go
  test/integration/cli/cli_suite_test.go
  test/integration/cli/seed_test.go
Due: lint-go

fix(test): use TxFromContext in transactor tests and improve hook message
  .claude/hooks/enforce-task-runner.sh
  internal/world/postgres/helpers.go
  internal/world/postgres/transactor_test.go
Due: lint-go

fix(test): resolve data race in phase1_5 shutdown test
  test/integration/phase1_5_test.go
Due: lint-go

fix(access): address PR #88 comprehensive review findings
  Taskfile.yaml
  internal/access/policy/policytest/helpers.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
  internal/command/handlers/who.go
  internal/command/metrics.go
  internal/command/rate_limit_middleware.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/service_test.go
Due: lint-go, lint-yaml, schema-sync

gitblobstore: put ctv6d8ns83joqfe9ph3b4dqp37bc25lv.darc.records
  ctv6d8ns83joqfe9ph3b4dqp37bc25lv.darc.records
Due: none
