Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(crypto-phase5): event payload crypto phase 5 decomposition spec (holomush-jxo8)
  .claude/agent-memory/design-reviewer/MEMORY.md
  docs/superpowers/specs/2026-05-07-event-payload-crypto-phase5-decomposition.md
Due: none

chore(agents): give reviewer sub-agents access to mcp__probe__* tools
  .claude/agents/bead-auditor.md
  .claude/agents/code-reviewer.md
  .claude/agents/crypto-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
Due: none

docs(crypto-phase5): sub-epic A TOTP substrate design spec
  docs/superpowers/specs/2026-05-07-event-payload-crypto-phase5-totp-substrate-design.md
Due: none

chore(agent-memory): record design-reviewer findings from sub-epic A reviews
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_round2_fix_introduces_contradiction.md
Due: none

docs(crypto-phase5): sub-epic A spec R4 — fix audit subject namespace + ABAC seeds + atomicity decision (B1, B3 spec-side)
  docs/superpowers/specs/2026-05-07-event-payload-crypto-phase5-totp-substrate-design.md
Due: none

docs(crypto-phase5): sub-epic A spec R5 — Option Y: defer audit emission to caller layer (host-shell CLIs cannot reach embedded NATS); PG-only atomicity
  docs/superpowers/specs/2026-05-07-event-payload-crypto-phase5-totp-substrate-design.md
Due: none

feat(totp): package skeleton — Clock + typed errors (holomush-jxo8.3.1)
  go.mod
  go.sum
  internal/totp/clock.go
  internal/totp/clock_test.go
  internal/totp/errors.go
  internal/totp/errors_test.go
Due: lint-go

feat(totp): migration 000019 — player_totp + recovery_codes + bootstrap_state (holomush-jxo8.3.2)
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000019_create_player_totp.down.sql
  internal/store/migrations/000019_create_player_totp.up.sql
Due: lint-go

feat(totp): audit subject helpers + payload structs (RESERVED for sub-epic D consumers; holomush-jxo8.3.4)
  internal/totp/audit.go
  internal/totp/audit_test.go
Due: lint-go

docs(kek): generalize provider docstring for non-DEK secret reuse (holomush-jxo8.3.15)
  internal/eventbus/crypto/kek/provider.go
Due: lint-go

feat(cli): admin parent + admin totp parent (holomush-jxo8.3.11)
  cmd/holomush/cmd_admin.go
  cmd/holomush/cmd_admin_test.go
  cmd/holomush/cmd_admin_totp.go
  cmd/holomush/root.go
Due: lint-go

feat(access): ABAC forbid seeds for events.*.system.crypto_totp.* (INV-A16; holomush-jxo8.3.16)
  internal/access/policy/bootstrap_test.go
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
Due: lint-go

feat(totp): types + provisioning helpers (holomush-jxo8.3.3)
  internal/totp/provisioning.go
  internal/totp/provisioning_test.go
  internal/totp/types.go
Due: lint-go

feat(totp): postgres Repository — Transactor pattern + BootstrapEnrollAtomic atomicity (holomush-jxo8.3.5)
  internal/totp/repo.go
  internal/totp/repo_integration_test.go
Due: lint-go

feat(totp): Service skeleton + IsEnrolled + mockery setup (holomush-jxo8.3.6)
  .mockery.yaml
  internal/auth/mocks/mock_PlayerSessionRepository.go
  internal/totp/mocks/mock_RecoveryCodeHasher.go
  internal/totp/mocks/mock_Repository.go
  internal/totp/service.go
  internal/totp/service_isenrolled_test.go
Due: lint-go, lint-yaml

feat(totp): BootstrapEnroll w/ KEK-wrap, hashed codes, atomic insert (INV-A1/A9/A11/A13/A15; holomush-jxo8.3.7)
  .mockery.yaml
  internal/eventbus/crypto/kek/mocks/mock_Provider.go
  internal/totp/service.go
  internal/totp/service_bootstrap_test.go
Due: lint-go, lint-yaml

feat(totp): Enroll for self-enrollment (holomush-jxo8.3.8)
  internal/totp/service.go
  internal/totp/service_enroll_test.go
Due: lint-go

feat(totp): Verify w/ replay defense, lockout, skew window (INV-A3/A4/A5/A12/A14; holomush-jxo8.3.9)
  internal/totp/service.go
  internal/totp/service_verify_test.go
Due: lint-go

feat(totp): ConsumeRecoveryCode + ClearTOTP (INV-A6/A7/A8; holomush-jxo8.3.10)
  internal/totp/service.go
  internal/totp/service_recovery_test.go
Due: lint-go

feat(cli): admin totp dep wiring (PG + KEK file-source + auth + totp.Service; holomush-jxo8.3.12)
  cmd/holomush/cmd_admin_totp_deps.go
Due: lint-go

feat(cli): admin totp bootstrap-enroll (holomush-jxo8.3.13)
  cmd/holomush/cmd_admin_test.go
  cmd/holomush/cmd_admin_totp.go
  cmd/holomush/cmd_admin_totp_deps.go
Due: lint-go

feat(cli): admin totp enroll + recover (holomush-jxo8.3.14)
  cmd/holomush/cmd_admin_test.go
  cmd/holomush/cmd_admin_totp.go
  go.mod
Due: lint-go

test(totp): E2E lifecycle (PG + KEK; no audit-publisher assertions per Option Y; holomush-jxo8.3.17)
  test/integration/totp/totp_e2e_test.go
  test/integration/totp/totp_suite_test.go
Due: lint-go

fix(cmd/holomush): exempt admin CLI files from gateway import boundary
  cmd/holomush/cmd_admin_totp.go
  cmd/holomush/gateway_imports_test.go
Due: lint-go

fix(totp): Verify must compare oops code instead of errors.Is for ErrNotEnrolled
  internal/totp/service.go
  internal/totp/service_verify_test.go
Due: lint-go

fix: apply CodeRabbit auto-fixes (4 minor findings on PR #3535)
  .claude/agent-memory/design-reviewer/feedback_round2_fix_introduces_contradiction.md
  internal/totp/provisioning.go
  internal/totp/provisioning_test.go
  internal/totp/repo_integration_test.go
Due: lint-go

test(totp): coverage tests for admin CLI deps + handlers + service error paths
  cmd/holomush/cmd_admin_test.go
  cmd/holomush/cmd_admin_totp_deps_test.go
  internal/totp/provisioning_test.go
  internal/totp/service_errorpaths_test.go
Due: lint-go

fix: apply CodeRabbit auto-fixes round 2
  internal/totp/service_errorpaths_test.go
Due: lint-go

test(cli): cover admin totp Run handlers via extracted run functions
  cmd/holomush/cmd_admin_totp.go
  cmd/holomush/cmd_admin_totp_run_test.go
Due: lint-go

test(totp): pgxmock unit tests for repo error paths
  internal/totp/repo.go
  internal/totp/repo_unit_test.go
Due: lint-go

fix(totp): atomic recover+clear, EOF stdin, table-driven CLI tests (CodeRabbit round 3)
  cmd/holomush/cmd_admin_test.go
  cmd/holomush/cmd_admin_totp.go
  cmd/holomush/cmd_admin_totp_run_test.go
  internal/totp/mocks/mock_Repository.go
  internal/totp/repo.go
  internal/totp/repo_unit_test.go
  internal/totp/service.go
  internal/totp/service_recovery_test.go
  internal/totp/types.go
Due: lint-go

test(totp): replace tautological errors.Is against oops sentinels with code-based identity (holomush-8lhd hygiene)
  cmd/holomush/cmd_admin_totp_run_test.go
  internal/totp/repo_integration_test.go
  internal/totp/repo_unit_test.go
  internal/totp/service_bootstrap_test.go
  internal/totp/service_enroll_test.go
  internal/totp/service_recovery_test.go
  test/integration/totp/totp_e2e_test.go
Due: lint-go

fix: address CodeRabbit round-5 findings (two-phase enroll, Cobra stdin, rows.Err, table-driven Enroll)
  cmd/holomush/cmd_admin_totp.go
  cmd/holomush/cmd_admin_totp_run_test.go
  internal/totp/repo.go
  internal/totp/repo_unit_test.go
  internal/totp/service.go
  internal/totp/service_enroll_test.go
  internal/totp/types.go
Due: lint-go

docs(crypto): Phase 5 sub-epic B plan + design + bead chain (holomush-jxo8.5)
  docs/superpowers/plans/2026-05-08-event-payload-crypto-phase5-sub-epic-b.md
  docs/superpowers/specs/2026-05-07-event-payload-crypto-phase5-decomposition.md
  docs/superpowers/specs/2026-05-08-event-payload-crypto-phase5-sub-epic-b-design.md
Due: none

feat(crypto): Phase 5 sub-epic B foundations (holomush-jxo8.5.1)
  Taskfile.yaml
  internal/access/grants.go
  internal/access/grants_test.go
  internal/access/prefix.go
  internal/access/prefix_test.go
  internal/auth/postgres/player_repo.go
  internal/auth/postgres/player_repo_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: lint-go, lint-yaml

feat(crypto): Phase 5 sub-epic B PlayerAttributeProvider (holomush-jxo8.5.2)
  internal/access/policy/attribute/player.go
  internal/access/policy/attribute/player_test.go
Due: lint-go

feat(crypto): Phase 5 sub-epic B setup wiring + startup validation (holomush-jxo8.5.3)
  Taskfile.yaml
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/crypto_operator_validation.go
  cmd/holomush/crypto_operator_validation_test.go
  cmd/holomush/deps_test.go
  internal/access/setup/setup.go
  internal/access/setup/setup_player_test.go
  internal/access/setup/subsystem.go
Due: lint-go, lint-yaml

feat(crypto): Phase 5 sub-epic B amendments + meta-tests + site-doc (holomush-jxo8.5.4)
  Taskfile.yaml
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
  internal/access/spec_amendments_test.go
  scripts/check-bead-jxo8-5.sh
  site/docs/operating/crypto-setup.md
  site/zensical.toml
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

chore(crypto): pre-push cleanup — rumdl fmt parent-commit markdown + SubjectPlayer test enumeration
  Taskfile.yaml
  docs/superpowers/plans/2026-05-08-event-payload-crypto-phase5-sub-epic-b.md
  docs/superpowers/specs/2026-05-08-event-payload-crypto-phase5-sub-epic-b-design.md
  internal/access/prefix_test.go
  scripts/tests/pr-prep-lock.bats
Due: lint-go, lint-yaml
