Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        command -v addlicense >/dev/null 2>&1 || {
          echo "Installing addlicense..."
          go install github.com/google/addlicense@latest
        }
        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      run: markdownlint-cli2 {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamllint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(plugin): update pkg/plugin CLAUDE.md to clarify usage guidelines
  pkg/plugin/CLAUDE.md
Due: lint-markdown

fix: add missing go-plugin dependency
  go.mod
  go.sum
Due: none

fix: add blank line before list in CLAUDE.md
  pkg/plugin/CLAUDE.md
Due: lint-markdown

refactor: remove internal/wasm spike code
  Taskfile.yaml
  internal/wasm/.gitkeep
  internal/wasm/doc_validation_test.go
  internal/wasm/extism_host.go
  internal/wasm/extism_host_test.go
  internal/wasm/extism_subscriber.go
  internal/wasm/extism_subscriber_test.go
  internal/wasm/host.go
  internal/wasm/host_test.go
  internal/wasm/integration_test.go
  internal/wasm/test_helpers_test.go
  internal/wasm/testdata/.gitignore
  internal/wasm/testdata/alloc.wasm
Due: lint-go, lint-yaml

bd daemon sync: 2026-01-19 22:08:07
  .beads/issues.jsonl
Due: none

docs: update references after internal/wasm deletion
  docs/plans/2026-01-18-holomush-roadmap-design.md
  docs/reference/plugin-authoring.md
  docs/specs/2026-01-18-plugin-system-design.md
Due: lint-markdown

docs: update pkg/plugin comments to remove WASM reference
  pkg/plugin/event.go
Due: lint-go

refactor(plugin): remove unused JSON struct tags
  pkg/plugin/event.go
Due: lint-go

chore: remove unused CLAUDE.md
  pkg/plugin/CLAUDE.md
Due: lint-markdown

refactor(plugin): move proto to pkg and merge pluginsdk into plugin
  api/proto/holomush/control/v1/control.proto
  api/proto/holomush/core/v1/core.proto
  api/proto/holomush/plugin/v1/hostfunc.proto
  api/proto/holomush/plugin/v1/plugin.proto
  buf.gen.yaml
  cmd/holomush/core.go
  cmd/holomush/status.go
  internal/control/grpc_server.go
  internal/control/grpc_server_test.go
  internal/grpc/client.go
  internal/grpc/client_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/goplugin/plugin.go
  pkg/plugin/adapter_test.go
  pkg/plugin/event.go
  pkg/plugin/sdk.go
  pkg/plugin/sdk_test.go
  pkg/proto/holomush/control/v1/control.pb.go
  pkg/proto/holomush/control/v1/control_grpc.pb.go
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/core/v1/core_grpc.pb.go
  pkg/proto/holomush/plugin/v1/grpc_test.go
  pkg/proto/holomush/plugin/v1/hostfunc.pb.go
  pkg/proto/holomush/plugin/v1/hostfunc_grpc.pb.go
  pkg/proto/holomush/plugin/v1/hostfunc_test.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/plugin_test.go
  test/integration/phase1_5_test.go
Due: lint-go, lint-yaml, schema-sync

docs: update documentation for proto/plugin package restructure
  docs/plans/2026-01-18-plugin-system-implementation.md
  docs/plans/archive/2026-01-17-phase1.5-implementation.md
  docs/reference/grpc-api.md
  docs/reference/plugin-authoring.md
  docs/specs/2026-01-18-plugin-system-design.md
Due: lint-markdown

chore(ci): remove WASM plugin build steps
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

chore(deps): remove extism-go-sdk dependency
  go.mod
  go.sum
Due: none

fix(ci): restore uv setup for yamllint
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

bd daemon sync: 2026-01-19 22:51:45
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-19 22:52:18
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-19 22:53:27
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-19 22:54:16
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-19 22:54:38
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-19 22:56:14
  .beads/issues.jsonl
Due: none

chore(plugins): remove obsolete WASM plugin examples
  plugins/echo-python/.gitignore
  plugins/echo-python/.python-version
  plugins/echo-python/Makefile
  plugins/echo-python/README.md
  plugins/echo-python/plugin.py
  plugins/echo-python/pyproject.toml
  plugins/echo-python/uv.lock
  plugins/echo/main.go
Due: lint-go, lint-markdown

bd daemon sync: 2026-01-19 22:57:32
  .beads/issues.jsonl
Due: none

docs(plan): add error handling modernization design
  docs/plans/2026-01-20-error-handling-modernization.md
Due: lint-markdown

bd daemon sync: 2026-01-19 23:04:21
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-19 23:04:41
  .beads/issues.jsonl
Due: none

chore(plugins): remove obsolete WASM plugin examples (#29)
  plugins/echo-python/.gitignore
  plugins/echo-python/.python-version
  plugins/echo-python/Makefile
  plugins/echo-python/README.md
  plugins/echo-python/plugin.py
  plugins/echo-python/pyproject.toml
  plugins/echo-python/uv.lock
  plugins/echo/main.go
Due: lint-go, lint-markdown

docs(plans): add testing libraries adoption design
  docs/plans/2026-01-20-testing-libraries-design.md
Due: lint-markdown

docs(plans): address review feedback
  docs/plans/2026-01-20-error-handling-modernization.md
Due: lint-markdown

docs(plans): add mockery for mock generation
  docs/plans/2026-01-20-testing-libraries-design.md
Due: lint-markdown

bd daemon sync: 2026-01-20 20:08:39
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:09:04
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:09:14
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:09:43
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:09:57
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:10:07
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:10:36
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:10:59
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:11:09
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:11:19
  .beads/issues.jsonl
Due: none
