Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

bd daemon sync: 2026-01-18 12:32:01
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 12:32:04
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 12:32:14
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 12:35:01
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 12:36:14
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 12:42:14
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 12:43:42
  .beads/issues.jsonl
Due: none

refactor(wasm): PR review round 6 - complete remaining improvements
  Taskfile.yaml
  docs/reference/plugin-authoring.md
  internal/core/event_test.go
  internal/wasm/doc_validation_test.go
  internal/wasm/extism_host.go
  internal/wasm/extism_host_test.go
  internal/wasm/extism_subscriber.go
  internal/wasm/extism_subscriber_test.go
  plugins/echo-python/README.md
  plugins/malformed-json/plugin.py
Due: lint-go, lint-markdown, lint-yaml

bd daemon sync: 2026-01-18 13:36:23
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 13:36:44
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 13:37:05
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 13:37:30
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 13:56:49
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 14:30:34
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 15:15:27
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 15:15:30
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 15:30:20
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 15:42:02
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 15:43:25
  .beads/issues.jsonl
Due: none

fix(wasm): address PR review round 7 findings
  Taskfile.yaml
  docs/plans/2026-01-17-holomush-architecture-design.md
  docs/reference/plugin-authoring.md
  internal/wasm/extism_host.go
  internal/wasm/extism_host_test.go
  internal/wasm/extism_subscriber.go
  internal/wasm/extism_subscriber_test.go
  internal/wasm/host.go
  plugins/echo-python/plugin.py
  plugins/empty-stream/plugin.py
Due: lint-go, lint-markdown, lint-yaml

perf(wasm): add shared test host fixture for 25x faster tests
  internal/wasm/extism_host_test.go
  internal/wasm/extism_subscriber_test.go
  internal/wasm/test_helpers_test.go
Due: lint-go

docs: add WASM testing requirements to CLAUDE.md
  CLAUDE.md
Due: lint-markdown

docs: expand WASM concurrency documentation in CLAUDE.md
  CLAUDE.md
Due: lint-markdown

docs: clarify WASM concurrency is fundamental, not language-specific
  CLAUDE.md
  docs/reference/plugin-authoring.md
Due: lint-markdown

bd daemon sync: 2026-01-18 17:17:17
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 17:18:10
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 17:18:15
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 17:21:03
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 17:21:14
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 17:21:20
  .beads/issues.jsonl
Due: none

docs: document Phase 1 plugin registration approach
  docs/reference/plugin-authoring.md
Due: lint-markdown

ci: install extism-py and build plugins before lint/test
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

ci: fix extism-py installation using official install script
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

fix(observability): fix data race in Server.Start goroutine
  internal/observability/server.go
Due: lint-go

docs: fix documentation review findings
  docs/DOCUMENTATION-GUIDELINES.md
  docs/plans/2026-01-18-extism-phase1-implementation.md
  plugins/echo-python/README.md
Due: lint-markdown

docs: revert CLAUDE.md rename, add kebab-case file naming rule
  docs/CLAUDE.md
  docs/plans/2026-01-18-extism-phase1-implementation.md
Due: lint-markdown

docs: update directory structure to match current codebase
  CLAUDE.md
Due: lint-markdown

docs: add comprehensive pull request guide
  CLAUDE.md
  docs/reference/pull-request-guide.md
Due: lint-markdown

refactor: move test fixture plugins to test/fixtures/
  .github/workflows/ci.yaml
  .gitignore
  Taskfile.yaml
  docs/reference/pull-request-guide.md
  test/fixtures/plugins/empty-stream/plugin.py
  test/fixtures/plugins/malformed-json/plugin.py
Due: lint-markdown, lint-yaml, lint-actions

docs(pr-guide): require squash merge for all PRs to main
  docs/reference/pull-request-guide.md
Due: lint-markdown

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
