Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(roadmap): groom to current state and strip active themes to why + pointers
  docs/roadmap.md
Due: none

docs(roadmap): groom to current state + strip active themes to why-and-pointers altitude (#4491)
  docs/roadmap.md
Due: none

fix(core): clamp ULID timestamp non-decreasing so concurrent NewULID stays monotonic (holomush-nri6e)
  internal/core/ulid.go
  internal/core/ulid_internal_test.go
Due: lint-go

fix(core): clamp ULID timestamp non-decreasing so concurrent NewULID stays monotonic (holomush-nri6e) (#4492)
  internal/core/ulid.go
  internal/core/ulid_internal_test.go
Due: lint-go

refactor(web): migrate auth + core BFF handlers to errutil.LogErrorContext (holomush-zk39g) (#4490)
  internal/web/auth_handlers.go
  internal/web/auth_handlers_logging_test.go
  internal/web/handler.go
  internal/web/handler_logging_test.go
Due: lint-go

fix(test): give the multi-tab scenes token2 wait a CI-scaled timeout (holomush-hjk6x)
  web/e2e/scenes.spec.ts
Due: none

fix(test): CI-scaled timeout for the multi-tab scenes token2 wait (holomush-hjk6x) (#4494)
  web/e2e/scenes.spec.ts
Due: none

fix(test): share one Postgres container across internal/store integration tests (holomush-gf6tp)
  internal/store/migrate_plugins_integration_test.go
  internal/store/migrations_test.go
  internal/store/plugin_repo_test.go
  internal/store/role_store_integration_test.go
  internal/store/session_store_integration_test.go
  internal/store/testhelpers_test.go
Due: lint-go

fix(test): share one Postgres container across internal/store integration tests (holomush-gf6tp) (#4493)
  internal/store/migrate_plugins_integration_test.go
  internal/store/migrations_test.go
  internal/store/plugin_repo_test.go
  internal/store/role_store_integration_test.go
  internal/store/session_store_integration_test.go
  internal/store/testhelpers_test.go
Due: lint-go

fix(web): composer textarea accepts input when popped open (holomush-6k7d)
  web/e2e/terminal.spec.ts
  web/src/lib/components/terminal/Composer.svelte
Due: none

fix(web): composer textarea accepts input when popped open (holomush-6k7d) (#4487)
  web/e2e/terminal.spec.ts
  web/src/lib/components/terminal/Composer.svelte
Due: none

test(store): use shared Postgres harness in migrate_integration_test.go (holomush-kskri)
  internal/store/migrate_integration_test.go
Due: lint-go

test(store): use shared Postgres harness in migrate_integration_test.go (holomush-kskri) (#4511)
  internal/store/migrate_integration_test.go
Due: lint-go

build(web): pin buf.gen.yaml remote es/connectrpc-es plugin versions (holomush-h6aj1)
  web/buf.gen.yaml
Due: lint-yaml

build(web): pin buf.gen.yaml remote es/connectrpc-es plugin versions (holomush-h6aj1) (#4512)
  web/buf.gen.yaml
Due: lint-yaml

build(web): remove vestigial connectrpc/es plugin + dead _connect.ts stubs (holomush-dxmqg)
  web/buf.gen.yaml
  web/src/lib/connect/holomush/admin/v1/admin_connect.ts
  web/src/lib/connect/holomush/content/v1/content_connect.ts
  web/src/lib/connect/holomush/control/v1/control_connect.ts
  web/src/lib/connect/holomush/core/v1/core_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/audit_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/command_registry_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/emit_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/eval_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/focus_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/kv_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/property_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/session_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/settings_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/stream_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/world_connect.ts
  web/src/lib/connect/holomush/plugin/v1/attribute_connect.ts
  web/src/lib/connect/holomush/plugin/v1/audit_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/scene/v1/scene_connect.ts
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_connect.ts
  web/src/lib/connect/holomush/web/v1/web_connect.ts
  web/src/lib/connect/holomush/world/v1/world_connect.ts
Due: lint-yaml

build(web): remove vestigial connectrpc/es plugin + dead _connect.ts stubs (holomush-dxmqg) (#4513)
  web/buf.gen.yaml
  web/src/lib/connect/holomush/admin/v1/admin_connect.ts
  web/src/lib/connect/holomush/content/v1/content_connect.ts
  web/src/lib/connect/holomush/control/v1/control_connect.ts
  web/src/lib/connect/holomush/core/v1/core_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/audit_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/command_registry_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/emit_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/eval_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/focus_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/kv_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/property_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/session_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/settings_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/stream_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/world_connect.ts
  web/src/lib/connect/holomush/plugin/v1/attribute_connect.ts
  web/src/lib/connect/holomush/plugin/v1/audit_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/scene/v1/scene_connect.ts
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_connect.ts
  web/src/lib/connect/holomush/web/v1/web_connect.ts
  web/src/lib/connect/holomush/world/v1/world_connect.ts
Due: lint-yaml

build(deps): track web/buf.gen.yaml BSR codegen plugin pins in Renovate (holomush-ai3o5)
  .github/renovate.json
  web/buf.gen.yaml
Due: lint-yaml

build(deps): track web/buf.gen.yaml BSR codegen plugin pins in Renovate (holomush-ai3o5) (#4514)
  .github/renovate.json
  web/buf.gen.yaml
Due: lint-yaml

build(deps): bump @bufbuild/protoc-gen-es to 2.12.1 + regenerate web stubs (holomush-5zy29)
  web/buf.gen.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/connect/buf/validate/validate_pb.ts
  web/src/lib/connect/holomush/admin/v1/admin_pb.ts
  web/src/lib/connect/holomush/admin/v1/read_stream_pb.ts
  web/src/lib/connect/holomush/admin/v1/rekey_pb.ts
  web/src/lib/connect/holomush/content/v1/content_pb.ts
  web/src/lib/connect/holomush/control/v1/control_pb.ts
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/eventbus/v1/eventbus_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/audit_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/command_registry_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/emit_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/eval_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/focus_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/kv_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/property_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/session_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/settings_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/stream_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/world_pb.ts
  web/src/lib/connect/holomush/plugin/v1/attribute_pb.ts
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/lib/connect/holomush/world/v1/world_pb.ts
Due: lint-yaml

build(deps): bump @bufbuild/protoc-gen-es to 2.12.1 + regenerate web stubs (holomush-5zy29) (#4515)
  web/buf.gen.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/connect/buf/validate/validate_pb.ts
  web/src/lib/connect/holomush/admin/v1/admin_pb.ts
  web/src/lib/connect/holomush/admin/v1/read_stream_pb.ts
  web/src/lib/connect/holomush/admin/v1/rekey_pb.ts
  web/src/lib/connect/holomush/content/v1/content_pb.ts
  web/src/lib/connect/holomush/control/v1/control_pb.ts
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/eventbus/v1/eventbus_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/audit_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/command_registry_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/emit_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/eval_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/focus_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/kv_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/property_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/session_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/settings_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/stream_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/world_pb.ts
  web/src/lib/connect/holomush/plugin/v1/attribute_pb.ts
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/lib/connect/holomush/world/v1/world_pb.ts
Due: lint-yaml

build(proto): pin Go buf.gen remote plugin versions (holomush-pw76v)
  buf.gen.internal.yaml
  buf.gen.yaml
Due: lint-yaml

build(proto): pin Go buf.gen remote plugin versions (holomush-pw76v) (#4516)
  buf.gen.internal.yaml
  buf.gen.yaml
Due: lint-yaml

build(renovate): track Go buf.gen BSR plugin pins (holomush-9vyc3)
  .github/renovate.json
  buf.gen.internal.yaml
  buf.gen.yaml
Due: lint-yaml

build(renovate): track Go buf.gen BSR plugin pins (holomush-9vyc3) (#4517)
  .github/renovate.json
  buf.gen.internal.yaml
  buf.gen.yaml
Due: lint-yaml

fix(web): legible selected-scene subtext in light theme (holomush-5rh.26)
  web/src/lib/components/scenes/SceneListItem.svelte
  web/src/lib/components/scenes/SceneListItem.svelte.test.ts
Due: none

fix(web): color scenes center-header status dot by scene state (holomush-5rh.27)
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/scenes/stateStyle.test.ts
  web/src/lib/scenes/stateStyle.ts
  web/src/routes/(authed)/scenes/+page.svelte
Due: none

fix(web): legible selected-scene subtext in light theme (holomush-5rh.26) (#4518)
  web/src/lib/components/scenes/SceneListItem.svelte
  web/src/lib/components/scenes/SceneListItem.svelte.test.ts
Due: none

fix(web): color scenes center-header status dot by scene state (holomush-5rh.27) (#4519)
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/scenes/stateStyle.test.ts
  web/src/lib/scenes/stateStyle.ts
  web/src/routes/(authed)/scenes/+page.svelte
Due: none

fix(web): persist scene-list sidebar across /scenes sub-routes (holomush-5rh.30)
  web/e2e/scenes-panels.spec.ts
  web/e2e/scenes.spec.ts
  web/src/lib/components/scenes/ScenesShell.svelte
  web/src/lib/scenes/createSceneBridge.ts
  web/src/routes/(authed)/scenes/+layout.svelte
  web/src/routes/(authed)/scenes/+page.svelte
  web/src/routes/(authed)/scenes/rovingTabindex.svelte.test.ts
Due: none

fix(web): persist scene-list sidebar across /scenes sub-routes (holomush-5rh.30) (#4520)
  web/e2e/scenes-panels.spec.ts
  web/e2e/scenes.spec.ts
  web/src/lib/components/scenes/ScenesShell.svelte
  web/src/lib/scenes/createSceneBridge.ts
  web/src/routes/(authed)/scenes/+layout.svelte
  web/src/routes/(authed)/scenes/+page.svelte
  web/src/routes/(authed)/scenes/rovingTabindex.svelte.test.ts
Due: none

docs(scenes): design + lifecycle plan for web management actions (holomush-5rh.24)
  docs/adr/README.md
  docs/adr/holomush-f9z8f-self-gate-abac-at-sceneservice-handlers-not-facade.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/plans/2026-06-24-scenes-web-lifecycle-actions.md
  docs/superpowers/specs/2026-06-24-scenes-web-management-actions-design.md
Due: lint-yaml

docs(scenes): web management design + Lifecycle plan (holomush-5rh.24) (#4521)
  docs/adr/README.md
  docs/adr/holomush-f9z8f-self-gate-abac-at-sceneservice-handlers-not-facade.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/plans/2026-06-24-scenes-web-lifecycle-actions.md
  docs/superpowers/specs/2026-06-24-scenes-web-management-actions-design.md
Due: lint-yaml

feat(scenes): self-gate ABAC in lifecycle RPC handlers (INV-SCENE-65) (holomush-5rh.24)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  plugins/core-scenes/commands_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

chore(agent-memory): persist code-reviewer fmt-drift lesson (5rh.24.4/.5)
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

feat(scenes): facade EndScene/PauseScene/ResumeScene (holomush-5rh.24)
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
Due: lint-go

feat(web): scene lifecycle client wrappers + flow (holomush-5rh.24)
  web/src/lib/scenes/client.ts
  web/src/lib/scenes/lifecycleFlow.test.ts
  web/src/lib/scenes/lifecycleFlow.ts
  web/src/lib/scenes/workspaceStore.svelte.ts
Due: none

feat(web): BFF WebEndScene/WebPauseScene/WebResumeScene handlers (holomush-5rh.24)
  internal/web/scene_handlers.go
  internal/web/scene_handlers_logging_test.go
  internal/web/scene_handlers_test.go
Due: lint-go

proto(scenes): facade + BFF lifecycle RPCs (End/Pause/Resume) (holomush-5rh.24)
  api/proto/holomush/sceneaccess/v1/sceneaccess.proto
  api/proto/holomush/web/v1/web.proto
  pkg/proto/holomush/sceneaccess/v1/sceneaccess.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess_grpc.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccessv1connect/sceneaccess.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(web): owner lifecycle buttons in scene context rail (holomush-5rh.24)
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
  web/src/lib/components/scenes/SceneListItem.svelte.test.ts
  web/src/lib/scenes/types.ts
  web/src/lib/scenes/workspaceStore.svelte.ts
Due: none
