Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(plugin): add access field to manifest Dependency (holomush-eykuh.3)
  internal/plugin/dependency_type.go
  internal/plugin/dependency_type_test.go
  internal/plugin/schema.go
  schemas/plugin.schema.json
Due: lint-go, schema-sync

fix(plugin): command-registry uses host-vouched dispatch subject (M4, INV-PLUGIN-51, holomush-eykuh.3)
  internal/plugin/goplugin/host_service_command_test.go
  internal/plugin/hostcap/servers.go
Due: lint-go, schema-sync

feat(plugin): capability-access entitlement path (M1, INV-PLUGIN-50, holomush-eykuh.3)
  internal/plugin/pluginauthz/capability.go
  internal/plugin/pluginauthz/capability_test.go
Due: lint-go, schema-sync

feat(plugin): install capability interceptor on both runtimes (INV-PLUGIN-45/49, holomush-eykuh.3)
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_capability_servers_test.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/hostcap/interceptor.go
  internal/plugin/hostcap/interceptor_test.go
  internal/plugin/lua/bufconn_endpoint.go
  internal/plugin/lua/bufconn_endpoint_test.go
  internal/plugin/lua/host.go
Due: lint-go, schema-sync

feat(plugin): DispatchContext primitive in pluginauthz (P0, holomush-eykuh.3)
  internal/plugin/pluginauthz/dispatch.go
  internal/plugin/pluginauthz/dispatch_test.go
Due: lint-go, schema-sync

feat(plugin): capability interceptor static access checks + fix kv descriptor keys (M2, holomush-eykuh.3)
  internal/plugin/hostcap/descriptor.go
  internal/plugin/hostcap/interceptor.go
  internal/plugin/hostcap/interceptor_test.go
Due: lint-go, schema-sync

feat(plugin): stamp host-vouched DispatchContext subject on delivery ctx (P0, holomush-eykuh.3)
  internal/plugin/goplugin/dispatch.go
  internal/plugin/goplugin/dispatch_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/lua/dispatch.go
  internal/plugin/lua/dispatch_test.go
  internal/plugin/lua/host.go
Due: lint-go, schema-sync

feat(plugin): complete CapabilityDescriptor table for all served host capabilities (holomush-eykuh.3)
  internal/plugin/hostcap/descriptor.go
  internal/plugin/hostcap/descriptor_test.go
Due: lint-go, schema-sync

fix(plugin): binary command-registry derives host-vouched subject via LookupActor (M4, holomush-eykuh.3)
  internal/plugin/goplugin/host_service_command_test.go
  internal/plugin/hostcap/servers.go
  pkg/plugin/command_lister.go
Due: lint-go, schema-sync

fix(plugin): exempt self-gated capabilities (emit, command-registry) from interceptor declaration gate (holomush-eykuh.3)
  internal/plugin/hostcap/descriptor.go
  internal/plugin/hostcap/interceptor.go
  internal/plugin/hostcap/interceptor_test.go
Due: lint-go, schema-sync

feat(plugin): resolve dispatch-location attributes into DispatchContext (holomush-eykuh.3)
  internal/access/policy/attribute/resolver.go
  internal/plugin/goplugin/dispatch.go
  internal/plugin/goplugin/dispatch_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/lua/dispatch.go
  internal/plugin/lua/dispatch_test.go
  internal/plugin/lua/host.go
  internal/plugin/pluginauthz/dispatch.go
  internal/plugin/setup/subsystem.go
Due: lint-go, schema-sync

fix(plugin): Lua command-registry symmetry with host-vouched dispatch subject (M4, INV-PLUGIN-51, holomush-eykuh.3)
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  test/integration/plugin/command_introspection_parity_test.go
Due: lint-go, schema-sync

test(plugin): scope-extractor completeness + runtime fail-closed (INV-PLUGIN-52, holomush-eykuh.3)
  internal/plugin/hostcap/descriptor_completeness_test.go
Due: lint-go, schema-sync

docs(arch): bind INV-PLUGIN-50..53 (holomush-eykuh.3)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/manifest_test.go
Due: lint-go, lint-yaml, schema-sync

feat(plugin): interceptor policy + scope enforcement (M1/M3, INV-PLUGIN-50, holomush-eykuh.3)
  internal/access/policy/seed.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/seed_test.go
  internal/plugin/hostcap/interceptor.go
  internal/plugin/hostcap/interceptor_test.go
Due: lint-go, schema-sync

test(plugin): cover SCOPE_NO_RESOURCE fail-closed branch + document access/scope manifest params (PR #4434 review, holomush-eykuh.3)
  .claude/rules/plugin-manifest.md
  internal/plugin/hostcap/interceptor_test.go
Due: lint-go, schema-sync

fix(plugin): address CodeRabbit review on PR #4434 (holomush-eykuh.3)
  internal/access/policy/attribute/resolver.go
  internal/plugin/hostcap/interceptor.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/pluginauthz/capability_test.go
Due: lint-go, schema-sync

fix(plugin): declare core-scenes host capabilities (CI scene regression, holomush-eykuh.3)
  plugins/core-scenes/plugin.yaml
Due: lint-yaml

test(plugin): stamp host-vouched dispatch subject in command-registry tests (holomush-eykuh.3)
  internal/plugin/help_integration_test.go
  internal/plugin/setup/subsystem_wiring_test.go
Due: lint-go, schema-sync

docs(plugin): capability-declaration enforcement — spec, plan, 5 ADRs, INV-PLUGIN-54/55 (holomush-si3zs)
  docs/adr/README.md
  docs/adr/holomush-1psri-two-single-clause-capability-enforcement-invariants-inv-plug.md
  docs/adr/holomush-m4ac3-gate-binary-plugin-capability-injection-manifest-declaration.md
  docs/adr/holomush-nk46j-defer-lua-capability-declaration-enforcement-eykuh-4-binary.md
  docs/adr/holomush-toh7a-make-binary-plugin-init-unconditional-close-degenerate-manif.md
  docs/adr/holomush-wlyzs-wholesystem-census-as-capability-declaration-integration-gua.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/plans/2026-06-13-plugin-capability-declaration-enforcement.md
  docs/superpowers/specs/2026-06-13-plugin-capability-declaration-enforcement-design.md
Due: lint-yaml

docs(plugin): capability-declaration enforcement — spec, plan, ADRs (holomush-si3zs) (#4435)
  docs/adr/README.md
  docs/adr/holomush-1psri-two-single-clause-capability-enforcement-invariants-inv-plug.md
  docs/adr/holomush-m4ac3-gate-binary-plugin-capability-injection-manifest-declaration.md
  docs/adr/holomush-nk46j-defer-lua-capability-declaration-enforcement-eykuh-4-binary.md
  docs/adr/holomush-toh7a-make-binary-plugin-init-unconditional-close-degenerate-manif.md
  docs/adr/holomush-wlyzs-wholesystem-census-as-capability-declaration-integration-gua.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/plans/2026-06-13-plugin-capability-declaration-enforcement.md
  docs/superpowers/specs/2026-06-13-plugin-capability-declaration-enforcement-design.md
Due: lint-yaml

feat(plugin): add ServiceConfig.declared_capabilities proto field (holomush-si3zs)
  api/proto/holomush/plugin/v1/plugin.proto
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go

feat(plugin): SDK capability-declaration validation registry (INV-PLUGIN-54, holomush-si3zs)
  pkg/plugin/capability_declaration.go
  pkg/plugin/capability_declaration_test.go
Due: lint-go

chore(agent-memory): code-reviewer notes from si3zs.2 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

feat(plugin): validate declared capabilities at SDK Init, fail closed (INV-PLUGIN-54, holomush-si3zs)
  pkg/plugin/sdk.go
  pkg/plugin/service_test.go
Due: lint-go

test(plugin): registry-completeness meta-test for capability requirements (holomush-si3zs)
  pkg/plugin/capability_declaration_registry_test.go
  pkg/plugin/service_test.go
Due: lint-go

feat(plugin): host passes declared_capabilities + always Init binary plugins (INV-PLUGIN-54, holomush-si3zs)
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
Due: lint-go, schema-sync

docs(arch): register INV-PLUGIN-54 (bound) + INV-PLUGIN-55 (pending) (holomush-si3zs)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
Due: lint-go, lint-yaml, schema-sync

chore(agent-memory): code-reviewer notes from si3zs.6 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

test(plugin): wholesystem census guards INV-PLUGIN-54 capability declaration (holomush-si3zs)
  test/integration/wholesystem/census_test.go
Due: lint-go

docs(plugin): address PR #4436 review — accurate process locality + INV-PLUGIN-8 anchor wording (holomush-si3zs)
  internal/plugin/goplugin/host_test.go
  pkg/plugin/capability_declaration.go
Due: lint-go, schema-sync

feat(plugin): binary capability-declaration enforcement (INV-PLUGIN-54, holomush-si3zs) (#4436)
  .claude/agent-memory/code-reviewer/MEMORY.md
  api/proto/holomush/plugin/v1/plugin.proto
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  pkg/plugin/capability_declaration.go
  pkg/plugin/capability_declaration_registry_test.go
  pkg/plugin/capability_declaration_test.go
  pkg/plugin/sdk.go
  pkg/plugin/service_test.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  test/integration/wholesystem/census_test.go
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, lint-yaml, schema-sync

test(e2e): stabilize multi-tab scenes spec under slow CI (holomush-mwmzt)
  web/e2e/scenes.spec.ts
  web/playwright.config.ts
Due: none

test(e2e): stabilize multi-tab scenes spec under slow CI (holomush-mwmzt) (#4437)
  web/e2e/scenes.spec.ts
  web/playwright.config.ts
Due: none

test(e2e): de-flake & un-quarantine terminal.spec.ts reconnect tests (holomush-0jzs)
  test/quarantine.yaml
  web/e2e/terminal.spec.ts
Due: lint-yaml

test(e2e): de-flake & un-quarantine terminal.spec.ts reconnect tests (holomush-0jzs) (#4438)
  test/quarantine.yaml
  web/e2e/terminal.spec.ts
Due: lint-yaml

docs(plugin): sub-spec 5 atomic capability cutover — spec, plan, 4 ADRs (holomush-eykuh.4)
  docs/adr/README.md
  docs/adr/holomush-05f3v-retire-plugin-capability-injection-only-keep-ambient-stdlib.md
  docs/adr/holomush-40ssh-atomic-big-bang-plugin-capability-cutover-over-phased-allowl.md
  docs/adr/holomush-ptf7b-o262d-dag-resolution-failures-stay-always-fatal-behind-named.md
  docs/adr/holomush-vpg8l-resolver-grants-set-as-single-least-privilege-gate-authority.md
  docs/superpowers/plans/2026-06-14-plugin-capability-atomic-cutover.md
  docs/superpowers/specs/2026-06-14-plugin-capability-atomic-cutover-design.md
Due: none

docs(plugin): sub-spec 5 atomic capability cutover — spec, plan, ADRs (holomush-eykuh.4) (#4439)
  docs/adr/README.md
  docs/adr/holomush-05f3v-retire-plugin-capability-injection-only-keep-ambient-stdlib.md
  docs/adr/holomush-40ssh-atomic-big-bang-plugin-capability-cutover-over-phased-allowl.md
  docs/adr/holomush-ptf7b-o262d-dag-resolution-failures-stay-always-fatal-behind-named.md
  docs/adr/holomush-vpg8l-resolver-grants-set-as-single-least-privilege-gate-authority.md
  docs/superpowers/plans/2026-06-14-plugin-capability-atomic-cutover.md
  docs/superpowers/specs/2026-06-14-plugin-capability-atomic-cutover-design.md
Due: none

feat(plugin): sub-spec 5 cutover infrastructure (holomush-eykuh.4)
  internal/plugin/dependency.go
  internal/plugin/dependency_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_grants_internal_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/host.go
  internal/plugin/hostcap/register.go
  internal/plugin/hostcap/register_test.go
  internal/plugin/hostcap/world.go
  internal/plugin/hostcap/world_test.go
  internal/plugin/lua/actor_interceptor.go
  internal/plugin/lua/actor_interceptor_test.go
  internal/plugin/lua/bufconn_endpoint.go
  internal/plugin/lua/bufconn_endpoint_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_grants_internal_test.go
  internal/plugin/lua/host_test.go
  internal/plugin/luabridge/push_bridge_error_test.go
  internal/plugin/manager.go
  internal/plugin/manager_internal_test.go
  plugins/core-building/plugin.yaml
  plugins/core-communication/plugin.yaml
  plugins/core-objects/plugin.yaml
  test/integration/pluginparity/lua_emit_test.go
  test/integration/pluginparity/parity_test.go
Due: lint-go, lint-yaml, schema-sync

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
