Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(scenes): focus-delta coordinator unification — integration-tests + subsystem comments (holomush-66228)
  internal/plugin/setup/subsystem.go
  site/src/content/docs/contributing/how-to/integration-tests.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

docs(roadmap): refresh docs-platform open tail (#4316)
  docs/roadmap.md
Due: none

feat(brand): holographic-terminal software brand refresh (holomush-7daup) (#4315)
  .claude/rules/branding.md
  CLAUDE.md
  README.md
  assets/brand/og-avatar.png
  assets/brand/readme-banner.png
  scripts/check-docs-ia.sh
  site/CLAUDE.md
  site/astro.config.mjs
  site/bun.lock
  site/package.json
  site/public/apple-touch-icon.png
  site/public/favicon-16.png
  site/public/favicon-32.png
  site/public/favicon-48.png
  site/public/favicon.svg
  site/public/og-card.png
  site/scripts/build-brand-assets.mjs
  site/scripts/lib/glyphs.mjs
  site/src/assets/brand/brand-assets.sha256
  site/src/assets/brand/fonts/JetBrainsMono-Medium.ttf
  site/src/assets/brand/fonts/OFL.txt
  site/src/assets/brand/og-backdrop.png
  site/src/assets/favicon.png
  site/src/assets/logo-dark.svg
  site/src/assets/logo-light.svg
  site/src/assets/logo.png
  site/src/styles/custom.css
Due: none

fix(focus): address CodeRabbit findings on PR #4314 — delta correctness + test hardening
  internal/grpc/focus/auto_focus_on_join.go
  internal/grpc/focus/focus_delta_test.go
  internal/grpc/focus_wiring_test.go
  internal/testsupport/integrationtest/plugins.go
  test/integration/scenes/lua_focus_parity_test.go
Due: lint-go

docs(plugins): fix manifest.yaml→plugin.yaml filename drift (holomush-vcvw)
  CLAUDE.md
  site/src/content/docs/contributing/explanation/event-store.md
  site/src/content/docs/extending/how-to/verb-registration.md
Due: lint-markdown-site, fmt-markdown-site

ci(buf): authenticate buf generate to BSR in e2e + build jobs
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

docs(plugins): fix manifest.yaml→plugin.yaml filename drift (holomush-vcvw) (#4317)
  CLAUDE.md
  site/src/content/docs/contributing/explanation/event-store.md
  site/src/content/docs/extending/how-to/verb-registration.md
Due: lint-markdown-site, fmt-markdown-site

fix(focus): unify focus-delta coordinator — binary prod fix + Lua parity (holomush-66228) (#4314)
  .github/workflows/ci.yaml
  cmd/holomush/sub_grpc.go
  internal/grpc/focus/auto_focus_on_join.go
  internal/grpc/focus/coordinator.go
  internal/grpc/focus/focus_delta.go
  internal/grpc/focus/focus_delta_test.go
  internal/grpc/focus/set_connection_focus.go
  internal/grpc/focus/set_connection_focus_test.go
  internal/grpc/focus_wiring.go
  internal/grpc/focus_wiring_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/lua/focus_ops_adapter.go
  internal/plugin/lua/focus_ops_adapter_test.go
  internal/plugin/setup/subsystem.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/options.go
  internal/testsupport/integrationtest/plugins.go
  site/src/content/docs/contributing/how-to/integration-tests.md
  test/integration/scenes/lua_focus_parity_test.go
  test/integration/scenes/testdata/lua/focus_join/plugin.lua
  test/integration/scenes/testdata/lua/focus_join/plugin.yaml
  test/meta/focus_delta_gate_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

ci(release): make release workflow dispatch-only — drop on:push:tags re-trigger (holomush-76rsl)
  .github/workflows/release.yaml
  docs/adr/holomush-4mmzy-inline-single-run-release.md
  docs/adr/holomush-76rsl-release-workflow-dispatch-only.md
Due: lint-yaml, lint-actions

ci(release): make release workflow dispatch-only — drop on:push:tags re-trigger (holomush-76rsl) (#4318)
  .github/workflows/release.yaml
  docs/adr/holomush-4mmzy-inline-single-run-release.md
  docs/adr/holomush-76rsl-release-workflow-dispatch-only.md
Due: lint-yaml, lint-actions

docs(contributing): accurate README links + contributor-facing onboarding surface (holomush-ec22.17, holomush-ec22.21)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/superpowers/specs/2026-05-29-contributor-onboarding-surface-design.md
  site/src/content/docs/contributing/how-to/pr-prep.md
  site/src/content/docs/contributing/how-to/sessions.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

ci(release): publish Sentry release object on tag — commits + finalize (holomush-da0r6)
  .github/workflows/release.yaml
Due: lint-yaml, lint-actions

ci(release): publish Sentry release object on tag — commits + finalize (holomush-da0r6) (#4320)
  .github/workflows/release.yaml
Due: lint-yaml, lint-actions

docs(contributing): accurate README links + contributor-facing onboarding surface (holomush-ec22.17, holomush-ec22.21) (#4319)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/superpowers/specs/2026-05-29-contributor-onboarding-surface-design.md
  site/src/content/docs/contributing/how-to/pr-prep.md
  site/src/content/docs/contributing/how-to/sessions.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

test(eventbus): guard event-interfaces.md against bus.go drift + fix stale OpenSession sig (holomush-dj95.4)
  .claude/rules/event-interfaces.md
  internal/eventbus/doc_consistency_test.go
Due: lint-go

test(eventbus): guard event-interfaces.md against bus.go drift + fix stale OpenSession sig (holomush-dj95.4) (#4323)
  .claude/rules/event-interfaces.md
  internal/eventbus/doc_consistency_test.go
Due: lint-go

fix(plugin): thread connection_id through binary-plugin command adapter (holomush-dble7)
  pkg/plugin/sdk.go
  pkg/plugin/sdk_connectionid_internal_test.go
  web/e2e/scenes.spec.ts
Due: lint-go

fix(web): render connection + presence status dots green via dedicated status.online token (holomush-wnilg)
  web/src/app.css
  web/src/lib/components/TopBar.svelte
  web/src/lib/components/sidebar/PresenceList.svelte
  web/src/lib/stores/themeStore.test.ts
  web/src/lib/theme/classic-dark.json
  web/src/lib/theme/classic-light.json
  web/src/lib/theme/default-dark.json
  web/src/lib/theme/default-light.json
  web/src/lib/theme/types.ts
Due: none

fix(help): render partial command list on ABAC soft-error instead of hiding all (holomush-869o8)
  internal/plugin/help_integration_test.go
  plugins/core-help/help_lua_test.go
  plugins/core-help/main.lua
Due: lint-go, schema-sync

fix(plugin): thread connection_id through binary-plugin command adapter (holomush-dble7) (#4321)
  pkg/plugin/sdk.go
  pkg/plugin/sdk_connectionid_internal_test.go
  web/e2e/scenes.spec.ts
Due: lint-go

fix(help): render partial command list on ABAC soft-error instead of hiding all (holomush-869o8) (#4322)
  internal/plugin/help_integration_test.go
  plugins/core-help/help_lua_test.go
  plugins/core-help/main.lua
Due: lint-go, schema-sync

fix(web): render connection + presence status dots green via dedicated status.online token (holomush-wnilg) (#4324)
  web/src/app.css
  web/src/lib/components/TopBar.svelte
  web/src/lib/components/sidebar/PresenceList.svelte
  web/src/lib/stores/themeStore.test.ts
  web/src/lib/theme/classic-dark.json
  web/src/lib/theme/classic-light.json
  web/src/lib/theme/default-dark.json
  web/src/lib/theme/default-light.json
  web/src/lib/theme/types.ts
Due: none

test(plugin): command connection_id round-trip coverage for both plugin runtimes (holomush-q5czf)
  internal/plugin/lua/host_test.go
  test/integration/plugin/connection_id_roundtrip_test.go
  test/integration/plugin/testdata/connid_echo_plugin/main.go
  test/integration/plugin/testdata/connid_echo_plugin/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

fix(web): enrich command.roundtrip OTel span + wire browser PUBLIC_OTEL_ENDPOINT (holomush-yak8r)
  .github/workflows/release.yaml
  site/src/content/docs/operating/how-to/sentry.md
  web/src/lib/commandSpan.test.ts
  web/src/lib/commandSpan.ts
  web/src/lib/telemetry.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

fix(web): enrich command.roundtrip OTel span + wire browser PUBLIC_OTEL_ENDPOINT (holomush-yak8r) (#4325)
  .github/workflows/release.yaml
  site/src/content/docs/operating/how-to/sentry.md
  web/src/lib/commandSpan.test.ts
  web/src/lib/commandSpan.ts
  web/src/lib/telemetry.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

test(plugin): command connection_id round-trip coverage for both plugin runtimes (holomush-q5czf) (#4326)
  internal/plugin/lua/host_test.go
  test/integration/plugin/connection_id_roundtrip_test.go
  test/integration/plugin/testdata/connid_echo_plugin/main.go
  test/integration/plugin/testdata/connid_echo_plugin/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

fix(web): render disconnected conn-dot red via dedicated status.offline token (holomush-qs31c)
  web/src/app.css
  web/src/lib/components/TopBar.svelte
  web/src/lib/stores/themeStore.test.ts
  web/src/lib/theme/classic-dark.json
  web/src/lib/theme/classic-light.json
  web/src/lib/theme/default-dark.json
  web/src/lib/theme/default-light.json
  web/src/lib/theme/types.ts
Due: none

fix(web): render disconnected conn-dot red via dedicated status.offline token (holomush-qs31c) (#4327)
  web/src/app.css
  web/src/lib/components/TopBar.svelte
  web/src/lib/stores/themeStore.test.ts
  web/src/lib/theme/classic-dark.json
  web/src/lib/theme/classic-light.json
  web/src/lib/theme/default-dark.json
  web/src/lib/theme/default-light.json
  web/src/lib/theme/types.ts
Due: none

test(plugin): partial-error list_commands incomplete Lua integration test (holomush-mexs)
  internal/plugin/help_integration_test.go
Due: lint-go, schema-sync

feat(web): same-origin gateway OTLP relay for browser traces (holomush-2uogn)
  .github/workflows/release.yaml
  cmd/holomush/gateway.go
  compose.prod.yaml
  compose.yaml
  internal/web/otlp_relay.go
  internal/web/otlp_relay_test.go
  internal/web/server.go
  site/src/content/docs/operating/how-to/sentry.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

fix(scenes): scene subcommands accept '#' prefix and bare scene id interchangeably (holomush-ehbnk)
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_focus_test.go
  plugins/core-scenes/commands_sceneref_test.go
  web/e2e/scenes.spec.ts
Due: lint-go

test(plugin): partial-error list_commands incomplete Lua integration test (holomush-mexs) (#4328)
  internal/plugin/help_integration_test.go
Due: lint-go, schema-sync

feat(web): same-origin gateway OTLP relay for browser traces (holomush-2uogn) (#4329)
  .github/workflows/release.yaml
  cmd/holomush/gateway.go
  compose.prod.yaml
  compose.yaml
  internal/web/otlp_relay.go
  internal/web/otlp_relay_test.go
  internal/web/server.go
  site/src/content/docs/operating/how-to/sentry.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

test(plugin): drop subsumed help search-by-keyword spec (holomush-nn408)
  internal/plugin/help_integration_test.go
Due: lint-go, schema-sync

fix(scenes): scene subcommands accept '#' prefix and bare scene id interchangeably (holomush-ehbnk) (#4330)
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_focus_test.go
  plugins/core-scenes/commands_sceneref_test.go
  web/e2e/scenes.spec.ts
Due: lint-go

test(plugin): drop subsumed help search-by-keyword spec (holomush-nn408) (#4331)
  internal/plugin/help_integration_test.go
Due: lint-go, schema-sync

fix(plugin): enforce CommandRequest field parity across both plugin runtimes (holomush-peqfu)
  internal/plugin/goplugin/host.go
  internal/plugin/lua/command_parity_test.go
  pkg/plugin/command_marshal.go
  pkg/plugin/command_marshal_test.go
  pkg/plugin/sdk.go
Due: lint-go, schema-sync

refactor(plugin): delete vestigial Lua command-as-event path, unify on_command ctx contract (holomush-di7w6)
  internal/plugin/communication_integration_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  pkg/holo/context.go
  pkg/holo/context_test.go
  pkg/holo/doc.go
Due: lint-go, schema-sync

fix(plugin): enforce CommandRequest field parity across both plugin runtimes (holomush-peqfu) (#4332)
  internal/plugin/goplugin/host.go
  internal/plugin/lua/command_parity_test.go
  pkg/plugin/command_marshal.go
  pkg/plugin/command_marshal_test.go
  pkg/plugin/sdk.go
Due: lint-go, schema-sync

refactor(plugin): delete vestigial Lua command-as-event path, unify on_command ctx contract (holomush-di7w6) (#4333)
  internal/plugin/communication_integration_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  pkg/holo/context.go
  pkg/holo/context_test.go
  pkg/holo/doc.go
Due: lint-go, schema-sync

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
