Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(web): add Composer (non-modal floating panel) with draft bridge + drag/resize
  web/src/lib/components/terminal/Composer.svelte
  web/src/lib/stores/composerBridge.ts
  web/src/routes/(authed)/terminal/+page.svelte
  web/src/routes/+layout.svelte
Due: none

feat(web): add connectionStore for TopBar conn pill
  web/src/lib/stores/connectionStore.test.ts
  web/src/lib/stores/connectionStore.ts
Due: none

feat(web): restructure TerminalView — lines container, timestamps, LIVE separator, just-arrived animation
  web/src/lib/components/terminal/TerminalView.svelte
Due: none

feat(web): wire sidebar width to uiPrefs.sidebarWidthPx with ResizeObserver-based px↔pct
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

feat(web): CommandInput — mode chip, suspended state, commandHistoryStore wiring
  web/src/lib/components/terminal/CommandInput.svelte
  web/src/lib/components/terminal/ModeChip.svelte
Due: none

fix(web): use --topbar-h token in terminal layout heights (was hardcoded 32px)
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

fix(e2e): migrate sidebar toggle to Cmd+. and LIVE separator to .sep-live
  web/e2e/terminal.spec.ts
Due: none

fix(web): PR review — draft flow, localStorage guards, checkbox binding, composer loop guard
  web/src/lib/components/TopBar.svelte
  web/src/lib/components/terminal/CommandInput.svelte
  web/src/lib/components/terminal/Composer.svelte
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

feat(web): extend TopBar to 44px with terminal-aware breadcrumb/conn-pill/sidebar-toggle; delete StatusBar
  web/e2e/terminal.spec.ts
  web/src/lib/components/TopBar.svelte
  web/src/lib/components/terminal/StatusBar.svelte
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

test(web): E2E scenarios for palette/rail/composer/mode chip/timestamps/IME
  web/e2e/terminal.spec.ts
Due: none

feat(web): add uiPrefsStore for rail/sidebar/density/composer/palette state
  web/src/lib/stores/uiPrefsStore.test.ts
  web/src/lib/stores/uiPrefsStore.ts
Due: none

test(web): polyfill localStorage in shared test-setup.ts
  web/src/lib/stores/terminalStore.test.ts
  web/src/test-setup.ts
  web/vite.config.ts
Due: none

feat(web): add commandHistoryStore with dedup, bounded size, and nav helpers
  web/src/lib/stores/commandHistoryStore.test.ts
  web/src/lib/stores/commandHistoryStore.ts
Due: none

feat(terminal): add timestamp field to TerminalLine from GameEvent.timestamp
  web/src/lib/stores/eventRouter.ts
  web/src/lib/stores/terminalStore.test.ts
  web/src/lib/stores/terminalStore.ts
Due: none

feat(web): restructure sidebar into cards (Room/Exits/Presence/Recent); wire uiPrefs
  web/e2e/terminal.spec.ts
  web/src/lib/components/sidebar/ExitList.svelte
  web/src/lib/components/sidebar/PresenceList.svelte
  web/src/lib/components/sidebar/RecentCommandsCard.svelte
  web/src/lib/components/sidebar/RoomInfo.svelte
  web/src/lib/components/sidebar/Sidebar.svelte
  web/src/lib/stores/sidebarStore.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

refactor(uiPrefsStore): validate density on hydrate; drop get helper; replace SSR-safety test
  web/src/lib/stores/uiPrefsStore.test.ts
  web/src/lib/stores/uiPrefsStore.ts
Due: none

feat(web): terminal hi-fi revamp — 44px topbar, rail, cards, composer, palette (#235)
  web/e2e/terminal.spec.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/app.css
  web/src/lib/components/TopBar.svelte
  web/src/lib/components/sidebar/ExitList.svelte
  web/src/lib/components/sidebar/PresenceList.svelte
  web/src/lib/components/sidebar/RecentCommandsCard.svelte
  web/src/lib/components/sidebar/RoomInfo.svelte
  web/src/lib/components/sidebar/Sidebar.svelte
  web/src/lib/components/terminal/CommandInput.svelte
  web/src/lib/components/terminal/CommandPalette.svelte
  web/src/lib/components/terminal/Composer.svelte
  web/src/lib/components/terminal/ModeChip.svelte
  web/src/lib/components/terminal/Rail.svelte
  web/src/lib/components/terminal/StatusBar.svelte
  web/src/lib/components/terminal/TerminalView.svelte
  web/src/lib/stores/commandHistoryStore.test.ts
  web/src/lib/stores/commandHistoryStore.ts
  web/src/lib/stores/composerBridge.ts
  web/src/lib/stores/connectionStore.test.ts
  web/src/lib/stores/connectionStore.ts
  web/src/lib/stores/eventRouter.ts
  web/src/lib/stores/sidebarStore.ts
  web/src/lib/stores/terminalStore.test.ts
  web/src/lib/stores/terminalStore.ts
  web/src/lib/stores/uiPrefsStore.test.ts
  web/src/lib/stores/uiPrefsStore.ts
  web/src/routes/(authed)/terminal/+page.svelte
  web/src/routes/+layout.svelte
  web/src/test-setup.ts
  web/vite.config.ts
Due: lint-yaml

docs(terminal): design spec for terminal hi-fi revamp
  docs/superpowers/specs/2026-04-18-terminal-hifi-revamp-design.md
Due: none

feat(core): engine.EndSession emits session_ended on character stream (9es6.2)
  internal/core/engine_end_session.go
  internal/core/engine_end_session_ctx_test.go
  internal/core/engine_end_session_test.go
Due: lint-go

feat(core): I1 runtime guardrail on NewEngine (9es6.3)
  cmd/holomush/sub_grpc.go
  internal/core/engine.go
  internal/core/engine_test.go
Due: lint-go

docs(plan): implementation plan for session lifecycle as events
  docs/superpowers/plans/2026-04-18-session-lifecycle-as-events.md
Due: none

fix(core): quality fixes for engine.EndSession (9es6.2 followup)
  internal/core/engine_end_session.go
  internal/core/engine_end_session_ctx_test.go
  internal/core/engine_end_session_test.go
  internal/core/event.go
Due: lint-go

feat(core): add EventTypeSessionEnded and SessionEndedPayload (9es6.1)
  internal/core/event.go
  internal/core/session_ended_payload.go
Due: lint-go

docs(spec): apply second-round review clarifications
  docs/superpowers/specs/2026-04-18-session-lifecycle-as-events-design.md
Due: none

docs(spec): revise session-lifecycle spec after architect review
  docs/superpowers/specs/2026-04-18-session-lifecycle-as-events-design.md
Due: none

feat(grpc): sendAndCommitEvent handles session_ended terminal (9es6.5)
  internal/grpc/server.go
  internal/grpc/server_test.go
Due: lint-go

docs: markdown lint fixes from task fmt (incidental to 9es6.1)
  docs/superpowers/plans/2026-04-18-session-lifecycle-as-events.md
  docs/superpowers/specs/2026-04-18-session-lifecycle-as-events-design.md
Due: none

feat(grpc): errStreamTerminated sentinel for graceful Subscribe close (9es6.4)
  internal/grpc/stream_terminated.go
  internal/grpc/stream_terminated_test.go
Due: lint-go

fix(core): quality fixes for NewEngine guardrail (9es6.3 followup)
  internal/core/engine.go
  internal/core/engine_test.go
Due: lint-go

docs(spec): apply third-round review — decouple ctx, wire reaper, unbundle
  docs/superpowers/specs/2026-04-18-session-lifecycle-as-events-design.md
Due: none

docs(spec): session lifecycle as events — fix quit-teardown race
  docs/superpowers/specs/2026-04-18-session-lifecycle-as-events-design.md
Due: none

fix(grpc): quality fixes for sendAndCommitEvent terminal (9es6.5 followup)
  internal/core/event.go
  internal/grpc/server.go
  internal/grpc/server_test.go
Due: lint-go

docs(spec): address blockers from independent design review
  docs/superpowers/specs/2026-04-18-jetstream-event-log-design.md
Due: none

docs(spec): JetStream event log + PG audit projection design
  docs/superpowers/specs/2026-04-18-jetstream-event-log-design.md
Due: none

docs(plans): JetStream EventBus phase A + B implementation plans
  docs/superpowers/plans/2026-04-18-jetstream-eventbus-phase-a.md
  docs/superpowers/plans/2026-04-18-jetstream-eventbus-phase-b.md
Due: none

docs(spec): resolve all 12 open decisions; spec is plan-ready
  docs/superpowers/specs/2026-04-18-jetstream-event-log-design.md
Due: none

docs(spec,plans): note holomush-umxj fixed independently in PR #237
  docs/superpowers/plans/2026-04-18-jetstream-eventbus-phase-b.md
  docs/superpowers/specs/2026-04-18-jetstream-event-log-design.md
Due: none

fix: rebase onto PR 237 — adopt client-side drainTimeout fallback, drop server-side WatchSession fixes
  cmd/holomush/sub_grpc.go
  docs/superpowers/plans/2026-04-18-session-lifecycle-as-events.md
  internal/auth/auth_service.go
  internal/auth/auth_service_test.go
  internal/auth/mocks/mock_PlayerSessionRepository.go
  internal/auth/player_session.go
  internal/auth/reset_service_logging_test.go
  internal/command/dispatcher_test.go
  internal/command/handlers/resetpassword.go
  internal/command/types_test.go
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/dispatcher_test.go
  internal/grpc/drain_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/plugin/hostfunc/stdlib_session_test.go
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/session/mocks/mock_Store.go
  internal/session/reaper.go
  internal/session/session.go
  internal/store/player_session_store.go
  internal/store/player_session_store_test.go
  internal/store/session_store.go
  internal/store/session_store_integration_test.go
  internal/store/session_store_test.go
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
  test/integration/auth/player_session_test.go
  test/integration/command/ratelimit_integration_test.go
  test/integration/session_lifecycle/fanout_integration_test.go
  test/integration/session_lifecycle/logout_eviction_integration_test.go
  test/integration/session_lifecycle/ordering_integration_test.go
  test/integration/session_lifecycle/quit_regression_integration_test.go
  test/integration/session_lifecycle/session_lifecycle_suite_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go, schema-sync

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
