Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(access): wire ABAC engine stack into production startup
  cmd/holomush/core.go
  internal/access/policy/pglistener.go
  internal/access/policy/pglistener_test.go
Due: lint-go

feat(access): wire ABAC engine stack into production startup
  cmd/holomush/core.go
  docs/plans/2026-03-15-abac-stack-wiring.md
  docs/specs/2026-03-15-abac-stack-wiring-design.md
  internal/access/policy/attribute/plugin_provider.go
  internal/access/policy/attribute/plugin_provider_test.go
  internal/access/policy/pglistener.go
  internal/access/policy/pglistener_test.go
  internal/access/setup/setup.go
  internal/access/setup/setup_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
Due: lint-go, schema-sync

feat(access): wire ABAC engine stack into production startup (#107)
  cmd/holomush/core.go
  docs/plans/2026-03-15-abac-stack-wiring.md
  docs/specs/2026-03-15-abac-stack-wiring-design.md
  internal/access/policy/attribute/plugin_provider.go
  internal/access/policy/attribute/plugin_provider_test.go
  internal/access/policy/pglistener.go
  internal/access/policy/pglistener_test.go
  internal/access/setup/setup.go
  internal/access/setup/setup_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
Due: lint-go, schema-sync

chore: unexport TxFromContext, update README for current architecture
  README.md
  cmd/holomush/core.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/manager.go
  internal/world/postgres/export_test.go
  internal/world/postgres/helpers.go
Due: lint-go, schema-sync

chore: unexport TxFromContext, update README for current architecture (#108)
  README.md
  cmd/holomush/core.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/manager.go
  internal/world/postgres/export_test.go
  internal/world/postgres/helpers.go
Due: lint-go, schema-sync

ci: remove Claude Code GitHub Actions workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: lint-yaml, lint-actions

ci: remove Claude Code GitHub Actions workflows (#111)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: lint-yaml, lint-actions

ci: bump golangci-lint from v2.1.6 to v2.11.3
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

ci: bump golangci-lint from v2.1.6 to v2.11.3 (#112)
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

ci: switch from Dependabot to Renovate for dependency management
  .github/dependabot.yaml
  .github/renovate.json
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

ci: switch from Dependabot to Renovate (#113)
  .github/dependabot.yaml
  .github/renovate.json
Due: lint-yaml

feat(abac): Phase 7.7 — resilience, observability & integration tests
  internal/access/policy/attribute/circuit_breaker.go
  internal/access/policy/attribute/circuit_breaker_test.go
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/access/policy/attribute/schema_evolution.go
  internal/access/policy/attribute/schema_evolution_test.go
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
  internal/access/policy/types/types.go
  internal/world/property_lifecycle.go
  internal/world/property_lifecycle_test.go
  test/integration/access/access_suite_test.go
  test/integration/access/evaluation_test.go
  test/integration/access/seed_policies_test.go
Due: lint-go

jjagent: session 3808e815 pt. 2
  internal/access/policy/attribute/circuit_breaker.go
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/schema_evolution.go
  internal/access/policy/engine.go
  internal/world/property_lifecycle.go
  internal/world/property_lifecycle_test.go
Due: lint-go

fix: apply CodeRabbit auto-fixes for Phase 7.7 PR
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  test/integration/access/evaluation_test.go
  test/integration/access/seed_policies_test.go
Due: lint-go

fix: apply CodeRabbit auto-fixes (round 2)
  internal/access/policy/attribute/schema_evolution.go
  internal/world/property_lifecycle.go
Due: lint-go

fix: address PR review findings for Phase 7.7
  internal/access/policy/attribute/circuit_breaker.go
  internal/access/policy/attribute/circuit_breaker_test.go
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/schema_evolution.go
  internal/access/policy/attribute/schema_evolution_test.go
  internal/access/policy/engine.go
  internal/access/policy/types/types.go
  internal/world/property_lifecycle.go
  test/integration/access/access_suite_test.go
Due: lint-go

fix: address CodeRabbit round 3 findings
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/schema_evolution.go
  internal/access/policy/engine.go
  internal/access/policy/types/types.go
  test/integration/access/access_suite_test.go
Due: lint-go

fix(bench): update stale benchmark baselines for full ABAC engine
  .benchmarks/baseline.txt
Due: none

feat(abac): Phase 7.7 — resilience, observability & integration tests (#114)
  .benchmarks/baseline.txt
  internal/access/policy/attribute/circuit_breaker.go
  internal/access/policy/attribute/circuit_breaker_test.go
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/access/policy/attribute/schema_evolution.go
  internal/access/policy/attribute/schema_evolution_test.go
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
  internal/access/policy/types/types.go
  internal/world/property_lifecycle.go
  internal/world/property_lifecycle_test.go
  test/integration/access/access_suite_test.go
  test/integration/access/evaluation_test.go
  test/integration/access/seed_policies_test.go
Due: lint-go

feat(abac): add action constants, Effect.Valid(), document Lua API change
  docs/plans/2026-02-06-full-abac-phase-7.6.md
  internal/access/policy/types/types.go
Due: lint-go

feat(abac): Epic 7 cleanup — action constants, Effect.Valid(), Lua API doc (#115)
  docs/plans/2026-02-06-full-abac-phase-7.6.md
  internal/access/policy/types/types.go
Due: lint-go

docs: add telnet E2E vertical slice design spec
  docs/superpowers/specs/2026-03-16-telnet-e2e-vertical-slice-design.md
Due: none

feat(telnet): E2E vertical slice — gateway handler, guest auth, BDD tests
  cmd/holomush/core.go
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
  docs/superpowers/plans/2026-03-16-telnet-e2e-vertical-slice.md
  docs/superpowers/specs/2026-03-16-telnet-e2e-vertical-slice-design.md
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/grpc/server.go
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
  internal/telnet/guest_auth.go
  internal/telnet/guest_auth_test.go
  internal/world/property_lifecycle_test.go
  test/integration/access/access_suite_test.go
  test/integration/telnet/e2e_test.go
  test/integration/telnet/telnet_suite_test.go
Due: lint-go

feat(telnet): E2E vertical slice — gateway handler, guest auth, BDD tests (#116)
  cmd/holomush/core.go
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
  docs/superpowers/plans/2026-03-16-telnet-e2e-vertical-slice.md
  docs/superpowers/specs/2026-03-16-telnet-e2e-vertical-slice-design.md
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/grpc/server.go
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
  internal/telnet/guest_auth.go
  internal/telnet/guest_auth_test.go
  internal/world/property_lifecycle_test.go
  test/integration/access/access_suite_test.go
  test/integration/telnet/e2e_test.go
  test/integration/telnet/telnet_suite_test.go
Due: lint-go

feat(lifecycle): session lifecycle hooks — arrive/leave events, disconnect hooks, legacy cleanup
  cmd/holomush/core.go
  docs/superpowers/plans/2026-03-17-session-lifecycle-hooks.md
  docs/superpowers/specs/2026-03-17-session-lifecycle-hooks-design.md
  internal/access/policy/policytest/mock_AccessPolicyEngine.go
  internal/core/engine.go
  internal/core/engine_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/telnet/auth_handler.go
  internal/telnet/auth_handler_logging_test.go
  internal/telnet/auth_handler_test.go
  internal/telnet/gateway_handler.go
  internal/telnet/guest_auth.go
  internal/telnet/guest_auth_test.go
  internal/telnet/handler.go
  internal/telnet/handler_test.go
  internal/telnet/server.go
  internal/telnet/server_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go

feat(lifecycle): session lifecycle hooks — arrive/leave events, disconnect hooks, legacy cleanup (#117)
  cmd/holomush/core.go
  docs/superpowers/plans/2026-03-17-session-lifecycle-hooks.md
  docs/superpowers/specs/2026-03-17-session-lifecycle-hooks-design.md
  internal/access/policy/policytest/mock_AccessPolicyEngine.go
  internal/core/engine.go
  internal/core/engine_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/telnet/auth_handler.go
  internal/telnet/auth_handler_logging_test.go
  internal/telnet/auth_handler_test.go
  internal/telnet/gateway_handler.go
  internal/telnet/guest_auth.go
  internal/telnet/guest_auth_test.go
  internal/telnet/handler.go
  internal/telnet/handler_test.go
  internal/telnet/server.go
  internal/telnet/server_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go

feat(config): implement config.Load — YAML + flag precedence via koanf
  go.mod
  go.sum
  internal/config/config.go
Due: lint-go

test(config): failing tests for config.Load — YAML, flags, precedence
  internal/config/config.go
  internal/config/config_test.go
Due: lint-go

docs(config): implementation plan + spec review fixes
  docs/plans/2026-03-17-config-file-system.md
  docs/specs/2026-03-17-config-file-system-design.md
Due: none

docs(config): design spec for config file system (koanf + YAML)
  docs/specs/2026-03-17-config-file-system-design.md
Due: none

feat(config): wire config.Load into core subcommand
  cmd/holomush/core.go
  cmd/holomush/core_test.go
Due: lint-go

feat(config): wire config.Load into gateway subcommand
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
Due: lint-go

refactor(config): export coreConfig fields for koanf unmarshaling
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/deps_test.go
Due: lint-go

feat(config): wire config.Load into status subcommand
  cmd/holomush/status.go
  cmd/holomush/status_test.go
Due: lint-go

refactor(config): export statusConfig fields for koanf unmarshaling
  cmd/holomush/status.go
  cmd/holomush/status_test.go
Due: lint-go

refactor(config): export gatewayConfig fields for koanf unmarshaling
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
Due: lint-go

fix(holomush-0c3r.3): load GameConfig at command boundary, not inside runCoreWithDeps
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/deps_test.go
Due: lint-go

style(grpc): fix alignment and indentation
  internal/grpc/server.go
  internal/grpc/server_test.go
Due: lint-go

fix(config): lint fixes — file perms, import shadow, nilerr suppression
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/gateway_test.go
  cmd/holomush/status_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: lint-go

fix(holomush-0c3r.19,holomush-0c3r.10): docs — remove phantom flag, fix precedence
  site/docs/operators/configuration.md
Due: lint-markdown-site, fmt-markdown-site

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
