Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(09): create phase plan
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-01-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-02-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-03-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-04-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-05-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-06-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-07-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-08-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-09-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-10-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-11-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-12-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-13-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-14-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-15-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-16-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-17-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-18-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-19-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-PATTERNS.md
Due: none

docs(09): annotate roadmap with wave dependencies
  .planning/ROADMAP.md
Due: none

docs(09): add cross-AI plan review (codex + kimi-k3)
  .planning/phases/09-test-quality-code-health-sweep/09-REVIEWS.md
Due: none

docs(09): replan incorporating cross-AI review feedback
  .planning/ROADMAP.md
  .planning/phases/09-test-quality-code-health-sweep/09-01-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-05-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-07-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-11-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-12-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-13-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-14-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-15-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-16-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-17-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-18-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-19-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-20-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-21-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-CONTEXT.md
  .planning/phases/09-test-quality-code-health-sweep/09-DISCUSSION-LOG.md
Due: none

docs(09): add round-2 cross-AI plan review (codex + kimi-k3 + opencode)
  .planning/phases/09-test-quality-code-health-sweep/09-REVIEWS.md
Due: none

docs(09): amend phase 9 plans for round-2 cross-AI review findings
  .planning/phases/09-test-quality-code-health-sweep/09-01-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-04-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-05-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-06-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-08-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-10-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-12-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-14-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-15-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-16-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-17-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-18-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-19-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-20-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-21-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-CONTEXT.md
Due: none

docs(09): close plan-checker warnings W-1..W-3
  .planning/phases/09-test-quality-code-health-sweep/09-03-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-06-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-08-PLAN.md
Due: none

fix(09-01): repair the E2E binary-coverage flush and make an empty profile loud
  Taskfile.yaml
  compose.e2e.cover.yaml
Due: lint-yaml

chore(09-01): un-ignore the two server-wiring files and correct the falsified coverage baseline
  .codecov.yml
Due: lint-yaml

docs(09-01): SUMMARY — E2E coverage chain repaired and guarded
  .planning/phases/09-test-quality-code-health-sweep/09-01-SUMMARY.md
  .planning/phases/09-test-quality-code-health-sweep/deferred-items.md
Due: none

docs(09-01): record self-check result in SUMMARY
  .planning/phases/09-test-quality-code-health-sweep/09-01-SUMMARY.md
Due: none

docs(09-01): complete E2E coverage chain repair plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-01-SUMMARY.md
Due: none

docs(09-02): file skip-file + security-polish tracking issues, record deferrals
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-02-SUMMARY.md
Due: none

test(09-03): assert unresolved optional attrs are absent from ABAC bags
  internal/access/policy/attribute/location_test.go
  internal/access/policy/attribute/object_test.go
  internal/access/policy/attribute/property_test.go
Due: lint-go

fix(09-03): omit unresolved optional ABAC attrs instead of empty-string sentinels
  internal/access/policy/attribute/location.go
  internal/access/policy/attribute/object.go
  internal/access/policy/attribute/property.go
Due: lint-go

test(09-03): pin the cross-resource fail-open path for unresolved ABAC attrs
  internal/access/policy/attribute/location_test.go
Due: lint-go

docs(09-03): complete ABAC sentinel-removal plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-03-SUMMARY.md
  .planning/phases/09-test-quality-code-health-sweep/deferred-items.md
Due: none

test(09-04): pin secure-cookies default-on and its explicit opt-out
  cmd/holomush/gateway_test.go
Due: lint-go

fix(09-04): default the gateway secure-cookie/HSTS/CSP set to on
  cmd/holomush/gateway.go
Due: lint-go

fix(09-04): opt the plain-HTTP compose stacks out of secure cookies
  compose.yaml
Due: lint-yaml

docs(09-04): document the secure-cookies default inversion and its upgrade impact
  site/src/content/docs/operating/reference/configuration.md
Due: lint-markdown-site, fmt-markdown-site

docs(09-04): complete gateway secure-cookie default inversion plan
  .planning/phases/09-test-quality-code-health-sweep/09-04-SUMMARY.md
Due: none

docs(09-04): update state and roadmap after secure-cookie default inversion
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(09-05): index sessions.location_id for the presence query
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000053_sessions_location_index.down.sql
  internal/store/migrations/000053_sessions_location_index.up.sql
  internal/store/migrations_sessions_location_index_integration_test.go
Due: lint-go

docs(09-05): complete sessions location index plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-05-SUMMARY.md
Due: none

test(09-06): pin the fence's dropped-violation log record
  internal/eventbus/history/plugin_downgrade_fence_test.go
Due: lint-go

fix(09-06): log the plugin downgrade fence's dropped violation record
  internal/eventbus/history/plugin_downgrade_fence.go
Due: lint-go

docs(09-06): complete plugin downgrade fence drop observability plan
  .planning/phases/09-test-quality-code-health-sweep/09-06-SUMMARY.md
Due: none

docs(09-06): update state and roadmap after fence drop observability
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(09-07): add timestamped direct-emit helper to the integration harness
  internal/testsupport/integrationtest/session.go
Due: lint-go

test(09-07): prove the timestamped emit lands at the caller's chosen instant
  test/integration/privacy/privacy_test.go
Due: lint-go

chore(09-07): deny production imports of the integration harness
  .golangci.yaml
  test/meta/depguard_config_test.go
Due: lint-go, lint-yaml

docs(09-07): complete timestamped direct-emit harness seam plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-07-SUMMARY.md
Due: none

test(09-08): assert certificate material failure paths in tlscerts
  internal/tls/certs_test.go
Due: lint-go

test(09-08): assert TLS subsystem fail-to-start and stage diagnosis
  internal/tls/subsystem_test.go
Due: lint-go

docs(09-08): complete TLS coverage floor plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-08-SUMMARY.md
Due: none

test(09-09): move alias repository interface canary to a compile-time assertion
  internal/store/alias.go
  internal/store/alias_test.go
Due: lint-go

docs(09-09): complete QUAL-03 weak-test remediation plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-09-SUMMARY.md
Due: none

test(09-10): cover the core command's audit adapters, log-sink routing and config loading
  cmd/holomush/core_test.go
Due: lint-go

docs(09-10): complete cmd/holomush coverage floor plan with recorded residual
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/09-test-quality-code-health-sweep/09-10-SUMMARY.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
