Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "task generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(world): address PR review findings for error handling
  internal/world/errors_test.go
  internal/world/object.go
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
  internal/world/repository.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

bd daemon sync: 2026-01-24 14:39:06
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 14:52:26
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 14:52:35
  .beads/issues.jsonl
Due: none

fix(world): comprehensive error handling improvements
  internal/world/object.go
  internal/world/object_test.go
  internal/world/postgres/exit_repo.go
  internal/world/postgres/exit_repo_test.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/location_repo_test.go
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
  internal/world/postgres/scene_repo.go
  internal/world/postgres/scene_repo_test.go
  internal/world/service.go
  test/integration/world/object_repo_test.go
Due: lint-go

bd daemon sync: 2026-01-24 15:05:57
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 15:14:16
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 15:14:23
  .beads/issues.jsonl
Due: none

docs(plans): add Epic 4 Phase 2 completion plan
  docs/plans/2026-01-24-epic-4-phase-2-completion.md
Due: lint-markdown

bd daemon sync: 2026-01-24 15:25:52
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 15:26:10
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 15:26:33
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 15:27:42
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 15:27:51
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 15:27:56
  .beads/issues.jsonl
Due: none

feat(world): add Character type and CharacterRepository interface
  internal/world/character.go
  internal/world/character_test.go
  internal/world/repository.go
Due: lint-go

feat(cli): add world seed command
  cmd/holomush/root.go
  cmd/holomush/seed.go
Due: lint-go

feat(world): add Description to Character and full CRUD to CharacterRepository
  internal/world/character.go
  internal/world/character_test.go
  internal/world/repository.go
Due: lint-go

fix(cli): improve seed command reliability
  cmd/holomush/seed.go
  internal/store/postgres.go
Due: lint-go

bd daemon sync: 2026-01-24 15:39:55
  .beads/issues.jsonl
Due: none

chore(world): generate CharacterRepository mock
  .mockery.yaml
  internal/world/worldtest/mock_CharacterRepository.go
Due: lint-go, lint-yaml

feat(world): add PostgreSQL CharacterRepository
  internal/store/migrations/008_character_description_nullable_location.sql
  internal/store/postgres.go
  internal/store/postgres_test.go
  internal/world/postgres/character_repo.go
  internal/world/postgres/character_repo_test.go
Due: lint-go

feat(world): emit plugin events for world operations
  internal/world/events.go
  internal/world/events_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

bd daemon sync: 2026-01-24 15:46:08
  .beads/issues.jsonl
Due: none

feat(plugin): add world query host functions for Lua plugins
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/world.go
  internal/plugin/hostfunc/world_test.go
Due: lint-go, schema-sync

bd daemon sync: 2026-01-24 15:49:51
  .beads/issues.jsonl
Due: none

fix(plugin): add logging and tests for world query host functions
  internal/plugin/hostfunc/world.go
  internal/plugin/hostfunc/world_test.go
Due: lint-go, schema-sync

bd daemon sync: 2026-01-24 16:00:57
  .beads/issues.jsonl
Due: none

fix(world): add validation and error codes for events and characters
  docs/plans/2026-01-24-epic-4-phase-2-completion.md
  internal/world/character.go
  internal/world/character_test.go
  internal/world/events.go
  internal/world/events_test.go
  internal/world/postgres/exit_repo_test.go
Due: lint-go, lint-markdown

fix(world): add error codes and tests for event emit failures
  internal/plugin/hostfunc/world_test.go
  internal/world/events_test.go
  internal/world/postgres/character_repo.go
Due: lint-go, schema-sync

fix(world): prevent nil pointer panic in MoveObject event emission
  internal/plugin/hostfunc/world.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go, schema-sync

test(world): add boundary tests for name and description max lengths
  internal/world/character_test.go
Due: lint-go

fix(world): add nil object validation and ErrNotFound tests
  internal/world/events.go
  internal/world/events_test.go
  internal/world/service_test.go
Due: lint-go

feat(world): add CharacterRepo to ServiceConfig and test event emit failure
  internal/world/events_test.go
  internal/world/service.go
Due: lint-go

fix(seed): correct invalid ULID string length
  cmd/holomush/seed.go
  cmd/holomush/seed_test.go
Due: lint-go

test(world): add missing empty from_type and to_type validation tests
  internal/world/payloads_test.go
Due: lint-go

test(plugin): add database error tests for query_room and query_character
  internal/plugin/hostfunc/world_test.go
Due: lint-go, schema-sync

feat(world): add ContainmentTypeNone for first-time object placements
  internal/world/events_test.go
  internal/world/object.go
  internal/world/object_test.go
  internal/world/payloads.go
  internal/world/payloads_test.go
Due: lint-go

fix(world): address PR review findings
  cmd/holomush/seed.go
  internal/plugin/hostfunc/world.go
  internal/world/events.go
  internal/world/events_test.go
  internal/world/object.go
  internal/world/object_test.go
  internal/world/payloads.go
  internal/world/payloads_test.go
Due: lint-go, schema-sync

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
