Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

fix: apply CodeRabbit auto-fixes (PR #252 round 3)
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/audit/plugin_consumer_round3_test.go
  internal/eventbus/history/hot_jetstream_test.go
  internal/eventbus/publisher_test.go
  internal/eventbus/subscriber_round3_test.go
  internal/grpc/subscribe_server_test.go
Due: lint-go

refactor(scripts): harden bootstrap-seed-secrets with end-to-end validation (Python rewrite) (#253)
  .github/workflows/scripts-tests.yaml
  .gitignore
  scripts/README.md
  scripts/bootstrap-seed-secrets.sh
  scripts/bootstrap_seed_secrets.py
  scripts/pyproject.toml
  scripts/tests/__init__.py
  scripts/tests/test_bootstrap_seed_secrets.py
  scripts/uv.lock
Due: lint-yaml, lint-actions

feat(store): migration 000011 — events_audit (subject, js_seq) index
  docs/superpowers/plans/2026-04-21-cold-tier-js-seq-pagination-plan.md
  docs/superpowers/specs/2026-04-21-cold-tier-js-seq-pagination-design.md
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000011_events_audit_js_seq_index.down.sql
  internal/store/migrations/000011_events_audit_js_seq_index.up.sql
Due: lint-go

feat(eventbus/cursor): internal cursor proto for opaque pagination tokens
  Taskfile.yaml
  cmd/holomush/core.go
  cmd/holomush/sub_grpc.go
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/cursor/cursor.proto
  internal/eventbus/cursor/cursorv1/cursor.pb.go
  internal/eventbus/decode_delivery_test.go
  internal/eventbus/history/decode_jetstream_test.go
  internal/eventbus/integration_test.go
  internal/eventbus/publisher_test.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/server_helpers_test.go
  internal/grpc/subscribe_loop_test.go
  internal/session/memstore_test.go
  plugins/core-scenes/audit.go
  test/integration/eventbus_e2e/soak_test.go
Due: lint-go, lint-yaml

feat(eventbus/cursor): Encode/Decode for opaque pagination tokens
  internal/eventbus/cursor/cursor.go
  internal/eventbus/cursor/cursor_test.go
Due: lint-go

feat(eventbus): add Event.Seq field for JetStream stream sequence
  internal/eventbus/types.go
  internal/eventbus/types_test.go
Due: lint-go

refactor(eventbus): replace HistoryQuery After/Before with (Seq, ID) pairs
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_adapters_test.go
  internal/eventbus/audit/plugin_router.go
  internal/eventbus/audit/plugin_router_test.go
  internal/eventbus/bus.go
  internal/eventbus/bus_test.go
  internal/eventbus/errors.go
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/history/hot_jetstream_round3_test.go
  internal/eventbus/history/tier.go
  internal/eventbus/history/tier_round3_test.go
  internal/eventbus/history/tier_test.go
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
Due: lint-go

feat(eventbus/history): cold tier paginates by js_seq with (seq, id) tripwire
  Taskfile.yaml
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/cold_postgres_integration_test.go
  internal/eventbus/types.go
Due: lint-go, lint-yaml

feat(eventbus/history): hot tier paginates by JS sequence with cursor validation
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/history/hot_jetstream_round3_test.go
  internal/eventbus/history/hot_jetstream_test.go
Due: lint-go

feat(eventbus/history): crossover seq-keyed dedup + Stream.Info snapshot
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/cold_postgres_integration_test.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/history/stream_state.go
  internal/eventbus/history/stream_state_test.go
  internal/eventbus/history/tier.go
  internal/eventbus/history/tier_round3_test.go
  internal/eventbus/history/tier_test.go
  test/integration/eventbus_e2e/cross_tier_query_test.go
Due: lint-go

feat(eventbus): Subscribe deliveries populate Event.Seq
  internal/eventbus/decode_delivery_test.go
  internal/eventbus/subscriber.go
  internal/eventbus/subscriber_test.go
Due: lint-go

feat(grpc+proto): opaque cursor on wire; LAG/STALE/INVALID error mapping
  api/proto/holomush/core/v1/core.proto
  api/proto/holomush/plugin/v1/plugin.proto
  api/proto/holomush/web/v1/web.proto
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/server.go
  internal/web/handler.go
  internal/web/handler_test.go
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/web/v1/web.pb.go
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(plugin): opaque cursor fields on Go SDK; plugin cursor routing
  api/proto/holomush/plugin/v1/plugin.proto
  internal/grpc/query_stream_history.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
  pkg/plugin/event.go
  pkg/plugin/focus_client.go
  pkg/plugin/focus_client_test.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  plugins/core-scenes/commands_test.go
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, schema-sync

feat(eventbus): Lua hostfunc + ruleguard cleanup (holomush-suos)
  cmd/holomush/sub_grpc.go
  gorules/rules.go
  internal/plugin/hostfunc/functions_test.go
  internal/plugin/hostfunc/stdlib_focus.go
  internal/plugin/hostfunc/stdlib_focus_test.go
Due: lint-go, schema-sync

feat(web/backfill): opaque cursor + LAG retry / STALE recovery
  web/src/lib/backfill/streamBackfill.test.ts
  web/src/lib/backfill/streamBackfill.ts
Due: none

fix: apply CodeRabbit auto-fixes (PR #254)
  Taskfile.yaml
  gorules/rules.go
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/hot_jetstream.go
Due: lint-go, lint-yaml

refactor(proto): unify cursor proto generation under buf workspace
  Taskfile.yaml
  buf.gen.internal.yaml
  buf.gen.yaml
  buf.yaml
  internal/eventbus/cursor/cursor.proto
  internal/eventbus/cursor/cursorv1/cursor.pb.go
Due: lint-go, lint-yaml

test(eventbus): regression coverage for concurrent-publisher pagination
  .codecov.yml
  internal/eventbus/history/hot_jetstream_round3_test.go
  test/integration/eventbus_e2e/cursor_concurrent_test.go
Due: lint-go, lint-yaml

fix: apply CodeRabbit auto-fixes round 3 (PR #254)
  buf.yaml
  internal/eventbus/cursor/cursor_test.go
  internal/eventbus/history/hot_jetstream_round3_test.go
  internal/eventbus/history/hot_jetstream_round4_test.go
  internal/eventbus/history/stream_state_test.go
  internal/grpc/query_stream_history_test.go
  test/integration/eventbus_e2e/cursor_concurrent_suite_test.go
  test/integration/eventbus_e2e/cursor_concurrent_test.go
  web/src/lib/connect/holomush/content/v1/content_pb.ts
  web/src/lib/connect/holomush/control/v1/control_pb.ts
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/eventbus/v1/eventbus_pb.ts
  web/src/lib/connect/holomush/plugin/v1/attribute_pb.ts
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
  web/src/lib/connect/holomush/plugin/v1/hostfunc_pb.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/lib/connect/holomush/world/v1/world_pb.ts
Due: lint-go, lint-yaml

fix: apply CodeRabbit auto-fixes round 5 (PR #254)
  docs/superpowers/specs/2026-04-21-cold-tier-js-seq-pagination-design.md
  internal/eventbus/cursor/cursor.go
  internal/eventbus/cursor/cursor.proto
  internal/eventbus/history/cold_postgres_integration_test.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/history/tier.go
  internal/eventbus/subscriber_test.go
  internal/eventbus/types_test.go
  internal/plugin/hostfunc/stdlib_focus.go
  internal/store/migrate_test.go
  pkg/plugin/focus_client_test.go
  web/src/lib/backfill/streamBackfill.ts
Due: lint-go, schema-sync

ci(sandbox): use doctl for DO Spaces key lifecycle
  .github/workflows/bootstrap-sandbox.yaml
  .yamlfmt
Due: lint-yaml, lint-actions

ci(sandbox): use doctl for DO Spaces key lifecycle (#256)
  .github/workflows/bootstrap-sandbox.yaml
  .yamlfmt
Due: lint-yaml, lint-actions

fix(sandbox): doctl --output json for Spaces keys; postgres:18 data-dir mount
  .github/workflows/bootstrap-sandbox.yaml
  compose.prod.yaml
  compose.yaml
Due: lint-yaml, lint-actions

fix(sandbox): doctl --output json for Spaces keys; postgres:18 data-dir mount (#257)
  .github/workflows/bootstrap-sandbox.yaml
  compose.prod.yaml
  compose.yaml
Due: lint-yaml, lint-actions

ci(sandbox): add set -x + doctl --verbose on Spaces-key step to debug silent exit
  .github/workflows/bootstrap-sandbox.yaml
Due: lint-yaml, lint-actions

fix(sandbox): temp-key dance for bucket create; extract spaces steps to scripts
  .github/workflows/bootstrap-sandbox.yaml
  scripts/bootstrap-sandbox/README.md
  scripts/bootstrap-sandbox/spaces-bucket.sh
  scripts/bootstrap-sandbox/spaces-key.sh
  site/docs/operating/sandbox-operations.md
  site/docs/operating/sandbox-restore.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

fix(sandbox): temp-key dance for bucket create; extract Spaces steps to scripts (#259)
  .github/workflows/bootstrap-sandbox.yaml
  scripts/bootstrap-sandbox/README.md
  scripts/bootstrap-sandbox/spaces-bucket.sh
  scripts/bootstrap-sandbox/spaces-key.sh
  site/docs/operating/sandbox-operations.md
  site/docs/operating/sandbox-restore.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

chore(claude): gitignore local-scope agent memory
  .gitignore
Due: none

chore(lint): exclude .claude from rumdl and apply fmt
  .claude/agents/code-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
  Taskfile.yaml
  docs/superpowers/plans/2026-04-24-review-subagents-plan.md
  docs/superpowers/specs/2026-04-24-review-subagents-design.md
Due: lint-yaml

docs(plan): implementation plan for review sub-agents
  docs/superpowers/plans/2026-04-24-review-subagents-plan.md
Due: none

docs(spec): adversarial review sub-agents (code/plan/design)
  docs/superpowers/specs/2026-04-24-review-subagents-design.md
Due: none

feat(claude): add code-reviewer adversarial sub-agent
  .claude/agents/code-reviewer.md
Due: none

chore(claude): scaffold project-scope agent memory
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
Due: none

feat(claude): add design-reviewer adversarial sub-agent
  .claude/agents/design-reviewer.md
Due: none

docs(claude): document pre-push review gates in CLAUDE.md
  CLAUDE.md
Due: none

feat(claude): add /review-{code,plan,design} slash commands
  .claude/commands/review-code.md
  .claude/commands/review-design.md
  .claude/commands/review-plan.md
Due: none

feat(claude): add plan-reviewer adversarial sub-agent
  .claude/agents/plan-reviewer.md
Due: none

fix(sandbox): firewall step uses doctl + extract to scripts; pin doctl version
  .github/workflows/bootstrap-sandbox.yaml
  scripts/bootstrap-sandbox/README.md
  scripts/bootstrap-sandbox/firewall-attach.sh
  scripts/bootstrap-sandbox/firewall.sh
Due: lint-yaml, lint-actions
