Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(scenes): wire lifecycle facade RPCs through client + narrowing interfaces (holomush-5rh.24)
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/web/handler.go
Due: lint-go

test(web): E2E telnet-free scene lifecycle via GUI (holomush-5rh.24)
  web/e2e/helpers/db.ts
  web/e2e/scenes-lifecycle.spec.ts
Due: none

fix(scenes): surface rail lifecycle errors + pause/resume fail-closed & flow tests + correct resume participant-wide comments (PR #4522 review)
  api/proto/holomush/scene/v1/scene.proto
  plugins/core-scenes/lifecycle.go
  plugins/core-scenes/service_test.go
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/scenes/lifecycleFlow.test.ts
Due: lint-go

fix(scenes): CodeRabbit review + green binary-plugin lifecycle integration (PR #4522)
  plugins/core-scenes/service_test.go
  test/integration/plugin/binary_plugin_test.go
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
  web/src/lib/scenes/workspaceStore.svelte.ts
Due: lint-go

feat(scenes): web scene lifecycle actions — End/Pause/Resume (holomush-5rh.24) (#4522)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  api/proto/holomush/scene/v1/scene.proto
  api/proto/holomush/sceneaccess/v1/sceneaccess.proto
  api/proto/holomush/web/v1/web.proto
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
  internal/web/handler.go
  internal/web/scene_handlers.go
  internal/web/scene_handlers_logging_test.go
  internal/web/scene_handlers_test.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess_grpc.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccessv1connect/sceneaccess.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  plugins/core-scenes/commands_test.go
  plugins/core-scenes/lifecycle.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  test/integration/plugin/binary_plugin_test.go
  web/e2e/helpers/db.ts
  web/e2e/scenes-lifecycle.spec.ts
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
  web/src/lib/components/scenes/SceneListItem.svelte.test.ts
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/lib/scenes/client.ts
  web/src/lib/scenes/lifecycleFlow.test.ts
  web/src/lib/scenes/lifecycleFlow.ts
  web/src/lib/scenes/types.ts
  web/src/lib/scenes/workspaceStore.svelte.ts
Due: lint-go

docs(scenes): web communication RENDERING seam — design, plan + ADRs (holomush-5rh.33)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/holomush-914rn-extract-shared-web-communication-rendering-primitive-instead.md
  docs/adr/holomush-bbwe7-scope-rendering-seam-invariants-seam-as-web-local-vitest-che.md
  docs/superpowers/plans/2026-06-25-shared-web-communication-seam.md
  docs/superpowers/specs/2026-06-25-shared-web-communication-seam-design.md
Due: none

docs(scenes): web communication rendering seam — design, plan + ADRs (holomush-5rh.33) (#4523)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/holomush-914rn-extract-shared-web-communication-rendering-primitive-instead.md
  docs/adr/holomush-bbwe7-scope-rendering-seam-invariants-seam-as-web-local-vitest-che.md
  docs/superpowers/plans/2026-06-25-shared-web-communication-seam.md
  docs/superpowers/specs/2026-06-25-shared-web-communication-seam-design.md
Due: none

test(web): SEAM-2 guard — no brand colors in message renderers (holomush-c5zol)
  web/src/lib/comm/seam-guard.test.ts
Due: none

refactor(web): terminal CommunicationRenderer delegates to CommunicationLine (holomush-c5zol)
  web/src/lib/components/terminal/CommunicationRenderer.svelte
  web/src/lib/components/terminal/CommunicationRenderer.svelte.test.ts
Due: none

test(web): SEAM-1 terminal↔scene parity + SEAM-4 Go↔TS golden (holomush-c5zol)
  web/src/lib/comm/parity.svelte.test.ts
Due: none

fix(web): scene PoseCard renders canonical say/pose/ooc via shared primitive (holomush-5rh.33)
  web/src/lib/components/scenes/PoseCard.svelte
  web/src/lib/components/scenes/PoseCard.svelte.test.ts
Due: none

feat(web): CommLine model + commEventToLine/logEntryToLine adapters (holomush-c5zol)
  web/src/lib/comm/commLine.test.ts
  web/src/lib/comm/commLine.ts
Due: none

feat(web): shared CommunicationLine phrasing primitive (holomush-c5zol)
  web/src/lib/comm/CommunicationLine.svelte
  web/src/lib/comm/CommunicationLine.svelte.test.ts
Due: none

test(web): cover ooc-pose/semipose/channel-prefix render branches + accurate SEAM-2 comment (holomush-c5zol)
  web/src/lib/comm/CommunicationLine.svelte.test.ts
  web/src/lib/comm/seam-guard.test.ts
Due: none

perf(ci): parallelize integration/e2e and trim integration-test overhead (holomush-d5ra2)
  .github/workflows/ci.yaml
  .github/workflows/nightly-soak.yml
  Taskfile.yaml
  scripts/build-plugins.sh
  test/testutil/postgres.go
Due: lint-go, lint-yaml, lint-actions

fix(web): render channel prefix on OOC lines; harden comm seam tests (holomush-c5zol)
  web/src/lib/comm/CommunicationLine.svelte
  web/src/lib/comm/parity.svelte.test.ts
  web/src/lib/comm/seam-guard.test.ts
Due: none

perf(ci): parallelize integration/e2e and trim integration-test overhead (holomush-d5ra2) (#4525)
  .github/workflows/ci.yaml
  .github/workflows/nightly-soak.yml
  Taskfile.yaml
  scripts/build-plugins.sh
  test/testutil/postgres.go
Due: lint-go, lint-yaml, lint-actions

feat(web): shared communication rendering seam — fix scene PoseCard (holomush-c5zol, holomush-5rh.33) (#4524)
  web/src/lib/comm/CommunicationLine.svelte
  web/src/lib/comm/CommunicationLine.svelte.test.ts
  web/src/lib/comm/commLine.test.ts
  web/src/lib/comm/commLine.ts
  web/src/lib/comm/parity.svelte.test.ts
  web/src/lib/comm/seam-guard.test.ts
  web/src/lib/components/scenes/PoseCard.svelte
  web/src/lib/components/scenes/PoseCard.svelte.test.ts
  web/src/lib/components/terminal/CommunicationRenderer.svelte
  web/src/lib/components/terminal/CommunicationRenderer.svelte.test.ts
Due: none

perf(ci): cache pnpm store on e2e and build jobs (holomush-2p1bx)
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

perf(ci): cache pnpm store on e2e and build jobs (holomush-2p1bx) (#4526)
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

fix(telemetry): drop removed EnableLogs option for sentry-go v0.47.0
  internal/telemetry/sentry.go
Due: lint-go

fix(e2e): bump Playwright image to v1.61.0-noble to match @playwright/test 1.61.0
  compose.e2e.yaml
Due: lint-yaml

ci: align pnpm pin with packageManager (pnpm@11.9.0)
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

ci: align pnpm pin with packageManager (pnpm@11.9.0) (#4527)
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

docs(beads): note .beads/interactions.jsonl is git-tracked, commit as needed (holomush-37w23)
  CLAUDE.md
Due: none

docs(beads): note .beads/interactions.jsonl is git-tracked, commit as needed (holomush-37w23) (#4528)
  CLAUDE.md
Due: none

fix(session): atomic remove+count on disconnect; close stale session-store bugs
  internal/grpc/dispatcher_test.go
  internal/grpc/server.go
  internal/grpc/subscribe_server_test.go
  internal/session/mocks/mock_Store.go
  internal/session/session.go
  internal/store/session_store.go
  internal/store/session_store_integration_test.go
  internal/store/session_store_test.go
Due: lint-go

fix(session): atomic remove+count on disconnect; close stale session-store bugs (#4529)
  internal/grpc/dispatcher_test.go
  internal/grpc/server.go
  internal/grpc/subscribe_server_test.go
  internal/session/mocks/mock_Store.go
  internal/session/session.go
  internal/store/session_store.go
  internal/store/session_store_integration_test.go
  internal/store/session_store_test.go
Due: lint-go

docs(scenes): membership-actions plan + character-directory ADR + INV-ACCESS-9 (holomush-5rh.24)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/holomush-kn78o-place-character-directory-coreservice-guest-inclusive-names.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/plans/2026-06-26-scenes-web-membership-actions.md
Due: lint-yaml

docs(scenes): membership-actions plan + character-directory ADR + INV-ACCESS-9 (holomush-5rh.24) (#4530)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/holomush-kn78o-place-character-directory-coreservice-guest-inclusive-names.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/plans/2026-06-26-scenes-web-membership-actions.md
Due: lint-yaml

feat(web): WebListAllCharacters BFF + client wiring (holomush-5rh.24)
  .claude/agent-memory/code-reviewer/MEMORY.md
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/web/auth_handlers.go
  internal/web/auth_handlers_test.go
  internal/web/handler.go
  internal/web/handler_test.go
Due: lint-go

feat(web): listAllCharacters directory client wrapper (holomush-5rh.24)
  web/src/lib/scenes/directoryClient.ts
Due: none

feat(web): scene membership client wrappers + flow (holomush-5rh.24)
  web/src/lib/scenes/client.ts
  web/src/lib/scenes/membershipFlow.test.ts
  web/src/lib/scenes/membershipFlow.ts
Due: none

feat(web): BFF membership handlers (invite/kick/transfer/leave) (holomush-5rh.24)
  internal/web/scene_handlers.go
  internal/web/scene_handlers_test.go
Due: lint-go

feat(scenes): self-gate ABAC in membership RPC handlers (advances INV-SCENE-65) (holomush-5rh.24)
  plugins/core-scenes/commands_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

proto(core,web): ListAllCharacters directory RPC (holomush-5rh.24)
  api/proto/holomush/core/v1/core.proto
  api/proto/holomush/web/v1/web.proto
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/core/v1/core_grpc.pb.go
  pkg/proto/holomush/core/v1/corev1connect/core.connect.go
  pkg/proto/holomush/scene/v1/scene_grpc.pb.go
  pkg/proto/holomush/scene/v1/scenev1connect/scene.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(scenes): relax invite-to-scene policy to participant-wide (holomush-5rh.24)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  plugins/core-scenes/plugin.yaml
  plugins/core-scenes/publish_service_test.go
  plugins/core-scenes/service.go
Due: lint-go, lint-yaml

feat(web): roster membership actions (kebab/leave/invite) in scene rail (holomush-5rh.24)
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
Due: none

feat(scenes): facade membership methods (invite/kick/transfer/leave) (holomush-5rh.24)
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
Due: lint-go

feat(scenes): wire membership facade RPCs through client + narrowing interfaces (holomush-5rh.24)
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/web/handler.go
  internal/web/scene_handlers_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
