Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "task generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(plugin): log error when getEmitter creates fallback emitter
  internal/plugin/hostfunc/stdlib.go
  internal/plugin/hostfunc/stdlib_internal_test.go
Due: lint-go, schema-sync

test(command): add formatIdleTime edge case tests
  internal/command/handlers/who_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
Due: lint-go, schema-sync

feat(holo): add RenderPlain method to StyledText
  internal/command/alias_test.go
  internal/command/registry.go
  internal/command/registry_test.go
  pkg/holo/fmt.go
  pkg/holo/fmt_test.go
Due: lint-go

docs(holo): clarify MustRegister is for initialization only
  pkg/holo/property.go
Due: lint-go

feat(command): add constructors for CommandEntry and CommandExecution
  internal/command/handlers/wall_test.go
  internal/command/types.go
  internal/command/types_test.go
Due: lint-go

test(command): add unit tests for Services.BroadcastSystemMessage
  internal/command/types_test.go
Due: lint-go

fix(plugin): add capability filtering to list_commands host function
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/hostfunc/functions.go
  plugins/help/main.lua
Due: lint-go, schema-sync

fix(command): correct create command help text to match syntax
  internal/command/handlers/register.go
Due: lint-go

fix(core): make UpdateActivity return error on session not found
  internal/core/session.go
  internal/core/session_test.go
Due: lint-go

test(command): add coverage for ErrTargetNotFound in boot handler
  internal/command/errors_test.go
  internal/command/handlers/boot_test.go
Due: lint-go

fix(command): correct set command help text to match syntax
  internal/command/handlers/register.go
Due: lint-go

docs(spec): update Services struct to document interface usage
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

fix(plugin): log validation errors from parseEmitEvents
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
Due: lint-go, schema-sync

docs(spec): fix Services code block to show interface types
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

feat(command): add GetCapabilities getter with defensive copy
  internal/command/dispatcher.go
  internal/command/types.go
  internal/command/types_test.go
Due: lint-go

fix(command): use GetCapabilities consistently and document design choice
  internal/command/types.go
  internal/plugin/hostfunc/commands.go
Due: lint-go, schema-sync

feat(command): log output write failures in command handlers
  internal/command/handlers/boot.go
  internal/command/handlers/look.go
  internal/command/handlers/move.go
  internal/command/handlers/objects.go
  internal/command/handlers/output.go
  internal/command/handlers/output_test.go
  internal/command/handlers/quit.go
  internal/command/handlers/shutdown.go
  internal/command/handlers/wall.go
  internal/command/handlers/who.go
  internal/observability/server.go
Due: lint-go

feat(command): improve circular alias detection with visited set
  internal/command/alias.go
  internal/command/alias_test.go
Due: lint-go

fix(help): include usage field in help search
  internal/plugin/help_integration_test.go
  plugins/help/main.lua
Due: lint-go, schema-sync

refactor(handlers): extract writeOutput/writeOutputf helpers to reduce duplication
  internal/command/handlers/boot.go
  internal/command/handlers/look.go
  internal/command/handlers/move.go
  internal/command/handlers/objects.go
  internal/command/handlers/output.go
  internal/command/handlers/quit.go
  internal/command/handlers/shutdown.go
  internal/command/handlers/wall.go
  internal/command/handlers/who.go
Due: lint-go

test(command): add unicode input tests for command parser
  internal/command/parser_test.go
Due: lint-go

feat(holo): add defensive copy for Property.AppliesTo slice
  pkg/holo/property.go
  pkg/holo/property_test.go
Due: lint-go

fix(hostfunc): fail instead of fallback when emitter not found
  internal/plugin/hostfunc/stdlib.go
  internal/plugin/hostfunc/stdlib_internal_test.go
Due: lint-go, schema-sync

fix(command): distinguish system errors from 'not found' in boot handler
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
Due: lint-go

refactor(hostfunc): extract property getter/setter helpers to reduce duplication
  internal/plugin/hostfunc/world_write.go
Due: lint-go, schema-sync

feat(command): implement per-session rate limiting with token bucket algorithm
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/ratelimit.go
  internal/command/ratelimit_test.go
  internal/observability/server.go
Due: lint-go

test(command): add integration tests for rate limiting
  test/integration/command/command_suite_test.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go

feat(command): implement alias management commands
  internal/command/alias.go
  internal/command/alias_test.go
  internal/command/errors.go
  internal/command/handlers/alias.go
  internal/command/handlers/alias_test.go
  internal/command/handlers/register.go
  internal/command/types.go
Due: lint-go

test(command): add integration tests for alias management
  test/integration/command/alias_integration_test.go
Due: lint-go

feat(command): add OpenTelemetry metrics for command execution
  go.mod
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/metrics.go
  internal/command/metrics_test.go
Due: lint-go

refactor(command): migrate OTel metrics to Prometheus for /metrics visibility
  cmd/holomush/core.go
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  cmd/holomush/gateway.go
  go.mod
  internal/command/dispatcher_test.go
  internal/command/metrics.go
  internal/command/metrics_test.go
  internal/observability/server.go
Due: lint-go

refactor(command): make Services struct fields private with getters
  internal/command/dispatcher_test.go
  internal/command/handlers/alias.go
  internal/command/handlers/alias_test.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/look.go
  internal/command/handlers/look_test.go
  internal/command/handlers/move.go
  internal/command/handlers/move_test.go
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
  internal/command/handlers/quit.go
  internal/command/handlers/quit_test.go
  internal/command/handlers/shutdown_test.go
  internal/command/handlers/wall.go
  internal/command/handlers/wall_test.go
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
  internal/command/types.go
  internal/command/types_test.go
Due: lint-go

docs(spec): update Services to show private fields with getters
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

fix(command): persist alias changes to PostgreSQL database
  .mockery.yaml
  internal/command/handlers/alias.go
  internal/command/handlers/alias_test.go
  internal/command/mocks/mock_AliasRepository.go
  internal/command/types.go
  test/integration/command/alias_integration_test.go
Due: lint-go, lint-yaml

fix(command): return ErrInvalidArgs from CreateHandler and SetHandler
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
Due: lint-go

fix(proto): add character_id field to ListCommandsRequest
  .task/checksum/proto
  api/proto/holomush/plugin/v1/hostfunc.proto
  pkg/proto/holomush/plugin/v1/hostfunc.pb.go
  pkg/proto/holomush/plugin/v1/hostfunc_grpc.pb.go
Due: lint-go

fix(command): schedule periodic RateLimiter cleanup to prevent memory leak
  internal/command/dispatcher_test.go
  internal/command/ratelimit.go
  internal/command/ratelimit_test.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go

fix(command): add debug logging for nil broadcaster in BroadcastSystemMessage
  internal/command/types.go
Due: lint-go

docs(command): fix who help text to say idle time not connection duration
  internal/command/handlers/register.go
Due: lint-go

docs(command): fix validation regex comment to match escaped hyphen in code
  internal/command/validation.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
