Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(ia): split contributing/integration-tests into pure Diátaxis modes (holomush-c9al4)
  site/src/content/docs/contributing/explanation/integration-test-harness.md
  site/src/content/docs/contributing/how-to/integration-tests.md
  site/src/content/docs/contributing/reference/integration-test-harness.md
Due: lint-markdown-site, fmt-markdown-site

docs(ia): reframe extending/access-control as task-focused how-to (holomush-e9xio)
  site/src/content/docs/extending/how-to/access-control.md
Due: lint-markdown-site, fmt-markdown-site

docs(ia): extract reference tables from extending/plugin-config (holomush-enuj6)
  site/src/content/docs/extending/how-to/plugin-config.md
  site/src/content/docs/extending/reference/plugin-config.md
Due: lint-markdown-site, fmt-markdown-site

docs(ia): split operating/authentication into pure Diátaxis modes (holomush-gsn5a)
  site/src/content/docs/operating/explanation/authentication.md
  site/src/content/docs/operating/how-to/authentication-recovery.md
  site/src/content/docs/operating/reference/authentication.md
Due: lint-markdown-site, fmt-markdown-site

docs(ia): split extending/plugin-guide mega-doc into pure Diátaxis modes (holomush-okq0b)
  site/src/content/docs/contributing/how-to/migrate-world-querier.md
  site/src/content/docs/extending/how-to/handle-plugin-errors.md
  site/src/content/docs/extending/reference/plugin-api.md
  site/src/content/docs/extending/tutorials/plugin-guide.mdx
Due: lint-markdown-site, fmt-markdown-site

docs(ia): address CodeRabbit findings on #4297
  site/src/content/docs/contributing/reference/hostfunc-audit-table.md
  site/src/content/docs/extending/how-to/handle-plugin-errors.md
  site/src/content/docs/extending/reference/plugin-api.md
  site/src/content/docs/operating/reference/authentication.md
Due: lint-markdown-site, fmt-markdown-site

docs(ia): split operating/operations into pure Diátaxis modes (holomush-t9i93)
  site/src/content/docs/operating/how-to/operations.md
  site/src/content/docs/operating/reference/monitoring.md
Due: lint-markdown-site, fmt-markdown-site

docs(ia): Diátaxis mode-purity rewrites (SP2 follow-up, 9 docs) (#4297)
  site/src/content/docs/contributing/explanation/hostfunc-context-audit.md
  site/src/content/docs/contributing/explanation/integration-test-harness.md
  site/src/content/docs/contributing/how-to/add-a-host-function.md
  site/src/content/docs/contributing/how-to/integration-tests.md
  site/src/content/docs/contributing/how-to/migrate-world-querier.md
  site/src/content/docs/contributing/reference/hostfunc-audit-table.md
  site/src/content/docs/contributing/reference/integration-test-harness.md
  site/src/content/docs/extending/explanation/substrate-invariants.md
  site/src/content/docs/extending/how-to/access-control.md
  site/src/content/docs/extending/how-to/handle-plugin-errors.md
  site/src/content/docs/extending/how-to/plugin-config.md
  site/src/content/docs/extending/how-to/register-emit-types.md
  site/src/content/docs/extending/reference/plugin-api.md
  site/src/content/docs/extending/reference/plugin-config.md
  site/src/content/docs/extending/reference/substrate-contract.md
  site/src/content/docs/extending/tutorials/plugin-guide.mdx
  site/src/content/docs/operating/explanation/authentication.md
  site/src/content/docs/operating/explanation/plugin-security.md
  site/src/content/docs/operating/how-to/authentication-recovery.md
  site/src/content/docs/operating/how-to/operations.md
  site/src/content/docs/operating/how-to/tune-plugin-resource-limits.md
  site/src/content/docs/operating/reference/authentication.md
  site/src/content/docs/operating/reference/monitoring.md
  site/src/content/docs/operating/reference/plugin-metrics.md
Due: lint-markdown-site, fmt-markdown-site

docs(roadmap): mark SP1 + SP2 landed in docs-platform program (holomush-rkwyb)
  docs/roadmap.md
Due: none

docs(roadmap): mark SP1 + SP2 landed (#4298)
  docs/roadmap.md
Due: none

docs(scenes): bare-ULID identity spec, plan + ADR holomush-vy0rt (holomush-y5inx)
  docs/adr/holomush-vy0rt-entity-ids-bare-ulid.md
  docs/superpowers/plans/2026-05-28-scene-bare-ulid-identity.md
  docs/superpowers/specs/2026-05-28-scene-bare-ulid-identity-design.md
Due: none

docs(scenes): bare-ULID identity spec, plan + ADR (holomush-y5inx) (#4299)
  docs/adr/holomush-vy0rt-entity-ids-bare-ulid.md
  docs/superpowers/plans/2026-05-28-scene-bare-ulid-identity.md
  docs/superpowers/specs/2026-05-28-scene-bare-ulid-identity-design.md
Due: none

docs(spec,plan): SP0 proto doc comments + buf COMMENTS ratchet
  docs/superpowers/plans/2026-05-28-proto-doc-comments.md
  docs/superpowers/specs/2026-05-28-proto-doc-comments-design.md
Due: none

docs(sp0): proto doc-comments + buf COMMENTS ratchet — spec + plan (#4300)
  docs/superpowers/plans/2026-05-28-proto-doc-comments.md
  docs/superpowers/specs/2026-05-28-proto-doc-comments-design.md
Due: none

docs: SP5 docs quality & cohesion — spec + plan + ADR + roadmap (holomush-ivwij)
  docs/adr/README.md
  docs/adr/holomush-q924m-use-topic-tab-navigation-over-single-grouped-sidebar.md
  docs/roadmap.md
  docs/superpowers/plans/2026-05-28-docs-quality-cohesion.md
  docs/superpowers/specs/2026-05-28-docs-quality-cohesion-design.md
Due: none

docs: SP5 docs quality & cohesion — spec, plan, ADR (#4301)
  docs/adr/README.md
  docs/adr/holomush-q924m-use-topic-tab-navigation-over-single-grouped-sidebar.md
  docs/roadmap.md
  docs/superpowers/plans/2026-05-28-docs-quality-cohesion.md
  docs/superpowers/specs/2026-05-28-docs-quality-cohesion-design.md
Due: none

test(scenes): E9 publish-event history-scope floor on real scene (holomush-y5inx)
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/testsupport/integrationtest/crypto.go
  test/integration/scenes/publish_history_scope_e2e_test.go
Due: lint-go

test(scenes): wire focus coordinator + stream registry into harness for command-join delivery (holomush-y5inx)
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/plugin/setup/subsystem.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
  test/integration/scenes/scene_command_join_delivery_test.go
Due: lint-go, schema-sync

test(scenes): regression — real scene join opens subscription (holomush-y5inx)
  test/integration/scenes/real_scene_join_subscription_test.go
Due: lint-go

test(scenes): drop scene- prefix from publish + binary-plugin fixtures (holomush-y5inx)
  test/integration/plugin/binary_plugin_test.go
  test/integration/scenes/publish_e2e_test.go
Due: lint-go

test(scenes): realign integration harness to bare scene ids (holomush-y5inx)
  internal/testsupport/integrationtest/crypto.go
  internal/testsupport/integrationtest/session.go
Due: lint-go

test(scenes): guard — CreateScene mints bare ULID (holomush-y5inx)
  test/integration/plugin/binary_plugin_test.go
  test/integration/scenes/publish_history_scope_e2e_test.go
  test/integration/scenes/scene_id_bare_guard_test.go
Due: lint-go

test(scenes): wire host history reader crypto under WithPluginCrypto (holomush-y5inx)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agent-memory/crypto-reviewer/MEMORY.md
  .claude/agent-memory/crypto-reviewer/project_harness_crypto_readback.md
  internal/testsupport/integrationtest/crypto.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/session.go
  test/integration/scenes/scene_history_decrypt_readback_test.go
Due: lint-go

test(scenes): regression — real scene history readable & decrypted via host (holomush-y5inx)
  .claude/agent-memory/code-reviewer/MEMORY.md
  test/integration/scenes/real_scene_history_readable_test.go
Due: lint-go

fix(scenes): mint bare ULID scene ids, drop scene- prefix (holomush-y5inx)
  plugins/core-scenes/commands_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

build(buf): remove SP0 doc-comment ratchet — full COMMENTS enforcement
  .claude/rules/proto-doc-comments.md
  Taskfile.yaml
  api/proto/doc-ratchet.yaml
  scripts/proto-ratchet-audit.sh
  site/src/content/docs/contributing/how-to/proto-doc-comments.md
  test/meta/proto_doc_comments_test.go
  test/meta/proto_doc_ratchet_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

test(proto): doc-ratchet registry bijection + open-bead audit (INV-4)
  Taskfile.yaml
  api/proto/doc-ratchet.yaml
  scripts/proto-ratchet-audit.sh
  test/meta/proto_doc_ratchet_test.go
Due: lint-go, lint-yaml

docs(proto): document control.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/control/v1/control.proto
  buf.yaml
Due: lint-yaml

docs(proto): document core.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/core/v1/core.proto
  buf.yaml
Due: lint-yaml

docs(proto): document plugin/audit.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/plugin/v1/audit.proto
  buf.yaml
Due: lint-yaml

docs(proto): document plugin/hostfunc.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/plugin/v1/hostfunc.proto
  buf.yaml
Due: lint-yaml

docs(proto): document world.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/world/v1/world.proto
  buf.yaml
Due: lint-yaml

docs(proto): authoring guidance rule + contributor doc
  .claude/rules/proto-doc-comments.md
  CLAUDE.md
  site/src/content/docs/contributing/how-to/proto-doc-comments.md
  site/src/content/docs/contributing/index.md
Due: lint-markdown-site, fmt-markdown-site

docs(proto): document admin/admin.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/admin/v1/admin.proto
  buf.yaml
Due: lint-yaml

docs(proto): document plugin/plugin.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/plugin/v1/plugin.proto
  buf.yaml
Due: lint-yaml

docs(proto): document scene/scene.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/scene/v1/scene.proto
  buf.yaml
Due: lint-yaml

docs(proto): document plugin/attribute.proto + empty the ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/plugin/v1/attribute.proto
  buf.yaml
Due: lint-yaml

docs(proto): document admin/rekey.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/admin/v1/rekey.proto
  buf.yaml
Due: lint-yaml

build(buf): enable COMMENTS lint category + SP0 per-proto ratchet
  api/proto/holomush/eventbus/v1/eventbus.proto
  buf.yaml
  internal/eventbus/cursor/cursor.proto
  test/meta/proto_doc_comments_test.go
Due: lint-go, lint-yaml

docs(proto): document web.proto + un-ratchet
  api/proto/doc-ratchet.yaml
  api/proto/holomush/web/v1/web.proto
  buf.yaml
Due: lint-yaml

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
