Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix: apply CodeRabbit auto-fixes
  cmd/holomush/crypto_operator_validation.go
  docs/superpowers/specs/2026-05-08-event-payload-crypto-phase5-sub-epic-b-design.md
Due: lint-go

feat(crypto): Phase 5 sub-epic B — crypto.operator capability (#3536)
  Taskfile.yaml
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/crypto_operator_validation.go
  cmd/holomush/crypto_operator_validation_test.go
  cmd/holomush/deps_test.go
  docs/superpowers/plans/2026-05-08-event-payload-crypto-phase5-sub-epic-b.md
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
  docs/superpowers/specs/2026-05-07-event-payload-crypto-phase5-decomposition.md
  docs/superpowers/specs/2026-05-08-event-payload-crypto-phase5-sub-epic-b-design.md
  internal/access/grants.go
  internal/access/grants_test.go
  internal/access/policy/attribute/player.go
  internal/access/policy/attribute/player_test.go
  internal/access/prefix.go
  internal/access/prefix_test.go
  internal/access/setup/setup.go
  internal/access/setup/setup_player_test.go
  internal/access/setup/subsystem.go
  internal/access/spec_amendments_test.go
  internal/auth/postgres/player_repo.go
  internal/auth/postgres/player_repo_test.go
  internal/config/config.go
  internal/config/config_test.go
  scripts/check-bead-jxo8-5.sh
  scripts/tests/pr-prep-lock.bats
  site/docs/operating/crypto-setup.md
  site/zensical.toml
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

chore(agents): add probe tools + fix abac-reviewer frontmatter
  .claude/.gitignore
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agents/abac-reviewer.md
  .claude/agents/bead-auditor.md
  .claude/agents/code-reviewer.md
  .claude/agents/crypto-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
Due: none

chore(agents): add probe tools + fix abac-reviewer frontmatter (#3537)
  .claude/.gitignore
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agents/abac-reviewer.md
  .claude/agents/bead-auditor.md
  .claude/agents/code-reviewer.md
  .claude/agents/crypto-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
Due: none

fix(agents): remove duplicate probe tool entries
  .claude/agents/bead-auditor.md
  .claude/agents/code-reviewer.md
  .claude/agents/crypto-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
Due: none

fix(agents): remove duplicate probe tool entries (#3538)
  .claude/agents/bead-auditor.md
  .claude/agents/code-reviewer.md
  .claude/agents/crypto-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
Due: none

docs(crypto): Phase 5 sub-epic C admin-socket substrate design spec and implementation plan
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-09-phase5-sub-epic-c-admin-socket.md
  docs/superpowers/specs/2026-05-09-phase5-sub-epic-c-admin-socket-design.md
Due: none

feat(admin/socket): UDS server with flock-based double-start detection
  internal/admin/socket/server.go
  internal/admin/socket/server_test.go
Due: lint-go

feat(admin/socket): PeerCred type, context helpers, and platform-conditional middleware
  go.mod
  internal/admin/socket/peercred.go
  internal/admin/socket/peercred_darwin.go
  internal/admin/socket/peercred_darwin_test.go
  internal/admin/socket/peercred_linux.go
  internal/admin/socket/peercred_linux_test.go
  internal/admin/socket/peercred_other.go
  internal/admin/socket/peercred_test.go
Due: lint-go

feat(admin): add admin.v1 proto skeleton with Status RPC
  api/proto/holomush/admin/v1/admin.proto
  pkg/proto/holomush/admin/v1/admin.pb.go
  pkg/proto/holomush/admin/v1/admin_grpc.pb.go
  pkg/proto/holomush/admin/v1/adminv1connect/admin.connect.go
  web/src/lib/connect/holomush/admin/v1/admin_connect.ts
  web/src/lib/connect/holomush/admin/v1/admin_pb.ts
Due: lint-go

feat(lifecycle): add SubsystemAdminSocket constant
  cmd/holomush/core_subsystems_test.go
  internal/lifecycle/healthtier_string.go
  internal/lifecycle/subsystem.go
  internal/lifecycle/subsystemid_string.go
Due: lint-go

feat(admin/socket): Status RPC handler
  internal/admin/socket/server.go
  internal/admin/socket/server_test.go
  internal/admin/socket/status_handler.go
  internal/admin/socket/status_handler_test.go
Due: lint-go

test(admin/socket): clarify GID assertion intent in Linux peercred test
  internal/admin/socket/peercred_linux_test.go
Due: lint-go

feat(admin/socket): AdminSocketSubsystem lifecycle wrapper
  internal/admin/socket/subsystem.go
  internal/admin/socket/subsystem_test.go
Due: lint-go

feat(core): wire AdminSocketSubsystem into production orchestrator
  cmd/holomush/core.go
  cmd/holomush/core_subsystems_test.go
  internal/admin/socket/subsystem_test.go
Due: lint-go

fix(admin/socket): make admin-socket startup non-fatal; fix smoke-test XDG fallback
  cmd/holomush/core.go
  docs/superpowers/plans/2026-05-09-phase5-sub-epic-c-admin-socket.md
  internal/admin/socket/subsystem.go
Due: lint-go

fix: apply CodeRabbit auto-fixes for PR #3662
  docs/superpowers/specs/2026-05-09-phase5-sub-epic-c-admin-socket-design.md
  internal/admin/socket/peercred_darwin_test.go
  internal/admin/socket/peercred_linux.go
  internal/admin/socket/peercred_linux_test.go
  internal/admin/socket/server.go
  internal/admin/socket/status_handler_test.go
Due: lint-go

docs(admin/socket): update spec to match shipped implementation
  docs/superpowers/plans/2026-05-09-phase5-sub-epic-c-admin-socket.md
  docs/superpowers/specs/2026-05-09-phase5-sub-epic-c-admin-socket-design.md
Due: none

fix(admin/socket): eliminate data race in serve goroutine
  internal/admin/socket/server.go
Due: lint-go

test(admin/socket): add coverage for uncovered paths
  internal/admin/socket/peercred_test.go
  internal/admin/socket/server_test.go
  internal/admin/socket/subsystem_test.go
Due: lint-go

feat(crypto): Phase 5 sub-epic C — UDS admin-socket substrate (holomush-jxo8.4) (#3662)
  .claude/agent-memory/plan-reviewer/MEMORY.md
  api/proto/holomush/admin/v1/admin.proto
  cmd/holomush/core.go
  cmd/holomush/core_subsystems_test.go
  docs/superpowers/plans/2026-05-09-phase5-sub-epic-c-admin-socket.md
  docs/superpowers/specs/2026-05-09-phase5-sub-epic-c-admin-socket-design.md
  go.mod
  internal/admin/socket/peercred.go
  internal/admin/socket/peercred_darwin.go
  internal/admin/socket/peercred_darwin_test.go
  internal/admin/socket/peercred_linux.go
  internal/admin/socket/peercred_linux_test.go
  internal/admin/socket/peercred_other.go
  internal/admin/socket/peercred_test.go
  internal/admin/socket/server.go
  internal/admin/socket/server_test.go
  internal/admin/socket/status_handler.go
  internal/admin/socket/status_handler_test.go
  internal/admin/socket/subsystem.go
  internal/admin/socket/subsystem_test.go
  internal/lifecycle/healthtier_string.go
  internal/lifecycle/subsystem.go
  internal/lifecycle/subsystemid_string.go
  pkg/proto/holomush/admin/v1/admin.pb.go
  pkg/proto/holomush/admin/v1/admin_grpc.pb.go
  pkg/proto/holomush/admin/v1/adminv1connect/admin.connect.go
  web/src/lib/connect/holomush/admin/v1/admin_connect.ts
  web/src/lib/connect/holomush/admin/v1/admin_pb.ts
Due: lint-go

docs(crypto): Phase 5 sub-epic D design spec (holomush-jxo8.6)
  docs/superpowers/specs/2026-05-09-event-payload-crypto-phase5-sub-epic-d-design.md
Due: none

docs(crypto): address design-reviewer findings on Phase 5 sub-epic D
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_amendment_contradicts_just_landed_sibling.md
  docs/superpowers/specs/2026-05-09-event-payload-crypto-phase5-sub-epic-d-design.md
Due: none

docs(crypto): polish per design-reviewer R2 non-blockers (sub-epic D)
  docs/superpowers/specs/2026-05-09-event-payload-crypto-phase5-sub-epic-d-design.md
Due: none

docs(crypto): Phase 5 sub-epic D plan + bead chain (holomush-jxo8.6)
  docs/superpowers/plans/2026-05-09-phase5-sub-epic-d.md
Due: none

docs(crypto): address plan-reviewer R1 findings on Phase 5 sub-epic D plan
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-09-phase5-sub-epic-d.md
Due: none

docs(crypto): address plan-reviewer R2 findings on Phase 5 sub-epic D plan
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-09-phase5-sub-epic-d.md
Due: none

docs(crypto): address plan-reviewer R3 wrong-type bug (holomush-jxo8.6)
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-09-phase5-sub-epic-d.md
Due: none

feat(crypto): migration 000020 admin_approvals (holomush-jxo8.6 T1)
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000020_create_admin_approvals.down.sql
  internal/store/migrations/000020_create_admin_approvals.up.sql
Due: lint-go

fix(crypto): admin_approvals schema TEXT player_id + (expires_at) index (holomush-jxo8.6 T1)
  docs/superpowers/plans/2026-05-09-phase5-sub-epic-d.md
  docs/superpowers/specs/2026-05-09-event-payload-crypto-phase5-sub-epic-d-design.md
  internal/store/migrate_test.go
  internal/store/migrations/000020_create_admin_approvals.up.sql
Due: lint-go

chore(crypto): pin JCS + protobuf-go + meta-tests (holomush-jxo8.6 T3+T24)
  go.mod
  go.sum
  internal/admin/approval/doc.go
  internal/admin/approval/proto_meta_test.go
  internal/admin/policy/doc.go
  internal/admin/policy/hash.go
  internal/admin/policy/jcs_meta_test.go
Due: lint-go

feat(access): RoleStore.PlayerHasRole helper (holomush-jxo8.6 T4)
  internal/bootstrap/admin_test.go
  internal/store/role_store.go
  internal/store/role_store_integration_test.go
Due: lint-go

feat(admin): SessionStore + adminauth types (holomush-jxo8.6 T5)
  internal/admin/auth/session.go
  internal/admin/auth/session_test.go
  internal/admin/auth/types.go
Due: lint-go

feat(crypto): admin.proto Authenticate+Approve+ResetTOTP RPCs (holomush-jxo8.6 T14)
  api/proto/holomush/admin/v1/admin.proto
  internal/admin/socket/status_handler.go
  pkg/proto/holomush/admin/v1/admin.pb.go
  pkg/proto/holomush/admin/v1/admin_grpc.pb.go
  pkg/proto/holomush/admin/v1/adminv1connect/admin.connect.go
  web/src/lib/connect/holomush/admin/v1/admin_connect.ts
  web/src/lib/connect/holomush/admin/v1/admin_pb.ts
Due: lint-go

feat(crypto): policy_set payload + JCS hash (holomush-jxo8.6 T8)
  internal/admin/policy/chain.go
  internal/admin/policy/chain_test.go
  internal/admin/policy/hash.go
Due: lint-go

feat(crypto): crypto.dual_control_required config + lax+warn validation (holomush-jxo8.6 T19)
  cmd/holomush/core.go
  cmd/holomush/crypto_dual_control_validation.go
  cmd/holomush/crypto_dual_control_validation_test.go
  docs/superpowers/plans/2026-05-09-phase5-sub-epic-d.md
  internal/config/config.go
Due: lint-go

feat(crypto): admin_approvals Postgres repo + op_args_hash helper (holomush-jxo8.6 T7)
  Taskfile.yaml
  internal/admin/approval/oparghash.go
  internal/admin/approval/oparghash_test.go
  internal/admin/approval/repo.go
  internal/admin/approval/repo_integration_test.go
  internal/admin/approval/repo_test.go
  internal/admin/approval/types.go
Due: lint-go, lint-yaml

docs(crypto): master-spec amendments for Phase 5 sub-epic D (holomush-jxo8.6 T23)
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
  internal/access/spec_amendments_test.go
Due: lint-go

feat(crypto): AuditingService decorator for totp.Service (holomush-jxo8.6 T13)
  internal/admin/totp_audit/auditing.go
  internal/admin/totp_audit/auditing_test.go
Due: lint-go

feat(crypto): InGameCredentialsProvider 6-step sequence (holomush-jxo8.6 T6)
  internal/admin/auth/ingame.go
  internal/admin/auth/ingame_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
