Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "task generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(auth): implement password reset tokens
  internal/auth/reset.go
  internal/auth/reset_test.go
Due: lint-go

refactor(auth): address PR review feedback for reset tokens
  internal/auth/reset.go
  internal/auth/reset_test.go
Due: lint-go

fix(auth): add error context to GenerateResetToken
  internal/auth/reset.go
Due: lint-go

feat(auth): implement password reset tokens (#53)
  internal/auth/reset.go
  internal/auth/reset_test.go
Due: lint-go

bd daemon sync: 2026-01-26 20:05:44
  .beads/issues.jsonl
Due: none

feat(auth): implement Password Reset PostgreSQL Repository
  internal/auth/errors.go
  internal/auth/postgres/postgres_test.go
  internal/auth/postgres/reset_repo.go
  internal/auth/postgres/reset_repo_test.go
Due: lint-go

fix(auth): wrap ErrNotFound with oops context in GetByPlayer/GetByTokenHash
  internal/auth/postgres/reset_repo.go
Due: lint-go

refactor(auth): align error handling pattern with world repos
  internal/auth/postgres/reset_repo.go
Due: lint-go

fix(auth): add operation context to non-ErrNoRows error paths
  internal/auth/postgres/reset_repo.go
Due: lint-go

feat(auth): implement Password Reset PostgreSQL Repository (#55)
  internal/auth/errors.go
  internal/auth/postgres/postgres_test.go
  internal/auth/postgres/reset_repo.go
  internal/auth/postgres/reset_repo_test.go
Due: lint-go

fix(auth): make reset token swap test deterministic
  internal/auth/reset_test.go
Due: lint-go

test(auth): add defensive assertion for token mutation
  internal/auth/reset_test.go
Due: lint-go

fix(auth): make reset token swap test deterministic (#56)
  internal/auth/reset_test.go
Due: lint-go

Beads sync (#57)
  .beads/issues.jsonl
Due: none

chore: beads updates
  .beads/.gitignore
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
Due: none

chore: beads updates (#60)
  .beads/.gitignore
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
Due: none

feat(auth): complete Epic 5 authentication system
  internal/auth/auth_service.go
  internal/auth/auth_service_test.go
  internal/auth/character_service.go
  internal/auth/character_service_test.go
  internal/auth/player.go
  internal/auth/postgres/player_repo.go
  internal/auth/postgres/player_repo_test.go
  internal/auth/postgres/session_repo.go
  internal/auth/postgres/session_repo_test.go
  internal/auth/reset_service.go
  internal/auth/reset_service_test.go
  internal/auth/session.go
  internal/auth/session_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000012_web_sessions_schema_update.down.sql
  internal/store/migrations/000012_web_sessions_schema_update.up.sql
  internal/telnet/auth_handler.go
  internal/telnet/auth_handler_test.go
Due: lint-go

feat(auth): add security hardening and code quality improvements
  .mockery.yaml
  internal/auth/auth_service.go
  internal/auth/auth_service_logging_test.go
  internal/auth/auth_service_test.go
  internal/auth/character_service.go
  internal/auth/character_service_test.go
  internal/auth/mocks/mock_CharacterRepository.go
  internal/auth/mocks/mock_LocationRepository.go
  internal/auth/mocks/mock_PasswordHasher.go
  internal/auth/mocks/mock_PasswordResetRepository.go
  internal/auth/mocks/mock_PlayerRepository.go
  internal/auth/mocks/mock_WebSessionRepository.go
  internal/auth/player.go
  internal/auth/player_test.go
  internal/auth/postgres/reset_repo_test.go
  internal/auth/reset_service.go
  internal/auth/reset_service_logging_test.go
  internal/auth/reset_service_test.go
  internal/auth/reset_test.go
  internal/auth/session_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000013_web_sessions_player_index.down.sql
  internal/store/migrations/000013_web_sessions_player_index.up.sql
  internal/telnet/auth_handler.go
  internal/telnet/auth_handler_logging_test.go
  internal/telnet/auth_handler_test.go
  internal/world/postgres/character_repo.go
  internal/world/postgres/character_repo_test.go
  internal/world/repository.go
  internal/world/worldtest/mock_CharacterRepository.go
Due: lint-go, lint-yaml

chore: beads update
  .beads/config.yaml
Due: lint-yaml

fix(auth): address PR review findings for Epic 5
  internal/auth/auth_service.go
  internal/auth/auth_service_logging_test.go
  internal/auth/auth_service_test.go
  internal/auth/doc.go
  internal/auth/hasher.go
  internal/auth/reset.go
  internal/auth/reset_service.go
  internal/auth/reset_service_test.go
  internal/auth/session.go
  internal/telnet/auth_handler.go
  internal/telnet/auth_handler_logging_test.go
Due: lint-go

refactor(auth): rename HandlePlay to HandleEmbody
  internal/telnet/auth_handler.go
  internal/telnet/auth_handler_logging_test.go
  internal/telnet/auth_handler_test.go
Due: lint-go

docs(auth): add ADRs and contributor/operator documentation
  docs/adr/0001-opaque-session-tokens.md
  docs/adr/0002-argon2id-password-hashing.md
  docs/adr/0003-player-character-auth-model.md
  docs/adr/0004-timing-attack-resistant-auth.md
  docs/specs/2026-01-25-auth-identity-design.md
  site/docs/contributors/authentication.md
  site/docs/operators/authentication.md
Due: lint-markdown

docs(auth): fix rate limiting docs and ADR cross-references
  docs/adr/0002-argon2id-password-hashing.md
  docs/adr/0004-timing-attack-resistant-auth.md
  site/docs/contributors/authentication.md
  site/docs/operators/authentication.md
Due: lint-markdown

docs(specs): add Commands & Behaviors architecture design
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

docs(specs): address review feedback on commands design
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

docs(specs): add telemetry section and fix validation patterns
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

docs(specs): add player.id to OTel baggage
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

docs(specs): fix PR #62 review findings in commands design
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

docs(specs): add architecture review recommendations to commands spec
  docs/adr/0005-command-state-management.md
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

docs(specs): fix PR #62 review findings
  docs/adr/0005-command-state-management.md
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

docs(specs): add Commands & Behaviors architecture design (#62)
  docs/adr/0005-command-state-management.md
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

docs(plans): add Commands & Behaviors implementation plan
  docs/plans/2026-02-02-commands-behaviors-implementation.md
Due: lint-markdown

docs(adr): add ADR 0006 for unified command registry
  docs/adr/0006-unified-command-registry.md
Due: lint-markdown

docs(adr): add ADR 0007 for command security model
  docs/adr/0007-command-security-model.md
Due: lint-markdown

docs(adr): add ADR 0008 for command conflict resolution
  docs/adr/0008-command-conflict-resolution.md
Due: lint-markdown

feat(command): add command types and interfaces
  internal/command/types.go
  internal/command/types_test.go
Due: lint-go

feat(command): implement command registry with conflict detection
  internal/command/registry.go
  internal/command/registry_test.go
Due: lint-go

feat(command): add command and alias name validation
  internal/command/validation.go
  internal/command/validation_test.go
Due: lint-go

docs(specs): fix command name validation examples
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
