Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(ci): add Node.js, pnpm, and buf to Build job
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

fix(proto): wrap GameEvent in StreamEventsResponse for buf lint
  .task/checksum/proto
  api/proto/holomush/web/v1/web.proto
  internal/web/handler.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/src/lib/connect/holomush/control/v1/control_connect.ts
  web/src/lib/connect/holomush/core/v1/core_connect.ts
  web/src/lib/connect/holomush/plugin/v1/hostfunc_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/web/v1/web_connect.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/routes/+page.svelte
Due: lint-go

fix(web): cancel event stream on disconnect, detect stream loss
  web/src/routes/+page.svelte
Due: none

fix(web): cancel event stream on disconnect, detect stream loss (#122)
  web/src/routes/+page.svelte
Due: none

docs(plans): session persistence implementation plan (sub-spec 2a)
  .superpowers/brainstorm/84853-1773891144/.server-info
  .superpowers/brainstorm/84853-1773891144/chat-layout.html
  .superpowers/brainstorm/84853-1773891144/terminal-layout.html
  .superpowers/brainstorm/84853-1773891144/waiting.html
  docs/specs/2026-03-19-session-persistence-design.md
  docs/superpowers/plans/2026-03-19-session-persistence.md
Due: none

feat(session): introduce session package with Info, Status, Connection types and Store interface
  internal/session/session.go
  internal/session/session_test.go
Due: lint-go

feat(session): add MemStore in-memory implementation of session.Store
  internal/session/memstore.go
  internal/session/memstore_test.go
Due: lint-go

feat(store): add migration 000018 for sessions, connections, and player tokens
  internal/store/migrate_embed_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000018_sessions.down.sql
  internal/store/migrations/000018_sessions.up.sql
Due: lint-go

feat(store): implement PostgresSessionStore for persistent sessions
  internal/store/session_store.go
  internal/store/session_store_test.go
Due: lint-go

test(store): add integration tests for PostgresSessionStore
  internal/store/migrations/000018_sessions.down.sql
  internal/store/migrations/000018_sessions.up.sql
  internal/store/session_store_integration_test.go
Due: lint-go

refactor(grpc): replace grpc.SessionInfo with session.Store interface
  .mockery.yaml
  cmd/holomush/core.go
  internal/grpc/mocks/mock_SessionStore.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  test/integration/phase1_5_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go, lint-yaml

feat(session): detach session on disconnect instead of immediate delete
  internal/grpc/server.go
  internal/grpc/server_test.go
Due: lint-go

feat(session): add SessionReaper for expired session cleanup
  internal/session/reaper.go
  internal/session/reaper_test.go
Due: lint-go

feat(session): add SessionDefaults option and wire reaper into core
  cmd/holomush/core.go
  internal/grpc/server.go
Due: lint-go

feat(proto): add replay fields to SubscribeRequest and StreamEventsResponse
  api/proto/holomush/core/v1/core.proto
  api/proto/holomush/web/v1/web.proto
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/web/v1/web.pb.go
Due: lint-go

feat(grpc): implement replay-before-live merge in Subscribe
  cmd/holomush/core.go
  internal/grpc/server.go
  internal/grpc/server_test.go
Due: lint-go

feat(session): persist event cursors to session store on event delivery
  internal/grpc/server.go
Due: lint-go

feat(auth): add PlayerToken type and repository interface
  internal/auth/player_token.go
  internal/auth/player_token_test.go
Due: lint-go

feat(store): implement PostgresPlayerTokenStore for two-phase login
  internal/store/player_token_store.go
  internal/store/player_token_store_test.go
Due: lint-go

feat(web): add two-phase login RPCs and handler stubs
  api/proto/holomush/web/v1/web.proto
  internal/web/handler.go
  internal/web/handler_test.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
Due: lint-go

feat(session): record commands in session history on HandleCommand
  internal/grpc/server.go
  internal/grpc/server_test.go
Due: lint-go

feat(session): grid presence phasing and multi-connection tracking
  api/proto/holomush/core/v1/core.proto
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/session/memstore.go
  internal/session/session.go
  internal/store/session_store.go
  internal/telnet/gateway_handler.go
  internal/web/handler.go
  internal/web/handler_test.go
  pkg/proto/holomush/core/v1/core.pb.go
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/web/v1/web_connect.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

test(session): add integration test scaffolding + final verification
  test/integration/session/session_persistence_integration_test.go
  test/integration/session/session_persistence_suite_test.go
Due: lint-go

fix(store): add SPDX license headers to migration 000018 SQL files
  internal/store/migrations/000018_sessions.down.sql
  internal/store/migrations/000018_sessions.up.sql
Due: none

test(session): implement session persistence integration tests
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

fix: apply CodeRabbit auto-fixes
  internal/grpc/server.go
  internal/web/handler.go
  internal/web/handler_test.go
Due: lint-go

fix: apply CodeRabbit auto-fixes (round 2)
  internal/grpc/server.go
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

fix: move sessions.Connect after successful persistence
  internal/grpc/server.go
Due: lint-go

fix(core): wire PostgresSessionStore in production instead of MemStore
  cmd/holomush/core.go
  internal/web/dist/.gitignore
  internal/web/dist/_app/env.js
  internal/web/dist/_app/immutable/chunks/B1QM6pNz.js
  internal/web/dist/_app/immutable/chunks/BDwQ9jlv.js
  internal/web/dist/_app/immutable/chunks/CPVHwCb_.js
  internal/web/dist/_app/immutable/chunks/CUNxU90c.js
  internal/web/dist/_app/immutable/chunks/CciyFX7h.js
  internal/web/dist/_app/immutable/chunks/Dai7PLKl.js
  internal/web/dist/_app/immutable/chunks/b5N3tVaZ.js
  internal/web/dist/_app/immutable/entry/app.C398rvFe.js
  internal/web/dist/_app/immutable/entry/start.DEc6xqYM.js
  internal/web/dist/_app/immutable/nodes/0.CE7fLfdn.js
  internal/web/dist/_app/immutable/nodes/1.H7iyYaxA.js
  internal/web/dist/_app/immutable/nodes/2.CPlpFRh2.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: lint-go

fix(store): address review findings in session and store packages
  internal/auth/player_token.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/session/reaper.go
  internal/session/reaper_test.go
  internal/session/session.go
  internal/store/player_token_store.go
  internal/store/session_store.go
  internal/store/session_store_test.go
  internal/web/handler.go
  internal/web/handler_test.go
Due: lint-go

fix(grpc): address review findings in server.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/session/session_test.go
Due: lint-go

fix: address review findings in auth, reaper, handler, and tests
  internal/auth/player_token_test.go
  internal/session/memstore_test.go
  internal/session/session_test.go
Due: lint-go

fix(web): update embedded static tests for SvelteKit production build
  internal/web/static_test.go
Due: lint-go

ci: add integration test job and update GitHub Actions versions
  .github/workflows/ci.yaml
  Taskfile.yaml
  internal/store/session_store.go
  internal/store/session_store_test.go
  internal/web/dist/_app/immutable/chunks/CciyFX7h.js
  internal/web/dist/_app/immutable/chunks/GQN3tzKd.js
  internal/web/dist/_app/immutable/entry/app.C-sYs4Rw.js
  internal/web/dist/_app/immutable/entry/app.C398rvFe.js
  internal/web/dist/_app/immutable/entry/start.C9QXou3d.js
  internal/web/dist/_app/immutable/entry/start.DEc6xqYM.js
  internal/web/dist/_app/immutable/nodes/1.D4UA4zC9.js
  internal/web/dist/_app/immutable/nodes/1.H7iyYaxA.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: lint-go, lint-yaml, lint-actions

fix(grpc): increase client keepalive to 30s and add server enforcement policy
  cmd/holomush/core.go
  internal/grpc/client.go
Due: lint-go

fix(store): coerce nil CommandHistory to empty slice in Set (#124)
  .github/workflows/ci.yaml
  Taskfile.yaml
  cmd/holomush/core.go
  internal/grpc/client.go
  internal/store/session_store.go
  internal/store/session_store_test.go
  internal/web/dist/_app/immutable/chunks/CciyFX7h.js
  internal/web/dist/_app/immutable/chunks/GQN3tzKd.js
  internal/web/dist/_app/immutable/entry/app.C-sYs4Rw.js
  internal/web/dist/_app/immutable/entry/app.C398rvFe.js
  internal/web/dist/_app/immutable/entry/start.C9QXou3d.js
  internal/web/dist/_app/immutable/entry/start.DEc6xqYM.js
  internal/web/dist/_app/immutable/nodes/1.D4UA4zC9.js
  internal/web/dist/_app/immutable/nodes/1.H7iyYaxA.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: lint-go, lint-yaml, lint-actions

docs(spec): terminal UI design spec (sub-spec 2b)
  .gitignore
  docs/specs/2026-03-19-terminal-ui-design.md
Due: none

docs(plan): terminal UI implementation plan (sub-spec 2b)
  docs/superpowers/plans/2026-03-19-terminal-ui.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
