Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(core-scenes): stop leaking inner error text on codes.Internal (holomush-2dsxm) (#4421)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

docs(rules): fix grpc-errors.md opaque-Internal example — errutil logger + wrapcheck-clean return (holomush-x1zol)
  .claude/rules/grpc-errors.md
Due: none

docs(rules): fix grpc-errors.md opaque-Internal example — errutil logger + wrapcheck-clean return (holomush-x1zol) (#4422)
  .claude/rules/grpc-errors.md
Due: none

docs(invariants): reconcile INV-CRYPTO-117 with KEK-mandatory boot (holomush-5rh.8.30)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(invariants): reconcile INV-CRYPTO-117 with KEK-mandatory boot (holomush-5rh.8.30) (#4423)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

chore(beads): beads updates
  .beads/.gitignore
  .beads/interactions.jsonl
  .gitignore
Due: none

chore(beads): beads updates (#4424)
  .beads/.gitignore
  .beads/interactions.jsonl
  .gitignore
Due: none

docs(plugin): plugin capability & dependency foundation — spec, plan, ADRs, roadmap, invariants (holomush-oeb4d)
  docs/adr/README.md
  docs/adr/holomush-dfkca-fail-fast-fail-closed-plugin-loader-policy-structured-resolv.md
  docs/adr/holomush-gtkzy-lua-plugin-capability-service-transport-via-process-grpc-ove.md
  docs/adr/holomush-mg4x6-typed-entry-requires-model-plugin-manifests-capability-servi.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/roadmap.md
  docs/superpowers/plans/2026-06-11-plugin-capability-dependency-foundation.md
  docs/superpowers/specs/2026-06-11-plugin-capability-dependency-foundation-design.md
Due: lint-yaml

docs(plugin): plugin capability & dependency foundation — spec, plan, ADRs (holomush-oeb4d) (#4425)
  docs/adr/README.md
  docs/adr/holomush-dfkca-fail-fast-fail-closed-plugin-loader-policy-structured-resolv.md
  docs/adr/holomush-gtkzy-lua-plugin-capability-service-transport-via-process-grpc-ove.md
  docs/adr/holomush-mg4x6-typed-entry-requires-model-plugin-manifests-capability-servi.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/roadmap.md
  docs/superpowers/plans/2026-06-11-plugin-capability-dependency-foundation.md
  docs/superpowers/specs/2026-06-11-plugin-capability-dependency-foundation-design.md
Due: lint-yaml

docs(invariants): register INV-PLUGIN-41..45 (holomush-oeb4d)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/dependency_test.go
  internal/plugin/manager_internal_test.go
Due: lint-go, lint-yaml, schema-sync

feat(plugin): structured ResolveResult + kind-validated resolver (holomush-oeb4d)
  internal/plugin/dependency.go
  internal/plugin/dependency_test.go
  internal/plugin/dependency_type_test.go
  internal/plugin/manager.go
Due: lint-go, schema-sync

feat(plugin): typed Dependency value type (holomush-oeb4d)
  internal/plugin/dependency_type.go
  internal/plugin/dependency_type_test.go
Due: lint-go, schema-sync

feat(plugin): minimal host-capability vocabulary registry (holomush-oeb4d)
  internal/plugin/capability_vocab.go
  internal/plugin/capability_vocab_test.go
Due: lint-go, schema-sync

fix(plugin): reclassify phantom requires to capabilities; fail-fast resolution (holomush-oeb4d)
  internal/plugin/loadall_regression_test.go
  internal/plugin/schema.go
  plugins/core-aliases/plugin.yaml
  plugins/core-communication/plugin.yaml
  plugins/core-objects/plugin.yaml
  schemas/plugin.schema.json
Due: lint-go, lint-yaml, schema-sync

feat(plugin): fail-fast loader policy on unsatisfied deps (holomush-oeb4d)
  internal/plugin/manager.go
  internal/plugin/manager_internal_test.go
Due: lint-go, schema-sync

feat(plugin): Manifest.Requires becomes typed []Dependency with accessors (holomush-oeb4d)
  internal/command/handlers/plugin_admin.go
  internal/command/handlers/plugin_admin_test.go
  internal/plugin/dependency.go
  internal/plugin/dependency_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  test/integration/plugin/binary_plugin_test.go
Due: lint-go, schema-sync

fix(plugin): resolver fail-closed on unknown/named-dep, unconditional MISDECLARED, INV-PLUGIN-43 cycle binding + doc sync (holomush-oeb4d)
  docs/architecture/invariants.yaml
  internal/plugin/dependency.go
  internal/plugin/dependency_test.go
  internal/plugin/loadall_regression_test.go
  internal/plugin/manager_internal_test.go
  site/src/content/docs/extending/tutorials/lua-plugins.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, schema-sync

fix(plugin): optional service dep with version mismatch is graceful-degrade, not fail-closed (holomush-oeb4d)
  internal/plugin/dependency.go
  internal/plugin/dependency_test.go
Due: lint-go, schema-sync

fix(plugin): restore optional alias-service requires so the capability module is injected (holomush-oeb4d)
  plugins/core-aliases/plugin.yaml
Due: lint-yaml

feat(plugin): plugin capability & dependency foundation — typed deps, unified resolver, fail-fast (holomush-oeb4d) (#4426)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/command/handlers/plugin_admin.go
  internal/command/handlers/plugin_admin_test.go
  internal/plugin/capability_vocab.go
  internal/plugin/capability_vocab_test.go
  internal/plugin/dependency.go
  internal/plugin/dependency_test.go
  internal/plugin/dependency_type.go
  internal/plugin/dependency_type_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/loadall_regression_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/plugin/manager.go
  internal/plugin/manager_internal_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  internal/plugin/schema.go
  plugins/core-aliases/plugin.yaml
  plugins/core-communication/plugin.yaml
  plugins/core-objects/plugin.yaml
  schemas/plugin.schema.json
  site/src/content/docs/extending/tutorials/lua-plugins.md
  test/integration/plugin/binary_plugin_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, schema-sync

fix(plugin): fire DUPLICATE_SERVICE_PROVIDER on host/plugin service collision (holomush-et5lz)
  internal/plugin/dependency.go
  internal/plugin/dependency_test.go
Due: lint-go, schema-sync

fix(plugin): fire DUPLICATE_SERVICE_PROVIDER on host/plugin service collision (holomush-et5lz) (#4427)
  internal/plugin/dependency.go
  internal/plugin/dependency_test.go
Due: lint-go, schema-sync

test(plugin): cover usurper+consumer load-order case, bind INV-PLUGIN-46 (holomush-et5lz)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/dependency_test.go
Due: lint-go, lint-yaml, schema-sync

test(plugin): cover usurper+consumer load-order case, bind INV-PLUGIN-46 (holomush-et5lz) (#4428)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/dependency_test.go
Due: lint-go, lint-yaml, schema-sync

docs(plugin): host capability decomposition spec — sub-spec 2 (holomush-eykuh.1)
  .beads/interactions.jsonl
  docs/superpowers/specs/2026-06-11-plugin-host-capability-decomposition-design.md
Due: none

docs(invariants): register INV-PLUGIN-47/48/49 (pending) for host capability decomposition (holomush-eykuh.1)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(plugin): host capability decomposition implementation plan — sub-spec 2 (holomush-eykuh.1)
  docs/superpowers/plans/2026-06-11-plugin-host-capability-decomposition.md
Due: none

docs(adr): capture host-capability decomposition ADRs — nbscl/e9go5/cryy2/2fb90, supersede kuf8 (holomush-eykuh.1)
  docs/adr/README.md
  docs/adr/holomush-2fb90-clean-cutover-delete-pluginhostservice-and-rewire-binary-sdk.md
  docs/adr/holomush-cryy2-ambient-runtime-substrate-below-capability-model-retire-log.md
  docs/adr/holomush-e9go5-dedicated-holomush-plugin-host-v1-namespace-worldservice-kep.md
  docs/adr/holomush-kuf8-extend-plugin-host-service-for-focus-contract.md
  docs/adr/holomush-nbscl-domain-primary-carving-axis-host-capability-services.md
  docs/superpowers/plans/2026-06-11-plugin-host-capability-decomposition.md
Due: none

docs(plugin): host capability decomposition — spec, plan, ADRs, invariants (holomush-eykuh.1) (#4429)
  .beads/interactions.jsonl
  docs/adr/README.md
  docs/adr/holomush-2fb90-clean-cutover-delete-pluginhostservice-and-rewire-binary-sdk.md
  docs/adr/holomush-cryy2-ambient-runtime-substrate-below-capability-model-retire-log.md
  docs/adr/holomush-e9go5-dedicated-holomush-plugin-host-v1-namespace-worldservice-kep.md
  docs/adr/holomush-kuf8-extend-plugin-host-service-for-focus-contract.md
  docs/adr/holomush-nbscl-domain-primary-carving-axis-host-capability-services.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/plans/2026-06-11-plugin-host-capability-decomposition.md
  docs/superpowers/specs/2026-06-11-plugin-host-capability-decomposition-design.md
Due: lint-yaml

feat(plugin): full host-capability vocabulary (14 tokens) — sub-spec 2 (holomush-eykuh.1)
  internal/plugin/capability_vocab.go
  internal/plugin/capability_vocab_test.go
Due: lint-go, schema-sync

chore(agent-memory): code-reviewer memory update from eykuh.1.2 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

feat(plugin): serve capability-scoped host services on the broker (holomush-eykuh.1)
  internal/plugin/goplugin/host_capability_servers.go
  internal/plugin/goplugin/host_capability_servers_test.go
  internal/plugin/goplugin/host_service.go
Due: lint-go, schema-sync

refactor(plugin): focus SDK client dials FocusService (holomush-eykuh.1)
  pkg/plugin/focus_client.go
  pkg/plugin/focus_client_test.go
  pkg/plugin/sdk.go
  pkg/plugin/service_test.go
Due: lint-go

refactor(plugin): settings SDK client dials SettingsService (holomush-eykuh.1)
  pkg/plugin/sdk.go
  pkg/plugin/settings_client.go
  pkg/plugin/settings_client_test.go
Due: lint-go

refactor(plugin): command lister dials CommandRegistryService (holomush-eykuh.1)
  pkg/plugin/command_lister.go
  pkg/plugin/command_lister_test.go
  pkg/plugin/sdk.go
Due: lint-go

refactor(plugin): evaluate client dials EvalService (holomush-eykuh.1)
  pkg/plugin/evaluate_client.go
  pkg/plugin/evaluate_client_test.go
  pkg/plugin/sdk.go
Due: lint-go

refactor(plugin): event sink dials EmitService (holomush-eykuh.1)
  internal/plugin/goplugin/host_service.go
  pkg/plugin/event_marshal.go
  pkg/plugin/event_sink.go
  pkg/plugin/sdk.go
  pkg/plugin/service_test.go
Due: lint-go, schema-sync

refactor(plugin): audit decrypt dials AuditService (holomush-eykuh.1)
  pkg/plugin/audit.go
  pkg/plugin/audit_test.go
  pkg/plugin/decrypt_client.go
  pkg/plugin/sdk.go
Due: lint-go

chore(agent-memory): code-reviewer memory updates from eykuh.1.x reviews
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
