Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(plugin): address CodeRabbit feedback on #4440 (holomush-eykuh.4)
  internal/plugin/dependency.go
  internal/plugin/goplugin/host.go
  internal/plugin/lua/host.go
  internal/plugin/manager_internal_test.go
  test/integration/pluginparity/lua_emit_test.go
Due: lint-go, schema-sync

feat(plugin): sub-spec 5 cutover infrastructure (holomush-eykuh.4 — 4.1/4.4/4.5/4.6/4.7/4.8/4.10/o262d) (#4440)
  internal/plugin/dependency.go
  internal/plugin/dependency_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_grants_internal_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/host.go
  internal/plugin/hostcap/register.go
  internal/plugin/hostcap/register_test.go
  internal/plugin/hostcap/world.go
  internal/plugin/hostcap/world_test.go
  internal/plugin/lua/actor_interceptor.go
  internal/plugin/lua/actor_interceptor_test.go
  internal/plugin/lua/bufconn_endpoint.go
  internal/plugin/lua/bufconn_endpoint_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_grants_internal_test.go
  internal/plugin/lua/host_test.go
  internal/plugin/luabridge/push_bridge_error_test.go
  internal/plugin/manager.go
  internal/plugin/manager_internal_test.go
  plugins/core-building/plugin.yaml
  plugins/core-communication/plugin.yaml
  plugins/core-objects/plugin.yaml
  test/integration/pluginparity/lua_emit_test.go
  test/integration/pluginparity/parity_test.go
Due: lint-go, lint-yaml, schema-sync

feat(plugin): wire Lua SessionAdmin broadcast/disconnect backing + ADR holomush-t019a (holomush-eykuh.4.2)
  cmd/holomush/sub_grpc.go
  docs/adr/holomush-t019a-back-sessionadmin-broadcast-via-system-subject-event-emit-ke.md
  internal/command/handlers/shutdown.go
  internal/core/event.go
  internal/plugin/hostcap/session.go
  internal/plugin/hostcap/session_test.go
  internal/plugin/hostcap/system_broadcaster.go
  internal/plugin/hostcap/system_broadcaster_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/hostcap_adapter.go
  internal/plugin/lua/session_admin_test.go
  internal/plugin/setup/subsystem.go
  internal/plugin/setup/system_broadcaster_test.go
  test/integration/pluginparity/session_admin_broadcast_test.go
Due: lint-go, schema-sync

feat(plugin): SessionAdmin broadcast backing + ADR holomush-t019a (holomush-eykuh.4.2) (#4441)
  cmd/holomush/sub_grpc.go
  docs/adr/holomush-t019a-back-sessionadmin-broadcast-via-system-subject-event-emit-ke.md
  internal/command/handlers/shutdown.go
  internal/core/event.go
  internal/plugin/hostcap/session.go
  internal/plugin/hostcap/session_test.go
  internal/plugin/hostcap/system_broadcaster.go
  internal/plugin/hostcap/system_broadcaster_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/hostcap_adapter.go
  internal/plugin/lua/session_admin_test.go
  internal/plugin/setup/subsystem.go
  internal/plugin/setup/system_broadcaster_test.go
  test/integration/pluginparity/session_admin_broadcast_test.go
Due: lint-go, schema-sync

test(plugin): bind INV-PLUGIN-45 cross-runtime least-privilege gate (holomush-eykuh.4.3)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  test/integration/pluginparity/least_privilege_gate_test.go
Due: lint-go, lint-yaml

fix(plugin): propagate host-vouched dispatch context across the Lua bufconn (holomush-eykuh.4.13)
  docs/architecture/invariants.yaml
  internal/plugin/inprocess_conn.go
  internal/plugin/lua/bufconn_endpoint.go
  internal/plugin/lua/dispatch_interceptor.go
  internal/plugin/lua/dispatch_propagation_test.go
Due: lint-go, lint-yaml, schema-sync

feat(plugin)!: atomic cutover — brokered capability path only, retire legacy injection (holomush-eykuh.4)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/building_integration_test.go
  internal/plugin/goplugin/evaluate_invariants_test.go
  internal/plugin/hostfunc/evaluate_test.go
  internal/plugin/hostfunc/export_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/functions_test.go
  internal/plugin/hostfunc/stdlib_focus.go
  internal/plugin/hostfunc/stdlib_focus_test.go
  internal/plugin/hostfunc/stdlib_settings_test.go
  internal/plugin/hostfunc/world_test.go
  internal/plugin/hostfunc/world_write_test.go
  internal/plugin/lua/bufconn_endpoint_test.go
  internal/plugin/lua/corebuilding_brokered_command_test.go
  internal/plugin/lua/eval_entitlement_brokered_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/plugin/objects_integration_test.go
  plugins/core-building/main.lua
  plugins/core-communication/main.lua
  plugins/core-objects/main.lua
Due: lint-go, lint-yaml, schema-sync

fix(linmh.2): behavioral coverage for migrated core-communication brokered handlers + capture SetLastWhispered errors (linmh.6)
  internal/plugin/lua/corecomm_brokered_command_test.go
  plugins/core-communication/main.lua
Due: lint-go, schema-sync

fix(linmh.13): resolver-grant-path test for INV-PLUGIN-45 + reword manager.go citation (linmh.15) + INV-PLUGIN-26 paired-binding note (linmh.3)
  docs/architecture/invariants.yaml
  internal/plugin/goplugin/resolver_grant_authority_test.go
  internal/plugin/manager.go
Due: lint-go, lint-yaml, schema-sync

fix(linmh.1): core-objects describe/examine behavioral coverage + scoped-ctx (linmh.4), dead-code cleanup (linmh.10), handle_set idiom (linmh.11/9)
  internal/plugin/objects_integration_test.go
  plugins/core-objects/main.lua
Due: lint-go, schema-sync

docs(plugin): Lua capability migration + brokered-surface guide (linmh.5/8) + fix export_test comment (linmh.12)
  docs/superpowers/sp5-docs-quality-audit.md
  internal/plugin/hostfunc/export_test.go
  site/src/content/docs/extending/how-to/lua-plugin-capabilities.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

fix(plugin): restore service-kind capability injection (alias) + migrate focus_join fixture to brokered focus — completes atomic cutover (holomush-eykuh.4)
  internal/plugin/hostfunc/functions.go
  test/integration/scenes/testdata/lua/focus_join/plugin.lua
  test/integration/scenes/testdata/lua/focus_join/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

feat(plugin)!: atomic capability cutover — brokered-only path + dispatch propagation + INV-PLUGIN-45 (holomush-eykuh.4) (#4446)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/sp5-docs-quality-audit.md
  internal/plugin/building_integration_test.go
  internal/plugin/goplugin/evaluate_invariants_test.go
  internal/plugin/goplugin/resolver_grant_authority_test.go
  internal/plugin/hostfunc/evaluate_test.go
  internal/plugin/hostfunc/export_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/functions_test.go
  internal/plugin/hostfunc/stdlib_focus.go
  internal/plugin/hostfunc/stdlib_focus_test.go
  internal/plugin/hostfunc/stdlib_settings_test.go
  internal/plugin/hostfunc/world_test.go
  internal/plugin/hostfunc/world_write_test.go
  internal/plugin/inprocess_conn.go
  internal/plugin/lua/bufconn_endpoint.go
  internal/plugin/lua/bufconn_endpoint_test.go
  internal/plugin/lua/corebuilding_brokered_command_test.go
  internal/plugin/lua/corecomm_brokered_command_test.go
  internal/plugin/lua/dispatch_interceptor.go
  internal/plugin/lua/dispatch_propagation_test.go
  internal/plugin/lua/eval_entitlement_brokered_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/plugin/manager.go
  internal/plugin/objects_integration_test.go
  plugins/core-building/main.lua
  plugins/core-communication/main.lua
  plugins/core-objects/main.lua
  site/src/content/docs/extending/how-to/lua-plugin-capabilities.md
  test/integration/pluginparity/least_privilege_gate_test.go
  test/integration/scenes/testdata/lua/focus_join/plugin.lua
  test/integration/scenes/testdata/lua/focus_join/plugin.yaml
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, schema-sync

fix(plugin): propagate dispatch context across the binary plugin boundary for scoped capability calls (holomush-ndtq1)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.yaml
  internal/plugin/dispatchwire/dispatchwire.go
  internal/plugin/dispatchwire/dispatchwire_test.go
  internal/plugin/goplugin/dispatch_propagation_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/lua/dispatch_interceptor.go
  pkg/plugin/broker.go
  pkg/plugin/dispatch_ferry.go
  pkg/plugin/dispatch_ferry_test.go
Due: lint-go, lint-yaml, schema-sync

fix(plugin): address PR #4451 review findings (holomush-ndtq1)
  docs/architecture/invariants.yaml
  internal/plugin/dispatchwire/dispatchwire_test.go
  internal/plugin/goplugin/dispatch_propagation_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/lua/dispatch_interceptor.go
  internal/plugin/lua/dispatch_propagation_test.go
  pkg/plugin/dispatch_ferry_test.go
Due: lint-go, lint-yaml, schema-sync

fix(plugin): token-bind binary dispatch context — forgery fix (holomush-ndtq1)
  docs/architecture/invariants.yaml
  internal/plugin/goplugin/dispatch_propagation_test.go
  internal/plugin/goplugin/emit_token_store.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/hostcap/capabilities.go
  internal/plugin/hostcap/register_test.go
  internal/plugin/lua/hostcap_adapter.go
  pkg/plugin/broker.go
  pkg/plugin/dispatch_ferry.go
  pkg/plugin/dispatch_ferry_test.go
Due: lint-go, lint-yaml, schema-sync

fix(ci): scope Renovate gomod manager to root go.mod (holomush-nr63n)
  .github/renovate.json
  go.tool-lint.mod
  go.tool.mod
Due: none

fix(plugin): propagate dispatch context across the binary plugin boundary for scoped capability calls (holomush-ndtq1) (#4451)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.yaml
  internal/plugin/dispatchwire/dispatchwire.go
  internal/plugin/dispatchwire/dispatchwire_test.go
  internal/plugin/goplugin/dispatch_propagation_test.go
  internal/plugin/goplugin/emit_token_store.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/hostcap/capabilities.go
  internal/plugin/hostcap/register_test.go
  internal/plugin/lua/dispatch_interceptor.go
  internal/plugin/lua/dispatch_propagation_test.go
  internal/plugin/lua/hostcap_adapter.go
Due: lint-go, lint-yaml, schema-sync

fix(ci): scope Renovate gomod manager to root go.mod (holomush-nr63n) (#4453)
  .github/renovate.json
  go.tool-lint.mod
  go.tool.mod
Due: none

docs(invariants): retarget stale PluginHostService refs to host.v1 services (holomush-eykuh.7)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(invariants): retarget stale PluginHostService refs to host.v1 services (holomush-eykuh.7) (#4454)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

chore: remove stale jxo8 INV-B-BEAD guard from pr-prep:run (holomush-xokps)
  Taskfile.yaml
  scripts/check-bead-jxo8-5.sh
Due: lint-yaml

fix(plugin): PR #4430 review follow-ups — RegisterEmitType Unimplemented + test hardening (holomush-eykuh.8)
  internal/plugin/goplugin/host_capability_servers_test.go
  internal/plugin/hostcap/servers.go
  internal/plugin/hostcap/servers_test.go
  pkg/plugin/focus_client_test.go
  pkg/plugin/service_test.go
  site/src/content/docs/extending/how-to/plugin-crypto-readback.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

chore: remove stale jxo8 INV-B-BEAD guard from pr-prep:run (holomush-xokps) (#4457)
  Taskfile.yaml
  scripts/check-bead-jxo8-5.sh
Due: lint-yaml

fix(plugin): PR #4430 review follow-ups — RegisterEmitType Unimplemented + test hardening (holomush-eykuh.8) (#4458)
  internal/plugin/goplugin/host_capability_servers_test.go
  internal/plugin/hostcap/servers.go
  internal/plugin/hostcap/servers_test.go
  pkg/plugin/focus_client_test.go
  pkg/plugin/service_test.go
  site/src/content/docs/extending/how-to/plugin-crypto-readback.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

docs(spec+plan+adr): Lua stub generator design, plan, and ADRs (holomush-eykuh.9)
  docs/adr/README.md
  docs/adr/holomush-nc5v1-source-ambient-stdlib-annotations-from-parity-tested-go-decl.md
  docs/adr/holomush-vhz3h-scope-lua-stub-generator-static-build-time-surfaces-only.md
  docs/superpowers/plans/2026-06-16-lua-stub-generator.md
  docs/superpowers/specs/2026-06-16-lua-stub-generator-design.md
Due: none

docs(spec+plan+adr): Lua stub generator design, plan, and ADRs (holomush-eykuh.9) (#4459)
  docs/adr/README.md
  docs/adr/holomush-nc5v1-source-ambient-stdlib-annotations-from-parity-tested-go-decl.md
  docs/adr/holomush-vhz3h-scope-lua-stub-generator-static-build-time-surfaces-only.md
  docs/superpowers/plans/2026-06-16-lua-stub-generator.md
  docs/superpowers/specs/2026-06-16-lua-stub-generator-design.md
Due: none

feat(luabridge): collect request/response message classes for stub (holomush-eykuh.9.3)
  internal/plugin/luabridge/gen/luastub.go
  internal/plugin/luabridge/gen/luastub_test.go
  internal/plugin/luabridge/gen/main.go
Due: lint-go, schema-sync

feat(luabridge): emit committed LuaLS stub artifact + wire generator (holomush-eykuh.9.5)
  .licenserc.yaml
  internal/plugin/luabridge/doc.go
  internal/plugin/luabridge/gen/main.go
  pkg/plugin/luastubs/holomush.lua
Due: lint-go, lint-yaml, schema-sync

build(luabridge): extend pr-prep drift gate to cover the LuaLS stub (holomush-eykuh.9.7)
  Taskfile.yaml
Due: lint-yaml

docs(extending): add Lua editor setup how-to for the generated stub (holomush-eykuh.9.8)
  docs/superpowers/sp5-docs-quality-audit.md
  site/src/content/docs/extending/how-to/lua-editor-setup.md
Due: lint-markdown-site, fmt-markdown-site

feat(luabridge): add ambient decl table + parity test (holomush-eykuh.9.2)
  internal/plugin/luabridge/gen/ambient.go
  internal/plugin/luabridge/gen/ambient_parity_test.go
Due: lint-go, schema-sync

feat(luabridge): add proto→LuaLS type mapper (holomush-eykuh.9.1)
  internal/plugin/luabridge/gen/luatype.go
  internal/plugin/luabridge/gen/luatype_test.go
Due: lint-go, schema-sync

feat(luabridge): render ---@meta LuaLS stub from descriptors+ambient decls (holomush-eykuh.9.4)
  internal/plugin/luabridge/gen/luastub.go
  internal/plugin/luabridge/gen/luastub_test.go
Due: lint-go, schema-sync

test(luabridge): structural sanity test for generated LuaLS stub (holomush-eykuh.9.6)
  internal/plugin/luabridge/gen/luastub_test.go
Due: lint-go, schema-sync

feat(luabridge): Lua binding stub generator for editor tooling/LSP (epic holomush-eykuh.9) (#4460)
  .licenserc.yaml
  Taskfile.yaml
  docs/superpowers/sp5-docs-quality-audit.md
  internal/plugin/luabridge/doc.go
  internal/plugin/luabridge/gen/ambient.go
  internal/plugin/luabridge/gen/ambient_parity_test.go
  internal/plugin/luabridge/gen/luastub.go
  internal/plugin/luabridge/gen/luastub_test.go
  internal/plugin/luabridge/gen/luatype.go
  internal/plugin/luabridge/gen/luatype_test.go
  internal/plugin/luabridge/gen/main.go
  pkg/plugin/luastubs/holomush.lua
  site/src/content/docs/extending/how-to/lua-editor-setup.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, schema-sync

fix(luabridge): namespace colliding stub @class names by proto package (holomush-t4tye)
  internal/plugin/luabridge/gen/luastub.go
  internal/plugin/luabridge/gen/luastub_test.go
  internal/plugin/luabridge/gen/luatype.go
  internal/plugin/luabridge/gen/luatype_test.go
Due: lint-go, schema-sync

fix(luabridge): namespace colliding stub @class names by proto package (holomush-t4tye) (#4461)
  internal/plugin/luabridge/gen/luastub.go
  internal/plugin/luabridge/gen/luastub_test.go
  internal/plugin/luabridge/gen/luatype.go
  internal/plugin/luabridge/gen/luatype_test.go
Due: lint-go, schema-sync

feat(plugin): default-deny ABAC for all non-scoped host capabilities (holomush-kplrr)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  internal/access/policy/seed.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/seed_test.go
  internal/plugin/hostcap/descriptor.go
  internal/plugin/hostcap/interceptor.go
  internal/plugin/hostcap/interceptor_test.go
  internal/plugin/lua/bufconn_endpoint_test.go
Due: lint-go, schema-sync

feat(plugin): default-deny ABAC for all non-scoped host capabilities (holomush-kplrr) (#4462)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  internal/access/policy/seed.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/seed_test.go
  internal/plugin/hostcap/descriptor.go
  internal/plugin/hostcap/interceptor.go
  internal/plugin/hostcap/interceptor_test.go
  internal/plugin/lua/bufconn_endpoint_test.go
Due: lint-go, schema-sync

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
