Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(claude): address CodeRabbit findings on PR #260
  .mcp.json
  docs/superpowers/specs/2026-04-24-review-subagents-design.md
Due: none

fix(sandbox): firewall step uses doctl + extract to scripts; pin doctl/action versions (#261)
  .github/workflows/bootstrap-sandbox.yaml
  scripts/bootstrap-sandbox/README.md
  scripts/bootstrap-sandbox/firewall-attach.sh
  scripts/bootstrap-sandbox/firewall.sh
Due: lint-yaml, lint-actions

feat(claude): adversarial review sub-agents (code/plan/design) (#260)
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  .claude/agents/code-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
  .claude/commands/review-code.md
  .claude/commands/review-design.md
  .claude/commands/review-plan.md
  .gitignore
  .mcp.json
  CLAUDE.md
  Taskfile.yaml
  docs/superpowers/plans/2026-04-24-review-subagents-plan.md
  docs/superpowers/specs/2026-04-24-review-subagents-design.md
Due: lint-yaml

fix(sandbox): drop --tag-names from firewall create (tag must pre-exist)
  scripts/bootstrap-sandbox/firewall.sh
Due: none

fix(sandbox): drop --tag-names from firewall create (#262)
  scripts/bootstrap-sandbox/firewall.sh
Due: none

chore(claude): persist subagent reviewer reports + emission contract
  .claude/.gitignore
  .claude/agents/code-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
  .claude/commands/review-code.md
  .claude/commands/review-design.md
  .claude/commands/review-plan.md
  .claude/scheduled_tasks.lock
Due: none

chore(claude): persist subagent reviewer reports + emission contract (#264)
  .claude/.gitignore
  .claude/agents/code-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
  .claude/commands/review-code.md
  .claude/commands/review-design.md
  .claude/commands/review-plan.md
  .claude/scheduled_tasks.lock
Due: none

fix(sandbox): track main by default + diagnose cloud-init failures clearly
  .github/workflows/bootstrap-sandbox.yaml
  scripts/cloud-init.sh
  site/docs/operating/sandbox-operations.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

fix(sandbox): track main by default; decouple REF/VERSION; better cloud-init diagnostics (#263)
  .github/workflows/bootstrap-sandbox.yaml
  scripts/cloud-init.sh
  site/docs/operating/sandbox-operations.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

fix(web): close cmdk palette reliably + add focus guard in e2e (holomush-ceon)
  web/e2e/terminal.spec.ts
  web/src/lib/components/terminal/CommandPalette.svelte
Due: none

fix(web): close cmdk palette reliably + add focus guard in e2e (holomush-ceon) (#265)
  web/e2e/terminal.spec.ts
  web/src/lib/components/terminal/CommandPalette.svelte
Due: none

chore(claude): sharpen reviewer triggers + add pre-action reminder hook
  .claude/agents/code-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
  .claude/hooks/remind-pre-action-review.sh
  .claude/settings.json
Due: none

chore(claude): sharpen reviewer triggers + add pre-action reminder hook (#266)
  .claude/agents/code-reviewer.md
  .claude/agents/design-reviewer.md
  .claude/agents/plan-reviewer.md
  .claude/hooks/remind-pre-action-review.sh
  .claude/settings.json
Due: none

feat(plugin-audit): enforce scene-membership authz at PluginAuditService.QueryHistory
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_oops_vs_grpc_code_conflation.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  .claude/agent-memory/plan-reviewer/feedback_no_signature_placeholders.md
  .claude/agent-memory/plan-reviewer/feedback_verify_helper_existence.md
  .claude/agent-memory/plan-reviewer/feedback_verify_imports_in_code_blocks.md
  api/proto/holomush/plugin/v1/audit.proto
  cmd/holomush/sub_grpc_adapters_test.go
  docs/superpowers/plans/2026-04-23-plugin-history-authz-plan.md
  docs/superpowers/specs/2026-04-23-plugin-history-authz-design.md
  internal/eventbus/audit/plugin_router.go
  internal/eventbus/audit/plugin_router_test.go
  internal/eventbus/bus.go
  internal/eventbus/cursor/cursorv1/cursor.pb.go
  internal/eventbus/publisher.go
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  pkg/proto/holomush/plugin/v1/audit.pb.go
  plugins/core-scenes/audit.go
  plugins/core-scenes/audit_test.go
  plugins/core-scenes/main.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
Due: lint-go

feat(plugin-audit): enforce scene-membership authz at PluginAuditService.QueryHistory (#267)
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_oops_vs_grpc_code_conflation.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  .claude/agent-memory/plan-reviewer/feedback_no_signature_placeholders.md
  .claude/agent-memory/plan-reviewer/feedback_verify_helper_existence.md
  .claude/agent-memory/plan-reviewer/feedback_verify_imports_in_code_blocks.md
  api/proto/holomush/plugin/v1/audit.proto
  cmd/holomush/sub_grpc_adapters_test.go
  docs/superpowers/plans/2026-04-23-plugin-history-authz-plan.md
  docs/superpowers/specs/2026-04-23-plugin-history-authz-design.md
  internal/eventbus/audit/plugin_router.go
  internal/eventbus/audit/plugin_router_test.go
  internal/eventbus/bus.go
  internal/eventbus/cursor/cursorv1/cursor.pb.go
  internal/eventbus/publisher.go
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  pkg/proto/holomush/plugin/v1/audit.pb.go
  plugins/core-scenes/audit.go
  plugins/core-scenes/audit_test.go
  plugins/core-scenes/main.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
Due: lint-go

plan: session workspace isolation implementation
  docs/superpowers/plans/2026-04-25-session-workspace-isolation.md
Due: none

phase 3: SessionStart hook warns when starting in default workspace
  .claude/hooks/warn-default-workspace.sh
  .claude/settings.json
Due: none

phase 4: document session-isolation discipline in CLAUDE.md
  CLAUDE.md
Due: none

phase 2: add task workspace:new
  Taskfile.yaml
Due: lint-yaml

phase 1: tear down task gowork + add scripts/jj-main-repo.sh
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  CLAUDE.md
  Taskfile.yaml
  docs/superpowers/plans/2026-04-25-session-workspace-isolation.md
  docs/superpowers/specs/2026-04-25-session-workspace-isolation-design.md
  scripts/jj-main-repo.sh
  test/integration/eventbus_e2e/cross_tier_query_test.go
Due: lint-go, lint-yaml

fix(autofix): apply CodeRabbit review findings on PR #268
  CLAUDE.md
  Taskfile.yaml
  docs/superpowers/specs/2026-04-25-session-workspace-isolation-design.md
Due: lint-yaml

chore: session-workspace isolation + drop go.work (#268)
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  .claude/hooks/warn-default-workspace.sh
  .claude/settings.json
  CLAUDE.md
  Taskfile.yaml
  docs/superpowers/plans/2026-04-25-session-workspace-isolation.md
  docs/superpowers/specs/2026-04-25-session-workspace-isolation-design.md
  scripts/jj-main-repo.sh
  test/integration/eventbus_e2e/cross_tier_query_test.go
Due: lint-go, lint-yaml

test(grpc): sharpen e2e pin test with session_id/stream Context assertions
  internal/grpc/query_stream_history_test.go
Due: lint-go

refactor(grpc): add sessionID/stream params to mapHistoryError
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
Due: lint-go

docs(plan): plugin-path mapHistoryError context preservation (holomush-095g.6)
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_grpc_fromerror_message_rewrite.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-04-25-plugin-maphistoryerror-context.md
  docs/superpowers/specs/2026-04-25-plugin-maphistoryerror-context-design.md
Due: none

feat(grpc): attach session_id/stream to plugin PermissionDenied oops chain
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
Due: lint-go

feat(grpc): preserve status.WithDetails on mapHistoryError InvalidArgument
  .claude/agent-memory/code-reviewer/MEMORY.md
  go.mod
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
Due: lint-go

feat(grpc): preserve session_id/stream + status.WithDetails on plugin-path mapHistoryError (#269)
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_grpc_fromerror_message_rewrite.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-04-25-plugin-maphistoryerror-context.md
  docs/superpowers/specs/2026-04-25-plugin-maphistoryerror-context-design.md
  go.mod
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
Due: lint-go

feat(claude): remove project mcp, already defined at the user level with API keys
  .mcp.json
Due: none

feat(claude): remove project mcp, already defined at the user level with API keys (#270)
  .mcp.json
Due: none

docs(spec): multi-tab session isolation design v3 (holomush-9q8n)
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_check_existing_rpcs.md
  .claude/agent-memory/design-reviewer/feedback_extending_rpc_check_callers.md
  docs/superpowers/specs/2026-04-25-multi-tab-session-isolation-design.md
Due: none

test(web): extend mockCoreClient with request capture and call counters
  internal/web/handler_test.go
Due: lint-go

feat(proto): extend WebCheckSessionResponse with player_id, is_guest, characters
  api/proto/holomush/web/v1/web.proto
  pkg/proto/holomush/web/v1/web.pb.go
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(proto): extend CheckPlayerSessionResponse with player_id, is_guest, characters
  api/proto/holomush/core/v1/core.proto
  pkg/proto/holomush/core/v1/core.pb.go
Due: lint-go

docs(plan): multi-tab session isolation implementation plan v4 (holomush-9q8n)
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-04-25-multi-tab-session-isolation.md
Due: none

test(integration/auth): build in-process gateway+core harness for multi-tab tests
  test/integration/auth/auth_suite_test.go
  test/integration/auth/core_client_shim_test.go
Due: lint-go

feat(web): forward player_id, is_guest, characters from CheckPlayerSession
  internal/web/auth_handlers.go
  internal/web/auth_handlers_test.go
Due: lint-go

feat(web): login page authenticated branch + pre-gate
  web/src/routes/login/+page.svelte
  web/src/routes/login/+page.ts
Due: none

fix(grpc): preserve auth-failure semantics across CheckPlayerSession gRPC boundary
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/client.go
  internal/grpc/client_test.go
Due: lint-go

feat(web): refuse WebCreateGuest with ALREADY_AUTHENTICATED when cookie valid
  internal/web/auth_handlers.go
  internal/web/auth_handlers_test.go
  internal/web/handler_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
