Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(plugin): retire stale PluginHostService comments in non-SDK callers (holomush-eykuh.1)
  cmd/holomush/core.go
  plugins/core-scenes/main.go
Due: lint-go

feat(plugin)!: delete PluginHostService god-service; rehoming complete (holomush-eykuh.1)
  api/proto/holomush/plugin/v1/audit.proto
  api/proto/holomush/plugin/v1/plugin.proto
  docs/architecture/invariants.yaml
  internal/command/commandquery/query.go
  internal/eventbus/history/readback.go
  internal/grpc/focus/auto_focus_on_join.go
  internal/plugin/goplugin/begin_service_dispatch_test.go
  internal/plugin/goplugin/evaluate_invariants_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_capability_servers.go
  internal/plugin/goplugin/host_capability_servers_test.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_command_test.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/goplugin/host_service_testshim_test.go
  internal/plugin/goplugin/host_settings_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/hostfunc/stdlib_settings.go
  internal/plugin/lua/settings_ops_adapter.go
  internal/plugin/pluginauthz/evaluate.go
  internal/plugin/pluginauthz/principal.go
  internal/plugin/setup/subsystem.go
  pkg/proto/holomush/plugin/v1/audit.pb.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  site/src/content/docs/reference/grpc-api.md
  test/integration/plugin/actor_authentication_test.go
  test/integration/plugin/testdata/cmd_introspection_plugin/main.go
  test/meta/plugin_host_capability_decomp_test.go
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, schema-sync

docs(invariants): register INV-PLUGIN-47/48; update INV-COMMAND-2 for god-service deletion (holomush-eykuh.1)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

fix(plugin): address PR #4430 review — proto contract hardening + doc fixes (holomush-eykuh.1)
  api/proto/holomush/plugin/host/v1/kv.proto
  api/proto/holomush/plugin/host/v1/world.proto
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/setup/subsystem.go
  pkg/proto/holomush/plugin/host/v1/kv.pb.go
  pkg/proto/holomush/plugin/host/v1/kv_grpc.pb.go
  pkg/proto/holomush/plugin/host/v1/world.pb.go
  web/src/lib/connect/holomush/plugin/host/v1/kv_connect.ts
  web/src/lib/connect/holomush/plugin/host/v1/kv_pb.ts
  web/src/lib/connect/holomush/plugin/host/v1/world_pb.ts
Due: lint-go, lint-yaml, schema-sync

docs(plugin): Lua parity sub-spec 3 — spec, plan, 3 ADRs (holomush-eykuh.2)
  docs/adr/README.md
  docs/adr/holomush-elqw4-per-plugin-bufconn-server-host-established-lua-plugin-identi.md
  docs/adr/holomush-l5bqb-extract-hostcapabilities-port-relocate-host-v1-servers-runti.md
  docs/adr/holomush-ws2mi-split-lua-bridge-by-proto-ownership-codegen-host-caps-descri.md
  docs/superpowers/plans/2026-06-12-lua-parity-host-brokered-consumption.md
  docs/superpowers/specs/2026-06-12-lua-parity-host-brokered-consumption-design.md
Due: none

docs(plugin): Lua parity sub-spec 3 — spec, plan, 3 ADRs (holomush-eykuh.2) (#4431)
  docs/adr/README.md
  docs/adr/holomush-elqw4-per-plugin-bufconn-server-host-established-lua-plugin-identi.md
  docs/adr/holomush-l5bqb-extract-hostcapabilities-port-relocate-host-v1-servers-runti.md
  docs/adr/holomush-ws2mi-split-lua-bridge-by-proto-ownership-codegen-host-caps-descri.md
  docs/superpowers/plans/2026-06-12-lua-parity-host-brokered-consumption.md
  docs/superpowers/specs/2026-06-12-lua-parity-host-brokered-consumption-design.md
Due: none

feat(plugin): hostfunc.Functions adapter for HostCapabilities port (holomush-eykuh.2)
  internal/plugin/hostfunc/functions.go
  internal/plugin/lua/hostcap_adapter.go
  internal/plugin/lua/hostcap_adapter_test.go
Due: lint-go, schema-sync

fix(registry): repoint invariant refs to relocated hostcap/servers.go (holomush-po8re, holomush-eykuh.2)
  docs/architecture/invariants.yaml
Due: lint-yaml

chore(agent-memory): code-reviewer notes from eykuh.2.12 r2 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

chore(agent-memory): code-reviewer notes from eykuh.2.11 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

chore(agent-memory): code-reviewer notes from eykuh.2.5 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

fix(plugin): wire real Lua adapter backings + nil-guard sessionAdminServer (holomush-eykuh.2)
  internal/plugin/hostcap/session.go
  internal/plugin/hostcap/session_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/lua/hostcap_adapter.go
  internal/plugin/lua/hostcap_adapter_test.go
  internal/plugin/lua/settings_ops_adapter.go
Due: lint-go, schema-sync

feat(plugin): codegen typed Lua bindings for host.v1 capabilities (holomush-eykuh.2)
  Taskfile.yaml
  internal/plugin/capability_vocab.go
  internal/plugin/luabridge/bindings_gen.go
  internal/plugin/luabridge/bindings_gen_test.go
  internal/plugin/luabridge/doc.go
  internal/plugin/luabridge/gen/main.go
  internal/plugin/luabridge/marshal.go
  internal/plugin/luabridge/marshal_test.go
Due: lint-go, lint-yaml, schema-sync

feat(plugin): implement host.v1 PropertyService server (holomush-eykuh.2)
  internal/plugin/hostcap/property.go
  internal/plugin/hostcap/property_test.go
  internal/plugin/hostcap/register.go
  internal/plugin/hostcap/servers.go
Due: lint-go, schema-sync

feat(plugin): implement host.v1 WorldQueryService server + enable LuaDefaultSet (holomush-eykuh.2)
  internal/plugin/goplugin/host.go
  internal/plugin/hostcap/capabilities.go
  internal/plugin/hostcap/property_test.go
  internal/plugin/hostcap/register.go
  internal/plugin/hostcap/register_test.go
  internal/plugin/hostcap/world.go
  internal/plugin/hostcap/world_test.go
Due: lint-go, schema-sync

feat(plugin): per-plugin Lua bufconn endpoint serving host.v1 caps (holomush-eykuh.2)
  internal/plugin/lua/bufconn_endpoint.go
  internal/plugin/lua/bufconn_endpoint_test.go
  internal/plugin/lua/host.go
Due: lint-go, schema-sync

chore(agent-memory): code-reviewer notes from eykuh.2.6 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

chore(agent-memory): code-reviewer notes from eykuh.2.x review pass
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

chore(agent-memory): code-reviewer notes from eykuh.2.12 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

chore(agent-memory): code-reviewer notes from eykuh.2.10 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

refactor(plugin)!: relocate host.v1 servers to hostcap pkg behind the port (holomush-eykuh.2)
  gorules/analyzers/cursorpackageinternal/cursorpackageinternal.go
  gorules/analyzers/cursorpackageinternal/cursorpackageinternal_test.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/internal/plugin/hostcap/allow/allow.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/goplugin/host_service_testshim_test.go
  internal/plugin/hostcap/register.go
  internal/plugin/hostcap/register_test.go
  internal/plugin/hostcap/servers.go
  internal/plugin/hostcap/servers_test.go
Due: lint-go, schema-sync

chore(agent-memory): code-reviewer notes from eykuh.2.13 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

refactor(plugin): extract HostCapabilities port from host.v1 servers (holomush-eykuh.2)
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_capability_servers.go
  internal/plugin/goplugin/host_service_testshim_test.go
  internal/plugin/hostcap/capabilities.go
  internal/plugin/hostcap/capabilities_test.go
Due: lint-go, schema-sync

test(plugin): Lua identity anti-forgery + legacy-shim coexistence (holomush-eykuh.2)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/goplugin/evaluate_invariants_test.go
  internal/plugin/lua/host_test.go
  test/integration/pluginparity/parity_test.go
Due: lint-go, lint-yaml, schema-sync

test(plugin): bind INV-PLUGIN-44 declaration-gated consumption; INV-45 deferred to gate consolidation (holomush-eykuh.2)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  test/integration/pluginparity/parity_test.go
Due: lint-go, lint-yaml

feat(plugin): load-time descriptor-driven Lua plugin-service bridge via BrokerProxy (holomush-eykuh.2)
  internal/plugin/luabridge/pluginsvc.go
  internal/plugin/luabridge/pluginsvc_test.go
Due: lint-go, schema-sync

feat(plugin): inject codegen'd host-cap bridge into Lua VMs, declaration-gated (holomush-eykuh.2)
  internal/plugin/lua/bufconn_endpoint_test.go
  internal/plugin/lua/host.go
  internal/plugin/luabridge/bridge.go
  internal/plugin/luabridge/bridge_test.go
Due: lint-go, schema-sync

test(plugin): bind INV-PLUGIN-49 cross-runtime single-source (holomush-eykuh.2)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/lua/host.go
  test/integration/pluginparity/parity_test.go
Due: lint-go, lint-yaml, schema-sync

feat(plugin): implement host.v1 SessionService/SessionAdminService servers (holomush-eykuh.2)
  internal/plugin/hostcap/register.go
  internal/plugin/hostcap/session.go
  internal/plugin/hostcap/session_test.go
Due: lint-go, schema-sync

chore(agent-memory): code-reviewer notes from eykuh.2.14 review
  .claude/agent-memory/code-reviewer/MEMORY.md
Due: none

docs(plugin): repoint stale SessionAdmin deferral pointers to open bead eykuh.4.2 (holomush-eykuh.2)
  internal/plugin/hostcap/session.go
  internal/plugin/lua/hostcap_adapter.go
Due: lint-go, schema-sync

fix(plugin): address CodeRabbit review on PR #4432 (holomush-eykuh.2)
  Taskfile.yaml
  internal/plugin/hostcap/property.go
  internal/plugin/hostcap/property_test.go
  internal/plugin/hostcap/register_test.go
  internal/plugin/hostcap/servers.go
  internal/plugin/hostcap/session.go
  internal/plugin/hostcap/session_test.go
  internal/plugin/hostcap/world.go
  internal/plugin/hostcap/world_test.go
  internal/plugin/lua/bufconn_endpoint.go
  internal/plugin/lua/bufconn_endpoint_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/hostcap_adapter_test.go
  internal/plugin/luabridge/bridge_test.go
  internal/plugin/luabridge/marshal.go
  internal/plugin/luabridge/pluginsvc.go
  test/integration/pluginparity/parity_test.go
  test/integration/pluginparity/suite_test.go
Due: lint-go, lint-yaml, schema-sync

docs(plugin): sub-spec 4 implementation plan — least-privilege + plugin-trust (holomush-eykuh.3)
  docs/superpowers/plans/2026-06-12-plugin-least-privilege-trust.md
  docs/superpowers/specs/2026-06-12-plugin-least-privilege-trust-design.md
Due: none

docs(plugin): sub-spec 4 ADRs + register INV-PLUGIN-50..53 (pending) (holomush-eykuh.3)
  docs/adr/README.md
  docs/adr/holomush-afyzh-scope-enforcement-uses-typed-co-located-extractors-not-refle.md
  docs/adr/holomush-syhc2-capability-access-is-default-deny-abac-decision-not-set-chec.md
  docs/adr/holomush-u1sdq-access-and-scope-are-valid-only-capability-entries-not-servi.md
  docs/adr/holomush-wvrtc-stamp-dispatch-context-host-side-never-accept-wire-subject.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/plans/2026-06-12-plugin-least-privilege-trust.md
  docs/superpowers/specs/2026-06-12-plugin-least-privilege-trust-design.md
Due: lint-yaml

docs(plugin): sub-spec 4 — least-privilege enforcement & plugin-trust security (holomush-eykuh.3) (#4433)
  docs/adr/README.md
  docs/adr/holomush-afyzh-scope-enforcement-uses-typed-co-located-extractors-not-refle.md
  docs/adr/holomush-syhc2-capability-access-is-default-deny-abac-decision-not-set-chec.md
  docs/adr/holomush-u1sdq-access-and-scope-are-valid-only-capability-entries-not-servi.md
  docs/adr/holomush-wvrtc-stamp-dispatch-context-host-side-never-accept-wire-subject.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/superpowers/plans/2026-06-12-plugin-least-privilege-trust.md
  docs/superpowers/specs/2026-06-12-plugin-least-privilege-trust-design.md
Due: lint-yaml

feat(plugin): scope-eligible descriptor rows + scope-token validation (holomush-eykuh.3)
  internal/plugin/capability_vocab.go
  internal/plugin/hostcap/descriptor.go
  internal/plugin/hostcap/descriptor_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go, schema-sync

feat(plugin): validate access/scope capability-only (INV-PLUGIN-53, holomush-eykuh.3)
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go, schema-sync

feat(plugin): host-owned CapabilityDescriptor table (holomush-eykuh.3)
  internal/plugin/hostcap/descriptor.go
  internal/plugin/hostcap/descriptor_test.go
Due: lint-go, schema-sync
