Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

feat(scenes): state machine helpers in lifecycle.go
  plugins/core-scenes/lifecycle.go
  plugins/core-scenes/lifecycle_test.go
Due: lint-go

fix(scenes): propagate character_id through GetScene call sites
  plugins/core-scenes/commands.go
  plugins/core-scenes/service_test.go
  test/integration/plugin/binary_plugin_test.go
Due: lint-go

feat(proto): annotate plugin/v1 protos with buf.validate constraints
  .task/checksum/proto
  api/proto/holomush/plugin/v1/attribute.proto
  api/proto/holomush/plugin/v1/hostfunc.proto
  api/proto/holomush/plugin/v1/plugin.proto
  pkg/proto/holomush/plugin/v1/attribute.pb.go
  pkg/proto/holomush/plugin/v1/hostfunc.pb.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
Due: lint-go

feat(scenes): scene end/pause/resume/set command handlers
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_test.go
Due: lint-go

refactor(scenes): remove hand-rolled validation now handled by interceptor
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

chore(fmt): apply task fmt auto-fixes
  docs/superpowers/plans/2026-04-06-scenes-phase-1-foundation.md
  plugins/core-scenes/plugin.yaml
  plugins/core-scenes/types.go
Due: lint-go, lint-yaml

feat(scenes): metric stub package for future Prometheus integration
  plugins/core-scenes/metrics.go
Due: lint-go

feat(scenes): annotate scene.proto and add Phase 2 RPCs
  .task/checksum/proto
  api/proto/holomush/scene/v1/scene.proto
  buf.gen.yaml
  pkg/proto/holomush/scene/v1/scene.pb.go
  pkg/proto/holomush/scene/v1/scene_grpc.pb.go
  pkg/proto/holomush/scene/v1/scenev1connect/scene.connect.go
Due: lint-go, lint-yaml

feat(plugin): protovalidate dep + default interceptor in plugin SDK
  buf.lock
  buf.yaml
  go.mod
  go.sum
  pkg/plugin/sdk.go
  pkg/plugin/service.go
  pkg/plugin/validate.go
  pkg/plugin/validate_test.go
Due: lint-go, lint-yaml

test(scenes): Phase 1 ABAC integration test + adjust existing tests
  Taskfile.yaml
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/web/dist/_app/immutable/chunks/Bza8O16O.js
  internal/web/dist/_app/immutable/chunks/CYvqTXrN.js
  internal/web/dist/_app/immutable/entry/app.BiAJv6PJ.js
  internal/web/dist/_app/immutable/entry/app.CLhJANaO.js
  internal/web/dist/_app/immutable/entry/start.AsMyjlJw.js
  internal/web/dist/_app/immutable/entry/start.D2CQfZqs.js
  internal/web/dist/_app/immutable/nodes/0.BIW_YWvE.js
  internal/web/dist/_app/immutable/nodes/0.D_QWyC7u.js
  internal/web/dist/_app/immutable/nodes/1.BhPst7TY.js
  internal/web/dist/_app/immutable/nodes/1.DDIppC1u.js
  internal/web/dist/_app/immutable/nodes/3.CaB_8QgA.js
  internal/web/dist/_app/immutable/nodes/4.BZw-tcKB.js
  internal/web/dist/_app/immutable/nodes/5.Cxhicvpv.js
  internal/web/dist/_app/immutable/nodes/6.Bhkr-Xud.js
  internal/web/dist/_app/immutable/nodes/6.i9Z93Jz7.js
  internal/web/dist/_app/immutable/nodes/7.BjtoGFeW.js
  internal/web/dist/_app/immutable/nodes/7.zyYKFCIy.js
  internal/web/dist/_app/immutable/nodes/9.CcysOFKU.js
  internal/web/dist/_app/immutable/nodes/9.X8OyFHxs.js
  test/integration/plugin/binary_plugin_test.go
Due: lint-go, lint-yaml

fix(scenes): remove AttributeResolverService from plugin.yaml provides
  internal/web/dist/_app/immutable/chunks/Bkh_NIzm.js
  internal/web/dist/_app/immutable/chunks/Bza8O16O.js
  internal/web/dist/_app/immutable/entry/app.CLhJANaO.js
  internal/web/dist/_app/immutable/entry/app.CR5CORF8.js
  internal/web/dist/_app/immutable/entry/start.D2CQfZqs.js
  internal/web/dist/_app/immutable/entry/start.DiPel8VM.js
  internal/web/dist/_app/immutable/nodes/0.BDeHcFO-.js
  internal/web/dist/_app/immutable/nodes/0.BIW_YWvE.js
  internal/web/dist/_app/immutable/nodes/1.Bjd1Ypnw.js
  internal/web/dist/_app/immutable/nodes/1.DDIppC1u.js
  internal/web/dist/_app/immutable/nodes/3.DfHi4sBy.js
  internal/web/dist/_app/immutable/nodes/4.B0Cs7SKw.js
  internal/web/dist/_app/immutable/nodes/5.BqIvqxSq.js
  internal/web/dist/_app/immutable/nodes/6.B0FPZRs6.js
  internal/web/dist/_app/immutable/nodes/6.i9Z93Jz7.js
  internal/web/dist/_app/immutable/nodes/7.B45iLVSp.js
  internal/web/dist/_app/immutable/nodes/7.zyYKFCIy.js
  internal/web/dist/_app/immutable/nodes/9.B-Ye-Yjs.js
  internal/web/dist/_app/immutable/nodes/9.CcysOFKU.js
  plugins/core-scenes/plugin.yaml
Due: lint-yaml

feat(scenes): SceneStore End/Pause/Resume with race-safe RETURNING
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scenes): SceneStore Update with partial-update handling
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

fix(scenes): address CodeRabbit review on PR #200 (13 findings)
  Taskfile.yaml
  docs/superpowers/specs/2026-04-06-scenes-and-rp-design-v2.md
  internal/web/dist/_app/immutable/chunks/BDOGW6Am.js
  internal/web/dist/_app/immutable/chunks/BEweHZ5A.js
  internal/web/dist/_app/immutable/entry/app.CA54Mtah.js
  internal/web/dist/_app/immutable/entry/app.DuPhPPnH.js
  internal/web/dist/_app/immutable/entry/start.BUHhJcta.js
  internal/web/dist/_app/immutable/entry/start.DYFiMdAk.js
  internal/web/dist/_app/immutable/nodes/0.DN6b3CMZ.js
  internal/web/dist/_app/immutable/nodes/0.zPX2412N.js
  internal/web/dist/_app/immutable/nodes/1.BgoYAtaF.js
  internal/web/dist/_app/immutable/nodes/1.CZT72lrW.js
  internal/web/dist/_app/immutable/nodes/3.B5N7yTaz.js
  internal/web/dist/_app/immutable/nodes/4.B6eRuXRP.js
  internal/web/dist/_app/immutable/nodes/5.BRMqq2km.js
  internal/web/dist/_app/immutable/nodes/6.BAvTddzN.js
  internal/web/dist/_app/immutable/nodes/6.DRVaOVLx.js
  internal/web/dist/_app/immutable/nodes/7.DbltHTED.js
  internal/web/dist/_app/immutable/nodes/7.f2CkNwIN.js
  internal/web/dist/_app/immutable/nodes/9.B08FKmQp.js
  internal/web/dist/_app/immutable/nodes/9.QtyWFlpx.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  pkg/plugin/validate_test.go
  plugins/core-scenes/migrations/000002_scene_state_check.up.sql
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store_integration_test.go
  test/integration/plugin/binary_plugin_test.go
  web/e2e/scenes.spec.ts
Due: lint-go, lint-yaml

fix(session): per-session cursor lock for deterministic Finding 1 closure (holomush-9ues)
  docs/plans/2026-04-07-cursor-lock-finding-1-closure.md
  internal/grpc/cursor_lock.go
  internal/grpc/cursor_lock_test.go
  internal/grpc/server.go
  internal/web/dist/_app/immutable/chunks/BEweHZ5A.js
  internal/web/dist/_app/immutable/chunks/Bk8S3q8n.js
  internal/web/dist/_app/immutable/entry/app.DuPhPPnH.js
  internal/web/dist/_app/immutable/entry/app.fqgex_at.js
  internal/web/dist/_app/immutable/entry/start.2xFGQjrM.js
  internal/web/dist/_app/immutable/entry/start.BUHhJcta.js
  internal/web/dist/_app/immutable/nodes/0.BKgV4ZP4.js
  internal/web/dist/_app/immutable/nodes/0.DN6b3CMZ.js
  internal/web/dist/_app/immutable/nodes/1.BgoYAtaF.js
  internal/web/dist/_app/immutable/nodes/1.C4nC4p4y.js
  internal/web/dist/_app/immutable/nodes/3.Do7OU9s0.js
  internal/web/dist/_app/immutable/nodes/4.icViIXyf.js
  internal/web/dist/_app/immutable/nodes/5.Bf5-aEWX.js
  internal/web/dist/_app/immutable/nodes/6.BAvTddzN.js
  internal/web/dist/_app/immutable/nodes/6.hy0gJ6Ew.js
  internal/web/dist/_app/immutable/nodes/7.Bu1wUaHj.js
  internal/web/dist/_app/immutable/nodes/7.f2CkNwIN.js
  internal/web/dist/_app/immutable/nodes/9.B08FKmQp.js
  internal/web/dist/_app/immutable/nodes/9.Ddl9rdc0.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

fix(session): per-session cursor lock for deterministic Finding 1 closure (#201)
  docs/plans/2026-04-07-cursor-lock-finding-1-closure.md
  internal/grpc/cursor_lock.go
  internal/grpc/cursor_lock_test.go
  internal/grpc/server.go
  internal/web/dist/_app/immutable/chunks/BEweHZ5A.js
  internal/web/dist/_app/immutable/chunks/Bk8S3q8n.js
  internal/web/dist/_app/immutable/entry/app.DuPhPPnH.js
  internal/web/dist/_app/immutable/entry/app.fqgex_at.js
  internal/web/dist/_app/immutable/entry/start.2xFGQjrM.js
  internal/web/dist/_app/immutable/entry/start.BUHhJcta.js
  internal/web/dist/_app/immutable/nodes/0.BKgV4ZP4.js
  internal/web/dist/_app/immutable/nodes/0.DN6b3CMZ.js
  internal/web/dist/_app/immutable/nodes/1.BgoYAtaF.js
  internal/web/dist/_app/immutable/nodes/1.C4nC4p4y.js
  internal/web/dist/_app/immutable/nodes/3.Do7OU9s0.js
  internal/web/dist/_app/immutable/nodes/4.icViIXyf.js
  internal/web/dist/_app/immutable/nodes/5.Bf5-aEWX.js
  internal/web/dist/_app/immutable/nodes/6.BAvTddzN.js
  internal/web/dist/_app/immutable/nodes/6.hy0gJ6Ew.js
  internal/web/dist/_app/immutable/nodes/7.Bu1wUaHj.js
  internal/web/dist/_app/immutable/nodes/7.f2CkNwIN.js
  internal/web/dist/_app/immutable/nodes/9.B08FKmQp.js
  internal/web/dist/_app/immutable/nodes/9.Ddl9rdc0.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

docs(audit): spec for source-agnostic audit subsystem rework
  docs/superpowers/specs/2026-04-07-audit-subsystem-rework-design.md
Due: none

docs(audit): implementation plan for audit subsystem rework
  docs/superpowers/plans/2026-04-07-audit-subsystem-rework.md
Due: none

refactor(audit): move package to internal/audit/
  internal/access/policy/engine.go
  internal/access/policy/engine_bench_test.go
  internal/access/policy/engine_test.go
  internal/access/setup/setup.go
  internal/access/setup/subsystem.go
  internal/audit/doc.go
  internal/audit/logger.go
  internal/audit/logger_test.go
  internal/audit/partition_creator.go
  internal/audit/partition_creator_test.go
  internal/audit/postgres.go
  internal/audit/retention.go
  internal/audit/retention_test.go
  internal/bootstrap/setup/subsystem.go
  test/integration/access/access_suite_test.go
  test/integration/access/evaluation_test.go
  test/integration/plugin/abac_widget_test.go
  test/integration/plugin/binary_plugin_test.go
Due: lint-go

refactor(audit): rename Entry to Event and PolicyID/PolicyName to ID/Name
  internal/access/policy/engine.go
  internal/access/policy/engine_bench_test.go
  internal/access/policy/engine_test.go
  internal/audit/doc.go
  internal/audit/logger.go
  internal/audit/logger_test.go
  internal/audit/postgres.go
  test/integration/access/access_suite_test.go
  test/integration/access/evaluation_test.go
  test/integration/plugin/abac_widget_test.go
Due: lint-go

feat(plugin): SDK audit recorder for binary plugin handlers
  pkg/plugin/audit.go
  pkg/plugin/audit_test.go
  pkg/plugin/command.go
  pkg/plugin/sdk.go
Due: lint-go

feat(audit): add RecordPluginAuditFailure metric
  internal/audit/plugin_metrics.go
  internal/audit/plugin_metrics_test.go
Due: lint-go

feat(plugin): Lua audit capability module
  internal/plugin/hostfunc/cap_audit.go
  internal/plugin/hostfunc/cap_audit_test.go
  internal/plugin/setup/subsystem.go
Due: lint-go, schema-sync

feat(audit): add EventSource defined type and constants
  internal/audit/source.go
  internal/audit/source_test.go
Due: lint-go

test(audit): integration tests for binary and Lua plugin emit paths
  test/integration/audit/audit_integration_test.go
Due: lint-go

feat(command): dispatcher-side audit hint collection and flush
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
Due: lint-go

feat(audit): add Source, Component, Message fields to Event
  internal/audit/doc.go
  internal/audit/logger.go
  internal/audit/logger_test.go
  internal/audit/postgres.go
Due: lint-go

feat(audit): schema migration for source/component/message columns
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000005_audit_source_component.down.sql
  internal/store/migrations/000005_audit_source_component.up.sql
  internal/store/migrations_audit_shape_integration_test.go
Due: lint-go

docs(audit): plugin author guide for emitting audit events
  site/docs/extending/audit-events.md
Due: lint-markdown-site, fmt-markdown-site

feat(plugin): add AuditDecisionHint proto and audit_hints field
  .task/checksum/proto
  api/proto/holomush/plugin/v1/plugin.proto
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go

feat(audit): context helpers for dispatch-scoped event accumulation
  internal/audit/context.go
  internal/audit/context_test.go
Due: lint-go

feat(audit): stamp Source and Component on engine audit events
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
Due: lint-go

style(audit): markdown and gofumpt fmt cleanup across the audit rework stack
  docs/superpowers/plans/2026-04-07-audit-subsystem-rework.md
  docs/superpowers/specs/2026-04-07-audit-subsystem-rework-design.md
  internal/audit/logger_test.go
  internal/command/dispatcher.go
  internal/plugin/hostfunc/cap_audit_test.go
Due: lint-go, schema-sync

fix: address CodeRabbit review findings on PR #203
  .task/checksum/proto
  api/proto/holomush/plugin/v1/plugin.proto
  docs/superpowers/specs/2026-04-07-audit-subsystem-rework-design.md
  internal/audit/logger.go
  internal/audit/plugin_metrics_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/hostfunc/cap_audit_test.go
  internal/store/migrations/000005_audit_source_component.down.sql
  internal/store/migrations/000005_audit_source_component.up.sql
  pkg/plugin/audit_test.go
  pkg/plugin/sdk.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  site/docs/extending/audit-events.md
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

test(audit): add unit tests for proto/SDK audit hint conversion
  internal/plugin/goplugin/host_audit_test.go
  pkg/plugin/sdk_adapter_test.go
Due: lint-go, schema-sync

test(taskfile): add -coverpkg=./... to test:cover and test:int
  Taskfile.yaml
Due: lint-yaml

fix(audit,plugin): address CodeRabbit follow-up findings on PR #203
  internal/audit/logger.go
  internal/audit/logger_test.go
  internal/plugin/goplugin/host.go
Due: lint-go, schema-sync

ci(codecov): wait for all coverage uploads before posting status
  .codecov.yml
Due: lint-yaml
