Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

feat(eventbus/codec): M2 — codec interface, IdentityCodec, closed registry with sync meta-test
  internal/eventbus/codec/codec.go
  internal/eventbus/codec/codec_test.go
  internal/eventbus/codec/registry.go
  internal/eventbus/codec/registry_test.go
Due: lint-go

fix(grpc): retain session row when EndSession fails on quit/boot/guest disconnect
  internal/auth/auth_service_test.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/dispatcher_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
  test/integration/session_lifecycle/ordering_integration_test.go
  test/integration/session_lifecycle/quit_regression_integration_test.go
Due: lint-go

feat(proto): M6 — eventbus envelope + PluginAuditService contract
  api/proto/holomush/eventbus/v1/eventbus.proto
  api/proto/holomush/plugin/v1/audit.proto
  pkg/proto/holomush/eventbus/v1/eventbus.pb.go
  pkg/proto/holomush/plugin/v1/audit.pb.go
  pkg/proto/holomush/plugin/v1/audit_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/audit.connect.go
  web/src/lib/connect/holomush/eventbus/v1/eventbus_pb.ts
  web/src/lib/connect/holomush/plugin/v1/audit_connect.ts
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
Due: lint-go

feat(store): M3 — add events_audit table for JetStream audit projection
  internal/store/events_audit_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000009_create_events_audit.down.sql
  internal/store/migrations/000009_create_events_audit.up.sql
Due: lint-go

test(integration): harden quit regression ctx-cancel race
  test/integration/session_lifecycle/quit_regression_integration_test.go
Due: lint-go

feat(store): M3 — add events_audit table for JetStream audit projection (#241)
  internal/store/events_audit_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000009_create_events_audit.down.sql
  internal/store/migrations/000009_create_events_audit.up.sql
Due: lint-go

feat(proto): M6 — eventbus envelope + PluginAuditService contract (#240)
  api/proto/holomush/eventbus/v1/eventbus.proto
  api/proto/holomush/plugin/v1/audit.proto
  pkg/proto/holomush/eventbus/v1/eventbus.pb.go
  pkg/proto/holomush/plugin/v1/audit.pb.go
  pkg/proto/holomush/plugin/v1/audit_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/audit.connect.go
  web/src/lib/connect/holomush/eventbus/v1/eventbus_pb.ts
  web/src/lib/connect/holomush/plugin/v1/audit_connect.ts
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
Due: lint-go

feat(eventbus/codec): M2 — codec interface, IdentityCodec, closed registry (#239)
  internal/eventbus/codec/codec.go
  internal/eventbus/codec/codec_test.go
  internal/eventbus/codec/registry.go
  internal/eventbus/codec/registry_test.go
Due: lint-go

fix: address CodeRabbit review findings
  internal/auth/auth_service.go
  internal/core/engine.go
  internal/core/engine_end_session.go
  internal/core/engine_end_session_ctx_test.go
  internal/core/engine_test.go
Due: lint-go

feat(eventbus): M1 — types, interfaces, errors, and lint guardrails
  .golangci.yaml
  internal/eventbus/bus.go
  internal/eventbus/bus_test.go
  internal/eventbus/errors.go
  internal/eventbus/errors_test.go
  internal/eventbus/types.go
  internal/eventbus/types_test.go
  renovate.json
Due: lint-go, lint-yaml

feat(eventbus): M1 — types, interfaces, errors, lint guardrails (#242)
  .golangci.yaml
  internal/eventbus/bus.go
  internal/eventbus/bus_test.go
  internal/eventbus/errors.go
  internal/eventbus/errors_test.go
  internal/eventbus/types.go
  internal/eventbus/types_test.go
  renovate.json
Due: lint-go, lint-yaml

feat(eventbus): M4 — SubsystemEventBus (embedded NATS, idle Phase A)
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/deps_test.go
  go.mod
  go.sum
  internal/eventbus/config.go
  internal/eventbus/eventbustest/embedded.go
  internal/eventbus/subsystem.go
  internal/eventbus/subsystem_test.go
  internal/lifecycle/subsystem.go
  internal/lifecycle/subsystemid_string.go
Due: lint-go

feat(eventbus): M4 — SubsystemEventBus (embedded NATS, idle Phase A) (#243)
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/deps_test.go
  go.mod
  go.sum
  internal/eventbus/config.go
  internal/eventbus/eventbustest/embedded.go
  internal/eventbus/subsystem.go
  internal/eventbus/subsystem_test.go
  internal/lifecycle/subsystem.go
  internal/lifecycle/subsystemid_string.go
Due: lint-go

feat(eventbus/audit): M5 — SubsystemAuditProjection (idle Phase A)
  Taskfile.yaml
  cmd/holomush/core.go
  internal/eventbus/audit/lag_metric.go
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_test.go
  internal/eventbus/audit/projection_unit_test.go
  internal/eventbus/audit/subsystem.go
  internal/eventbus/audit/subsystem_test.go
  internal/eventbus/bus_test.go
  internal/eventbus/codec/registry_test.go
  internal/eventbus/errors.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/hostfunc/stdlib_focus.go
  internal/plugin/hostfunc/stdlib_focus_test.go
  pkg/plugin/focus_client_test.go
  plugins/core-scenes/commands_test.go
Due: lint-go, lint-yaml, schema-sync

feat(eventbus/audit): M5 — SubsystemAuditProjection (idle Phase A) (#244)
  Taskfile.yaml
  cmd/holomush/core.go
  internal/eventbus/audit/lag_metric.go
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_test.go
  internal/eventbus/audit/projection_unit_test.go
  internal/eventbus/audit/subsystem.go
  internal/eventbus/audit/subsystem_test.go
  internal/eventbus/bus_test.go
  internal/eventbus/codec/registry_test.go
  internal/eventbus/errors.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/hostfunc/stdlib_focus.go
  internal/plugin/hostfunc/stdlib_focus_test.go
  pkg/plugin/focus_client_test.go
  plugins/core-scenes/commands_test.go
Due: lint-go, lint-yaml, schema-sync

feat(eventbus/telemetry): M7 — OTEL header propagation + Prom NATS exporter
  go.mod
  go.sum
  internal/eventbus/config.go
  internal/eventbus/subsystem.go
  internal/eventbus/subsystem_exporter_internal_test.go
  internal/eventbus/subsystem_test.go
  internal/eventbus/telemetry/otel.go
  internal/eventbus/telemetry/otel_test.go
  internal/eventbus/telemetry/prometheus.go
  internal/eventbus/telemetry/prometheus_test.go
Due: lint-go

feat(eventbus/telemetry): M7 — OTEL header propagation + Prom NATS exporter (#245)
  go.mod
  go.sum
  internal/eventbus/config.go
  internal/eventbus/subsystem.go
  internal/eventbus/subsystem_exporter_internal_test.go
  internal/eventbus/subsystem_test.go
  internal/eventbus/telemetry/otel.go
  internal/eventbus/telemetry/otel_test.go
  internal/eventbus/telemetry/prometheus.go
  internal/eventbus/telemetry/prometheus_test.go
Due: lint-go

docs(spec,plans): fix markdown lint (MD022, MD032)
  docs/superpowers/plans/2026-04-18-jetstream-eventbus-phase-b.md
  docs/superpowers/specs/2026-04-18-jetstream-event-log-design.md
Due: none

docs(spec): JetStream event log + PG audit projection design (#236)
  docs/superpowers/plans/2026-04-18-jetstream-eventbus-phase-a.md
  docs/superpowers/plans/2026-04-18-jetstream-eventbus-phase-b.md
  docs/superpowers/specs/2026-04-18-jetstream-event-log-design.md
Due: none

gitblobstore: checkandput manifest
  7cmmvsq926u4ar19q5c2lskomkfsfe2c
  manifest
Due: none

chore: beads updates, dolthub remote, shared beads server
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .claude/rules/beads-project.md
  .claude/settings.json
  .envrc
  CLAUDE.md
Due: lint-yaml
