Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

chore: fix agents md (#79)
  AGENTS.md
Due: none

docs(abac): Fix performance target contradiction in 01-core-types.md
  docs/specs/abac/01-core-types.md
Due: none

docs(abac): document minimal as alias for denials_only
  docs/specs/abac/05-storage-audit.md
  docs/specs/decisions/epic7/general/104-rename-audit-off-to-minimal.md
Due: none

ci: add SHA256 hash verification for dprint installation
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

fix(build): exclude site/ from root rumdl invocations in Taskfile
  Taskfile.yaml
Due: lint-yaml

docs(abac): mark policy lint --fix as deferred feature
  docs/specs/abac/02-policy-dsl.md
Due: none

docs(specs): add deferral annotation to Lock Syntax subsection
  docs/specs/abac/06-layers-commands.md
Due: none

fix(docs): correct ADR count from 95 to 93
  docs/specs/2026-02-05-full-abac-design-decisions.md
Due: none

docs(specs): document failsafe behavior for seed:property-owner-write
  docs/specs/2026-02-05-full-abac-design.md
Due: none

docs(specs): anchor microbenchmark targets to specific test scenarios
  docs/specs/2026-02-05-full-abac-design.md
Due: none

fix(docs): add missing T5→T13 dependency edge to phase 7.3 diagram
  docs/plans/2026-02-06-full-abac-implementation.md
  docs/specs/abac/01-core-types.md
Due: none

Revert "docs(specs): anchor microbenchmark targets to specific test scenarios"
  docs/specs/2026-02-05-full-abac-design.md
Due: none

fix(docs): add missing T0 dependency to Task 8 in Phase 7.2
  docs/plans/2026-02-06-full-abac-phase-7.2.md
Due: none

Revert "fix(docs): add missing T0 dependency to Task 8 in Phase 7.2"
  docs/plans/2026-02-06-full-abac-phase-7.2.md
Due: none

fix(docs): correct Task 6 to Task 5 in Phase 7.3 dependencies
  docs/plans/2026-02-06-full-abac-phase-7.3.md
Due: none

fix(docs): Correct Mermaid edges T14→T15/T16a to T13→T15/T16a
  docs/plans/2026-02-06-full-abac-implementation.md
Due: none

docs(plan): add T12→T18 cross-phase dependency edge
  docs/plans/2026-02-06-full-abac-implementation.md
Due: none

fix(docs): Correct critical path description for T14/T15 parallelism
  docs/plans/2026-02-06-full-abac-implementation.md
Due: none

docs(abac): update audit mode terminology in testing section
  docs/specs/abac/02-policy-dsl.md
  docs/specs/abac/08-testing-appendices.md
Due: none

docs(abac): add explanatory note for float64 hour/minute types
  docs/specs/2026-02-05-full-abac-design.md
Due: none

docs(specs): explain list_characters action in AccessRequest
  docs/specs/abac/01-core-types.md
Due: none

docs(abac): clarify policy reload during fail-closed state
  docs/specs/2026-02-05-full-abac-design.md
Due: none

docs(abac): Add deferral annotation to Phase 7.5 nav link in Phase 7.4
  docs/plans/2026-02-06-full-abac-phase-7.4.md
Due: none

security(actions): pin GitHub Actions to commit SHAs
  .github/workflows/ci.yaml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/release.yaml
  .github/workflows/site.yml
Due: lint-yaml, lint-actions

docs: fix markdown lint errors in ABAC documentation
  docs/plans/2026-02-06-full-abac-phase-7.2.md
  docs/plans/2026-02-06-full-abac-phase-7.5.md
  docs/specs/abac/05-storage-audit.md
  docs/specs/abac/06-layers-commands.md
  docs/specs/decisions/epic7/general/102-lefthook-markdown-autofix-intentional.md
  docs/specs/decisions/epic7/phase-7.1/098-import-cycle-check-t4a.md
  docs/specs/decisions/epic7/phase-7.7/052-async-audit-writes.md
Due: none

docs(abac): add ADRs 107-110 for PR #69 review decisions
  docs/specs/decisions/epic7/README.md
  docs/specs/decisions/epic7/general/108-t16b-mandatory-milestone-gate.md
  docs/specs/decisions/epic7/phase-7.2/110-grammar-version-in-t12.md
  docs/specs/decisions/epic7/phase-7.4/107-policy-reload-bypass-in-t31.md
  docs/specs/decisions/epic7/phase-7.4/109-dedicated-list-characters-policy.md
Due: none

fix(abac): resolve 6 P1 review bugs (Wave 1)
  docs/plans/2026-02-06-full-abac-implementation.md
  docs/plans/2026-02-06-full-abac-phase-7.2.md
  docs/plans/2026-02-06-full-abac-phase-7.3.md
  docs/plans/2026-02-06-full-abac-phase-7.5.md
  docs/plans/2026-02-06-full-abac-phase-7.7.md
  docs/specs/decisions/epic7/general/100-standardize-dependency-format.md
  docs/specs/decisions/epic7/general/102-lefthook-markdown-autofix-intentional.md
  docs/specs/decisions/epic7/phase-7.1/098-import-cycle-check-t4a.md
  docs/specs/decisions/epic7/phase-7.1/099-access-policy-engine-contract-tests.md
  docs/specs/decisions/epic7/phase-7.6/101-adr65-sufficient-for-rollback.md
Due: none

fix(abac): resolve 10 review bugs — diagram deps, acceptance criteria (Wave 2)
  docs/plans/2026-02-06-full-abac-implementation.md
  docs/plans/2026-02-06-full-abac-phase-7.2.md
  docs/plans/2026-02-06-full-abac-phase-7.3.md
  docs/plans/2026-02-06-full-abac-phase-7.7.md
Due: none

fix(abac): resolve 10 review bugs — diagram, ADR consistency, CI docs (Wave 3)
  .github/workflows/ci.yaml
  docs/plans/2026-02-06-full-abac-implementation.md
  docs/plans/2026-02-06-full-abac-phase-7.7.md
  docs/specs/decisions/epic7/README.md
  docs/specs/decisions/epic7/general/014-no-database-triggers.md
  docs/specs/decisions/epic7/general/057-adr-format-evolution.md
  docs/specs/decisions/epic7/general/086-audit-off-mode-logs-denials.md
  docs/specs/decisions/epic7/general/095-m5-milestone-gate-is-t28.md
  docs/specs/decisions/epic7/general/100-standardize-dependency-format.md
  docs/specs/decisions/epic7/general/102-lefthook-markdown-autofix-intentional.md
  docs/specs/decisions/epic7/phase-7.1/056-audit-off-mode-includes-system-bypasses.md
  docs/specs/decisions/epic7/phase-7.1/098-import-cycle-check-t4a.md
  docs/specs/decisions/epic7/phase-7.1/099-access-policy-engine-contract-tests.md
  docs/specs/decisions/epic7/phase-7.6/101-adr65-sufficient-for-rollback.md
Due: lint-yaml, lint-actions

docs(abac): finalize plan review fixes and deferred backlog gating
  docs/plans/2026-02-06-full-abac-implementation.md
  docs/plans/2026-02-06-full-abac-phase-7.2.md
  docs/plans/2026-02-06-full-abac-phase-7.4.md
  docs/plans/2026-02-06-full-abac-phase-7.7.md
Due: none

docs(abac): align degraded-mode recovery with Decision 96
  docs/plans/2026-02-06-full-abac-implementation.md
  docs/plans/2026-02-06-full-abac-phase-7.3.md
  docs/plans/2026-02-06-full-abac-phase-7.7.md
Due: none

docs(abac): fix remaining review blockers
  .github/workflows/ci.yaml
  docs/plans/2026-02-06-full-abac-phase-7.2.md
  docs/plans/2026-02-06-full-abac-phase-7.4.md
  docs/plans/2026-02-06-full-abac-phase-7.5.md
Due: lint-yaml, lint-actions

chore: beads ignore update
  .beads/.gitignore
Due: none

chore: beads CLAUDE update
  CLAUDE.md
Due: none

feat/updates (#80)
  .beads/.gitignore
  CLAUDE.md
Due: none

docs(abac): address PR69 final review findings
  docs/plans/2026-02-06-full-abac-implementation.md
  docs/plans/2026-02-06-full-abac-phase-7.1.md
  docs/plans/2026-02-06-full-abac-phase-7.4.md
  docs/specs/decisions/epic7/phase-7.1/099-access-policy-engine-contract-tests.md
Due: none

fix(lint): resolve markdown lint errors and update linter excludes
  CLAUDE.md
  Taskfile.yaml
  docs/adr/0009-custom-go-native-abac-engine.md
  docs/adr/0010-cedar-aligned-fail-safe-type-semantics.md
  docs/adr/0011-deny-overrides-without-priority.md
  docs/adr/0012-eager-attribute-resolution.md
  docs/adr/0013-properties-as-first-class-entities.md
  docs/adr/0014-direct-static-access-control-replacement.md
  docs/adr/0015-three-layer-player-access-control.md
  docs/adr/0016-listen-notify-policy-cache-invalidation.md
  docs/specs/abac/01-core-types.md
  docs/specs/abac/02-policy-dsl.md
  docs/specs/abac/03-property-model.md
  docs/specs/abac/04-resolution-evaluation.md
  docs/specs/abac/07-migration-seeds.md
  docs/specs/abac/08-testing-appendices.md
Due: lint-yaml

fix(lint): resolve markdown lint errors and update linter excludes (#81)
  CLAUDE.md
  Taskfile.yaml
  docs/adr/0009-custom-go-native-abac-engine.md
  docs/adr/0010-cedar-aligned-fail-safe-type-semantics.md
  docs/adr/0011-deny-overrides-without-priority.md
  docs/adr/0012-eager-attribute-resolution.md
  docs/adr/0013-properties-as-first-class-entities.md
  docs/adr/0014-direct-static-access-control-replacement.md
  docs/adr/0015-three-layer-player-access-control.md
  docs/adr/0016-listen-notify-policy-cache-invalidation.md
  docs/specs/abac/01-core-types.md
  docs/specs/abac/02-policy-dsl.md
  docs/specs/abac/03-property-model.md
  docs/specs/abac/04-resolution-evaluation.md
  docs/specs/abac/07-migration-seeds.md
  docs/specs/abac/08-testing-appendices.md
Due: lint-yaml

chore: remove beads
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
Due: lint-yaml
