Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

chore: more beads removal
  .beads/metadata.json
  .gitattributes
Due: none

feat/remove beads (#82)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/metadata.json
  .gitattributes
Due: lint-yaml

chore: beads dolt
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .gitattributes
  CLAUDE.md
Due: lint-yaml

chore: beads dolt (#83)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .gitattributes
  CLAUDE.md
Due: lint-yaml

feat(access): implement ABAC Phase 7.1 — policy schema, types, and store
  .golangci.yaml
  .mockery.yaml
  go.mod
  go.sum
  internal/access/context.go
  internal/access/context_test.go
  internal/access/policy/dsl/ast.go
  internal/access/policy/dsl/ast_spike_test.go
  internal/access/policy/prefix.go
  internal/access/policy/prefix_test.go
  internal/access/policy/store/postgres.go
  internal/access/policy/store/postgres_integration_test.go
  internal/access/policy/store/store.go
  internal/access/policy/store/store_test.go
  internal/access/policy/types/types.go
  internal/access/policy/types/types_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000015_access_policies.down.sql
  internal/store/migrations/000015_access_policies.up.sql
  internal/store/migrations/000016_access_audit_log.down.sql
  internal/store/migrations/000016_access_audit_log.up.sql
  internal/store/migrations/000017_entity_properties.down.sql
  internal/store/migrations/000017_entity_properties.up.sql
  internal/world/postgres/property_repo.go
  internal/world/postgres/property_repo_test.go
  internal/world/property.go
  internal/world/service.go
  internal/world/service_test.go
  internal/world/worldtest/mock_PropertyRepository.go
Due: lint-go, lint-yaml

fix(lint): resolve markdown lint errors in CLAUDE.md
  CLAUDE.md
Due: none

fix(access): address PR review findings
  internal/access/policy/prefix.go
  internal/access/policy/prefix_test.go
  internal/access/policy/types/types.go
  internal/access/policy/types/types_test.go
  internal/world/postgres/property_repo.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(access): address PR #84 review findings (round 2)
  internal/access/policy/store/postgres_integration_test.go
  internal/world/postgres/property_repo_test.go
  internal/world/property.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

feat(world): add transactional cascade delete and address PR #84 round 3
  internal/world/postgres/character_repo.go
  internal/world/postgres/helpers.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/object_repo.go
  internal/world/postgres/property_repo.go
  internal/world/postgres/transactor.go
  internal/world/postgres/transactor_test.go
  internal/world/property.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(access): address PR #84 round 4 — grammar_version validation and startup warnings
  internal/access/policy/store/postgres.go
  internal/access/policy/store/postgres_integration_test.go
  internal/access/policy/store/store_test.go
  internal/world/service.go
Due: lint-go

fix(access): address PR #84 round 5 — spec compliance fixes
  internal/access/policy/store/postgres.go
  internal/access/prefix.go
  internal/access/prefix_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(access): address PR #84 round 6 — empty AST validation and delete ordering
  internal/access/policy/store/postgres.go
  internal/access/policy/store/store_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

test(world): add integration tests for transactional cascade deletion
  internal/world/postgres/cascade_delete_test.go
Due: lint-go

fix(world): require PropertyRepo and Transactor for entity deletion
  internal/world/postgres/cascade_delete_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(access): address PR #84 round 8 — visibility validation and grammar_version
  internal/access/policy/dsl/ast.go
  internal/access/policy/dsl/ast_test.go
  internal/access/policy/store/postgres_integration_test.go
  internal/world/postgres/property_repo.go
  internal/world/postgres/property_repo_test.go
Due: lint-go

docs(spec): add ADR #111 for audit log composite PK partitioning
  docs/specs/decisions/epic7/phase-7.1/111-audit-log-composite-pk-partitioning.md
  internal/store/migrations/000016_access_audit_log.up.sql
Due: none

fix(world): normalize empty visibility slices to nil for non-restricted
  internal/world/postgres/property_repo.go
  internal/world/postgres/property_repo_test.go
Due: lint-go

fix(access): address PR #84 round 10 — grammar_version validation and CompilePolicy helper
  internal/access/policy/dsl/ast.go
  internal/access/policy/dsl/ast_test.go
  internal/access/policy/store/postgres.go
  internal/access/policy/store/store_test.go
Due: lint-go

fix(lint): resolve shadow and wrapcheck errors
  internal/access/policy/dsl/ast.go
  internal/world/service.go
Due: lint-go

fix(lint): resolve package name conflicts with Go stdlib
  cmd/gen-schema/main.go
  cmd/holomush/core.go
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
  cmd/holomush/status_test.go
  internal/control/grpc_server_test.go
  internal/grpc/client_test.go
  internal/grpc/server_test.go
  internal/plugin/communication_integration_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/goplugin/plugin.go
  internal/plugin/help_integration_test.go
  internal/plugin/host.go
  internal/plugin/hostfunc/stdlib.go
  internal/plugin/integration_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  internal/plugin/mocks/mock_EventEmitter.go
  internal/plugin/mocks/mock_Host.go
  internal/plugin/mocks/mock_ManagerOption.go
  internal/plugin/plugin_suite_test.go
  internal/plugin/schema.go
  internal/plugin/schema_test.go
  internal/plugin/subscriber.go
  internal/plugin/subscriber_test.go
  internal/tls/certs.go
  internal/tls/certs_test.go
  pkg/holo/emit.go
  pkg/holo/emit_test.go
  pkg/plugin/adapter_test.go
  pkg/plugin/event.go
  pkg/plugin/event_test.go
  pkg/plugin/sdk.go
  pkg/plugin/sdk_test.go
  test/integration/phase1_5_test.go
Due: lint-go, schema-sync

fix(test): correct manifest filename in tests
  internal/plugin/manager_test.go
Due: lint-go, schema-sync

feat(access): add full DSL AST node types with participle annotations
  internal/access/policy/dsl/ast.go
  internal/access/policy/dsl/ast_spike_test.go
  internal/access/policy/dsl/ast_string_test.go
Due: lint-go

feat(access): add DSL parser with full grammar support and validation
  internal/access/policy/dsl/ast.go
  internal/access/policy/dsl/ast_string_test.go
  internal/access/policy/dsl/parser.go
  internal/access/policy/dsl/parser_test.go
Due: lint-go

test(access): add DSL parser fuzz tests with comprehensive seed corpus
  Taskfile.yaml
  internal/access/policy/dsl/parser_fuzz_test.go
Due: lint-go, lint-yaml

feat(access): add DSL condition evaluator with Cedar fail-safe semantics
  internal/access/policy/dsl/evaluator.go
  internal/access/policy/dsl/evaluator_test.go
Due: lint-go

feat(access): add PolicyCompiler with validation and glob pre-compilation
  internal/access/policy/compiler.go
  internal/access/policy/compiler_test.go
  internal/access/policy/types/types.go
Due: lint-go

fix(access): pre-allocate warnings slice in compiler
  internal/access/policy/compiler.go
Due: lint-go

fix(access): fix bool literal parsing and wire glob cache into evaluator
  internal/access/policy/compiler.go
  internal/access/policy/compiler_test.go
  internal/access/policy/dsl/ast.go
  internal/access/policy/dsl/ast_string_test.go
  internal/access/policy/dsl/evaluator.go
  internal/access/policy/dsl/evaluator_test.go
  internal/access/policy/dsl/parser_test.go
Due: lint-go

fix(access): reset depthExceeded on reuse and reject empty contains paths
  internal/access/policy/dsl/evaluator.go
  internal/access/policy/dsl/evaluator_test.go
  internal/access/policy/dsl/parser.go
  internal/access/policy/dsl/parser_test.go
Due: lint-go

fix(access): validate full dotted attribute paths in compiler
  internal/access/policy/compiler.go
  internal/access/policy/compiler_test.go
Due: lint-go

feat(access): ABAC Phase 7.2 — DSL parser, evaluator, and compiler (#85)
  Taskfile.yaml
  internal/access/policy/compiler.go
  internal/access/policy/compiler_test.go
  internal/access/policy/dsl/ast.go
  internal/access/policy/dsl/ast_spike_test.go
  internal/access/policy/dsl/ast_string_test.go
  internal/access/policy/dsl/evaluator.go
  internal/access/policy/dsl/evaluator_test.go
  internal/access/policy/dsl/parser.go
  internal/access/policy/dsl/parser_fuzz_test.go
  internal/access/policy/dsl/parser_test.go
  internal/access/policy/types/types.go
Due: lint-go, lint-yaml

feat(access): ABAC Phase 7.3 Wave 1 — providers, cache, audit, command cleanup
  internal/access/permissions.go
  internal/access/permissions_test.go
  internal/access/policy/attribute/provider.go
  internal/access/policy/attribute/provider_test.go
  internal/access/policy/attribute/schema.go
  internal/access/policy/attribute/schema_test.go
  internal/access/policy/audit/doc.go
  internal/access/policy/audit/logger.go
  internal/access/policy/audit/logger_test.go
  internal/access/policy/audit/postgres.go
  internal/access/policy/cache.go
  internal/access/policy/cache_test.go
  internal/access/static_test.go
Due: lint-go

feat(access): ABAC Phase 7.3 Wave 2 — attribute resolver, providers, and retention
  internal/access/policy/attribute/cache.go
  internal/access/policy/attribute/character.go
  internal/access/policy/attribute/character_test.go
  internal/access/policy/attribute/command.go
  internal/access/policy/attribute/command_test.go
  internal/access/policy/attribute/environment.go
  internal/access/policy/attribute/environment_test.go
  internal/access/policy/attribute/exit.go
  internal/access/policy/attribute/exit_test.go
  internal/access/policy/attribute/helpers.go
  internal/access/policy/attribute/location.go
  internal/access/policy/attribute/location_test.go
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/access/policy/attribute/scene.go
  internal/access/policy/attribute/scene_test.go
  internal/access/policy/attribute/stream.go
  internal/access/policy/attribute/stream_test.go
  internal/access/policy/audit/retention.go
  internal/access/policy/audit/retention_test.go
Due: lint-go

feat(access): ABAC Phase 7.3 Wave 3 — property provider, engine scaffold, and session resolver
  internal/access/policy/attribute/property.go
  internal/access/policy/attribute/property_test.go
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/access/policy/audit/retention_test.go
  internal/access/policy/compiler.go
  internal/access/policy/dsl/ast.go
  internal/access/policy/dsl/evaluator_test.go
  internal/access/policy/dsl/parser.go
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
  internal/access/policy/session_resolver.go
  internal/access/policy/session_resolver_test.go
  internal/plugin/subscriber_test.go
Due: lint-go, schema-sync

feat(access): ABAC Phase 7.3 Wave 4 — target matching and policy filtering (T17.2)
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
Due: lint-go

feat(access): ABAC Phase 7.3 Wave 5 — DSL condition evaluation (T17.3)
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
Due: lint-go

feat(access): ABAC Phase 7.3 Wave 6 — deny-overrides combination and audit logging (T17.4)
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
Due: lint-go

feat(access): ABAC Phase 7.3 Wave 7 — Prometheus metrics and performance benchmarks (T20, T21)
  internal/access/policy/engine.go
  internal/access/policy/engine_bench_test.go
  internal/access/policy/metrics.go
  internal/access/policy/metrics_test.go
Due: lint-go

feat(access): ABAC T7b — AccessPolicyEngine contract tests
  internal/access/policy/engine.go
  internal/access/policy/engine_contract_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
