Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(02.2-fix): add the missing docs-quality audit row (INV-2 row-parity)
  docs/superpowers/sp5-docs-quality-audit.md
Due: none

test(02.2): complete UAT - 1 passed, 1 skipped, 0 issues
  .planning/phases/02.2-background-job-authorization-model/02.2-UAT.md
Due: none

docs(phase-02.2): add security threat verification
  .planning/phases/02.2-background-job-authorization-model/02.2-SECURITY.md
Due: none

chore(02.2): mark phase complete and transition to phase 03
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02.2-background-job-authorization-model/02.2-UAT.md
  .planning/phases/02.2-background-job-authorization-model/02.2-VERIFICATION.md
Due: none

test(03-01): add failing tests for RetireCharacter and CharacterRepository.SetStatus
  internal/access/policy/attribute/character_test.go
  internal/world/caller_test.go
  internal/world/mutator.go
  internal/world/postgres/character_repo.go
  internal/world/postgres/character_repo_status_test.go
  internal/world/repository.go
  internal/world/service.go
  internal/world/service_retire_test.go
  internal/world/worldtest/mock_CharacterRepository.go
Due: lint-go

feat(03-01): implement RetireCharacter through mutate() with the R1 guard chain
  internal/world/mutator.go
  internal/world/outbox/taxonomy.go
  internal/world/payloads.go
  internal/world/postgres/character_repo.go
  internal/world/service.go
Due: lint-go

test(03-01): add failing tests for UnretireCharacter and both lifecycle guards
  internal/world/mutator.go
  internal/world/service.go
  internal/world/service_retire_test.go
Due: lint-go

feat(03-01): implement UnretireCharacter and both lifecycle transition guards
  internal/world/outbox/taxonomy.go
  internal/world/service.go
Due: lint-go

test(03-01): add failing D-34 same-transaction default-character-clear tests
  internal/world/postgres/character_repo_status_integration_test.go
Due: lint-go

feat(03-01): clear players.default_character_id in the retire transaction (D-34)
  internal/world/postgres/character_repo.go
  test/meta/world_sql_fence_test.go
Due: lint-go

docs(03-01): complete world character retire/unretire commands plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-world-character-commands/03-01-SUMMARY.md
Due: none

test(03-02): add failing tests for the neutral consumer-create retry helper
  internal/eventbus/consumer/consumer.go
  internal/eventbus/consumer/consumer_test.go
Due: lint-go

refactor(03-02): relocate the consumer-create retry helper to a neutral package (D-46)
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_unit_test.go
  internal/eventbus/consumer/consumer.go
Due: lint-go

feat(03-02): add the retirement-reactor and character-activity subsystem skeletons
  internal/charactivity/subsystem.go
  internal/charactivity/subsystem_test.go
  internal/lifecycle/subsystem.go
  internal/lifecycle/subsystemid_string.go
  internal/retirement/subsystem.go
  internal/retirement/subsystem_test.go
Due: lint-go

feat(03-02): register the two new subsystems — the 18->20 composition cascade
  cmd/holomush/core.go
  cmd/holomush/core_subsystems_test.go
  cmd/holomush/core_topo_order_test.go
Due: lint-go

docs(03-02): complete shared substrate and subsystem cascade plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-world-character-commands/03-02-SUMMARY.md
Due: none

test(03-03): point the two-replica resilience harness at RetireCharacter
  .planning/phases/03-world-character-commands/deferred-items.md
  test/integration/resilience/retire_concurrency_test.go
Due: lint-go

test(03-03): prove retire's row+envelope atomicity and its name reservation
  .planning/phases/03-world-character-commands/deferred-items.md
  test/integration/world/character_lifecycle_test.go
  test/integration/world/character_retire_atomicity_test.go
Due: lint-go

docs(03-03): complete IDENT-10 verification plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-world-character-commands/03-03-SUMMARY.md
Due: none

test(03-04): add failing reactor spec for the retirement fanout
  internal/core/session_ended_payload.go
  internal/retirement/reactor.go
  internal/retirement/reactor_test.go
  internal/retirement/subsystem.go
Due: lint-go

feat(03-04): implement the retirement reactor fanout and its durable consumer
  internal/retirement/reactor.go
  internal/retirement/subsystem.go
  internal/retirement/subsystem_test.go
Due: lint-go

feat(03-04): land the retirement reactor's authorization surface
  cmd/holomush/core.go
  cmd/holomush/sub_grpc.go
  internal/access/policy/seed.go
  internal/access/policy/seed_profile_visibility_test.go
  internal/access/policy/seed_test.go
  internal/retirement/reactor.go
  internal/retirement/subsystem.go
  internal/retirement/subsystem_test.go
  test/integration/access/evaluation_test.go
Due: lint-go

docs(03-04): complete the retirement reactor plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/03-world-character-commands/03-04-SUMMARY.md
Due: none

test(03-05): add failing tests for the monotonic last_active_at writer
  internal/world/postgres/activity_integration_test.go
  internal/world/postgres/activity_test.go
Due: lint-go

feat(03-05): add the monotonic last_active_at writer at the world boundary
  internal/world/postgres/activity.go
Due: lint-go

test(03-05): add failing tests for the activity listener, KV buffer and flusher
  internal/charactivity/charactivity_test.go
  internal/charactivity/subsystem_test.go
Due: lint-go

feat(03-05): fill the character-activity listener, KV buffer and flusher
  cmd/holomush/core.go
  internal/charactivity/charactivity_test.go
  internal/charactivity/flusher.go
  internal/charactivity/listener.go
  internal/charactivity/subsystem.go
Due: lint-go

feat(03-05): amend INV-WORLD-4 THREE->FOUR and prove the flush end to end
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/options.go
  test/integration/charactivity/character_activity_flush_test.go
  test/integration/charactivity/charactivity_suite_test.go
Due: lint-go, lint-yaml

docs(03-05): complete the character activity buffer and flush plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-world-character-commands/03-05-SUMMARY.md
Due: none

feat(03-06): boot the real outbox relay and retirement reactor in the harness
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/options.go
  internal/testsupport/integrationtest/plugins.go
  internal/testsupport/integrationtest/real_abac.go
  internal/testsupport/integrationtest/real_abac_test.go
Due: lint-go

test(03-06): prove retirement observably effective end to end
  test/integration/retirement/retirement_reactor_test.go
  test/integration/retirement/retirement_suite_test.go
Due: lint-go

docs(03-06): complete full-stack retirement proof plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-world-character-commands/03-06-SUMMARY.md
Due: none

docs(03): curate abac-reviewer memory after the phase 03 access review
  .claude/agent-memory/abac-reviewer/MEMORY.md
Due: none

docs(03): add code review report
  .planning/phases/03-world-character-commands/03-REVIEW.md
Due: none

test(03): persist human verification items as UAT
  .planning/phases/03-world-character-commands/03-UAT.md
Due: none

docs(03): add phase verification report
  .planning/phases/03-world-character-commands/03-VERIFICATION.md
Due: none

fix(03): WR-05 correct AppSchemaVersion doc — it is not on the wire
  internal/world/outbox/taxonomy.go
Due: lint-go

fix(03): WR-01 gate the retirement reactor on the header before decoding
  internal/retirement/reactor.go
  internal/retirement/reactor_test.go
Due: lint-go

fix(03): WR-07 parse the aggregate subject positionally, not by last token
  internal/retirement/reactor.go
  internal/retirement/reactor_test.go
Due: lint-go

fix(03): WR-02 make Stop a real barrier via ConsumeContext.Closed()
  internal/charactivity/charactivity_test.go
  internal/charactivity/subsystem.go
  internal/retirement/reactor.go
  internal/retirement/subsystem.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
