Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(adr): capture 4 ADRs for the unified authed shell (holomush-q41kr)
  docs/adr/README.md
  docs/adr/holomush-828tt-persistent-authed-chrome-lives-shared-authed-layout-svelte-s.md
  docs/adr/holomush-8p5rx-mobile-navigation-uses-sheet-drawer-hosting-same-rail.md
  docs/adr/holomush-stds8-section-registry-is-single-source-nav-truth-rail-palette.md
  docs/adr/holomush-xhz3s-footer-content-uses-footerbridge-store-mirroring-composerbri.md
  docs/superpowers/plans/2026-06-20-unified-authed-shell.md
Due: none

docs(web): implementation plan for unified authed shell (holomush-q41kr)
  docs/superpowers/plans/2026-06-20-unified-authed-shell.md
Due: none

docs(web): spec for unified authed workspace shell (holomush-q41kr)
  docs/superpowers/specs/2026-06-20-unified-authed-shell-design.md
Due: none

docs: unified authed workspace shell — spec, plan, ADRs (holomush-q41kr) (#4479)
  docs/adr/README.md
  docs/adr/holomush-828tt-persistent-authed-chrome-lives-shared-authed-layout-svelte-s.md
  docs/adr/holomush-8p5rx-mobile-navigation-uses-sheet-drawer-hosting-same-rail.md
  docs/adr/holomush-stds8-section-registry-is-single-source-nav-truth-rail-palette.md
  docs/adr/holomush-xhz3s-footer-content-uses-footerbridge-store-mirroring-composerbri.md
  docs/superpowers/plans/2026-06-20-unified-authed-shell.md
  docs/superpowers/specs/2026-06-20-unified-authed-shell-design.md
Due: none

feat(web): section registry for the authed workspace shell (holomush-q41kr)
  web/src/lib/nav/sections.test.ts
  web/src/lib/nav/sections.ts
Due: none

feat(web): footerBridge store for shell-owned section footer (holomush-q41kr)
  web/src/lib/stores/footerBridge.test.ts
  web/src/lib/stores/footerBridge.ts
Due: none

feat(web): transient mobileNav store for drawer toggle (holomush-q41kr)
  web/src/lib/stores/mobileNavStore.test.ts
  web/src/lib/stores/mobileNavStore.ts
Due: none

feat(web): SectionRail — registry-driven, route-aware section switcher (holomush-q41kr)
  web/src/lib/components/shell/SectionRail.svelte
  web/src/lib/components/shell/SectionRail.svelte.test.ts
Due: none

feat(web): ShellFooter — persistent bar with section-filled slot + baseline (holomush-q41kr)
  web/src/lib/components/shell/ShellFooter.svelte
  web/src/lib/components/shell/ShellFooter.svelte.test.ts
Due: none

feat(web): shared (authed) shell — Rail + footer + mobile drawer; terminal uses it (holomush-q41kr)
  web/src/routes/(authed)/+layout.svelte
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

refactor(web): remove superseded Rail.svelte and vestigial RailView (holomush-q41kr)
  web/src/lib/components/terminal/Rail.svelte
  web/src/lib/stores/uiPrefsStore.test.ts
  web/src/lib/stores/uiPrefsStore.ts
Due: none

feat(web): relocate terminal hotkey bar into the shell footer via footerBridge (holomush-q41kr)
  web/src/lib/components/terminal/CommandInput.svelte
Due: none

feat(web): TopBar mobile drawer toggle; drop redundant Scenes icon (holomush-q41kr)
  web/src/lib/components/TopBar.svelte
Due: none

feat(web): palette go-to-section entries sourced from the registry (holomush-q41kr)
  web/src/lib/components/terminal/CommandPalette.svelte
Due: none

test(web): e2e for unified authed shell — frame, active state, palette nav, mobile drawer (holomush-q41kr)
  web/e2e/authed-shell.spec.ts
  web/e2e/helpers/fixtures.ts
  web/e2e/scenes.spec.ts
Due: none

fix(web): make SectionRail icon map exhaustive via SectionId (holomush-q41kr)
  web/src/lib/components/shell/SectionRail.svelte
  web/src/lib/nav/sections.ts
Due: none

style(web): group TopBar isAuthed derived with declarations, not mid-imports (holomush-q41kr)
  web/src/lib/components/TopBar.svelte
Due: none

style(web): SectionRail uses cn() for conditional classes + 12px chrome label (holomush-q41kr)
  web/e2e/authed-shell.spec.ts
  web/src/lib/components/shell/SectionRail.svelte
Due: none

feat(web): unified authed workspace shell (holomush-q41kr) (#4480)
  web/e2e/authed-shell.spec.ts
  web/e2e/helpers/fixtures.ts
  web/e2e/scenes.spec.ts
  web/src/lib/components/TopBar.svelte
  web/src/lib/components/shell/SectionRail.svelte
  web/src/lib/components/shell/SectionRail.svelte.test.ts
  web/src/lib/components/shell/ShellFooter.svelte
  web/src/lib/components/shell/ShellFooter.svelte.test.ts
  web/src/lib/components/terminal/CommandInput.svelte
  web/src/lib/components/terminal/CommandPalette.svelte
  web/src/lib/components/terminal/Rail.svelte
  web/src/lib/nav/sections.test.ts
  web/src/lib/nav/sections.ts
  web/src/lib/stores/footerBridge.test.ts
  web/src/lib/stores/footerBridge.ts
  web/src/lib/stores/mobileNavStore.test.ts
  web/src/lib/stores/mobileNavStore.ts
  web/src/lib/stores/uiPrefsStore.test.ts
  web/src/lib/stores/uiPrefsStore.ts
  web/src/routes/(authed)/+layout.svelte
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

fix(scenes): gate guests from the Scenes nav and scene commands (holomush-5rh.23)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/access/policy/attribute/character.go
  internal/access/policy/attribute/character_test.go
  internal/access/setup/setup.go
  plugins/core-scenes/plugin.yaml
  test/integration/plugin/binary_plugin_test.go
  web/e2e/negative-journeys.spec.ts
  web/e2e/scenes.spec.ts
  web/src/lib/components/shell/SectionRail.svelte
  web/src/lib/components/shell/SectionRail.svelte.test.ts
  web/src/lib/components/terminal/CommandPalette.svelte
  web/src/lib/components/terminal/CommandPalette.svelte.test.ts
  web/src/lib/nav/sections.test.ts
  web/src/lib/nav/sections.ts
  web/src/routes/(authed)/+layout.svelte
Due: lint-go, lint-yaml

fix(scenes): gate guests from the Scenes nav and scene commands (holomush-5rh.23) (#4481)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/access/policy/attribute/character.go
  internal/access/policy/attribute/character_test.go
  internal/access/setup/setup.go
  plugins/core-scenes/plugin.yaml
  test/integration/plugin/binary_plugin_test.go
  web/e2e/negative-journeys.spec.ts
  web/e2e/scenes.spec.ts
  web/src/lib/components/shell/SectionRail.svelte
  web/src/lib/components/shell/SectionRail.svelte.test.ts
  web/src/lib/components/terminal/CommandPalette.svelte
  web/src/lib/components/terminal/CommandPalette.svelte.test.ts
  web/src/lib/nav/sections.test.ts
  web/src/lib/nav/sections.ts
  web/src/routes/(authed)/+layout.svelte
Due: lint-go, lint-yaml

docs(scenes): host-side name-resolution design + plan + ADR (holomush-vdy2z / 5rh.25)
  .claude/rules/plugin-runtime-symmetry.md
  docs/adr/README.md
  docs/adr/holomush-sv1ei-resolve-scene-roster-names-host-side-via-facade-not-plugin.md
  docs/superpowers/plans/2026-06-20-scene-character-name-resolution.md
  docs/superpowers/specs/2026-06-20-scene-character-name-resolution-design.md
  internal/plugin/goplugin/host.go
Due: lint-go, schema-sync

feat(web): slide-in/out collapsible scene panels (holomush-5rh.29)
  web/e2e/scenes-panels.spec.ts
  web/src/lib/components/terminal/CommandPalette.svelte
  web/src/lib/hooks/mediaQuery.svelte.test.ts
  web/src/lib/hooks/mediaQuery.svelte.ts
  web/src/lib/stores/uiPrefsStore.test.ts
  web/src/lib/stores/uiPrefsStore.ts
  web/src/routes/(authed)/scenes/+page.svelte
  web/src/routes/+layout.svelte
Due: none

docs(scenes): host-side name-resolution design, plan + ADR (holomush-vdy2z) (#4483)
  .claude/rules/plugin-runtime-symmetry.md
  docs/adr/README.md
  docs/adr/holomush-sv1ei-resolve-scene-roster-names-host-side-via-facade-not-plugin.md
  docs/superpowers/plans/2026-06-20-scene-character-name-resolution.md
  docs/superpowers/specs/2026-06-20-scene-character-name-resolution-design.md
  internal/plugin/goplugin/host.go
Due: lint-go, schema-sync

feat(web): slide-in/out collapsible scene panels (holomush-5rh.29) (#4482)
  web/e2e/scenes-panels.spec.ts
  web/src/lib/components/terminal/CommandPalette.svelte
  web/src/lib/hooks/mediaQuery.svelte.test.ts
  web/src/lib/hooks/mediaQuery.svelte.ts
  web/src/lib/stores/uiPrefsStore.test.ts
  web/src/lib/stores/uiPrefsStore.ts
  web/src/routes/(authed)/scenes/+page.svelte
  web/src/routes/+layout.svelte
Due: none

test(scenes): integration coverage for cross-location name resolution (holomush-5rh.25)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/session.go
  test/integration/scenes/scene_name_resolution_test.go
Due: lint-go

feat(scenes): resolve roster display names in GetSceneForViewer (holomush-5rh.25)
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
Due: lint-go

feat(scenes): inject character name resolver into scene facade (holomush-5rh.25)
  cmd/holomush/sub_grpc.go
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
Due: lint-go

feat(scenes): stamp pose author display name into IC payload (holomush-5rh.25)
  internal/web/translate_test.go
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_emit_test.go
Due: lint-go

fix(scenes): address PR #4484 review findings (holomush-5rh.25)
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/grpc/sceneaccess_service_test.go
  plugins/core-scenes/commands.go
  test/integration/scenes/scene_name_resolution_test.go
Due: lint-go

test(scenes): table-drive pose author payload test (CodeRabbit, PR #4484)
  plugins/core-scenes/commands_emit_test.go
Due: lint-go

feat(scenes): host-side character name resolution — roster, pose-order, pose author (holomush-5rh.25) (#4484)
  .claude/agent-memory/code-reviewer/MEMORY.md
  cmd/holomush/sub_grpc.go
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/session.go
  internal/web/translate_test.go
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_emit_test.go
  test/integration/scenes/scene_name_resolution_test.go
Due: lint-go

test(cluster): serialize graceful-bye before synthetic heartbeat re-inject (holomush-o7k0p)
  internal/cluster/clustertest/harness.go
  internal/cluster/clustertest/harness_test.go
  internal/eventbus/crypto/invalidation/coordinator_send_test.go
Due: lint-go

test(e2e): gate multi-tab scenes spec on tab-2 focus drain, not a timeout (holomush-mwmzt)
  web/e2e/scenes.spec.ts
Due: none

test(cluster): serialize graceful-bye before synthetic heartbeat re-inject (holomush-o7k0p) (#4485)
  internal/cluster/clustertest/harness.go
  internal/cluster/clustertest/harness_test.go
  internal/eventbus/crypto/invalidation/coordinator_send_test.go
Due: lint-go

test(e2e): gate multi-tab scenes spec on tab-2 focus drain, not a timeout (holomush-mwmzt) (#4486)
  web/e2e/scenes.spec.ts
Due: none

refactor(web): migrate scene BFF handlers to errutil.LogErrorContext (holomush-nuvzp)
  internal/web/scene_handlers.go
  internal/web/scene_handlers_logging_test.go
Due: lint-go

refactor(web): migrate scene BFF handlers to errutil.LogErrorContext (holomush-nuvzp) (#4488)
  internal/web/scene_handlers.go
  internal/web/scene_handlers_logging_test.go
Due: lint-go

fix(test): share one Postgres container across internal/store integration tests (holomush-gf6tp)
  internal/store/migrate_plugins_integration_test.go
  internal/store/migrations_test.go
  internal/store/plugin_repo_test.go
  internal/store/role_store_integration_test.go
  internal/store/session_store_integration_test.go
  internal/store/testhelpers_test.go
Due: lint-go

refactor(web): migrate auth + core BFF handlers to errutil.LogErrorContext (holomush-zk39g)
  internal/web/auth_handlers.go
  internal/web/auth_handlers_logging_test.go
  internal/web/handler.go
  internal/web/handler_logging_test.go
Due: lint-go
