Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(logging): SetupWithBridge tees stderr + OTel bridge (holomush-zgtqo.5)
  internal/logging/handler.go
  internal/logging/handler_test.go
Due: lint-go

test(telemetry,logging): INV-L1 import guard + INV-META meta-test (holomush-zgtqo.10)
  internal/config/logging_config_test.go
  internal/logging/handler_test.go
  internal/logging/import_guard_test.go
  internal/telemetry/invariants_meta_test.go
  internal/telemetry/invariants_test.go
  internal/telemetry/logexport_test.go
  internal/telemetry/logfilter_test.go
  internal/telemetry/provider_log_test.go
Due: lint-go

fix(observability): bind --log-* flags + bridge floor = min(enabled sinks)
  .claude/agent-memory/code-reviewer/MEMORY.md
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/gateway.go
  internal/logging/handler.go
  internal/logging/import_guard_test.go
  internal/telemetry/invariants_test.go
  internal/telemetry/logexport.go
  internal/telemetry/logfilter.go
  internal/telemetry/logsmoke_test.go
  internal/telemetry/provider.go
Due: lint-go

feat(telemetry): add OTel log SDK deps + API smoke test (holomush-zgtqo.1)
  go.mod
  go.sum
  internal/telemetry/logsmoke_test.go
Due: lint-go

feat(logging): fanout handler + per-sink level gate (holomush-zgtqo.4)
  internal/logging/fanout_test.go
  internal/logging/handler.go
Due: lint-go

docs(operating): OTel-native application-log surfacing (holomush-zgtqo.11)
  site/docs/operating/sentry.md
Due: lint-markdown-site, fmt-markdown-site

feat(telemetry): Sentry OTLP-logs endpoint derivation + log exporters (holomush-zgtqo.2)
  internal/telemetry/logexport.go
  internal/telemetry/logexport_test.go
  internal/telemetry/logsmoke_test.go
Due: lint-go

feat(cmd): two-phase logger init + per-sink log flags (holomush-zgtqo.8)
  cmd/holomush/admin_authenticate_e2e_test.go
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/deps_test.go
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
  internal/config/logging_config_test.go
  internal/logging/handler.go
  internal/logging/handler_test.go
  internal/telemetry/logexport.go
  internal/telemetry/logfilter_test.go
  internal/telemetry/logsmoke_test.go
Due: lint-go

feat(telemetry): per-sink LevelFilter log processor (holomush-zgtqo.3)
  internal/telemetry/logfilter.go
  internal/telemetry/logfilter_test.go
Due: lint-go

feat(telemetry): build LoggerProvider in Init; return Result (holomush-zgtqo.7)
  internal/telemetry/logexport.go
  internal/telemetry/provider.go
  internal/telemetry/provider_log_test.go
  internal/telemetry/provider_test.go
Due: lint-go

fix(store): clamp out-of-range/infinity timestamps in gfo6 ns-migrations (holomush-0b3ec) (#4238)
  docs/superpowers/specs/2026-05-22-nanosecond-timestamps-design.md
  internal/store/migrate_clamp_integration_test.go
  internal/store/migrations/000038_eventbus_crypto_timestamps_to_bigint.up.sql
  internal/store/migrations/000041_auth_timestamps_to_bigint.up.sql
  internal/store/migrations/000042_world_timestamps_to_bigint.up.sql
  internal/store/migrations/000043_totp_misc_timestamps_to_bigint.up.sql
  internal/store/migrations/000044_pregfo6_gap_timestamps_to_bigint.up.sql
  internal/store/spec_meta_test.go
Due: lint-go

fix+test(observability): CodeRabbit feedback + raise patch coverage
  cmd/holomush/core.go
  cmd/holomush/gateway.go
  internal/config/config_test.go
  internal/config/logging_config_test.go
  internal/logging/fanout_test.go
  internal/logging/handler.go
  internal/logging/import_guard_test.go
  internal/telemetry/logexport_test.go
  internal/telemetry/logfilter_test.go
  internal/telemetry/provider_log_test.go
  internal/telemetry/provider_test.go
Due: lint-go

feat(observability): OTel-native application-log surfacing (holomush-zgtqo) (#4239)
  .claude/agent-memory/code-reviewer/MEMORY.md
  cmd/holomush/admin_authenticate_e2e_test.go
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/deps_test.go
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
  docker/otel-collector/config.yaml
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/config/logging_config_test.go
  internal/logging/fanout_test.go
  internal/logging/handler.go
  internal/logging/handler_test.go
  internal/logging/import_guard_test.go
  internal/telemetry/invariants_meta_test.go
  internal/telemetry/invariants_test.go
  internal/telemetry/logexport.go
  internal/telemetry/logexport_test.go
  internal/telemetry/logfilter.go
  internal/telemetry/logfilter_test.go
  internal/telemetry/logsmoke_test.go
  internal/telemetry/provider.go
  internal/telemetry/provider_log_test.go
  internal/telemetry/provider_test.go
  site/docs/operating/sentry.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

fix(web): split CSP so SvelteKit inline bootstrap is hash-allowed (holomush-11ape)
  internal/web/security_headers.go
  internal/web/security_headers_test.go
  web/svelte.config.js
Due: lint-go

fix(web): split CSP so SvelteKit inline bootstrap is hash-allowed (holomush-11ape) (#4242)
  internal/web/security_headers.go
  internal/web/security_headers_test.go
  web/svelte.config.js
Due: lint-go

docs(observability): sloglint Tier-C logging policy — design spec + implementation plan (holomush-ow4ix)
  docs/superpowers/plans/2026-05-24-sloglint-tier-c-policy.md
  docs/superpowers/specs/2026-05-24-logging-discipline-policy-design.md
Due: none

docs(observability): sloglint Tier C logging policy — spec + plan (holomush-ow4ix) (#4244)
  docs/superpowers/plans/2026-05-24-sloglint-tier-c-policy.md
  docs/superpowers/specs/2026-05-24-logging-discipline-policy-design.md
Due: none

feat(telemetry): default Sentry log sink to WARN
  cmd/holomush/core.go
  docs/superpowers/specs/2026-05-23-otel-native-log-surfacing-design.md
  internal/config/config.go
  internal/config/logging_config_test.go
  site/docs/operating/sentry.md
Due: lint-go, lint-markdown-site, fmt-markdown-site

feat(telemetry): default Sentry log sink to WARN (#4245)
  cmd/holomush/core.go
  docs/superpowers/specs/2026-05-23-otel-native-log-surfacing-design.md
  internal/config/config.go
  internal/config/logging_config_test.go
  site/docs/operating/sentry.md
Due: lint-go, lint-markdown-site, fmt-markdown-site

feat(testsupport): add sessiontest.NewStore helper (holomush-9mxr)
  internal/testsupport/sessiontest/store.go
  internal/testsupport/sessiontest/store_test.go
Due: lint-go

test(store): add INV-M-3 coverage for AddConnection client_type rejection (holomush-9mxr)
  internal/store/session_store.go
  internal/store/session_store_test.go
Due: lint-go

refactor: convert session.Store tests from MemStore to real Postgres (holomush-9mxr)
  internal/command/handlers/plugin_admin_test.go
  internal/command/handlers/resetpassword_test.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/dispatcher_test.go
  internal/grpc/focus/coordinator_test.go
  internal/grpc/focus/leave_by_target_test.go
  internal/grpc/focus/prefs_test.go
  internal/grpc/focus/restore_test.go
  internal/grpc/list_focus_presence_test.go
  internal/grpc/location_follow_test.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/server_helpers_test.go
  internal/grpc/subscribe_loop_test.go
  internal/grpc/test_helpers_test.go
  internal/session/reaper_test.go
  internal/store/session_store.go
  internal/testsupport/sessiontest/store.go
  test/integration/phase1_5_test.go
  test/integration/scenes/auto_focus_on_join_terminal_only_test.go
  test/integration/scenes/focus_without_membership_blocked_test.go
  test/integration/scenes/reconnect_focus_restoration_test.go
Due: lint-go

chore(session): delete MemStore (holomush-9mxr)
  internal/auth/session_ownership.go
  internal/auth/session_ownership_test.go
  internal/command/handlers/resetpassword_test.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/focus/is_any_conn_focused.go
  internal/grpc/list_focus_presence_test.go
  internal/grpc/test_helpers_test.go
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/session/session.go
  internal/store/session_store.go
  internal/test/invariants/inv_p5_coverage_meta_test.go
  internal/testsupport/sessiontest/store.go
  test/integration/session/session_list_active_by_location_test.go
Due: lint-go

docs: note Docker requirement for session-store unit tests (holomush-9mxr)
  CLAUDE.md
  site/docs/contributing/integration-tests.md
Due: lint-markdown-site, fmt-markdown-site

test(grpc): consolidate auth_handlers tests via table-driven patterns (holomush-9mxr)
  internal/grpc/auth_handlers_test.go
Due: lint-go

refactor(command,grpc): structured-log discipline (holomush-ow4ix)
  internal/command/access.go
  internal/command/handlers/shutdown.go
  internal/command/types.go
  internal/grpc/auth_handlers.go
  internal/grpc/list_session_streams.go
  internal/grpc/server.go
Due: lint-go

refactor(plugin): structured-log discipline in plugin setup/lua/goplugin (holomush-ow4ix)
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/lua/host.go
  internal/plugin/setup/subsystem.go
Due: lint-go, schema-sync

feat(lint): enable sloglint Tier C + config-guard test (holomush-ow4ix)
  .golangci.yaml
  internal/logging/sloglint_policy_test.go
  pkg/errutil/log.go
Due: lint-go, lint-yaml

refactor(telnet): adopt context-carrying slog variants in internal/telnet (holomush-ow4ix)
  internal/telnet/gateway_handler.go
Due: lint-go

refactor(eventbus,admin,telemetry): context-carrying slog variants (holomush-ow4ix)
  internal/admin/socket/server.go
  internal/admin/socket/subsystem.go
  internal/control/grpc_server.go
  internal/eventbus/audit/chain/verifier_subsystem.go
  internal/eventbus/crypto/dek/sweep.go
  internal/eventbus/crypto/invalidation/coordinator.go
  internal/eventbus/history/source/fallback.go
  internal/observability/server.go
  internal/session/setup/subsystem.go
  internal/telemetry/provider.go
Due: lint-go

refactor(hostfunc): structured-log discipline in plugin hostfunc (holomush-ow4ix)
  internal/plugin/hostfunc/adapter.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/helpers.go
Due: lint-go, schema-sync

refactor(access): adopt context-carrying slog variants in access (holomush-ow4ix)
  internal/access/policy/bootstrap.go
  internal/access/setup/setup.go
  internal/access/setup/subsystem.go
Due: lint-go

refactor(cmd): adopt context-carrying slog variants in cmd/holomush (holomush-ow4ix)
  cmd/holomush/cert_poll.go
  cmd/holomush/core.go
  cmd/holomush/crypto_operator_validation.go
  cmd/holomush/crypto_rekey_wiring.go
  cmd/holomush/gateway.go
  cmd/holomush/sub_grpc.go
Due: lint-go

refactor(web): adopt context-carrying slog variants in internal/web (holomush-ow4ix)
  internal/web/auth_handlers.go
  internal/web/handler.go
  internal/web/sentry_relay.go
Due: lint-go

refactor(audit): structured-log discipline + drop reserved source key (holomush-ow4ix)
  internal/admin/totp_audit/auditing.go
  internal/audit/logger.go
  internal/audit/postgres.go
  internal/audit/retention.go
Due: lint-go

docs(logging): mark sloglint Tier C enforcement active (holomush-ow4ix)
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/rules/logging.md
  CLAUDE.md
  internal/auth/guest_service.go
  internal/auth/registration.go
  internal/auth/reset_service.go
  internal/bootstrap/admin.go
  internal/cluster/heartbeat.go
  internal/cluster/pill.go
  internal/cluster/probe_pill.go
  internal/control/grpc_server.go
  internal/eventbus/crypto/invalidation/coordinator.go
  internal/lifecycle/orchestrator.go
  internal/plugin/manager.go
  internal/telemetry/provider.go
  internal/web/handler.go
Due: lint-go, schema-sync

refactor(cluster,auth): adopt context-carrying slog variants (holomush-ow4ix)
  internal/auth/guest_service.go
  internal/auth/registration.go
  internal/auth/reset_service.go
  internal/auth/setup/subsystem.go
  internal/cluster/heartbeat.go
  internal/cluster/pill.go
  internal/cluster/probe_pill.go
Due: lint-go

refactor(bootstrap,world,store,lifecycle): context-carrying slog variants (holomush-ow4ix)
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/bootstrap/admin.go
  internal/bootstrap/setup/subsystem.go
  internal/lifecycle/orchestrator.go
  internal/store/alias.go
  internal/store/role_resolver.go
  internal/store/subsystem.go
  internal/world/events.go
  internal/world/service.go
  internal/world/setup/subsystem.go
Due: lint-go

refactor(plugin): adopt context-carrying slog variants in internal/plugin (holomush-ow4ix)
  internal/plugin/manager.go
  internal/plugin/policy_installer.go
  internal/plugin/schema_provisioner.go
Due: lint-go, schema-sync

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
