Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

fix(grpc): apply CodeRabbit review fixes (PR #4595)
  cmd/holomush/sub_grpc.go
  internal/grpc/scene_mute_cache.go
  internal/grpc/scene_mute_cache_test.go
  internal/grpc/stream_registry.go
  internal/grpc/stream_registry_test.go
Due: lint-go

docs(planning): archive beads export, triage all live beads, consolidate GSD backlog
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/dolt-backup-state.json
  .beads/dolt-backup.json
  .beads/drain-gfo6-goal-prompt.txt
  .beads/formulas/formula-drain.formula.toml
  .beads/interactions.jsonl
  .claude/agent-memory/bead-auditor/MEMORY.md
  .claude/agents/bead-auditor.md
  .claude/hooks/enforce-bd-beads-dir.sh
  .claude/rules/beads-project.md
  .claude/skills/drain-pane/SKILL.md
  .claude/skills/holomush-dev/skills/audit-beads/SKILL.md
  .gitattributes
  .planning/ROADMAP.md
  .planning/archive/beads/2026-07-09-beads-export-full.jsonl.gz
  .planning/archive/beads/2026-07-09-beads-live.jsonl
  .planning/archive/beads/README.md
  .planning/archive/beads/TRIAGE.md
  .planning/intel/context.md
  .planning/intel/ingest-manifest.yaml
  .planning/phases/999.1-web-client-portal-completion/README.md
  .planning/phases/999.10-code-health-test-quality-program/README.md
  .planning/phases/999.11-invariant-registry-backfill-program/README.md
  .planning/phases/999.12-observability-vendor-neutral-telemetry/README.md
  .planning/phases/999.13-ops-deployment-resilience/README.md
  .planning/phases/999.14-platform-security-design-seeds/README.md
  .planning/phases/999.15-documentation-program/README.md
  .planning/phases/999.16-feature-wishlist/README.md
  .planning/phases/999.17-ios-client-stretch/README.md
  .planning/phases/999.2-channels-remaining-scope/README.md
  .planning/phases/999.3-scenes-rp-remaining-scope/README.md
  .planning/phases/999.4-forums/README.md
  .planning/phases/999.5-discord-integration/README.md
  .planning/phases/999.6-character-rostering-transfer/README.md
  .planning/phases/999.7-inventory-object-manipulation/README.md
  .planning/phases/999.8-admin-web-ui-config/README.md
  .planning/phases/999.9-architecture-decomposition-program/README.md
  scripts/adr-migrate.py
Due: lint-yaml

chore: retire beads (bd) issue tracker in favor of GitHub Issues + GSD
  .claude/agents/abac-reviewer.md
  .claude/agents/adr-extractor.md
  .claude/agents/branch-readiness-check.md
  .claude/hooks/enforce-task-runner.sh
  .claude/hooks/remind-pre-action-review.sh
  .claude/hooks/session-reminder.sh
  .claude/rules/invariants.md
  .claude/rules/landing-the-plane.md
  .claude/rules/proto-doc-comments.md
  .claude/rules/subagent-briefing.md
  .claude/rules/testing.md
  .claude/settings.json
  .claude/skills/bug-triage/SKILL.md
  .claude/skills/capture-adrs/SKILL.md
  .claude/skills/holomush-dev/scripts/release_notes_collect.py
  .claude/skills/holomush-dev/skills/landing-sequence/SKILL.md
  .claude/skills/holomush-dev/skills/release-notes/SKILL.md
  .claude/skills/holomush-dev/skills/spawn-workspace/SKILL.md
  .gitignore
  .rumdl.toml
  .yamlfmt
  CLAUDE.md
  README.md
  Taskfile.yaml
  docs/CLAUDE.md
  docs/roadmap.md
  dprint.json
  scripts/adr-doctor.sh
  scripts/quarantine-audit.sh
  site/src/content/docs/contributing/how-to/proto-doc-comments.md
  site/src/content/docs/contributing/how-to/quarantine.md
  site/src/content/docs/contributing/how-to/sessions.md
  site/src/content/docs/contributing/index.mdx
  site/src/content/docs/contributing/reference/docs-style-guide.md
  test/quarantine.yaml
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

fix(ci): align release-notes tests with renamed collector headings
  .claude/skills/holomush-dev/scripts/tests/test_release_notes.py
Due: none

fix: apply CodeRabbit review fixes (11 threads)
  .claude/agents/abac-reviewer.md
  .claude/rules/invariants.md
  .claude/skills/bug-triage/SKILL.md
  .claude/skills/capture-adrs/SKILL.md
  .claude/skills/holomush-dev/skills/landing-sequence/SKILL.md
  .planning/archive/beads/README.md
  .planning/archive/beads/TRIAGE.md
  .planning/intel/context.md
  scripts/quarantine-audit.sh
  site/src/content/docs/contributing/reference/integration-test-harness.md
Due: lint-markdown-site, fmt-markdown-site

docs(03): capture phase context
  .planning/phases/03-platform-hardening-deployment-scaling/03-CONTEXT.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-DISCUSSION-LOG.md
Due: none

docs(state): record phase 3 context session
  .planning/STATE.md
Due: none

docs(03): add phase research + validation strategy
  .planning/phases/03-platform-hardening-deployment-scaling/03-RESEARCH.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-VALIDATION.md
Due: none

docs(03): add pattern map
  .planning/phases/03-platform-hardening-deployment-scaling/03-PATTERNS.md
Due: none

docs(03): create phase plan — platform hardening & deployment scaling
  .planning/ROADMAP.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-01-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-02-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-03-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-04-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-05-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-06-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-07-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-08-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-09-PLAN.md
Due: none

docs(03): revise phase plans per plan-checker (W1 CI-backed scoping proof, W2 exit-code verify)
  .planning/phases/03-platform-hardening-deployment-scaling/03-01-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-05-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-06-PLAN.md
Due: none

docs(03): normalize D-06/D-13 decision bullets + cite D-05 for coverage gate
  .planning/phases/03-platform-hardening-deployment-scaling/03-05-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-08-PLAN.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-CONTEXT.md
Due: none

docs(03): create phase plan
  .planning/STATE.md
Due: none

feat(03-01): reconcile eventbus mode vocabulary + add TLS/provision/DLQ config surface
  internal/eventbus/config.go
  internal/eventbus/config_test.go
  internal/eventbus/subsystem_test.go
Due: lint-go

feat(03-01): wire fail-closed Config.Validate() into core boot
  cmd/holomush/core.go
  internal/eventbus/config_test.go
Due: lint-go

docs(03-01): complete external-mode config vocabulary plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-01-SUMMARY.md
Due: none

feat(03-02): add external-NATS testcontainer harness with per-replica conns
  internal/testsupport/natstest/nats.go
  internal/testsupport/natstest/nats_test.go
Due: lint-go

docs(03-02): amend test-tier rule for external-NATS harness (D-06)
  .claude/rules/testing.md
  .golangci.yaml
  CLAUDE.md
Due: lint-yaml

docs(03-02): complete external-NATS integration substrate plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-02-SUMMARY.md
Due: none

docs(03): tick 03-02 in ROADMAP after wave 1
  .planning/ROADMAP.md
Due: none

feat(03-03): add external-mode connect() switch + dial helper + exporter guard
  internal/eventbus/natsdial.go
  internal/eventbus/subsystem.go
  internal/eventbus/subsystem_external_test.go
Due: lint-go

feat(03-03): add provision:false verify-or-fail seam + external-boot integration proof
  internal/eventbus/subsystem.go
  test/integration/eventbus_external/external_boot_test.go
Due: lint-go

docs(03-03): complete external-mode connect branch plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-03-SUMMARY.md
Due: none

feat(03-04): add reusable audit DLQ capture helper + bounded-stream config
  internal/eventbus/audit/dlq.go
  internal/eventbus/audit/dlq_test.go
  internal/eventbus/audit/lag_metric.go
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/subsystem.go
Due: lint-go

feat(03-04): capture audit poison to DLQ on final attempt (Term/Nak)
  cmd/holomush/core.go
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_dlq_unit_test.go
Due: lint-go

test(03-04): real-broker DLQ capture + never-drop proof (INV-EVENTBUS-30)
  internal/eventbus/audit/dlq_capture_integration_test.go
  internal/eventbus/audit/dlq_neverdrop_integration_test.go
Due: lint-go

style(03-04): drop redundant nats.Header conversion (unconvert)
  internal/eventbus/audit/dlq_test.go
Due: lint-go

docs(03-04): complete audit DLQ capture plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-04-SUMMARY.md
Due: none

feat(03-06): ship deploy/nats account-scoping template + verify script + nsc walkthrough
  deploy/nats/README.md
  deploy/nats/holomush-server.account.conf
  deploy/nats/verify-scoping.sh
Due: none

feat(03-06): boot-time single-principal scope self-check (external mode)
  cmd/holomush/core.go
  internal/eventbus/scopecheck.go
  internal/eventbus/scopecheck_test.go
Due: lint-go

test(03-06): CI-backed both-sides scoping proof against shipped deploy/nats account
  internal/eventbus/scopecheck.go
  test/integration/eventbus_external/scopecheck_test.go
Due: lint-go

docs(03-06): complete single-principal account scoping plan (CLUSTER-02)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-06-SUMMARY.md
Due: none

test(03-05): rebind crypto invalidation to per-replica external NATS conns
  internal/cluster/clustertest/external.go
  test/integration/crypto/cache_invalidation_test.go
Due: lint-go

test(03-05): prove cluster_id filtering over per-replica external conns
  test/integration/cluster/cluster_test.go
Due: lint-go

docs(03-05): bind cluster invariants + mint external-boot/DLQ guarantees
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

style(03-05): yamlfmt-normalize invariants.yaml registry edits
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(03-05): complete multi-node crypto invalidation + invariant capstone plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-platform-hardening-deployment-scaling/03-05-SUMMARY.md
Due: none
