Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(05-13): downgrade false event-sourcing claim to decided model
  CLAUDE.md
  README.md
  site/src/content/docs/contributing/explanation/architecture.md
  site/src/content/docs/contributing/reference/coding-standards.md
Due: lint-markdown-site, fmt-markdown-site

test(05-13): add doc-claim meta-test guarding the MODEL-02 correction
  test/meta/world_model_doc_claim_test.go
Due: lint-go

docs(05-13): add MODEL-02 doc-downgrade plan summary
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-13-SUMMARY.md
Due: none

docs(05-13): complete MODEL-02 doc-downgrade plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(phase-05): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-VERIFICATION.md
Due: none

docs(05): add code review report
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-REVIEW.md
Due: none

fix(05): CR-01 reset dead LISTEN conn in outbox waker
  internal/world/setup/relay_subsystem.go
Due: lint-go

fix(05): WR-01 WR-02 IN-01 relay publish-path robustness
  internal/world/outbox/relay.go
Due: lint-go

fix(05): IN-02 fail closed when FeedCounter.Allocate has no ambient tx
  internal/world/postgres/feed_counter.go
Due: lint-go

docs(05): add code review fix report
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-REVIEW-FIX.md
Due: none

docs(phase-05): add security threat verification
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-SECURITY.md
Due: none

docs(05): ship phase 5 — PR #4816
  .planning/STATE.md
Due: none

fix(05): apply CodeRabbit review fixes
  internal/world/outbox/consumer.go
  internal/world/postgres/outbox_store_test.go
  internal/world/postgres/reaping_guard.go
  test/integration/resilience/outbox_faultinjection_test.go
Due: lint-go

docs(05): fix 999.1 backlog cluster plan count clobbered by phase-complete
  .planning/ROADMAP.md
Due: none

docs(06): capture phase context
  .planning/phases/06-operational-hardening-assurance-gates/06-CONTEXT.md
  .planning/phases/06-operational-hardening-assurance-gates/06-DISCUSSION-LOG.md
Due: none

docs(state): record phase 6 context session
  .planning/STATE.md
Due: none

docs(06): reframe QUAL-01 — patch gate already exists, add project ratchet
  .planning/phases/06-operational-hardening-assurance-gates/06-CONTEXT.md
  .planning/phases/06-operational-hardening-assurance-gates/06-DISCUSSION-LOG.md
Due: none

docs(06): add Nyquist validation strategy
  .planning/phases/06-operational-hardening-assurance-gates/06-VALIDATION.md
Due: none

docs(06): capture phase research findings
  .planning/phases/06-operational-hardening-assurance-gates/06-RESEARCH.md
Due: none

docs(06): map new files to codebase analogs (patterns)
  .planning/phases/06-operational-hardening-assurance-gates/06-PATTERNS.md
Due: none

docs(06): create phase plan (5 plans, OPS-02/03/04 + QUAL-01)
  .planning/ROADMAP.md
  .planning/phases/06-operational-hardening-assurance-gates/06-01-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-02-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-03-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-04-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-05-PLAN.md
Due: none

docs(06): add read_first to OPS-03 legitimacy checkpoint
  .planning/phases/06-operational-hardening-assurance-gates/06-03-PLAN.md
Due: none

docs(06): record planning complete + annotate roadmap waves
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(06): cross-AI plan review (codex, grok-4.5, antigravity)
  .planning/phases/06-operational-hardening-assurance-gates/06-REVIEWS.md
Due: none

docs(06): incorporate cross-AI review feedback (replan)
  .planning/ROADMAP.md
  .planning/phases/06-operational-hardening-assurance-gates/06-01-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-02-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-03-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-04-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-05-PLAN.md
Due: none

docs(06): cross-AI plan review round 2 (converging; impl/integration gaps)
  .planning/phases/06-operational-hardening-assurance-gates/06-REVIEWS.md
Due: none

docs(06): incorporate round-2 cross-AI review feedback into phase plans
  .planning/phases/06-operational-hardening-assurance-gates/06-01-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-02-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-03-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-04-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-05-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-PATTERNS.md
Due: none

docs(06): cross-AI plan review round 3 (converging; NOT READY — new impl/edge-safety gaps)
  .planning/phases/06-operational-hardening-assurance-gates/06-REVIEWS.md
Due: none

docs(06): incorporate round-3 review feedback into phase plans
  .planning/phases/06-operational-hardening-assurance-gates/06-01-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-02-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-03-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-04-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-05-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-PATTERNS.md
Due: none

docs(06): cross-AI plan review round 4 (round-3 debt closed; new deploy-compat blocker)
  .planning/phases/06-operational-hardening-assurance-gates/06-REVIEWS.md
Due: none

docs(06): incorporate round-4 review feedback into phase plans
  .planning/phases/06-operational-hardening-assurance-gates/06-01-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-02-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-03-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-04-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-05-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-PATTERNS.md
Due: none

docs(06): cross-AI plan review round 5 (design settled; last-mile ops refinements)
  .planning/phases/06-operational-hardening-assurance-gates/06-REVIEWS.md
Due: none

docs(06): fold round-5 review residuals into phase plans (H1/H2/M3/M4/M5 + LOWs)
  .planning/phases/06-operational-hardening-assurance-gates/06-01-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-02-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-03-PLAN.md
  .planning/phases/06-operational-hardening-assurance-gates/06-05-PLAN.md
Due: none

docs(06): reviews confirmation pass — plans verified READY, no changes
  .planning/phases/06-operational-hardening-assurance-gates/06-RESEARCH.md
Due: none

docs(phase-06): begin phase execution
  .planning/STATE.md
Due: none

feat(06-01): partition events_audit on deterministic event_ms key (000052)
  internal/store/events_audit_partition_migration_integration_test.go
  internal/store/migrations/000052_events_audit_partition.down.sql
  internal/store/migrations/000052_events_audit_partition.up.sql
Due: lint-go

feat(06-01): writeAuditRow dedups under composite PK via ULID-derived event_ms
  internal/eventbus/audit/event_ms_test.go
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_idempotency_integration_test.go
Due: lint-go

test(06-01): sweep direct events_audit INSERTs for event_ms + covering partitions
  cmd/holomush/admin_read_stream_e2e_test.go
  cmd/holomush/bootstrap_orphan_test.go
  internal/admin/policy/verifier_integration_test.go
  internal/admin/readstream/cold_reader_integration_test.go
  internal/eventbus/audit/chain/repo_postgres_integration_test.go
  internal/eventbus/crypto/dek/rekey_orchestrator_test.go
  internal/eventbus/crypto/dek/rekey_phase3_integration_test.go
  internal/eventbus/history/cold_postgres_integration_test.go
  internal/store/events_audit_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/testsupport/holomushtest/server.go
  test/integration/crypto/harness_impl_test.go
  test/integration/crypto/rekey_inv39_test.go
  test/integration/crypto/rekey_sweep_ttl_test.go
  test/integration/eventbus_e2e/cross_tier_query_test.go
Due: lint-go

docs(06-01): complete events_audit partition-swap plan
  .planning/phases/06-operational-hardening-assurance-gates/06-01-SUMMARY.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
