Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "task generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(world): add Containment constructor functions
  internal/world/object.go
  internal/world/object_test.go
Due: lint-go

bd daemon sync: 2026-01-24 18:37:37
  .beads/issues.jsonl
Due: none

refactor(world): use ulid.ULID types in event payloads
  internal/world/events.go
  internal/world/events_test.go
  internal/world/payloads.go
  internal/world/payloads_test.go
  internal/world/service.go
Due: lint-go

fix(world): validate Character.ID field in Validate method
  internal/world/character.go
  internal/world/character_test.go
Due: lint-go

test(world): add boundary tests for Object.Validate and seed error paths
  cmd/holomush/seed_test.go
  internal/world/object_test.go
Due: lint-go

fix(plugin): expose character description in query_character response
  internal/plugin/hostfunc/world.go
  internal/plugin/hostfunc/world_test.go
  internal/world/service.go
Due: lint-go, schema-sync

refactor(seed): use pgerrcode constant for unique violation check
  cmd/holomush/seed.go
  go.mod
  go.sum
Due: lint-go

bd daemon sync: 2026-01-24 20:23:30
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 20:23:39
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 20:23:43
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 20:26:14
  .beads/issues.jsonl
Due: none

fix(world): validate FromID is nil when FromType is none
  internal/world/payloads.go
  internal/world/payloads_test.go
Due: lint-go

bd daemon sync: 2026-01-24 20:29:42
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 20:29:45
  .beads/issues.jsonl
Due: none

feat(site): add landing page for holomush.dev
  docs/plans/2026-01-24-website-landing-page-design.md
  docs/plans/2026-01-24-website-landing-page-implementation.md
  site/.markdownlint.yaml
  site/docs/contributors/coding-standards.md
  site/docs/index.md
  site/holomush_docs.egg-info/PKG-INFO
  site/holomush_docs.egg-info/SOURCES.txt
  site/holomush_docs.egg-info/dependency_links.txt
  site/holomush_docs.egg-info/requires.txt
  site/holomush_docs.egg-info/top_level.txt
  site/zensical.toml
Due: lint-markdown, lint-yaml

feat(world): add retry logic for event emission
  go.mod
  go.sum
  internal/world/events.go
  internal/world/events_test.go
  internal/world/service.go
  test/integration/cli/cli_suite_test.go
  test/integration/cli/seed_test.go
Due: lint-go

fix(site): address PR review findings
  .gitignore
  docs/plans/2026-01-24-website-landing-page-design.md
  docs/plans/2026-01-24-website-landing-page-implementation.md
  site/docs/contributors/coding-standards.md
  site/holomush_docs.egg-info/PKG-INFO
  site/holomush_docs.egg-info/SOURCES.txt
  site/holomush_docs.egg-info/dependency_links.txt
  site/holomush_docs.egg-info/requires.txt
  site/holomush_docs.egg-info/top_level.txt
Due: lint-markdown

fix(docs): align coding-standards with actual codebase
  site/docs/contributors/coding-standards.md
Due: lint-markdown

feat(plugin): add WorldQuerierAdapter for per-plugin authorization
  internal/plugin/hostfunc/adapter.go
  internal/plugin/hostfunc/adapter_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/world.go
  internal/plugin/hostfunc/world_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go, schema-sync

docs(spec): document two-layer world query authorization model
  docs/specs/2026-01-18-plugin-system-design.md
Due: lint-markdown

chore(ci): rename workflow and CF site
  .github/workflows/site.yml
Due: lint-yaml, lint-actions

feat(site): add landing page for holomush.dev (#40)
  .github/workflows/site.yml
  .gitignore
  docs/plans/2026-01-24-website-landing-page-design.md
  docs/plans/2026-01-24-website-landing-page-implementation.md
  site/.markdownlint.yaml
  site/docs/contributors/coding-standards.md
  site/docs/index.md
  site/zensical.toml
Due: lint-markdown, lint-yaml, lint-actions

bd daemon sync: 2026-01-24 21:10:16
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 21:11:35
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 21:11:39
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 21:11:57
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 21:21:19
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 21:25:24
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 21:31:32
  .beads/issues.jsonl
Due: none

fix: address PR review findings for Epic 4 Phase 2
  cmd/holomush/seed.go
  cmd/holomush/seed_test.go
  internal/plugin/hostfunc/adapter.go
  internal/plugin/hostfunc/adapter_test.go
  internal/plugin/hostfunc/world.go
  internal/plugin/hostfunc/world_test.go
  internal/world/events.go
  internal/world/events_test.go
  internal/world/service.go
  internal/world/service_test.go
  test/integration/cli/seed_test.go
Due: lint-go, schema-sync

bd daemon sync: 2026-01-24 21:45:02
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 21:45:34
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 21:47:56
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 21:48:07
  .beads/issues.jsonl
Due: none

feat(world): add ExaminePayload and EmitExamineEvent for look events
  internal/world/events.go
  internal/world/events_test.go
  internal/world/payloads.go
  internal/world/payloads_test.go
Due: lint-go

bd daemon sync: 2026-01-24 21:50:53
  .beads/issues.jsonl
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
