Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

fix(04-06): validate the description before writing it (issue #4954)
  internal/world/errors.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

feat(04-06): UpdateCharacterDescription reaches the shipped world command
  internal/grpc/characteraccess_write.go
  internal/grpc/characteraccess_write_test.go
  test/integration/access/character_write_test.go
Due: lint-go

docs(04-06): complete the owner's two edit surfaces plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-06-SUMMARY.md
Due: none

feat(04-07): declare ListCharacterDirectory and remove WebListAllCharacters
  api/proto/holomush/characteraccess/v1/characteraccess.proto
  api/proto/holomush/web/v1/web.proto
  pkg/proto/holomush/characteraccess/v1/characteraccess.pb.go
  pkg/proto/holomush/characteraccess/v1/characteraccess_grpc.pb.go
  pkg/proto/holomush/characteraccess/v1/characteraccessv1connect/characteraccess.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  site/src/content/docs/reference/grpc-api.md
  web/src/lib/connect/holomush/characteraccess/v1/characteraccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site

refactor(04-07): retire every consumer of WebListAllCharacters
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpcclient/client.go
  internal/web/auth_handlers.go
  internal/web/auth_handlers_test.go
  internal/web/character_handlers.go
  internal/web/handler.go
  internal/web/handler_test.go
  web/src/lib/components/scenes/CharacterMultiSelect.svelte
  web/src/lib/components/scenes/CharacterMultiSelect.svelte.test.ts
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/scenes/directoryClient.ts
Due: lint-go

feat(04-07): the public character directory, gated then filtered
  cmd/holomush/sub_grpc.go
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
  internal/grpc/characteraccess_directory.go
  internal/grpc/characteraccess_directory_test.go
  internal/grpc/characteraccess_owner_test.go
  internal/grpc/characteraccess_profile_test.go
  internal/grpc/characteraccess_projection.go
  internal/grpc/characteraccess_service.go
  internal/grpc/characteraccess_viewer_test.go
  internal/grpc/characteraccess_write_test.go
  internal/testsupport/integrationtest/harness.go
  test/integration/access/character_directory_test.go
  test/integration/access/character_profile_read_test.go
  test/integration/access/character_write_test.go
Due: lint-go

docs(04-07): complete the public character directory plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-07-SUMMARY.md
Due: none

test(04-08): the three shared census helpers
  test/meta/meta_helpers_test.go
Due: lint-go

test(04-08): the routing census — every owner RPC reaches the one shared gate
  test/meta/characteraccess_routing_census_test.go
Due: lint-go

test(04-08): the descriptor census — character-returning RPCs equal the inventory
  test/meta/character_rpc_census_test.go
Due: lint-go

docs(04-08): complete the two censuses plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-08-SUMMARY.md
Due: none

docs(04): correct a false colocation rationale in the character-write suite
  test/integration/access/character_write_test.go
Due: lint-go

docs(04): mark PROFILE-04 complete on the traceability surface
  .planning/REQUIREMENTS.md
Due: none

test(04): record phase verification and persist the one human decision as UAT
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-UAT.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-VERIFICATION.md
Due: none

docs(04): add code review report
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-REVIEW.md
Due: none

fix(04): CR-01 map codes.Aborted at the gateway so concurrent-edit conflicts are not HTTP 500
  internal/web/status_interceptor.go
  internal/web/status_interceptor_test.go
  test/meta/gateway_status_code_census_test.go
Due: lint-go

fix(04): WR-01 re-arm the non-vacuity control guarding INV-PRIVACY-9
  docs/architecture/invariants.yaml
  test/integration/access/character_profile_read_test.go
Due: lint-go, lint-yaml

fix(04): WR-02 close the owner profile read against the governed name set
  internal/grpc/characteraccess_owner.go
  internal/grpc/characteraccess_owner_test.go
  internal/grpc/characteraccess_projection.go
Due: lint-go

fix(04): WR-03 stop reporting a post-COMMIT re-read failure as an ownership refusal
  internal/grpc/characteraccess_write.go
  internal/grpc/characteraccess_write_test.go
Due: lint-go

fix(04): WR-04 attribute the shared gate's logs to the calling surface, via errutil
  internal/grpc/characteraccess_service.go
  internal/grpc/player_gate.go
  internal/grpc/player_gate_test.go
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
Due: lint-go

fix(04): WR-05 log each visibility failure once, at the subsystem that produced it
  internal/access/profilevis/profilevis.go
  internal/grpc/characteraccess_directory_test.go
  internal/grpc/characteraccess_service.go
Due: lint-go

fix(04): WR-06 name only what the write changed in the character_profile_update envelope
  internal/world/service.go
  internal/world/service_profile_test.go
Due: lint-go

fix(04): WR-07 do not bump the aggregate version for an all-no-op profile write
  internal/world/service.go
  internal/world/service_profile_test.go
Due: lint-go

fix(04): CR-01 rename a shadowed identifier in the gateway status-code census
  test/meta/gateway_status_code_census_test.go
Due: lint-go

fix(04): make the errutil-vs-bare-slog guard actually discriminate
  internal/grpc/player_gate_test.go
Due: lint-go

fix(04): omit an identical-value resubmit from changed_attributes
  internal/world/service.go
  internal/world/service_profile_test.go
Due: lint-go

fix(04): stop a log-absence assertion colliding with the sentinel's own text
  internal/grpc/characteraccess_directory_test.go
Due: lint-go

fix(04): document why the two profile-write no-ops answer a stale caller differently
  internal/grpc/characteraccess_write.go
  internal/world/service.go
Due: lint-go

fix(04): lift newCorpusEngine into one shared helper carrying the refusal
  test/integration/access/character_directory_test.go
  test/integration/access/character_profile_read_test.go
Due: lint-go

docs(rules): correct the false oops/slog mechanism in grpc-errors
  .claude/rules/grpc-errors.md
Due: none

docs(04): correct stale Unimplemented comment on the owner-audience web proxies
  internal/web/character_handlers.go
Due: lint-go

docs(04): record the code-review fix loop (3 passes, 14/14 fixed)
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-REVIEW-FIX.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-REVIEW.md
Due: none

test(04): complete UAT - 1 passed, 0 issues
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-UAT.md
Due: none

docs(phase-04): add security threat verification
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-SECURITY.md
Due: none

docs(phase-04): complete phase 4 and repair a mis-targeted progress row
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-VERIFICATION.md
Due: none

docs(phase-04): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: none

docs(05): capture phase context
  .planning/phases/05-character-identity-ui-public-profiles/05-CONTEXT.md
  .planning/phases/05-character-identity-ui-public-profiles/05-DISCUSSION-LOG.md
Due: none

docs(state): record phase 5 context session
  .planning/STATE.md
Due: none

docs(05): UI design contract for character identity & public profiles
  .planning/phases/05-character-identity-ui-public-profiles/05-UI-SPEC.md
Due: none

docs(05): resolve UI considerations probe delta and approve UI-SPEC
  .planning/phases/05-character-identity-ui-public-profiles/05-UI-SPEC.md
Due: none
