Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

test(pr4266): table-driven audit-wiring tests + oops-code assertions on pluginauthz fail-closed paths
  internal/plugin/pluginauthz/evaluate_test.go
  internal/plugin/setup/subsystem_test.go
Due: lint-go, schema-sync

fix(pr4266): bound Lua evaluate ctx with host timeout + tokenize sceneResourceRef args
  internal/plugin/hostfunc/evaluate.go
  internal/plugin/hostfunc/evaluate_test.go
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_test.go
Due: lint-go, schema-sync

style(pr4266): gofumpt table-driven pkg/plugin test files (fmt:check drift)
  pkg/plugin/evaluate_client_test.go
  pkg/plugin/gated_dispatch_test.go
Due: lint-go

test(pr4266): use subtest-scoped t in TestAuditWiringFromEngineProvider build closures
  internal/plugin/setup/subsystem_test.go
Due: lint-go, schema-sync

feat: plugin host Evaluate — per-action ABAC for plugin commands (holomush-8kkv5) (#4266)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  api/proto/holomush/plugin/v1/plugin.proto
  docs/adr/README.md
  docs/adr/holomush-sqpnv-authz-who-vs-business-state-when-scene-policies.md
  internal/access/policy/plugin_evaluate_gate_test.go
  internal/access/setup/subsystem.go
  internal/access/setup/subsystem_test.go
  internal/plugin/goplugin/evaluate_invariants_test.go
  internal/plugin/goplugin/export_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_engine_wiring_test.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/hostfunc/evaluate.go
  internal/plugin/hostfunc/evaluate_test.go
  internal/plugin/hostfunc/export_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/functions_audit_wiring_test.go
  internal/plugin/pluginauthz/evaluate.go
  internal/plugin/pluginauthz/evaluate_test.go
  internal/plugin/setup/subsystem.go
  internal/plugin/setup/subsystem_test.go
  internal/test/invariants/scene_subjects_test.go
  pkg/plugin/evaluate_client.go
  pkg/plugin/evaluate_client_test.go
  pkg/plugin/gated_dispatch.go
  pkg/plugin/gated_dispatch_test.go
  pkg/plugin/sdk.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_emit_test.go
  plugins/core-scenes/commands_test.go
  plugins/core-scenes/main.go
  plugins/core-scenes/plugin.yaml
  site/docs/extending/plugin-host-evaluate.md
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, schema-sync

feat(core-scenes): declare crypto readback on scene content events (holomush-m7pxs)
  plugins/core-scenes/main_test.go
  plugins/core-scenes/plugin.yaml
Due: lint-go, lint-yaml

feat(history): decryptPluginRow read-back primitive (holomush-m7pxs INV-RB-1/3/4/5/12)
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/dispatcher.go
  internal/eventbus/history/dispatcher_test.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/history/readback.go
  internal/eventbus/history/readback_test.go
Due: lint-go

feat(plugin): add crypto.emits[].readback manifest capability (holomush-m7pxs INV-RB-2)
  internal/eventbus/authguard/adapter_manifest.go
  internal/eventbus/authguard/adapter_manifest_test.go
  internal/eventbus/authguard/authguard.go
  internal/eventbus/authguard/guard_test.go
  internal/plugin/crypto_manifest.go
  internal/plugin/crypto_validator.go
  internal/plugin/crypto_validator_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  schemas/plugin.schema.json
  test/integration/crypto/metadata_only_test.go
  test/integration/crypto/plugin_decrypt_test.go
Due: lint-go, schema-sync

refactor(history): extract fenceCheckRow for reuse by read-back paths (holomush-m7pxs INV-RB-5)
  internal/eventbus/history/plugin_downgrade_fence.go
  internal/eventbus/history/plugin_downgrade_fence_internal_test.go
Due: lint-go

feat(authguard): read-back authz branch (checkPluginReadback, ReadBack discriminator) (holomush-m7pxs INV-RB-2)
  internal/eventbus/authguard/adapter_session.go
  internal/eventbus/authguard/authguard.go
  internal/eventbus/authguard/guard.go
  internal/eventbus/authguard/guard_test.go
  internal/eventbus/subscriber_auth.go
Due: lint-go

feat(plugin): DecryptOwnAuditRows host RPC (OwnerMap gate + chunked decrypt) (holomush-m7pxs INV-RB-2/6/12)
  api/proto/holomush/plugin/v1/audit.proto
  api/proto/holomush/plugin/v1/plugin.proto
  cmd/holomush/sub_grpc.go
  internal/eventbus/history/readback.go
  internal/eventbus/history/readback_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/host.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  pkg/proto/holomush/plugin/v1/audit.pb.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, schema-sync

feat(plugin): DecryptOwnAuditRows Go SDK + Lua hostfunc (parity) (holomush-m7pxs)
  internal/eventbus/history/readback.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/host.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/stdlib_audit.go
  internal/plugin/hostfunc/stdlib_audit_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/readback_adapter.go
  internal/plugin/manager_test.go
  pkg/plugin/audit.go
  pkg/plugin/audit_test.go
Due: lint-go, schema-sync

test(crypto): real-stack read-back integration + participant E2E (holomush-m7pxs INV-RB-3/7/11/12)
  test/integration/crypto/readback_test.go
  test/integration/privacy/scene_history_readback_test.go
Due: lint-go

feat(history): fence decrypts clean rows for authorized routed readers (holomush-m7pxs INV-RB-7)
  cmd/holomush/sub_grpc.go
  internal/eventbus/history/plugin_downgrade_fence.go
  internal/eventbus/history/plugin_downgrade_fence_internal_test.go
  internal/eventbus/history/tier.go
Due: lint-go

fix(crypto): address CodeRabbit findings on #4267
  api/proto/holomush/plugin/v1/audit.proto
  internal/eventbus/authguard/guard_test.go
  internal/eventbus/history/readback.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/hostfunc/stdlib_audit.go
  internal/plugin/hostfunc/stdlib_audit_test.go
  pkg/plugin/audit_test.go
  pkg/proto/holomush/plugin/v1/audit.pb.go
  test/integration/crypto/readback_test.go
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
Due: lint-go, schema-sync

docs(extending): plugin read-back decrypt capability (holomush-m7pxs)
  internal/plugin/hostfunc/stdlib_audit.go
  internal/plugin/lua/host.go
  site/docs/contributing/event-emit-pipeline.md
  site/docs/extending/index.md
  site/docs/extending/plugin-crypto-readback.md
  site/docs/reference/events.md
  site/zensical.toml
  test/integration/crypto/readback_test.go
  test/integration/privacy/scene_history_readback_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

docs(gates): tier-split quality gates — spec + plan + 2 ADRs (holomush-b4myw)
  docs/adr/README.md
  docs/adr/holomush-5eqiv-quarantine-flaky-specs-via-governed-registry-not-deletion.md
  docs/adr/holomush-5k6au-integration-e2e-are-ci-authoritative-and-required-local-opti.md
  docs/superpowers/plans/2026-05-25-tier-split-quality-gates.md
  docs/superpowers/specs/2026-05-25-tier-split-quality-gates-design.md
Due: none

docs(gates): tier-split quality gates — spec + plan + 2 ADRs (holomush-b4myw) (#4271)
  docs/adr/README.md
  docs/adr/holomush-5eqiv-quarantine-flaky-specs-via-governed-registry-not-deletion.md
  docs/adr/holomush-5k6au-integration-e2e-are-ci-authoritative-and-required-local-opti.md
  docs/superpowers/plans/2026-05-25-tier-split-quality-gates.md
  docs/superpowers/specs/2026-05-25-tier-split-quality-gates-design.md
Due: none

docs(gates): lane split + quarantine guide + INV-5 guard (holomush-b4myw)
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/rules/landing-the-plane.md
  .claude/rules/testing.md
  CLAUDE.md
  site/docs/contributing/pr-prep.md
  site/docs/contributing/quarantine.md
  test/meta/ci_required_jobs_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site

lint(quarantine): deny quarantinetest import from production via depguard (holomush-b4myw)
  .golangci.yaml
  test/meta/depguard_config_test.go
Due: lint-go, lint-yaml

ci(quarantine): exclude @quarantine from gating E2E; add quarantine:audit (holomush-b4myw)
  .claude/agent-memory/code-reviewer/MEMORY.md
  .github/workflows/ci.yaml
  Taskfile.yaml
  scripts/quarantine-audit.sh
Due: lint-yaml, lint-actions

test(quarantine): quarantine 5 known int/e2e flakes + register (holomush-b4myw)
  cmd/holomush/admin_read_stream_e2e_test.go
  internal/eventbus/audit/projection_test.go
  internal/store/migrate_integration_test.go
  test/quarantine.yaml
  web/e2e/terminal.spec.ts
Due: lint-go, lint-yaml

test(quarantine): add quarantinetest env-gate helper (holomush-b4myw)
  internal/testsupport/quarantinetest/quarantinetest.go
  internal/testsupport/quarantinetest/quarantinetest_test.go
Due: lint-go

test(quarantine): registry + bijection meta-test (INV-2) (holomush-b4myw)
  test/meta/quarantine_registry_test.go
  test/quarantine.yaml
Due: lint-go, lint-yaml

ci(quarantine): nightly quarantine-set health run (holomush-b4myw)
  .github/workflows/nightly-soak.yml
Due: lint-yaml, lint-actions

docs(tooling): readiness agent + pr-prep commands for lane split (holomush-b4myw)
  .claude/agents/branch-readiness-check.md
  .claude/commands/landing-sequence.md
  .claude/commands/pr-prep.md
Due: none

build(pr-prep): fast mandatory lane + opt-in pr-prep:full (INV-4) (holomush-b4myw)
  Taskfile.yaml
  test/meta/pr_prep_fast_lane_test.go
Due: lint-go, lint-yaml

hooks(gates): int/e2e surface nudge + test:int string fix + INV-6 guard (holomush-b4myw)
  .claude/hooks/enforce-task-runner.sh
  .claude/hooks/remind-pre-action-review.sh
  test/meta/tooling_no_mandatory_int_test.go
Due: lint-go

fix(test): reclaim half-started Postgres testcontainer on retry (holomush-tmrv)
  test/testutil/postgres.go
Due: lint-go

docs(build): retire-lefthook + license-eye — spec, plan, ADR (holomush-gcio6)
  docs/adr/holomush-x14mc-adopt-license-eye-markdown-licensing.md
  docs/superpowers/plans/2026-05-25-retire-lefthook-license-eye.md
  docs/superpowers/specs/2026-05-25-retire-lefthook-license-eye-design.md
Due: none

fix(quality-gates): address CodeRabbit findings on #4273 (holomush-b4myw)
  .github/workflows/nightly-soak.yml
  Taskfile.yaml
Due: lint-yaml, lint-actions

fix(test): reclaim half-started Postgres testcontainer on retry (holomush-tmrv) (#4274)
  test/testutil/postgres.go
Due: lint-go

docs(build): retire-lefthook + license-eye — spec, plan, ADR (holomush-gcio6) (#4272)
  docs/adr/holomush-x14mc-adopt-license-eye-markdown-licensing.md
  docs/superpowers/plans/2026-05-25-retire-lefthook-license-eye.md
  docs/superpowers/specs/2026-05-25-retire-lefthook-license-eye-design.md
Due: none

feat(quality-gates): tier-split — quarantine mechanism + pr-prep fast/full lane split (holomush-b4myw) (#4273)
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/agents/branch-readiness-check.md
  .claude/commands/landing-sequence.md
  .claude/commands/pr-prep.md
  .claude/hooks/enforce-task-runner.sh
  .claude/hooks/remind-pre-action-review.sh
  .claude/rules/landing-the-plane.md
  .claude/rules/testing.md
  .github/workflows/ci.yaml
  .github/workflows/nightly-soak.yml
  .golangci.yaml
  CLAUDE.md
  Taskfile.yaml
  cmd/holomush/admin_read_stream_e2e_test.go
  internal/eventbus/audit/projection_test.go
  internal/store/migrate_integration_test.go
  internal/testsupport/quarantinetest/quarantinetest.go
  internal/testsupport/quarantinetest/quarantinetest_test.go
  scripts/quarantine-audit.sh
  site/docs/contributing/pr-prep.md
  site/docs/contributing/quarantine.md
  test/meta/ci_required_jobs_test.go
  test/meta/depguard_config_test.go
  test/meta/pr_prep_fast_lane_test.go
  test/meta/quarantine_registry_test.go
  test/meta/tooling_no_mandatory_int_test.go
  test/quarantine.yaml
  web/e2e/terminal.spec.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

test(wholesystem): suite bootstrap + structural plugin-load census (holomush-0f0f4)
  internal/testsupport/integrationtest/plugins.go
  test/integration/wholesystem/census_test.go
  test/integration/wholesystem/wholesystem_suite_test.go
Due: lint-go

test(integrationtest): binary-plugin availability gate detection (holomush-0f0f4)
  internal/testsupport/integrationtest/plugins.go
  internal/testsupport/integrationtest/plugins_test.go
Due: lint-go

test(integrationtest): plugins-dir overlay assembly helper (holomush-0f0f4)
  internal/testsupport/integrationtest/plugins.go
  internal/testsupport/integrationtest/plugins_test.go
Due: lint-go

test(integrationtest): INV-WS-1 reuse-PluginSubsystem meta-test (holomush-0f0f4)
  internal/testsupport/integrationtest/invariants_test.go
Due: lint-go

test(integrationtest): plugin-subsystem provider adapters (holomush-0f0f4)
  internal/testsupport/integrationtest/plugins.go
  internal/testsupport/integrationtest/plugins_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
