Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

ci(test): require built plugins in the integration job (INV-WS-3, holomush-0f0f4)
  Taskfile.yaml
Due: lint-yaml

docs(testing): document whole-system plugin tier + WithInTreePlugins (holomush-0f0f4)
  .claude/rules/testing.md
  site/docs/contributing/integration-tests.md
Due: lint-markdown-site, fmt-markdown-site

feat(integrationtest): WithInTreePlugins option + subsystem startup wiring (holomush-0f0f4)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
Due: lint-go

test(integrationtest): INV-WS-4 default-plugin-free guarantee (holomush-0f0f4)
  internal/testsupport/integrationtest/default_plugins_test.go
Due: lint-go

feat(integrationtest): plugin subsystem teardown + accessors (holomush-0f0f4)
  internal/testsupport/integrationtest/harness.go
Due: lint-go

feat(integrationtest): WithInTreePlugins harness + whole-system suite (holomush-0f0f4) (#4275)
  .claude/rules/testing.md
  Taskfile.yaml
  internal/testsupport/integrationtest/default_plugins_test.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/invariants_test.go
  internal/testsupport/integrationtest/plugins.go
  internal/testsupport/integrationtest/plugins_test.go
  site/docs/contributing/integration-tests.md
  test/integration/wholesystem/census_test.go
  test/integration/wholesystem/wholesystem_suite_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

docs(f5t07): WithRealABAC harness spec + plan + ADR jvrq3
  docs/adr/holomush-jvrq3-harness-plugin-resolver-pointer-identity.md
  docs/superpowers/plans/2026-05-26-harness-real-abac.md
  docs/superpowers/specs/2026-05-26-harness-real-abac-design.md
Due: none

feat(integrationtest): WithRealABAC() boots real seeded ABAC engine (holomush-f5t07)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/real_abac.go
  internal/testsupport/integrationtest/real_abac_test.go
Due: lint-go

feat(integrationtest): thread real resolver/provider/auditor into plugin layer (holomush-f5t07)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
  internal/testsupport/integrationtest/real_abac.go
  internal/testsupport/integrationtest/real_abac_test.go
Due: lint-go

docs(integrationtest): document WithRealABAC opt-in and role semantics (holomush-f5t07)
  docs/superpowers/plans/2026-05-26-harness-real-abac.md
  internal/testsupport/integrationtest/harness.go
  site/docs/contributing/integration-tests.md
Due: lint-go, lint-markdown-site, fmt-markdown-site

docs(spec): correct INV-RA-5 meta-test mechanism (holomush-f5t07)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/superpowers/specs/2026-05-26-harness-real-abac-design.md
Due: none

feat(integrationtest): WithRealABAC() boots real seeded ABAC engine in harness (holomush-f5t07) (#4276)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/adr/holomush-jvrq3-harness-plugin-resolver-pointer-identity.md
  docs/superpowers/plans/2026-05-26-harness-real-abac.md
  docs/superpowers/specs/2026-05-26-harness-real-abac-design.md
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
  internal/testsupport/integrationtest/real_abac.go
  internal/testsupport/integrationtest/real_abac_test.go
  site/docs/contributing/integration-tests.md
Due: lint-go, lint-markdown-site, fmt-markdown-site

test(wholesystem): cross-plugin-ABAC permit/deny against real engine (holomush-0f0f4)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
  test/integration/wholesystem/abac_test.go
Due: lint-go

test(wholesystem): cross-plugin-ABAC permit/deny against real engine (holomush-0f0f4) (#4277)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
  test/integration/wholesystem/abac_test.go
Due: lint-go

feat(scene-publish): publish scheduler — vote-window timeout + cool-off expiry (E5)
  plugins/core-scenes/main.go
  plugins/core-scenes/metrics.go
  plugins/core-scenes/publish_scheduler.go
  plugins/core-scenes/publish_scheduler_integration_test.go
  plugins/core-scenes/publish_snapshot.go
  plugins/core-scenes/publish_store.go
Due: lint-go

feat(scene-commands): resolveSceneRef with single-membership inference (B1)
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_resolve_test.go
Due: lint-go

feat(scene-publish): snapshot pipeline COOLOFF → PUBLISHED (C7)
  .claude/agent-memory/crypto-reviewer/MEMORY.md
  .claude/agent-memory/crypto-reviewer/project_readback_decrypt.md
  docs/adr/holomush-jrefa-published-scenes-table-distinct-from-scene-log.md
  docs/superpowers/specs/2026-05-23-scenes-phase-6-logs-vote-privacy-design.md
  pkg/plugin/decrypt_client.go
  pkg/plugin/sdk.go
  plugins/core-scenes/main.go
  plugins/core-scenes/publish_snapshot.go
  plugins/core-scenes/publish_snapshot_integration_test.go
  plugins/core-scenes/publish_store.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
Due: lint-go

feat(scene-publish): StartScenePublish RPC + ABAC start-publish-as-participant policy
  .claude/agent-memory/abac-reviewer/MEMORY.md
  plugins/core-scenes/metrics.go
  plugins/core-scenes/plugin.yaml
  plugins/core-scenes/publish_helpers.go
  plugins/core-scenes/publish_service.go
  plugins/core-scenes/publish_service_test.go
  plugins/core-scenes/publish_store.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go, lint-yaml

feat(scene-publish): Markdown renderer + escape (C1)
  plugins/core-scenes/publish_render.go
  plugins/core-scenes/publish_render_test.go
  plugins/core-scenes/publish_service.go
Due: lint-go

feat(scene-commands): scene log export <format> (E4)
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_log_test.go
Due: lint-go

feat(scene-manifest): declare + register 6 Phase 6 publish notice events
  plugins/core-scenes/main.go
  plugins/core-scenes/main_test.go
  plugins/core-scenes/plugin.yaml
Due: lint-go, lint-yaml

test(scene-resolver): INV-P6-7 forbidden-attribute regression lock
  plugins/core-scenes/resolver_test.go
Due: lint-go

feat(scene-publish): publish state-machine + tally + roster predicates (A8)
  plugins/core-scenes/publish_roster_test.go
  plugins/core-scenes/publish_state.go
  plugins/core-scenes/publish_state_test.go
  plugins/core-scenes/publish_vote_tally_test.go
Due: lint-go

feat(scene-types): add Phase 6 publish domain types
  docs/superpowers/specs/2026-05-23-scenes-phase-6-logs-vote-privacy-design.md
  plugins/core-scenes/publish_types.go
  plugins/core-scenes/publish_types_test.go
Due: lint-go

feat(scene-publish): GetPublicSceneArchive + INV-P6-8 opacity
  plugins/core-scenes/publish_helpers.go
  plugins/core-scenes/publish_service.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_public_archive_test.go
  plugins/core-scenes/service_test.go
Due: lint-go

feat(scene-publish): plain-text + JSONL renderers (C2 + C3)
  plugins/core-scenes/publish_render.go
  plugins/core-scenes/publish_render_test.go
  plugins/core-scenes/publish_service.go
  plugins/core-scenes/testdata/publish_render_plain_text.golden
Due: lint-go

feat(scene-commands): scene publish vote yes|no commands (B9)
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_publish_test.go
Due: lint-go

feat(scene-store): CreatePublishAttempt + ListPublishVoters
  plugins/core-scenes/publish_store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scene-commands): scene publish withdraw|status|download (B10)
  docs/superpowers/specs/2026-05-23-scenes-phase-6-logs-vote-privacy-design.md
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_publish_test.go
Due: lint-go

feat(scene-publish): DownloadPublishedScene + INV-S9 gate
  plugins/core-scenes/publish_service.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_publish_gate_test.go
Due: lint-go

feat(scene-publish): Phase 6 metric stubs (D6)
  plugins/core-scenes/metrics.go
Due: lint-go

feat(scene-commands): scene log replay command (E3, cb4x absorption)
  docs/superpowers/specs/2026-05-23-scenes-phase-6-logs-vote-privacy-design.md
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_log_test.go
  plugins/core-scenes/commands_test.go
Due: lint-go

feat(scene-publish): DownloadPublicSceneArchive + renderer dispatch wiring (C5)
  plugins/core-scenes/publish_service.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_public_archive_test.go
  plugins/core-scenes/service_publish_gate_test.go
Due: lint-go

feat(scene-publish): ExtendScenePublishVoteAttempts + admin ABAC policy (E1)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  plugins/core-scenes/publish_events_test.go
  plugins/core-scenes/publish_helpers.go
  plugins/core-scenes/publish_service.go
  plugins/core-scenes/publish_service_test.go
  plugins/core-scenes/publish_store.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scene-proto): add 9 Phase 6 publication RPCs + messages
  api/proto/holomush/scene/v1/scene.proto
  pkg/proto/holomush/scene/v1/scene.pb.go
  pkg/proto/holomush/scene/v1/scene_grpc.pb.go
  pkg/proto/holomush/scene/v1/scenev1connect/scene.connect.go
  plugins/core-scenes/service.go
  web/src/lib/connect/holomush/scene/v1/scene_connect.ts
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
Due: lint-go

feat(scene-migrations): add 000008 published_scenes + published_scene_votes
  docs/adr/holomush-39a5f-frozen-voter-roster-in-separate-table.md
  docs/adr/holomush-jrefa-published-scenes-table-distinct-from-scene-log.md
  docs/superpowers/specs/2026-05-23-scenes-phase-6-logs-vote-privacy-design.md
  plugins/core-scenes/migrations/000008_scene_publication.down.sql
  plugins/core-scenes/migrations/000008_scene_publication.up.sql
  plugins/core-scenes/store_integration_test.go
Due: lint-go

test(scene-publish): verify event emission wired at applyTrigger transitions (D3)
  plugins/core-scenes/publish_service_test.go
Due: lint-go

feat(scene-store): ReadSceneLogForSnapshot — pose/say/emit filter
  plugins/core-scenes/publish_store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scene-publish): publish helpers (B1.5) + GetPublishedScene INV-S9 gate (B5)
  plugins/core-scenes/metrics.go
  plugins/core-scenes/publish_helpers.go
  plugins/core-scenes/publish_helpers_test.go
  plugins/core-scenes/publish_service.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_publish_gate_test.go
  plugins/core-scenes/service_test.go
Due: lint-go

feat(scene-publish): event emitter for 6 IC notice events (D2)
  api/proto/holomush/scene/v1/scene.proto
  pkg/proto/holomush/scene/v1/scene.pb.go
  plugins/core-scenes/main.go
  plugins/core-scenes/publish_events.go
  plugins/core-scenes/publish_events_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
