Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

fix(07): WR-01 reset Prepare/Activate idempotency guards in Stop
  cmd/holomush/sub_grpc.go
  internal/access/setup/subsystem.go
  internal/admin/socket/subsystem.go
  internal/eventbus/crypto/dek/sweep.go
  internal/store/subsystem.go
  internal/world/setup/relay_subsystem.go
Due: lint-go

fix(07): WR-02 detect typed-nil Publisher in sysbroadcast.NewBroadcaster
  internal/sysbroadcast/broadcaster.go
  internal/sysbroadcast/broadcaster_test.go
Due: lint-go

fix(07): IN-01 add idempotency guard to PluginSubsystem.Prepare
  internal/plugin/setup/subsystem.go
Due: lint-go, schema-sync

fix(07): WR-01 reset CheckpointSweepSubsystem.Stop guard on both select branches
  internal/eventbus/crypto/dek/sweep.go
Due: lint-go

fix(07): WR-03 reset CoordHolder.coord in grpcSubsystem.Stop
  cmd/holomush/sub_grpc.go
Due: lint-go

fix(07): WR-01 close the channel loop was launched with, not the mutable s.done field
  internal/eventbus/crypto/dek/sweep.go
Due: lint-go

fix(07): WR-02 add ReadinessRegistry.Unregister to make Prepare retries panic-safe
  internal/access/setup/subsystem.go
  internal/lifecycle/registry.go
  internal/plugin/setup/subsystem.go
Due: lint-go, schema-sync

fix(07): IN-01 extract shared eventbus.IsNilPublisher, drop duplicate copies
  internal/eventbus/bus.go
  internal/presence/emitter.go
  internal/sysbroadcast/broadcaster.go
Due: lint-go

docs(07): add iteration-2 code review fix report
  .planning/phases/07-event-model-bootstrap-decomposition/07-REVIEW-FIX.md
  .planning/phases/07-event-model-bootstrap-decomposition/07-REVIEW.md
Due: none

docs(07): iteration-3 (final) re-review — 2 critical, 1 warning found
  .planning/phases/07-event-model-bootstrap-decomposition/07-REVIEW.md
Due: none

fix(07): CR-01 capture s.server as a local before Stop's background goroutine
  internal/eventbus/subsystem.go
Due: lint-go

fix(07): CR-02 capture done/relay as locals before Activate's drain goroutine
  internal/world/setup/relay_subsystem.go
Due: lint-go

fix(07): WR-01 guard CoordHolder.coord with a mutex; fix sibling grpcServer race
  cmd/holomush/crypto_rekey_wiring.go
  cmd/holomush/cryptowiring.go
  cmd/holomush/cryptowiring_test.go
  cmd/holomush/sub_grpc.go
Due: lint-go

docs(07): add iteration-3 (final) code review fix report
  .planning/phases/07-event-model-bootstrap-decomposition/07-REVIEW-FIX.md
Due: none

docs(phase-7): add security threat verification (07-SECURITY.md, threats_open: 0)
  .planning/phases/07-event-model-bootstrap-decomposition/07-SECURITY.md
Due: none

fix(07): thread real gameID into plugin Init to fix silent event-delivery break
  api/proto/holomush/plugin/v1/plugin.proto
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  pkg/plugin/config.go
  pkg/plugin/config_test.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  plugins/core-channels/main.go
  plugins/core-scenes/main.go
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, schema-sync

docs(07): archive debug session and post-ship review for gameID fix
  .planning/debug/knowledge-base.md
  .planning/debug/resolved/e2e-scene-pose-regression.md
  .planning/phases/07-event-model-bootstrap-decomposition/07-REVIEW-postship-fix.md
Due: none

docs(07): ship phase 7 — PR #4823 [ci skip]
  .planning/STATE.md
Due: none

docs(rules): forbid [ci skip] on any commit on a branch with an open PR
  .claude/rules/landing-the-plane.md
Due: none

docs(08): capture phase context
  .planning/phases/08-god-object-decomposition/08-CONTEXT.md
  .planning/phases/08-god-object-decomposition/08-DISCUSSION-LOG.md
Due: none

docs(state): record phase 8 context session
  .planning/STATE.md
Due: none

docs(08): correct context after research — D-09 seam 3 already closed, UnloadPlugin exists
  .planning/phases/08-god-object-decomposition/08-CONTEXT.md
  .planning/phases/08-god-object-decomposition/08-RESEARCH.md
Due: none

docs(phase-8): add validation strategy
  .planning/phases/08-god-object-decomposition/08-VALIDATION.md
Due: none

docs(08): add pattern map
  .planning/phases/08-god-object-decomposition/08-PATTERNS.md
Due: none

docs(08): create phase 8 god-object decomposition plans
  .planning/ROADMAP.md
  .planning/phases/08-god-object-decomposition/08-01-PLAN.md
  .planning/phases/08-god-object-decomposition/08-02-PLAN.md
  .planning/phases/08-god-object-decomposition/08-03-PLAN.md
  .planning/phases/08-god-object-decomposition/08-04-PLAN.md
  .planning/phases/08-god-object-decomposition/08-05-PLAN.md
  .planning/phases/08-god-object-decomposition/08-06-PLAN.md
  .planning/phases/08-god-object-decomposition/08-07-PLAN.md
  .planning/phases/08-god-object-decomposition/08-08-PLAN.md
  .planning/phases/08-god-object-decomposition/08-09-PLAN.md
Due: none

docs(08): cite D-01 and D-16 by ID in phase 8 plan must_haves
  .planning/phases/08-god-object-decomposition/08-03-PLAN.md
  .planning/phases/08-god-object-decomposition/08-04-PLAN.md
  .planning/phases/08-god-object-decomposition/08-05-PLAN.md
  .planning/phases/08-god-object-decomposition/08-06-PLAN.md
  .planning/phases/08-god-object-decomposition/08-07-PLAN.md
  .planning/phases/08-god-object-decomposition/08-08-PLAN.md
Due: none

docs(08): repair decision bullet format for coverage gate
  .planning/phases/08-god-object-decomposition/08-CONTEXT.md
Due: none

docs(08): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(08-01): add internal/focuscontract neutral focus-contract leaf
  internal/focuscontract/focuscontract.go
  internal/focuscontract/focuscontract_test.go
Due: lint-go

refactor(08-01): re-export focus contract from internal/grpc/focus as type aliases
  internal/grpc/focus/auto_focus_on_join.go
  internal/grpc/focus/coordinator.go
  internal/grpc/focus/kind_policy.go
Due: lint-go

docs(08-01): retarget six INV-SCENE provenance refs to internal/focuscontract
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(08-01): complete focuscontract seam extraction plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/08-god-object-decomposition/08-01-SUMMARY.md
Due: none

refactor(08-02): rewire internal/plugin off internal/grpc/focus to focuscontract
  internal/plugin/goplugin/host.go
  internal/plugin/host.go
  internal/plugin/hostcap/capabilities.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/lua/focus_ops_adapter.go
  internal/plugin/lua/host.go
  internal/plugin/lua/hostcap_adapter.go
  internal/plugin/manager.go
  internal/plugin/setup/subsystem.go
Due: lint-go, schema-sync

test(08-02): add failing nil-receiver tests for the two crypto manifest gates
  internal/plugin/crypto_manifest_lookup_test.go
Due: lint-go, schema-sync

refactor(08-02): invert eventbus->plugin seam; Manager satisfies ManifestLookup directly
  cmd/holomush/sub_grpc.go
  internal/eventbus/authguard/adapter_manifest.go
  internal/eventbus/authguard/adapter_manifest_test.go
  internal/plugin/manager.go
  internal/testsupport/integrationtest/crypto.go
Due: lint-go, schema-sync

refactor(08-02): move TestLoadPlugin out of the production binary into export_test.go
  internal/plugin/export_test.go
  internal/plugin/manager.go
Due: lint-go, schema-sync

docs(08-02): complete plugin seam-completion and D-08 settlement plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/08-god-object-decomposition/08-02-SUMMARY.md
Due: none
