Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

proto(scenes): facade + BFF membership RPCs (invite/kick/transfer/leave) (holomush-5rh.24)
  api/proto/holomush/sceneaccess/v1/sceneaccess.proto
  api/proto/holomush/web/v1/web.proto
  pkg/proto/holomush/sceneaccess/v1/sceneaccess.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess_grpc.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccessv1connect/sceneaccess.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(core): ABAC-gated ListAllCharacters directory (list_character_directory, INV-ACCESS-9) (holomush-5rh.24)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
  internal/access/prefix.go
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  plugins/core-scenes/service_test.go
Due: lint-go, lint-yaml

feat(world): CharacterRepository.ListAll directory query (holomush-5rh.24)
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/auth/character_service.go
  internal/auth/mocks/mock_CharacterRepository.go
  internal/bootstrap/setup/adapters.go
  internal/testsupport/integrationtest/harness.go
  internal/world/postgres/character_repo.go
  internal/world/postgres/character_repo_test.go
  test/integration/auth/auth_suite_test.go
Due: lint-go

test(web,integration): E2E telnet-free scene membership + repair integration suites for membership self-gates (holomush-5rh.24)
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/bootstrap/setup/adapters.go
  internal/grpc/auth_handlers.go
  test/integration/auth/core_client_shim_test.go
  test/integration/plugin/binary_plugin_test.go
  web/e2e/helpers/db.ts
  web/e2e/scenes-membership.spec.ts
Due: lint-go

fix(scenes): bind request character to authenticated actor in membership handlers (CodeRabbit #4531)
  api/proto/holomush/web/v1/web.proto
  plugins/core-scenes/service.go
  plugins/core-scenes/service_membership_actor_binding_test.go
  web/src/lib/components/ui/input-group/input-group-addon.svelte
  web/src/lib/scenes/membershipFlow.ts
Due: lint-go

fix(scenes): extend actor-binding cross-check to JoinScene + state-mutating handlers (holomush-fgly4)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_state_mutation_actor_binding_test.go
Due: lint-go

fix(scenes): extend actor-binding cross-check to JoinScene + state-mutating handlers (holomush-fgly4) (#4532)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_state_mutation_actor_binding_test.go
Due: lint-go

docs(claude): tighten workspace isolation, require grepping skill, capture transcript-derived gotchas
  .claude/hooks/require-grepping-skill.sh
  .claude/hooks/warn-default-workspace.sh
  .claude/rules/beads-project.md
  .claude/rules/gateway-boundary.md
  .claude/rules/testing.md
  .claude/settings.json
  CLAUDE.md
Due: none

fix(scenes): surface errors from roster membership actions (holomush-eysl2)
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
Due: none

fix(scenes): surface errors from roster membership actions (holomush-eysl2) (#4533)
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
Due: none

docs(claude): tighten workspace isolation, require grepping skill, capture transcript-derived gotchas (#4534)
  .claude/hooks/require-grepping-skill.sh
  .claude/hooks/warn-default-workspace.sh
  .claude/rules/beads-project.md
  .claude/rules/gateway-boundary.md
  .claude/rules/testing.md
  .claude/settings.json
  CLAUDE.md
Due: none

fix(scenes): actor-binding cross-check on CreateScene (holomush-lar7u)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_create_actor_binding_test.go
Due: lint-go

fix(scenes): actor-binding cross-check on CreateScene (holomush-lar7u) (#4535)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_create_actor_binding_test.go
Due: lint-go

fix(scenes): self-enforce owner-only ABAC in UpdateScene service handler (holomush-ug7sq)
  plugins/core-scenes/content_warnings_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_state_mutation_actor_binding_test.go
  plugins/core-scenes/service_test.go
  test/integration/plugin/binary_plugin_test.go
Due: lint-go

fix(scenes): self-enforce owner-only ABAC in UpdateScene service handler (holomush-ug7sq) (#4536)
  plugins/core-scenes/content_warnings_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_state_mutation_actor_binding_test.go
  plugins/core-scenes/service_test.go
  test/integration/plugin/binary_plugin_test.go
Due: lint-go

docs(scenes): web settings actions plan + ADR (holomush-5rh.24)
  docs/adr/README.md
  docs/adr/holomush-nla30-aip-134-fieldmask-client-side-changed-fields-diff-partial-sc.md
  docs/superpowers/plans/2026-06-27-scenes-web-settings-actions.md
Due: none

docs(scenes): web settings actions plan + ADR (holomush-5rh.24) (#4537)
  docs/adr/README.md
  docs/adr/holomush-nla30-aip-134-fieldmask-client-side-changed-fields-diff-partial-sc.md
  docs/superpowers/plans/2026-06-27-scenes-web-settings-actions.md
Due: none

test(web): E2E telnet-free scene settings edit via GUI (holomush-5rh.24)
  web/e2e/scenes-settings.spec.ts
Due: none

feat(scenes): facade UpdateScene on SceneAccessServer (holomush-5rh.24)
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
Due: lint-go

feat(web): BFF WebUpdateScene handler (holomush-5rh.24)
  internal/web/scene_handlers.go
  internal/web/scene_handlers_test.go
Due: lint-go

proto(scenes): facade + BFF UpdateScene RPC with FieldMask (holomush-5rh.24)
  api/proto/holomush/sceneaccess/v1/sceneaccess.proto
  api/proto/holomush/web/v1/web.proto
  pkg/proto/holomush/sceneaccess/v1/sceneaccess.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess_grpc.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccessv1connect/sceneaccess.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(scenes): wire UpdateScene facade through client + narrowing interfaces (holomush-5rh.24)
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/web/handler.go
  internal/web/scene_handlers.go
  internal/web/scene_handlers_test.go
Due: lint-go

feat(web): scene settings client wrapper + settingsFlow (holomush-5rh.24)
  web/src/lib/scenes/client.ts
  web/src/lib/scenes/settingsFlow.test.ts
  web/src/lib/scenes/settingsFlow.ts
Due: none

feat(web): scene settings sheet + rail trigger (holomush-5rh.24)
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
  web/src/lib/components/scenes/SceneSettingsForm.svelte
  web/src/lib/components/scenes/SceneSettingsForm.svelte.test.ts
  web/src/lib/components/scenes/SceneSettingsSheet.svelte
Due: none

fix(scenes): address PR #4538 review findings — facade mask allowlist, load/save guards, facade tests (holomush-5rh.24)
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
  internal/web/scene_handlers.go
  web/src/lib/scenes/settingsFlow.test.ts
  web/src/lib/scenes/settingsFlow.ts
Due: lint-go

fix(scenes): address PR #4538 review — empty-mask no-op + 12px loading text (holomush-5rh.24)
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
  web/src/lib/components/scenes/SceneSettingsForm.svelte
Due: lint-go

feat(scenes): web scene-settings management actions — Settings slice (holomush-5rh.24) (#4538)
  api/proto/holomush/sceneaccess/v1/sceneaccess.proto
  api/proto/holomush/web/v1/web.proto
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
  internal/web/handler.go
  internal/web/scene_handlers.go
  internal/web/scene_handlers_test.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess_grpc.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccessv1connect/sceneaccess.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/e2e/scenes-settings.spec.ts
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
  web/src/lib/components/scenes/SceneSettingsForm.svelte
  web/src/lib/components/scenes/SceneSettingsForm.svelte.test.ts
  web/src/lib/components/scenes/SceneSettingsSheet.svelte
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/lib/scenes/client.ts
  web/src/lib/scenes/settingsFlow.test.ts
  web/src/lib/scenes/settingsFlow.ts
Due: lint-go

docs(scenes): publish-vote slice (4/4) spec + plan + ADR o8gx8 (holomush-5rh.24)
  docs/adr/README.md
  docs/adr/holomush-o8gx8-split-publish-read-model-broad-pointer-sceneinfo-tally-behin.md
  docs/superpowers/plans/2026-06-28-scenes-web-publish-vote-actions.md
  docs/superpowers/specs/2026-06-28-scenes-web-publish-vote-actions-design.md
Due: none

docs(scenes): publish-vote slice (4/4) spec + plan + ADR (holomush-5rh.24) (#4539)
  docs/adr/README.md
  docs/adr/holomush-o8gx8-split-publish-read-model-broad-pointer-sceneinfo-tally-behin.md
  docs/superpowers/plans/2026-06-28-scenes-web-publish-vote-actions.md
  docs/superpowers/specs/2026-06-28-scenes-web-publish-vote-actions-design.md
Due: none

docs(release): narrative release-notes spec + implementation plan (holomush-dufb8)
  docs/adr/README.md
  docs/adr/holomush-3rmph-source-release-narrative-from-roadmap-themes-and-bead-graph.md
  docs/adr/holomush-avxk7-release-narrative-via-session-claude-code-skill-not-ci-autom.md
  docs/adr/holomush-qoxsv-deliver-release-history-as-plain-starlight-docs-section-defe.md
  docs/superpowers/plans/2026-06-28-release-notes-narrative-pipeline.md
  docs/superpowers/specs/2026-06-28-release-notes-narrative-pipeline-design.md
Due: none

docs(release): narrative release-notes pipeline — spec, plan, ADRs (holomush-dufb8) (#4540)
  docs/adr/README.md
  docs/adr/holomush-3rmph-source-release-narrative-from-roadmap-themes-and-bead-graph.md
  docs/adr/holomush-avxk7-release-narrative-via-session-claude-code-skill-not-ci-autom.md
  docs/adr/holomush-qoxsv-deliver-release-history-as-plain-starlight-docs-section-defe.md
  docs/superpowers/plans/2026-06-28-release-notes-narrative-pipeline.md
  docs/superpowers/specs/2026-06-28-release-notes-narrative-pipeline-design.md
Due: none

fix(release): release-page slug convention + exempt auto-generated releases/ from SP5 docs-quality audit (holomush-dufb8)
  .claude/commands/release-notes.md
  scripts/check-docs-quality.sh
Due: none

feat(site): release-history section + sidebar topic (holomush-dufb8)
  site/astro.config.mjs
  site/src/content/docs/releases/index.mdx
Due: none

feat(release): /release-notes orchestrator + collect task (holomush-dufb8)
  .claude/commands/release-notes.md
  Taskfile.yaml
Due: lint-yaml

feat(release): range collector for narrative release notes (holomush-dufb8)
  scripts/release-notes-collect.sh
  scripts/tests/release-notes.bats
Due: none

feat(release): INV-7-safe publisher for narrative release notes (holomush-dufb8)
  scripts/release-notes-publish.sh
  scripts/tests/release-notes.bats
Due: none

docs(release): v0.10.0 narrative notes + site post (holomush-dufb8)
  site/src/content/docs/releases/v0.10.0.md
Due: lint-markdown-site, fmt-markdown-site

fix(release): address PR #4542 review findings (holomush-dufb8)
  scripts/release-notes-collect.sh
  scripts/release-notes-publish.sh
  scripts/tests/cog-release.bats
  scripts/tests/release-notes.bats
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
