Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(02-02): complete mixed-script restriction and username pin plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-abac-schema-vocabulary/02-02-SUMMARY.md
Due: none

feat(02-03): add viewer, profile and admin_section entity prefixes
  internal/access/prefix.go
  internal/access/prefix_test.go
Due: lint-go

feat(02-03): add ViewerTierProvider for the viewer attribute namespace
  internal/access/policy/attribute/viewer.go
  internal/access/policy/attribute/viewer_test.go
Due: lint-go

docs(02-03): complete abac subject and resource vocabulary plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-abac-schema-vocabulary/02-03-SUMMARY.md
Due: none

feat(02-04): closed character lifecycle vocabulary and one selection predicate
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/world/character.go
  internal/world/character_test.go
  internal/world/lifecycle.go
  internal/world/lifecycle_test.go
  internal/world/postgres/character_repo.go
  test/integration/world/character_lifecycle_test.go
Due: lint-go

test(02-04): INV-WORLD-5 and INV-WORLD-6 integration proofs
  internal/grpc/auth_handlers_test.go
  internal/testsupport/integrationtest/harness.go
  test/integration/auth/auth_suite_test.go
  test/integration/world/character_lifecycle_test.go
  test/integration/world/world_suite_test.go
Due: lint-go

docs(02-04): amend INV-WORLD-6's enumeration and bind both world invariants
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(02-04): complete character lifecycle vocabulary plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-abac-schema-vocabulary/02-04-SUMMARY.md
Due: none

feat(02-05): compile a character-name block list into an immutable snapshot
  internal/charname/blocklist/blocklist.go
  internal/charname/blocklist/blocklist_test.go
  internal/charname/gate.go
  internal/charname/gate_test.go
Due: lint-go

feat(02-05): strict block-list loader, live cache, two-signal poller and its lifecycle owner
  cmd/holomush/core.go
  cmd/holomush/core_blocklist_wiring_test.go
  cmd/holomush/core_subsystems_test.go
  cmd/holomush/core_topo_order_test.go
  cmd/holomush/sub_grpc.go
  internal/bootstrap/setup/subsystem.go
  internal/bootstrap/setup/subsystem_test.go
  internal/charname/blocklist/cache.go
  internal/charname/blocklist/cache_test.go
  internal/charname/blocklist/poller.go
  internal/charname/blocklist/poller_test.go
  internal/charname/blocklist/subsystem.go
  internal/charname/blocklist/subsystem_test.go
  internal/lifecycle/subsystem.go
  internal/lifecycle/subsystemid_string.go
  internal/store/postgres.go
Due: lint-go

test(02-05): prove the block list against real Postgres
  test/integration/charname/name_blocklist_test.go
Due: lint-go

docs(02-05): complete character-name block list plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/02-abac-schema-vocabulary/02-05-SUMMARY.md
Due: none

feat(02-13): player-scoped roles behind a func-field seam
  internal/access/policy/attribute/player.go
  internal/access/policy/attribute/player_test.go
  internal/store/role_store.go
  internal/store/role_store_integration_test.go
  internal/store/role_store_player_roles_test.go
Due: lint-go

feat(02-13): player-keyed peers for the character-keyed property row fields
  internal/access/policy/attribute/property.go
  internal/access/policy/attribute/property_test.go
  internal/access/setup/setup.go
  internal/world/postgres/character_owner_resolver.go
  internal/world/postgres/character_owner_resolver_test.go
  test/integration/access/access_suite_test.go
Due: lint-go

feat(02-13): register every provider at the production composition root
  internal/access/setup/seed_coverage_test.go
  internal/access/setup/setup.go
  internal/access/setup/setup_viewer_registration_integ_test.go
  internal/access/setup/setup_viewer_registration_test.go
  internal/access/setup/subsystem.go
Due: lint-go

fix(02-13): unique player usernames in the PlayerRoles leak spec
  internal/store/role_store_integration_test.go
Due: lint-go

docs(02-13): complete row-level identity model plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/02-abac-schema-vocabulary/02-13-SUMMARY.md
Due: none

test(02-06): charname.Admitted plus the admission census, observed RED
  internal/charname/admission.go
  internal/charname/admission_test.go
  test/meta/character_name_admission_test.go
Due: lint-go

feat(02-06): gate the character-name writer boundary and serialize it
  internal/access/policy/attribute/character_test.go
  internal/auth/character_genesis.go
  internal/world/postgres/admission_fixture_test.go
  internal/world/postgres/character_repo.go
  internal/world/postgres/character_repo_test.go
  internal/world/postgres/identity_backfill.go
  internal/world/postgres/identity_backfill_test.go
  internal/world/postgres/negative_path_test.go
  internal/world/postgres/postgres_test.go
  internal/world/postgres/skeleton_guard.go
  internal/world/postgres/skeleton_guard_test.go
  internal/world/repository.go
  internal/world/worldtest/mock_CharacterRepository.go
  test/meta/character_name_admission_test.go
Due: lint-go

feat(02-06): run the gate at every admission call site and all three roots
  cmd/holomush/sub_grpc.go
  internal/auth/character_genesis_integration_test.go
  internal/auth/character_genesis_test.go
  internal/auth/character_service.go
  internal/auth/character_service_test.go
  internal/auth/guest_service.go
  internal/auth/guest_service_test.go
  internal/auth/mocks/mock_CharacterRepository.go
  internal/auth/mocks/mock_GuestCharacterRepository.go
  internal/bootstrap/setup/adapters.go
  internal/bootstrap/setup/subsystem.go
  internal/testsupport/integrationtest/harness.go
  internal/world/character_test.go
  internal/world/postgres/character_repo_test.go
  internal/world/postgres/identity_backfill.go
  internal/world/postgres/skeleton_guard.go
  internal/world/postgres/skeleton_guard_test.go
  internal/world/validation.go
  test/integration/auth/auth_suite_test.go
  test/integration/auth/character_create_gate_test.go
  test/integration/auth/guest_reaper_race_test.go
  test/integration/auth/guest_reaper_tombstone_test.go
  test/integration/world/character_lifecycle_test.go
  test/integration/world/world_suite_test.go
Due: lint-go

docs(02-06): complete the gated character-name writer boundary plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/02-abac-schema-vocabulary/02-06-SUMMARY.md
Due: none

feat(02-07): seed viewer-tier floors and profile reachability
  internal/access/policy/seed.go
  internal/access/policy/seed_profile_visibility_test.go
  internal/access/policy/seed_test.go
Due: lint-go

feat(02-07): seed the five viewer read twins and the PROFILE-11 widening
  internal/access/policy/bootstrap_test.go
  internal/access/policy/seed.go
  internal/access/policy/seed_profile_visibility_test.go
  internal/access/policy/seed_test.go
Due: lint-go

feat(02-07): seed admin-section access and add the shared ABAC engine builder
  internal/access/policy/seed.go
  internal/access/policy/seed_profile_smoke_test.go
  internal/access/policy/seed_profile_visibility_test.go
  internal/access/policy/seed_test.go
  internal/access/setup/buildabacstack_seed_coverage_integ_test.go
  internal/testsupport/abactest/abactest.go
  internal/testsupport/abactest/abactest_test.go
Due: lint-go

fix(02-07): update S3 to the post-widening posture and pin the parent_type guard
  test/integration/access/seed_policies_test.go
Due: lint-go

docs(02-07): complete the profile-visibility and admin-section seed plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-abac-schema-vocabulary/02-07-SUMMARY.md
Due: none

feat(02-08): profilevis conjunction evaluator for the §8.5.1 tier-floor AND row-keyed decision
  internal/access/profilevis/profilevis.go
  internal/access/profilevis/profilevis_test.go
Due: lint-go

test(02-08): fourth-rung tier-floor gate, observed RED against an ordinal clearing test
  internal/access/profilevis/tierfloor_test.go
Due: lint-go

test(02-08): D-04 additive-permit regression and the §8.6 totality suite
  internal/access/profilevis/profilevis_test.go
Due: lint-go

docs(02-08): complete the profile-visibility conjunction plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-abac-schema-vocabulary/02-08-SUMMARY.md
Due: none

feat(02-09): admin section registry with a mandatory id-derived descriptor
  internal/admin/section/registry.go
  internal/admin/section/registry_test.go
Due: lint-go

feat(02-09): gate-then-distinguish admin section helper with the denial suite
  internal/admin/section/gate.go
  internal/admin/section/gate_test.go
Due: lint-go

feat(02-09): wire section.ValidateAtBoot into startup and pin INV-PRIVACY-11
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/admin/section/boot.go
  internal/admin/section/boot_test.go
  internal/bootstrap/setup/subsystem.go
Due: lint-go, lint-yaml

docs(02-09): complete the admin section registry and gate plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-abac-schema-vocabulary/02-09-SUMMARY.md
Due: none

feat(02-12): migrations 000055 + 000056 and the fixture repair the NOT NULL forces
  cmd/holomush/admin_authenticate_e2e_test.go
  internal/access/setup/setup_viewer_registration_integ_test.go
  internal/auth/guest_service.go
  internal/auth/postgres/player_repo_test.go
  internal/bootstrap/setup/adapters.go
  internal/settings/character_store_integration_test.go
  internal/store/go_migration_census.go
  internal/store/migrate.go
  internal/store/migrate_embed_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000055_backfill_character_normalized_names.go
  internal/store/migrations/000056_character_normalized_name_unique.sql
  internal/store/migrations_register_test.go
  internal/store/role_store_integration_test.go
  internal/testsupport/chartest/chartest.go
  internal/testsupport/holomushtest/server.go
  internal/testsupport/integrationtest/harness.go
  internal/world/postgres/binding_repo_test.go
  internal/world/postgres/cascade_delete_test.go
  internal/world/postgres/character_owner_resolver_test.go
  internal/world/postgres/identity_backfill.go
  internal/world/postgres/identity_backfill_test.go
  internal/world/postgres/location_repo_test.go
  internal/world/postgres/object_repo_test.go
  internal/world/postgres/parent_location_resolver_test.go
  internal/world/postgres/postgres_test.go
  internal/world/postgres/scene_repo_test.go
  test/integration/access/access_suite_test.go
  test/integration/access/evaluation_test.go
  test/integration/access/seed_policies_test.go
  test/integration/auth/auth_suite_test.go
  test/integration/auth/character_create_gate_test.go
  test/integration/charname/name_confusable_test.go
  test/integration/world/world_suite_test.go
  test/meta/world_import_graph_test.go
Due: lint-go

feat(02-12): holomush character name — the operator resolution CLI, registered on the root
  cmd/holomush/cmd_character_name.go
  cmd/holomush/cmd_character_name_integration_test.go
  cmd/holomush/cmd_character_name_test.go
  cmd/holomush/gateway_imports_test.go
  cmd/holomush/root.go
  cmd/holomush/root_test.go
Due: lint-go

test(02-12): RED-first uniqueness proof, the write-window specs, and the duplicates loop
  test/integration/charname/name_duplicates_test.go
  test/integration/charname/name_uniqueness_test.go
  test/integration/charname/name_write_window_test.go
Due: lint-go

docs(02-12): complete the database-decides-uniqueness plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-abac-schema-vocabulary/02-12-SUMMARY.md
Due: none

docs(02-12): record the outstanding INV-WORLD-4 writer-count amendment in the ledger
  .planning/WINDOWS.md
Due: none

docs(02-10): the exposure audit, split into a committed ledger and an operator-only detail query
  .planning/phases/02-abac-schema-vocabulary/02-AUDIT-detail-operator-only.sql
  .planning/phases/02-abac-schema-vocabulary/02-AUDIT-profile-public-read.sql
Due: none
