Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(06-01): advance state + roadmap after plan 06-01 complete
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

test(06-03): RED — nats-server version-floor guard fails below v2.14.3
  cmd/nats-floor-guard/main_test.go
Due: lint-go

feat(06-03): GREEN — nats version-floor guard + wire into lint:vuln
  Taskfile.yaml
  cmd/nats-floor-guard/main.go
  go.mod
Due: lint-go, lint-yaml

chore(06-03): allowlist 5 test-only docker/docker vulns in osv-scanner.toml
  osv-scanner.toml
Due: none

fix(06-03): bump nats-server/v2 v2.14.2 -> v2.14.3 (CVE remediation)
  go.mod
  go.sum
Due: none

feat(06-03): add vuln: CI job (rendered name Vuln) running task lint:vuln
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

docs(06-03): correct criteria #2/#3 — assumption A4 false, floor-guard mechanism
  .planning/phases/06-operational-hardening-assurance-gates/06-03-PLAN.md
Due: none

docs(06-03): complete OPS-03 vuln-gate plan (impl); Task 4 ruleset pending at ship
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-operational-hardening-assurance-gates/06-03-SUMMARY.md
Due: none

feat(06-04): codecov project ratchet (auto/1%); drop duplicate codecov.yml
  .codecov.yml
  codecov.yml
Due: lint-yaml

docs(06-04): correct fictional per-package coverage MUST to enforced reality
  .claude/rules/testing.md
  CLAUDE.md
Due: none

docs(06-04): complete QUAL-01 coverage-policy reconciliation plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-operational-hardening-assurance-gates/06-04-SUMMARY.md
Due: none

feat(06-02): events_audit PartitionManager — detach-rename-drop + provenance marker
  internal/eventbus/audit/retention_partitions.go
  internal/eventbus/audit/retention_partitions_test.go
Due: lint-go

feat(06-02): one-time Backfill re-homes legacy events_audit_unpartitioned rows
  internal/eventbus/audit/retention_partitions.go
  internal/eventbus/audit/retention_partitions_test.go
Due: lint-go

feat(06-02): wire RetentionWorker into audit subsystem + config + boot gate
  cmd/holomush/core.go
  internal/audit/retention.go
  internal/audit/retention_test.go
  internal/eventbus/audit/retention_partitions.go
  internal/eventbus/audit/subsystem.go
  internal/eventbus/audit/subsystem_boot_gate_integration_test.go
  internal/eventbus/audit/subsystem_test.go
  internal/eventbus/config.go
Due: lint-go

feat(06-02): bootstrap orphan check also scans events_audit_unpartitioned
  cmd/holomush/bootstrap_orphan.go
  cmd/holomush/bootstrap_orphan_test.go
Due: lint-go

feat(06-02): re-choreograph deploy for the 000052 migration window
  .github/workflows/deploy.yaml
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

docs(06-02): complete events_audit retention + deploy-choreography plan
  .planning/phases/06-operational-hardening-assurance-gates/06-02-SUMMARY.md
Due: none

docs(06-02): update STATE + ROADMAP progress — 06-02 complete
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(06-05): resolve DLQ replay game_id mirroring the server (override → core.game_id → DB)
  cmd/holomush/cmd_audit.go
  cmd/holomush/cmd_audit_test.go
Due: lint-go

test(06-05): divergent-game natstest DLQ replay test driving the real resolver seam
  cmd/holomush/cmd_audit.go
  cmd/holomush/cmd_audit_dlq_replay_integration_test.go
  internal/eventbus/audit/dlq_replay_integration_test.go
Due: lint-go

docs(06-05): complete audit-DLQ replay game_id resolution plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-operational-hardening-assurance-gates/06-05-SUMMARY.md
Due: none

fix(06-02): schema-qualify PartitionManager DDL to public (robust to leaked search_path)
  internal/eventbus/audit/retention_partitions.go
  internal/eventbus/audit/retention_partitions_test.go
Due: lint-go

test(06-02): drop redundant non-LOCAL SET search_path leak in eventbus_e2e harness
  test/integration/eventbus_e2e/suite_test.go
Due: lint-go

docs(06-02): note post-completion search_path-leak fix in 06-02 SUMMARY
  .planning/phases/06-operational-hardening-assurance-gates/06-02-SUMMARY.md
Due: none

fix(06-02): complete search_path hardening — qualify Backfill/RENAME/HealthCheck
  internal/eventbus/audit/retention_partitions.go
  internal/eventbus/audit/retention_partitions_test.go
Due: lint-go

fix(06-02): Backfill skips+logs malformed legacy rows instead of bricking boot
  internal/eventbus/audit/retention_partitions.go
  internal/eventbus/audit/retention_partitions_test.go
Due: lint-go

fix(06-02): deploy pre-migrate probe uses reltuples estimate
  .github/workflows/deploy.yaml
Due: lint-yaml, lint-actions

test(06-02): re-target boot-gate failure test after malformed-row skip
  internal/eventbus/audit/subsystem_boot_gate_integration_test.go
Due: lint-go

docs(06): resolve code-review findings (WR-01/02 fixed, WR-03 tracked, IN-01/IN-02)
  .planning/phases/06-operational-hardening-assurance-gates/06-REVIEW.md
Due: none

docs(phase-06): complete phase execution
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-operational-hardening-assurance-gates/06-VERIFICATION.md
Due: none

docs(phase-06): add security threat verification (SECURITY.md)
  .planning/phases/06-operational-hardening-assurance-gates/06-SECURITY.md
Due: none

docs(06): ship phase 6 — PR #4819
  .planning/STATE.md
Due: none

ci(vuln): run the vuln gate on the 4x8 runner (OOM fix)
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

fix(deps): bump Go toolchain to 1.26.5 (crypto/tls GO-2026-5856)
  .planning/PROJECT.md
  .planning/codebase/STACK.md
  go.mod
  gorules/go.mod
Due: none

fix(audit): apply CodeRabbit review — schema-qualify audit migration, harden retention & floor guard
  .planning/codebase/STACK.md
  .planning/phases/06-operational-hardening-assurance-gates/06-PATTERNS.md
  cmd/nats-floor-guard/main.go
  cmd/nats-floor-guard/main_test.go
  internal/admin/readstream/cold_reader_integration_test.go
  internal/audit/retention_test.go
  internal/eventbus/audit/retention_partitions.go
  internal/eventbus/audit/retention_partitions_test.go
  internal/eventbus/history/cold_postgres_integration_test.go
  internal/store/migrations/000052_events_audit_partition.down.sql
  internal/store/migrations/000052_events_audit_partition.up.sql
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
Due: lint-go, lint-markdown-site, fmt-markdown-site

docs(07): capture phase context
  .planning/phases/07-event-model-bootstrap-decomposition/07-CONTEXT.md
  .planning/phases/07-event-model-bootstrap-decomposition/07-DISCUSSION-LOG.md
Due: none

docs(state): record phase 7 context session
  .planning/STATE.md
Due: none

docs(07): research event-model & bootstrap decomposition
  .planning/phases/07-event-model-bootstrap-decomposition/07-RESEARCH.md
Due: none

docs(07): add validation strategy
  .planning/phases/07-event-model-bootstrap-decomposition/07-VALIDATION.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
