Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

style: trailing newline in .claude/settings.json
  .claude/settings.json
Due: none

fix: apply CodeRabbit auto-fixes (round 2)
  .github/workflows/bootstrap-sandbox.yaml
  .github/workflows/release.yaml
  deploy/doctl/README.md
  deploy/doctl/firewall-sandbox.json
  docker/postgres-backup/backup.sh
  docs/superpowers/plans/2026-04-18-sandbox-deployment.md
  docs/superpowers/plans/sandbox-deployment-drafts/sandbox-operations.md
  scripts/cloud-init.sh
  site/docs/operating/sandbox-operations.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

fix: apply CodeRabbit auto-fixes (round 3)
  .github/workflows/bootstrap-sandbox.yaml
  .github/workflows/release.yaml
  compose.prod.yaml
  scripts/cloud-init.sh
  site/docs/operating/sandbox-operations.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

fix: apply CodeRabbit auto-fixes (round 5)
  .github/workflows/bootstrap-sandbox.yaml
  scripts/cloud-init.sh
  site/docs/operating/sandbox-operations.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions

feat(eventbus+grpc): F3 — Subscribe via JetStream; delete cursor_lock + replay
  cmd/holomush/sub_grpc.go
  internal/core/event_writer.go
  internal/eventbus/subjectxlate/subjectxlate.go
  internal/eventbus/subjectxlate/subjectxlate_test.go
  internal/eventbus/subscriber.go
  internal/eventbus/subscriber_test.go
  internal/grpc/cursor_lock.go
  internal/grpc/cursor_lock_test.go
  internal/grpc/location_follow.go
  internal/grpc/location_follow_test.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/replay.go
  internal/grpc/replay_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/grpc/stream_registry.go
  internal/grpc/test_helpers_test.go
  internal/plugin/event_emitter.go
  test/integration/plugin/session_streams_integration_test.go
  test/integration/session/session_persistence_integration_test.go
  test/integration/telnet/e2e_test.go
  web/e2e/terminal.spec.ts
Due: lint-go, schema-sync

feat(eventbus+grpc): F4 — QueryHistory via JS/PG tier crossover reader
  cmd/holomush/sub_grpc.go
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/history/tier.go
  internal/eventbus/history/tier_test.go
  internal/eventbus/subsystem.go
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/server.go
  web/e2e/terminal.spec.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: lint-go

feat(eventbus): F1 — EventSink publishes via JetStream bus
  cmd/holomush/core.go
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_test.go
  internal/eventbus/eventbustest/embedded.go
  internal/eventbus/publisher.go
  internal/eventbus/subsystem.go
  internal/plugin/event_emitter.go
  internal/plugin/event_emitter_test.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/plugin/manager.go
  internal/plugin/manager_routing_test.go
  internal/plugin/subscriber_test.go
  pkg/plugin/event.go
  pkg/plugin/event_sink.go
  pkg/plugin/service_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  test/integration/plugin/binary_plugin_test.go
  web/e2e/terminal.spec.ts
Due: lint-go, schema-sync

feat(eventbus/audit): F2 — subject ownership routing + plugin exclusion
  go.mod
  go.sum
  internal/eventbus/audit/lag_metric.go
  internal/eventbus/audit/manifest_subjects.go
  internal/eventbus/audit/manifest_subjects_test.go
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_test.go
  internal/eventbus/audit/subsystem.go
Due: lint-go

feat(eventbus+plugins): F5 — plugin audit infrastructure + per-plugin consumer
  cmd/holomush/core.go
  cmd/holomush/sub_grpc.go
  internal/core/event.go
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/audit/plugin_consumer_test.go
  internal/eventbus/audit/plugin_router.go
  internal/eventbus/audit/plugin_router_test.go
  internal/eventbus/audit/subsystem.go
  internal/eventbus/audit/subsystem_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/host.go
  internal/plugin/manager.go
  internal/plugin/manager_audit_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_audit_test.go
  plugins/core-scenes/audit.go
  plugins/core-scenes/main.go
  plugins/core-scenes/migrations/000004_create_scene_log.down.sql
  plugins/core-scenes/migrations/000004_create_scene_log.up.sql
  plugins/core-scenes/plugin.yaml
  plugins/core-scenes/store.go
  schemas/plugin.schema.json
  web/e2e/helpers/db.ts
  web/e2e/terminal.spec.ts
Due: lint-go, lint-yaml, schema-sync

feat(store): F6 — drop events table and event_cursors column
  internal/core/event_writer.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000010_drop_events_and_cursors.down.sql
  internal/store/migrations/000010_drop_events_and_cursors.up.sql
  internal/store/postgres_integration_test.go
  internal/store/session_store.go
  internal/store/session_store_integration_test.go
  internal/store/session_store_test.go
  test/integration/auth/player_session_test.go
  test/integration/list_session_streams/list_session_streams_integration_test.go
  test/integration/session_lifecycle/fanout_integration_test.go
  test/integration/session_lifecycle/logout_eviction_integration_test.go
  test/integration/session_lifecycle/ordering_integration_test.go
  test/integration/session_lifecycle/quit_regression_integration_test.go
  test/integration/session_lifecycle/session_lifecycle_suite_test.go
  test/integration/stream_history/query_stream_history_test.go
  test/integration/telnet/e2e_test.go
  test/integration/world/character_events_test.go
Due: lint-go

docs: F9 — document new EventBus + supersede prior event-delivery spec
  CLAUDE.md
  README.md
  docs/specs/2026-03-20-event-delivery-redesign.md
  site/docs/contributing/event-delivery.md
  site/docs/contributing/event-store.md
  site/docs/contributing/index.md
  site/docs/operating/operations.md
  site/zensical.toml
Due: lint-markdown-site, fmt-markdown-site

refactor(scripts): rewrite bootstrap-seed-secrets in Python with strict validation (holomush-2b26)
  .github/workflows/scripts-tests.yaml
  .gitignore
  scripts/README.md
  scripts/bootstrap-seed-secrets.sh
  scripts/bootstrap_seed_secrets.py
  scripts/pyproject.toml
  scripts/tests/__init__.py
  scripts/tests/test_bootstrap_seed_secrets.py
  scripts/uv.lock
Due: lint-yaml, lint-actions

test(eventbus): F8 — port invariant suite + add full E2E matrix + nightly soak
  .github/workflows/nightly-soak.yml
  Taskfile.yaml
  api/proto/holomush/eventbus/v1/eventbus.proto
  cmd/holomush/core.go
  cmd/holomush/sub_grpc.go
  docs/specs/2026-03-20-event-delivery-redesign.md
  internal/core/engine.go
  internal/core/engine_test.go
  internal/eventbus/audit/manifest_subjects.go
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/audit/plugin_consumer_test.go
  internal/eventbus/audit/plugin_router.go
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/subsystem.go
  internal/eventbus/eventbustest/embedded.go
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/history/tier.go
  internal/eventbus/integration_test.go
  internal/eventbus/publisher.go
  internal/eventbus/subscriber.go
  internal/eventbus/types.go
  internal/grpc/query_stream_history.go
  internal/grpc/stream_registry.go
  internal/plugin/event_emitter_test.go
  pkg/proto/holomush/eventbus/v1/eventbus.pb.go
  test/integration/eventbus_e2e/audit_drift_detector_test.go
  test/integration/eventbus_e2e/backfill_rebuild_test.go
  test/integration/eventbus_e2e/cross_tier_query_test.go
  test/integration/eventbus_e2e/js_storage_corruption_test.go
  test/integration/eventbus_e2e/multi_protocol_fanout_test.go
  test/integration/eventbus_e2e/plugin_audit_isolation_test.go
  test/integration/eventbus_e2e/plugin_crash_resilience_test.go
  test/integration/eventbus_e2e/reconnect_resume_test.go
  test/integration/eventbus_e2e/soak_test.go
  test/integration/eventbus_e2e/suite_test.go
  web/src/lib/connect/holomush/eventbus/v1/eventbus_pb.ts
Due: lint-go, lint-yaml, lint-actions, schema-sync

test(eventbus+grpc): restore unit coverage deleted by F7
  internal/eventbus/audit/plugin_consumer_unit_test.go
  internal/eventbus/audit/plugin_router_test.go
  internal/eventbus/history/hot_jetstream_test.go
  internal/eventbus/publisher_test.go
  internal/eventbus/subscriber_test.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/server_helpers_test.go
Due: lint-go

test(grpc+eventbus): round 2 — Subscribe live loop + error paths
  internal/eventbus/actor_conversion_test.go
  internal/eventbus/decode_delivery_test.go
  internal/eventbus/history/actor_from_envelope_test.go
  internal/eventbus/history/cold_postgres_unit_test.go
  internal/eventbus/history/decode_jetstream_test.go
  internal/grpc/subscribe_integration_test.go
  internal/grpc/subscribe_loop_test.go
Due: lint-go

test(eventbus): round 3 — push testable eventbus code toward ~100%
  cmd/holomush/sub_grpc_adapters_test.go
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/audit/plugin_consumer_round3_test.go
  internal/eventbus/eventbustest/embedded_test.go
  internal/eventbus/history/hot_jetstream_round3_test.go
  internal/eventbus/history/tier_round3_test.go
  internal/eventbus/subscriber_round3_test.go
  internal/plugin/event_emitter_round3_test.go
Due: lint-go, schema-sync

fix: apply CodeRabbit auto-fixes (PR #252 round 2)
  cmd/holomush/sub_grpc.go
  internal/core/engine.go
  internal/core/engine_test.go
  internal/eventbus/actor_conversion_test.go
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/audit/plugin_router_test.go
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/hot_jetstream_test.go
  internal/eventbus/history/tier.go
  internal/eventbus/history/tier_round3_test.go
  internal/eventbus/publisher_test.go
  internal/eventbus/subscriber.go
  internal/eventbus/subscriber_round3_test.go
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/server_helpers_test.go
  internal/grpc/stream_registry.go
  internal/grpc/stream_registry_test.go
  internal/grpc/subscribe_loop_test.go
  internal/grpc/subscribe_server_test.go
  internal/plugin/event_emitter_round3_test.go
Due: lint-go, schema-sync

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
