Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        command -v addlicense >/dev/null 2>&1 || {
          echo "Installing addlicense..."
          go install github.com/google/addlicense@latest
        }
        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      run: markdownlint-cli2 {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamllint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

bd daemon sync: 2026-01-20 20:12:10
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:16:40
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:17:02
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:17:29
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:17:40
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:17:47
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:19:15
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:19:38
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-20 20:19:52
  .beads/issues.jsonl
Due: none

docs(plan): add error handling modernization design (#30)
  docs/plans/2026-01-20-error-handling-modernization.md
Due: lint-markdown

docs(plans): add testing libraries adoption design (#31)
  docs/plans/2026-01-20-testing-libraries-design.md
Due: lint-markdown

docs(plans): add detailed implementation plans for error handling and testing
  docs/plans/2026-01-20-error-handling-implementation.md
  docs/plans/2026-01-20-testing-libraries-implementation.md
Due: lint-markdown

docs(plans): address review feedback
  docs/plans/2026-01-20-error-handling-implementation.md
  docs/plans/2026-01-20-testing-libraries-implementation.md
Due: lint-markdown

docs(plans): add implementation plans for error handling and testing (#32)
  docs/plans/2026-01-20-error-handling-implementation.md
  docs/plans/2026-01-20-testing-libraries-implementation.md
Due: lint-markdown

build(deps): add testing libraries and oops for error handling
  Taskfile.yaml
  go.mod
  go.sum
  tools.go
Due: lint-go, lint-yaml

bd daemon sync: 2026-01-20 20:39:06
  .beads/issues.jsonl
Due: none

build: configure mockery for mock generation
  .mockery.yaml
  internal/core/mocks/mock_EventStore.go
  internal/grpc/mocks/mock_Authenticator.go
  internal/grpc/mocks/mock_SessionStore.go
Due: lint-go, lint-yaml

feat(errutil): add helper package for oops error logging and testing
  pkg/errutil/doc.go
  pkg/errutil/log.go
  pkg/errutil/log_test.go
  pkg/errutil/testing.go
  pkg/errutil/testing_test.go
Due: lint-go

bd daemon sync: 2026-01-20 20:42:35
  .beads/issues.jsonl
Due: none

test(store): migrate to testify assertions
  internal/store/postgres_test.go
Due: lint-go

test(core): migrate to testify assertions
  internal/core/broadcaster_test.go
  internal/core/command_test.go
  internal/core/engine_test.go
  internal/core/event_test.go
  internal/core/session_test.go
  internal/core/store_test.go
  internal/core/ulid_test.go
Due: lint-go

test(grpc): migrate to testify assertions
  internal/grpc/client_test.go
  internal/grpc/server_test.go
Due: lint-go

test(plugin): migrate to testify assertions
  internal/plugin/capability/enforcer_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/hostfunc/functions_test.go
  internal/plugin/lua/host_test.go
  internal/plugin/lua/state_internal_test.go
  internal/plugin/lua/state_test.go
  internal/plugin/manager_test.go
  internal/plugin/manifest_test.go
  internal/plugin/schema_test.go
  internal/plugin/subscriber_test.go
Due: lint-go, schema-sync

test(control): migrate to testify assertions
  cmd/holomush/core_test.go
  cmd/holomush/deps_test.go
  cmd/holomush/gateway_test.go
  cmd/holomush/main_test.go
  cmd/holomush/status_test.go
  internal/control/grpc_server_test.go
  internal/telnet/handler_test.go
  internal/telnet/server_test.go
  internal/tls/certs_test.go
Due: lint-go

test: migrate remaining packages to testify assertions
  internal/logging/handler_test.go
  internal/observability/server_test.go
  internal/xdg/xdg_test.go
  pkg/plugin/adapter_test.go
  pkg/plugin/event_test.go
  pkg/plugin/sdk_test.go
  pkg/proto/holomush/plugin/v1/grpc_test.go
  pkg/proto/holomush/plugin/v1/hostfunc_test.go
  pkg/proto/holomush/plugin/v1/plugin_test.go
Due: lint-go

refactor(cmd): migrate to oops structured errors with error codes
  cmd/holomush/core.go
  cmd/holomush/deps_test.go
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
  cmd/holomush/migrate.go
  cmd/holomush/status.go
  cmd/holomush/status_test.go
Due: lint-go

refactor(plugin,tls): migrate to oops structured errors
  .golangci.yaml
  internal/plugin/capability/enforcer.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/plugin/lua/state.go
  internal/plugin/lua/state_internal_test.go
  internal/plugin/manager.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  internal/plugin/schema.go
  internal/tls/certs.go
  internal/tls/certs_test.go
Due: lint-go, lint-yaml, schema-sync

refactor: migrate remaining packages to oops structured errors
  internal/control/grpc_server.go
  internal/control/grpc_server_test.go
  internal/core/engine.go
  internal/core/engine_test.go
  internal/core/ulid.go
  internal/grpc/client.go
  internal/grpc/server.go
  internal/observability/server.go
  internal/store/postgres.go
  internal/store/postgres_test.go
  internal/telnet/server.go
  internal/xdg/xdg.go
  pkg/plugin/adapter_test.go
  pkg/plugin/sdk.go
Due: lint-go

test(store): update error assertions for oops-wrapped errors
  internal/store/postgres_test.go
Due: lint-go

test(status): fix assertion for oops-wrapped error message
  cmd/holomush/status_test.go
Due: lint-go

test(cmd): fix assertions for oops-wrapped error messages
  cmd/holomush/core_test.go
  cmd/holomush/main_test.go
Due: lint-go

bd daemon sync: 2026-01-20 21:48:05
  .beads/issues.jsonl
Due: none

test: replace hand-rolled mocks with mockery and migrate integration tests to ginkgo
  .mockery.yaml
  internal/plugin/hostfunc/mocks/mock_CapabilityChecker.go
  internal/plugin/hostfunc/mocks/mock_KVStore.go
  internal/plugin/integration_test.go
  internal/plugin/manager_test.go
  internal/plugin/mocks/mock_EventEmitter.go
  internal/plugin/mocks/mock_Host.go
  internal/plugin/plugin_suite_test.go
  internal/store/postgres_integration_test.go
  internal/store/store_suite_test.go
  test/integration/integration_suite_test.go
  test/integration/phase1_5_test.go
Due: lint-go, lint-yaml, schema-sync

docs: add oops error handling patterns to CLAUDE.md
  CLAUDE.md
Due: lint-markdown

deps: move oops to direct dependencies
  go.mod
Due: none

fix: resolve 139 lint issues from golangci-lint v2 migration
  .golangci.yaml
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/gateway.go
  cmd/holomush/status.go
  internal/control/grpc_server.go
  internal/control/grpc_server_test.go
  internal/grpc/server.go
  internal/observability/server.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/lua/host.go
  internal/plugin/manager.go
  internal/plugin/manifest_test.go
  internal/plugin/schema.go
  internal/telnet/server_test.go
  internal/tls/certs.go
Due: lint-go, lint-yaml, schema-sync

bd daemon sync: 2026-01-21 19:49:36
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 19:55:18
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-21 19:56:56
  .beads/issues.jsonl
Due: none
