Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

test(privacy): I-PRIV-7 placeholder skip (no plugin uses history_scope: custom yet)
  test/integration/privacy/privacy_suite_test.go
  test/integration/privacy/privacy_test.go
Due: lint-go

feat(grpc): scope_floor helpers (streamScopeFloor, isLocationStream) (iwzt.7) (#4040)
  internal/grpc/scope_floor.go
  internal/grpc/scope_floor_test.go
Due: lint-go

feat(grpc): set LocationArrivedAt on fresh+reattach session paths (iwzt rule-3)
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/server.go
  internal/grpc/subscribe_server_test.go
Due: lint-go

feat(grpc): QueryStreamHistory location hard-gate + scope floor (iwzt Phase 2)
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/scope_floor.go
Due: lint-go

feat(grpc): set LocationArrivedAt on fresh+reattach session paths (iwzt.3) (#4041)
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/server.go
  internal/grpc/subscribe_server_test.go
Due: lint-go

feat(world): MovementHook interface + sessions/characters location-sync (iwzt kmac)
  cmd/holomush/sub_grpc.go
  internal/world/movement_hook.go
  internal/world/movement_hook_test.go
  internal/world/service.go
Due: lint-go

feat(world): MovementHook interface + character-move session-sync (iwzt.4) (#4042)
  cmd/holomush/sub_grpc.go
  internal/world/movement_hook.go
  internal/world/movement_hook_test.go
  internal/world/service.go
Due: lint-go

feat(auth): capture guest character.CreatedAt into SessionInfo (iwzt I-PRIV-2)
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/scope_floor.go
Due: lint-go

feat(auth): capture guest character.CreatedAt into SessionInfo (iwzt.5) (#4043)
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/scope_floor.go
Due: lint-go

feat(grpc): QueryStreamHistory location hard-gate + scope floor (iwzt.8) (#4046)
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/scope_floor.go
Due: lint-go

refactor(eventbus): OpenSession + SetFilters use NATS-source-of-truth builder (iwzt.13) (#4044)
  internal/eventbus/subscriber.go
  internal/eventbus/subscriber_consumer_config.go
Due: lint-go

test(privacy): I-PRIV-7 placeholder skip (iwzt.23) (#4045)
  test/integration/privacy/privacy_suite_test.go
  test/integration/privacy/privacy_test.go
Due: lint-go

fix(grpc,spec): reattach within TTL preserves LocationArrivedAt (holomush-lj2r)
  docs/superpowers/specs/2026-05-17-history-scope-privacy-design.md
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/server.go
  internal/grpc/subscribe_server_test.go
Due: lint-go

fix(grpc,spec): reattach within TTL preserves LocationArrivedAt (holomush-lj2r) (#4050)
  docs/superpowers/specs/2026-05-17-history-scope-privacy-design.md
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/server.go
  internal/grpc/subscribe_server_test.go
Due: lint-go

feat(eventbus): plumb minFloor through OpenSession + SetFilters (iwzt Tier 1)
  internal/eventbus/bus.go
  internal/eventbus/bus_test.go
  internal/eventbus/eventbustest/embedded_test.go
  internal/eventbus/integration_test.go
  internal/eventbus/publisher_test.go
  internal/eventbus/subscriber.go
  internal/eventbus/subscriber_round3_test.go
  internal/eventbus/subscriber_test.go
  internal/grpc/scope_floor.go
  internal/grpc/scope_floor_test.go
  internal/grpc/server.go
  internal/grpc/server_helpers_test.go
  internal/grpc/subscribe_server_test.go
  test/integration/auth/auth_suite_test.go
  test/integration/crypto/e2e_test.go
  test/integration/crypto/metadata_only_test.go
  test/integration/crypto/plugin_decrypt_test.go
  test/integration/eventbus_e2e/multi_protocol_fanout_test.go
  test/integration/eventbus_e2e/reconnect_resume_test.go
Due: lint-go

feat(eventbus): plumb minFloor through OpenSession (iwzt.14) (#4047)
  internal/eventbus/bus.go
  internal/eventbus/bus_test.go
  internal/eventbus/eventbustest/embedded_test.go
  internal/eventbus/integration_test.go
  internal/eventbus/publisher_test.go
  internal/eventbus/subscriber.go
  internal/eventbus/subscriber_round3_test.go
  internal/eventbus/subscriber_test.go
  internal/grpc/scope_floor.go
  internal/grpc/scope_floor_test.go
  internal/grpc/server.go
  internal/grpc/server_helpers_test.go
  internal/grpc/subscribe_server_test.go
  test/integration/auth/auth_suite_test.go
  test/integration/crypto/e2e_test.go
  test/integration/crypto/metadata_only_test.go
  test/integration/crypto/plugin_decrypt_test.go
  test/integration/eventbus_e2e/multi_protocol_fanout_test.go
  test/integration/eventbus_e2e/reconnect_resume_test.go
Due: lint-go

feat(plugin): EmitRegistry SDK + emit-type validator for INV-S5 (jg9b.3)
  internal/plugin/emit_type_validator.go
  internal/plugin/emit_type_validator_test.go
  pkg/plugin/emit_registry.go
  pkg/plugin/emit_registry_test.go
Due: lint-go, schema-sync

feat(grpc): real staffOverride + I-PRIV-6 enforcement (iwzt Phase 5)
  internal/grpc/query_stream_history_test.go
  internal/grpc/scope_floor.go
  internal/testsupport/privacytest/privacy_harness.go
  internal/testsupport/privacytest/privacy_session.go
  test/integration/privacy/privacy_suite_test.go
  test/integration/privacy/privacy_test.go
Due: lint-go

chore(coderabbit): publish commit status so required CodeRabbit check clears
  .coderabbit.yaml
Due: lint-yaml

chore(coderabbit): publish commit status so required CodeRabbit check clears (#4055)
  .coderabbit.yaml
Due: lint-yaml

feat(grpc): real staffOverride + I-PRIV-6 enforcement (iwzt.20) (#4048)
  internal/grpc/query_stream_history_test.go
  internal/grpc/scope_floor.go
  internal/testsupport/privacytest/privacy_harness.go
  internal/testsupport/privacytest/privacy_session.go
  test/integration/privacy/privacy_suite_test.go
  test/integration/privacy/privacy_test.go
Due: lint-go

feat(plugin/hostfunc): Lua register_emit_type hostfunc + capture entry point (jg9b.3)
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/functions_internal_test.go
  internal/plugin/hostfunc/stdlib_emit_registry.go
  internal/plugin/hostfunc/stdlib_emit_registry_test.go
Due: lint-go, schema-sync

feat(plugin): InitResponse.registered_emit_types proto field + SDK adapter (jg9b.3)
  api/proto/holomush/plugin/v1/plugin.proto
  pkg/plugin/sdk.go
  pkg/plugin/sdk_adapter_test.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go

docs(jj): defer chain-safe rebase to jj:jujutsu skill + retire dup prose (holomush-lfri)
  .claude/commands/landing-sequence.md
  .claude/rules/landing-the-plane.md
  .claude/rules/subagent-briefing.md
  AGENTS.md
  CLAUDE.md
Due: none

chore(coderabbit): explicitly skip bot-authored PRs via ignore_usernames
  .coderabbit.yaml
Due: lint-yaml

docs(jj): defer chain-safe rebase to jj:jujutsu skill + retire dup prose (holomush-lfri) (#4114)
  .claude/commands/landing-sequence.md
  .claude/rules/landing-the-plane.md
  .claude/rules/subagent-briefing.md
  AGENTS.md
  CLAUDE.md
Due: none

chore(coderabbit): explicitly skip bot-authored PRs via ignore_usernames (#4115)
  .coderabbit.yaml
Due: lint-yaml

docs: make AGENTS.md a relative symlink to CLAUDE.md (holomush-f7t2)
  AGENTS.md
  CLAUDE.md
  Taskfile.yaml
Due: lint-yaml

docs: make AGENTS.md a relative symlink to CLAUDE.md (holomush-f7t2) (#4116)
  AGENTS.md
  CLAUDE.md
  Taskfile.yaml
Due: lint-yaml

ci: disable Benchmark Regression Check on PRs (holomush-61en)
  .github/workflows/benchmark-check.yml
Due: lint-yaml, lint-actions

ci: disable Benchmark Regression Check on PRs (holomush-61en) (#4117)
  .github/workflows/benchmark-check.yml
Due: lint-yaml, lint-actions

chore(coderabbit): use app/<name> username form per CR's own review
  .coderabbit.yaml
Due: lint-yaml

chore(coderabbit): use app/<name> username form per CR's own review (#4118)
  .coderabbit.yaml
Due: lint-yaml

feat(plugin/lua): branched Load pass for INV-S5 capture (jg9b.3)
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
Due: lint-go, schema-sync

feat(core-communication): adopt register_emit_type for INV-S5 (jg9b.3)
  plugins/core-communication/main.lua
Due: none

feat(core-objects): adopt register_emit_type for INV-S5 (jg9b.3)
  plugins/core-objects/main.lua
Due: none

feat(plugin): PluginEmitRegistry method + Host interface extension (jg9b.3)
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/host.go
  internal/plugin/identity_registry_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/plugin/manager_routing_test.go
  internal/plugin/manager_test.go
  internal/plugin/mocks/mock_Host.go
  internal/plugin/otel_middleware.go
  internal/plugin/subscriber_actor_test.go
  internal/plugin/subscriber_test.go
  internal/session/mocks/mock_Store.go
Due: lint-go, schema-sync

ci: tune namespace runner capacity
  .github/actionlint.yaml
  .github/renovate.json
  .github/workflows/bootstrap-sandbox.yaml
  .github/workflows/buf.yml
  .github/workflows/ci.yaml
  .github/workflows/nightly-soak.yml
  .github/workflows/release.yaml
  .github/workflows/site.yml
  renovate.json
Due: lint-yaml, lint-actions

ci: tune Namespace runner capacity (#4119)
  .github/actionlint.yaml
  .github/renovate.json
  .github/workflows/bootstrap-sandbox.yaml
  .github/workflows/buf.yml
  .github/workflows/ci.yaml
  .github/workflows/nightly-soak.yml
  .github/workflows/release.yaml
  .github/workflows/site.yml
  renovate.json
Due: lint-yaml, lint-actions

chore(coderabbit,renovate): label-based skip for renovate PRs
  .coderabbit.yaml
  .github/renovate.json
Due: lint-yaml

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
