Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(03): WR-09 do not drain on Stop when Activate never ran
  internal/charactivity/charactivity_test.go
  internal/charactivity/subsystem.go
Due: lint-go

fix(03): WR-03 make the activity buffer monotonic, not just the DB writer
  internal/charactivity/charactivity_test.go
  internal/charactivity/flusher.go
  internal/charactivity/listener.go
Due: lint-go

fix(03): IN-03 announce the retirement leave at the character's location
  internal/retirement/reactor.go
  internal/retirement/reactor_test.go
Due: lint-go

fix(03): IN-06 guard the KV fake's hook fields with its own mutex
  internal/charactivity/charactivity_test.go
Due: lint-go

fix(03): IN-05 replace the CreateBackoffs global swap with a per-call option
  internal/eventbus/audit/projection_unit_test.go
  internal/eventbus/consumer/consumer.go
  internal/eventbus/consumer/consumer_test.go
Due: lint-go

fix(03): WR-08 raise an alarm when a retirement fanout is abandoned
  internal/retirement/reactor.go
  internal/retirement/reactor_test.go
Due: lint-go

docs(03): WR-04 document the retire/genesis lock-order inversion
  internal/world/postgres/character_repo.go
  test/meta/world_sql_fence_test.go
Due: lint-go

test(03): WR-06 remove the flush spec's dependence on the ticker's phase
  test/integration/charactivity/character_activity_flush_test.go
Due: lint-go

test(03): IN-04 replace the tautological assertion in the retire-concurrency spec
  test/integration/resilience/retire_concurrency_test.go
Due: lint-go

style(03): apply task fmt
  internal/retirement/reactor.go
Due: lint-go

fix(03): WR-05 correct session_ended subject doc to the dot form
  internal/core/session_ended_payload.go
Due: lint-go

fix(03): WR-02 make the buffer revision-guard test actually reach the guard
  internal/charactivity/charactivity_test.go
Due: lint-go

fix(03): WR-01 retry the buffer write so a flusher delete cannot swallow a newer timestamp
  internal/charactivity/charactivity_test.go
  internal/charactivity/listener.go
Due: lint-go

fix(03): WR-03 model the real ConsumeContext teardown in retirement's fake and pin the join
  internal/retirement/subsystem_test.go
Due: lint-go

fix(03): WR-04 separate the join budget from the barrier budget and log both timeout arms
  internal/charactivity/charactivity_test.go
  internal/charactivity/subsystem.go
  internal/retirement/subsystem.go
  internal/retirement/subsystem_test.go
Due: lint-go

fix(03): IN-02 unexport the shared backoff schedule behind a copying accessor
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_unit_test.go
  internal/eventbus/consumer/consumer.go
  internal/eventbus/consumer/consumer_test.go
Due: lint-go

fix(03): IN-03 record the abandonment alarm's configured-vs-effective MaxDeliver assumption
  internal/retirement/reactor.go
Due: lint-go

fix(03): IN-01 state the flush spec's residual timing window honestly
  test/integration/charactivity/character_activity_flush_test.go
Due: lint-go

fix(03): IN-04 mark the slog.SetDefault swap's no-t.Parallel constraint
  internal/retirement/reactor_test.go
Due: lint-go

fix(03): WR-01 report retirement's liveness retraction from the arm that can observe it
  internal/retirement/subsystem.go
  internal/retirement/subsystem_test.go
Due: lint-go

fix(03): WR-02 gate charactivity's final drain on the barrier, not on goroutine exit
  internal/charactivity/charactivity_test.go
  internal/charactivity/subsystem.go
Due: lint-go

fix(03): WR-03 bind INV-ACCESS-14 against the consumer boundary this phase landed
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/retirement/reactor_test.go
Due: lint-go, lint-yaml

fix(03): IN-01 distinguish a failed buffer write from contention on the Update path
  internal/charactivity/charactivity_test.go
  internal/charactivity/listener.go
Due: lint-go

style(03): satisfy wrapcheck on the carried buffer error and yamlfmt on the registry
  docs/architecture/invariants.yaml
  internal/charactivity/listener.go
Due: lint-go, lint-yaml

docs(03): record code-review iteration artifacts
  .planning/phases/03-world-character-commands/03-REVIEW-FIX.iter2.md
  .planning/phases/03-world-character-commands/03-REVIEW-FIX.iter3.md
  .planning/phases/03-world-character-commands/03-REVIEW.iter2.md
  .planning/phases/03-world-character-commands/03-REVIEW.iter3.md
Due: none

docs(03): add code review fix report
  .planning/phases/03-world-character-commands/03-REVIEW-FIX.md
Due: none

test(03): complete UAT - 2 passed, 0 issues
  .planning/phases/03-world-character-commands/03-UAT.md
Due: none

docs(phase-03): add security threat verification
  .planning/phases/03-world-character-commands/03-SECURITY.md
Due: none

docs(03): mark verification passed after UAT completion
  .planning/phases/03-world-character-commands/03-VERIFICATION.md
Due: none

docs(03): mark phase complete and transition to phase 4
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(04): capture phase context
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-CONTEXT.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-DISCUSSION-LOG.md
Due: none

docs(rules): record the criterion-as-build-order anti-pattern
  .claude/rules/references/plan-review-learnings.md
Due: none

docs(state): record phase 4 context session
  .planning/STATE.md
Due: none

docs(phase-4): add validation strategy
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-RESEARCH.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-VALIDATION.md
Due: none

docs(04): create phase plan
  .planning/ROADMAP.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-01-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-02-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-03-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-04-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-05-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-06-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-07-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-08-PLAN.md
Due: none

docs(04): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-01-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-03-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-06-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-07-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-09-PLAN.md
Due: none

docs(04): add pattern map
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-PATTERNS.md
Due: none

docs: cross-AI review for phase 4
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-REVIEWS.md
Due: none

docs(04): incorporate cross-AI review feedback into plans
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-01-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-02-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-04-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-06-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-07-PLAN.md
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-09-PLAN.md
Due: none

docs: cross-AI review cycle 2 for phase 4
  .planning/phases/04-shared-facade-helpers-characteraccessservice/04-REVIEWS.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
