Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "task generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

refactor(command): extract metrics and rate limiting
  internal/command/dispatcher.go
  internal/command/metrics_recorder.go
  internal/command/middleware_test.go
  internal/command/rate_limit_middleware.go
Due: lint-go

refactor(handlers): extract alias shadow checks
  internal/command/handlers/alias.go
  internal/command/handlers/alias_shadow_checks.go
Due: lint-go

test(handlers): add shared test fixtures
  internal/command/handlers/look_test.go
  internal/command/handlers/move_test.go
  internal/command/handlers/quit_test.go
  internal/command/handlers/shutdown_test.go
  internal/command/handlers/testutil/context.go
  internal/command/handlers/testutil/execution.go
  internal/command/handlers/testutil/services.go
  internal/command/handlers/testutil/world_service.go
  internal/command/handlers/wall_test.go
  internal/command/handlers/who_test.go
Due: lint-go

refactor(handlers): centralize output helpers
  internal/command/handlers/look.go
  internal/command/handlers/move.go
  internal/command/handlers/output.go
  internal/command/handlers/output_test.go
Due: lint-go

refactor(property): centralize registry and entity mutators
  docs/plans/2026-02-04-registration-based-property-system.md
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
  internal/command/types.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/shared_registry_test.go
  internal/plugin/hostfunc/world_write.go
  internal/plugin/hostfunc/world_write_format_test.go
  internal/plugin/hostfunc/world_write_test.go
  internal/property/definition_description.go
  internal/property/definition_error_test.go
  internal/property/definition_name.go
  internal/property/entity_mutator.go
  internal/property/entity_mutator_test.go
  internal/property/registry.go
  internal/property/registry_test.go
  test/integration/building/building_test.go
Due: lint-go, lint-markdown, schema-sync

fix(ci): add missing license header and relax flaky perf threshold
  internal/command/alias_test.go
  internal/property/definition_error_test.go
Due: lint-go

fix(lint): resolve all golangci-lint and markdownlint issues
  docs/plans/2026-01-18-holomush-roadmap-design.md
  docs/plans/2026-02-04-registration-based-property-system.md
  docs/specs/2026-02-02-commands-behaviors-design.md
  internal/command/alias.go
  internal/command/handlers/look_test.go
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
  internal/command/handlers/quit_test.go
  internal/command/handlers/testutil/context.go
  internal/command/handlers/testutil/execution.go
  internal/command/handlers/testutil/services.go
  internal/command/handlers/testutil/world_service.go
  internal/command/types.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/world_write.go
  internal/property/definition_description.go
  internal/property/definition_error_test.go
  internal/property/definition_name.go
  internal/property/entity_mutator.go
  internal/property/registry.go
  internal/property/registry_test.go
  test/integration/command/alias_integration_test.go
Due: lint-go, lint-markdown, schema-sync

docs(specs): align Epic 6 spec with implementation
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

fix(specs): align table column widths for markdown lint
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

fix(specs): apply dprint table formatting
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

docs(specs): align Epic 6 spec with implementation (#64)
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

feat(tooling): add Claude Code session hooks for developer guardrails
  .claude/hooks/auto-format.sh
  .claude/hooks/enforce-task-runner.sh
  .claude/hooks/protect-main.sh
  .claude/hooks/session-reminder.sh
  .claude/settings.json
  docs/plans/2026-02-05-claude-code-hooks-design.md
Due: lint-markdown

fix(tooling): address PR review findings for Claude Code hooks
  .claude/hooks/auto-format.sh
  .claude/hooks/enforce-task-runner.sh
  .claude/hooks/protect-main.sh
  .claude/hooks/session-reminder.sh
  docs/plans/2026-02-05-claude-code-hooks-design.md
Due: lint-markdown

fix(tooling): address round 2 review findings for Claude Code hooks
  .claude/hooks/auto-format.sh
  .claude/hooks/enforce-task-runner.sh
  .claude/hooks/protect-main.sh
  .claude/hooks/session-reminder.sh
  docs/plans/2026-02-05-claude-code-hooks-design.md
Due: lint-markdown

fix(tooling): address round 3 review findings for Claude Code hooks
  .claude/hooks/auto-format.sh
  .claude/hooks/enforce-task-runner.sh
  .claude/hooks/protect-main.sh
  .claude/hooks/session-reminder.sh
  docs/plans/2026-02-05-claude-code-hooks-design.md
Due: lint-markdown

fix(tooling): address round 4 review — scoped ERR trap, dead beads check, rg unblock
  .claude/hooks/auto-format.sh
  .claude/hooks/enforce-task-runner.sh
  .claude/hooks/session-reminder.sh
  docs/plans/2026-02-05-claude-code-hooks-design.md
Due: lint-markdown

feat(tooling): add Claude Code session hooks (#66)
  .claude/hooks/auto-format.sh
  .claude/hooks/enforce-task-runner.sh
  .claude/hooks/protect-main.sh
  .claude/hooks/session-reminder.sh
  .claude/settings.json
  docs/plans/2026-02-05-claude-code-hooks-design.md
Due: lint-markdown

chore: serena fixes
  .beads/.gitignore
  .serena/.gitignore
  .serena/project.yml
Due: lint-yaml

chore(lint): centralize markdownlint ignores in config file
  .markdownlint-cli2.yaml
  Taskfile.yaml
Due: lint-yaml

chore(lint): centralize markdownlint ignores in config file (#67)
  .beads/.gitignore
  .markdownlint-cli2.yaml
  .serena/.gitignore
  .serena/project.yml
  Taskfile.yaml
Due: lint-yaml

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: lint-yaml, lint-actions

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: lint-yaml, lint-actions

Add Claude Code GitHub Workflow (#68)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: lint-yaml, lint-actions

docs(specs): add Full ABAC architecture design
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

fix(specs): address review findings in ABAC design spec
  docs/specs/2026-02-05-full-abac-design-decisions.md
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

docs(specs): add ABAC design decision log
  docs/specs/2026-02-05-full-abac-design-decisions.md
Due: lint-markdown

fix(specs): revert @-prefix on builder command names in seed policies
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

docs(specs): address PR review findings in ABAC design
  docs/specs/2026-02-05-full-abac-design-decisions.md
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

docs(specs): record review-driven decisions (#15-#23) in ABAC design
  docs/specs/2026-02-05-full-abac-design-decisions.md
Due: lint-markdown

docs(specs): expand lock token system with registry and compilation
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

docs(specs): address review findings across ABAC design
  docs/specs/2026-02-05-full-abac-design-decisions.md
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

docs(specs): address architecture review findings in ABAC design
  docs/specs/2026-02-05-full-abac-design-decisions.md
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

docs(specs): address comprehensive review findings in ABAC design
  docs/specs/2026-02-05-full-abac-design-decisions.md
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

docs(specs): address second architecture review findings in ABAC design
  docs/specs/2026-02-05-full-abac-design-decisions.md
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

docs(specs): address remaining review findings in ABAC design
  docs/specs/2026-02-05-full-abac-design-decisions.md
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

docs(adr): add ABAC architecture decision records (0009-0016)
  docs/adr/0007-command-security-model.md
  docs/adr/0009-custom-go-native-abac-engine.md
  docs/adr/0010-cedar-aligned-fail-safe-type-semantics.md
  docs/adr/0011-deny-overrides-without-priority.md
  docs/adr/0012-eager-attribute-resolution.md
  docs/adr/0013-properties-as-first-class-entities.md
  docs/adr/0014-direct-static-access-control-replacement.md
  docs/adr/0015-three-layer-player-access-control.md
  docs/adr/0016-listen-notify-policy-cache-invalidation.md
Due: lint-markdown

docs(specs): remove adapter/shadow mode, add audit config to ABAC design
  docs/specs/2026-02-05-full-abac-design-decisions.md
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

docs(specs): address comprehensive PR review findings in ABAC design
  docs/adr/0013-properties-as-first-class-entities.md
  docs/adr/0014-direct-static-access-control-replacement.md
  docs/specs/2026-02-05-full-abac-design-decisions.md
  docs/specs/2026-02-05-full-abac-design.md
Due: lint-markdown

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
