Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

test(integration): browser cookie + telnet auth parity — both succeed independently
  test/integration/auth/multi_tab_test.go
Due: lint-go

feat(proto): add error_code + current_player_name to web auth responses
  .claude/agent-memory/code-reviewer/MEMORY.md
  api/proto/holomush/web/v1/web.proto
  pkg/proto/holomush/web/v1/web.pb.go
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

test(integration/auth): two-tab same-character reattach + dual command submission
  test/integration/auth/auth_suite_test.go
  test/integration/auth/multi_tab_test.go
Due: lint-go

test(integration/auth): two-tab different-character produces no ownership-mismatch logs
  test/integration/auth/multi_tab_test.go
Due: lint-go

feat(web): refuse WebCreatePlayer with ALREADY_AUTHENTICATED when cookie valid
  internal/web/auth_handlers.go
  internal/web/auth_handlers_test.go
Due: lint-go

test(integration/auth): post-logout stale tab returns SESSION_NOT_FOUND on each call site
  test/integration/auth/multi_tab_test.go
Due: lint-go

feat(web): register page authenticated branch + pre-gate
  web/src/routes/register/+page.svelte
  web/src/routes/register/+page.ts
Due: none

test(integration/auth): two-tab guest scenario gates the second create
  test/integration/auth/auth_suite_test.go
  test/integration/auth/multi_tab_test.go
Due: lint-go

feat(web/authed-layout): read new player_id/is_guest/characters fields additively
  web/src/routes/(authed)/+layout.ts
Due: none

chore(web): export header-name aliases for integration tests
  internal/web/auth_handlers.go
Due: lint-go

feat(web): landing page authenticated branch + client-side §4.4.4 pre-gate
  web/src/routes/+page.svelte
  web/src/routes/+page.ts
Due: none

docs(plan): mid-flight handoff for Tasks 0-9 + 6.5 (holomush-9q8n)
  docs/superpowers/plans/2026-04-25-multi-tab-session-isolation-HANDOFF.md
Due: none

feat(web): refuse WebAuthenticatePlayer with ALREADY_AUTHENTICATED when cookie valid
  internal/web/auth_handlers.go
  internal/web/auth_handlers_test.go
Due: lint-go

test(integration): WebCheckSession back-compat — throw on failure + player_name on success
  test/integration/auth/multi_tab_test.go
Due: lint-go

feat(core): populate player_id, is_guest, characters in CheckPlayerSession
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
Due: lint-go

feat(web): add cookie-collision gate helper
  internal/web/auth_handlers.go
  internal/web/auth_handlers_test.go
Due: lint-go

test(e2e): multi-tab session isolation — repro from §1.1 no longer reproduces
  web/e2e/multi-tab-session.spec.ts
Due: none

feat(web/terminal): uniform stale-session handling at the four call sites
  web/src/lib/backfill/streamBackfill.ts
  web/src/lib/util/stale.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

chore: task pr-prep clean-up
  docs/superpowers/plans/2026-04-25-multi-tab-session-isolation.md
  docs/superpowers/specs/2026-04-25-multi-tab-session-isolation-design.md
  web/e2e/terminal.spec.ts
Due: none

feat(web/auth-store): extend AuthState with playerId, isGuest, characters
  web/src/lib/stores/authStore.test.ts
  web/src/lib/stores/authStore.ts
Due: none

fix(web/login): apply §4.4.4 pre-gate + ALREADY_AUTHENTICATED branch to handleGuest
  web/src/routes/login/+page.svelte
Due: none

fix: apply CodeRabbit auto-fixes (round 1)
  api/proto/holomush/web/v1/web.proto
  docs/superpowers/specs/2026-04-25-multi-tab-session-isolation-design.md
  internal/web/auth_handlers_test.go
  pkg/proto/holomush/web/v1/web.pb.go
  test/integration/auth/multi_tab_test.go
  web/e2e/multi-tab-session.spec.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/routes/(authed)/terminal/+page.svelte
  web/src/routes/+page.ts
  web/src/routes/login/+page.svelte
  web/src/routes/login/+page.ts
  web/src/routes/register/+page.svelte
  web/src/routes/register/+page.ts
Due: lint-go

feat(claude): bead-auditor agent + /audit-beads slash command
  .claude/agent-memory/bead-auditor/MEMORY.md
  .claude/agents/bead-auditor.md
  .claude/commands/audit-beads.md
Due: none

feat(claude): bead-auditor agent + /audit-beads slash command (#2365)
  .claude/agent-memory/bead-auditor/MEMORY.md
  .claude/agents/bead-auditor.md
  .claude/commands/audit-beads.md
Due: none

fix: apply CodeRabbit auto-fixes (round 2) + coverage tests
  internal/web/auth_handlers_test.go
  web/src/routes/login/+page.svelte
  web/src/routes/register/+page.svelte
Due: lint-go

fix: apply CodeRabbit auto-fixes (round 4)
  internal/web/auth_handlers_test.go
  web/src/routes/login/+page.svelte
  web/src/routes/register/+page.svelte
Due: lint-go

feat: multi-tab session isolation (holomush-9q8n) (#271)
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_check_existing_rpcs.md
  .claude/agent-memory/design-reviewer/feedback_extending_rpc_check_callers.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  api/proto/holomush/core/v1/core.proto
  api/proto/holomush/web/v1/web.proto
  docs/superpowers/plans/2026-04-25-multi-tab-session-isolation-HANDOFF.md
  docs/superpowers/plans/2026-04-25-multi-tab-session-isolation.md
  docs/superpowers/specs/2026-04-25-multi-tab-session-isolation-design.md
  internal/grpc/auth_handlers.go
  internal/grpc/auth_handlers_test.go
  internal/grpc/client.go
  internal/grpc/client_test.go
  internal/web/auth_handlers.go
  internal/web/auth_handlers_test.go
  internal/web/handler_test.go
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/web/v1/web.pb.go
  test/integration/auth/auth_suite_test.go
  test/integration/auth/core_client_shim_test.go
  test/integration/auth/multi_tab_test.go
  web/e2e/multi-tab-session.spec.ts
  web/e2e/terminal.spec.ts
  web/src/lib/backfill/streamBackfill.ts
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/lib/stores/authStore.test.ts
  web/src/lib/stores/authStore.ts
  web/src/lib/util/stale.ts
  web/src/routes/(authed)/terminal/+page.svelte
  web/src/routes/+page.svelte
  web/src/routes/+page.ts
  web/src/routes/login/+page.svelte
  web/src/routes/login/+page.ts
  web/src/routes/register/+page.svelte
  web/src/routes/register/+page.ts
Due: lint-go

feat(goplugin): issue per-dispatch token on Host.DeliverEvent / DeliverCommand (G1 issuance)
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
Due: lint-go, schema-sync

docs(extending): plugin-author guide for actor_kinds_claimable (acceptance criterion 11)
  site/docs/extending/actor-kinds-claimable.md
Due: lint-markdown-site, fmt-markdown-site

feat(command): stamp ActorCharacter on dispatch ctx before dispatcher→DeliverCommand (G7 prerequisite)
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
Due: lint-go

feat(plugin): add Manifest.ActorKindsClaimable field + validation (G2 schema)
  docs/superpowers/plans/2026-04-25-plugin-actor-claim-authentication.md
  docs/superpowers/specs/2026-04-25-plugin-actor-claim-authentication-design.md
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  plugins/core-scenes/audit_test.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go, schema-sync

docs(agents,claude): document plugin runtime-symmetry invariant (G6)
  CLAUDE.md
Due: none

feat(plugin): RequestEmitToken RPC for plugin-served handler emits (closes G1 spec gap)
  api/proto/holomush/plugin/v1/plugin.proto
  docs/superpowers/specs/2026-04-25-plugin-actor-claim-authentication-design.md
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
  pkg/plugin/event_sink.go
  pkg/plugin/service_test.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  test/integration/plugin/actor_authentication_test.go
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, schema-sync

feat(plugins): declare actor_kinds_claimable: [plugin, character] for character-driven emit plugins
  plugins/core-communication/plugin.yaml
  plugins/core-scenes/plugin.yaml
  plugins/echo-bot/plugin.yaml
Due: lint-yaml

feat(goplugin): wire emitTokenStore into Host lifecycle
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
Due: lint-go, schema-sync

feat(plugin): stamp upstream actor on dispatch ctx before subscriber→DeliverEvent (G7 prerequisite)
  internal/plugin/subscriber.go
  internal/plugin/subscriber_actor_test.go
Due: lint-go, schema-sync

feat(plugin): manifest gate — enforce actor_kinds_claimable at event_emitter.Emit (G2)
  internal/plugin/event_emitter.go
  internal/plugin/event_emitter_round3_test.go
  internal/plugin/event_emitter_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/manager_routing_test.go
Due: lint-go, schema-sync

feat(goplugin): EmitEvent uses host-issued token, ignores plugin's actor-claim metadata (G1 closure)
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/goplugin/host_test.go
Due: lint-go, schema-sync

feat(goplugin): add emitTokenStore — per-dispatch token authentication for plugin EmitEvent (G1 foundation)
  internal/plugin/goplugin/emit_token_store.go
  internal/plugin/goplugin/emit_token_store_test.go
Due: lint-go, schema-sync

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
