Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(holomush-c3ww.67): PlayerMessage must not expose raw error string for CodeInvalidName
  internal/command/errors.go
  internal/command/validation.go
Due: lint-go

fix(holomush-c3ww.72): rename misleading who handler test name
  internal/command/handlers/who_test.go
Due: lint-go

fix(holomush-c3ww.73): add mixed engine and DB error test for findCharacterByName
  internal/command/handlers/boot_test.go
Due: lint-go

fix(holomush-c3ww.65): remove double-logging in safeResolve
  internal/access/policy/attribute/resolver.go
Due: lint-go

fix(holomush-c3ww.73): fix test to use correct mock type
  internal/command/handlers/boot_test.go
Due: lint-go

fix(holomush-c3ww.71): add test coverage for WhoHandler anomaly detection log paths
  internal/command/handlers/who_test.go
Due: lint-go

fix(holomush-c3ww.68): add typed PartialReplayError to ReplayWAL
  internal/access/policy/audit/logger.go
Due: lint-go

fix(holomush-c3ww.66): replace suffix matching with explicit allowlist in PlayerMessage
  internal/command/errors.go
  internal/command/errors_test.go
Due: lint-go

fix(tests): fix flaky circuit breaker test and boot test assertion
  internal/command/handlers/who_test.go
Due: lint-go

fix(tests): fix case-sensitive assertion in boot test
  internal/command/handlers/boot_test.go
Due: lint-go

fix(review): address PR #88 review findings
  internal/access/migration_equivalence_test.go
  internal/access/policy/attribute/character.go
  internal/command/rate_limit_middleware.go
  internal/command/rate_limit_middleware_test.go
  internal/plugin/hostfunc/commands.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go, schema-sync

fix(review): session-invalid uses deny: prefix, not infra:
  .golangci.yaml
  internal/access/policy/engine.go
  internal/access/policy/engine_contract_test.go
  internal/access/policy/engine_test.go
  internal/access/policy/types/types_test.go
  internal/access/prefix.go
  internal/access/prefix_test.go
  internal/command/handlers/look_test.go
  internal/world/service_test.go
Due: lint-go, lint-yaml

fix(holomush-wfza.16): remove cache_export.go, add WithInitialSnapshot option
  internal/access/migration_equivalence_test.go
  internal/access/policy/cache.go
  internal/access/policy/cache_export.go
Due: lint-go

fix(review): boot.go mixed error priority + entityPrefix sync test
  internal/command/errors_test.go
  internal/command/handlers/boot.go
Due: lint-go

fix(review): add batch 3 tests for PR #88 review findings
  internal/access/policy/seed_smoke_test.go
  internal/command/handlers/who_test.go
  internal/world/service_test.go
Due: lint-go

fix(review): address batch 4 code findings from PR #88 review
  internal/access/policy/audit/doc.go
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
  internal/command/rate_limit_middleware.go
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/commands.go
  internal/world/service.go
Due: lint-go, schema-sync

fix(review): address PR #88 findings — remove StaticAccessControl, differentiate audit modes, fix Cache.Start
  internal/access/access.go
  internal/access/access_test.go
  internal/access/migration_equivalence_test.go
  internal/access/policy/attribute/character.go
  internal/access/policy/audit/logger.go
  internal/access/policy/audit/logger_test.go
  internal/access/policy/cache.go
  internal/access/policy/dsl/evaluator_test.go
  internal/access/policy/engine_test.go
  internal/access/resolver_test.go
  internal/access/static.go
  internal/access/static_test.go
  internal/core/broadcaster_test.go
  test/integration/access/location_equivalence_test.go
Due: lint-go

fix(review): address PR #88 findings — defensive guards, test coverage, contract docs
  internal/access/policy/attribute/resolver.go
  internal/access/policy/audit/logger_test.go
  internal/access/policy/cache.go
  internal/access/policy/engine_test.go
  internal/access/policy/policytest/helpers.go
  internal/access/policy/policytest/helpers_test.go
  internal/access/policy/seed_smoke_test.go
  internal/command/access_test.go
  internal/command/alias.go
  internal/command/dispatcher_test.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/who.go
  internal/command/rate_limit_middleware.go
  internal/command/rate_limit_middleware_test.go
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/service_test.go
Due: lint-go, schema-sync

fix(review): address PR #88 findings — typed helper, Cache.Start test, assertion update
  internal/access/policy/cache_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(review): address PR #88 review findings — batches 2-4
  internal/access/policy/attribute/character_test.go
  internal/access/policy/attribute/resolver.go
  internal/access/policy/audit/logger_test.go
  internal/access/policy/cache.go
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
  internal/command/errors_test.go
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
  internal/command/rate_limit_middleware.go
  internal/observability/server.go
  internal/observability/server_test.go
  internal/plugin/hostfunc/commands.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go, schema-sync

fix(review): address PR #88 review findings — turn 2
  internal/access/policy/attribute/resolver.go
  internal/access/policy/audit/logger.go
  internal/access/policy/cache.go
  internal/command/access_test.go
  internal/command/errors_test.go
  internal/command/handlers/who.go
  internal/observability/server.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(review): address PR #88 review findings — turn 3
  internal/access/policy/audit/logger.go
  internal/access/policy/engine.go
  internal/access/policy/engine_contract_test.go
  internal/access/policy/engine_test.go
  internal/access/policy/types/types_test.go
  internal/access/prefix.go
  internal/access/prefix_test.go
  internal/command/handlers/who_test.go
  internal/observability/server.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

jjagent: session b5ce1450
  internal/access/policy/audit/doc.go
  internal/command/handlers/boot.go
  internal/command/handlers/who_test.go
Due: lint-go

fix(review): address PR #88 review findings — turn 4
  internal/command/dispatcher.go
  internal/world/service.go
  internal/world/service_helpers_test.go
Due: lint-go

jjagent: session 09d9744f
  internal/access/policy/audit/logger.go
  internal/access/policy/audit/logger_test.go
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
  internal/access/policy/types/types.go
  internal/command/dispatcher.go
Due: lint-go

fix(review): address PR #88 review findings — turn 5
  internal/access/policy/audit/logger.go
Due: lint-go

feat(access): T29 — remove capability.Enforcer and legacy permissions
  internal/access/permissions.go
  internal/access/permissions_test.go
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
  internal/plugin/communication_integration_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/functions_test.go
  internal/plugin/hostfunc/mocks/mock_CapabilityChecker.go
  internal/plugin/hostfunc/shared_registry_test.go
  internal/plugin/hostfunc/world_test.go
  internal/plugin/hostfunc/world_write_test.go
  internal/plugin/integration_test.go
  internal/plugin/lua/host_test.go
Due: lint-go, schema-sync

feat(access/attribute): add SetRegistry for two-phase PluginProvider init
  internal/access/policy/attribute/plugin_provider.go
  internal/access/policy/attribute/plugin_provider_test.go
Due: lint-go

feat(plugin): Manager implements attribute.PluginRegistry
  internal/plugin/manager.go
  internal/plugin/manager_test.go
Due: lint-go, schema-sync

docs(access): add ABAC stack wiring spec and implementation plan
  docs/plans/2026-03-15-abac-stack-wiring.md
  docs/specs/2026-03-15-abac-stack-wiring-design.md
Due: none

feat(policy): add PgListener for LISTEN/NOTIFY cache invalidation
  internal/access/policy/pglistener.go
  internal/access/policy/pglistener_test.go
Due: lint-go

feat(access): add BuildABACStack for production engine wiring
  internal/access/setup/setup.go
  internal/access/setup/setup_test.go
Due: lint-go

feat(cmd): wire ABAC engine stack into production startup
  cmd/holomush/core.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
