Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

test(09-11): trim four unimplemented eventbus_e2e specs to skip + live issue
  test/integration/eventbus_e2e/audit_drift_detector_test.go
  test/integration/eventbus_e2e/backfill_rebuild_test.go
  test/integration/eventbus_e2e/js_storage_corruption_test.go
  test/integration/eventbus_e2e/multi_protocol_fanout_test.go
Due: lint-go

docs(09-11): complete eventbus_e2e skip-trim plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-11-SUMMARY.md
Due: none

feat(09-20): implement telnet session opener and thread client type through attach
  .planning/phases/09-test-quality-code-health-sweep/deferred-items.md
  internal/testsupport/integrationtest/session.go
  test/integration/privacy/privacy_test.go
Due: lint-go

feat(09-20): add a detached-past-expiry seam that drives the real session reaper
  internal/testsupport/integrationtest/harness.go
  test/integration/privacy/privacy_test.go
Due: lint-go

feat(09-20): add WithBuiltinCommands so compiled-in commands are dispatchable
  .planning/phases/09-test-quality-code-health-sweep/deferred-items.md
  internal/testsupport/integrationtest/builtin_commands_test.go
  internal/testsupport/integrationtest/harness.go
  test/integration/privacy/privacy_test.go
Due: lint-go

docs(09-20): complete QUAL-04 harness seams plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-20-SUMMARY.md
Due: none

test(09-12): commit the session-lifecycle matrix as a checkable registry
  test/meta/session_matrix_registry_test.go
  test/session-matrix.yaml
Due: lint-go, lint-yaml

test(09-12): add the shared in-process harness seam to the session suite
  test/integration/session/lifecycle_harness_test.go
  test/integration/session/session_persistence_suite_test.go
Due: lint-go

test(09-12): cover fresh selection and both reattach transitions
  test/integration/session/lifecycle_attach_test.go
Due: lint-go

docs(09-12): complete session-lifecycle matrix registry plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-12-SUMMARY.md
Due: none

test(09-13): cover session detach and the reaper sweep at expiry
  test/integration/session/lifecycle_ttl_test.go
  test/session-matrix.yaml
Due: lint-go, lint-yaml

test(09-13): cover post-expiry re-login producing a fresh history floor
  test/integration/session/lifecycle_ttl_test.go
  test/session-matrix.yaml
Due: lint-go, lint-yaml

docs(09-13): complete idle-timeout matrix rows plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-13-SUMMARY.md
Due: none

test(09-14): cover the quit and explicit-logout termination matrix rows
  test/integration/session/lifecycle_termination_test.go
  test/session-matrix.yaml
Due: lint-go, lint-yaml

test(09-14): cover the tmux-style telnet reattach matrix row
  test/integration/session/lifecycle_termination_test.go
  test/session-matrix.yaml
Due: lint-go, lint-yaml

test(09-14): build the guest re-authentication seam and cover both blocked guest cells
  internal/testsupport/integrationtest/harness.go
  test/integration/session/lifecycle_attach_test.go
  test/integration/session/lifecycle_ttl_test.go
  test/session-matrix.yaml
Due: lint-go, lint-yaml

docs(09-14): complete deliberate-termination and telnet-reattach matrix rows plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-14-SUMMARY.md
Due: none

test(09-15): cover the move-arrival and transport-blip matrix rows
  internal/testsupport/integrationtest/harness.go
  test/integration/session/lifecycle_privacy_floor_test.go
  test/session-matrix.yaml
Due: lint-go, lint-yaml

test(09-15): land the two named privacy floor specifications
  test/integration/session/lifecycle_privacy_floor_test.go
Due: lint-go

test(09-15): assert the INV-PRIVACY-6 floor-preservation arm and bind it
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  test/integration/privacy/privacy_test.go
Due: lint-go, lint-yaml

docs(09-15): complete the move-arrival, transport-blip and privacy-floor plan
  .planning/phases/09-test-quality-code-health-sweep/09-15-SUMMARY.md
Due: none

docs(09-15): complete move-arrival, transport-blip and privacy-floor plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
Due: none

test(09-16): lock the session-lifecycle matrix with a marker bijection guard
  test/meta/session_matrix_registry_test.go
Due: lint-go

docs(09-16): reconcile the session-matrix registry with what the specs delivered
  test/session-matrix.yaml
Due: lint-yaml

docs(09-16): complete the session-matrix bijection lock plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/09-test-quality-code-health-sweep/09-16-SUMMARY.md
Due: none

test(09-18): rename 22 topic-style test names the sweep predicate had skipped
  internal/web/auth_handlers_test.go
  internal/web/cookie_test.go
  internal/web/cors_test.go
  internal/web/handler_test.go
  internal/web/static_test.go
  internal/web/translate_test.go
Due: lint-go

test(09-18): add the ACE naming ratchet, green from this commit
  test/meta/ace_naming_registry_test.go
Due: lint-go

docs(09-18): mark the ratchet's example names as no-longer-existing
  test/meta/ace_naming_registry_test.go
Due: lint-go

docs(09-18): complete ACE test-naming sweep and ratchet plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-18-SUMMARY.md
Due: none

test(09-06): pin the fence drop log's attribute set against plaintext leak
  internal/eventbus/history/plugin_downgrade_fence_test.go
Due: lint-go

docs(09-03): stop the wildcard-bypass comment MUSTing contributors into the sentinel bug
  .claude/agent-memory/abac-reviewer/MEMORY.md
  internal/access/policy/attribute/location.go
Due: lint-go

fix(09): CR-01 make the location-arrival privacy floor assertions falsifiable
  test/integration/session/lifecycle_attach_test.go
  test/integration/session/lifecycle_termination_test.go
  test/integration/session/lifecycle_ttl_test.go
Due: lint-go

fix(09): WR-01/WR-06 execute the real migration in the idempotency spec
  internal/store/migrations_export_test.go
  internal/store/migrations_sessions_location_index_integration_test.go
Due: lint-go

fix(09): WR-02 compare the depguard deny set instead of containing it
  test/meta/depguard_config_test.go
Due: lint-go

fix(09): WR-03 reject pending and focused Ginkgo specs in the placement guard
  test/meta/session_matrix_registry_test.go
Due: lint-go

docs(09): WR-04 restore the INV-P5-12 spec/test lockstep after the ACE rename
  docs/superpowers/specs/2026-05-21-scenes-phase-5-focus-model-and-multi-connection-visibility-design.md
Due: none

docs(09): WR-05 flag the secure-cookies default in the install guide
  site/src/content/docs/operating/how-to/deploy/installation.md
Due: lint-markdown-site, fmt-markdown-site

fix(09): IN-01 repair two broken assertion idioms in internal/tls
  internal/tls/subsystem_test.go
Due: lint-go

fix(09): IN-02 drop the unreachable no-error arm in TestEnsureCerts_PartialCertState
  internal/tls/subsystem_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
