Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(02-10): record Task 2's evidence-recording decision — sanitized-ledger, no player text committed
  .planning/STATE.md
Due: none

fix(02-12): charname.Normalize shared two stateful x/text transformers across goroutines
  internal/charname/pipeline.go
  internal/charname/pipeline_concurrency_test.go
  test/integration/charname/name_uniqueness_test.go
Due: lint-go

docs(02-12): record the shared-x/text-transformer defect, its deterministic repro, and the proof
  .planning/phases/02-abac-schema-vocabulary/02-12-SUMMARY.md
Due: none

docs(02-10): record the exposure audit — a genuine zero-row result from a reached database
  .planning/phases/02-abac-schema-vocabulary/02-AUDIT-RESULT.md
Due: none

test(02-10): prove the PROFILE-11 widening widens, against a control corpus where it does not
  test/integration/access/access_suite_test.go
  test/integration/access/profile_public_read_test.go
Due: lint-go

docs(02-10): stop the audit result from vacuously satisfying Task 4b's completion gate
  .planning/phases/02-abac-schema-vocabulary/02-AUDIT-RESULT.md
Due: none

docs(02-10): record Task 4's no-remediation-required verdict — no write performed
  .planning/phases/02-abac-schema-vocabulary/02-AUDIT-RESULT.md
Due: none

docs(02-10): complete the seed:profile-public-read exposure audit plan
  .planning/phases/02-abac-schema-vocabulary/02-10-SUMMARY.md
Due: none

docs(02-10): advance state and roadmap after the exposure audit plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(02-11): apply the eight phase amendments and correct INV-WORLD-4's writer count
  .planning/phases/01-portal-spec/01-SPEC.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

docs(02-11): fill the phase validation map from the executed plans
  .planning/phases/02-abac-schema-vocabulary/02-VALIDATION.md
Due: none

docs(02-11): complete the phase amendment pass and validation close-out
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-abac-schema-vocabulary/02-11-SUMMARY.md
Due: none

docs(02): add code review report
  .planning/phases/02-abac-schema-vocabulary/02-REVIEW.md
Due: none

fix(02-12): the rename CLI wrote its world envelope under a hardcoded game id
  cmd/holomush/cmd_character_name.go
  cmd/holomush/cmd_character_name_integration_test.go
  cmd/holomush/cmd_character_name_test.go
Due: lint-go

fix(02-06): guest creation reported a corpus outage as name exhaustion, silently
  internal/auth/guest_service.go
  internal/auth/guest_service_test.go
Due: lint-go

docs(02-12): record CR-01 and WR-01, their root causes, and the RED-then-GREEN proof
  .planning/phases/02-abac-schema-vocabulary/02-12-SUMMARY.md
Due: none

docs(02): add phase verification report
  .planning/phases/02-abac-schema-vocabulary/02-VERIFICATION.md
Due: none

test(02): complete UAT - 1 passed, 0 issues, 2 deferred follow-ups
  .planning/phases/02-abac-schema-vocabulary/02-UAT.md
Due: none

docs(02): verification passed — abac-reviewer READY discharges the blocking human item
  .planning/phases/02-abac-schema-vocabulary/02-VERIFICATION.md
Due: none

fix(ci): refresh the apt index before installing ripgrep
  .github/actions/install-formatters/action.yml
Due: lint-yaml

fix(02-06): report an exact duplicate as taken, not as confusable
  internal/auth/character_service.go
  internal/auth/character_service_test.go
  test/integration/auth/character_create_gate_test.go
Due: lint-go

fix(02-06): sanitize the gate's four refusal codes instead of "request failed"
  internal/grpc/auth_errors.go
  internal/grpc/auth_errors_test.go
Due: lint-go

docs(02-06): record the duplicate-name regression and its RED-then-GREEN proof
  .planning/phases/02-abac-schema-vocabulary/02-06-SUMMARY.md
Due: none

docs(02-06): correct the BlockList() doc that still claims no gate is built
  internal/bootstrap/setup/subsystem.go
Due: lint-go

fix(02-12): guard NewCharacterRepository against a nil pool
  internal/world/postgres/character_repo.go
Due: lint-go

docs(02-12): fix the doc comment naming a function that does not exist
  test/integration/world/character_lifecycle_test.go
Due: lint-go

fix(02-12): apply 000056's two statements in one transaction in the fixture
  test/integration/charname/name_write_window_test.go
Due: lint-go

refactor(02-06): migrate the character-create gate specs to Ginkgo/Gomega
  test/integration/auth/auth_suite_test.go
  test/integration/auth/character_create_gate_test.go
Due: lint-go

docs(02): correct four inaccuracies in the phase's own records
  .planning/phases/02-abac-schema-vocabulary/02-10-SUMMARY.md
  .planning/phases/02-abac-schema-vocabulary/02-REVIEW.md
  .planning/phases/02-abac-schema-vocabulary/02-REVIEWS.md
  .planning/phases/02-abac-schema-vocabulary/02-VERIFICATION.md
Due: none

test(02-06): make the guest-retry spec prove the retry actually happened
  test/integration/auth/character_create_gate_test.go
Due: lint-go

test(02-06): make the guest-retry spec prove the retry actually happened (#4943)
  test/integration/auth/character_create_gate_test.go
Due: lint-go

docs(phase-01): add UAT record for portal SPEC verification
  .planning/phases/01-portal-spec/01-UAT.md
Due: none

docs(phase-01): regenerate VERIFICATION after gap-closure pass
  .planning/phases/01-portal-spec/01-VERIFICATION.md
Due: none

docs(phase-01): reconcile CreateCharacter site count and UAT tracking note
  .planning/phases/01-portal-spec/01-VERIFICATION.md
Due: none

docs(phase-01): regenerate VERIFICATION after gap-closure pass (#4945)
  .planning/phases/01-portal-spec/01-UAT.md
  .planning/phases/01-portal-spec/01-VERIFICATION.md
Due: none

docs(phase-01.1): reconcile D-16 test 2 and split window #9
  .planning/WINDOWS.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-UAT.md
Due: none

docs(phase-01.1): mark phase complete after UAT closed
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-VERIFICATION.md
Due: none

docs(phase-01.1): resolve the D-16 human_verification entry in place
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-VERIFICATION.md
Due: none

docs(phase-01.1): close phase after D-16 reconciliation and window #9 split (#4946)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-UAT.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-VERIFICATION.md
Due: none
