Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(02-02): scene notify-prefs store CRUD with mode digest seam
  plugins/core-scenes/notify_prefs_test.go
  plugins/core-scenes/store.go
Due: lint-go

docs(02-02): complete scene notify-prefs store plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-scenes-lineage-completion/02-02-SUMMARY.md
Due: none

feat(02-03): SceneService mute/notify-pref RPCs + character-self guard
  api/proto/holomush/scene/v1/scene.proto
  internal/grpc/scenemocks/mock_SceneServiceClient.go
  pkg/proto/holomush/scene/v1/scene.pb.go
  pkg/proto/holomush/scene/v1/scene_grpc.pb.go
  pkg/proto/holomush/scene/v1/scenev1connect/scene.connect.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_mute_test.go
  plugins/core-scenes/service_test.go
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
Due: lint-go

feat(02-03): scene mute/unmute telnet subcommands
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_test.go
Due: lint-go

feat(02-03): participant-gated mute/unmute DSL policy
  plugins/core-scenes/plugin.yaml
Due: lint-yaml

feat(02-03): ListCharacterScenes mute/notify read-back (round-3 Concern 1)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

docs(02-03): reword GetPoseOrder "NO ABAC engine" phrasing (Finding 5)
  api/proto/holomush/scene/v1/scene.proto
  pkg/proto/holomush/scene/v1/scene_grpc.pb.go
  pkg/proto/holomush/scene/v1/scenev1connect/scene.connect.go
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
Due: lint-go

docs(02-03): complete scene mute controls plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-scenes-lineage-completion/02-03-SUMMARY.md
Due: none

feat(02-06): idle store query + idleScheduler sweep (active→paused)
  plugins/core-scenes/idle_scheduler.go
  plugins/core-scenes/idle_scheduler_integration_test.go
  plugins/core-scenes/idle_scheduler_test.go
  plugins/core-scenes/store.go
Due: lint-go

feat(02-06): wire idle scheduler + flag-gated idle-nudge emitter + game default
  plugins/core-scenes/idle_scheduler.go
  plugins/core-scenes/idle_scheduler_test.go
  plugins/core-scenes/main.go
  plugins/core-scenes/main_test.go
  plugins/core-scenes/plugin.yaml
Due: lint-go, lint-yaml

docs(02-06): register INV-SCENE-71 (idle active→paused transition)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

feat(02-06): render scene_idle_nudge on telnet via gamenotice.Idle
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
Due: lint-go

docs(02-06): complete idle-timeout lifecycle plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-scenes-lineage-completion/02-06-SUMMARY.md
Due: none

docs(02-06): yamlfmt re-wrap of INV-SCENE-71 summary scalar
  docs/architecture/invariants.yaml
Due: lint-yaml

test(02-04): add failing SceneMuteChecker TTL cache tests
  internal/grpc/scene_mute_cache_test.go
Due: lint-go

feat(02-04): SceneMuteChecker interface + per-character TTL notify cache
  internal/grpc/scene_mute_cache.go
Due: lint-go

feat(02-04): suppress SCENE_ACTIVITY badge for muted/notify-off members
  internal/grpc/server.go
  internal/grpc/subscribe_loop_test.go
Due: lint-go

feat(02-04): wire live SceneMuteChecker into CoreServer construction
  cmd/holomush/sub_grpc.go
  internal/grpc/scene_mute_cache_test.go
  internal/grpc/subscribe_loop_test.go
Due: lint-go

docs(02-04): complete scene mute/notify suppression plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-scenes-lineage-completion/02-04-SUMMARY.md
Due: none

feat(02-05): web mute/notify typed RPCs — sceneaccess+web proto, facade + BFF handlers
  api/proto/holomush/sceneaccess/v1/sceneaccess.proto
  api/proto/holomush/web/v1/web.proto
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/grpc/client_test.go
  internal/grpc/sceneaccess_service.go
  internal/grpc/sceneaccess_service_test.go
  internal/web/handler.go
  internal/web/scene_handlers.go
  internal/web/scene_handlers_test.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccess_grpc.pb.go
  pkg/proto/holomush/sceneaccess/v1/sceneaccessv1connect/sceneaccess.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/src/lib/connect/holomush/sceneaccess/v1/sceneaccess_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(02-05): web notifyFlow mute/notify client + rail toggle + read-back
  web/e2e/scenes.spec.ts
  web/src/lib/components/scenes/SceneComposer.svelte.test.ts
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
  web/src/lib/components/scenes/SceneListItem.svelte.test.ts
  web/src/lib/scenes/client.ts
  web/src/lib/scenes/notifyFlow.test.ts
  web/src/lib/scenes/notifyFlow.ts
  web/src/lib/scenes/types.ts
  web/src/lib/scenes/workspaceStore.svelte.ts
  web/src/lib/scenes/workspaceStore.test.ts
Due: none

docs(02-05): complete web mute/notify typed slice plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-scenes-lineage-completion/02-05-SUMMARY.md
Due: none

feat(02-07): mixed focused/skipped auto-focus render branch (D-07)
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_focus_test.go
Due: lint-go

feat(02-07): wire RestoreConnectionFocus at Subscribe + web-tab safety (D-08)
  internal/grpc/server.go
  test/integration/scenes/reconnect_focus_restoration_test.go
Due: lint-go

feat(02-07): multi-character-per-connection focus no-leak (D-09)
  internal/grpc/focus/restore_connection_focus.go
  test/integration/scenes/reconnect_focus_restoration_test.go
Due: lint-go

style(02-07): gofmt reflow of RestoreConnectionFocus warn log
  internal/grpc/server.go
Due: lint-go

docs(02-07): complete telnet scene-command edge cases plan (SCENEFWD-03)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-scenes-lineage-completion/02-07-SUMMARY.md
Due: none

docs(02): add code review report (0 critical, 2 warning, 3 info)
  .planning/phases/02-scenes-lineage-completion/02-REVIEW.md
Due: none

docs(phase-02): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-scenes-lineage-completion/02-VERIFICATION.md
Due: none

docs(phase-02): evolve PROJECT.md — SCENEFWD-02/03 validated
  .planning/PROJECT.md
Due: none

fix(scenes): hide per-scene mute toggle from observers (WR-01, holomush-e3448)
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
Due: none

docs(02): normalize SUMMARY/REVIEW markdown whitespace (fmt)
  .planning/phases/02-scenes-lineage-completion/02-07-SUMMARY.md
  .planning/phases/02-scenes-lineage-completion/02-REVIEW.md
Due: none

fix(scenes): fail closed on unverified identity for notify-pref trio (WR-02, holomush-gl751)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_mute_test.go
Due: lint-go

chore(planning): sync GSD config (_auto_chain_active)
  .planning/config.json
Due: none

chore(agent-memory): abac-reviewer memory after v1.0-milestone ship review
  .claude/agent-memory/abac-reviewer/MEMORY.md
Due: none

chore(lint): exclude .planning tooling artifacts from markdown lint
  Taskfile.yaml
Due: lint-yaml

fix(core-channels): convert timestamp columns to BIGINT epoch-ns
  plugins/core-channels/audit.go
  plugins/core-channels/audit_test.go
  plugins/core-channels/commands_test.go
  plugins/core-channels/migrations/000001_channels.up.sql
  plugins/core-channels/migrations/000002_create_channel_log.up.sql
  plugins/core-channels/service.go
  plugins/core-channels/service_rpcs.go
  plugins/core-channels/service_test.go
  plugins/core-channels/store.go
Due: lint-go

docs(quick-260709-sqg): core-channels TIMESTAMPTZ→BIGINT (holomush-9hygy)
  .planning/STATE.md
  .planning/quick/260709-sqg-fix-bead-holomush-9hygy-convert-core-cha/260709-sqg-PLAN.md
  .planning/quick/260709-sqg-fix-bead-holomush-9hygy-convert-core-cha/260709-sqg-SUMMARY.md
Due: none

docs(phase-02): add security threat verification (threats_open: 0)
  .planning/phases/02-scenes-lineage-completion/02-SECURITY.md
Due: none

docs(phase-02): ship phase 2 — PR #4595
  .planning/STATE.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
