Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

feat(audit): App-Dek-Ref/Version headers + events_audit columns wired (holomush-ojw1.1.7)
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_test.go
  internal/eventbus/publisher.go
  internal/eventbus/publisher_test.go
Due: lint-go

feat(plugin): Sensitive bool on EmitIntent + LookupEmitSensitivity helper (holomush-ojw1.1.3)
  internal/plugin/crypto_manifest.go
  internal/plugin/crypto_manifest_test.go
  pkg/plugin/event.go
Due: lint-go, schema-sync

feat(plugin): emit-time sensitivity fence (INV-6 + INV-7) (holomush-ojw1.1.4)
  internal/plugin/sensitivity_fence.go
  internal/plugin/sensitivity_fence_test.go
Due: lint-go, schema-sync

feat(plugin): wire emit-time sensitivity fence into PluginEventEmitter (holomush-ojw1.1.5)
  internal/eventbus/types.go
  internal/plugin/event_emitter.go
  internal/plugin/event_emitter_crypto_test.go
Due: lint-go, schema-sync

feat(eventbus): sensitivity-aware crypto path in JetStreamPublisher (holomush-ojw1.1.6)
  cmd/holomush/cmd_plugin_validate_test.go
  internal/eventbus/codec/xchacha20poly1305.go
  internal/eventbus/crypto/dek/api_test.go
  internal/eventbus/publisher.go
  internal/eventbus/publisher_test.go
  internal/eventbus/types_test.go
  internal/plugin/crypto_validator_test.go
  test/integration/auth/multi_tab_test.go
  test/integration/plugin/actor_authentication_test.go
Due: lint-go, schema-sync

feat(bootstrap): Crypto.Enabled config + emitter builder (holomush-ojw1.1.8)
  internal/bootstrap/wire_crypto.go
  internal/bootstrap/wire_crypto_test.go
  internal/eventbus/config.go
  internal/eventbus/config_test.go
Due: lint-go

test(crypto): integration test — sensitive emit ciphertext + audit (holomush-ojw1.1.9)
  test/integration/crypto/emit_test.go
  test/testutil/crypto.go
Due: lint-go

docs(crypto): wire Phase 3a invariants to enforcing tests (holomush-ojw1.1.10)
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
Due: none

fix(plugin): gate sensitivity fence behind Crypto.Enabled flag (holomush-ojw1.1)
  internal/bootstrap/wire_crypto.go
  internal/bootstrap/wire_crypto_test.go
  internal/plugin/event_emitter.go
  internal/plugin/event_emitter_crypto_test.go
  test/integration/crypto/emit_test.go
Due: lint-go, schema-sync

fix(codec): silence CodeQL taint on xchacha20poly1305 Encode allocation (holomush-ojw1.1)
  internal/eventbus/codec/xchacha20poly1305.go
Due: lint-go

fix: address CodeRabbit findings on PR #3514 (holomush-ojw1.1)
  docs/superpowers/specs/2026-05-02-event-payload-crypto-phase3a-grounding.md
  internal/eventbus/history/hot_jetstream.go
  internal/plugin/crypto_manifest_test.go
Due: lint-go, schema-sync

docs: apply RFC2119 keywords to Phase 3a grounding doc (holomush-ojw1.1)
  docs/superpowers/specs/2026-05-02-event-payload-crypto-phase3a-grounding.md
Due: none

security: address GHAS findings
  .github/workflows/site.yml
  go.mod
  go.sum
  internal/access/policy/dsl/ast.go
  scripts/bootstrap_seed_secrets.py
  scripts/tests/test_bootstrap_seed_secrets.py
  site/pyproject.toml
  site/uv.lock
  web/package.json
  web/pnpm-lock.yaml
Due: lint-go, lint-yaml, lint-actions

fixup! address review feedback on GHAS fixes
  internal/access/policy/dsl/ast.go
  scripts/bootstrap_seed_secrets.py
  scripts/tests/test_bootstrap_seed_secrets.py
  site/pyproject.toml
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: lint-go, lint-yaml

feat(crypto): Phase 3b T1 — restore §4.1 wire shape (encrypt event.Payload only) (holomush-ojw1.2)
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/publisher.go
  internal/eventbus/subscriber.go
  test/integration/crypto/emit_test.go
Due: lint-go

docs(crypto): Phase 3b grounding R4 + plan R2.1 + master spec §4.3a (holomush-ojw1.2)
  .claude/agent-memory/design-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-02-event-payload-crypto-phase3b-authguard-decrypt.md
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
  docs/superpowers/specs/2026-05-02-event-payload-crypto-phase3b-grounding.md
Due: none

feat(access): AccessRequest gains caller-supplied Attributes (Decision 6) (holomush-ojw1.2)
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
  internal/access/policy/policytest/helpers_test.go
  internal/access/policy/types/types.go
  internal/access/policy/types/types_test.go
  internal/command/access.go
  internal/command/rate_limit_middleware.go
  internal/grpc/query_stream_history.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/functions.go
  internal/world/service.go
  internal/world/service_helpers_test.go
  test/integration/plugin/abac_widget_test.go
  test/integration/plugin/binary_plugin_test.go
Due: lint-go, schema-sync

security: address GHAS findings (#3516)
  .github/workflows/site.yml
  go.mod
  go.sum
  scripts/bootstrap_seed_secrets.py
  scripts/tests/test_bootstrap_seed_secrets.py
  site/pyproject.toml
  site/uv.lock
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: lint-yaml, lint-actions

chore(ci): add testcontainers cloud
  .github/workflows/ci.yaml
  .github/workflows/nightly-soak.yml
Due: lint-yaml, lint-actions

chore: add testcontainers cloud (#3517)
  .github/workflows/ci.yaml
  .github/workflows/nightly-soak.yml
Due: lint-yaml, lint-actions

feat(store): player_character_bindings substrate (Decision 7) (holomush-ojw1.2)
  cmd/holomush/sub_grpc.go
  internal/auth/guest_service.go
  internal/auth/guest_service_test.go
  internal/auth/mocks/mock_GuestBindingCreator.go
  internal/auth/mocks/mock_GuestTransactor.go
  internal/grpc/auth_handlers.go
  internal/grpc/server.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000015_create_player_character_bindings.down.sql
  internal/store/migrations/000015_create_player_character_bindings.up.sql
  internal/world/postgres/binding_repo.go
  internal/world/postgres/binding_repo_test.go
  internal/world/postgres/character_repo.go
  test/integration/access/evaluation_test.go
  test/integration/access/seed_policies_test.go
  test/integration/auth/auth_suite_test.go
  test/integration/world/world_suite_test.go
Due: lint-go

feat(crypto): dek.Manager.Participants for AuthGuard ParticipantLookup (holomush-ojw1.2)
  internal/eventbus/crypto/dek/manager.go
  internal/eventbus/crypto/dek/manager_integration_test.go
Due: lint-go

feat(eventbus): EventFrame.metadata_only + Delivery.MetadataOnly() (Decision 4) (holomush-ojw1.2)
  api/proto/holomush/core/v1/core.proto
  internal/eventbus/bus.go
  internal/eventbus/delivery_metadata_only_test.go
  internal/eventbus/subscriber.go
  internal/eventbus/subscriber_round3_test.go
  internal/grpc/subscribe_loop_test.go
  pkg/proto/holomush/core/v1/core.pb.go
  web/src/lib/connect/holomush/core/v1/core_pb.ts
Due: lint-go

feat(plugin): Manager.PluginRequestsDecryption substrate (Decision 1) (holomush-ojw1.2)
  internal/plugin/crypto_manifest_lookup_test.go
  internal/plugin/manager.go
Due: lint-go, schema-sync

feat(authguard): typed Identity + AuthGuard four-branch decision tree (Decision 1) (holomush-ojw1.2)
  internal/eventbus/authguard/adapter_dek.go
  internal/eventbus/authguard/adapter_dek_test.go
  internal/eventbus/authguard/adapter_manifest.go
  internal/eventbus/authguard/adapter_manifest_test.go
  internal/eventbus/authguard/authguard.go
  internal/eventbus/authguard/guard.go
  internal/eventbus/authguard/guard_test.go
  internal/eventbus/authguard/identity.go
  internal/eventbus/authguard/identity_test.go
Due: lint-go

feat(authguard): DecryptAuditEmitter audit subpackage with backpressure (Decision 3) (holomush-ojw1.2)
  internal/eventbus/authguard/audit/emitter.go
  internal/eventbus/authguard/audit/emitter_test.go
Due: lint-go

feat(eventbus): wire AuthGuard + decrypt-on-fanout into subscriber + hot_jetstream (Decision 5) (holomush-ojw1.2)
  internal/eventbus/authguard/adapter_identity.go
  internal/eventbus/authguard/adapter_identity_test.go
  internal/eventbus/authguard/adapter_session.go
  internal/eventbus/authguard/audit/adapter_session.go
  internal/eventbus/bus.go
  internal/eventbus/bus_test.go
  internal/eventbus/decode_delivery_test.go
  internal/eventbus/eventbustest/embedded_test.go
  internal/eventbus/history/decode_jetstream_test.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/integration_test.go
  internal/eventbus/publisher_test.go
  internal/eventbus/subscriber.go
  internal/eventbus/subscriber_auth.go
  internal/eventbus/subscriber_round3_test.go
  internal/eventbus/subscriber_test.go
  internal/grpc/server.go
  internal/grpc/server_helpers_test.go
  internal/grpc/subscribe_server_test.go
  test/integration/auth/auth_suite_test.go
  test/integration/eventbus_e2e/multi_protocol_fanout_test.go
  test/integration/eventbus_e2e/reconnect_resume_test.go
Due: lint-go

feat(grpc): Subscribe + QueryStreamHistory build authguard.Identity (Decision 2) (holomush-ojw1.2)
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/types.go
  internal/grpc/auth_handlers.go
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/server.go
  internal/grpc/server_helpers_test.go
  internal/grpc/subscribe_loop_test.go
  internal/grpc/subscribe_server_test.go
  internal/grpc/test_helpers_test.go
Due: lint-go

feat(access): default-deny seed policies for audit.* reads (Decision 3 supplement) (holomush-ojw1.2)
  internal/access/policy/bootstrap_test.go
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
Due: lint-go

test(crypto): Phase 3b decrypt-on-fanout integration tests (holomush-ojw1.2)
  test/integration/crypto/metadata_only_test.go
Due: lint-go

test(crypto): unit-test coverage for AuthGuard Permit/TOCTOU paths (holomush-ojw1.2)
  internal/eventbus/authguard/adapter_session_test.go
  internal/eventbus/authguard/audit/adapter_session_test.go
  internal/eventbus/authguard/guard_test.go
  internal/eventbus/decode_delivery_test.go
  internal/eventbus/history/decode_jetstream_test.go
Due: lint-go

fix(crypto): apply CodeRabbit PR #3518 review fixes (holomush-ojw1.2)
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
  internal/access/policy/types/types.go
  internal/access/policy/types/types_test.go
  internal/eventbus/authguard/adapter_dek_test.go
  internal/eventbus/authguard/adapter_manifest.go
  internal/eventbus/authguard/adapter_manifest_test.go
  internal/eventbus/authguard/audit/adapter_session.go
  internal/eventbus/authguard/audit/adapter_session_test.go
  internal/eventbus/authguard/audit/emitter.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/subscriber.go
  internal/grpc/auth_handlers.go
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/server.go
  internal/grpc/subscribe_server_test.go
  internal/world/postgres/binding_repo.go
  internal/world/service_helpers_test.go
  test/integration/crypto/metadata_only_test.go
Due: lint-go

fix(crypto): tighten DEK ref parse to int64 bounds (CodeQL fix) (holomush-ojw1.2)
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/subscriber.go
Due: lint-go

fix(crypto): enforce INV-19 + nil-dep guards (CodeRabbit round 2) (holomush-ojw1.2)
  internal/access/policy/engine.go
  internal/access/policy/types/types.go
  internal/access/policy/types/types_test.go
  internal/eventbus/decode_delivery_test.go
  internal/eventbus/history/decode_jetstream_test.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/subscriber.go
Due: lint-go

fix(crypto): deep-clone mutable AccessRequest attribute values (CodeRabbit round 3) (holomush-ojw1.2)
  internal/access/policy/types/types.go
  internal/access/policy/types/types_test.go
Due: lint-go

docs(crypto): Phase 3c grounding + plan — DEK cache invalidation + cluster substrate
  .claude/agent-memory/design-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-02-event-payload-crypto-phase3c-cache-invalidation.md
  docs/superpowers/plans/reviews/2026-05-02-phase3c-plan-review-round2.md
  docs/superpowers/plans/reviews/2026-05-02-phase3c-plan-review-round3.md
  docs/superpowers/plans/reviews/2026-05-02-phase3c-plan-review.md
  docs/superpowers/specs/2026-05-02-event-payload-crypto-phase3c-grounding.md
  docs/superpowers/specs/reviews/2026-05-02-phase3c-grounding-design-review-round2.md
  docs/superpowers/specs/reviews/2026-05-02-phase3c-grounding-design-review.md
Due: none

internal/cluster: add types, Pill interface, and metrics scaffold
  internal/cluster/metrics.go
  internal/cluster/pill.go
  internal/cluster/pill_test.go
  internal/cluster/types.go
  internal/cluster/types_test.go
  internal/lifecycle/subsystem.go
  internal/lifecycle/subsystem_test.go
  internal/lifecycle/subsystemid_string.go
Due: lint-go

internal/cluster: NATS heartbeat membership + Subsystem lifecycle
  internal/cluster/clustertest/harness.go
  internal/cluster/heartbeat.go
  internal/cluster/heartbeat_test.go
  internal/cluster/metrics.go
  internal/cluster/payload.go
  internal/cluster/payload_test.go
  internal/cluster/registry.go
  internal/cluster/registry_test.go
Due: lint-go
