Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        command -v addlicense >/dev/null 2>&1 || {
          echo "Installing addlicense..."
          go install github.com/google/addlicense@latest
        }
        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      run: markdownlint-cli2 {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamllint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(specs): fix package structure listing in world model spec
  docs/specs/2026-01-22-world-model-design.md
Due: lint-markdown

feat(world): add pg_trgm extension for fuzzy exit name matching
  internal/store/migrations/004_pg_trgm.sql
  internal/store/postgres.go
  internal/store/postgres_test.go
  internal/world/postgres/exit_repo.go
  internal/world/postgres/exit_repo_test.go
  internal/world/repository.go
Due: lint-go

feat(store): add pg_stat_statements for query performance monitoring
  docs/reference/operations.md
  internal/store/migrations/005_pg_stat_statements.sql
  internal/store/postgres.go
  internal/store/postgres_test.go
Due: lint-go, lint-markdown

fix(world): address PR review findings for world model
  internal/store/migrations/006_object_containment_constraint.sql
  internal/store/postgres.go
  internal/store/postgres_test.go
  internal/world/object_test.go
  internal/world/postgres/exit_repo.go
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
  internal/world/postgres/scene_repo.go
Due: lint-go

fix(world): address third round of PR review findings
  internal/store/postgres.go
  internal/world/postgres/exit_repo.go
  internal/world/postgres/exit_repo_test.go
  internal/world/postgres/object_repo_test.go
Due: lint-go

feat(core): add Subscribe method to EventStore interface
  internal/core/engine_test.go
  internal/core/store.go
  internal/grpc/server_test.go
Due: lint-go

fix(world): address fourth round of PR review findings
  internal/store/postgres_test.go
  internal/world/postgres/exit_repo.go
Due: lint-go

fix(world): address second round of PR review findings
  internal/world/postgres/exit_repo.go
  internal/world/postgres/scene_repo.go
Due: lint-go

test(store): add unit tests for Subscribe with connector injection
  internal/store/postgres.go
  internal/store/postgres_test.go
Due: lint-go

feat(world): add containment validation with depth and circular checks
  internal/world/postgres/location_repo_test.go
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
Due: lint-go

fix(world): propagate errors from stringsToULIDs instead of silent continuation
  internal/world/postgres/exit_repo.go
  internal/world/postgres/object_repo_test.go
Due: lint-go

fix(world): check subtree depth when moving containers with nested items
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
Due: lint-go

fix(world): improve comment accuracy and test coverage
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
  internal/world/repository.go
Due: lint-go

docs(world): align ExitRepository.Delete comment with best-effort behavior
  internal/world/repository.go
Due: lint-go

fix(world): improve comment accuracy and SQL consistency
  internal/world/location.go
  internal/world/object.go
  internal/world/postgres/exit_repo.go
Due: lint-go

docs(world): remove stale migration numbers from test comment
  internal/world/postgres/postgres_test.go
Due: lint-go

fix(world): deep copy mutable fields in ReverseExit and add boundary tests
  internal/world/exit.go
  internal/world/exit_test.go
  internal/world/location_test.go
Due: lint-go

fix(world): improve API consistency and add boundary tests
  internal/world/exit_test.go
  internal/world/location.go
  internal/world/location_test.go
  internal/world/postgres/exit_repo.go
  internal/world/postgres/location_repo.go
Due: lint-go

chore: upgrade PostgreSQL from 16 to 18 in all test configs
  .github/workflows/ci.yaml
  internal/store/postgres_integration_test.go
  internal/world/postgres/postgres_test.go
  test/integration/phase1_5_test.go
Due: lint-go, lint-yaml, lint-actions

docs(world): add BDD integration tests implementation plan
  docs/plans/2026-01-23-world-model-bdd-tests-implementation.md
Due: lint-markdown

docs(world): add BDD integration tests design document
  docs/plans/2026-01-23-world-model-bdd-tests-design.md
Due: lint-markdown

docs: add MUST-level guidance for BDD integration tests
  CLAUDE.md
Due: lint-markdown

test(world): add BDD integration tests for world model
  test/integration/world/exit_repo_test.go
  test/integration/world/location_repo_test.go
  test/integration/world/locations_test.go
  test/integration/world/movement_test.go
  test/integration/world/object_repo_test.go
  test/integration/world/objects_test.go
  test/integration/world/scene_repo_test.go
  test/integration/world/scenes_test.go
  test/integration/world/world_suite_test.go
Due: lint-go

fix(world): address PR review security and consistency issues
  internal/world/exit.go
  internal/world/exit_test.go
  internal/world/object.go
  internal/world/object_test.go
  internal/world/postgres/exit_repo.go
  internal/world/postgres/object_repo.go
Due: lint-go

fix(world): wrap ObjectRepository.Move in transaction for atomicity
  internal/world/postgres/helpers.go
  internal/world/postgres/object_repo.go
Due: lint-go

fix(world): add containment validation to ObjectRepository.Update
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
Due: lint-go

fix(world): deep copy nested LockData and add missing containment tests
  internal/store/postgres_test.go
  internal/world/exit.go
  internal/world/exit_test.go
  internal/world/postgres/object_repo_test.go
Due: lint-go

refactor(world): extract ULID-to-string helper to reduce duplication
  internal/world/postgres/helpers.go
  internal/world/postgres/helpers_test.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/object_repo.go
Due: lint-go

refactor(world): consolidate exit scanning logic to reduce duplication
  internal/world/postgres/exit_repo.go
Due: lint-go

refactor(world): extract parseOptionalULID helper to reduce duplication
  internal/world/postgres/helpers.go
  internal/world/postgres/helpers_test.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/object_repo.go
Due: lint-go

docs(world): fix stale comment referencing removed function
  internal/world/postgres/object_repo.go
Due: lint-go

refactor(world): extract insertExitTx helper to reduce duplication
  internal/world/postgres/exit_repo.go
Due: lint-go

fix(world): ensure ListParticipants returns empty slice instead of nil
  internal/world/postgres/scene_repo.go
Due: lint-go

refactor(world): simplify nullableLockType using nullableString helper
  internal/world/postgres/exit_repo.go
Due: lint-go

refactor(world): use oops.Errorf() for new errors per CLAUDE.md
  internal/world/postgres/object_repo.go
Due: lint-go

docs(world): clarify containment enforcement and nesting depth constant
  docs/specs/2026-01-22-world-model-design.md
  internal/world/postgres/object_repo.go
Due: lint-go, lint-markdown

refactor(world): remove unused Exec method from querier interface
  internal/world/postgres/helpers.go
Due: lint-go

docs(world): add SceneRepository and FindByNameFuzzy to design spec
  docs/specs/2026-01-22-world-model-design.md
Due: lint-markdown

feat(world): add service layer with ABAC authorization
  internal/core/mocks/mock_EventStore.go
  internal/world/service.go
  internal/world/service_test.go
  internal/world/worldtest/mock_ExitRepository.go
Due: lint-go

docs(world): add design improvements implementation plan
  docs/plans/2026-01-23-world-model-design-improvements.md
Due: lint-markdown
