Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

feat(plugin): add capability enforcer with wildcard matching
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
Due: lint-go

refactor(plugin): improve capability enforcer robustness
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
Due: lint-go

docs(plugin): add godoc and edge case tests for capability enforcer
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
Due: lint-go

refactor(plugin): add input validation and IsRegistered helper to enforcer
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
Due: lint-go

feat(plugin): add GetGrants/RemoveGrants and improve enforcer docs
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
Due: lint-go

refactor(plugin): replace custom pattern matching with gobwas/glob
  docs/specs/2026-01-18-plugin-system-design.md
  go.mod
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
Due: lint-go, lint-markdown

fix(plugin): correct ** pattern docs and add empty plugin check
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
Due: lint-go

chore: ignore dist
  .yamllint.yaml
Due: lint-yaml

test(plugin): add missing capability enforcer tests and fix docs
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
Due: lint-go

fix(plugin): add error return to RemoveGrants for empty plugin names
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
Due: lint-go

docs(plugin): clarify ** pattern requires at least one segment
  docs/specs/2026-01-18-plugin-system-design.md
Due: lint-markdown

feat(plugin): add capability enforcer with wildcard matching (#18)
  .yamllint.yaml
  docs/specs/2026-01-18-plugin-system-design.md
  go.mod
  internal/plugin/capability/enforcer.go
  internal/plugin/capability/enforcer_test.go
Due: lint-go, lint-markdown, lint-yaml

bd daemon sync: 2026-01-19 11:53:23
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-19 11:54:08
  .beads/issues.jsonl
Due: none

feat(plugin): add sandboxed Lua state factory
  go.mod
  go.sum
  internal/plugin/lua/state.go
  internal/plugin/lua/state_internal_test.go
  internal/plugin/lua/state_test.go
Due: lint-go

feat(plugin): add manifest parsing with validation
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go

chore: claude settings update
  .claude/settings.json
Due: none

fix(plugin): address security and validation issues from code review
  internal/plugin/lua/state.go
  internal/plugin/lua/state_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go

chore: ignore ralph files, and dist
  .claude/.gitignore
  Taskfile.yaml
Due: lint-yaml

fix(plugin): correct comment accuracy and add boundary test
  internal/plugin/lua/state.go
  internal/plugin/manifest_test.go
Due: lint-go

fix(ci): exclude non-markdown files from markdownlint
  Taskfile.yaml
Due: lint-yaml

chore: exclude .claude from markdown lint
  Taskfile.yaml
Due: lint-yaml

feat(plugin): add JSON Schema validation for plugin manifests
  cmd/gen-schema/main.go
  go.mod
  go.sum
  internal/plugin/manifest.go
  internal/plugin/schema.go
  internal/plugin/schema_test.go
  schemas/plugin.schema.json
Due: lint-go

fix(plugin): address code review findings
  internal/plugin/manifest_test.go
  internal/plugin/schema.go
  internal/plugin/schema_test.go
Due: lint-go

feat(plugin): add semver validation and disallow consecutive hyphens
  go.mod
  go.sum
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go

feat(plugin): add engine and dependencies fields with version constraints
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go

docs(specs): add engine and dependencies fields to plugin manifest spec
  cmd/gen-schema/main.go
  docs/specs/2026-01-18-plugin-system-design.md
Due: lint-go, lint-markdown

fix(plugin): regenerate schema with correct pattern and new fields
  internal/plugin/schema_test.go
  schemas/plugin.schema.json
Due: lint-go

chore: add pre-commit hook to keep schema in sync
  Taskfile.yaml
  lefthook.yaml
Due: lint-yaml

ci: add schema sync verification to PR checks
  .github/workflows/ci.yaml
  lefthook.yaml
Due: lint-yaml, lint-actions

fix(plugin): add trailing newline to generated schema
  internal/plugin/schema.go
Due: lint-go

feat(plugin): add manifest parsing and Lua state factory (#19)
  .claude/.gitignore
  .claude/settings.json
  .github/workflows/ci.yaml
  Taskfile.yaml
  cmd/gen-schema/main.go
  docs/specs/2026-01-18-plugin-system-design.md
  go.mod
  go.sum
  internal/plugin/lua/state.go
  internal/plugin/lua/state_internal_test.go
  internal/plugin/lua/state_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  internal/plugin/schema.go
  internal/plugin/schema_test.go
  lefthook.yaml
  schemas/plugin.schema.json
Due: lint-go, lint-markdown, lint-yaml, lint-actions

bd daemon sync: 2026-01-19 13:58:41
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-19 14:02:46
  .beads/issues.jsonl
Due: none

feat(plugin): add host functions with capability enforcement
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/functions_test.go
Due: lint-go

feat(plugin): implement LuaHost with event delivery
  internal/plugin/host.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
Due: lint-go

test(lua): add comprehensive edge case and error handling tests
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
Due: lint-go

fix(plugin): add timeout contexts and server-side logging to KV functions
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/functions_test.go
Due: lint-go

feat(plugin): implement LuaHost with event delivery (#20)
  internal/plugin/host.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
Due: lint-go

refactor(plugin): improve host functions API and error handling
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/functions_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
