Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(ci): lint:plugin-manifests + lint:docs-symmetry (acceptance criteria 8 + 9)
  Taskfile.yaml
  cmd/lint-plugin-manifests/main.go
Due: lint-go, lint-yaml

docs(spec, plan): plugin actor-claim authentication, plan rev5 — round-4 fixes + cosmetic touch-ups (holomush-ec22.1)
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-04-25-plugin-actor-claim-authentication.md
  docs/superpowers/specs/2026-04-25-plugin-actor-claim-authentication-design.md
Due: none

test(plugin_e2e): integration forgery + Lua manifest-gate suite (spec §5.6 + §5.7)
  pkg/plugin/event_sink.go
  test/integration/plugin/actor_authentication_test.go
  test/integration/plugin/testdata/forgery_plugin/main.go
  test/integration/plugin/testdata/forgery_plugin/plugin.yaml
Due: lint-go, lint-yaml

chore: fix MD031/MD040 markdown lint drift in plan + add actor_kinds_claimable to plugin.schema.json
  docs/superpowers/plans/2026-04-25-plugin-actor-claim-authentication.md
  schemas/plugin.schema.json
Due: none

fix: apply CodeRabbit review fixes (4 unresolved threads on PR #2769)
  cmd/lint-plugin-manifests/main.go
  internal/plugin/goplugin/emit_token_store.go
  internal/plugin/goplugin/emit_token_store_test.go
  internal/plugin/goplugin/host_service.go
  site/docs/extending/actor-kinds-claimable.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

test(integration): pin Subscribe-path stale-token rejection wire shape
  test/integration/auth/auth_suite_test.go
  test/integration/auth/multi_tab_test.go
Due: lint-go

fix: apply CodeRabbit review fixes round 2 (5 unresolved threads on PR #2769)
  docs/superpowers/specs/2026-04-25-plugin-actor-claim-authentication-design.md
  internal/plugin/goplugin/emit_token_store_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  pkg/plugin/service_test.go
Due: lint-go, schema-sync

test(grpc): close patch coverage gaps from PR #271
  internal/grpc/auth_handlers_test.go
  internal/grpc/client_test.go
Due: lint-go

test(grpc): close patch coverage gaps from PR #271 (#2773)
  internal/grpc/auth_handlers_test.go
  internal/grpc/client_test.go
Due: lint-go

test(integration): pin Subscribe-path stale-token rejection wire shape (#2771)
  test/integration/auth/auth_suite_test.go
  test/integration/auth/multi_tab_test.go
Due: lint-go

refactor(web): migrate login handleGuest to setPlayerProfile
  web/.claude/agent-memory/code-reviewer/MEMORY.md
  web/.claude/agent-memory/code-reviewer/reports/2026-04-26-1359-9q8n-2-login-handleguest-setplayerprofile.md
  web/src/lib/stores/authStore.ts
  web/src/routes/login/+page.svelte
Due: none

feat(claude): wire WorktreeCreate/WorktreeRemove hooks for jj workspace isolation
  .claude/hooks/worktree-create.sh
  .claude/hooks/worktree-remove.sh
  .claude/settings.json
Due: none

chore(claude): wire WorktreeCreate/WorktreeRemove hooks for jj workspace isolation (#2772)
  .claude/hooks/worktree-create.sh
  .claude/hooks/worktree-remove.sh
  .claude/settings.json
Due: none

refactor(web): migrate login handleGuest to setPlayerProfile (#2770)
  web/.claude/agent-memory/code-reviewer/MEMORY.md
  web/.claude/agent-memory/code-reviewer/reports/2026-04-26-1359-9q8n-2-login-handleguest-setplayerprofile.md
  web/src/lib/stores/authStore.ts
  web/src/routes/login/+page.svelte
Due: none

chore(setup): add flock, bats-core, yq to brew install for pr-prep concurrency safety
  Taskfile.yaml
Due: lint-yaml

test(pr-prep-lock): add fixture Taskfile and shared bats helpers
  scripts/tests/Taskfile.test.yaml
  scripts/tests/pr-prep-lock-helpers.bash
  scripts/tests/sanity_test.bats
Due: lint-yaml

test(pr-prep-lock): I-1 acquires_when_idle
  scripts/tests/pr-prep-lock.bats
Due: none

feat(tasks): add test:bats runner and sanity test
  Taskfile.yaml
  scripts/tests/sanity_test.bats
Due: lint-yaml

test(pr-prep-lock): I-7 precondition_message
  scripts/tests/pr-prep-lock.bats
Due: none

spec(pr-prep): concurrency safety design
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_go_task_exit_code_wrapping.md
  .claude/agent-memory/design-reviewer/feedback_go_task_internal_semantics.md
  .claude/agent-memory/design-reviewer/feedback_taskfile_shell_idioms.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-04-26-pr-prep-concurrency-safety.md
  docs/superpowers/specs/2026-04-26-pr-prep-concurrency-safety-design.md
Due: none

test(pr-prep-lock): I-9 bypass_guard_blocks
  scripts/tests/pr-prep-lock.bats
Due: none

test(pr-prep-lock): meta-test for invariant-test name alignment
  scripts/tests/pr-prep-lock.bats
Due: none

docs(contributing): add pr-prep gate page with collision-recovery guide
  site/docs/contributing/pr-prep.md
Due: lint-markdown-site, fmt-markdown-site

feat(tasks): run bats suite as first step of pr-prep:run
  Taskfile.yaml
Due: lint-yaml

test(pr-prep-lock): I-5 releases_on_sigkill
  scripts/tests/pr-prep-lock.bats
Due: none

test(pr-prep-lock): I-10 pr_prep_run_hidden_from_list
  scripts/tests/pr-prep-lock.bats
Due: none

feat(tasks): wrap pr-prep in flock harness; add internal pr-prep:run
  Taskfile.yaml
Due: lint-yaml

test(pr-prep-lock): I-6 nonzero_on_failure
  scripts/tests/pr-prep-lock.bats
Due: none

test(pr-prep-lock): I-4 releases_on_normal_exit
  scripts/tests/pr-prep-lock.bats
Due: none

test(pr-prep-lock): I-2 + I-3 + I-8 collision-detection invariants (3 real tests)
  scripts/tests/pr-prep-lock-helpers.bash
  scripts/tests/pr-prep-lock.bats
Due: none

docs: link pr-prep.md from index, pr-guide, and CLAUDE.md
  CLAUDE.md
  site/docs/contributing/index.md
  site/docs/contributing/pr-guide.md
Due: lint-markdown-site, fmt-markdown-site

fix(docs): address CodeRabbit feedback on PR #2774
  scripts/tests/pr-prep-lock.bats
  site/docs/contributing/pr-prep.md
Due: lint-markdown-site, fmt-markdown-site

fix: address CodeRabbit follow-up feedback on PR #2774
  scripts/tests/pr-prep-lock.bats
  site/docs/contributing/pr-guide.md
Due: lint-markdown-site, fmt-markdown-site

docs(spec): rev-7 amendment — CodeRabbit corrections (Goal 1 wording, Non-goal 4 escape-hatch removal, Related-header line refs, Documentation-Deliverables wording)
  docs/superpowers/specs/2026-04-26-pr-prep-concurrency-safety-design.md
Due: none

feat(tasks): serialize task pr-prep with flock(1) (#2774)
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_go_task_exit_code_wrapping.md
  .claude/agent-memory/design-reviewer/feedback_go_task_internal_semantics.md
  .claude/agent-memory/design-reviewer/feedback_taskfile_shell_idioms.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  CLAUDE.md
  Taskfile.yaml
  docs/superpowers/plans/2026-04-26-pr-prep-concurrency-safety.md
  docs/superpowers/specs/2026-04-26-pr-prep-concurrency-safety-design.md
  scripts/tests/Taskfile.test.yaml
  scripts/tests/pr-prep-lock-helpers.bash
  scripts/tests/pr-prep-lock.bats
  site/docs/contributing/index.md
  site/docs/contributing/pr-guide.md
  site/docs/contributing/pr-prep.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

refactor: migrate core-communication EventType constants out of internal/core
  internal/core/engine.go
  internal/core/engine_test.go
  internal/core/event.go
  internal/core/event_constructor_test.go
  internal/core/event_test.go
  internal/grpc/dispatcher_test.go
  internal/grpc/location_follow_test.go
  internal/grpc/pipeline_rendering_test.go
  internal/plugin/hostfunc/stdlib_focus_test.go
  plugins/core-communication/main.lua
  plugins/echo-bot/main.lua
Due: lint-go, schema-sync

feat(plugins): declare crypto.emits sensitivity for all plugins
  internal/plugin/manager_crypto_test.go
  plugins/core-communication/plugin.yaml
  plugins/core-objects/plugin.yaml
  plugins/core-scenes/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

refactor: migrate core-objects EventType constants out of internal/core
  internal/core/event.go
  internal/core/event_test.go
  internal/world/events.go
  internal/world/events_test.go
  internal/world/service_test.go
Due: lint-go

feat(plugin): ValidateCrypto enforces manifest crypto.emits/consumes rules
  internal/plugin/crypto_validator.go
  internal/plugin/crypto_validator_test.go
Due: lint-go, schema-sync

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
