Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(scenes-web): ScenePublishPanel vote + owner withdraw controls
  web/src/lib/components/scenes/ScenePublishPanel.svelte
  web/src/lib/components/scenes/ScenePublishPanel.svelte.test.ts
Due: none

feat(scenes-web): rail Start publish vote button + panel prop wiring
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
Due: none

fix(scenes-web): guard cast ack/clear by attempt + reset panel state on attempt change
  web/src/lib/components/scenes/ScenePublishPanel.svelte
  web/src/lib/components/scenes/ScenePublishPanel.svelte.test.ts
  web/src/lib/scenes/publishFlow.ts
  web/src/lib/scenes/publishStore.svelte.ts
  web/src/lib/scenes/publishStore.test.ts
Due: none

fix(scenes-web): guard lifecycle + withdraw double-fire; cn() for vote classes
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/ScenePublishPanel.svelte
Due: none

fix(web): type querySelector<HTMLElement> in input-group-addon
  web/src/lib/components/ui/input-group/input-group-addon.svelte
Due: none

feat(scenes-web): publish-vote interactive controls (holomush-5rh.24.41.9) (#4564)
  web/src/lib/components/scenes/SceneContextRail.svelte
  web/src/lib/components/scenes/SceneContextRail.svelte.test.ts
  web/src/lib/components/scenes/ScenePublishPanel.svelte
  web/src/lib/components/scenes/ScenePublishPanel.svelte.test.ts
  web/src/lib/components/ui/input-group/input-group-addon.svelte
  web/src/lib/scenes/publishFlow.test.ts
  web/src/lib/scenes/publishFlow.ts
  web/src/lib/scenes/publishStore.svelte.ts
  web/src/lib/scenes/publishStore.test.ts
Due: none

feat(scenes-web): publish-vote Tier-3 Playwright E2E (holomush-5rh.24.41.7)
  web/e2e/scene-publish-vote.spec.ts
  web/src/lib/components/scenes/ScenePublishPanel.svelte
Due: none

feat(scenes-web): publish-vote Tier-3 Playwright E2E (holomush-5rh.24.41.7) (#4565)
  web/e2e/scene-publish-vote.spec.ts
  web/src/lib/components/scenes/ScenePublishPanel.svelte
Due: none

test(scenes): bind INV-SCENE-65 service self-gate invariant (holomush-5rh.24.9)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/grpc/sceneaccess_service_test.go
  plugins/core-scenes/service_test.go
Due: lint-go, lint-yaml

test(scenes): bind INV-SCENE-65 service self-gate invariant (holomush-5rh.24.9) (#4566)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/grpc/sceneaccess_service_test.go
  plugins/core-scenes/service_test.go
Due: lint-go, lint-yaml

docs(token-opt): token/cost/latency optimization design, plan + ADRs (holomush-wagqb)
  docs/adr/README.md
  docs/adr/holomush-cr3gq-run-and-distill-contract-local-offload-agents.md
  docs/adr/holomush-etnfd-do-not-slim-plugin-owned-skill-loads-from-repo.md
  docs/adr/holomush-w1a26-narrow-subagent-model-floor-haiku-carve-out.md
  docs/superpowers/plans/2026-07-03-token-cost-latency-optimization.md
  docs/superpowers/specs/2026-07-03-token-cost-latency-optimization-design.md
Due: none

fix(scenes-web): shadcn Button variants on Scene Board actions (holomush-5rh.31)
  web/src/lib/components/scenes/SceneBoardRow.svelte
Due: none

docs(token-opt): token/cost/latency optimization design, plan + ADRs (holomush-wagqb) (#4567)
  docs/adr/README.md
  docs/adr/holomush-cr3gq-run-and-distill-contract-local-offload-agents.md
  docs/adr/holomush-etnfd-do-not-slim-plugin-owned-skill-loads-from-repo.md
  docs/adr/holomush-w1a26-narrow-subagent-model-floor-haiku-carve-out.md
  docs/superpowers/plans/2026-07-03-token-cost-latency-optimization.md
  docs/superpowers/specs/2026-07-03-token-cost-latency-optimization-design.md
Due: none

fix(scenes-web): shadcn Button variants on Scene Board actions (holomush-5rh.31) (#4568)
  web/src/lib/components/scenes/SceneBoardRow.svelte
Due: none

docs(rules): narrow subagent model-floor to a haiku carve-out (holomush-wagqb §4.3)
  .claude/rules/subagent-briefing.md
Due: none

feat(agents): local-test offload agent — distilled task test verdict (holomush-wagqb T2c)
  .claude/agents/local-test.md
Due: none

feat(agents): local-pr-prep offload agent — exit-code-first triage verdict (holomush-wagqb T2c)
  .claude/agents/local-pr-prep.md
Due: none

feat(agents): local-build offload agent — distilled task build verdict (holomush-wagqb T2c)
  .claude/agents/local-build.md
Due: none

feat(agents): local-lint offload agent — distilled task lint verdict (holomush-wagqb T2c)
  .claude/agents/local-lint.md
Due: none

docs(rules): reduce search-tools.md to a pointer over the grepping skill (holomush-wagqb T1b)
  .claude/rules/search-tools.md
Due: none

docs(rules): document verified repo-agent model tiers (holomush-wagqb T2d)
  .claude/rules/subagent-briefing.md
Due: none

fix: address PR #4569 review findings
  .claude/agents/local-build.md
  .claude/agents/local-lint.md
  .claude/agents/local-pr-prep.md
  .claude/agents/local-test.md
  .claude/rules/search-tools.md
  .claude/rules/subagent-briefing.md
Due: none

fix: replace -run filter denylist with =-bind + single-quote (holomush-hdlbm.1/.2)
  .claude/agents/local-test.md
Due: none

fix: reconcile reviewer-tier contradiction, drop redundant regex carve-out (holomush-hdlbm.3/.4)
  .claude/agents/local-test.md
  .claude/rules/subagent-briefing.md
Due: none

fix: trim redundant restatement in subagent-briefing.md (holomush-dmn6l.1)
  .claude/rules/subagent-briefing.md
Due: none

fix: apply CodeRabbit auto-fixes
  .claude/agents/local-pr-prep.md
Due: none

docs(agents): token/cost/latency Phase 1+2 — offload agents, model-tier carve-out, search-tools pointer (holomush-wagqb) (#4569)
  .claude/agents/local-build.md
  .claude/agents/local-lint.md
  .claude/agents/local-pr-prep.md
  .claude/agents/local-test.md
  .claude/rules/search-tools.md
  .claude/rules/subagent-briefing.md
Due: none

docs(comm): communication content contract — design, Slice 1 plan, ADRs (holomush-kk1ot)
  docs/adr/README.md
  docs/adr/holomush-2hhq2-reuse-verb-category-as-communication-content-discriminator.md
  docs/adr/holomush-byqph-enforce-communication-content-via-protovalidate-gate-plus-du.md
  docs/superpowers/plans/2026-07-03-communication-content-contract-slice-1.md
  docs/superpowers/specs/2026-07-03-communication-content-contract-design.md
Due: none

docs(comm): communication content contract — design, Slice 1 plan, ADRs (holomush-kk1ot) (#4570)
  docs/adr/README.md
  docs/adr/holomush-2hhq2-reuse-verb-category-as-communication-content-discriminator.md
  docs/adr/holomush-byqph-enforce-communication-content-via-protovalidate-gate-plus-du.md
  docs/superpowers/plans/2026-07-03-communication-content-contract-slice-1.md
  docs/superpowers/specs/2026-07-03-communication-content-contract-design.md
Due: none

feat(comm): add holomush.comm.v1.CommunicationContent proto (holomush-kk1ot.1)
  api/proto/holomush/comm/v1/comm.proto
  pkg/proto/holomush/comm/v1/comm.pb.go
  web/src/lib/connect/holomush/comm/v1/comm_pb.ts
Due: lint-go

feat(comm): add pkg/plugin/comm grammar + CommunicationContent builders (holomush-kk1ot.2)
  .claude/agent-memory/code-reviewer/MEMORY.md
  pkg/plugin/comm/builder.go
  pkg/plugin/comm/comm_test.go
  pkg/plugin/comm/grammar.go
Due: lint-go

feat(eventbus): add ContentValidationPublisher, built not wired (holomush-kk1ot.3)
  internal/eventbus/content_publisher.go
  internal/eventbus/content_publisher_test.go
Due: lint-go

feat(hostfunc): add holo.comm.* Lua stdlib binding (holomush-kk1ot.4)
  internal/plugin/hostfunc/stdlib.go
  internal/plugin/hostfunc/stdlib_comm.go
  internal/plugin/hostfunc/stdlib_comm_test.go
Due: lint-go, schema-sync

test(comm): Go<->Lua builder parity test binding INV-COMM-2 (holomush-kk1ot.5)
  internal/plugin/hostfunc/comm_parity_test.go
Due: lint-go, schema-sync

docs(invariants): register INV-COMM scope + INV-COMM-1/2 (holomush-kk1ot.10)
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
Due: lint-yaml

fix(comm): read CommunicationContent field names in web + telnet consumers (holomush-kk1ot.6)
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
  internal/web/translate.go
  internal/web/translate_test.go
Due: lint-go

feat(scenes): migrate handleEmit to CommunicationContent builders (holomush-kk1ot.7)
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_emit_test.go
Due: lint-go

test(scenes): characterize Speaker preservation from CommunicationContent (holomush-kk1ot.8)
  plugins/core-scenes/commands_log_test.go
Due: lint-go

feat(comm): migrate core-communication handlers to holo.comm.* builders (holomush-kk1ot.9)
  .claude/agent-memory/code-reviewer/MEMORY.md
  plugins/core-communication/main.lua
  plugins/core-communication/main_lua_test.go
Due: lint-go

test(comm): Slice 1 integration verification of CommunicationContent wire contract (holomush-kk1ot.11)
  test/integration/comm/comm_suite_test.go
  test/integration/comm/content_contract_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
