Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

gitblobstore: concatenate 96e602shtdeb8iqahpc9hbc0q9sr7b8c
  96e602shtdeb8iqahpc9hbc0q9sr7b8c
Due: none

gitblobstore: checkandput manifest
  manifest
Due: none

chore(beads): hook updates
  .beads/.gitignore
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
Due: none

chore(beads): hook updates (#94)
  .beads/.gitignore
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
Due: none

fix(access): address round 16 review — docs, semantic correctness, comments
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/types/types.go
  internal/access/prefix.go
  internal/access/static_test.go
  internal/command/dispatcher_test.go
  internal/command/handlers/move_test.go
  internal/command/rate_limit_middleware.go
Due: lint-go

fix(access): address round 17 review — audit, tests, refactoring, error factory
  internal/access/access.go
  internal/access/policy/attribute/character_test.go
  internal/access/policy/engine.go
  internal/access/prefix_test.go
  internal/command/errors.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/rate_limit_middleware_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/service_test.go
Due: lint-go, schema-sync

chore(beads): add deferred review findings from round 17
  .beads/issues.jsonl
Due: none

chore(fix): remove inadvertant issues.jsonl
  .beads/issues.jsonl
Due: none

fix(access): address round 18 review — role resolution, infra failures, cleanup
  internal/access/accesstest/mock.go
  internal/access/policy/attribute/character.go
  internal/access/policy/attribute/character_test.go
  internal/access/policy/attribute/location_test.go
  internal/access/policy/attribute/property_test.go
  internal/access/policy/policytest/helpers.go
  internal/access/policy/types/types.go
  internal/access/policy/types/types_test.go
  internal/access/static.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/who_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(access): address round 19 review — Decision encapsulation, PolicyEffect validation, migration equivalence
  docs/plans/2026-02-06-full-abac-phase-7.6.md
  internal/access/migration_equivalence_test.go
  internal/access/policy/cache_test_helpers.go
  internal/access/policy/engine.go
  internal/access/policy/engine_contract_test.go
  internal/access/policy/engine_test.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/store/postgres.go
  internal/access/policy/types/types.go
  internal/access/policy/types/types_test.go
Due: lint-go

fix(access): address round 20 review — method calls, infra failure classification, dead code
  CLAUDE.md
  internal/access/policy/engine.go
  internal/command/dispatcher.go
  internal/command/handlers/boot.go
  internal/plugin/hostfunc/commands.go
  internal/world/service.go
Due: lint-go, schema-sync

fix(access): address round 21 review — infra failure tests, resolver error propagation
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/access/policy/engine.go
  internal/command/dispatcher_test.go
  internal/command/handlers/boot_test.go
  internal/plugin/hostfunc/commands_test.go
Due: lint-go, schema-sync

chore(beads): remove metadata.json from version control
  .beads/metadata.json
  .gitignore
Due: none

chore(beads): remove metadata.json from version control (#95)
  .beads/metadata.json
  .gitignore
Due: none

chore: beads updates
  .beads/.gitignore
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .gitignore
  .serena/project.yml
Due: lint-yaml

chore: beads updates (#100)
  .beads/.gitignore
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .gitignore
  .serena/project.yml
Due: lint-yaml

chore: serena updates
  .serena/project.yml
Due: lint-yaml

refactor(command): migrate command package to AccessPolicyEngine
  .mockery.yaml
  internal/access/policy/policytest/helpers.go
  internal/access/policy/policytest/mock_AccessPolicyEngine.go
  internal/access/static.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/look.go
  internal/command/handlers/look_test.go
  internal/command/handlers/move.go
  internal/command/handlers/move_test.go
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
  internal/command/handlers/shutdown_test.go
  internal/command/handlers/testutil/services.go
  internal/command/handlers/wall_test.go
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
  internal/command/middleware_test.go
  internal/command/rate_limit_middleware.go
  internal/command/types.go
  internal/command/types_test.go
  internal/plugin/mocks/mock_Host.go
Due: lint-go, lint-yaml, schema-sync

refactor(world): migrate world service to AccessPolicyEngine
  .mockery.yaml
  internal/command/handlers/boot_test.go
  internal/command/handlers/look_test.go
  internal/command/handlers/move_test.go
  internal/command/handlers/objects_test.go
  internal/command/handlers/testutil/world_service.go
  internal/command/handlers/who_test.go
  internal/world/events_test.go
  internal/world/service.go
  internal/world/service_test.go
  internal/world/worldtest/mock_AccessControl.go
  internal/world/worldtest/mock_AccessPolicyEngine.go
  test/integration/building/building_test.go
Due: lint-go, lint-yaml

fix(access): address PR #88 round-3 review findings
  .github/workflows/ci.yaml
  Taskfile.yaml
  internal/access/access.go
  internal/access/static.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
  internal/command/handlers/boot.go
  internal/command/middleware_test.go
  internal/command/rate_limit_middleware.go
  internal/core/event.go
  internal/plugin/communication_integration_test.go
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/stdlib_test.go
  internal/plugin/lua/host_test.go
  internal/world/service.go
  pkg/holo/emit.go
  pkg/holo/emit_test.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go, lint-yaml, lint-actions, schema-sync

fix(access): add SPDX header and use SubjectCharacter constant in test
  internal/command/rate_limit_middleware.go
  internal/world/events_test.go
Due: lint-go

refactor(plugin): migrate plugin host functions to AccessPolicyEngine
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/hostfunc/functions.go
Due: lint-go, schema-sync

fix(access): address PR #88 review findings
  internal/access/policy/policytest/helpers.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/middleware_test.go
  internal/command/rate_limit_middleware.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go, schema-sync

test(access): add verification tests for Phase 7.6 migration
  internal/command/dispatcher_test.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/service_test.go
Due: lint-go, schema-sync

fix(access): address PR #88 round-4 comprehensive review findings
  Taskfile.yaml
  internal/access/access.go
  internal/command/dispatcher.go
  internal/command/handlers/who.go
  internal/command/rate_limit_middleware.go
  internal/command/rate_limit_middleware_test.go
  internal/world/service.go
  internal/world/service_test.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go, lint-yaml

fix(access): address comprehensive PR review findings
  cmd/holomush/deps_test.go
  docs/plans/2026-02-06-full-abac-phase-7.6.md
  internal/access/policy/bootstrap_test.go
  internal/access/policy/seed_test.go
  internal/command/dispatcher_test.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/objects_test.go
  internal/command/middleware_test.go
  internal/command/rate_limit_middleware.go
  internal/command/types.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/events_test.go
  internal/world/service.go
  internal/world/service_test.go
  test/integration/building/building_test.go
Due: lint-go, schema-sync

fix(test): migrate remaining integration tests to AccessPolicyEngine
  internal/world/postgres/cascade_delete_test.go
  test/integration/building/building_test.go
  test/integration/command/alias_integration_test.go
  test/integration/world/character_events_test.go
Due: lint-go

fix(test): resolve data race in phase1_5 shutdown test
  test/integration/phase1_5_test.go
Due: lint-go

fix(test): repair 4 pre-existing broken-on-main integration test bugs
  internal/access/policy/store/postgres_integration_test.go
  internal/world/postgres/transactor_test.go
  test/integration/building/building_test.go
  test/integration/cli/cli_suite_test.go
  test/integration/cli/seed_test.go
Due: lint-go

fix(test): use TxFromContext in transactor tests and improve hook message
  .claude/hooks/enforce-task-runner.sh
  internal/world/postgres/helpers.go
  internal/world/postgres/transactor_test.go
Due: lint-go

fix(access): address round 7 review findings for ABAC Phase 7.6
  docs/plans/2026-02-06-full-abac-phase-7.6.md
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/who.go
  internal/world/service_test.go
Due: lint-go

fix(access): address PR #88 comprehensive review findings
  Taskfile.yaml
  internal/access/policy/policytest/helpers.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
  internal/command/handlers/who.go
  internal/command/metrics.go
  internal/command/rate_limit_middleware.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/service_test.go
Due: lint-go, lint-yaml, schema-sync

fix(access): address round 5 review findings for ABAC Phase 7.6
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
  internal/command/rate_limit_middleware.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(access): address round 6 review findings for ABAC Phase 7.6
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/look.go
  internal/command/handlers/look_test.go
  internal/command/handlers/move.go
  internal/command/handlers/move_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/postgres/cascade_delete_test.go
  internal/world/service_helpers_test.go
  internal/world/service_test.go
  test/integration/world/character_events_test.go
Due: lint-go, schema-sync

fix(access): address round 10 comprehensive review findings
  internal/access/policy/types/types.go
  internal/access/policy/types/types_test.go
  internal/access/prefix.go
  internal/access/prefix_test.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/who_test.go
  internal/command/types_test.go
  internal/world/service_test.go
Due: lint-go

fix(access): address round 11 comprehensive review findings
  internal/access/access.go
  internal/access/policy/engine.go
  internal/access/policy/types/types.go
  internal/access/prefix.go
  internal/access/prefix_test.go
  internal/access/static.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/testutil/services.go
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
  internal/command/rate_limit_middleware.go
  internal/command/rate_limit_middleware_test.go
  internal/command/types.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/hostfunc/functions.go
  internal/world/service.go
  internal/world/service_helpers_test.go
  internal/world/service_test.go
  test/integration/access/access_suite_test.go
  test/integration/access/concurrent_engine_test.go
Due: lint-go, schema-sync

fix(access): address round 9 comprehensive review findings
  internal/access/policy/attribute/character_test.go
  internal/access/policy/attribute/location_test.go
  internal/access/policy/attribute/property_test.go
  internal/access/policy/engine.go
  internal/access/policy/policytest/helpers.go
  internal/access/policy/seed_smoke_test.go
  internal/access/prefix.go
  internal/access/prefix_test.go
  internal/access/static_test.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/look.go
  internal/command/handlers/look_test.go
  internal/command/handlers/move.go
  internal/command/handlers/move_test.go
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
  internal/command/rate_limit_middleware.go
  internal/command/rate_limit_middleware_test.go
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/events_test.go
  internal/world/service.go
  internal/world/service_helpers_test.go
  internal/world/service_test.go
  plugins/help/main.lua
Due: lint-go, schema-sync

fix(access): address round 8 comprehensive review findings
  Taskfile.yaml
  internal/access/access.go
  internal/access/static.go
  internal/command/handlers/boot.go
  internal/command/handlers/boot_test.go
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/world/service.go
  pkg/holo/emit.go
Due: lint-go, lint-yaml, schema-sync

fix(access): address round 12 comprehensive review findings
  internal/access/policy/engine.go
  internal/access/policy/engine_contract_test.go
  internal/access/policy/engine_test.go
  internal/access/policy/policytest/helpers.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/types/types.go
  internal/access/policy/types/types_test.go
  internal/access/prefix.go
  internal/access/prefix_test.go
  internal/access/static_test.go
  internal/command/handlers/boot.go
  internal/command/rate_limit_middleware.go
  internal/command/types_test.go
  internal/observability/server.go
  internal/plugin/hostfunc/commands.go
Due: lint-go, schema-sync
