Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(spec): describe, page & whisper commands design
  docs/superpowers/specs/2026-03-27-describe-page-whisper-design.md
Due: none

docs(plan): describe, page & whisper implementation plan
  docs/superpowers/plans/2026-03-27-describe-page-whisper.md
Due: none

feat(store): add session messaging columns migration
  internal/store/migrations/000019_session_messaging.down.sql
  internal/store/migrations/000019_session_messaging.up.sql
Due: none

feat(plugin): add holo.session namespace with find_by_name and set_last_whispered
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/stdlib_session.go
  internal/plugin/hostfunc/stdlib_session_test.go
  internal/plugin/lua/host.go
  pkg/holo/context.go
Due: lint-go, schema-sync

feat(session): add FindByCharacterName, UpdateLastPaged, UpdateLastWhispered
  internal/command/dispatcher_test.go
  internal/command/handlers/testutil/mock_session.go
  internal/command/handlers/testutil/services.go
  internal/command/types_test.go
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/store/session_store.go
  internal/web/handler_test.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go

feat(world): add UpdateCharacterDescription to WorldService
  internal/command/types.go
  internal/world/service.go
Due: lint-go

feat(command): add describe handler for character/location/object descriptions
  internal/command/handlers/describe.go
  internal/command/handlers/describe_test.go
Due: lint-go

feat(command): add page handler for OOC private messaging
  internal/command/handlers/page.go
  internal/command/handlers/page_test.go
  internal/command/handlers/register.go
  internal/command/handlers/testutil/mock_session.go
Due: lint-go

feat(core): add page and whisper event types with payload structs
  internal/core/event.go
  internal/core/event_test.go
Due: lint-go

feat(session): add LastPaged and LastWhispered fields to Info
  internal/session/session.go
  internal/store/migrate_test.go
  internal/store/session_store.go
  internal/store/session_store_test.go
Due: lint-go

feat(command): register desc and p as core command aliases
  internal/command/handlers/register.go
Due: lint-go

feat(plugin): add whisper command to communication plugin
  plugins/communication/main.lua
  plugins/communication/plugin.yaml
Due: lint-yaml

fix: address CodeRabbit review findings for PR #141
  cmd/holomush/core.go
  docs/superpowers/plans/2026-03-27-describe-page-whisper.md
  docs/superpowers/specs/2026-03-27-describe-page-whisper-design.md
  internal/store/session_store.go
  internal/telnet/gateway_handler.go
  plugins/communication/main.lua
Due: lint-go

fix: add license headers to migration SQL files
  internal/store/migrations/000019_session_messaging.down.sql
  internal/store/migrations/000019_session_messaging.up.sql
Due: none

fix(test): wire dispatcher into telnet E2E integration test
  test/integration/telnet/e2e_test.go
Due: lint-go

fix(test): wire dispatcher into all NewCoreServer test callers
  internal/grpc/server_test.go
Due: lint-go

fix: panic on NewCoreServer without WithDispatcher
  internal/grpc/server.go
  internal/grpc/server_test.go
Due: lint-go

refactor: make dispatcher a required NewCoreServer parameter
  cmd/holomush/core.go
  internal/grpc/server_test.go
  test/integration/phase1_5_test.go
  test/integration/session/session_persistence_integration_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go

fix: address CodeRabbit review findings (round 2)
  internal/grpc/server.go
  internal/plugin/hostfunc/stdlib_session.go
  internal/plugin/hostfunc/stdlib_session_test.go
  internal/store/session_store.go
  plugins/communication/main.lua
Due: lint-go, schema-sync

fix(test): wire handlers + stores into session integration test dispatcher
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

feat: describe, page & whisper commands for v0.1 (#141)
  cmd/holomush/core.go
  docs/superpowers/plans/2026-03-27-describe-page-whisper.md
  docs/superpowers/specs/2026-03-27-describe-page-whisper-design.md
  internal/command/dispatcher_test.go
  internal/command/handlers/describe.go
  internal/command/handlers/describe_test.go
  internal/command/handlers/page.go
  internal/command/handlers/page_test.go
  internal/command/handlers/register.go
  internal/command/handlers/testutil/mock_session.go
  internal/command/handlers/testutil/services.go
  internal/command/types.go
  internal/command/types_test.go
  internal/core/event.go
  internal/core/event_test.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/stdlib_session.go
  internal/plugin/hostfunc/stdlib_session_test.go
  internal/plugin/lua/host.go
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/session/session.go
  internal/store/migrate_test.go
  internal/store/migrations/000019_session_messaging.down.sql
  internal/store/migrations/000019_session_messaging.up.sql
  internal/store/session_store.go
  internal/store/session_store_test.go
  internal/telnet/gateway_handler.go
  internal/web/handler_test.go
  internal/world/service.go
  pkg/holo/context.go
  plugins/communication/main.lua
  plugins/communication/plugin.yaml
  test/integration/command/ratelimit_integration_test.go
  test/integration/phase1_5_test.go
  test/integration/session/session_persistence_integration_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go, lint-yaml, schema-sync

docs(spec): communication event type extensibility design
  docs/specs/2026-03-28-comm-event-extensibility-design.md
Due: none

docs(spec): communication event type extensibility design (#144)
  docs/specs/2026-03-28-comm-event-extensibility-design.md
Due: none

docs(plan): comm event extensibility implementation plan
  docs/superpowers/plans/2026-03-28-comm-event-extensibility.md
Due: none

docs(plan): comm event extensibility implementation plan (#146)
  docs/superpowers/plans/2026-03-28-comm-event-extensibility.md
Due: none

docs(spec): plugin-first command architecture design
  docs/specs/2026-03-28-plugin-first-command-architecture-design.md
Due: none

docs(spec): plugin-first command architecture design (#147)
  docs/specs/2026-03-28-plugin-first-command-architecture-design.md
Due: none

docs(plan): plugin-first command architecture implementation plan
  docs/superpowers/plans/2026-03-28-plugin-first-command-architecture.md
Due: none

docs(plan): plugin-first command architecture implementation plan (#148)
  docs/superpowers/plans/2026-03-28-plugin-first-command-architecture.md
Due: none

fix: apply CodeRabbit auto-fixes for PR #149
  cmd/holomush/gateway_test.go
  internal/core/registry_test.go
  internal/telnet/gateway_handler.go
  test/integration/telnet/e2e_test.go
Due: lint-go

fix: apply CodeRabbit auto-fixes round 2 for PR #149
  cmd/holomush/gateway_test.go
  internal/telnet/gateway_handler.go
Due: lint-go

ci: add codecov, semgrep, trivy scanning and migrate to git-cliff releases
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/semgrep.yml
  .goreleaser.yaml
  cliff.toml
  codecov.yml
  cog.toml
Due: lint-yaml, lint-actions

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
