Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(05): incorporate round-5 cross-AI review into phase plans
  .planning/ROADMAP.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-01-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-02-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-03-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-05-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-06-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-07-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-09-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-10-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-11-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-12-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-14-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-15-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-16-PLAN.md
Due: none

docs(05): cross-AI review round 6 (codex+grok NOT-READY, agy false-green)
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-REVIEWS.md
Due: none

docs(05): incorporate round-6 cross-AI review into phase plans
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-01-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-02-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-03-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-05-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-06-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-07-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-09-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-11-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-12-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-13-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-14-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-15-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-16-PLAN.md
Due: none

docs(05): cross-AI review round 8 (R6-1..R6-4 closed; R6-5 residual holes)
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-REVIEWS.md
Due: none

docs(05): incorporate round-8 cross-AI review into phase plans
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-01-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-05-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-07-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-09-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-11-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-12-PLAN.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-16-PLAN.md
Due: none

feat(05-01): add version column to four world tables (000049)
  internal/store/migrations/000049_world_version_guard.down.sql
  internal/store/migrations/000049_world_version_guard.up.sql
Due: none

feat(05-01): add Version field to four world structs
  internal/world/character.go
  internal/world/exit.go
  internal/world/location.go
  internal/world/object.go
Due: lint-go

test(05-01): add failing test for WORLD_CONCURRENT_EDIT code
  internal/world/errors_test.go
Due: lint-go

feat(05-01): add WORLD_CONCURRENT_EDIT typed conflict signal
  internal/world/errors.go
Due: lint-go

test(05-01): update migration fixture for 000049
  internal/store/migrate_test.go
Due: lint-go

docs(05-01): complete world version-guard foundation plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-01-SUMMARY.md
Due: none

feat(05-14): make InTransaction re-entrant + add withTx seam
  internal/world/postgres/export_test.go
  internal/world/postgres/helpers.go
  internal/world/postgres/transactor.go
  internal/world/postgres/transactor_test.go
Due: lint-go

refactor(05-14): route exit/object/property writes through re-entrant seam
  internal/world/postgres/exit_repo.go
  internal/world/postgres/object_repo.go
  internal/world/postgres/property_repo.go
Due: lint-go

docs(05-14): complete transaction & repository foundation plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-14-SUMMARY.md
Due: none

test(05-02): add version-guard CAS tests for location repo
  internal/world/postgres/location_repo_test.go
Due: lint-go

feat(05-02): version-predicated CAS + zero-row classifier for location repo
  internal/world/postgres/helpers.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/scene_repo.go
Due: lint-go

test(05-02): add version-guard CAS tests for exit repo
  internal/world/postgres/exit_repo_test.go
Due: lint-go

feat(05-02): version-predicated CAS + zero-row classifier for exit repo
  internal/world/postgres/exit_repo.go
Due: lint-go

docs(05-02): complete location+exit version-guard CAS plan
  .planning/STATE.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-02-SUMMARY.md
Due: none

docs(05-02): append self-check to plan summary
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-02-SUMMARY.md
Due: none

test(05-03): add character version-guard CAS + ListByPlayer RED tests
  internal/world/postgres/character_repo_test.go
Due: lint-go

feat(05-03): version-predicated CAS + ListByPlayer for character repo
  internal/world/postgres/character_repo.go
Due: lint-go

test(05-03): add object version-guard CAS (incl. Move) RED tests
  internal/world/postgres/object_repo_test.go
Due: lint-go

feat(05-03): version-predicated CAS + guarded Move for object repo
  internal/world/postgres/object_repo.go
Due: lint-go

test(05-03): assert CharRepoAdapter.ListByPlayer scans version (R6-1/R6-3)
  internal/world/postgres/character_repo_test.go
Due: lint-go

feat(05-03): CharRepoAdapter.ListByPlayer delegates to version-scanning repo
  internal/bootstrap/setup/adapters.go
Due: lint-go

refactor(05-03): drop now-unused primaryDelta helper
  internal/world/postgres/helpers.go
Due: lint-go

docs(05-03): complete character+object version-guard CAS plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-03-SUMMARY.md
Due: none

test(05-04): pin RMW version threading + WORLD_CONCURRENT_EDIT surfacing
  internal/property/entity_mutator_test.go
  internal/world/service_test.go
Due: lint-go

style(05-04): commit gofmt normalization of location/object repo arg slices
  internal/world/postgres/location_repo.go
  internal/world/postgres/object_repo.go
Due: lint-go

test(05-04): flip M12 resilience spec to assert the surfaced conflict
  test/integration/resilience/chaos_helpers_test.go
  test/integration/resilience/m12_lastwritewins_test.go
Due: lint-go

docs(05-04): complete version-threaded RMW + M12 spec flip plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-04-SUMMARY.md
Due: none

feat(05-05): migration 000050 — outbox foundation schema (MODEL-04)
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000050_world_outbox.down.sql
  internal/store/migrations/000050_world_outbox.up.sql
Due: lint-go

feat(05-05): Envelope/EnvelopeIntent value types + locked feed allocator
  internal/world/errors.go
  internal/world/postgres/feed_counter.go
  internal/world/postgres/feed_counter_test.go
  internal/world/wmodel/envelope.go
  internal/world/wmodel/envelope_test.go
Due: lint-go

feat(05-05): same-tx outbox WriteIntent + INV-WORLD-1 atomicity test
  internal/store/migrations/000050_world_outbox.up.sql
  internal/world/postgres/outbox_store.go
  internal/world/postgres/outbox_store_test.go
  internal/world/wmodel/envelope.go
Due: lint-go

docs(05-05): complete MODEL-04 outbox foundation plan
  .planning/phases/05-world-model-integrity-fixes-m2-m12/05-05-SUMMARY.md
Due: none

docs(05-05): update state + roadmap after outbox foundation plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(05-06): write-requires-envelope seam + MoveCharacter through the outbox
  internal/observability/server.go
  internal/world/movement_hook.go
  internal/world/movement_hook_test.go
  internal/world/mutator.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

refactor(05-06): delete the post-commit emit path (folds WR-01 / D-03)
  .mockery.yaml
  internal/world/errors.go
  internal/world/event_store_adapter.go
  internal/world/event_store_adapter_test.go
  internal/world/events.go
  internal/world/events_test.go
  internal/world/streams.go
  internal/world/streams_test.go
  internal/world/worldtest/mock_EventEmitter.go
Due: lint-go, lint-yaml
