Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

test(scenes): complete Phase 6 test coverage (E7/D4/E8/E10) on bare-ULID base (#4308)
  plugins/core-scenes/publish_event_emission_integration_test.go
  plugins/core-scenes/publish_service_test.go
  plugins/core-scenes/publish_snapshot_integration_test.go
  plugins/core-scenes/publish_state_test.go
  test/integration/scenes/publish_e2e_test.go
  test/meta/scenes_phase6_invariants_test.go
Due: lint-go

docs(roadmap): mark Scenes Phase 6 shipped (holomush-5rh.20)
  docs/roadmap.md
Due: none

docs(roadmap): mark Scenes Phase 6 shipped (holomush-5rh.20) (#4309)
  docs/roadmap.md
Due: none

docs(scenes): focus-delta coordinator unification — spec, plan, ADR (holomush-66228)
  docs/adr/holomush-jfw0k-focus-delta-driven-by-coordinator.md
  docs/superpowers/plans/2026-05-28-focus-delta-coordinator-unification.md
  docs/superpowers/specs/2026-05-28-focus-delta-coordinator-unification-design.md
Due: none

docs(scenes): focus-delta coordinator unification spec, plan + ADR (holomush-66228) (#4310)
  docs/adr/holomush-jfw0k-focus-delta-driven-by-coordinator.md
  docs/superpowers/plans/2026-05-28-focus-delta-coordinator-unification.md
  docs/superpowers/specs/2026-05-28-focus-delta-coordinator-unification-design.md
Due: none

fix(scenes): make CastVote atomic with attempt lifecycle (holomush-wn612)
  plugins/core-scenes/publish_service_test.go
  plugins/core-scenes/publish_store.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

fix(scenes): make CastVote atomic with attempt lifecycle (holomush-wn612) (#4311)
  plugins/core-scenes/publish_service_test.go
  plugins/core-scenes/publish_store.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

test(scenes): deterministic ULID ordering in ReadSceneLogForSnapshot (holomush-ag0b0)
  plugins/core-scenes/store_integration_test.go
Due: lint-go

test(scenes): deterministic ULID ordering in ReadSceneLogForSnapshot (holomush-ag0b0) (#4312)
  plugins/core-scenes/store_integration_test.go
Due: lint-go

docs(grpc-api): cover all 12 services via buf-driven generation (holomush-okm59)
  .claude/agent-memory/code-reviewer/MEMORY.md
  Taskfile.yaml
  buf.gen.docs.yaml
  docs/roadmap.md
  docs/superpowers/plans/2026-05-27-docs-starlight-migration.md
  docs/superpowers/specs/2026-05-27-docs-starlight-migration-design.md
  site/src/content/docs/reference/grpc-api.md
  test/meta/grpc_api_coverage_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

docs(grpc-api): cover all 12 services via buf-driven generation (holomush-okm59) (#4313)
  .claude/agent-memory/code-reviewer/MEMORY.md
  Taskfile.yaml
  buf.gen.docs.yaml
  docs/roadmap.md
  docs/superpowers/plans/2026-05-27-docs-starlight-migration.md
  docs/superpowers/specs/2026-05-27-docs-starlight-migration-design.md
  site/src/content/docs/reference/grpc-api.md
  test/meta/grpc_api_coverage_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

docs(brand): branding section in site/CLAUDE.md + root pointer (holomush-7daup)
  CLAUDE.md
  site/CLAUDE.md
Due: none

feat(brand): recolor docs accent to cyan, brand tokens (holomush-7daup)
  site/src/styles/custom.css
Due: none

feat(brand): wire new logo/favicon/og tags into Starlight config (holomush-7daup)
  site/astro.config.mjs
  site/src/assets/favicon.png
  site/src/assets/logo.png
Due: none

feat(brand): OG social card via fal.ai backdrop + sharp composite (holomush-7daup)
  site/public/og-card.png
  site/scripts/build-brand-assets.mjs
  site/src/assets/brand/og-backdrop.png
Due: none

feat(brand): glyph-to-path helper via opentype (holomush-7daup)
  site/scripts/lib/glyphs.mjs
Due: none

docs(brand): add .claude/rules/branding.md guidance (holomush-7daup)
  .claude/rules/branding.md
Due: none

fix(brand): compose glyphPath per-glyph to dodge opentype GSUB crash on JetBrains Mono (holomush-7daup)
  site/scripts/lib/glyphs.mjs
Due: none

feat(brand): add JetBrains Mono + opentype.js for asset outlining (holomush-7daup)
  site/bun.lock
  site/package.json
  site/src/assets/brand/fonts/JetBrainsMono-Medium.ttf
  site/src/assets/brand/fonts/OFL.txt
Due: none

feat(brand): generate light/dark header lockups with outlined wordmark (holomush-7daup)
  site/scripts/build-brand-assets.mjs
  site/src/assets/logo-dark.svg
  site/src/assets/logo-light.svg
Due: none

test(brand): rebaseline INV-5 brand-freeze to committed sha256 manifest (holomush-7daup)
  .claude/rules/branding.md
  scripts/check-docs-ia.sh
  site/src/assets/brand/brand-assets.sha256
Due: none

feat(brand): generate tile favicon.svg with outlined h + amber cursor (holomush-7daup)
  site/public/favicon.svg
  site/scripts/build-brand-assets.mjs
Due: none

feat(brand): org avatar + README banner (holomush-7daup)
  README.md
  assets/brand/og-avatar.png
  assets/brand/readme-banner.png
  site/scripts/build-brand-assets.mjs
Due: none

feat(brand): rasterize PNG favicons + apple-touch icon via sharp (holomush-7daup)
  site/public/apple-touch-icon.png
  site/public/favicon-16.png
  site/public/favicon-32.png
  site/public/favicon-48.png
  site/scripts/build-brand-assets.mjs
Due: none

docs(roadmap): refresh docs-platform open tail (anchor + P1s now closed)
  docs/roadmap.md
Due: none

chore(brand): address PR #4315 review findings (holomush-7daup)
  .claude/rules/branding.md
  scripts/check-docs-ia.sh
  site/CLAUDE.md
  site/scripts/build-brand-assets.mjs
  site/scripts/lib/glyphs.mjs
  site/src/assets/brand/brand-assets.sha256
Due: none

test(harness): WithExtraPluginDir for out-of-tree test plugins (holomush-66228)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/options.go
  internal/testsupport/integrationtest/plugins.go
Due: lint-go

test(lua): parity lock — Lua focus adapter drives coordinator deltas (holomush-66228)
  internal/plugin/lua/focus_ops_adapter.go
  internal/plugin/lua/focus_ops_adapter_test.go
Due: lint-go, schema-sync

test(scenes): full gopher-lua focus-delta parity integration test (holomush-66228)
  test/integration/scenes/lua_focus_parity_test.go
Due: lint-go

refactor(plugin): delete binary-host ConnectionSender seam (holomush-66228)
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service_test.go
  internal/plugin/setup/subsystem.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
Due: lint-go, schema-sync

test(scenes): add Lua fixture plugin for auto_focus_on_join integration test
  test/integration/scenes/testdata/lua/focus_join/plugin.lua
  test/integration/scenes/testdata/lua/focus_join/plugin.yaml
Due: lint-yaml

test(focus): boundary + error-logging coverage for driveFocusDeltas (holomush-66228)
  internal/grpc/focus/focus_delta_test.go
Due: lint-go

feat(grpc): FocusStreamCoordinatorOptions single-assembly helper (holomush-66228)
  internal/grpc/focus_wiring.go
  internal/grpc/focus_wiring_test.go
Due: lint-go

refactor(plugin): remove binary-host focus-delta driving; delegate to coordinator (holomush-66228)
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
Due: lint-go, schema-sync

test(harness): drive focus deltas via coordinator; drop binary-host ConnectionSender wiring (holomush-66228)
  internal/testsupport/integrationtest/harness.go
Due: lint-go

fix(holomush-fqv8z): address PR #4314 review findings — stale T18 docs, paths, test gaps (holomush-66228)
  internal/grpc/focus/auto_focus_on_join.go
  internal/grpc/focus/coordinator.go
  internal/grpc/focus/focus_delta_test.go
  internal/grpc/focus/set_connection_focus.go
  internal/grpc/focus/set_connection_focus_test.go
  internal/plugin/lua/focus_ops_adapter.go
  internal/plugin/lua/focus_ops_adapter_test.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/plugins.go
  site/src/content/docs/contributing/how-to/integration-tests.md
  test/integration/scenes/testdata/lua/focus_join/plugin.lua
  test/meta/focus_delta_gate_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

fix(focus): wire coordinator ConnectionSender in production — fixes binary scene-join live delivery (holomush-66228)
  cmd/holomush/sub_grpc.go
Due: lint-go

test(meta): lock focus-delta gate-on-common-path (INV-FS-1, INV-FS-4) (holomush-66228)
  internal/plugin/setup/subsystem.go
  test/meta/focus_delta_gate_test.go
Due: lint-go, schema-sync

feat(focus): coordinator drives per-connection deltas on AutoFocusOnJoin (holomush-66228)
  internal/grpc/focus/auto_focus_on_join.go
  internal/grpc/focus/coordinator.go
  internal/grpc/focus/focus_delta.go
  internal/grpc/focus/focus_delta_test.go
Due: lint-go

feat(focus): coordinator drives per-connection deltas on SetConnectionFocus (holomush-66228)
  internal/grpc/focus/focus_delta_test.go
  internal/grpc/focus/set_connection_focus.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
