Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(06-04): complete the admin character read plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/06-admin-portal-shell-character-administration/06-04-SUMMARY.md
Due: none

fix(06-04): extend the migration census for 000057
  internal/store/migrate_embed_test.go
  internal/store/migrate_test.go
Due: lint-go

feat(06-05): widen the character payloads with before-status, section and action
  internal/world/options.go
  internal/world/outbox/taxonomy.go
  internal/world/outbox/taxonomy_test.go
  internal/world/payloads.go
  internal/world/payloads_test.go
  internal/world/service.go
  internal/world/service_retire_test.go
  test/integration/world/character_retire_atomicity_test.go
Due: lint-go

feat(06-05): three gated admin character writes under a 13-path allowlist
  api/proto/holomush/adminportal/v1/adminportal.proto
  api/proto/holomush/web/v1/web.proto
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  cmd/holomush/sub_grpc.go
  internal/access/policy/seed.go
  internal/access/policy/seed_profile_visibility_test.go
  internal/access/policy/seed_test.go
  internal/admin/section/descriptor.go
  internal/grpc/admin_characters_write.go
  internal/grpc/admin_characters_write_test.go
  internal/grpc/admin_service.go
  internal/grpc/characteraccess_service.go
  internal/grpc/characteraccess_write_test.go
  internal/grpcclient/client.go
  internal/testsupport/integrationtest/harness.go
  internal/web/admin_handlers.go
  internal/web/handler.go
  internal/world/options.go
  internal/world/service.go
  internal/world/service_profile_options_test.go
  pkg/proto/holomush/adminportal/v1/adminportal.pb.go
  pkg/proto/holomush/adminportal/v1/adminportal_grpc.pb.go
  pkg/proto/holomush/adminportal/v1/adminportalv1connect/adminportal.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  site/src/content/docs/reference/grpc-api.md
  test/meta/admin_character_message_role_fence_test.go
  web/src/lib/connect/holomush/adminportal/v1/adminportal_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site

test(06-05): prove the admin envelope transactional and fence the audit writer
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/admin/section/gate_test.go
  internal/admin/section/registry.go
  internal/admin/section/registry_test.go
  internal/grpc/admin_characters_write.go
  internal/world/outbox/taxonomy_test.go
  internal/world/payloads_test.go
  internal/world/service_profile_options_test.go
  test/integration/access/admin_characters_write_test.go
  test/meta/admin_character_message_role_fence_test.go
  test/meta/world_sql_fence_test.go
Due: lint-go, lint-yaml

docs(06-05): complete the admin character write plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/06-admin-portal-shell-character-administration/06-05-SUMMARY.md
  .planning/phases/06-admin-portal-shell-character-administration/deferred-items.md
Due: none

fix(06-04): assert the withheld migration, not an upper bound
  test/integration/charname/name_uniqueness_test.go
Due: lint-go

fix(06-05): drop the dead read arm from admin character administration
  internal/access/policy/seed.go
  internal/access/policy/seed_profile_visibility_test.go
Due: lint-go

fix(06): fail closed on cleartext transport and on a streaming admin RPC
  internal/admin/section/descriptor_test.go
  internal/grpc/server.go
  internal/grpc/server_interceptor_test.go
  internal/testsupport/integrationtest/harness.go
Due: lint-go

docs(06): deep code review — 0 critical, 5 warning, 8 info
  .planning/phases/06-admin-portal-shell-character-administration/06-REVIEW.md
Due: none

docs(06): verification — 4/5 must-haves, criterion 3 partially met
  .planning/phases/06-admin-portal-shell-character-administration/06-VERIFICATION.md
Due: none

docs(06): rescope criterion 3 to what shipped, close phase 6
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-admin-portal-shell-character-administration/06-VERIFICATION.md
Due: none

docs(06.1): replan four web plans against cycle-3 reviews and the post-split tree
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-01-PLAN.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-02-PLAN.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-03-PLAN.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-04-PLAN.md
Due: none

docs(06.1): fix six text-level defects from the plan-checker gate
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-01-PLAN.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-03-PLAN.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-04-PLAN.md
Due: none

docs(06.1): fix the guest-destination-set blocker and split the inert allow markers
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-01-PLAN.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-02-PLAN.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-03-PLAN.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-04-PLAN.md
Due: none

docs(06.1): record the C2-07 supersession on the two not-found UI-SPEC rows
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-UI-SPEC.md
Due: none

test(06.1-01): pin the error-boundary count and its three viewer-state renders
  test/meta/web_error_boundary_census_test.go
  web/src/routes/+error.svelte.test.ts
Due: lint-go

feat(06.1-01): one root error boundary rendering the ordinary not-found
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  test/meta/web_error_boundary_census_test.go
  web/src/routes/+error.svelte
  web/src/routes/error-boundary.svelte.test.ts
Due: lint-go, lint-yaml

docs(06.1-01): complete the UI primitives and error-boundary plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-01-SUMMARY.md
Due: none

test(06.1-02): pin the Admin rail entry, the roles hint, and the drawer groups
  web/src/lib/components/shell/SectionRail.svelte.test.ts
  web/src/lib/stores/adminNavStore.test.ts
  web/src/lib/stores/adminNavStore.ts
  web/src/lib/stores/authStore.test.ts
Due: none

feat(06.1-02): the Admin rail entry, the roles hint, and the drawer groups
  web/src/app.css
  web/src/lib/components/shell/SectionRail.svelte
  web/src/lib/components/terminal/CommandPalette.svelte.test.ts
  web/src/lib/stores/authStore.ts
  web/src/routes/(authed)/+layout.svelte
  web/src/routes/(authed)/+layout.ts
  web/src/routes/+page.ts
  web/src/routes/error-boundary.svelte.test.ts
  web/src/routes/login/+page.svelte
  web/src/routes/login/+page.ts
  web/src/routes/register/+page.ts
Due: none

test(06.1-02): pin the total failure classifier, the nav projection, and the load's three outcomes
  web/src/lib/components/admin/AdminNav.svelte.test.ts
  web/src/lib/connect/errors.test.ts
  web/src/routes/(authed)/admin/admin-layout.test.ts
Due: none

feat(06.1-02): the server-projected admin nav and the two-class refusal split
  web/src/lib/admin/client.ts
  web/src/lib/components/admin/AdminNav.svelte
  web/src/lib/components/admin/AdminNav.svelte.test.ts
  web/src/lib/connect/errors.ts
  web/src/routes/(authed)/admin/+layout.svelte
  web/src/routes/(authed)/admin/+layout.ts
  web/src/routes/(authed)/admin/+page.svelte
  web/src/routes/(authed)/admin/+page.ts
  web/src/routes/(authed)/admin/admin-layout.test.ts
Due: none

test(06.1-02): pin the section resolution's three outcomes and the minimal screen
  web/src/routes/(authed)/admin/[section]/section-page.svelte.test.ts
  web/src/routes/(authed)/admin/[section]/section-page.test.ts
Due: none

feat(06.1-02): the planned-section screen, resolved in a load function
  web/src/routes/(authed)/admin/[section]/+page.svelte
  web/src/routes/(authed)/admin/[section]/+page.ts
Due: none

docs(06.1-02): complete the admin shell and server-projected nav plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-02-SUMMARY.md
Due: none

test(06.1-03): pin the six Last active buckets at every boundary edge
  web/src/lib/admin/lastActive.test.ts
Due: none

feat(06.1-03): the coarse Last active formatter with its six declared buckets
  web/src/lib/admin/lastActive.ts
Due: none

test(06.1-03): pin the character table headers, row order, phone target and states
  web/src/lib/admin/client.ts
  web/src/lib/components/admin/CharacterTable.svelte.test.ts
Due: none

feat(06.1-03): the dense character table with click-header sort and inline actions
  web/src/lib/components/admin/CharacterTable.svelte
  web/src/lib/components/admin/CharacterTable.svelte.test.ts
Due: none

test(06.1-03): pin the filter bar, the four list states and the page boundaries
  web/src/lib/admin/client.ts
  web/src/lib/components/admin/CharacterFilterBar.svelte.test.ts
  web/src/routes/(authed)/admin/characters/characters-page.svelte.test.ts
  web/src/routes/(authed)/admin/characters/characters-page.test.ts
Due: none

feat(06.1-03): the characters page, its filter bar and the four list states
  web/src/lib/admin/client.ts
  web/src/lib/components/admin/CharacterFilterBar.svelte
  web/src/routes/(authed)/admin/characters/+page.svelte
  web/src/routes/(authed)/admin/characters/+page.ts
  web/src/routes/(authed)/admin/characters/characters-page.svelte.test.ts
Due: none

docs(06.1-03): complete the character table, filter bar and list states plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-03-SUMMARY.md
Due: none

test(06.1-04): pin the byte counter at both caps and the edit Sheet's contract
  web/src/lib/components/admin/EditCharacterSheet.svelte.test.ts
  web/src/lib/text/byteCount.test.ts
Due: none

feat(06.1-04): the edit Sheet, and one byte counter for both editors
  web/src/lib/admin/client.ts
  web/src/lib/components/admin/EditCharacterSheet.svelte
  web/src/lib/components/admin/EditCharacterSheet.svelte.test.ts
  web/src/lib/components/characters/ByteCounter.svelte
  web/src/lib/text/byteCount.ts
Due: none

test(06.1-04): pin D-108's four clauses and D-110's binding sequence
  web/src/lib/components/admin/LifecycleConfirmDialog.svelte.test.ts
  web/src/routes/(authed)/admin/characters/characters-page.svelte.test.ts
Due: none

feat(06.1-04): the lifecycle confirm and D-110's mutation loop
  web/src/lib/admin/client.ts
  web/src/lib/components/admin/EditCharacterSheet.svelte
  web/src/lib/components/admin/LifecycleConfirmDialog.svelte
  web/src/lib/components/admin/LifecycleConfirmDialog.svelte.test.ts
  web/src/routes/(authed)/admin/+layout.svelte
  web/src/routes/(authed)/admin/characters/+page.svelte
Due: none

test(06.1-04): the four browser-level proofs, and the draft-loss they found
  web/e2e/admin-portal.spec.ts
  web/src/lib/components/admin/EditCharacterSheet.svelte
  web/src/lib/components/admin/EditCharacterSheet.svelte.test.ts
  web/src/lib/components/admin/LifecycleConfirmDialog.svelte
Due: none

docs(06.1-04): complete the edit Sheet, the confirm and the mutation loop plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/06.1-admin-portal-web-surface-shadcn-components-and-the-single-ro/06.1-04-SUMMARY.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
