Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

feat(grpc): ListFocusPresence handler — ABAC + happy path + dedup (holomush-5b2j.10 + .11) (#4142)
  cmd/holomush/sub_grpc.go
  internal/grpc/list_focus_presence.go
  internal/grpc/list_focus_presence_test.go
  internal/grpc/server.go
Due: lint-go

docs(scenes-phase-4): brainstorm spec + implementation plan + 5 captured ADRs
  docs/adr/README.md
  docs/adr/holomush-1ang-audit-interface-operation-specific-tx.md
  docs/adr/holomush-c8a9-scene-privacy-plugin-code-enforcement.md
  docs/adr/holomush-nt2d-participant-gate-pattern-generalized.md
  docs/adr/holomush-r4th-denormalize-pose-order-metadata.md
  docs/adr/holomush-s9nu-scene-subject-atomic-migration.md
  docs/adr/holomush-sb3n-scene-content-sensitivity-always.md
  docs/superpowers/plans/2026-05-19-scenes-phase-4-streams-and-pose-order.md
  docs/superpowers/specs/2026-05-19-scenes-phase-4-streams-and-pose-order-design.md
Due: none

feat(web): WebListFocusPresence gateway forwarder + coreClientShim update (holomush-5b2j.12)
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/web/handler.go
  internal/web/handler_test.go
  test/integration/auth/core_client_shim_test.go
Due: lint-go

docs(scenes-phase-4): spec + implementation plan + 5 captured ADRs (5rh.13) (#4144)
  docs/adr/README.md
  docs/adr/holomush-1ang-audit-interface-operation-specific-tx.md
  docs/adr/holomush-c8a9-scene-privacy-plugin-code-enforcement.md
  docs/adr/holomush-nt2d-participant-gate-pattern-generalized.md
  docs/adr/holomush-r4th-denormalize-pose-order-metadata.md
  docs/adr/holomush-s9nu-scene-subject-atomic-migration.md
  docs/adr/holomush-sb3n-scene-content-sensitivity-always.md
  docs/superpowers/plans/2026-05-19-scenes-phase-4-streams-and-pose-order.md
  docs/superpowers/specs/2026-05-19-scenes-phase-4-streams-and-pose-order-design.md
Due: none

feat(scene-proto): replace skeletal GetPoseOrder messages with Phase 4 shape
  api/proto/holomush/scene/v1/scene.proto
  pkg/proto/holomush/scene/v1/scene.pb.go
  web/src/lib/connect/holomush/scene/v1/scene_pb.ts
Due: lint-go

feat(scene-store): migration 000006 — pose-order metadata + idle-nudge threshold
  plugins/core-scenes/migrations/000006_pose_order_metadata.down.sql
  plugins/core-scenes/migrations/000006_pose_order_metadata.up.sql
Due: none

feat(scene-types): add ParticipantsWithPoseMeta + ParticipantWithPoseMeta
  plugins/core-scenes/types.go
  plugins/core-scenes/types_test.go
Due: lint-go

feat(scene-store): add IsParticipant — INV-S9 gate primitive
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(scene-store): add ListParticipantsWithPoseMeta
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go

feat(web): WebListFocusPresence gateway forwarder (holomush-5b2j.12) (#4143)
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/web/handler.go
  internal/web/handler_test.go
  test/integration/auth/core_client_shim_test.go
Due: lint-go

feat(web): presence store with idempotent set/delete semantics (holomush-5b2j.5)
  web/src/lib/presence/store.test.ts
  web/src/lib/presence/store.ts
Due: none

refactor(scene-audit): extract insertSceneLogTx helper from Insert
  plugins/core-scenes/audit.go
Due: lint-go

feat(web): presence store with idempotent set/delete semantics (holomush-5b2j.5) (#4145)
  web/src/lib/presence/store.test.ts
  web/src/lib/presence/store.ts
Due: none

test(scene-inv-p4-5): resolver MUST NOT leak pose-order metadata
  internal/test/invariants/scene_resolver_no_poseorder_leak_test.go
  plugins/core-scenes/resolver_test.go
Due: lint-go

feat(scene-emit): declare 8 crypto.emits + EmitTypeRegistrar adoption
  plugins/core-scenes/main.go
  plugins/core-scenes/main_test.go
  plugins/core-scenes/plugin.yaml
Due: lint-go, lint-yaml

feat(scene-emit): migrate scene emit subjects to NATS dot-style
  docs/superpowers/specs/2026-04-06-scenes-and-rp-design-v2.md
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
Due: lint-go

feat(scene-emit): auto-emit scene_join_ic on JoinScene (OpInserted/OpPromoted)
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

feat(web): presence snapshot fetch + actor_id wire-forward (holomush-5b2j.13)
  api/proto/holomush/web/v1/web.proto
  internal/web/translate.go
  internal/web/translate_test.go
  pkg/proto/holomush/web/v1/web.pb.go
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/lib/presence/mirror.test.ts
  web/src/lib/presence/mirror.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: lint-go

feat(web): presence snapshot fetch + actor_id wire-forward (holomush-5b2j.13) (#4146)
  api/proto/holomush/web/v1/web.proto
  internal/web/translate.go
  internal/web/translate_test.go
  pkg/proto/holomush/web/v1/web.pb.go
  web/src/lib/connect/holomush/web/v1/web_pb.ts
  web/src/lib/presence/mirror.test.ts
  web/src/lib/presence/mirror.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: lint-go

refactor(web): migrate PresenceList to PresenceStore + drop transitional dual-write (holomush-5b2j.14)
  web/src/lib/components/sidebar/PresenceList.svelte
  web/src/lib/presence/store.ts
  web/src/lib/stores/eventRouter.ts
  web/src/lib/stores/sidebarStore.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

refactor(web): migrate PresenceList to PresenceStore + drop transitional dual-write (holomush-5b2j.14) (#4147)
  web/src/lib/components/sidebar/PresenceList.svelte
  web/src/lib/presence/store.ts
  web/src/lib/stores/eventRouter.ts
  web/src/lib/stores/sidebarStore.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

test(integration): joiner sees prior presence (AC4) (holomush-5b2j.15)
  internal/testsupport/privacytest/privacy_harness.go
  internal/testsupport/privacytest/privacy_session.go
  test/integration/presence/presence_suite_test.go
  test/integration/presence/presence_test.go
Due: lint-go

test(integration): joiner sees prior presence (AC4) (holomush-5b2j.15) (#4148)
  internal/testsupport/privacytest/privacy_harness.go
  internal/testsupport/privacytest/privacy_session.go
  test/integration/presence/presence_suite_test.go
  test/integration/presence/presence_test.go
Due: lint-go

test(integration): presence snapshot bypasses Tier 2 floor (AC3, I-PRES-2) (holomush-5b2j.16)
  internal/testsupport/privacytest/privacy_harness.go
  test/integration/presence/presence_test.go
Due: lint-go

test(integration): presence snapshot bypasses Tier 2 floor (AC3, I-PRES-2) (holomush-5b2j.16) (#4149)
  internal/testsupport/privacytest/privacy_harness.go
  test/integration/presence/presence_test.go
Due: lint-go

test(meta): I-PRES-* invariant coverage assertion (holomush-5b2j.17)
  internal/grpc/list_focus_presence_test.go
  test/integration/presence/presence_test.go
  test/meta/i_pres_coverage_test.go
Due: lint-go

test(meta): I-PRES-* invariant coverage assertion (holomush-5b2j.17) (#4150)
  internal/grpc/list_focus_presence_test.go
  test/integration/presence/presence_test.go
  test/meta/i_pres_coverage_test.go
Due: lint-go

docs: cross-reference 5b2j presence-snapshot in I-PRIV-1 + rules + contributor guide (holomush-5b2j.8)
  .claude/rules/event-interfaces.md
  .claude/rules/terminology.md
  docs/superpowers/specs/2026-05-17-history-scope-privacy-design.md
  site/docs/contributing/event-store.md
Due: lint-markdown-site, fmt-markdown-site

docs: cross-reference 5b2j presence-snapshot in I-PRIV-1 + rules + contributor guide (holomush-5b2j.8) (#4151)
  .claude/rules/event-interfaces.md
  .claude/rules/terminology.md
  docs/superpowers/specs/2026-05-17-history-scope-privacy-design.md
  site/docs/contributing/event-store.md
Due: lint-markdown-site, fmt-markdown-site

test(session): lock ListActiveByLocation behaviour for I-PRES-1 (holomush-5b2j.4)
  internal/session/memstore_test.go
  test/integration/session/session_list_active_by_location_test.go
  test/integration/session/session_persistence_suite_test.go
Due: lint-go

docs(substrate-grpc): query_stream_history.go — comment cleanup for dot-style
  internal/grpc/query_stream_history.go
Due: lint-go

test(scene-inv-p4-1): rg-assert no colon-style scene subjects
  internal/test/invariants/scene_subjects_test.go
Due: lint-go

feat(substrate-grpc): stream_access.go — dot-style scene subjects
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/grpc/stream_access.go
  internal/grpc/stream_access_test.go
Due: lint-go

feat(scene-rpc): GetPoseOrder handler + INV-S9 plugin-code gate
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

feat(scene-commands): scene pose / say / emit / ooc subcommands
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_emit_test.go
  plugins/core-scenes/plugin.yaml
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
Due: lint-go, lint-yaml

docs(iwzt): §3 + tests — scene rows updated to NATS dot-style
  docs/superpowers/specs/2026-05-17-history-scope-privacy-design.md
Due: none

test(scene-inv-p4-8): pose-order metadata rebuild from scene_log
  plugins/core-scenes/poseorder_integration_test.go
Due: lint-go

fix(substrate-grpc): scope_floor.go — dot-style scene branch (live regression)
  internal/grpc/scope_floor.go
  internal/grpc/scope_floor_test.go
  internal/grpc/stream_access.go
Due: lint-go

feat(scene-commands): scene order subcommand renderer
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_emit_test.go
  plugins/core-scenes/commands_order_test.go
Due: lint-go
