Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(core-scenes): migrate plugin timestamps to BIGINT-ns (gfo6.3, Phase 1.2)
  plugins/core-scenes/migrations/000007_timestamps_to_bigint.down.sql
  plugins/core-scenes/migrations/000007_timestamps_to_bigint.up.sql
Due: none

feat(grpc): delete dispatchDelivery floor µs-truncate; ns floor semantics (gfo6.5, Phase 1.4)
  internal/grpc/server.go
  internal/grpc/subscribe_loop_test.go
Due: lint-go

chore(beads): adopt drain formula for autonomous bead iteration
  .beads/formulas/formula-drain.formula.toml
Due: none

refactor(crypto/dek): route crypto_keys timestamps through pgnanos (gfo6.7, Phase 1.6)
  internal/eventbus/crypto/dek/checkpoint_integration_test.go
  internal/eventbus/crypto/dek/rekey_orchestrator_test.go
  internal/eventbus/crypto/dek/rekey_phase3_integration_test.go
  internal/eventbus/crypto/dek/rekey_phase6_integration_test.go
  internal/eventbus/crypto/dek/store.go
  internal/eventbus/crypto/dek/store_integration_test.go
  internal/eventbus/crypto/dek/store_integrity_test.go
  internal/eventbus/crypto/dek/sweep_integration_test.go
Due: lint-go

refactor(core-scenes): route scene_log timestamps through pgnanos (gfo6.8, Phase 1.7)
  plugins/core-scenes/audit.go
  plugins/core-scenes/audit_test.go
Due: lint-go

test(eventbus/history): strengthen AAD round-trip to assert ns precision (gfo6.10, Phase 1.9)
  internal/eventbus/history/phase7_boundary_meta_test.go
  internal/eventbus/history/plugin_aad_adapter.go
  internal/eventbus/history/plugin_aad_reconstruction_test.go
Due: lint-go

test: strip µs-truncate from Phase 1 crypto + plugin tests (gfo6.12, Phase 1.11)
  cmd/holomush/crypto_operator_validation_test.go
  internal/eventbus/crypto/dek/manager_integration_test.go
  plugins/core-scenes/poseorder_integration_test.go
Due: lint-go

chore(beads): record drain goal prompt for gfo6 drain run
  .beads/drain-gfo6-goal-prompt.txt
Due: none

refactor(eventbus): route events_audit through pgnanos for INSERT + cold-tier reader (gfo6.6, Phase 1.5)
  cmd/holomush/admin_read_stream_e2e_test.go
  cmd/holomush/bootstrap_orphan_test.go
  internal/admin/policy/verifier_integration_test.go
  internal/eventbus/audit/chain/repo_postgres_integration_test.go
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_test.go
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/cold_postgres_integration_test.go
  test/integration/eventbus_e2e/cross_tier_query_test.go
  test/integration/plugin/plugin_role_permissions_test.go
Due: lint-go

feat(store): migrate events_audit + crypto_keys timestamps to BIGINT-ns (gfo6.2)
  internal/store/events_audit_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000038_eventbus_crypto_timestamps_to_bigint.down.sql
  internal/store/migrations/000038_eventbus_crypto_timestamps_to_bigint.up.sql
Due: lint-go

feat(pgnanos): add internal/pgnanos helper for BIGINT-ns ↔ time.Time (gfo6.1)
  internal/pgnanos/doc.go
  internal/pgnanos/pgnanos.go
  internal/pgnanos/pgnanos_test.go
Due: lint-go

docs(spec): update history-scope precision contract from µs to ns (gfo6.13, Phase 1.12)
  docs/superpowers/specs/2026-05-17-history-scope-privacy-design.md
Due: none

refactor(core-scenes): route remaining scene timestamps through pgnanos (gfo6.9, Phase 1.8)
  plugins/core-scenes/audit.go
  plugins/core-scenes/audit_integration_test.go
  plugins/core-scenes/participants.go
  plugins/core-scenes/poseorder.go
  plugins/core-scenes/poseorder_integration_test.go
  plugins/core-scenes/poseorder_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
  plugins/core-scenes/store_integration_test.go
  plugins/core-scenes/types.go
  plugins/core-scenes/types_test.go
Due: lint-go

test(privacy): drop time.Sleep tie-prevention hacks; ns ordering makes them moot (gfo6.11, Phase 1.10)
  test/integration/privacy/privacy_test.go
Due: lint-go

feat(eventbus): drop publisher µs-truncate; preserve full ns precision (gfo6.4, Phase 1.3)
  internal/eventbus/publisher.go
  internal/eventbus/publisher_test.go
Due: lint-go

test(audit): bounded retry + nats_err observability for consumer create (l015) (#4185)
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_unit_test.go
Due: lint-go

test(audit): apply consumer-create retry+observability to PluginConsumerManager.Add (ghg1)
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/audit/plugin_consumer_unit_test.go
  internal/eventbus/audit/projection.go
Due: lint-go

test(audit): apply consumer-create retry+observability to PluginConsumerManager.Add (ghg1) (#4186)
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/audit/plugin_consumer_unit_test.go
  internal/eventbus/audit/projection.go
Due: lint-go

fix(web): gate streamReadyGate on both REPLAY_COMPLETE and backfillDone (fujt)
  web/e2e/terminal.spec.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

test(store): add INV-TS-META meta-test for ns-timestamps spec (gfo6.14, Phase 1.13)
  internal/admin/readstream/cold_reader.go
  internal/admin/readstream/cold_reader_integration_test.go
  internal/store/spec_meta_test.go
  internal/testsupport/holomushtest/server.go
  test/integration/crypto/harness_impl_test.go
  test/integration/crypto/rekey_inv39_test.go
  test/integration/crypto/rekey_sweep_ttl_test.go
  test/integration/plugin/binary_plugin_test.go
Due: lint-go

fix(web): gate streamReadyGate on both REPLAY_COMPLETE and backfillDone (fujt) (#4187)
  web/e2e/terminal.spec.ts
  web/src/routes/(authed)/terminal/+page.svelte
Due: none

fix(gfo6): apply CodeRabbit findings on PR #4188
  internal/pgnanos/pgnanos_test.go
  internal/store/migrations/000038_eventbus_crypto_timestamps_to_bigint.down.sql
  internal/store/migrations/000038_eventbus_crypto_timestamps_to_bigint.up.sql
Due: lint-go

feat(grpc,web): instrument Subscribe phase spans + budget regression lock (87qu)
  internal/grpc/server.go
  internal/testsupport/integrationtest/harness_smoke_test.go
  web/src/routes/(authed)/terminal/+page.svelte
Due: lint-go

refactor(plugins): migrate Lua emit-table key from deprecated 'stream' to canonical 'subject' (holomush-fz9h)
  internal/plugin/lua/host_test.go
  internal/plugin/lua/plugins_emit_subject_key_test.go
  plugins/core-communication/main.lua
  plugins/echo-bot/main.lua
Due: lint-go, schema-sync

refactor(plugins): migrate Lua emit-table key from deprecated 'stream' to canonical 'subject' (holomush-fz9h) (#4189)
  internal/plugin/lua/host_test.go
  internal/plugin/lua/plugins_emit_subject_key_test.go
  plugins/core-communication/main.lua
  plugins/echo-bot/main.lua
Due: lint-go, schema-sync

fix: apply CodeRabbit auto-fixes (87qu instrumentation)
  internal/grpc/server.go
  web/src/routes/(authed)/terminal/+page.svelte
Due: lint-go

feat(grpc,web): instrument Subscribe phase spans + budget regression lock (87qu) (#4190)
  internal/grpc/server.go
  internal/testsupport/integrationtest/harness_smoke_test.go
  web/src/routes/(authed)/terminal/+page.svelte
Due: lint-go

build(taskfile): add web:dev:obs to wire web-side OTel tracing in dev
  Taskfile.yaml
Due: lint-yaml

chore(coderabbit): coderabbit config update
  .coderabbit.yaml
Due: lint-yaml

chore(coderabbit): coderabbit config update (#4193)
  .coderabbit.yaml
Due: lint-yaml

build(taskfile): add web:dev:obs to wire web-side OTel tracing in dev (#4192)
  Taskfile.yaml
Due: lint-yaml

docs(roadmap): note Phase 5 (5rh.14) shipped; frontier advances to Phase 6
  docs/roadmap.md
Due: none

ci: drop arduino/setup-task@v2 in favor of direct install.sh (holomush-06vz)
  .github/workflows/benchmark-check.yml
  .github/workflows/ci.yaml
  .github/workflows/nightly-soak.yml
  .github/workflows/release.yaml
  .github/workflows/scripts-tests.yaml
Due: lint-yaml, lint-actions

docs(session): design spec + implementation plan + ADR for removing session.MemStore (holomush-9mxr)
  docs/adr/README.md
  docs/adr/holomush-bozv-drop-session-memstore-test-against-postgres.md
  docs/superpowers/plans/2026-05-23-remove-session-memstore.md
  docs/superpowers/specs/2026-05-23-remove-session-memstore-design.md
Due: none

docs(roadmap): note Phase 5 (5rh.14) shipped; frontier advances to Phase 6 (#4194)
  docs/roadmap.md
Due: none

docs(session): design spec + plan + ADR for removing session.MemStore (holomush-9mxr) (#4196)
  docs/adr/README.md
  docs/adr/holomush-bozv-drop-session-memstore-test-against-postgres.md
  docs/superpowers/plans/2026-05-23-remove-session-memstore.md
  docs/superpowers/specs/2026-05-23-remove-session-memstore-design.md
Due: none

ci: drop arduino/setup-task@v2 — direct install.sh (holomush-06vz) (#4195)
  .github/workflows/benchmark-check.yml
  .github/workflows/ci.yaml
  .github/workflows/nightly-soak.yml
  .github/workflows/release.yaml
  .github/workflows/scripts-tests.yaml
Due: lint-yaml, lint-actions

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
