Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

cmd/holomush: register SubsystemCluster in production wiring
  cmd/holomush/core.go
  cmd/holomush/core_subsystems_test.go
  internal/cluster/registry.go
  internal/cluster/types.go
  internal/eventbus/authguard/adapter_manifest_test.go
  internal/eventbus/authguard/audit/emitter.go
  internal/eventbus/authguard/authguard.go
  internal/eventbus/authguard/guard_test.go
  internal/eventbus/decode_delivery_test.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/subscriber.go
  test/integration/crypto/metadata_only_test.go
Due: lint-go

internal/cluster: ProbeAndPill body + rate limit + self-pill refusal
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/cluster/clustertest/harness.go
  internal/cluster/probe_pill.go
  internal/cluster/probe_pill_test.go
  internal/cluster/registry.go
Due: lint-go

internal/eventbus/crypto/dek: Cache context reverse index + InvalidateContext
  internal/eventbus/crypto/dek/cache.go
  internal/eventbus/crypto/dek/cache_internal_test.go
  internal/eventbus/crypto/dek/cache_test.go
  internal/eventbus/crypto/dek/manager.go
Due: lint-go

internal/eventbus/crypto/dek: ParticipantsCache new type
  internal/eventbus/crypto/dek/participants_cache.go
  internal/eventbus/crypto/dek/participants_cache_internal_test.go
  internal/eventbus/crypto/dek/participants_cache_test.go
Due: lint-go

internal/eventbus/crypto/dek: Manager.Participants via ParticipantsCache
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/eventbus/crypto/dek/manager.go
  internal/eventbus/crypto/dek/manager_integration_test.go
  internal/eventbus/crypto/dek/manager_test.go
  test/integration/crypto/emit_test.go
  test/integration/crypto/metadata_only_test.go
Due: lint-go

internal/eventbus/crypto/dek: soft-delete via crypto_keys.destroyed_at
  internal/eventbus/crypto/dek/store.go
  internal/eventbus/crypto/dek/store_integration_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000016_crypto_keys_destroyed_at.down.sql
  internal/store/migrations/000016_crypto_keys_destroyed_at.up.sql
Due: lint-go

internal/eventbus/crypto/invalidation: Coordinator types + send-side
  internal/eventbus/crypto/invalidation/coordinator.go
  internal/eventbus/crypto/invalidation/coordinator_send_test.go
  internal/eventbus/crypto/invalidation/metrics.go
  internal/eventbus/crypto/invalidation/types.go
Due: lint-go

internal/eventbus/crypto/invalidation: receive-side action dispatch
  internal/eventbus/crypto/invalidation/coordinator.go
  internal/eventbus/crypto/invalidation/coordinator_receive_test.go
  internal/eventbus/crypto/invalidation/coordinator_send_test.go
Due: lint-go

gorules: noremoteclockcompare analyzer enforcing INV-58
  .golangci.yaml
  gorules/analyzers/noremoteclockcompare/noremoteclockcompare.go
  gorules/analyzers/noremoteclockcompare/noremoteclockcompare_test.go
  gorules/analyzers/noremoteclockcompare/plugin.go
  gorules/analyzers/noremoteclockcompare/testdata/src/example.com/negative/negative.go
  gorules/analyzers/noremoteclockcompare/testdata/src/example.com/positive/positive.go
  gorules/plugin.go
  internal/cluster/heartbeat.go
  internal/eventbus/crypto/invalidation/coordinator.go
Due: lint-go, lint-yaml

test/integration/{cluster,crypto}: multi-Registry e2e tests for Phase 3c
  test/integration/cluster/cluster_test.go
  test/integration/crypto/cache_invalidation_test.go
Due: lint-go

docs(crypto): master spec edits for Phase 3c (holomush-ojw1.3)
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
Due: none

test/meta: enforce Phase 3c INV-53..60 ↔ test-name binding
  test/meta/inv_binding_test.go
Due: lint-go

fix(crypto,cluster,docs): apply CodeRabbit autofix for PR #3519
  .codecov.yml
  cmd/holomush/core.go
  docs/superpowers/plans/reviews/2026-05-02-phase3c-plan-review-round3.md
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
  gorules/analyzers/noremoteclockcompare/noremoteclockcompare.go
  gorules/analyzers/noremoteclockcompare/testdata/src/example.com/negative/negative.go
  gorules/analyzers/noremoteclockcompare/testdata/src/example.com/positive/positive.go
  internal/cluster/clustertest/harness.go
  internal/cluster/heartbeat.go
  internal/cluster/heartbeat_internal_test.go
  internal/cluster/payload_test.go
  internal/cluster/pill_test.go
  internal/cluster/probe_pill.go
  internal/cluster/probe_pill_test.go
  internal/cluster/registry_test.go
  internal/eventbus/crypto/dek/cache_internal_test.go
  internal/eventbus/crypto/dek/participants_cache.go
  internal/eventbus/crypto/invalidation/coordinator.go
  internal/eventbus/crypto/invalidation/coordinator_error_test.go
  internal/eventbus/crypto/invalidation/coordinator_internal_test.go
  test/integration/cluster/cluster_suite_test.go
  test/integration/cluster/cluster_test.go
  test/integration/crypto/cache_invalidation_test.go
  test/integration/crypto/crypto_suite_test.go
  test/meta/inv_binding_test.go
Due: lint-go, lint-yaml

fix(crypto): preserve outer oops code on probe-and-pill wrap (holomush-ojw1.3.22)
  internal/eventbus/crypto/invalidation/coordinator.go
  internal/eventbus/crypto/invalidation/coordinator_error_test.go
  internal/eventbus/crypto/invalidation/types.go
Due: lint-go

refactor(eventbus): introduce mockable NATSConn interface seam + reject typed-nil at construction (holomush-ojw1.3.23 + CodeRabbit autofix)
  internal/cluster/registry.go
  internal/cluster/registry_internal_test.go
  internal/eventbus/crypto/invalidation/coordinator_mock_test.go
  internal/eventbus/crypto/invalidation/types.go
  internal/eventbus/natsconn/natsconn.go
  internal/eventbus/natsconn/natsconn_test.go
  internal/eventbus/natsconn/natsmock/natsmock.go
Due: lint-go

fix(crypto): Phase 3c follow-ups — oops.Code chain + NATSConn seam (holomush-ojw1.3.22 + .3.23) (#3520)
  internal/cluster/registry.go
  internal/cluster/registry_internal_test.go
  internal/eventbus/crypto/invalidation/coordinator.go
  internal/eventbus/crypto/invalidation/coordinator_error_test.go
  internal/eventbus/crypto/invalidation/coordinator_mock_test.go
  internal/eventbus/crypto/invalidation/types.go
  internal/eventbus/natsconn/natsconn.go
  internal/eventbus/natsconn/natsconn_test.go
  internal/eventbus/natsconn/natsmock/natsmock.go
Due: lint-go

feat(crypto): Phase 3d — proto add Sensitive field on PluginHostServiceEmitEventRequest
  api/proto/holomush/plugin/v1/plugin.proto
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/cold_postgres_integration_test.go
  internal/eventbus/history/cold_postgres_test.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  test/integration/eventbus_e2e/cross_tier_query_test.go
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go

feat(crypto): Phase 3d — migration 000017 rename events_audit.payload to envelope
  internal/store/migrations/000017_events_audit_envelope_rename.down.sql
  internal/store/migrations/000017_events_audit_envelope_rename.up.sql
Due: none

test(crypto): Phase 3d — E2E + INV-49 envelope round-trip + ABAC INV-15 cross-reference
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
  internal/eventbus/crypto/dek/cache_internal_test.go
  internal/eventbus/crypto/dek/participants_cache_internal_test.go
  internal/eventbus/crypto/invalidation/coordinator_internal_test.go
  internal/eventbus/history/dispatcher_test.go
  test/integration/cluster/cluster_test.go
  test/integration/crypto/crypto_suite_test.go
  test/integration/crypto/e2e_test.go
  test/integration/crypto/inv49_envelope_roundtrip_test.go
Due: lint-go

docs(crypto): Phase 3d implementation plan (holomush-ojw1.4)
  docs/superpowers/plans/2026-05-03-event-payload-crypto-phase3d.md
Due: none

docs(crypto): Phase 3d final synthesis grounding (holomush-ojw1.4)
  docs/superpowers/specs/2026-05-03-event-payload-crypto-phase3d-grounding.md
Due: none

feat(crypto): Phase 3d — rename events_audit.payload to envelope (production + tests)
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_test.go
  internal/eventbus/history/cold_postgres_integration_test.go
  internal/store/events_audit_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  test/integration/crypto/emit_test.go
  test/integration/eventbus_e2e/cross_tier_query_test.go
  test/testutil/crypto.go
Due: lint-go

refactor(crypto): Phase 3d — extract decodeAuthorizeAndDispatch shared dispatcher
  internal/eventbus/history/dispatcher.go
  internal/eventbus/history/dispatcher_test.go
  internal/eventbus/history/hot_jetstream.go
Due: lint-go

feat(crypto): Phase 3d — goplugin host service copies req.Sensitive
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_test.go
Due: lint-go, schema-sync

feat(crypto): Phase 3d — Lua emit reads sensitive opts-table key (full plumbing chain)
  internal/plugin/hostfunc/stdlib.go
  internal/plugin/hostfunc/stdlib_internal_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  pkg/holo/emit.go
  pkg/plugin/event.go
Due: lint-go, schema-sync

feat(crypto): Phase 3d — flip Crypto.Enabled default to true
  internal/eventbus/config.go
  internal/eventbus/config_test.go
Due: lint-go

docs(crypto): Phase 3d Task 14 — master spec amendments + e2e payload→envelope rename + pre-push code-review fixes + CodeRabbit autofix Pass 1 + Pass 2
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
  docs/superpowers/specs/2026-05-03-event-payload-crypto-phase3d-grounding.md
  internal/bootstrap/wire_crypto.go
  internal/bootstrap/wire_crypto_test.go
  internal/eventbus/config.go
  internal/eventbus/config_test.go
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/cold_postgres_test.go
  internal/eventbus/history/dispatcher.go
  internal/eventbus/history/tier.go
  internal/plugin/hostfunc/stdlib.go
  internal/plugin/hostfunc/stdlib_internal_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000017_events_audit_envelope_rename.down.sql
  internal/store/migrations/000017_events_audit_envelope_rename.up.sql
  test/integration/crypto/e2e_test.go
  web/e2e/helpers/db.ts
  web/e2e/terminal.spec.ts
Due: lint-go, schema-sync

feat(claude): document workflow + Plan → Bead Chain convention; add crypto-reviewer + bead-chain-design + bead-chain-from-plan + handoff-prompt + /review-crypto + /review-abac
  .claude/agents/crypto-reviewer.md
  .claude/commands/review-abac.md
  .claude/commands/review-crypto.md
  .claude/hooks/remind-pre-action-review.sh
  .claude/skills/bead-chain-design/SKILL.md
  .claude/skills/bead-chain-from-plan/SKILL.md
  .claude/skills/handoff-prompt/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: none

feat(claude): add crypto-reviewer agent + bead-chain-from-plan + handoff-prompt skills (#3527)
  .claude/agents/crypto-reviewer.md
  .claude/commands/review-abac.md
  .claude/commands/review-crypto.md
  .claude/hooks/remind-pre-action-review.sh
  .claude/skills/bead-chain-design/SKILL.md
  .claude/skills/bead-chain-from-plan/SKILL.md
  .claude/skills/handoff-prompt/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: none

docs(claude): trim CLAUDE.md/AGENTS.md from 46k → 29k (holomush-6dvr)
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/rules/testing.md
  AGENTS.md
  CLAUDE.md
  site/docs/contributing/sessions.md
  site/zensical.toml
Due: lint-markdown-site, fmt-markdown-site

docs(claude): trim CLAUDE.md/AGENTS.md from 46k → 29k chars (holomush-6dvr) (#3528)
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/rules/testing.md
  AGENTS.md
  CLAUDE.md
  site/docs/contributing/sessions.md
  site/zensical.toml
Due: lint-markdown-site, fmt-markdown-site

feat(grpc): actorIDString resolves plugin/system names via IdentityRegistry (holomush-w9ml T16)
  cmd/holomush/sub_grpc.go
  internal/grpc/actor_display_test.go
  internal/grpc/query_stream_history.go
  internal/grpc/server.go
  internal/grpc/server_helpers_test.go
Due: lint-go

feat(plugin): Manager hash compute + loadPlugin Upsert + drift logging (holomush-w9ml T6)
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/plugin/identity_registry_test.go
  internal/plugin/manager.go
Due: lint-go, schema-sync

feat(core,world,grpc,command): system stamps use sentinel ULIDs (holomush-w9ml T10)
  internal/command/types.go
  internal/command/types_test.go
  internal/core/no_string_system_stamps_test.go
  internal/grpc/server.go
  internal/world/event_store_adapter.go
  internal/world/event_store_adapter_test.go
Due: lint-go

feat(store): PluginRepo + PostgresPluginRepo (holomush-w9ml T3)
  internal/store/plugin_repo.go
  internal/store/plugin_repo_test.go
Due: lint-go

feat(plugin): IdentityRegistry interface (holomush-w9ml T4)
  internal/plugin/identity_registry.go
  internal/plugin/identity_registry_test.go
Due: lint-go, schema-sync

feat(plugin): GC sweep at LoadAll end + RetentionDays config (holomush-w9ml T8)
  internal/plugin/identity_registry_test.go
  internal/plugin/manager.go
Due: lint-go, schema-sync

feat(plugin): Manager implements IdentityRegistry; sentinel bootstrap (holomush-w9ml T5)
  internal/plugin/identity_registry_test.go
  internal/plugin/manager.go
Due: lint-go, schema-sync
