Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(access): StreamProvider dot-aware location parse + has_location witness (holomush-rops)
  internal/access/policy/attribute/stream.go
  internal/access/policy/attribute/stream_test.go
  internal/access/policy/seed.go
  internal/access/policy/seed_smoke_test.go
Due: lint-go

feat(plugin): binary host RPC handlers for ListCommands/GetCommandHelp (holomush-2zjio)
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_service_command_test.go
  internal/plugin/setup/subsystem.go
Due: lint-go, schema-sync

feat(command): core command-query service with shared ABAC filter (holomush-2zjio)
  internal/command/commandquery/query.go
  internal/command/commandquery/query_test.go
Due: lint-go

feat(web): recognized-command chip in composer (holomush-2zjio)
  web/src/lib/components/terminal/CommandInput.svelte
  web/src/lib/components/terminal/ModeChip.svelte
Due: none

test(plugin): binary↔Lua command-introspection parity (holomush-2zjio)
  .claude/agent-memory/code-reviewer/MEMORY.md
  test/integration/plugin/command_introspection_parity_test.go
  test/integration/plugin/testdata/cmd_introspection_plugin/main.go
  test/integration/plugin/testdata/cmd_introspection_plugin/plugin.yaml
Due: lint-go, lint-yaml

feat(proto): ListCommands/GetCommandHelp on PluginHostService (holomush-2zjio)
  api/proto/holomush/plugin/v1/plugin.proto
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go

feat(grpc): ListAvailableCommands CoreServer handler (holomush-2zjio)
  internal/grpc/list_available_commands.go
  internal/grpc/list_available_commands_test.go
  internal/grpc/server.go
Due: lint-go

fix(plugin): wire command querier into Lua host; delegate list_commands/get_command_help (holomush-2zjio)
  cmd/holomush/sub_grpc.go
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/setup/subsystem.go
  internal/plugin/setup/subsystem_test.go
  internal/plugin/setup/subsystem_wiring_test.go
  internal/testsupport/integrationtest/harness.go
  test/integration/wholesystem/census_test.go
Due: lint-go, schema-sync

feat(plugin-sdk): CommandLister facade for binary plugins (holomush-2zjio)
  pkg/plugin/command_lister.go
  pkg/plugin/command_lister_test.go
  pkg/plugin/sdk.go
Due: lint-go

feat(proto): ListAvailableCommands (core) + WebListCommands (web) (holomush-2zjio)
  api/proto/holomush/core/v1/core.proto
  api/proto/holomush/web/v1/web.proto
  internal/web/handler.go
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/core/v1/core_grpc.pb.go
  pkg/proto/holomush/core/v1/corev1connect/core.connect.go
  pkg/proto/holomush/web/v1/web.pb.go
  pkg/proto/holomush/web/v1/web_grpc.pb.go
  pkg/proto/holomush/web/v1/webv1connect/web.connect.go
  web/src/lib/connect/holomush/core/v1/core_connect.ts
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/web/v1/web_connect.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

feat(web): WebListCommands gateway proxy (holomush-2zjio)
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  internal/grpc/client.go
  internal/web/handler.go
  internal/web/handler_test.go
Due: lint-go

test(web): composer chip invariant coverage (holomush-2zjio)
  web/src/lib/components/terminal/composerChip.integration.test.ts
Due: none

feat(web): composer chip resolution helper (holomush-2zjio)
  web/src/lib/components/terminal/composerChip.test.ts
  web/src/lib/components/terminal/composerChip.ts
Due: none

feat(web): commandListStore — fetch + cache recognized commands (holomush-2zjio)
  web/src/lib/stores/commandListStore.test.ts
  web/src/lib/stores/commandListStore.ts
Due: none

test(web): WebQueryStreamHistory e2e uses dot-relative stream ref (holomush-rops)
  web/e2e/terminal.spec.ts
Due: none

docs(scenes): Phase 8 board + content-warnings spec, plan, ADRs (holomush-iokti)
  docs/adr/holomush-0blcz-safety-union-content-warning-resolution.md
  docs/adr/holomush-74ib4-owner-partitioned-plugin-settings.md
  docs/adr/holomush-uvbyt-structural-plugin-settings-isolation.md
  docs/superpowers/plans/2026-05-29-scenes-phase-8-board-content-warnings.md
  docs/superpowers/specs/2026-05-29-scenes-phase-8-board-content-warnings-design.md
Due: none

docs(scenes): Phase 8 board + content-warnings spec, plan, ADRs (holomush-iokti) (#4345)
  docs/adr/holomush-0blcz-safety-union-content-warning-resolution.md
  docs/adr/holomush-74ib4-owner-partitioned-plugin-settings.md
  docs/adr/holomush-uvbyt-structural-plugin-settings-isolation.md
  docs/superpowers/plans/2026-05-29-scenes-phase-8-board-content-warnings.md
  docs/superpowers/specs/2026-05-29-scenes-phase-8-board-content-warnings-design.md
Due: none

fix: apply CodeRabbit autofix feedback (holomush-rops)
  api/proto/holomush/core/v1/core.proto
  api/proto/holomush/web/v1/web.proto
  internal/access/policy/attribute/stream_test.go
  internal/eventbus/qualify_test.go
  pkg/proto/holomush/core/v1/core.pb.go
  pkg/proto/holomush/web/v1/web.pb.go
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/web/v1/web_pb.ts
Due: lint-go

fix(plugin): CodeRabbit findings + integration-build fix (holomush-2zjio)
  internal/plugin/hostfunc/commands.go
  internal/plugin/setup/subsystem_wiring_test.go
  test/integration/auth/core_client_shim_test.go
Due: lint-go, schema-sync

chore(proto): remove vestigial HostFunctionsService (holomush-4hhh0)
  api/proto/holomush/plugin/v1/hostfunc.proto
  api/proto/holomush/plugin/v1/plugin.proto
  pkg/proto/holomush/plugin/v1/grpc_test.go
  pkg/proto/holomush/plugin/v1/hostfunc.pb.go
  pkg/proto/holomush/plugin/v1/hostfunc_grpc.pb.go
  pkg/proto/holomush/plugin/v1/hostfunc_test.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/hostfunc.connect.go
  site/src/content/docs/reference/grpc-api.md
  web/src/lib/connect/holomush/plugin/v1/hostfunc_connect.ts
  web/src/lib/connect/holomush/plugin/v1/hostfunc_pb.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site

chore(proto): remove vestigial HostFunctionsService (holomush-4hhh0) (#4346)
  api/proto/holomush/plugin/v1/hostfunc.proto
  api/proto/holomush/plugin/v1/plugin.proto
  pkg/proto/holomush/plugin/v1/grpc_test.go
  pkg/proto/holomush/plugin/v1/hostfunc.pb.go
  pkg/proto/holomush/plugin/v1/hostfunc_grpc.pb.go
  pkg/proto/holomush/plugin/v1/hostfunc_test.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/hostfunc.connect.go
  site/src/content/docs/reference/grpc-api.md
  web/src/lib/connect/holomush/plugin/v1/hostfunc_connect.ts
  web/src/lib/connect/holomush/plugin/v1/hostfunc_pb.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site

test(commandquery): pin circuit-breaker trip after maxEngineErrors (holomush-aw3oh)
  internal/command/commandquery/export_test.go
  internal/command/commandquery/query_test.go
Due: lint-go

test(commandquery): pin circuit-breaker trip after maxEngineErrors (holomush-aw3oh) (#4347)
  internal/command/commandquery/export_test.go
  internal/command/commandquery/query_test.go
Due: lint-go

docs(session): liveness + gateway-survival design — connection leases, derived presence, resilient reconnect (holomush-rsoe6)
  docs/superpowers/specs/2026-05-30-session-liveness-and-gateway-survival-design.md
Due: none

docs(session): liveness + gateway-survival implementation plan (holomush-rsoe6)
  docs/superpowers/plans/2026-05-30-session-liveness-and-gateway-survival.md
Due: none

docs(adr): capture 5 liveness + gateway-survival ADRs; stamp capture markers (holomush-rsoe6)
  docs/adr/holomush-0qx5e-boot-grace-not-boot-reconcile.md
  docs/adr/holomush-2w9vh-gateway-is-liveness-authority.md
  docs/adr/holomush-6syxb-liveness-derives-from-connection-lease.md
  docs/adr/holomush-6vl53-active-vs-grid-present-axes.md
  docs/adr/holomush-85exr-gateway-survival-durable-consumer-resume.md
  docs/superpowers/plans/2026-05-30-session-liveness-and-gateway-survival.md
  docs/superpowers/specs/2026-05-30-session-liveness-and-gateway-survival-design.md
Due: none

docs(spec): fix mermaid rendering — drop semicolons in sequence Note, fix flowchart subgraph syntax (holomush-rsoe6)
  docs/superpowers/specs/2026-05-30-session-liveness-and-gateway-survival-design.md
Due: none

docs(session): liveness + gateway-survival spec, plan, ADRs (holomush-rsoe6) (#4348)
  docs/adr/holomush-0qx5e-boot-grace-not-boot-reconcile.md
  docs/adr/holomush-2w9vh-gateway-is-liveness-authority.md
  docs/adr/holomush-6syxb-liveness-derives-from-connection-lease.md
  docs/adr/holomush-6vl53-active-vs-grid-present-axes.md
  docs/adr/holomush-85exr-gateway-survival-durable-consumer-resume.md
  docs/superpowers/plans/2026-05-30-session-liveness-and-gateway-survival.md
  docs/superpowers/specs/2026-05-30-session-liveness-and-gateway-survival-design.md
Due: none

chore(claude): soften cat/head/tail/find enforcement hook from block to nudge
  .claude/hooks/enforce-task-runner.sh
  .claude/rules/search-tools.md
Due: none

chore(claude): soften cat/head/tail/find enforcement hook from block to nudge (#4349)
  .claude/hooks/enforce-task-runner.sh
  .claude/rules/search-tools.md
Due: none

docs(plugin): binary world-query parity design + plan + ADRs (holomush-q42fh)
  docs/adr/README.md
  docs/adr/holomush-c6oo8-remove-forgeable-injectable-worldservice-pluginhostservice-q.md
  docs/adr/holomush-nthq6-derive-world-read-subject-host-side-no-subject-field-wire.md
  docs/superpowers/plans/2026-05-30-binary-world-query-parity.md
  docs/superpowers/specs/2026-05-30-binary-world-query-parity-design.md
Due: none

docs(plugin): binary world-query parity design + plan + ADRs (holomush-q42fh) (#4350)
  docs/adr/README.md
  docs/adr/holomush-c6oo8-remove-forgeable-injectable-worldservice-pluginhostservice-q.md
  docs/adr/holomush-nthq6-derive-world-read-subject-host-side-no-subject-field-wire.md
  docs/superpowers/plans/2026-05-30-binary-world-query-parity.md
  docs/superpowers/specs/2026-05-30-binary-world-query-parity-design.md
Due: none

feat(plugin): add world-query RPCs to PluginHostService proto (holomush-q42fh.1)
  api/proto/holomush/plugin/v1/plugin.proto
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go

feat(settings): owner-partitioned settings substrate + plugin host RPCs (holomush-iokti)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  api/proto/holomush/plugin/v1/plugin.proto
  cmd/holomush/sub_grpc.go
  internal/auth/player.go
  internal/auth/player_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_settings_test.go
  internal/plugin/host.go
  internal/plugin/manager.go
  internal/settings/chain.go
  internal/settings/chain_test.go
  internal/settings/character.go
  internal/settings/character_store.go
  internal/settings/character_store_integration_test.go
  internal/settings/character_test.go
  internal/settings/game.go
  internal/settings/game_test.go
  internal/settings/namespaces.go
  internal/settings/namespaces_test.go
  internal/settings/player.go
  internal/settings/player_store_integration_test.go
  internal/settings/player_test.go
  internal/settings/scoped.go
  internal/settings/scoped_test.go
  internal/settings/settings.go
  internal/store/character_settings_repo.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000045_character_preferences.down.sql
  internal/store/migrations/000045_character_preferences.up.sql
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, schema-sync

feat(settings): owner-partitioned settings substrate + plugin host RPCs (holomush-iokti) (#4351)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  api/proto/holomush/plugin/v1/plugin.proto
  cmd/holomush/sub_grpc.go
  internal/auth/player.go
  internal/auth/player_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_settings_test.go
  internal/plugin/host.go
  internal/plugin/manager.go
  internal/settings/chain.go
  internal/settings/chain_test.go
  internal/settings/character.go
  internal/settings/character_store.go
  internal/settings/character_store_integration_test.go
  internal/settings/character_test.go
  internal/settings/game.go
  internal/settings/game_test.go
  internal/settings/namespaces.go
  internal/settings/namespaces_test.go
  internal/settings/player.go
  internal/settings/player_store_integration_test.go
  internal/settings/player_test.go
  internal/settings/scoped.go
  internal/settings/scoped_test.go
  internal/settings/settings.go
  internal/store/character_settings_repo.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000045_character_preferences.down.sql
  internal/store/migrations/000045_character_preferences.up.sql
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, schema-sync

docs(ci): Claude PR-review action implementation plan (holomush-3f5s9)
  docs/superpowers/plans/2026-05-30-claude-pr-review-action.md
Due: none

docs(ci): Claude PR-review GitHub Action design (holomush-3f5s9)
  docs/superpowers/specs/2026-05-30-claude-pr-review-action-design.md
Due: none

docs(ci): fix markdown lint MD032/MD004 from CodeRabbit (holomush-3f5s9)
  docs/superpowers/plans/2026-05-30-claude-pr-review-action.md
  docs/superpowers/specs/2026-05-30-claude-pr-review-action-design.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
