Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

refactor(invariants): migrate deferred bare-INV-N clusters → INV-PLUGIN/INV-ACCESS (holomush-hz0v4.14.22)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/access/policy/seed.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/seed_test.go
  internal/access/setup/setup_warn_integ_test.go
  internal/access/setup/subsystem.go
  internal/access/spec_amendments_test.go
  internal/plugin/goplugin/evaluate_invariants_test.go
  internal/plugin/goplugin/host_engine_wiring_test.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_settings_test.go
  internal/plugin/hostfunc/evaluate.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/functions_audit_wiring_test.go
  internal/plugin/hostfunc/stdlib_settings.go
  internal/plugin/hostfunc/stdlib_settings_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/settings_ops_adapter.go
  internal/plugin/lua/settings_ops_adapter_test.go
  internal/plugin/pluginauthz/evaluate.go
  internal/plugin/pluginauthz/principal.go
  internal/plugin/setup/subsystem.go
  internal/plugin/setup/subsystem_test.go
Due: lint-go, lint-yaml, schema-sync

refactor(invariants): migrate deferred bare-INV-N clusters → INV-PLUGIN/INV-ACCESS (holomush-hz0v4.14.22) (#4374)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/access/policy/seed.go
  internal/access/policy/seed_smoke_test.go
  internal/access/policy/seed_test.go
  internal/access/setup/setup_warn_integ_test.go
  internal/access/setup/subsystem.go
  internal/access/spec_amendments_test.go
  internal/plugin/goplugin/evaluate_invariants_test.go
  internal/plugin/goplugin/host_engine_wiring_test.go
  internal/plugin/goplugin/host_service.go
  internal/plugin/goplugin/host_settings_test.go
  internal/plugin/hostfunc/evaluate.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/functions_audit_wiring_test.go
  internal/plugin/hostfunc/stdlib_settings.go
  internal/plugin/hostfunc/stdlib_settings_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/settings_ops_adapter.go
  internal/plugin/lua/settings_ops_adapter_test.go
  internal/plugin/pluginauthz/evaluate.go
  internal/plugin/pluginauthz/principal.go
  internal/plugin/setup/subsystem.go
  internal/plugin/setup/subsystem_test.go
Due: lint-go, lint-yaml, schema-sync

refactor(invariants): sweep missed-crypto sites → existing INV-CRYPTO ids (holomush-hz0v4.14.26)
  .codecov.yml
  api/proto/holomush/core/v1/core.proto
  cmd/holomush/admin_authenticate_e2e_test.go
  cmd/holomush/admin_read_stream_e2e_test.go
  cmd/holomush/admin_rekey_e2e_test.go
  cmd/holomush/core.go
  cmd/holomush/gateway_imports_test.go
  cmd/holomush/phase7_fence_wiring.go
  cmd/holomush/phase7_fence_wiring_test.go
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_test.go
  docs/architecture/invariants.yaml
  internal/eventbus/decode_delivery_test.go
  internal/eventbus/envelope.go
  internal/eventbus/history/readback_test.go
  internal/eventbus/subscriber.go
  pkg/proto/holomush/core/v1/core.pb.go
  site/src/content/docs/reference/grpc-api.md
  test/integration/crypto/plugin_decrypt_test.go
  test/integration/crypto/readback_test.go
  test/integration/eventbus_e2e/plugin_audit_round_trip_test.go
  web/src/lib/connect/holomush/core/v1/core_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

refactor(invariants): sweep missed-crypto sites → existing INV-CRYPTO ids (holomush-hz0v4.14.26) (#4377)
  .codecov.yml
  api/proto/holomush/core/v1/core.proto
  cmd/holomush/admin_authenticate_e2e_test.go
  cmd/holomush/admin_read_stream_e2e_test.go
  cmd/holomush/admin_rekey_e2e_test.go
  cmd/holomush/core.go
  cmd/holomush/gateway_imports_test.go
  cmd/holomush/phase7_fence_wiring.go
  cmd/holomush/phase7_fence_wiring_test.go
  cmd/holomush/sub_grpc.go
  cmd/holomush/sub_grpc_test.go
  docs/architecture/invariants.yaml
  internal/eventbus/decode_delivery_test.go
  internal/eventbus/envelope.go
  internal/eventbus/history/readback_test.go
  internal/eventbus/subscriber.go
  pkg/proto/holomush/core/v1/core.pb.go
  site/src/content/docs/reference/grpc-api.md
  test/integration/crypto/plugin_decrypt_test.go
  test/integration/crypto/readback_test.go
  test/integration/eventbus_e2e/plugin_audit_round_trip_test.go
  web/src/lib/connect/holomush/core/v1/core_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

refactor(invariants): add INV-S5-mechanism family + plugin.proto miss → INV-PLUGIN (holomush-hz0v4.14.27)
  .claude/agent-memory/code-reviewer/MEMORY.md
  api/proto/holomush/plugin/v1/plugin.proto
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/emit_type_validator.go
  internal/plugin/emit_type_validator_test.go
  internal/plugin/goplugin/manager_parity_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  pkg/plugin/emit_registry.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  site/src/content/docs/reference/grpc-api.md
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, schema-sync

refactor(invariants): add INV-S5-mechanism family + plugin.proto miss → INV-PLUGIN (holomush-hz0v4.14.27) (#4378)
  .claude/agent-memory/code-reviewer/MEMORY.md
  api/proto/holomush/plugin/v1/plugin.proto
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/plugin/emit_type_validator.go
  internal/plugin/emit_type_validator_test.go
  internal/plugin/goplugin/manager_parity_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  pkg/plugin/emit_registry.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  site/src/content/docs/reference/grpc-api.md
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, schema-sync

refactor(invariants): add INV-COMMAND scope (command-surfacing family) (holomush-hz0v4.14.27)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/command/commandquery/query.go
  internal/grpc/list_available_commands.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/hostfunc/functions.go
  internal/testsupport/integrationtest/harness.go
  test/integration/plugin/command_introspection_parity_test.go
  test/integration/plugin/testdata/cmd_introspection_plugin/main.go
  test/integration/plugin/testdata/cmd_introspection_plugin/plugin.yaml
  test/integration/wholesystem/census_test.go
Due: lint-go, lint-yaml, schema-sync

refactor(invariants): add INV-COMMAND scope (command-surfacing family) (holomush-hz0v4.14.27) (#4379)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  internal/command/commandquery/query.go
  internal/grpc/list_available_commands.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/hostfunc/functions.go
  internal/testsupport/integrationtest/harness.go
  test/integration/plugin/command_introspection_parity_test.go
  test/integration/plugin/testdata/cmd_introspection_plugin/main.go
  test/integration/plugin/testdata/cmd_introspection_plugin/plugin.yaml
  test/integration/wholesystem/census_test.go
Due: lint-go, lint-yaml, schema-sync

refactor(invariants): close command-vis misses + residual classification record (holomush-hz0v4.14.27)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.yaml
  docs/superpowers/specs/2026-06-01-invariant-registry-migration-redesign.md
  internal/plugin/help_integration_test.go
  internal/plugin/setup/subsystem.go
Due: lint-go, lint-yaml, schema-sync

refactor(invariants): close command-vis misses + residual classification record (holomush-hz0v4.14.27) (#4380)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.yaml
  docs/superpowers/specs/2026-06-01-invariant-registry-migration-redesign.md
  internal/plugin/help_integration_test.go
  internal/plugin/setup/subsystem.go
Due: lint-go, lint-yaml, schema-sync

test(invariants): harden guard — residual legacy tokens + file-glob walk + semantic partition (holomush-hz0v4.14.20, holomush-hz0v4.14.21)
  docs/architecture/invariants.yaml
  test/meta/invariant_registry_test.go
Due: lint-go, lint-yaml

test(invariants): harden guard — residual legacy tokens + file-glob walk + semantic partition (holomush-hz0v4.14.20, .14.21) (#4381)
  docs/architecture/invariants.yaml
  test/meta/invariant_registry_test.go
Due: lint-go, lint-yaml

test(invariants): retire inv_binding_test.go, relocate shared helpers to meta_helpers_test.go (holomush-hz0v4.14.16)
  test/meta/focus_delta_gate_test.go
  test/meta/meta_helpers_test.go
Due: lint-go

test(invariants): retire inv_binding_test.go, relocate shared helpers (holomush-hz0v4.14.16) (#4382)
  test/meta/focus_delta_gate_test.go
  test/meta/meta_helpers_test.go
Due: lint-go

test(invariants): remove scaffolding empty-registry t.Skip — fail loudly on zero entries (holomush-hz0v4.14.18)
  test/meta/invariant_registry_test.go
Due: lint-go

test(invariants): remove scaffolding empty-registry t.Skip — fail loudly (holomush-hz0v4.14.18) (#4383)
  test/meta/invariant_registry_test.go
Due: lint-go

feat(inv-migrate): expand slash-joined shorthand compounds at rewrite time (holomush-hz0v4.14.25)
  cmd/inv-migrate/migrate.go
  cmd/inv-migrate/migrate_test.go
Due: lint-go

feat(inv-migrate): expand slash-joined shorthand compounds at rewrite time (holomush-hz0v4.14.25) (#4384)
  cmd/inv-migrate/migrate.go
  cmd/inv-migrate/migrate_test.go
Due: lint-go

refactor(invariants): migrate gorules crypto analyzers INV-27 → INV-CRYPTO-16 (holomush-hz0v4.14.28)
  docs/architecture/invariants.yaml
  gorules/analyzers/codeckeybytesallowlist/codeckeybytesallowlist.go
  gorules/analyzers/codeckeybytesallowlist/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnofmtformatting/dekmaterialnofmtformatting.go
  gorules/analyzers/dekmaterialnofmtformatting/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnogob/dekmaterialnogob.go
  gorules/analyzers/dekmaterialnogob/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnojson/dekmaterialnojson.go
  gorules/analyzers/dekmaterialnojson/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnolog/dekmaterialnolog.go
  gorules/analyzers/dekmaterialnolog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnoproto/dekmaterialnoproto.go
  gorules/analyzers/dekmaterialnoproto/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnoslog/dekmaterialnoslog.go
  gorules/analyzers/dekmaterialnoslog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
Due: lint-go, lint-yaml

refactor(invariants): migrate gorules crypto analyzers INV-27 → INV-CRYPTO-16 (holomush-hz0v4.14.28) (#4385)
  docs/architecture/invariants.yaml
  gorules/analyzers/codeckeybytesallowlist/codeckeybytesallowlist.go
  gorules/analyzers/codeckeybytesallowlist/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnofmtformatting/dekmaterialnofmtformatting.go
  gorules/analyzers/dekmaterialnofmtformatting/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnogob/dekmaterialnogob.go
  gorules/analyzers/dekmaterialnogob/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnojson/dekmaterialnojson.go
  gorules/analyzers/dekmaterialnojson/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnolog/dekmaterialnolog.go
  gorules/analyzers/dekmaterialnolog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnoproto/dekmaterialnoproto.go
  gorules/analyzers/dekmaterialnoproto/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnoslog/dekmaterialnoslog.go
  gorules/analyzers/dekmaterialnoslog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
Due: lint-go, lint-yaml

docs(invariants): exempt INV-L/A/B/LP + record D/E migration in residual classification (holomush-hz0v4.14.31)
  docs/superpowers/specs/2026-06-01-invariant-registry-migration-redesign.md
Due: none

docs(invariants): exempt INV-L/A/B/LP + record D/E migration in residual classification (holomush-hz0v4.14.31) (#4388)
  docs/superpowers/specs/2026-06-01-invariant-registry-migration-redesign.md
Due: none

refactor(invariants): normalize stray INV-F-policy_hash → INV-CRYPTO-53 (holomush-hz0v4.14.32)
  cmd/holomush/readstream_wiring.go
  docs/architecture/invariants.yaml
Due: lint-go, lint-yaml

refactor(invariants): normalize stray INV-F-policy_hash → INV-CRYPTO-53 (holomush-hz0v4.14.32) (#4389)
  cmd/holomush/readstream_wiring.go
  docs/architecture/invariants.yaml
Due: lint-go, lint-yaml

chore(invariants): final verification — registry complete, provenance guard live (holomush-hz0v4.14.17)
  docs/superpowers/plans/2026-06-01-invariant-registry-migration.md
Due: none

chore(invariants): final verification — registry complete, provenance guard live (holomush-hz0v4.14.17) (#4390)
  docs/superpowers/plans/2026-06-01-invariant-registry-migration.md
Due: none

docs(invariants): backfill 30 test-bindings; close INV-RB-3 false-green gap
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/roadmap.md
  internal/eventbus/history/readback_test.go
  test/integration/crypto/readback_test.go
Due: lint-go, lint-yaml

docs(invariants): backfill 30 test-bindings; close INV-RB-3 false-green gap (#4391)
  .claude/agent-memory/code-reviewer/MEMORY.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  docs/roadmap.md
  internal/eventbus/history/readback_test.go
  test/integration/crypto/readback_test.go
Due: lint-go, lint-yaml

docs(invariants): add invariant-registry rule + design/test-time guidance
  .claude/rules/invariants.md
  .claude/rules/testing.md
  CLAUDE.md
  docs/CLAUDE.md
Due: none

docs(invariants): add invariant-registry rule + design/test-time guidance (#4392)
  .claude/rules/invariants.md
  .claude/rules/testing.md
  CLAUDE.md
  docs/CLAUDE.md
Due: none

fix(invariants): revert 2 false-green bindings + guard against Skip-only bindings
  .claude/rules/invariants.md
  docs/architecture/invariants.md
  docs/architecture/invariants.yaml
  test/meta/invariant_registry_test.go
Due: lint-go, lint-yaml

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
