Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

docs(channels): add channels architecture design spec
  docs/specs/2026-04-03-channels-architecture.md
Due: none

docs(channels): add channels architecture design spec (#183)
  docs/specs/2026-04-03-channels-architecture.md
Due: none

feat(e2e): add structured test reports and reduce output noise
  Taskfile.yaml
  scripts/e2e-summary.sh
  web/e2e/helpers/fixtures.ts
  web/e2e/helpers/summary-reporter.ts
  web/playwright.config.ts
Due: lint-yaml

feat(e2e): structured test reports for AI-friendly output (#184)
  Taskfile.yaml
  scripts/e2e-summary.sh
  web/e2e/helpers/fixtures.ts
  web/e2e/helpers/summary-reporter.ts
  web/playwright.config.ts
Due: lint-yaml

fix(access): implement optimistic pre-flight for resource-attribute conditions
  internal/access/policy/dsl/refs.go
  internal/access/policy/dsl/refs_test.go
  internal/access/policy/engine.go
  internal/web/dist/_app/immutable/chunks/3NnBnk8w.js
  internal/web/dist/_app/immutable/chunks/D0V2FAT3.js
  internal/web/dist/_app/immutable/entry/app.BDaL_oBt.js
  internal/web/dist/_app/immutable/entry/app.CAsqqfe5.js
  internal/web/dist/_app/immutable/entry/start.2EBx4u5k.js
  internal/web/dist/_app/immutable/entry/start.V3cW1PsD.js
  internal/web/dist/_app/immutable/nodes/0.COFTDmtT.js
  internal/web/dist/_app/immutable/nodes/0.DBmx8fQa.js
  internal/web/dist/_app/immutable/nodes/1.BHaaCMGA.js
  internal/web/dist/_app/immutable/nodes/1.DVlXqU38.js
  internal/web/dist/_app/immutable/nodes/3.CwJYWcwi.js
  internal/web/dist/_app/immutable/nodes/4.C2Ax3bi6.js
  internal/web/dist/_app/immutable/nodes/5.Ch7evBEU.js
  internal/web/dist/_app/immutable/nodes/6.BtWbom1w.js
  internal/web/dist/_app/immutable/nodes/6.Cupn2T6t.js
  internal/web/dist/_app/immutable/nodes/7.B_fQhxFF.js
  internal/web/dist/_app/immutable/nodes/7.DMKsxegV.js
  internal/web/dist/_app/immutable/nodes/9.6RHLpP2M.js
  internal/web/dist/_app/immutable/nodes/9.CajLqVZ8.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: lint-go

fix(access): rename unused scope param to _ in CanPerformAction
  internal/access/policy/engine.go
Due: lint-go

migration-collapse work
  docs/superpowers/plans/2026-04-03-command-capability-enforcement.md
  docs/superpowers/specs/2026-04-03-command-capability-enforcement-design.md
  internal/command/dispatcher_test.go
  internal/command/errors_test.go
  internal/plugin/hostfunc/commands_test.go
  plugins/core-aliases/plugin.yaml
  plugins/core-communication/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

refactor(tests): use GrantCommandExecution helper for Layer 1 grants
  internal/access/policy/policytest/helpers.go
  internal/command/dispatcher_test.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go

fix: add CanPerformAction stubs to integration test engines, fix rate limit test grants
  test/integration/access/concurrent_engine_test.go
  test/integration/command/ratelimit_integration_test.go
Due: lint-go

fix(access): add missing commands to player seed policy
  internal/access/policy/seed.go
  internal/web/dist/_app/immutable/chunks/3NnBnk8w.js
  internal/web/dist/_app/immutable/chunks/CNrBDLHF.js
  internal/web/dist/_app/immutable/entry/app.CAsqqfe5.js
  internal/web/dist/_app/immutable/entry/app.Em9dwBDn.js
  internal/web/dist/_app/immutable/entry/start.2EBx4u5k.js
  internal/web/dist/_app/immutable/entry/start.C6TlSSy0.js
  internal/web/dist/_app/immutable/nodes/0.Bqj_B2_K.js
  internal/web/dist/_app/immutable/nodes/0.DBmx8fQa.js
  internal/web/dist/_app/immutable/nodes/1.BHaaCMGA.js
  internal/web/dist/_app/immutable/nodes/1.BajT-uH6.js
  internal/web/dist/_app/immutable/nodes/3.3ztjQlF-.js
  internal/web/dist/_app/immutable/nodes/4.DiQG_eDv.js
  internal/web/dist/_app/immutable/nodes/5.Nuz9cTR6.js
  internal/web/dist/_app/immutable/nodes/6.BPz3zDhx.js
  internal/web/dist/_app/immutable/nodes/6.BtWbom1w.js
  internal/web/dist/_app/immutable/nodes/7.DMKsxegV.js
  internal/web/dist/_app/immutable/nodes/7.DpcqYY10.js
  internal/web/dist/_app/immutable/nodes/9.6RHLpP2M.js
  internal/web/dist/_app/immutable/nodes/9.Y_Zrf_Rz.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: lint-go

feat(access): add CanPerformAction for type-level capability pre-flight
  docs/superpowers/plans/2026-04-03-command-capability-enforcement.md
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
  internal/access/policy/policytest/helpers.go
  internal/access/policy/policytest/mock_AccessPolicyEngine.go
  internal/access/policy/types/types.go
  internal/command/rate_limit_middleware_test.go
  internal/command/types_test.go
Due: lint-go

feat(command): add Capability struct with action/resource/scope and validation
  internal/command/types.go
  internal/command/types_test.go
Due: lint-go

docs: update ADR 0007 supersession notice and access-control reference
  docs/adr/0007-command-security-model.md
  site/docs/reference/access-control.md
Due: lint-markdown-site, fmt-markdown-site

fix: rename cap shadow to capability, fix lint errors
  .codecov.yml
  internal/access/policy/engine_test.go
  internal/command/access.go
  internal/command/access_test.go
  internal/command/errors.go
  internal/command/types_test.go
  internal/plugin/manifest_test.go
  schemas/plugin.schema.json
Due: lint-go, lint-yaml, schema-sync

docs: add command authorization model and test engine helpers to CLAUDE.md
  CLAUDE.md
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
  internal/auth/guest_reaper_test.go
  internal/auth/guest_service_test.go
  internal/command/types.go
  internal/plugin/hostfunc/commands_test.go
Due: lint-go, schema-sync

docs: update CLAUDE.md with gotestsum test commands and argument passing
  CLAUDE.md
Due: none

build: switch test runner to gotestsum for compact output
  .github/workflows/ci.yaml
  Taskfile.yaml
Due: lint-yaml, lint-actions

fix(access): propagate resolver errors from CanPerformAction
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
Due: lint-go

test: update all test files for structured capabilities and two-layer authorization
  internal/access/policy/policytest/helpers.go
  internal/command/access.go
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
  internal/command/handlers/register.go
  internal/command/handlers/register_test.go
  internal/command/plugin_dispatch_test.go
  internal/command/registry_test.go
  internal/command/types.go
  internal/command/types_test.go
  internal/plugin/communication_integration_test.go
  internal/plugin/help_integration_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  plugins/core-aliases/plugin.yaml
  plugins/core-building/plugin.yaml
  plugins/core-communication/plugin.yaml
  plugins/core-objects/plugin.yaml
Due: lint-go, lint-yaml, schema-sync

fix(access): register CommandProvider, fix cache staleness, add optimistic pre-flight
  internal/access/setup/setup.go
  internal/web/dist/_app/immutable/chunks/C4CCCaF6.js
  internal/web/dist/_app/immutable/chunks/D0V2FAT3.js
  internal/web/dist/_app/immutable/entry/app.BDaL_oBt.js
  internal/web/dist/_app/immutable/entry/app.CXc-FMqf.js
  internal/web/dist/_app/immutable/entry/start.B_bo_fwo.js
  internal/web/dist/_app/immutable/entry/start.V3cW1PsD.js
  internal/web/dist/_app/immutable/nodes/0.COFTDmtT.js
  internal/web/dist/_app/immutable/nodes/0.DyVQJ3zi.js
  internal/web/dist/_app/immutable/nodes/1.DVlXqU38.js
  internal/web/dist/_app/immutable/nodes/1.HObXScZM.js
  internal/web/dist/_app/immutable/nodes/3.40inC4pG.js
  internal/web/dist/_app/immutable/nodes/4.DN958HWi.js
  internal/web/dist/_app/immutable/nodes/5.jloyLqph.js
  internal/web/dist/_app/immutable/nodes/6.Cupn2T6t.js
  internal/web/dist/_app/immutable/nodes/6.d1zQMij5.js
  internal/web/dist/_app/immutable/nodes/7.B_fQhxFF.js
  internal/web/dist/_app/immutable/nodes/7.CGPuKo1S.js
  internal/web/dist/_app/immutable/nodes/9.CIpgQwxk.js
  internal/web/dist/_app/immutable/nodes/9.CajLqVZ8.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: lint-go

fix(command): address capability enforcement review findings
  internal/access/policy/policytest/helpers.go
  internal/command/access.go
  internal/command/access_test.go
  internal/command/errors_test.go
  internal/command/handlers/resetpassword.go
  internal/web/dist/_app/immutable/chunks/BpEq3z0E.js
  internal/web/dist/_app/immutable/chunks/C4CCCaF6.js
  internal/web/dist/_app/immutable/entry/app.B-OY0M2L.js
  internal/web/dist/_app/immutable/entry/app.CXc-FMqf.js
  internal/web/dist/_app/immutable/entry/start.B_bo_fwo.js
  internal/web/dist/_app/immutable/entry/start.d5Vt5QuZ.js
  internal/web/dist/_app/immutable/nodes/0.DyVQJ3zi.js
  internal/web/dist/_app/immutable/nodes/0.e76Cc8cL.js
  internal/web/dist/_app/immutable/nodes/1.6ss26lmb.js
  internal/web/dist/_app/immutable/nodes/1.HObXScZM.js
  internal/web/dist/_app/immutable/nodes/3.BBhVBj0j.js
  internal/web/dist/_app/immutable/nodes/4.Brs7h8Lh.js
  internal/web/dist/_app/immutable/nodes/5.C80ihwKv.js
  internal/web/dist/_app/immutable/nodes/6.DvKVAjrO.js
  internal/web/dist/_app/immutable/nodes/6.d1zQMij5.js
  internal/web/dist/_app/immutable/nodes/7.CGPuKo1S.js
  internal/web/dist/_app/immutable/nodes/7.CLoh38uA.js
  internal/web/dist/_app/immutable/nodes/9.CIpgQwxk.js
  internal/web/dist/_app/immutable/nodes/9.DObwyjVw.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  plugins/core-communication/plugin.yaml
  plugins/core-objects/plugin.yaml
Due: lint-go, lint-yaml

fix: lint errors in review finding fixes (cap shadow, wrapcheck)
  internal/command/errors_test.go
  internal/command/handlers/resetpassword.go
  internal/web/dist/_app/immutable/chunks/BpEq3z0E.js
  internal/web/dist/_app/immutable/chunks/Sd4xRxrQ.js
  internal/web/dist/_app/immutable/entry/app.B-OY0M2L.js
  internal/web/dist/_app/immutable/entry/app.BtUeM6Kx.js
  internal/web/dist/_app/immutable/entry/start.BcNoJOO1.js
  internal/web/dist/_app/immutable/entry/start.d5Vt5QuZ.js
  internal/web/dist/_app/immutable/nodes/0.RtmMR5OU.js
  internal/web/dist/_app/immutable/nodes/0.e76Cc8cL.js
  internal/web/dist/_app/immutable/nodes/1.6ss26lmb.js
  internal/web/dist/_app/immutable/nodes/1.D-wUEJb7.js
  internal/web/dist/_app/immutable/nodes/3.BZmQSz9e.js
  internal/web/dist/_app/immutable/nodes/4.Dpa6UlUs.js
  internal/web/dist/_app/immutable/nodes/5.DrUPPTy4.js
  internal/web/dist/_app/immutable/nodes/6.BPCpEc9c.js
  internal/web/dist/_app/immutable/nodes/6.DvKVAjrO.js
  internal/web/dist/_app/immutable/nodes/7.CLoh38uA.js
  internal/web/dist/_app/immutable/nodes/7.pCp__Cxg.js
  internal/web/dist/_app/immutable/nodes/9.CQ2H64Yq.js
  internal/web/dist/_app/immutable/nodes/9.DObwyjVw.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: lint-go

fix(tests): add Layer 1 Evaluate expectations to hostfunc command tests
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
  internal/access/policy/types/types.go
  internal/command/access.go
  internal/command/dispatcher_test.go
  internal/command/types.go
  internal/command/types_test.go
  internal/plugin/hostfunc/commands.go
  internal/plugin/hostfunc/commands_test.go
Due: lint-go, schema-sync

fix: address code review findings — infra failure handling, defensive copy, Layer 1 in listCommands, degraded sentinel, lint
  internal/access/policy/types/types.go
Due: lint-go

ci: pin gotestsum to v1.13.0
  .github/workflows/ci.yaml
  internal/web/dist/_app/immutable/chunks/Dklm6pJg.js
  internal/web/dist/_app/immutable/chunks/Sd4xRxrQ.js
  internal/web/dist/_app/immutable/entry/app.BtUeM6Kx.js
  internal/web/dist/_app/immutable/entry/app.s0yMiHbp.js
  internal/web/dist/_app/immutable/entry/start.9dmrs0rr.js
  internal/web/dist/_app/immutable/entry/start.BcNoJOO1.js
  internal/web/dist/_app/immutable/nodes/0.DzhaaPK-.js
  internal/web/dist/_app/immutable/nodes/0.RtmMR5OU.js
  internal/web/dist/_app/immutable/nodes/1.3k3yoX_g.js
  internal/web/dist/_app/immutable/nodes/1.D-wUEJb7.js
  internal/web/dist/_app/immutable/nodes/3.Cvo6U2Ca.js
  internal/web/dist/_app/immutable/nodes/4.CnMRDIDw.js
  internal/web/dist/_app/immutable/nodes/5.WF37G2G4.js
  internal/web/dist/_app/immutable/nodes/6.BPCpEc9c.js
  internal/web/dist/_app/immutable/nodes/6.BkzbtLXL.js
  internal/web/dist/_app/immutable/nodes/7.CCaDRvck.js
  internal/web/dist/_app/immutable/nodes/7.pCp__Cxg.js
  internal/web/dist/_app/immutable/nodes/9.C8N9vlNY.js
  internal/web/dist/_app/immutable/nodes/9.CQ2H64Yq.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
Due: lint-yaml, lint-actions

refactor(command): convert p, w, desc from registered commands to system aliases
  internal/bootstrap/aliases.go
  internal/bootstrap/aliases_test.go
  plugins/core-communication/plugin.go
  plugins/core-communication/plugin.yaml
  plugins/core-communication/plugin_test.go
  plugins/core-objects/plugin.go
  plugins/core-objects/plugin.yaml
  plugins/core-objects/plugin_test.go
Due: lint-go, lint-yaml

fix(build): make clean build work reliably when node_modules is missing
  Taskfile.yaml
Due: lint-yaml

fix(build): make clean build work when node_modules is missing (#186)
  Taskfile.yaml
Due: lint-yaml

refactor(command): convert p, w, desc from registered commands to system aliases (#185)
  internal/bootstrap/aliases.go
  internal/bootstrap/aliases_test.go
  plugins/core-communication/plugin.go
  plugins/core-communication/plugin.yaml
  plugins/core-communication/plugin_test.go
  plugins/core-objects/plugin.go
  plugins/core-objects/plugin.yaml
  plugins/core-objects/plugin_test.go
Due: lint-go, lint-yaml

docs: add test naming and quality standards to CLAUDE.md
  CLAUDE.md
  docs/superpowers/plans/2026-04-04-test-suite-review.md
  docs/superpowers/specs/2026-04-04-test-suite-review-design.md
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
