Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "task generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

feat(cli): update migrate command to use golang-migrate
  cmd/holomush/migrate.go
Due: lint-go

refactor(store): remove old migration code from PostgresEventStore
  cmd/holomush/main_test.go
  cmd/holomush/migrate.go
  internal/store/postgres.go
  internal/store/postgres_test.go
Due: lint-go

docs(operators): document database migration commands
  site/docs/operators/database.md
Due: lint-markdown

test(store): add integration test for migration cycle
  internal/store/migrate_integration_test.go
  scripts/bootstrap-migrations.sql
Due: lint-go

chore(migrations): remove old single-file migration format
  internal/store/migrations/001_initial.sql
  internal/store/migrations/002_system_info.sql
  internal/store/migrations/003_world_model.sql
  internal/store/migrations/004_pg_trgm.sql
  internal/store/migrations/005_pg_stat_statements.sql
  internal/store/migrations/006_object_containment_constraint.sql
  internal/store/migrations/007_exit_self_reference_constraint.sql
Due: none

fix(migrations): address PR #43 review findings
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/core_test.go
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  cmd/holomush/migrate.go
  docs/plans/2026-01-24-database-migrations-design.md
  internal/store/migrate.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
Due: lint-go, lint-markdown

fix(migrations): address PR #43 review round 2 findings
  cmd/holomush/migrate.go
  cmd/holomush/migrate_test.go
  docs/plans/2026-01-24-database-migrations-design.md
  internal/store/migrate.go
Due: lint-go, lint-markdown

fix(test): update integration tests to use new Migrator pattern
  cmd/holomush/main_test.go
  internal/store/postgres.go
  internal/store/postgres_integration_test.go
  internal/store/postgres_test.go
  internal/world/postgres/postgres_test.go
  test/integration/phase1_5_test.go
  test/integration/world/world_suite_test.go
Due: lint-go

fix(core): use case-insensitive comparison for HOLOMUSH_DB_AUTO_MIGRATE
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
Due: lint-go

fix(core): warn on unrecognized HOLOMUSH_DB_AUTO_MIGRATE values
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
Due: lint-go

feat(cli): improve migrate up/down feedback messages
  cmd/holomush/migrate.go
  cmd/holomush/migrate_test.go
Due: lint-go

test(store): add unit tests for Migrator methods error handling
  internal/store/migrate.go
  internal/store/migrate_test.go
Due: lint-go

test(cli): add tests for migrate status/version/force CLI outputs
  cmd/holomush/migrate.go
  cmd/holomush/migrate_test.go
Due: lint-go

feat(migrations): address PR #43 review findings round 4
  cmd/holomush/migrate.go
  cmd/holomush/migrate_test.go
  internal/store/migrate.go
  internal/store/migrate_test.go
  internal/store/migrations/000001_initial.down.sql
  internal/store/postgres.go
Due: lint-go

feat(migrations): address PR #43 review findings round 3
  cmd/holomush/automigrate_test.go
  cmd/holomush/migrate.go
  cmd/holomush/migrate_test.go
  docs/plans/2026-01-24-database-migrations-design.md
  internal/store/migrate.go
  internal/store/migrate_embed_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/postgres.go
  site/docs/operators/database.md
Due: lint-go, lint-markdown

feat(migrations): address PR #43 review findings round 5
  cmd/holomush/automigrate_integration_test.go
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/deps.go
  cmd/holomush/deps_test.go
  cmd/holomush/migrate.go
  cmd/holomush/migrate_test.go
  docs/plans/2026-01-24-database-migrations-design.md
  docs/plans/2026-01-24-database-migrations-implementation.md
  internal/store/migrate.go
  internal/store/migrate_test.go
  site/docs/operators/configuration.md
  site/docs/operators/database.md
  site/docs/operators/installation.md
Due: lint-go, lint-markdown

docs: improve migration method documentation and warnings
  cmd/holomush/core.go
  cmd/holomush/migrate.go
  internal/store/migrate.go
  site/docs/operators/database.md
Due: lint-go, lint-markdown

fix(migrations): address PR #43 review findings round 7
  CONTRIBUTING.md
  cmd/holomush/automigrate_integration_test.go
  cmd/holomush/migrate.go
  docs/plans/2026-01-24-database-migrations-design.md
  internal/store/migrate.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/postgres.go
  scripts/bootstrap-migrations.sql
  site/docs/operators/database.md
Due: lint-go, lint-markdown

fix(migrations): address PR #43 review findings round 6
  cmd/holomush/migrate.go
  cmd/holomush/migrate_test.go
  internal/store/migrate.go
  internal/store/migrate_test.go
  internal/store/migrations/000003_world_model.up.sql
  internal/store/migrations/000004_pg_trgm.down.sql
Due: lint-go

fix(test): unset DATABASE_URL in TestGetDatabaseURL
  cmd/holomush/migrate_test.go
Due: lint-go

fix(migrations): address PR #43 review findings round 8
  cmd/holomush/automigrate_test.go
  cmd/holomush/migrate.go
  cmd/holomush/migrate_test.go
  internal/store/migrate.go
  internal/store/migrate_test.go
  internal/store/postgres.go
Due: lint-go

fix(migrations): adapt seed command to golang-migrate after rebase
  cmd/holomush/seed.go
  cmd/holomush/seed_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000008_character_description_nullable_location.down.sql
  internal/store/migrations/000008_character_description_nullable_location.up.sql
Due: lint-go

bd daemon sync: 2026-01-25 18:49:57
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 18:50:06
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 18:56:47
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 18:56:48
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 18:57:07
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 18:57:17
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 18:57:58
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 18:58:16
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 18:58:41
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 18:58:55
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 18:59:49
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:04:40
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:05:02
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:05:17
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:05:38
  .beads/issues.jsonl
Due: none

fix(migrations): address PR #43 review findings round 9
  cmd/holomush/automigrate_test.go
  cmd/holomush/core.go
  cmd/holomush/seed.go
  internal/store/migrate.go
  internal/store/migrate_integration_test.go
  internal/store/postgres.go
Due: lint-go

bd daemon sync: 2026-01-25 19:08:59
  .beads/issues.jsonl
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
