Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      run: markdownlint-cli2 {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamllint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

bd daemon sync: 2026-01-18 08:10:53
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 08:11:06
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 08:11:09
  .beads/issues.jsonl
Due: none

docs: add Extism Phase 1 implementation plan
  docs/plans/2026-01-18-extism-phase1-implementation.md
Due: lint-markdown

bd daemon sync: 2026-01-18 08:16:31
  .beads/issues.jsonl
Due: none

docs: add documentation guidelines and fix lint exclusions
  Taskfile.yaml
  docs/CLAUDE.md
Due: lint-markdown, lint-yaml

docs: add table alignment guidance and fix lint issues
  docs/CLAUDE.md
  docs/plans/2026-01-18-extism-phase1-implementation.md
Due: lint-markdown

bd daemon sync: 2026-01-18 08:30:25
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 08:30:30
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 08:34:04
  .beads/issues.jsonl
Due: none

chore(deps): add Extism Go SDK v1.7.1
  cmd/holomush/deps.go
  go.mod
  go.sum
Due: lint-go

bd daemon sync: 2026-01-18 08:37:10
  .beads/issues.jsonl
Due: none

feat(plugins): add Python echo plugin using Extism PDK
  plugins/echo-python/Makefile
  plugins/echo-python/README.md
  plugins/echo-python/plugin.py
Due: lint-markdown

feat(wasm): add ExtismHost type with tracer support
  internal/wasm/extism_host.go
  internal/wasm/extism_host_test.go
Due: lint-go

bd daemon sync: 2026-01-18 08:41:06
  .beads/issues.jsonl
Due: none

feat(wasm): add LoadPlugin and HasPlugin methods to ExtismHost
  internal/wasm/extism_host.go
  internal/wasm/extism_host_test.go
  internal/wasm/testdata/alloc.wasm
Due: lint-go

bd daemon sync: 2026-01-18 08:46:34
  .beads/issues.jsonl
Due: none

feat(wasm): add DeliverEvent method with OTel tracing
  internal/wasm/extism_host.go
  internal/wasm/extism_host_test.go
Due: lint-go

bd daemon sync: 2026-01-18 09:20:16
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 09:20:51
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 09:22:25
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 09:22:35
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 09:22:45
  .beads/issues.jsonl
Due: none

test(wasm): add Python echo plugin WASM fixture
  internal/wasm/extism_host_test.go
  plugins/echo-python/.gitignore
  plugins/echo-python/.python-version
  plugins/echo-python/Makefile
  plugins/echo-python/pyproject.toml
  plugins/echo-python/uv.lock
Due: lint-go

bd daemon sync: 2026-01-18 09:41:50
  .beads/issues.jsonl
Due: none

build: add plugin:build task, remove WASM binaries from git
  .gitignore
  Taskfile.yaml
  internal/wasm/testdata/.gitignore
Due: lint-yaml

bd daemon sync: 2026-01-18 10:01:06
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:01:20
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:03:19
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:03:42
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:04:18
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:05:41
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:07:38
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:07:42
  .beads/issues.jsonl
Due: none

feat(wasm): add ExtismSubscriber for event routing to plugins
  docs/plans/2026-01-17-holomush-architecture-design.md
  docs/reference/plugin-authoring.md
  go.mod
  internal/control/grpc_server_test.go
  internal/tls/certs_test.go
  internal/wasm/extism_subscriber.go
  internal/wasm/extism_subscriber_test.go
  internal/wasm/integration_test.go
Due: lint-go, lint-markdown

bd daemon sync: 2026-01-18 10:08:52
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:13:20
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:13:26
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:14:08
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-18 10:19:47
  .beads/issues.jsonl
Due: none
