Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        command -v addlicense >/dev/null 2>&1 || {
          echo "Installing addlicense..."
          go install github.com/google/addlicense@latest
        }
        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      run: markdownlint-cli2 {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamllint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

refactor(command): extract alias lookup into helper for predictable locking
  internal/command/alias.go
Due: lint-go

docs(command): fix shutdown help text to match implementation
  internal/command/handlers/register.go
Due: lint-go

test(command): add MoveHandler failure path tests
  internal/command/handlers/move_test.go
Due: lint-go

fix(command): add server-side error logging to CreateHandler and SetHandler
  internal/command/handlers/objects.go
Due: lint-go

fix(store): check RowsAffected in alias delete operations
  internal/store/alias.go
Due: lint-go

fix(command): log warning when Broadcaster is nil in handlers
  internal/command/handlers/boot.go
  internal/command/handlers/shutdown.go
  internal/command/handlers/wall.go
Due: lint-go

test(command): add chained alias expansion with arguments tests
  internal/command/alias_test.go
Due: lint-go

test(command): add Dispatcher context cancellation tests
  go.mod
  internal/command/dispatcher_test.go
Due: lint-go

test(command): add CreateHandler/SetHandler service error tests
  internal/command/handlers/objects_test.go
Due: lint-go

style: auto-format markdown tables and Go code
  docs/plans/2026-02-02-building-objects-implementation.md
  docs/plans/2026-02-02-building-objects-plugins-design.md
  internal/command/handlers/shutdown_test.go
  internal/command/types_test.go
Due: lint-go, lint-markdown

fix(command): return errors from CreateHandler/SetHandler instead of nil
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
Due: lint-go

fix(command): add user warning when WhoHandler encounters errors
  internal/command/handlers/who.go
  internal/command/handlers/who_test.go
Due: lint-go

fix(command): add command execution error logging to Dispatcher
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
Due: lint-go

docs(spec): update Services struct to match implementation
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

docs(spec): document core commands as intentionally unrestricted
  docs/specs/2026-02-02-commands-behaviors-design.md
Due: lint-markdown

test(command): add registry conflict warning log verification
  internal/command/registry_test.go
Due: lint-go

test(command): add locked exit behavior test for MoveHandler
  internal/command/handlers/move.go
  internal/command/handlers/move_test.go
Due: lint-go

fix(command): sanitize error messages in objects handlers
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
Due: lint-go

test(hostfunc): add error sanitization assertions for host functions
  internal/plugin/hostfunc/world_write_test.go
Due: lint-go, schema-sync

refactor(command): use interfaces for Services dependencies
  internal/command/types.go
Due: lint-go

refactor(command): use structured errors in resolveTarget
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
Due: lint-go

fix(command): use generic 'Target not found' message for CodeTargetNotFound
  internal/command/errors.go
Due: lint-go

refactor(command): use structured errors in applyProperty functions
  internal/command/dispatcher.go
  internal/command/dispatcher_test.go
  internal/command/errors.go
  internal/command/handlers/objects.go
  internal/command/handlers/objects_test.go
Due: lint-go

test(command): add nil Services validation test for dispatcher
  internal/command/dispatcher_test.go
Due: lint-go

refactor(command): simplify alias resolution string building
  internal/command/alias.go
Due: lint-go

feat(command): add warning log for unhandled error codes in PlayerMessage
  internal/command/errors.go
  internal/command/handlers/objects.go
Due: lint-go

test(command): add invalid name validation test for CreateHandler
  internal/command/handlers/objects_test.go
Due: lint-go

refactor(command): extract BroadcastSystemMessage helper to Services
  internal/command/handlers/boot.go
  internal/command/handlers/shutdown.go
  internal/command/handlers/wall.go
  internal/command/types.go
Due: lint-go

refactor(hostfunc): extract host function boilerplate helpers
  internal/plugin/hostfunc/helpers.go
  internal/plugin/hostfunc/world.go
  internal/plugin/hostfunc/world_write.go
Due: lint-go, schema-sync

fix(command): provide required fields in TestDispatcher_WhitespaceInput
  internal/command/dispatcher_test.go
Due: lint-go

ci: add workflow_dispatch trigger to CI workflow
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

chore: regenerate plugin schema
  schemas/plugin.schema.json
Due: none

fix: pre-allocate slices to satisfy prealloc linter
  internal/command/handlers/who.go
  pkg/holo/fmt.go
Due: lint-go

style: format files with dprint and gofumpt
  .ansible/.lock
  docs/specs/2026-02-02-commands-behaviors-design.md
  internal/command/dispatcher_test.go
  internal/plugin/hostfunc/helpers.go
Due: lint-go, lint-markdown, schema-sync

chore: ignore .ansible directory and remove accidentally committed file
  .ansible/.lock
  .gitignore
Due: none

feat(command): add CreateExit to WorldService interface
  internal/command/types.go
Due: lint-go

feat(plugin): validate and log malformed event entries in parseEmitEvents
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
Due: lint-go, schema-sync

feat(plugin): log warning for non-table returns from Lua handlers
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
Due: lint-go, schema-sync

refactor(command): remove redundant capability checks from admin handlers
  internal/command/handlers/shutdown.go
  internal/command/handlers/shutdown_test.go
  internal/command/handlers/wall.go
  internal/command/handlers/wall_test.go
Due: lint-go
