Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

test(abac): E2E tests for C1 invariant with real plugin binary
  test/integration/plugin/abac_widget_test.go
Due: lint-go

test(abac): panic, re-entrance, cross-check, and concurrency tests for ResolveSubjectAttributes
  internal/access/policy/attribute/resolver_test.go
Due: lint-go

test(abac): edge and boundary tests for ValidateManifestPolicySchemas
  internal/plugin/policy_schema_validator_test.go
Due: lint-go, schema-sync

refactor(abac): remove Warning 3 from CheckManifestWarnings
  internal/plugin/manifest_warnings.go
  internal/plugin/manifest_warnings_test.go
Due: lint-go, schema-sync

fix(abac): UnregisterProvider must clean up schema registry state
  docs/superpowers/specs/2026-04-07-plugin-abac-hardening-design.md
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/access/policy/attribute/schema.go
Due: lint-go

feat(abac): plugin ABAC hardening — eliminate __preflight__ + load-time schema validation (#199)
  docs/specs/2026-03-28-site-redesign.md
  docs/specs/abac/08-testing-appendices.md
  docs/superpowers/plans/2026-04-04-test-suite-review.md
  docs/superpowers/plans/2026-04-07-plugin-abac-hardening.md
  docs/superpowers/specs/2026-04-06-grpcbroker-service-injection-design.md
  docs/superpowers/specs/2026-04-06-plugin-abac-trust-boundary-design.md
  docs/superpowers/specs/2026-04-07-plugin-abac-hardening-design.md
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/access/policy/attribute/schema.go
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
  internal/access/policy/hardening_invariants_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  internal/plugin/manifest_warnings.go
  internal/plugin/manifest_warnings_test.go
  internal/plugin/policy_schema_validator.go
  internal/plugin/policy_schema_validator_test.go
  pkg/plugin/service.go
  plugins/test-abac-widget/main.go
  site/docs/extending/abac-attribute-resolver.md
  site/docs/extending/index.md
  site/zensical.toml
  test/integration/plugin/abac_widget_test.go
  test/integration/plugin/counting_proxy_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

chore(lint): gocritic ruleguard enforces ULID generator boundaries (holomush-43nd)
  .golangci.yaml
  Taskfile.yaml
  go.mod
  go.sum
  gorules/rules.go
Due: lint-go, lint-yaml

docs(core): expand NewULID doc comment with event-ID guarantee (holomush-43nd)
  docs/superpowers/plans/2026-04-07-cursor-persistence-races.md
  internal/core/ulid.go
  internal/core/ulid_test.go
Due: lint-go

fix(command): BroadcastSystemMessage uses core.NewULID for monotonic IDs (holomush-43nd)
  internal/command/types.go
  internal/command/types_test.go
Due: lint-go

fix(pr-review): address CodeRabbit findings on #198 (holomush-43nd)
  docs/superpowers/plans/2026-04-07-cursor-persistence-races.md
  docs/superpowers/specs/2026-04-07-cursor-persistence-races-design.md
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

fix(grpc): synchronous cursor commit in replayAndSend (holomush-43nd)
  internal/grpc/server.go
Due: lint-go

docs(spec): cursor persistence races (holomush-43nd)
  docs/superpowers/specs/2026-04-07-cursor-persistence-races-design.md
Due: none

fix(session): add per-key monotonicity guard to MemStore.UpdateCursors (holomush-43nd)
  internal/session/memstore.go
  internal/session/memstore_test.go
Due: lint-go

test(session): integration tests for Findings 1 and 3 (holomush-43nd)
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

fix(store): add per-key monotonicity CAS to UpdateCursors (holomush-43nd)
  internal/store/session_store.go
  internal/store/session_store_integration_test.go
  internal/store/session_store_test.go
Due: lint-go

docs(plan): cursor persistence races implementation plan (holomush-43nd)
  docs/superpowers/plans/2026-04-07-cursor-persistence-races.md
Due: none

docs(claude-md): ULID generator choice rule (holomush-43nd)
  CLAUDE.md
  test/integration/session/session_persistence_integration_test.go
Due: lint-go

docs(idgen): document boundary — entity IDs only, not events (holomush-43nd)
  internal/idgen/id.go
Due: lint-go

fix(session): cursor persistence races — sync commit + SQL CAS (holomush-43nd) (#198)
  .golangci.yaml
  CLAUDE.md
  Taskfile.yaml
  docs/superpowers/plans/2026-04-07-cursor-persistence-races.md
  docs/superpowers/specs/2026-04-07-cursor-persistence-races-design.md
  go.mod
  go.sum
  gorules/rules.go
  internal/command/types.go
  internal/command/types_test.go
  internal/core/ulid.go
  internal/core/ulid_test.go
  internal/grpc/server.go
  internal/idgen/id.go
  internal/session/memstore.go
  internal/session/memstore_test.go
  internal/store/session_store.go
  internal/store/session_store_integration_test.go
  internal/store/session_store_test.go
  test/integration/session/session_persistence_integration_test.go
Due: lint-go, lint-yaml

feat(scenes): Phase 1 SceneStore (Create + Get only)
  plugins/core-scenes/store.go
Due: lint-go

feat(scenes): scene create and scene info command handlers
  plugins/core-scenes/commands.go
  plugins/core-scenes/commands_test.go
  plugins/core-scenes/main.go
Due: lint-go

docs(scenes): Phase 1 foundation slice implementation plan
  docs/superpowers/plans/2026-04-06-scenes-phase-1-foundation.md
Due: none

test(scenes): Phase 1 SceneStore integration tests
  plugins/core-scenes/store_integration_test.go
  plugins/core-scenes/store_test.go
Due: lint-go

feat(scenes): Phase 1 schema — scenes table only
  plugins/core-scenes/migrations/000001_scenes.up.sql
Due: none

feat(scenes): add OTel tracing helpers
  plugins/core-scenes/observability.go
Due: lint-go

feat(scenes): AttributeResolverService for scene resource type
  plugins/core-scenes/resolver.go
  plugins/core-scenes/resolver_test.go
Due: lint-go

feat(scenes): Phase 1 SceneServiceImpl (CreateScene + GetScene)
  plugins/core-scenes/service.go
Due: lint-go

fix(plugin): remove 'scene' from ProtectedResourceTypes
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go, schema-sync

feat(scenes): declare AttributeResolverService and per-resource policy
  plugins/core-scenes/plugin.yaml
Due: lint-yaml

feat(scenes): wire AttributeResolver into plugin entry point
  internal/web/dist/_app/immutable/chunks/CYvqTXrN.js
  internal/web/dist/_app/immutable/entry/app.BiAJv6PJ.js
  internal/web/dist/_app/immutable/entry/start.AsMyjlJw.js
  internal/web/dist/_app/immutable/nodes/0.D_QWyC7u.js
  internal/web/dist/_app/immutable/nodes/1.BhPst7TY.js
  internal/web/dist/_app/immutable/nodes/3.C0FWnNZC.js
  internal/web/dist/_app/immutable/nodes/4.Bq3CBrwl.js
  internal/web/dist/_app/immutable/nodes/5.Zn2Of7ib.js
  internal/web/dist/_app/immutable/nodes/6.Bhkr-Xud.js
  internal/web/dist/_app/immutable/nodes/7.BjtoGFeW.js
  internal/web/dist/_app/immutable/nodes/9.X8OyFHxs.js
  internal/web/dist/index.html
  plugins/core-scenes/main.go
Due: lint-go

feat(scenes): add Phase 1 domain types
  plugins/core-scenes/types.go
  plugins/core-scenes/types_test.go
Due: lint-go

test(scenes): Phase 1 SceneServiceImpl unit tests
  plugins/core-scenes/service_test.go
Due: lint-go

chore(scenes): remove unused down migration
  plugins/core-scenes/migrations/000001_scenes.down.sql
Due: none

docs(scenes): rewrite Epic 9 design for plugin architecture (v2)
  docs/superpowers/specs/2026-04-06-scenes-and-rp-design-v2.md
Due: none

feat(proto): annotate world/v1/world.proto with buf.validate constraints
  .task/checksum/proto
  api/proto/holomush/world/v1/world.proto
  pkg/proto/holomush/world/v1/world.pb.go
Due: lint-go

test(scenes): Phase 2 integration tests with direct DB verification
  test/integration/plugin/binary_plugin_test.go
Due: lint-go

feat(scenes): EndScene/PauseScene/ResumeScene/UpdateScene RPC handlers
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go

docs(scenes): Phase 2 lifecycle implementation plan
  docs/superpowers/plans/2026-04-07-scenes-phase-2-lifecycle.md
Due: none

feat(scenes): CHECK constraint on scenes.state column
  plugins/core-scenes/migrations/000002_scene_state_check.up.sql
Due: none

feat(scenes): Phase 2 ABAC policies for end/pause/resume/update
  plugins/core-scenes/plugin.yaml
Due: lint-yaml

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
