Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "task generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

refactor(world): use slices.Clone for VisibleTo deep copy
  internal/world/exit.go
Due: lint-go

refactor(world): remove internal/core dependency from postgres layer
  internal/world/postgres/exit_repo.go
  internal/world/postgres/exit_repo_test.go
  internal/world/postgres/location_repo_test.go
  internal/world/postgres/object_repo_test.go
  internal/world/postgres/scene_repo_test.go
Due: lint-go

feat(world): add input validation for domain types
  internal/world/validation.go
  internal/world/validation_test.go
Due: lint-go

fix(world): make bidirectional exit deletion transactional
  internal/world/postgres/exit_repo.go
Due: lint-go

refactor(world): replace slog logging with structured errors in exit_repo
  internal/world/errors.go
  internal/world/postgres/exit_repo.go
  internal/world/service.go
Due: lint-go

feat(world): add ParticipantRole type with validation
  internal/world/postgres/scene_repo.go
  internal/world/postgres/scene_repo_test.go
  internal/world/repository.go
  internal/world/scene.go
  internal/world/scene_test.go
  internal/world/service.go
  internal/world/service_test.go
  internal/world/worldtest/mock_AccessControl.go
  internal/world/worldtest/mock_SceneRepository.go
Due: lint-go

feat(world): add atomic visibility check for exits
  internal/world/postgres/exit_repo.go
  internal/world/postgres/exit_repo_test.go
  internal/world/postgres/scene_repo_test.go
  internal/world/repository.go
  internal/world/worldtest/mock_ExitRepository.go
Due: lint-go

fix(world): make SetContainment validate and return error
  internal/world/object.go
  internal/world/object_test.go
Due: lint-go

feat(world): add LocationType validation
  internal/world/location.go
  internal/world/location_test.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/location_repo_test.go
Due: lint-go

fix(world): prevent TOCTOU in Object.Move with SELECT FOR UPDATE
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
Due: lint-go

feat(world): make maxNestingDepth configurable
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
Due: lint-go

fix(world): correct type comparisons in BDD integration tests
  test/integration/world/exit_repo_test.go
  test/integration/world/scene_repo_test.go
  test/integration/world/scenes_test.go
Due: lint-go

chore: add generated mock files
  internal/grpc/mocks/mock_CoreServerOption.go
  internal/plugin/mocks/mock_ManagerOption.go
Due: lint-go, schema-sync

refactor(world): consolidate helper functions in helpers.go
  internal/world/postgres/exit_repo.go
  internal/world/postgres/helpers.go
Due: lint-go

refactor(world): reduce scan helper duplication in repositories
  internal/world/postgres/location_repo.go
  internal/world/postgres/object_repo.go
Due: lint-go

refactor(world): rename FindByNameFuzzy to FindBySimilarity
  internal/world/postgres/exit_repo.go
  internal/world/postgres/exit_repo_test.go
  internal/world/repository.go
  internal/world/worldtest/mock_ExitRepository.go
  test/integration/world/exit_repo_test.go
  test/integration/world/movement_test.go
Due: lint-go

fix(world): address PR review findings - validation, logging, and tests
  internal/world/errors_test.go
  internal/world/exit.go
  internal/world/exit_test.go
  internal/world/location.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

refactor(world): extract CTE recursion depth constant
  internal/world/postgres/helpers.go
  internal/world/postgres/object_repo.go
Due: lint-go

test(world): add edge case tests for EffectiveName and deepCopyLockData
  internal/world/exit_test.go
  internal/world/location_test.go
Due: lint-go

fix(world): add input validation to service layer and comprehensive tests
  internal/world/repository.go
  internal/world/scene.go
  internal/world/scene_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

feat(world): add ValidateLockData and ValidateVisibleTo to exit service
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

feat(world): add input validation to Update and Create methods
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

feat(world): add nil input protection and export ErrNotFound
  internal/world/errors.go
  internal/world/errors_test.go
  internal/world/postgres/errors.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(world): propagate severe cleanup errors and fix misleading docs
  internal/world/postgres/exit_repo.go
  internal/world/repository.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

test(world): add edge case and boundary tests for validation
  internal/world/service_test.go
  internal/world/validation_test.go
Due: lint-go

feat(world): add nil repository guards and improve test coverage
  internal/world/location_test.go
  internal/world/service.go
  internal/world/service_test.go
  internal/world/validation_test.go
Due: lint-go

refactor(world): extract Validate methods to domain types
  internal/world/exit.go
  internal/world/exit_test.go
  internal/world/location.go
  internal/world/location_test.go
  internal/world/object.go
  internal/world/object_test.go
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(world): address PR review findings
  internal/world/errors.go
  internal/world/exit.go
  internal/world/exit_test.go
  internal/world/postgres/errors.go
  internal/world/postgres/exit_repo.go
  internal/world/postgres/exit_repo_test.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/location_repo_test.go
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
  internal/world/postgres/scene_repo.go
  internal/world/postgres/scene_repo_test.go
Due: lint-go

refactor(world): remove duplicate validation from repository layer
  internal/world/postgres/location_repo.go
  internal/world/postgres/location_repo_test.go
  internal/world/postgres/object_repo.go
Due: lint-go

fix(world): update tests after removing repository validation
  internal/world/postgres/object_repo_test.go
Due: lint-go

fix(world): add containment validation to service layer
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

fix(world): address PR review findings
  internal/store/migrations/007_exit_self_reference_constraint.sql
  internal/world/exit_test.go
  internal/world/postgres/exit_repo.go
  internal/world/validation.go
  internal/world/validation_test.go
Due: lint-go

feat(world): add MoveObject method to service layer
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

feat(world): add payload validation and improve test coverage
  docs/specs/2026-01-22-world-model-design.md
  internal/world/exit_test.go
  internal/world/payloads.go
  internal/world/payloads_test.go
  internal/world/validation_test.go
Due: lint-go, lint-markdown

fix(world): include migration 007 and update spec
  docs/specs/2026-01-22-world-model-design.md
  internal/store/postgres.go
  internal/store/postgres_test.go
Due: lint-go, lint-markdown

docs: update documentation for world model implementation
  docs/reference/getting-started.md
  docs/reference/plugin-authoring.md
  internal/world/errors_test.go
  internal/world/postgres/exit_repo_test.go
  internal/world/postgres/location_repo_test.go
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
Due: lint-go, lint-markdown

docs(site): add world events to plugin guide
  site/docs/developers/plugin-guide.md
Due: lint-markdown

docs: consolidate documentation into site/docs
  CLAUDE.md
  docs/reference/.gitkeep
  docs/reference/architecture-overview.md
  docs/reference/getting-started.md
  docs/reference/operations.md
  docs/reference/plugin-authoring.md
  docs/reference/pull-request-guide.md
  site/docs/developers/grpc-api.md
  site/docs/operators/verifying-releases.md
Due: lint-markdown

bd daemon sync: 2026-01-24 14:27:51
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 14:28:16
  .beads/issues.jsonl
Due: none

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
