Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

test(e2e): readstream dual-control + lifecycle scenarios F-E3/E5/E6/E7/E10/E12/E16 (sub-epic F r8)
  cmd/holomush/admin_read_stream_e2e_test.go
  internal/admin/readstream/handler_test_support.go
Due: lint-go

fix(readstream): address non-blocking review findings — DEK_VERSION_NULL classification, dual-control terminator, docs cleanup (sub-epic F r8)
  .cr-bodies.json
  cmd/holomush/admin_read_stream_e2e_test.go
  cmd/holomush/core.go
  cmd/holomush/readstream_wiring.go
  internal/admin/readstream/audit_emitter.go
  internal/admin/readstream/cold_reader.go
  internal/admin/readstream/cold_reader_integration_test.go
  internal/admin/readstream/decrypt.go
  internal/admin/readstream/decrypt_test.go
  internal/admin/readstream/handler.go
  internal/admin/readstream/handler_test.go
Due: lint-go

fix(admin/readstream): enforce per-frame deadline at I/O layer; remove orphan goroutine race
  internal/admin/readstream/deadline_writer.go
  internal/admin/readstream/deadline_writer_test.go
  internal/admin/readstream/handler.go
  internal/admin/socket/peercred.go
Due: lint-go

test(admin/readstream): pin Since/Until in F-E16 to fix opArgsHash drift
  cmd/holomush/admin_read_stream_e2e_test.go
Due: lint-go

fix(admin/readstream): remove SendWithDeadline orphan-goroutine race + repair F-E16 (#3828)
  cmd/holomush/admin_read_stream_e2e_test.go
  internal/admin/readstream/deadline_writer.go
  internal/admin/readstream/deadline_writer_test.go
  internal/admin/readstream/handler.go
  internal/admin/socket/peercred.go
Due: lint-go

test(admin/socket): assert GID in Linux peercred test for parity with Darwin
  internal/admin/socket/peercred_linux_test.go
Due: lint-go

refactor(admin/socket): use unix.GetsockoptInt on Darwin for package consistency
  internal/admin/socket/peercred_darwin.go
Due: lint-go

test/refactor(admin/socket): peercred follow-ups (jxo8.4.1.1 + .3) (#3829)
  internal/admin/socket/peercred_darwin.go
  internal/admin/socket/peercred_linux_test.go
Due: lint-go

fix(crypto/dek): zeroize plaintext DEK byte slices on all return paths
  internal/eventbus/crypto/dek/manager.go
  internal/eventbus/crypto/dek/manager_integration_test.go
Due: lint-go

fix(crypto/dek): zeroize plaintext DEK byte slices on all return paths (#3830)
  internal/eventbus/crypto/dek/manager.go
  internal/eventbus/crypto/dek/manager_integration_test.go
Due: lint-go

docs(repo-audit): add 2026-05-13 architecture, layer, design, humanization reviews
  docs/repository-audit/2026-05-13/architecture-review.md
  docs/repository-audit/2026-05-13/design-alignment-review.md
  docs/repository-audit/2026-05-13/humanization-review.md
  docs/repository-audit/2026-05-13/layer-review.md
Due: none

docs(crypto/phase7): draft Phase 7 plugin-SDK + plugin-owned-audit design spec
  docs/superpowers/specs/2026-05-13-event-payload-crypto-phase7-plugin-sdk-design.md
Due: none

docs(crypto/phase7): v2 spec — revert to master spec intent, address review gates
  docs/superpowers/specs/2026-05-13-event-payload-crypto-phase7-plugin-sdk-design.md
Due: none

docs(crypto/phase7): v3 spec — address v2 review findings + persist reviewer learnings
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_clean_break_enumerate_callers.md
  .claude/agent-memory/design-reviewer/feedback_existing_hook_claim_verification.md
  .claude/agent-memory/design-reviewer/feedback_proto_path_verification.md
  docs/superpowers/specs/2026-05-13-event-payload-crypto-phase7-plugin-sdk-design.md
Due: none

docs(crypto/phase7): v4 spec — address v3 review findings with verified facts
  docs/superpowers/specs/2026-05-13-event-payload-crypto-phase7-plugin-sdk-design.md
Due: none

docs(crypto/phase7): v4 polish — apply review WARN findings (both gates READY)
  docs/superpowers/specs/2026-05-13-event-payload-crypto-phase7-plugin-sdk-design.md
Due: none

docs(crypto/phase7): implementation plan with 5-bead chain structure
  docs/superpowers/plans/2026-05-13-event-payload-crypto-phase7-plugin-sdk-plan.md
Due: none

docs(crypto/phase7): plan v2 — address plan-reviewer NOT READY findings
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-13-event-payload-crypto-phase7-plugin-sdk-plan.md
Due: none

docs(crypto/phase7): plan v3 — address plan-reviewer v2 findings
  docs/superpowers/plans/2026-05-13-event-payload-crypto-phase7-plugin-sdk-plan.md
Due: none

docs(crypto/phase7): plan v4 — address plan-reviewer v3 cross-reference drift
  docs/superpowers/plans/2026-05-13-event-payload-crypto-phase7-plugin-sdk-plan.md
Due: none

docs(crypto/phase7): plan v5 — final, plan-reviewer v4 mechanical fixes applied
  docs/superpowers/plans/2026-05-13-event-payload-crypto-phase7-plugin-sdk-plan.md
Due: none

docs(crypto/phase7): apply markdown lint fmt fixes
  docs/superpowers/plans/2026-05-13-event-payload-crypto-phase7-plugin-sdk-plan.md
  docs/superpowers/specs/2026-05-13-event-payload-crypto-phase7-plugin-sdk-design.md
Due: none

fix(crypto/phase7): apply CodeRabbit auto-fixes on PR #3832
  docs/superpowers/specs/2026-05-13-event-payload-crypto-phase7-plugin-sdk-design.md
Due: none

docs(crypto/phase7): design spec + implementation plan for holomush-1r0v (#3832)
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_clean_break_enumerate_callers.md
  .claude/agent-memory/design-reviewer/feedback_existing_hook_claim_verification.md
  .claude/agent-memory/design-reviewer/feedback_proto_path_verification.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-13-event-payload-crypto-phase7-plugin-sdk-plan.md
  docs/superpowers/specs/2026-05-13-event-payload-crypto-phase7-plugin-sdk-design.md
Due: none

refactor(audit): extract shared header parser into header_parser.go
  internal/eventbus/audit/header_parser.go
  internal/eventbus/audit/header_parser_test.go
  internal/eventbus/audit/projection.go
Due: lint-go

feat(plugin/v1): reshape AuditRow proto for Phase 7
  api/proto/holomush/plugin/v1/audit.proto
  pkg/proto/holomush/plugin/v1/audit.pb.go
  web/src/lib/connect/holomush/plugin/v1/audit_pb.ts
Due: lint-go

feat(pluginsdk): Layer 2 AuditRow + LoadForQuery
  pkg/plugin/audit.go
  pkg/plugin/audit_test.go
Due: lint-go

test(audit): rename parser parity test to determinism test
  internal/eventbus/audit/header_parser_determinism_test.go
Due: lint-go

fix(audit): wire ParseAuditHeaders into plugin dispatch + bridge fixes
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/audit/plugin_consumer_unit_test.go
  internal/eventbus/audit/plugin_router.go
  internal/eventbus/audit/plugin_router_test.go
  test/integration/eventbus_e2e/plugin_audit_isolation_test.go
Due: lint-go

feat(audit/plugin_consumer): widen dispatcher to forward ciphertext
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/audit/plugin_consumer_round3_test.go
  internal/eventbus/audit/plugin_consumer_unit_test.go
  pkg/plugin/audit.go
Due: lint-go

feat(core-scenes): add dek_ref/dek_version columns + migrate to AuditRow
  plugins/core-scenes/audit.go
  plugins/core-scenes/audit_test.go
  plugins/core-scenes/migrations/000005_add_scene_log_dek_columns.down.sql
  plugins/core-scenes/migrations/000005_add_scene_log_dek_columns.up.sql
Due: lint-go

test(eventbus_e2e): migrate plugin_audit_isolation stub to dek_ref/dek_version
  test/integration/eventbus_e2e/plugin_audit_isolation_test.go
  test/integration/eventbus_e2e/plugin_crash_resilience_test.go
Due: lint-go

test(eventbus_e2e): INV-P7-9 selector pointer-identity test (parked)
  internal/eventbus/audit/plugin_consumer_export_integration.go
  internal/eventbus/history/tier_export_integration.go
  test/integration/eventbus_e2e/dispatcher_selector_identity_test.go
Due: lint-go

docs(ci): pr-prep + CI docs-only fast lane — spec r3 + plan r2 (yp2t.2)
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_go_task_exec_does_not_short_circuit_cmds.md
  .claude/agent-memory/design-reviewer/feedback_workflow_run_skipped_upstream.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-14-pr-prep-docs-fast-lane-plan.md
  docs/superpowers/specs/2026-05-14-pr-prep-docs-fast-lane-design.md
Due: none

feat(setup): pre-install addlicense in task setup (yp2t.2)
  Taskfile.yaml
Due: lint-yaml

feat(scripts): docs-paths-regex.sh glob compiler + bats tests (yp2t.2)
  scripts/docs-paths-regex.sh
  scripts/tests/docs-paths-regex.bats
Due: none

feat(taskfile): add DOCS_ONLY_PATHS canonical var (yp2t.2)
  Taskfile.yaml
Due: lint-yaml

feat(taskfile): add pr-prep:docs fast lane (yp2t.2)
  Taskfile.yaml
Due: lint-yaml

feat(ci): same-name skip workflow for docs-only PRs (yp2t.1)
  .github/workflows/ci-docs-skip.yaml
Due: lint-yaml, lint-actions

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
