Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(09): IN-03 remove the wrong package doc comment from certs_test.go
  internal/tls/certs_test.go
Due: lint-go

fix(09): IN-05 stop claiming a standing guard that lives only in the plan
  test/meta/session_matrix_registry_test.go
Due: lint-go

fix(09): IN-06 resolve matrix citations against quoted literals, not the whole file
  test/meta/session_matrix_registry_test.go
Due: lint-go

fix(09): IN-07 drop the implied NotEqual pair in the log-sink routing test
  cmd/holomush/core_test.go
Due: lint-go

fix(09): WR-01 drop an unused nolint on the migration source accessor
  internal/store/migrations_export_test.go
Due: lint-go

docs(09): add the phase 9 code review report
  .planning/phases/09-test-quality-code-health-sweep/09-REVIEW.md
Due: none

fix(09-01): make the E2E coverage bind-mount writable by the container uid
  Taskfile.yaml
Due: lint-yaml

fix(e2e): forward CI into the playwright container so its widened timeouts apply
  compose.e2e.yaml
Due: lint-yaml

deps: bump indirect cel-go to v0.29.2 to clear GHSA-gcjh-h69q-9w9g
  go.mod
  go.sum
Due: none

docs(09-17): restore QUAL-02 to Pending — the Complete mark asserts an undemonstrated property
  .planning/REQUIREMENTS.md
Due: none

docs(09-17): complete coverage status-context live verification plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-17-SUMMARY.md
Due: none

ci(09-19): tighten project ratchet to no-drop and correct the falsified session model
  .codecov.yml
Due: lint-yaml

docs(09-19): close phase 09 coverage gate — measurement chain proven, two floors short, D-04 deferred
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-19-SUMMARY.md
Due: none

fix: apply CodeRabbit auto-fixes
  .planning/STATE.md
  .planning/phases/09-test-quality-code-health-sweep/09-13-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-16-SUMMARY.md
  .planning/phases/09-test-quality-code-health-sweep/09-17-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-17-SUMMARY.md
  .planning/phases/09-test-quality-code-health-sweep/09-18-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-18-SUMMARY.md
  .planning/phases/09-test-quality-code-health-sweep/09-19-PLAN.md
  .planning/phases/09-test-quality-code-health-sweep/09-19-SUMMARY.md
  internal/tls/subsystem_test.go
Due: lint-go

fix(ci): add Vuln stand-in so docs-only PRs can merge
  .github/workflows/ci-docs-skip.yaml
Due: lint-yaml, lint-actions

fix(ci): add Vuln stand-in so docs-only PRs can merge (#4879)
  .github/workflows/ci-docs-skip.yaml
Due: lint-yaml, lint-actions

docs(gsd): verify phase 09 and fold the result into the v0.12 audit
  .planning/phases/09-test-quality-code-health-sweep/09-VERIFICATION.md
  .planning/v0.12-MILESTONE-AUDIT.md
Due: none

docs(gsd): v0.12 milestone audit — gaps_found (14/19 reqs, 5/6 phases verified)
  .planning/v0.12-MILESTONE-AUDIT.md
Due: none

fix(gsd): correct audit timestamps to true UTC (CodeRabbit #4877)
  .planning/phases/09-test-quality-code-health-sweep/09-VERIFICATION.md
  .planning/v0.12-MILESTONE-AUDIT.md
Due: none

docs(gsd): v0.12 milestone audit + phase 09 verification (#4877)
  .planning/phases/09-test-quality-code-health-sweep/09-VERIFICATION.md
  .planning/v0.12-MILESTONE-AUDIT.md
Due: none

chore(planning): remove REQUIREMENTS.md — archived with v0.12
  .planning/REQUIREMENTS.md
Due: none

docs(security): add SECURITY.md vulnerability disclosure policy
  .planning/STATE.md
  .planning/quick/260728-sec-add-security-md-vulnerability-disclosure/260728-sec-PLAN.md
  .planning/quick/260728-sec-add-security-md-vulnerability-disclosure/260728-sec-SUMMARY.md
  SECURITY.md
Due: none

docs(security): add SECURITY.md vulnerability disclosure policy (#4885)
  .planning/STATE.md
  .planning/quick/260728-sec-add-security-md-vulnerability-disclosure/260728-sec-PLAN.md
  .planning/quick/260728-sec-add-security-md-vulnerability-disclosure/260728-sec-SUMMARY.md
  SECURITY.md
Due: none

chore(planning): backlog review — remove exhausted 999.9, correct two stale entries
  .planning/ROADMAP.md
  .planning/phases/999.9-architecture-decomposition-program/README.md
Due: none

chore(planning): backlog review — remove exhausted 999.9, correct two stale entries (#4887)
  .planning/ROADMAP.md
  .planning/phases/999.9-architecture-decomposition-program/README.md
Due: none

chore(github): align issue/PR templates and CONTRIBUTING with the GSD inbox contract
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_issue.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/fix.md
  CONTRIBUTING.md
Due: lint-yaml

fix(github): give chore work a compliant PR path under the issue-first gate
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/fix.md
  CONTRIBUTING.md
Due: none

docs(github): reconcile chore intake with the file-path exemptions
  .github/ISSUE_TEMPLATE/chore.yml
  CONTRIBUTING.md
Due: lint-yaml

docs(github): state each issue form's gate label at the point of filing
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/docs_issue.yml
Due: lint-yaml

docs(github): correct false enforcement claims and warm the contributor voice
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/fix.md
  CONTRIBUTING.md
  site/src/content/docs/contributing/how-to/pr-guide.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

docs(github): close the pr-template-exempt self-service bypass
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

docs(github): widen the tooling exemption to all of .github, with a CODEOWNERS carve-out
  .github/ISSUE_TEMPLATE/chore.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  CONTRIBUTING.md
  site/src/content/docs/contributing/how-to/pr-guide.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

docs(github): narrow the tooling exemption to .github/** and tighten dependency wording
  .github/ISSUE_TEMPLATE/chore.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  CONTRIBUTING.md
  site/src/content/docs/contributing/how-to/pr-guide.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

chore(github): align issue/PR templates and CONTRIBUTING with the GSD inbox contract (#4889)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_issue.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/fix.md
  CONTRIBUTING.md
  site/src/content/docs/contributing/how-to/pr-guide.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

chore(taskfile): add authoritative DEPENDENCY_ONLY_PATHS var
  Taskfile.yaml
Due: lint-yaml

docs(contributing): correct the dependency-only exemption at all five claim sites
  .github/ISSUE_TEMPLATE/chore.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  CONTRIBUTING.md
Due: lint-yaml

fix(contributing): exclude E2E compose files and define the lockfile subset
  .github/ISSUE_TEMPLATE/chore.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  CONTRIBUTING.md
  Taskfile.yaml
Due: lint-yaml

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
