Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

feat(cli): plugin validate subcommand + task plugin:validate
  Taskfile.yaml
  cmd/holomush/cmd_plugin.go
  cmd/holomush/cmd_plugin_validate.go
  cmd/holomush/cmd_plugin_validate_test.go
  scripts/validate-plugin.sh
Due: lint-go, lint-yaml

feat(plugin): add optional Crypto section to Manifest
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  schemas/plugin.schema.json
  site/docs/reference/events/core-communication.md
  site/docs/reference/events/core-objects.md
Due: lint-go, lint-markdown-site, fmt-markdown-site, schema-sync

feat(core-objects): add plugin-owned EventType constants
  plugins/core-objects/events.go
  plugins/core-objects/events_test.go
Due: lint-go

feat(cli): introduce holomush plugin subcommand parent
  cmd/holomush/cmd_plugin.go
  cmd/holomush/cmd_plugin_test.go
  cmd/holomush/root.go
  cmd/holomush/test_helper_test.go
Due: lint-go

feat(plugin): loader runs ValidateCrypto and ResolveCryptoRefs in Discover
  internal/plugin/crypto_validator.go
  internal/plugin/manager.go
  internal/plugin/manager_crypto_test.go
Due: lint-go, schema-sync

feat(core-communication): add plugin-owned EventType constants
  plugins/core-communication/events.go
  plugins/core-communication/events_test.go
Due: lint-go

refactor(pluginsdk): remove convenience EventType constants
  internal/command/dispatcher_test.go
  internal/core/event_test.go
  internal/plugin/communication_integration_test.go
  internal/plugin/event_emitter_round3_test.go
  internal/plugin/event_emitter_test.go
  internal/plugin/goplugin/host_audit_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/integration_test.go
  internal/plugin/lua/host_test.go
  internal/plugin/manager_routing_test.go
  internal/plugin/otel_middleware_test.go
  internal/plugin/subscriber_test.go
  pkg/holo/emit_test.go
  pkg/plugin/event.go
  pkg/plugin/service_test.go
  plugins/core-communication/events.go
  plugins/core-communication/events_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
Due: lint-go, schema-sync

feat(docs): auto-generate per-plugin event reference from manifests
  Taskfile.yaml
  internal/core/event_constructor_test.go
  scripts/gen-event-docs.sh
  site/docs/reference/events.md
  site/docs/reference/events/.gitignore
  site/docs/reference/events/.gitkeep
Due: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml

feat(cli): plugin events list/show subcommands
  cmd/holomush/cmd_plugin.go
  cmd/holomush/cmd_plugin_events.go
  cmd/holomush/cmd_plugin_events_test.go
Due: lint-go

feat(plugin): CryptoSection types for crypto.emits/consumes manifest block
  internal/plugin/crypto_manifest.go
  internal/plugin/crypto_manifest_test.go
Due: lint-go, schema-sync

fix(store): update migration count assertions to 12 after events_audit_rendering
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
Due: lint-go

test(meta): assert every gateway-registry invariant has a test
  internal/core/registry_test.go
  internal/eventbus/rendering_publisher_internal_test.go
  test/integration/gateway_invariants/meta_test.go
Due: lint-go

feat(grpc): QueryStreamHistory copies Rendering to EventFrame
  internal/grpc/query_stream_history.go
Due: lint-go

plan(crypto-phase1.6): pre-flight survey of plugin manager construction sites
  docs/superpowers/plans/2026-04-26-task-0-survey.md
Due: none

feat(gateway): translate.go + gateway_handler.go read EventFrame.Rendering, nil-drop with metric (INV-GW-5)
  internal/gatewaymetrics/metrics.go
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
  internal/web/handler_test.go
  internal/web/translate.go
  internal/web/translate_pipeline_test.go
  internal/web/translate_test.go
Due: lint-go

fix(eventbus): tighten typeRe to reject mixed separators; add App-Rendering to reserved keys
  internal/core/builtins.go
  internal/eventbus/publisher.go
  internal/eventbus/types.go
  internal/eventbus/types_test.go
Due: lint-go

fix(pluginsdk): replace removed EventTypeSystem with HostEventTypeSystem in service tests
  pkg/plugin/service_test.go
Due: lint-go

docs(operating): plugin-reload historical fidelity and version drift
  site/docs/operating/plugin-reloads.md
Due: lint-markdown-site, fmt-markdown-site

feat(eventbus): RenderingPublisher stamps event.Rendering from registry (INV-GW-2)
  internal/eventbus/rendering_publisher.go
  internal/eventbus/rendering_publisher_test.go
Due: lint-go

fix(crypto-phase1): plugin verb registrations live in plugin manifests, not core (1.5 — gateway gap WIP)
  .claude/agents/bead-auditor.md
  .claude/commands/audit-beads.md
  .claude/scheduled_tasks.lock
  internal/core/builtins.go
  internal/core/registry_test.go
  internal/telnet/gateway_handler_test.go
  internal/web/translate_pipeline_test.go
  internal/web/translate_test.go
  plugins/core-communication/plugin.yaml
  plugins/core-objects/plugin.yaml
  test/integration/plugin/verb_registration_test.go
  web/e2e/terminal.spec.ts
  web/src/lib/components/terminal/CommunicationRenderer.svelte
Due: lint-go, lint-yaml

feat(plugin): require non-nil VerbRegistry at construction (INV-GW-10)
  internal/plugin/aliases_integration_test.go
  internal/plugin/building_integration_test.go
  internal/plugin/communication_integration_test.go
  internal/plugin/help_integration_test.go
  internal/plugin/integration_test.go
  internal/plugin/manager.go
  internal/plugin/manager_audit_test.go
  internal/plugin/manager_crypto_test.go
  internal/plugin/manager_routing_test.go
  internal/plugin/manager_test.go
  internal/plugin/objects_integration_test.go
  internal/plugin/setup/subsystem.go
  internal/plugin/subscriber_test.go
  test/integration/plugin/alias_seeder_test.go
  test/integration/plugin/binary_plugin_test.go
  test/integration/plugin/extensible_actions_test.go
  test/integration/plugin/verb_registration_test.go
Due: lint-go, schema-sync

docs(contributing): gateway boundary rule and tripwire enforcement
  site/docs/contributing/gateway-boundary.md
Due: lint-markdown-site, fmt-markdown-site

feat(core): BootstrapVerbRegistry replaces public RegisterBuiltinTypes
  internal/core/builtins.go
  internal/core/exports_test.go
  internal/core/registry_test.go
Due: lint-go

docs(extending): author-facing guide for declaring event sensitivity
  site/docs/extending/event-sensitivity.md
  site/docs/extending/events.md
  site/docs/extending/plugin-guide.md
Due: lint-markdown-site, fmt-markdown-site

chore(web): regenerate connect pb for Rendering metadata
  web/src/lib/connect/holomush/core/v1/core_pb.ts
  web/src/lib/connect/holomush/eventbus/v1/eventbus_pb.ts
Due: none

feat(eventbus): JetStreamPublisher merges event.Headers with collision policy
  internal/eventbus/eventbustest/embedded.go
  internal/eventbus/publisher.go
  internal/eventbus/publisher_test.go
Due: lint-go

fix(test): stamp App-Rendering header on host events in TestPluginAuditIsolation
  test/integration/eventbus_e2e/plugin_audit_isolation_test.go
Due: lint-go

docs(extending): verb registration flow for plugin authors
  site/docs/extending/verb-registration.md
Due: lint-markdown-site, fmt-markdown-site

feat(core): VerbRegistry tracks source/version via RegisterWithSource
  internal/core/registry.go
  internal/core/registry_test.go
Due: lint-go

feat(plugin): use RegisterWithSource so manifest version flows into rendering
  internal/plugin/manager.go
Due: lint-go, schema-sync

feat(eventbus): JetStreamPublisher copies Rendering into proto envelope (INV-GW-3a)
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/publisher.go
  internal/eventbus/publisher_test.go
  internal/eventbus/subscriber.go
Due: lint-go

fix(test): update publisher tests after App-Rendering promoted to reserved key
  internal/eventbus/publisher_test.go
Due: lint-go

feat(audit): events_audit.rendering JSONB NOT NULL + projection writes from App-Rendering header (INV-GW-13)
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_test.go
  internal/eventbus/audit/projection_unit_test.go
  internal/eventbus/history/cold_postgres.go
  internal/eventbus/history/cold_postgres_integration_test.go
  internal/store/events_audit_test.go
  internal/store/migrations/000012_events_audit_rendering.down.sql
  internal/store/migrations/000012_events_audit_rendering.up.sql
  test/integration/eventbus_e2e/cross_tier_query_test.go
Due: lint-go

test(eventbus): assert source_plugin/version on Rendering (INV-GW-9)
  internal/eventbus/rendering_publisher_test.go
Due: lint-go

test(web): EventChannel enum parity test (INV-GW-16)
  internal/web/translate_test.go
Due: lint-go

feat(gateway): delete VerbRegistry; drop WithVerbRegistry options; remove duplicate metric reg
  cmd/holomush/gateway.go
  cmd/holomush/gateway_test.go
  internal/telnet/gateway_handler.go
  internal/telnet/gateway_handler_test.go
  internal/web/handler.go
  internal/web/handler_test.go
  internal/web/translate.go
  internal/web/translate_pipeline_test.go
  internal/web/translate_test.go
Due: lint-go

docs(contributing): update architecture for Phase 1.6 gateway thinness
  site/docs/contributing/architecture.md
Due: lint-markdown-site, fmt-markdown-site

docs(contributing): event-emit pipeline and publisher wiring
  site/docs/contributing/event-emit-pipeline.md
Due: lint-markdown-site, fmt-markdown-site

feat(grpc): Subscribe response copies Rendering to EventFrame
  internal/grpc/server.go
Due: lint-go

test(gateway): import-graph tripwire enforces gateway thinness (INV-GW-1)
  cmd/holomush/gateway_imports_test.go
Due: lint-go
