Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

feat(plugin): session stream contribution — auto-subscribe and mid-session add/remove
  api/proto/holomush/plugin/v1/hostfunc.proto
  api/proto/holomush/plugin/v1/plugin.proto
  cmd/holomush/core.go
  cmd/holomush/sub_grpc.go
  docs/superpowers/plans/2026-04-08-plugin-session-stream-contribution.md
  docs/superpowers/specs/2026-04-08-plugin-session-stream-contribution-design.md
  internal/auth/mocks/mock_PlayerRepository.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/grpc/stream_registry.go
  internal/grpc/stream_registry_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/host.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/stdlib_streams.go
  internal/plugin/hostfunc/stdlib_streams_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  internal/plugin/mocks/mock_Host.go
  internal/plugin/otel_middleware.go
  internal/plugin/otel_middleware_test.go
  internal/plugin/setup/subsystem.go
  internal/plugin/subscriber_test.go
  pkg/proto/holomush/plugin/v1/hostfunc.pb.go
  pkg/proto/holomush/plugin/v1/hostfunc_grpc.pb.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/hostfunc.connect.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  schemas/plugin.schema.json
  test/integration/plugin/session_streams_integration_test.go
  web/src/lib/connect/holomush/plugin/v1/hostfunc_connect.ts
  web/src/lib/connect/holomush/plugin/v1/hostfunc_pb.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, schema-sync

feat(plugin): plugin-contributed session stream subscription (holomush-oirq) (#205)
  api/proto/holomush/plugin/v1/hostfunc.proto
  api/proto/holomush/plugin/v1/plugin.proto
  cmd/holomush/core.go
  cmd/holomush/sub_grpc.go
  docs/superpowers/plans/2026-04-08-plugin-session-stream-contribution.md
  docs/superpowers/specs/2026-04-08-plugin-session-stream-contribution-design.md
  internal/auth/mocks/mock_PlayerRepository.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/grpc/stream_registry.go
  internal/grpc/stream_registry_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/host.go
  internal/plugin/hostfunc/functions.go
  internal/plugin/hostfunc/stdlib_streams.go
  internal/plugin/hostfunc/stdlib_streams_test.go
  internal/plugin/lua/host.go
  internal/plugin/lua/host_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  internal/plugin/mocks/mock_Host.go
  internal/plugin/otel_middleware.go
  internal/plugin/otel_middleware_test.go
  internal/plugin/setup/subsystem.go
  internal/plugin/subscriber_test.go
  pkg/proto/holomush/plugin/v1/hostfunc.pb.go
  pkg/proto/holomush/plugin/v1/hostfunc_grpc.pb.go
  pkg/proto/holomush/plugin/v1/plugin.pb.go
  pkg/proto/holomush/plugin/v1/plugin_grpc.pb.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/hostfunc.connect.go
  pkg/proto/holomush/plugin/v1/pluginv1connect/plugin.connect.go
  schemas/plugin.schema.json
  test/integration/plugin/session_streams_integration_test.go
  web/src/lib/connect/holomush/plugin/v1/hostfunc_connect.ts
  web/src/lib/connect/holomush/plugin/v1/hostfunc_pb.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_connect.ts
  web/src/lib/connect/holomush/plugin/v1/plugin_pb.ts
Due: lint-go, schema-sync

resolve manifest rebase conflict
  internal/plugin/event_emitter.go
  internal/plugin/event_emitter_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  pkg/plugin/event.go
  plugins/core-scenes/service_test.go
Due: lint-go, schema-sync

test(plugin): increase coverage for event emission paths
  internal/plugin/event_emitter.go
  internal/plugin/event_emitter_test.go
  internal/plugin/goplugin/host_test.go
  internal/plugin/manager_routing_test.go
  pkg/plugin/actor_metadata.go
  pkg/plugin/actor_metadata_test.go
  pkg/plugin/service_test.go
  plugins/core-scenes/service.go
  plugins/core-scenes/service_test.go
  plugins/core-scenes/store.go
Due: lint-go, schema-sync

feat(command): relax Capability.Validate(), add CoreActions/ValidateAction
  docs/superpowers/plans/2026-04-11-extensible-actions.md
  docs/superpowers/specs/2026-04-11-extensible-actions-design.md
  internal/command/types.go
  internal/command/types_test.go
Due: lint-go

feat(core): add NewEvent constructor enforcing I-16 monotonicity
  internal/core/event.go
  internal/core/event_constructor_test.go
Due: lint-go

test(core): add I-16 concurrent monotonicity stress test
  internal/core/event_constructor_test.go
Due: lint-go

feat(plugin): add actions field to Manifest with validation
  internal/command/types.go
  internal/command/types_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go, schema-sync

feat(core): add ReplayTail to EventStore interface
  internal/core/store.go
Due: lint-go

lint(gorules): extend EventIDMustBeMonotonic to catch all raw core.Event{} literals
  gorules/rules.go
Due: lint-go

feat(core): implement ReplayTail in MemoryEventStore
  internal/core/engine_test.go
  internal/core/store_memory.go
  internal/core/store_memory_test.go
Due: lint-go

refactor(core): migrate production code to core.NewEvent (I-16)
  internal/command/types.go
  internal/grpc/server.go
  internal/plugin/event_emitter.go
  internal/world/event_store_adapter.go
Due: lint-go, schema-sync

refactor(store): migrate postgres_test.go to core.NewEvent
  internal/store/postgres_test.go
Due: lint-go

feat(plugin): add CollectActions for cross-plugin action validation
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  internal/plugin/manifest.go
Due: lint-go, schema-sync

feat(store): implement ReplayTail in PostgresEventStore
  internal/store/postgres.go
  internal/store/postgres_integration_test.go
  internal/store/postgres_test.go
Due: lint-go

refactor(grpc): migrate dispatcher_test.go to core.NewEvent
  internal/grpc/dispatcher_test.go
Due: lint-go

feat(core): add Subscription, StreamNotification, SubscribeSession to EventStore
  internal/core/store.go
Due: lint-go

feat(core): implement SubscribeSession in MemoryEventStore
  internal/core/engine_test.go
  internal/core/store_memory.go
  internal/core/store_memory_test.go
Due: lint-go

refactor(grpc): migrate server_test.go to core.NewEvent
  internal/grpc/server_test.go
Due: lint-go

feat(store): implement SubscribeSession in PostgresEventStore (Variant A)
  internal/store/postgres.go
  internal/store/postgres_test.go
Due: lint-go

test(store): add integration tests for SubscribeSession
  internal/store/postgres_integration_test.go
Due: lint-go

refactor(grpc): migrate cursor_lock_test.go to core.NewEvent
  internal/grpc/cursor_lock_test.go
Due: lint-go

feat(plugin): wire CollectActions and ValidateAction into LoadAll/loadPlugin
  internal/plugin/manager.go
  internal/plugin/manager_test.go
Due: lint-go, schema-sync

test(store): add Variant A go/no-go gate for I-14 strict cross-stream ordering
  internal/store/postgres_integration_test.go
Due: lint-go

fix(grpc): migrate location_follow_test.go to core.NewEvent, fix ulid.Make() usage
  internal/grpc/location_follow_test.go
Due: lint-go

chore(mocks): regenerate EventStore mock for ReplayTail + SubscribeSession
  internal/core/mocks/mock_EventStore.go
Due: lint-go

test(plugin): add missing core-action redeclaration load integration test
  internal/plugin/manager_test.go
Due: lint-go, schema-sync

refactor(store): migrate postgres_integration_test.go to core.NewEvent
  internal/store/postgres_integration_test.go
Due: lint-go

test(plugin): assert empty plugin list on action validation failure
  internal/plugin/manager_test.go
Due: lint-go, schema-sync

fix(test): migrate integration tests to core.NewEvent, fix ulid.Make() usage
  test/integration/plugin/session_streams_integration_test.go
  test/integration/session/session_persistence_integration_test.go
  test/integration/telnet/e2e_test.go
Due: lint-go

test(integration): extensible plugin actions end-to-end
  internal/plugin/manager.go
  test/integration/plugin/extensible_actions_test.go
Due: lint-go, schema-sync

refactor(core): remove Subscribe from EventStore interface
  internal/command/dispatcher_test.go
  internal/command/types_test.go
  internal/core/engine_test.go
  internal/core/mocks/mock_EventStore.go
  internal/core/store.go
  internal/grpc/location_follow.go
  internal/grpc/server.go
  internal/grpc/server_test.go
  internal/plugin/event_emitter_test.go
  internal/store/postgres.go
Due: lint-go, schema-sync

fix(store): resolve pgSubscription data race + stub interface compliance
  internal/store/postgres.go
  test/integration/command/ratelimit_integration_test.go
  test/integration/phase1_5_test.go
Due: lint-go

fix(store): go/no-go test asserts identical cross-stream order, not ULID ascending
  internal/store/postgres_integration_test.go
Due: lint-go

feat(core): add EventWriter single-writer serializer for I-14
  cmd/holomush/sub_grpc.go
  internal/core/event_writer.go
  internal/core/event_writer_test.go
  internal/store/postgres_integration_test.go
Due: lint-go

chore: update schema and docs after pr-prep
  docs/superpowers/plans/2026-04-11-extensible-actions.md
  docs/superpowers/specs/2026-04-11-extensible-actions-design.md
  schemas/plugin.schema.json
Due: none

fix: apply CodeRabbit review fixes
  docs/superpowers/plans/2026-04-11-extensible-actions.md
  internal/plugin/manager.go
  internal/plugin/manifest.go
Due: lint-go, schema-sync

fix(ci): make cover HTML generation non-fatal
  Taskfile.yaml
Due: lint-yaml
