Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(beads): gh + bd hook robustness round 3 (CodeRabbit)
  .claude/hooks/enforce-bd-beads-dir.sh
  .claude/hooks/enforce-gh-repo.sh
  .claude/settings.json
Due: none

fix(beads): make gh CLI work in jj workspaces (kwwu) (#3456)
  .claude/hooks/enforce-bd-beads-dir.sh
  .claude/hooks/enforce-gh-repo.sh
  .claude/settings.json
Due: none

fix(crypto): apply 16 CodeRabbit findings + remove broken INV-27 ruleguard rules
  gorules/rules.go
  internal/eventbus/crypto/aad/aad.go
  internal/eventbus/crypto/aad/aad_test.go
  internal/eventbus/crypto/dek/api_test.go
  internal/eventbus/crypto/dek/cache.go
  internal/eventbus/crypto/dek/manager.go
  internal/eventbus/crypto/dek/manager_integration_test.go
  internal/eventbus/crypto/dek/material.go
  internal/eventbus/crypto/dek/store.go
  internal/eventbus/crypto/kek/local_aead.go
  internal/eventbus/crypto/kek/none.go
  internal/eventbus/crypto/kek/source_env_test.go
  internal/eventbus/crypto/kek/source_file.go
  internal/eventbus/crypto/kek/source_file_test.go
Due: lint-go

test(crypto): add unit tests for codecov patch coverage
  internal/eventbus/crypto/aad/aad_internal_test.go
  internal/eventbus/crypto/dek/cache_test.go
  internal/eventbus/crypto/dek/manager_internal_test.go
  internal/eventbus/crypto/dek/manager_test.go
  internal/eventbus/crypto/dek/store_test.go
  internal/eventbus/crypto/kek/local_aead_test.go
  internal/eventbus/crypto/kek/source_file_test.go
Due: lint-go

fix: apply CodeRabbit auto-fixes round 2
  internal/eventbus/crypto/aad/aad_test.go
  internal/eventbus/crypto/dek/api_test.go
  internal/eventbus/crypto/dek/cache.go
  internal/eventbus/crypto/kek/local_aead.go
  internal/eventbus/crypto/kek/local_aead_test.go
  internal/eventbus/crypto/kek/source_file.go
Due: lint-go

docs(lint): go/analysis migration design spec (holomush-46ya)
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/design-reviewer/feedback_golangci_v1_vs_v2_schema.md
  .claude/agent-memory/design-reviewer/feedback_module_plugin_package_name.md
  docs/superpowers/specs/2026-05-01-go-analysis-migration-design.md
Due: none

docs(lint): go/analysis migration implementation plan (holomush-46ya)
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-01-go-analysis-migration.md
Due: none

chore(lint): delete go-ruleguard DSL rules and gocritic config (holomush-46ya)
  .golangci.yaml
  gorules/rules.go
  gorules/testdata/codec_key_bytes/expected_violations.go
  gorules/testdata/dek_no_serialize/expected_violations.go
Due: lint-go, lint-yaml

chore(deps): remove go-ruleguard/dsl after gorules/rules.go deletion (holomush-46ya)
  go.mod
  go.sum
Due: none

chore(lint): gitignore bin/custom-gcl (holomush-46ya)
  .gitignore
Due: none

feat(gorules): bootstrap go/analysis plugin module (holomush-46ya)
  gorules/go.mod
  gorules/go.sum
  gorules/plugin.go
Due: lint-go

build(lint): add .custom-gcl.yml for module-plugin builds (holomush-46ya)
  .custom-gcl.yml
Due: lint-yaml

feat(gorules): cursorpackageinternal analyzer (holomush-46ya)
  .golangci.yaml
  gorules/analyzers/cursorpackageinternal/cursorpackageinternal.go
  gorules/analyzers/cursorpackageinternal/cursorpackageinternal_test.go
  gorules/analyzers/cursorpackageinternal/plugin.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/internal/eventbus/allow/allow.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/internal/eventbus/cursor/cursor.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/internal/grpc/allow/allow.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/plugin.go
Due: lint-go, lint-yaml

build(lint): wire Taskfile for custom-gcl + test:gorules (holomush-46ya)
  Taskfile.yaml
Due: lint-yaml

feat(gorules/holomushlint): shared analyzer helpers (holomush-46ya)
  gorules/analyzers/internal/holomushlint/ast.go
  gorules/analyzers/internal/holomushlint/sinks.go
  gorules/analyzers/internal/holomushlint/sqlmatch.go
  gorules/analyzers/internal/holomushlint/sqlmatch_test.go
  gorules/analyzers/internal/holomushlint/types.go
  gorules/analyzers/internal/holomushlint/types_test.go
Due: lint-go

feat(gorules): ulidmakeforbidden analyzer (holomush-46ya)
  .golangci.yaml
  gorules/analyzers/ulidmakeforbidden/plugin.go
  gorules/analyzers/ulidmakeforbidden/testdata/src/example.com/negative/negative.go
  gorules/analyzers/ulidmakeforbidden/testdata/src/example.com/positive/positive.go
  gorules/analyzers/ulidmakeforbidden/testdata/src/github.com/oklog/ulid/v2/ulid.go
  gorules/analyzers/ulidmakeforbidden/ulidmakeforbidden.go
  gorules/analyzers/ulidmakeforbidden/ulidmakeforbidden_test.go
  gorules/go.mod
  gorules/go.sum
  gorules/plugin.go
Due: lint-go, lint-yaml

feat(gorules): sceneopseventsappendonly analyzer (holomush-46ya)
  gorules/analyzers/sceneopseventsappendonly/plugin.go
  gorules/analyzers/sceneopseventsappendonly/sceneopseventsappendonly.go
  gorules/analyzers/sceneopseventsappendonly/sceneopseventsappendonly_test.go
  gorules/analyzers/sceneopseventsappendonly/testdata/src/example.com/negative/negative.go
  gorules/analyzers/sceneopseventsappendonly/testdata/src/example.com/positive/positive.go
Due: lint-go

feat(gorules): dekmaterialnojson analyzer (holomush-46ya)
  .golangci.yaml
  gorules/analyzers/dekmaterialnojson/dekmaterialnojson.go
  gorules/analyzers/dekmaterialnojson/dekmaterialnojson_test.go
  gorules/analyzers/dekmaterialnojson/plugin.go
  gorules/analyzers/dekmaterialnojson/testdata/src/github.com/holomush/holomush/internal/eventbus/crypto/dek/dek.go
  gorules/analyzers/dekmaterialnojson/testdata/src/github.com/holomush/holomush/plugins/negative/negative.go
  gorules/analyzers/dekmaterialnojson/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/plugin.go
Due: lint-go, lint-yaml

feat(gorules): dekmaterialnofmtformatting analyzer (holomush-46ya)
  .golangci.yaml
  gorules/analyzers/dekmaterialnofmtformatting/dekmaterialnofmtformatting.go
  gorules/analyzers/dekmaterialnofmtformatting/dekmaterialnofmtformatting_test.go
  gorules/analyzers/dekmaterialnofmtformatting/plugin.go
  gorules/analyzers/dekmaterialnofmtformatting/testdata/src/github.com/holomush/holomush/internal/eventbus/crypto/dek/dek.go
  gorules/analyzers/dekmaterialnofmtformatting/testdata/src/github.com/holomush/holomush/plugins/negative/negative.go
  gorules/analyzers/dekmaterialnofmtformatting/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/plugin.go
Due: lint-go, lint-yaml

feat(gorules): dekmaterialnoslog analyzer (holomush-46ya)
  .golangci.yaml
  gorules/analyzers/dekmaterialnoslog/dekmaterialnoslog.go
  gorules/analyzers/dekmaterialnoslog/dekmaterialnoslog_test.go
  gorules/analyzers/dekmaterialnoslog/plugin.go
  gorules/analyzers/dekmaterialnoslog/testdata/src/github.com/holomush/holomush/internal/eventbus/crypto/dek/dek.go
  gorules/analyzers/dekmaterialnoslog/testdata/src/github.com/holomush/holomush/plugins/negative/negative.go
  gorules/analyzers/dekmaterialnoslog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/plugin.go
Due: lint-go, lint-yaml

feat(gorules): dekmaterialnolog analyzer (holomush-46ya)
  .golangci.yaml
  gorules/analyzers/dekmaterialnolog/dekmaterialnolog.go
  gorules/analyzers/dekmaterialnolog/dekmaterialnolog_test.go
  gorules/analyzers/dekmaterialnolog/plugin.go
  gorules/analyzers/dekmaterialnolog/testdata/src/github.com/holomush/holomush/internal/eventbus/crypto/dek/dek.go
  gorules/analyzers/dekmaterialnolog/testdata/src/github.com/holomush/holomush/plugins/negative/negative.go
  gorules/analyzers/dekmaterialnolog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/plugin.go
Due: lint-go, lint-yaml

feat(gorules): dekmaterialnogob analyzer (holomush-46ya)
  .golangci.yaml
  gorules/analyzers/dekmaterialnogob/dekmaterialnogob.go
  gorules/analyzers/dekmaterialnogob/dekmaterialnogob_test.go
  gorules/analyzers/dekmaterialnogob/plugin.go
  gorules/analyzers/dekmaterialnogob/testdata/src/github.com/holomush/holomush/internal/eventbus/crypto/dek/dek.go
  gorules/analyzers/dekmaterialnogob/testdata/src/github.com/holomush/holomush/plugins/negative/negative.go
  gorules/analyzers/dekmaterialnogob/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/plugin.go
Due: lint-go, lint-yaml

build(lint): lefthook uses ./bin/custom-gcl (holomush-46ya)
  .golangci.yaml
  gorules/analyzers/codeckeybytesallowlist/codeckeybytesallowlist.go
  gorules/analyzers/codeckeybytesallowlist/codeckeybytesallowlist_test.go
  gorules/analyzers/codeckeybytesallowlist/plugin.go
  gorules/analyzers/codeckeybytesallowlist/testdata/src/github.com/holomush/holomush/internal/eventbus/codec/allow/allow.go
  gorules/analyzers/codeckeybytesallowlist/testdata/src/github.com/holomush/holomush/internal/eventbus/codec/codec.go
  gorules/analyzers/codeckeybytesallowlist/testdata/src/github.com/holomush/holomush/internal/eventbus/crypto/allow/allow.go
  gorules/analyzers/codeckeybytesallowlist/testdata/src/github.com/holomush/holomush/plugins/negative/negative.go
  gorules/analyzers/codeckeybytesallowlist/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/plugin.go
  lefthook.yaml
Due: lint-go, lint-yaml

feat(gorules): dekmaterialnoproto analyzer (holomush-46ya)
  .golangci.yaml
  gorules/analyzers/dekmaterialnoproto/dekmaterialnoproto.go
  gorules/analyzers/dekmaterialnoproto/dekmaterialnoproto_test.go
  gorules/analyzers/dekmaterialnoproto/plugin.go
  gorules/analyzers/dekmaterialnoproto/testdata/src/github.com/holomush/holomush/internal/eventbus/crypto/dek/dek.go
  gorules/analyzers/dekmaterialnoproto/testdata/src/github.com/holomush/holomush/plugins/negative/negative.go
  gorules/analyzers/dekmaterialnoproto/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnoproto/testdata/src/google.golang.org/protobuf/proto/proto.go
  gorules/plugin.go
Due: lint-go, lint-yaml

docs(crypto/dek): update stale ruleguard references to new analyzers (holomush-46ya)
  internal/eventbus/crypto/dek/api_test.go
  internal/eventbus/crypto/dek/material.go
Due: lint-go

ci(lint): bump golangci-lint v2.11.3 -> v2.11.4 (holomush-46ya)
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

fix(gorules): address CodeRabbit review findings on PR #3457 (holomush-46ya)
  .claude/agent-memory/code-reviewer/MEMORY.md
  gorules/analyzers/codeckeybytesallowlist/codeckeybytesallowlist.go
  gorules/analyzers/codeckeybytesallowlist/testdata/src/github.com/holomush/holomush/plugins/negative/negative.go
  gorules/analyzers/codeckeybytesallowlist/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/cursorpackageinternal/cursorpackageinternal.go
  gorules/analyzers/cursorpackageinternal/cursorpackageinternal_test.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/plugins/blankimport/blankimport.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnofmtformatting/dekmaterialnofmtformatting.go
  gorules/analyzers/dekmaterialnogob/dekmaterialnogob.go
  gorules/analyzers/dekmaterialnojson/dekmaterialnojson.go
  gorules/analyzers/dekmaterialnojson/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnolog/dekmaterialnolog.go
  gorules/analyzers/dekmaterialnolog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/dekmaterialnoproto/dekmaterialnoproto.go
  gorules/analyzers/dekmaterialnoslog/dekmaterialnoslog.go
  gorules/analyzers/dekmaterialnoslog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  gorules/analyzers/internal/holomushlint/argunwrap.go
  gorules/analyzers/internal/holomushlint/ast.go
  gorules/analyzers/internal/holomushlint/types.go
  gorules/analyzers/sceneopseventsappendonly/sceneopseventsappendonly.go
  gorules/analyzers/sceneopseventsappendonly/testdata/src/example.com/positive/positive.go
Due: lint-go

chore(gorules): tighten cursorpackageinternal analyzer (holomush-eqqc)
  gorules/analyzers/cursorpackageinternal/cursorpackageinternal.go
  gorules/analyzers/cursorpackageinternal/cursorpackageinternal_test.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/internal/plugin/goplugin/allow/allow.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/internal/plugin/hostfunc/allow/allow.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/internal/web/allow/allow.go
Due: lint-go

docs: remove stale EventIDMustBeMonotonic ruleguard references (holomush-nyox)
  CLAUDE.md
  buf.gen.internal.yaml
  buf.yaml
  internal/core/ulid.go
  internal/idgen/id.go
Due: lint-go, lint-yaml

feat(gorules): extend dekmaterialnoslog to *Context variants and LogAttrs (holomush-r3vs)
  docs/superpowers/specs/2026-05-01-go-analysis-migration-design.md
  gorules/analyzers/dekmaterialnoslog/dekmaterialnoslog.go
  gorules/analyzers/dekmaterialnoslog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
Due: lint-go

chore(web): upgrade to pnpm 11.0.3 and pin in CI (holomush-jpnu)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  web/package.json
  web/pnpm-workspace.yaml
Due: lint-yaml, lint-actions

fix(gorules): address CodeRabbit findings on PR #3458
  docs/superpowers/specs/2026-05-01-go-analysis-migration-design.md
  gorules/analyzers/dekmaterialnoslog/dekmaterialnoslog.go
  gorules/analyzers/dekmaterialnoslog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
Due: lint-go

chore(gorules): post-migration cleanup + pnpm 11 upgrade (eqqc, nyox, r3vs, jpnu) (#3458)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  CLAUDE.md
  buf.gen.internal.yaml
  buf.yaml
  docs/superpowers/specs/2026-05-01-go-analysis-migration-design.md
  gorules/analyzers/cursorpackageinternal/cursorpackageinternal.go
  gorules/analyzers/cursorpackageinternal/cursorpackageinternal_test.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/internal/plugin/goplugin/allow/allow.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/internal/plugin/hostfunc/allow/allow.go
  gorules/analyzers/cursorpackageinternal/testdata/src/github.com/holomush/holomush/internal/web/allow/allow.go
  gorules/analyzers/dekmaterialnoslog/dekmaterialnoslog.go
  gorules/analyzers/dekmaterialnoslog/testdata/src/github.com/holomush/holomush/plugins/positive/positive.go
  internal/core/ulid.go
  internal/idgen/id.go
  web/package.json
  web/pnpm-workspace.yaml
Due: lint-go, lint-yaml, lint-actions

fix(test): use postgres.BasicWaitStrategies to close MappedPort race (holomush-bmcq)
  .claude/agent-memory/code-reviewer/MEMORY.md
  cmd/holomush/automigrate_integration_test.go
  internal/eventbus/crypto/dek/manager_integration_test.go
  internal/eventbus/crypto/kek/local_aead_integration_test.go
  internal/eventbus/crypto/kek/none_integration_test.go
  internal/store/migrate_integration_test.go
Due: lint-go

fix(test): use postgres.BasicWaitStrategies to close MappedPort race (holomush-bmcq) (#3459)
  .claude/agent-memory/code-reviewer/MEMORY.md
  cmd/holomush/automigrate_integration_test.go
  internal/eventbus/crypto/dek/manager_integration_test.go
  internal/eventbus/crypto/kek/local_aead_integration_test.go
  internal/eventbus/crypto/kek/none_integration_test.go
  internal/store/migrate_integration_test.go
Due: lint-go

docs(crypto): Phase 3a grounding + plan, plan-reviewer READY (holomush-ojw1.1)
  .claude/agent-memory/design-reviewer/MEMORY.md
  .claude/agent-memory/plan-reviewer/MEMORY.md
  docs/superpowers/plans/2026-05-02-event-payload-crypto-phase3a-codec-emit.md
  docs/superpowers/specs/2026-04-25-event-payload-crypto-design.md
  docs/superpowers/specs/2026-05-02-event-payload-crypto-phase3a-grounding.md
Due: none

feat(eventbus): substrate edits — Codec aad param + Key.Version + AsCodecKey companion (holomush-ojw1.1.2)
  internal/eventbus/audit/plugin_consumer.go
  internal/eventbus/codec/codec.go
  internal/eventbus/codec/codec_test.go
  internal/eventbus/codec/registry_test.go
  internal/eventbus/crypto/dek/manager.go
  internal/eventbus/crypto/dek/material.go
  internal/eventbus/crypto/dek/material_test.go
  internal/eventbus/history/hot_jetstream.go
  internal/eventbus/publisher.go
  internal/eventbus/publisher_test.go
  internal/eventbus/subscriber.go
Due: lint-go

feat(codec): implement xchacha20poly1305-v1 AEAD codec (holomush-ojw1.1.2)
  internal/eventbus/codec/codec.go
  internal/eventbus/codec/registry.go
  internal/eventbus/codec/registry_test.go
  internal/eventbus/codec/xchacha20poly1305.go
  internal/eventbus/codec/xchacha20poly1305_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
