Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

refactor(testsupport): rename privacytest → integrationtest + document harness in CLAUDE.md + site
  CLAUDE.md
  internal/access/setup/seed_coverage.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/harness_smoke_test.go
  internal/testsupport/integrationtest/matchers.go
  internal/testsupport/integrationtest/session.go
  site/docs/contributing/integration-tests.md
  test/integration/access/access_suite_test.go
  test/integration/access/seed_policies_test.go
  test/integration/presence/presence_suite_test.go
  test/integration/presence/presence_test.go
  test/integration/privacy/privacy_suite_test.go
  test/integration/privacy/privacy_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site

refactor(testsupport): rename privacytest → integrationtest + document harness in CLAUDE.md + site (#4167)
  CLAUDE.md
  internal/access/setup/seed_coverage.go
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/harness_smoke_test.go
  internal/testsupport/integrationtest/matchers.go
  internal/testsupport/integrationtest/session.go
  site/docs/contributing/integration-tests.md
  test/integration/access/access_suite_test.go
  test/integration/access/seed_policies_test.go
  test/integration/presence/presence_suite_test.go
  test/integration/presence/presence_test.go
  test/integration/privacy/privacy_suite_test.go
  test/integration/privacy/privacy_test.go
Due: lint-go, lint-markdown-site, fmt-markdown-site

fix(access): providers omit optional location attrs when unresolved (9gtl/ti1b)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/rules/abac-providers.md
  docs/adr/holomush-ti1b-providers-omit-optional-attrs.md
  internal/access/policy/attribute/character.go
  internal/access/policy/attribute/character_test.go
  internal/access/policy/attribute/object.go
  internal/access/policy/attribute/object_test.go
  internal/access/policy/attribute/property.go
  internal/access/policy/attribute/property_test.go
  test/integration/access/seed_policies_test.go
Due: lint-go

docs(adr): strengthen has_X witness from MAY to SHOULD + tighten StreamProvider reference (ti1b)
  .claude/rules/abac-providers.md
  docs/adr/holomush-ti1b-providers-omit-optional-attrs.md
Due: none

fix(access): providers omit optional location attrs when unresolved (9gtl/ti1b) (#4168)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  .claude/rules/abac-providers.md
  docs/adr/holomush-ti1b-providers-omit-optional-attrs.md
  internal/access/policy/attribute/character.go
  internal/access/policy/attribute/character_test.go
  internal/access/policy/attribute/object.go
  internal/access/policy/attribute/object_test.go
  internal/access/policy/attribute/property.go
  internal/access/policy/attribute/property_test.go
  test/integration/access/seed_policies_test.go
Due: lint-go

test(privacy): integration test for scene-join floor (iwzt.18)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/session.go
  test/integration/privacy/privacy_test.go
Due: lint-go

test(privacy): I-PRIV-2 scene-join floor integration test (iwzt.18) (#4169)
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/session.go
  test/integration/privacy/privacy_test.go
Due: lint-go

design(72ou): property authz redesign spec + implementation plan
  docs/superpowers/plans/2026-05-22-property-authz-redesign.md
  docs/superpowers/specs/2026-05-22-property-authz-redesign-design.md
Due: none

design(72ou): property authz redesign spec + implementation plan (#4170)
  docs/superpowers/plans/2026-05-22-property-authz-redesign.md
  docs/superpowers/specs/2026-05-22-property-authz-redesign-design.md
Due: none

test(privacy): I-PRIV-5 denial wire opacity + collapse SESSION_NOT_FOUND/EXPIRED → STREAM_ACCESS_DENIED (holomush-iwzt.11)
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/testsupport/integrationtest/harness.go
  internal/web/handler.go
  test/integration/privacy/privacy_test.go
Due: lint-go

test(world): pin PROPERTY_ACCESS_* error codes in TestCheckAccess (rmsi.4)
  internal/world/service_helpers_test.go
Due: lint-go

feat(world): add postgres.ParentLocationResolver for property parent_location attribute (rmsi.1)
  Taskfile.yaml
  internal/world/postgres/parent_location_resolver.go
  internal/world/postgres/parent_location_resolver_test.go
Due: lint-go, lint-yaml

feat(world): postgres.ParentLocationResolver for property parent_location attribute (rmsi.1) (#4172)
  Taskfile.yaml
  internal/world/postgres/parent_location_resolver.go
  internal/world/postgres/parent_location_resolver_test.go
Due: lint-go, lint-yaml

test(privacy): I-PRIV-5 denial wire opacity + collapse SESSION_NOT_FOUND/EXPIRED → STREAM_ACCESS_DENIED (holomush-iwzt.11) (#4164)
  .claude/agent-memory/code-reviewer/MEMORY.md
  internal/grpc/query_stream_history.go
  internal/grpc/query_stream_history_test.go
  internal/testsupport/integrationtest/harness.go
  internal/web/handler.go
  test/integration/privacy/privacy_test.go
Due: lint-go

test(privacy): integration test for multi-session continuity (iwzt.17)
  docs/superpowers/specs/2026-05-17-history-scope-privacy-design.md
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/session.go
  test/integration/privacy/privacy_test.go
Due: lint-go

test(privacy): I-PRIV-3/I-PRIV-4 transport-continuity test + spec wording correction (iwzt.17) (#4171)
  docs/superpowers/specs/2026-05-17-history-scope-privacy-design.md
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/session.go
  test/integration/privacy/privacy_test.go
Due: lint-go

feat(access): wire PropertyProvider into BuildABACStack (rmsi.2)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  internal/access/setup/buildabacstack_seed_coverage_integ_test.go
  internal/access/setup/seed_coverage_test.go
  internal/access/setup/setup.go
  internal/access/setup/setup_warn_integ_test.go
  internal/access/setup/subsystem.go
Due: lint-go

test(world): pin PROPERTY_ACCESS_* error codes in TestCheckAccess (rmsi.4) (#4173)
  internal/world/service_helpers_test.go
Due: lint-go

feat(access): wire PropertyProvider into BuildABACStack (rmsi.2) (#4174)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  internal/access/setup/buildabacstack_seed_coverage_integ_test.go
  internal/access/setup/seed_coverage_test.go
  internal/access/setup/setup.go
  internal/access/setup/setup_warn_integ_test.go
  internal/access/setup/subsystem.go
Due: lint-go

test(access): close ABAC stack in TestBuildABACStack_WarnsWhenPropertyRepoMissing (ezox)
  docs/adr/holomush-absb-bigint-epoch-nanoseconds-over-timestamp9.md
  docs/adr/holomush-f5h0-aad-byte-equality-structural-guarantee.md
  docs/adr/holomush-rbw6-pgnanos-time-named-type-seam.md
  docs/superpowers/plans/2026-05-22-nanosecond-timestamps.md
  docs/superpowers/specs/2026-05-22-nanosecond-timestamps-design.md
Due: none

docs+test(privacy): correct stale iwzt.16/Task 15 plan + drop vestigial LastReattachAt (iwzt-16-plan-fix)
  docs/superpowers/plans/2026-05-17-history-scope-privacy.md
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/session.go
Due: lint-go

test(access): close ABAC stack in TestBuildABACStack_WarnsWhenPropertyRepoMissing (ezox) (#4175)
  docs/adr/holomush-absb-bigint-epoch-nanoseconds-over-timestamp9.md
  docs/adr/holomush-f5h0-aad-byte-equality-structural-guarantee.md
  docs/adr/holomush-rbw6-pgnanos-time-named-type-seam.md
  docs/superpowers/plans/2026-05-22-nanosecond-timestamps.md
  docs/superpowers/specs/2026-05-22-nanosecond-timestamps-design.md
Due: none

docs+test(privacy): correct stale iwzt.16 Task 15 plan + drop vestigial LastReattachAt (#4176)
  docs/superpowers/plans/2026-05-17-history-scope-privacy.md
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/session.go
Due: lint-go

feat(testsupport): wire live Subscribe stream into integrationtest harness (m5nj)
  docs/adr/holomush-absb-bigint-epoch-nanoseconds-over-timestamp9.md
  docs/adr/holomush-f5h0-aad-byte-equality-structural-guarantee.md
  docs/adr/holomush-rbw6-pgnanos-time-named-type-seam.md
  docs/superpowers/plans/2026-05-22-nanosecond-timestamps.md
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/harness_smoke_test.go
  internal/testsupport/integrationtest/session.go
  internal/testsupport/integrationtest/subscribe_stream.go
Due: lint-go

feat(testsupport): wire live Subscribe stream into integrationtest harness (m5nj) (#4178)
  docs/adr/holomush-absb-bigint-epoch-nanoseconds-over-timestamp9.md
  docs/adr/holomush-f5h0-aad-byte-equality-structural-guarantee.md
  docs/adr/holomush-rbw6-pgnanos-time-named-type-seam.md
  docs/superpowers/plans/2026-05-22-nanosecond-timestamps.md
  internal/testsupport/integrationtest/harness.go
  internal/testsupport/integrationtest/harness_smoke_test.go
  internal/testsupport/integrationtest/session.go
  internal/testsupport/integrationtest/subscribe_stream.go
Due: lint-go

fix(world): per-property ABAC filter loop in ListPropertiesByParent (rmsi.3)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

test(privacy): I-PRIV-3 reattach durable replay (iwzt.16)
  test/integration/privacy/privacy_test.go
Due: lint-go

fix(world): per-property ABAC filter loop in ListPropertiesByParent (rmsi.3) (#4177)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  internal/world/service.go
  internal/world/service_test.go
Due: lint-go

test(privacy): I-PRIV-3 reattach durable replay (iwzt.16) (#4179)
  test/integration/privacy/privacy_test.go
Due: lint-go

test(meta): I-PRIV-* invariant coverage assertion (iwzt.24)
  internal/eventbus/subscriber_consumer_config_test.go
  test/integration/privacy/privacy_test.go
  test/meta/i_priv_coverage_test.go
Due: lint-go

test(meta): I-PRIV-* invariant coverage assertion (iwzt.24) (#4180)
  internal/eventbus/subscriber_consumer_config_test.go
  test/integration/privacy/privacy_test.go
  test/meta/i_priv_coverage_test.go
Due: lint-go

fix(snapshot): route location_state emits through RenderingPublisher (holomush-4wdu)
  cmd/holomush/sub_grpc.go
  internal/grpc/location_follow.go
  internal/grpc/location_follow_test.go
  internal/grpc/server.go
  internal/testsupport/integrationtest/harness.go
Due: lint-go

test(access): integration regression locks for property authz (holomush-72ou)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  docs/superpowers/specs/2026-05-22-property-authz-redesign-design.md
  internal/access/policy/attribute/property.go
  internal/access/policy/attribute/property_test.go
  test/integration/access/access_suite_test.go
  test/integration/access/seed_policies_test.go
Due: lint-go

test(access): property authz integration regression tests + PropertyProvider bugfix (rmsi.5) (#4182)
  .claude/agent-memory/abac-reviewer/MEMORY.md
  docs/superpowers/specs/2026-05-22-property-authz-redesign-design.md
  internal/access/policy/attribute/property.go
  internal/access/policy/attribute/property_test.go
  test/integration/access/access_suite_test.go
  test/integration/access/seed_policies_test.go
Due: lint-go

fix(grpc): stamp RenderingMetadata on synthetic location_state events (holomush-4wdu) (#4181)
  cmd/holomush/sub_grpc.go
  internal/grpc/location_follow.go
  internal/grpc/location_follow_test.go
  internal/grpc/server.go
  internal/testsupport/integrationtest/harness.go
Due: lint-go

test(testsupport): surface subscribeStream overflow drops in teardown (2p6o)
  internal/testsupport/integrationtest/session.go
Due: lint-go

test(testsupport): surface subscribeStream overflow drops in teardown (2p6o) (#4183)
  internal/testsupport/integrationtest/session.go
Due: lint-go

test(testsupport): add Session.RefreshFromPersisted helper (q2qt)
  Taskfile.yaml
  internal/testsupport/integrationtest/harness_smoke_test.go
  internal/testsupport/integrationtest/session.go
  test/integration/access/seed_policies_test.go
Due: lint-go, lint-yaml

test(testsupport): add Session.RefreshFromPersisted helper (q2qt) (#4184)
  Taskfile.yaml
  internal/testsupport/integrationtest/harness_smoke_test.go
  internal/testsupport/integrationtest/session.go
  test/integration/access/seed_policies_test.go
Due: lint-go, lint-yaml

test(audit): bounded retry + nats_err observability for consumer create (l015)
  internal/eventbus/audit/projection.go
  internal/eventbus/audit/projection_unit_test.go
Due: lint-go
