Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown-site:
  run: rumdl check --config site/.rumdl.toml {staged_files}

fmt-markdown-site:
  run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "set -euo pipefail\ntask generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(channels): move ABAC policies to plugin manifest, fix mTLS cert SANs
  internal/access/policy/bootstrap_test.go
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
  internal/tls/certs.go
  internal/web/dist/_app/immutable/chunks/C9hrN6hW.js
  internal/web/dist/_app/immutable/chunks/ma2fh_SH.js
  internal/web/dist/_app/immutable/entry/app.B3lncmLy.js
  internal/web/dist/_app/immutable/entry/app.DtmycBfv.js
  internal/web/dist/_app/immutable/entry/start.B3HVqQvR.js
  internal/web/dist/_app/immutable/entry/start.BDPf6E7O.js
  internal/web/dist/_app/immutable/nodes/0.Bvx3utf1.js
  internal/web/dist/_app/immutable/nodes/0.YCfGF7w0.js
  internal/web/dist/_app/immutable/nodes/1.BS7TXGps.js
  internal/web/dist/_app/immutable/nodes/1.CrCs2uzF.js
  internal/web/dist/_app/immutable/nodes/3.BXwymoU_.js
  internal/web/dist/_app/immutable/nodes/4.CkM37Xj3.js
  internal/web/dist/_app/immutable/nodes/5.CHfqxLR2.js
  internal/web/dist/_app/immutable/nodes/6.B1Mfnf4e.js
  internal/web/dist/_app/immutable/nodes/6.D9SH4_Vx.js
  internal/web/dist/_app/immutable/nodes/7.BPW69MhZ.js
  internal/web/dist/_app/immutable/nodes/7.MtOn0c33.js
  internal/web/dist/_app/immutable/nodes/9.DE-BeePn.js
  internal/web/dist/_app/immutable/nodes/9.DsASyBww.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  plugins/core-channels/plugin.yaml
  web/e2e/channel.spec.ts
  web/e2e/helpers/db.ts
Due: lint-go, lint-yaml

fix(access): update seed tests for 38 policies (channel + command execution)
  internal/access/policy/bootstrap_test.go
  internal/access/policy/seed.go
  internal/access/policy/seed_test.go
  internal/web/dist/_app/immutable/chunks/C1Ms1LaH.js
  internal/web/dist/_app/immutable/chunks/C9hrN6hW.js
  internal/web/dist/_app/immutable/entry/app.B3lncmLy.js
  internal/web/dist/_app/immutable/entry/app.DLJa5xDQ.js
  internal/web/dist/_app/immutable/entry/start.BDPf6E7O.js
  internal/web/dist/_app/immutable/entry/start.DBSmq8ST.js
  internal/web/dist/_app/immutable/nodes/0.Bvx3utf1.js
  internal/web/dist/_app/immutable/nodes/0.D3Ue_2nk.js
  internal/web/dist/_app/immutable/nodes/1.BS7TXGps.js
  internal/web/dist/_app/immutable/nodes/1.CG0j2Cfx.js
  internal/web/dist/_app/immutable/nodes/3.qt5pYfKT.js
  internal/web/dist/_app/immutable/nodes/4.BfsJJeBf.js
  internal/web/dist/_app/immutable/nodes/5.VRemeAie.js
  internal/web/dist/_app/immutable/nodes/6.B1Mfnf4e.js
  internal/web/dist/_app/immutable/nodes/6.C6SqFrmw.js
  internal/web/dist/_app/immutable/nodes/7.CBtZ7Q1O.js
  internal/web/dist/_app/immutable/nodes/7.MtOn0c33.js
  internal/web/dist/_app/immutable/nodes/9.BfEw2IU3.js
  internal/web/dist/_app/immutable/nodes/9.DsASyBww.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  plugins/core-channels/plugin.yaml
Due: lint-go, lint-yaml

test(channels): add E2E tests for channel commands
  internal/web/dist/_app/immutable/chunks/Bw4DGpHK.js
  internal/web/dist/_app/immutable/chunks/C1Ms1LaH.js
  internal/web/dist/_app/immutable/entry/app.C_ACrrSN.js
  internal/web/dist/_app/immutable/entry/app.DLJa5xDQ.js
  internal/web/dist/_app/immutable/entry/start.DBSmq8ST.js
  internal/web/dist/_app/immutable/entry/start.DEzw5XaC.js
  internal/web/dist/_app/immutable/nodes/0.Bjz9G57a.js
  internal/web/dist/_app/immutable/nodes/0.D3Ue_2nk.js
  internal/web/dist/_app/immutable/nodes/1.CG0j2Cfx.js
  internal/web/dist/_app/immutable/nodes/1.Dfv2jumM.js
  internal/web/dist/_app/immutable/nodes/3.lBuSCmFp.js
  internal/web/dist/_app/immutable/nodes/4.DcKbmNlv.js
  internal/web/dist/_app/immutable/nodes/5.-MJoU-0v.js
  internal/web/dist/_app/immutable/nodes/6.C6SqFrmw.js
  internal/web/dist/_app/immutable/nodes/6.C6onlDac.js
  internal/web/dist/_app/immutable/nodes/7.9xc-fnmB.js
  internal/web/dist/_app/immutable/nodes/7.CBtZ7Q1O.js
  internal/web/dist/_app/immutable/nodes/9.BfEw2IU3.js
  internal/web/dist/_app/immutable/nodes/9.DfOyRbjd.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  plugins/core-channels/plugin.yaml
  web/e2e/channel.spec.ts
Due: lint-yaml

fix(channels): use CharacterID for membership, fix dispatcher PlayerID, fix E2E tests
  internal/command/dispatcher.go
  internal/web/dist/_app/immutable/chunks/Bw4DGpHK.js
  internal/web/dist/_app/immutable/chunks/Do0Kr_ls.js
  internal/web/dist/_app/immutable/entry/app.B_bD3_e8.js
  internal/web/dist/_app/immutable/entry/app.C_ACrrSN.js
  internal/web/dist/_app/immutable/entry/start.D1kMw9dA.js
  internal/web/dist/_app/immutable/entry/start.DEzw5XaC.js
  internal/web/dist/_app/immutable/nodes/0.Bjz9G57a.js
  internal/web/dist/_app/immutable/nodes/0.DbusAyiu.js
  internal/web/dist/_app/immutable/nodes/1.D67diAyw.js
  internal/web/dist/_app/immutable/nodes/1.Dfv2jumM.js
  internal/web/dist/_app/immutable/nodes/3.BHySJ5pF.js
  internal/web/dist/_app/immutable/nodes/4.C6AmLhin.js
  internal/web/dist/_app/immutable/nodes/5.Cz_CeJDT.js
  internal/web/dist/_app/immutable/nodes/6.Bb2xiteN.js
  internal/web/dist/_app/immutable/nodes/6.C6onlDac.js
  internal/web/dist/_app/immutable/nodes/7.9xc-fnmB.js
  internal/web/dist/_app/immutable/nodes/7.soYpZ1-Y.js
  internal/web/dist/_app/immutable/nodes/9.DfOyRbjd.js
  internal/web/dist/_app/immutable/nodes/9.X6KdJF5L.js
  internal/web/dist/_app/version.json
  internal/web/dist/index.html
  plugins/core-channels/handlers.go
  web/e2e/channel.spec.ts
Due: lint-go

feat(session): wire PlayerID into session.Info and CommandExecution
  internal/grpc/auth_handlers.go
  internal/grpc/server.go
  internal/session/session.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000003_session_player_id.down.sql
  internal/store/migrations/000003_session_player_id.up.sql
  internal/store/session_store.go
  internal/store/session_store_test.go
Due: lint-go

fix(channels): use PlayerID for membership now that session wiring is correct
  plugins/core-channels/handlers.go
  web/e2e/channel.spec.ts
Due: lint-go

docs(plan): plugin manifest alias declarations implementation plan
  docs/superpowers/plans/2026-04-06-plugin-manifest-alias-declarations.md
  docs/superpowers/specs/2026-04-06-plugin-manifest-alias-declarations-design.md
Due: none

feat(plugin): add Aliases field to CommandSpec with validation
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go, schema-sync

feat(plugin): add CollectManifestAliases and SeedManifestAliases
  internal/plugin/alias_seeder.go
  internal/plugin/alias_seeder_test.go
Due: lint-go, schema-sync

feat(plugin): wire alias seeding into Manager.LoadAll
  internal/plugin/manager.go
  internal/plugin/manager_test.go
Due: lint-go, schema-sync

feat(plugin): declare aliases in core-communication and core-objects manifests
  plugins/core-communication/plugin.yaml
  plugins/core-objects/plugin.yaml
Due: lint-yaml

refactor(bootstrap): remove hardcoded alias seeding, wire via plugin subsystem
  cmd/holomush/sub_grpc.go
  internal/bootstrap/admin.go
  internal/bootstrap/alias_bootstrap.go
  internal/bootstrap/alias_bootstrap_test.go
  internal/bootstrap/aliases.go
  internal/bootstrap/aliases_test.go
  internal/bootstrap/setup/subsystem.go
  internal/bootstrap/setup/subsystem_test.go
  internal/plugin/setup/subsystem.go
  internal/plugin/setup/subsystem_test.go
Due: lint-go, schema-sync

test(plugin): add E2E integration tests for manifest alias seeding
  internal/plugin/alias_seeder.go
  internal/plugin/alias_seeder_integration_test.go
  internal/plugin/alias_seeder_test.go
Due: lint-go, schema-sync

fix(plugin): use index-based range to avoid rangeValCopy lint
  internal/plugin/alias_seeder.go
Due: lint-go, schema-sync

chore: fix pre-existing rangeValCopy lint warnings, format plan doc
  docs/superpowers/plans/2026-04-06-plugin-manifest-alias-declarations.md
  internal/command/handlers/plugin_admin.go
  internal/plugin/goplugin/host.go
  internal/plugin/manager.go
  schemas/plugin.schema.json
Due: lint-go, schema-sync

feat(store): add source column to system_aliases for alias provenance
  internal/command/mocks/mock_AliasWriter.go
  internal/command/types.go
  internal/plugin/alias_seeder.go
  internal/plugin/alias_seeder_integration_test.go
  internal/plugin/alias_seeder_test.go
  internal/plugin/aliases_integration_test.go
  internal/plugin/hostfunc/cap_alias.go
  internal/plugin/hostfunc/cap_alias_test.go
  internal/plugin/manager_test.go
  internal/store/alias.go
  internal/store/alias_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000003_alias_source.down.sql
  internal/store/migrations/000003_alias_source.up.sql
Due: lint-go, schema-sync

refactor(plugin): address review findings from PR #194 review
  .gitignore
  docs/superpowers/specs/2026-04-06-plugin-manifest-alias-declarations-design.md
  internal/command/mocks/mock_AliasWriter.go
  internal/command/types.go
  internal/plugin/alias_seeder.go
  internal/plugin/alias_seeder_test.go
  internal/plugin/hostfunc/cap_alias.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  internal/store/alias.go
  test/integration/plugin/alias_seeder_test.go
Due: lint-go, schema-sync

feat(plugin): manifest alias declarations with loader seeding (#194)
  .gitignore
  cmd/holomush/sub_grpc.go
  docs/superpowers/plans/2026-04-06-plugin-manifest-alias-declarations.md
  docs/superpowers/specs/2026-04-06-plugin-manifest-alias-declarations-design.md
  internal/bootstrap/admin.go
  internal/bootstrap/alias_bootstrap.go
  internal/bootstrap/alias_bootstrap_test.go
  internal/bootstrap/aliases.go
  internal/bootstrap/aliases_test.go
  internal/bootstrap/setup/subsystem.go
  internal/bootstrap/setup/subsystem_test.go
  internal/command/handlers/plugin_admin.go
  internal/command/mocks/mock_AliasWriter.go
  internal/command/types.go
  internal/plugin/alias_seeder.go
  internal/plugin/alias_seeder_test.go
  internal/plugin/aliases_integration_test.go
  internal/plugin/goplugin/host.go
  internal/plugin/hostfunc/cap_alias.go
  internal/plugin/hostfunc/cap_alias_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  internal/plugin/setup/subsystem.go
  internal/plugin/setup/subsystem_test.go
  internal/store/alias.go
  internal/store/alias_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000003_alias_source.down.sql
  internal/store/migrations/000003_alias_source.up.sql
  plugins/core-communication/plugin.yaml
  plugins/core-objects/plugin.yaml
  schemas/plugin.schema.json
  test/integration/plugin/alias_seeder_test.go
Due: lint-go, lint-yaml, schema-sync

test(session): rebuild persistence integration tests via SelectCharacter
  test/integration/session/session_persistence_integration_test.go
  test/integration/session/session_persistence_suite_test.go
Due: lint-go

test(session): rebuild persistence integration tests via SelectCharacter (#197)
  test/integration/session/session_persistence_integration_test.go
  test/integration/session/session_persistence_suite_test.go
Due: lint-go

test(abac): edge case tests for ResolveSubjectAttributes
  internal/access/policy/attribute/resolver_test.go
Due: lint-go

feat(abac): extract ValidateManifestPolicySchemas validator
  internal/plugin/policy_schema_validator.go
  internal/plugin/policy_schema_validator_test.go
Due: lint-go, schema-sync

docs(abac): append Hardening section to trust boundary spec
  docs/superpowers/specs/2026-04-06-plugin-abac-trust-boundary-design.md
Due: none

docs(abac): update internal comments to reflect hardening contract
  pkg/plugin/service.go
  plugins/test-abac-widget/main.go
Due: lint-go

refactor(abac): engine CanPerformAction uses ResolveSubjectAttributes
  internal/access/policy/engine.go
  internal/access/policy/engine_test.go
Due: lint-go

feat(abac): resolver.UnregisterProvider + manager rollback integration
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
Due: lint-go, schema-sync

test(abac): E2E tests for load-time schema validation
  test/integration/plugin/abac_widget_test.go
Due: lint-go

feat(abac): wire ValidateManifestPolicySchemas into plugin load path
  internal/plugin/manager.go
  internal/plugin/manifest_warnings.go
  internal/plugin/manifest_warnings_test.go
Due: lint-go, schema-sync

docs(abac): plugin ABAC hardening implementation plan
  docs/superpowers/plans/2026-04-07-plugin-abac-hardening.md
Due: none

docs(abac): plugin author guide for AttributeResolverService
  site/docs/extending/abac-attribute-resolver.md
  site/docs/extending/index.md
  site/zensical.toml
Due: lint-markdown-site, fmt-markdown-site

test(abac): counting proxy for AttributeResolverServiceClient
  test/integration/plugin/counting_proxy_test.go
Due: lint-go

chore(docs): trailing-whitespace fixes from task fmt drift
  docs/specs/2026-03-28-site-redesign.md
  docs/specs/abac/08-testing-appendices.md
  docs/superpowers/plans/2026-04-04-test-suite-review.md
  docs/superpowers/specs/2026-04-06-grpcbroker-service-injection-design.md
Due: none

test(abac): optimistic permit branch test for hardened CanPerformAction
  internal/access/policy/engine_test.go
Due: lint-go

docs(abac): plugin ABAC hardening design spec
  docs/superpowers/specs/2026-04-07-plugin-abac-hardening-design.md
Due: none

feat(abac): add Resolver.ResolveSubjectAttributes method
  internal/access/policy/attribute/resolver.go
  internal/access/policy/attribute/resolver_test.go
Due: lint-go

test(abac): static invariant — engine.go does not contain __preflight__
  internal/access/policy/hardening_invariants_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown-site: any of: site/**/*.md
  fmt-markdown-site: any of: site/**/*.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
