Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown-site, fmt-markdown-site, lint-yaml, lint-actions, schema-sync

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Prerequisites:
# - rumdl: Install via `cargo install rumdl` or download from GitHub Releases
#   (Homebrew formula availability should be verified - run `brew search rumdl`)
#
# set because we chain through beads (bd) in spots
no_auto_install: true

pre-commit:
  parallel: true
  exclude:
    - ".worktrees/**"
  commands:
    license-headers:
      glob: "*.{go,lua,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail

        # Verify LICENSE_HEADER exists
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER file not found in repository root"
          echo "Please ensure LICENSE_HEADER exists before committing"
          exit 1
        fi

        # Install addlicense if needed
        if ! command -v addlicense >/dev/null 2>&1; then
          echo "Installing addlicense..."
          if ! go install github.com/google/addlicense@latest; then
            echo "ERROR: Failed to install addlicense"
            echo "Please run: go install github.com/google/addlicense@latest"
            exit 1
          fi
        fi

        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true

    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true

    lint-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl check {staged_files}

    lint-markdown-site:
      glob: "site/**/*.md"
      run: rumdl check --config site/.rumdl.toml {staged_files}

    fmt-markdown:
      glob: "*.md"
      exclude: "site/**"
      # Double invocation pattern: root uses .rumdl.toml, site/ uses site/.rumdl.toml
      # (different config files for different markdown dialects/rules)
      run: rumdl fmt --check {staged_files}

    fmt-markdown-site:
      glob: "site/**/*.md"
      run: rumdl fmt --check --config site/.rumdl.toml {staged_files}

    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}

    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}

    format-check:
      run: dprint check

    schema-sync:
      glob: "internal/plugin/*.go"
      run: |
        set -euo pipefail
        task generate:schema
        if ! git diff --exit-code schemas/plugin.schema.json; then
          echo "Schema out of sync. Run 'task generate:schema' and commit."
          exit 1
        fi
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

revert(invariants): restore yamlfmt's output for the INV-STORE-11 ref
  docs/architecture/invariants.yaml
Due: lint-yaml

test(01.1): record UAT results — 2 pass, 1 blocked on release-build
  .planning/WINDOWS.md
  .planning/phases/01.1-migration-framework-adopt-goose-for-go-migrations/01.1-UAT.md
Due: none

test(store): give the Migrator mock a call log so four duplicate tests differ
  internal/store/migrate_test.go
Due: lint-go

fix(store): name golang-migrate's NilVersion in the dirty refusal, not the clamp
  internal/store/migrate_adopt.go
  internal/store/migrate_adopt_integration_test.go
  internal/store/migrate_adopt_preview.go
  internal/store/migrate_adopt_test.go
Due: lint-go

fix(01): correct sketch 003 cascade order and stale baseline citations
  .claude/skills/sketch-findings-holomush/sources/003-planned-section-empty/index.html
  .planning/phases/01-portal-spec/01-CONTEXT.md
Due: none

docs(planning): repoint migration citations at the goose single-file corpus
  .planning/PROJECT.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
Due: none

docs(planning): repoint the Sources migration paths too
  .planning/research/STACK.md
Due: none

docs(planning): repoint migration citations at the goose single-file corpus (#4927)
  .planning/PROJECT.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
Due: none

fix(deploy): wire the required KEK into compose.prod.yaml
  compose.prod.yaml
  scripts/sandbox.env.example
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
  site/src/content/docs/operating/how-to/sandbox/sandbox-restore.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

docs(sandbox): use the droplet IP for every ssh, and flag the KEK backup gap
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
  site/src/content/docs/operating/how-to/sandbox/sandbox-restore.md
Due: lint-markdown-site, fmt-markdown-site

docs(sandbox): mark fresh bootstrap unsupported until the KEK secret lands
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
Due: lint-markdown-site, fmt-markdown-site

docs(sandbox): state all three deploy prerequisites, two of which fail quietly
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
Due: lint-markdown-site, fmt-markdown-site

docs(sandbox): assert the deploy JOB conclusion, and check draft + GHCR image
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
Due: lint-markdown-site, fmt-markdown-site

docs(sandbox): make the deploy prerequisite checks actually able to fail
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
Due: lint-markdown-site, fmt-markdown-site

fix: apply CodeRabbit auto-fixes
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
  site/src/content/docs/operating/how-to/sandbox/sandbox-restore.md
Due: lint-markdown-site, fmt-markdown-site

chore(gsd): enable plan-review convergence for phase planning
  .planning/config.json
Due: none

fix(deploy): wire the required KEK into compose.prod.yaml (#4929)
  .planning/config.json
  compose.prod.yaml
  scripts/sandbox.env.example
  site/src/content/docs/operating/how-to/sandbox/sandbox-operations.md
  site/src/content/docs/operating/how-to/sandbox/sandbox-restore.md
Due: lint-markdown-site, fmt-markdown-site, lint-yaml

docs(phase-2): add research and validation strategy
  .planning/phases/02-abac-schema-vocabulary/02-RESEARCH.md
  .planning/phases/02-abac-schema-vocabulary/02-VALIDATION.md
Due: none

docs(02): create phase plan for ABAC & schema vocabulary
  .planning/ROADMAP.md
  .planning/phases/02-abac-schema-vocabulary/02-01-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-02-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-03-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-04-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-05-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-06-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-07-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-08-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-09-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-10-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-11-PLAN.md
Due: none

docs(phase-2): add pattern map
  .planning/phases/02-abac-schema-vocabulary/02-PATTERNS.md
Due: none

docs(02): revise phase 2 plans for writer-boundary and CAS-witness findings
  .planning/ROADMAP.md
  .planning/phases/02-abac-schema-vocabulary/02-03-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-06-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-07-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-11-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-12-PLAN.md
Due: none

docs: cross-AI review for phase 2
  .planning/phases/02-abac-schema-vocabulary/02-REVIEWS.md
Due: none

docs(02): replan phase 2 incorporating cross-AI review findings
  .planning/ROADMAP.md
  .planning/phases/02-abac-schema-vocabulary/02-01-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-02-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-03-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-04-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-05-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-06-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-07-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-08-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-09-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-10-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-11-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-12-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-13-PLAN.md
Due: none

docs: cross-AI review for phase 2 (cycle 2)
  .planning/phases/02-abac-schema-vocabulary/02-REVIEWS.md
Due: none

docs(02): targeted fix pass for ship-breaking and unexecutable plan findings
  .planning/phases/02-abac-schema-vocabulary/02-01-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-03-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-04-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-05-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-06-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-07-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-08-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-09-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-10-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-11-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-12-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-13-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-CONTEXT.md
Due: none

docs: cross-AI review for phase 2 (cycle 3)
  .planning/phases/02-abac-schema-vocabulary/02-REVIEWS.md
Due: none

docs(02): record cycle-3 substrate resolutions D-28/D-29/D-30
  .planning/phases/02-abac-schema-vocabulary/02-CONTEXT.md
Due: none

docs(02): replan phase 2 incorporating cross-AI review cycle 3
  .planning/phases/02-abac-schema-vocabulary/02-01-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-02-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-03-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-04-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-05-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-06-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-07-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-08-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-09-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-10-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-11-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-12-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-13-PLAN.md
Due: none

docs(roadmap): split Phase 2 criterion 4, defer description half to Phase 4
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(02): counted-form acceptance criteria and release-atomicity precondition
  .planning/phases/02-abac-schema-vocabulary/02-02-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-05-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-06-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-07-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-09-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-10-PLAN.md
  .planning/phases/02-abac-schema-vocabulary/02-12-PLAN.md
Due: none

chore(planning): mark phase 2 planned after cycle-3 replan
  .planning/STATE.md
Due: none

docs(phase-02): mark phase 02 execution start
  .planning/STATE.md
Due: none

feat(02-01): character-name admission gate, confusables table, migration 000054
  cmd/internal/gen-confusables/main.go
  cmd/internal/gen-confusables/main_test.go
  go.mod
  internal/charname/confusables_table_gen.go
  internal/charname/doc.go
  internal/charname/gate.go
  internal/charname/gate_test.go
  internal/charname/pipeline.go
  internal/charname/pipeline_test.go
  internal/charname/skeleton.go
  internal/charname/skeleton_test.go
  internal/charname/syntax/syntax.go
  internal/charname/syntax/syntax_test.go
  internal/store/migrate_embed_test.go
  internal/store/migrate_integration_test.go
  internal/store/migrate_test.go
  internal/store/migrations/000054_character_identity_and_lifecycle.sql
  internal/world/validation.go
  test/integration/charname/charname_suite_test.go
  test/integration/charname/name_confusable_test.go
Due: lint-go

chore(02-01): make the confusables table reproducible and drift-detectable
  Taskfile.yaml
  internal/charname/version_test.go
Due: lint-go, lint-yaml

docs(02-01): complete character-name admission tracer plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-abac-schema-vocabulary/02-01-SUMMARY.md
Due: none

fix(02-02): gofmt the generated confusables table inside the generator
  cmd/internal/gen-confusables/main.go
  internal/charname/confusables_table_gen.go
Due: lint-go

feat(02-02): add the §6.1.2 mixed-script restriction to the character-name gate
  internal/charname/gate.go
  internal/charname/gate_test.go
  internal/charname/mixedscript.go
  internal/charname/mixedscript_test.go
  test/integration/charname/name_confusable_test.go
Due: lint-go

feat(02-02): tell an invisible-only name apart from a blank box, and pin the validator
  internal/charname/gate_test.go
  internal/charname/pipeline.go
  internal/charname/pipeline_test.go
  internal/world/validation_test.go
Due: lint-go

test(02-02): pin the player-username rule and guard the two-policy separation
  internal/auth/player_test.go
Due: lint-go
