Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "task generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

fix(store): resolve flaky Subscribe_WaitError test race condition
  internal/store/postgres_test.go
Due: lint-go

fix(store): resolve flaky Subscribe_WaitError test race condition (#44)
  internal/store/postgres_test.go
Due: lint-go

bd daemon sync: 2026-01-25 19:24:20
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:24:25
  .beads/issues.jsonl
Due: none

docs(specs): add Epic 5 Auth & Identity architecture design
  docs/specs/2026-01-25-auth-identity-design.md
Due: lint-markdown

docs(specs): add Epic 5 Auth & Identity architecture design (#47)
  docs/specs/2026-01-25-auth-identity-design.md
Due: lint-markdown

bd daemon sync: 2026-01-25 19:35:39
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:36:32
  .beads/issues.jsonl
Due: none

docs(plans): add Epic 5 Auth & Identity implementation plan
  docs/plans/2026-01-25-epic-5-auth-identity-plan.md
Due: lint-markdown

fix(plans): address PR review feedback on Epic 5 implementation plan
  docs/plans/2026-01-25-epic-5-auth-identity-plan.md
Due: lint-markdown

docs(plans): add Epic 5 Auth & Identity implementation plan (#48)
  docs/plans/2026-01-25-epic-5-auth-identity-plan.md
Due: lint-markdown

bd daemon sync: 2026-01-25 19:54:41
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:56:00
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:56:14
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:56:25
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:56:43
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:56:51
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:58:38
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:58:58
  .beads/issues.jsonl
Due: none

feat(store): add Epic 5 auth migrations (000009-000011)
  internal/store/migrations/000009_auth_player_fields.down.sql
  internal/store/migrations/000009_auth_player_fields.up.sql
  internal/store/migrations/000010_web_sessions.down.sql
  internal/store/migrations/000010_web_sessions.up.sql
  internal/store/migrations/000011_password_resets.down.sql
  internal/store/migrations/000011_password_resets.up.sql
Due: none

feat(world): add character name validation with Initial Caps normalization
  internal/world/character.go
  internal/world/character_test.go
  internal/world/validation.go
Due: lint-go

fix(store): address PR review comments for Epic 5 migrations
  internal/store/migrations/000009_auth_player_fields.up.sql
  internal/store/migrations/000010_web_sessions.up.sql
  internal/store/migrations/000011_password_resets.up.sql
Due: none

fix(world): address PR review - Unicode length and UTF-8 validation
  internal/world/character.go
  internal/world/character_test.go
  internal/world/validation.go
Due: lint-go

fix(store): update migration test expectations for Epic 5 migrations
  internal/store/migrate_test.go
Due: lint-go

feat(world): add character name validation with Initial Caps normalization (#50)
  internal/world/character.go
  internal/world/character_test.go
  internal/world/validation.go
Due: lint-go

bd daemon sync: 2026-01-25 20:21:57
  .beads/issues.jsonl
Due: none

feat(store): add Epic 5 auth migrations (000009-000011) (#49)
  internal/store/migrate_test.go
  internal/store/migrations/000009_auth_player_fields.down.sql
  internal/store/migrations/000009_auth_player_fields.up.sql
  internal/store/migrations/000010_web_sessions.down.sql
  internal/store/migrations/000010_web_sessions.up.sql
  internal/store/migrations/000011_password_resets.down.sql
  internal/store/migrations/000011_password_resets.up.sql
Due: lint-go

bd daemon sync: 2026-01-25 20:23:31
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 20:24:56
  .beads/issues.jsonl
Due: none

feat(auth): implement argon2id hasher and rate limiter
  internal/auth/hasher.go
  internal/auth/hasher_test.go
  internal/auth/ratelimit.go
  internal/auth/ratelimit_test.go
Due: lint-go

test(auth): add edge case coverage for hasher and rate limiter
  internal/auth/hasher_test.go
  internal/auth/ratelimit_test.go
Due: lint-go

feat(auth): implement argon2id hasher and rate limiter (#51)
  internal/auth/hasher.go
  internal/auth/hasher_test.go
  internal/auth/ratelimit.go
  internal/auth/ratelimit_test.go
Due: lint-go

bd daemon sync: 2026-01-25 21:46:08
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:47:52
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:55:01
  .beads/issues.jsonl
Due: none

ci: add repo-token to arduino/setup-task to avoid rate limits
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

ci: add repo-token to arduino/setup-task to avoid rate limits (#54)
  .github/workflows/ci.yaml
Due: lint-yaml, lint-actions

feat(auth): implement Player domain type with preferences
  internal/auth/player.go
  internal/auth/player_test.go
Due: lint-go

fix(auth): address PR review feedback
  internal/auth/player_test.go
Due: lint-go

feat(auth): implement Player domain type (#52)
  internal/auth/player.go
  internal/auth/player_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
