Repository HoloMUSH/holomush: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions, schema-sync

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: markdownlint-cli2 {staged_files}

lint-yaml:
  run: yamllint {staged_files}

lint-actions:
  run: actionlint {staged_files}

schema-sync:
  run: "task generate:schema\nif ! git diff --exit-code schemas/plugin.schema.json; then\n  echo \"Schema out of sync. Run 'task generate:schema' and commit.\"\n  exit 1\nfi\n"
  stage_fixed: true

bd daemon sync: 2026-01-24 11:45:21
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:49:34
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:50:02
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:50:03
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:50:33
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:51:11
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:52:02
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:52:38
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:53:00
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:53:01
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:53:02
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:54:46
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:55:38
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:55:51
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:56:05
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:56:26
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-24 11:57:33
  .beads/issues.jsonl
Due: none

feat(docs): initialize Zensical project structure
  .gitignore
  docs/plans/2026-01-23-zensical-docs-design.md
  docs/plans/2026-01-23-zensical-docs-implementation.md
  site/.python-version
  site/assets/.gitkeep
  site/docs/.gitkeep
  site/pyproject.toml
  site/zensical.toml
Due: lint-markdown

feat(docs): add Taskfile integration for docs commands
  Taskfile.yaml
Due: lint-yaml

feat(docs): add GitHub Actions workflow for Cloudflare Pages
  .github/workflows/docs.yml
  site/assets/.gitkeep
  site/assets/favicon.png.placeholder
  site/assets/logo.png.placeholder
Due: lint-yaml, lint-actions

feat(docs): add landing page and section indexes
  site/docs/.gitkeep
  site/docs/contributors/index.md
  site/docs/developers/index.md
  site/docs/index.md
  site/docs/operators/index.md
Due: lint-markdown

docs(developers): migrate getting started guide
  site/.markdownlint.yaml
  site/docs/developers/getting-started.md
Due: lint-markdown, lint-yaml

docs(operators): add installation, configuration, and operations guides
  site/docs/contributors/architecture.md
  site/docs/contributors/coding-standards.md
  site/docs/contributors/pr-guide.md
  site/docs/developers/index.md
  site/docs/developers/plugin-guide.md
  site/docs/operators/configuration.md
  site/docs/operators/installation.md
  site/docs/operators/operations.md
Due: lint-markdown

docs: update PostgreSQL 18+ and add cross-links
  site/docs/developers/index.md
  site/docs/operators/index.md
  site/docs/operators/installation.md
  site/uv.lock
Due: lint-markdown

docs: replace ASCII diagrams with Mermaid
  site/docs/contributors/architecture.md
  site/docs/contributors/index.md
Due: lint-markdown

docs: add logo and favicon assets
  site/docs/assets/favicon.png
  site/docs/assets/logo.png
Due: none

docs: remove duplicate assets placeholder folder
  site/assets/favicon.png.placeholder
  site/assets/logo.png.placeholder
Due: none

docs: remove background from logo and favicon
  site/docs/assets/favicon.png
  site/docs/assets/logo.png
Due: none

feat(docs): Add Zensical documentation site (#37)
  .github/workflows/docs.yml
  .gitignore
  Taskfile.yaml
  docs/plans/2026-01-23-zensical-docs-design.md
  docs/plans/2026-01-23-zensical-docs-implementation.md
  site/.markdownlint.yaml
  site/.python-version
  site/docs/assets/favicon.png
  site/docs/assets/logo.png
  site/docs/contributors/architecture.md
  site/docs/contributors/coding-standards.md
  site/docs/contributors/index.md
  site/docs/contributors/pr-guide.md
  site/docs/developers/getting-started.md
  site/docs/developers/index.md
  site/docs/developers/plugin-guide.md
  site/docs/index.md
  site/docs/operators/configuration.md
  site/docs/operators/index.md
  site/docs/operators/installation.md
  site/docs/operators/operations.md
  site/pyproject.toml
  site/uv.lock
  site/zensical.toml
Due: lint-markdown, lint-yaml, lint-actions

docs(plans): add Epic 4 world model implementation plan
  docs/plans/2026-01-22-epic-4-world-model-implementation.md
Due: lint-markdown

docs(specs): add world model architecture design
  docs/specs/2026-01-22-world-model-design.md
Due: lint-markdown

feat(world): add repository interfaces
  internal/world/repository.go
Due: lint-go

feat(world): add database schema for world model
  internal/store/migrations/003_world_model.sql
  internal/store/postgres.go
  internal/store/postgres_test.go
Due: lint-go

feat(world): add domain types for Location, Exit, and Object
  internal/world/exit.go
  internal/world/exit_test.go
  internal/world/location.go
  internal/world/location_test.go
  internal/world/object.go
  internal/world/object_test.go
Due: lint-go

feat(world): add event types and payloads for world model
  internal/core/event.go
  internal/core/event_test.go
  internal/world/payloads.go
  internal/world/payloads_test.go
Due: lint-go

feat(world): add testcontainers for postgres integration tests
  internal/store/migrations/001_initial.sql
  internal/world/postgres/exit_repo_test.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/location_repo_test.go
  internal/world/postgres/object_repo_test.go
  internal/world/postgres/postgres_test.go
  internal/world/postgres/scene_repo_test.go
Due: lint-go

feat(world): add PostgreSQL repository implementations
  internal/world/postgres/errors.go
  internal/world/postgres/exit_repo.go
  internal/world/postgres/exit_repo_test.go
  internal/world/postgres/location_repo.go
  internal/world/postgres/location_repo_test.go
  internal/world/postgres/object_repo.go
  internal/world/postgres/object_repo_test.go
  internal/world/postgres/postgres_test.go
  internal/world/postgres/scene_repo.go
  internal/world/postgres/scene_repo_test.go
Due: lint-go

feat(world): add test mocks for repository interfaces
  .mockery.yaml
  internal/world/worldtest/mock_ExitRepository.go
  internal/world/worldtest/mock_LocationRepository.go
  internal/world/worldtest/mock_ObjectRepository.go
  internal/world/worldtest/mock_SceneRepository.go
Due: lint-go, lint-yaml

docs(world): update documentation for completed world model
  docs/reference/architecture-overview.md
  docs/specs/2026-01-22-world-model-design.md
Due: lint-markdown

feat(store): add PostgreSQL LISTEN/NOTIFY for real-time event streaming
  internal/store/postgres.go
  internal/store/postgres_integration_test.go
  internal/world/payloads.go
  internal/world/postgres/exit_repo_test.go
  internal/world/postgres/location_repo_test.go
  internal/world/postgres/scene_repo_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
  schema-sync: any of: internal/plugin/*.go
